﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            font-family: sans-serif;
        }

        a, a:hover {
            text-decoration: none;
            /*//color: white !important;*/
        }

        .mainpanel {
            width: 80%;
            box-shadow: 2px 2px 6px 2px #a59898d9;
            background-color: #f7e4e487 !important;
        }

        .middlepanel {
            width: 85%;
            background-color: white;
            padding-bottom: 1em;
        }

        .downloadpanel {
            background-color: black;
            color: white !important;
            padding: 10px 40px;
        }

        @media all and (max-width:600px) {
            .mainpanel {
                width: 100%;
                background-color: bisque !important;
            }

            .middlepanel {
                width: 95%;
            }

            .downloadpanel {
                background-color: black;
                color: white !important;
                padding: 10px 20px;
            }
        }
    </style>
</head>
<body>
    <div style="height:2em;"></div>
    <table align="center" class="mainpanel">
        <tr>
            <td style="width:100%;">
                <img src="http://odmps.org/admin_assets/images/final%20odm%20group%20logo.jpg" style="height: 90px;    width: 170px;padding-left: 31px;padding-top: 16px;" />
                <!--<span style="font-size: 1.4em;padding-left: 4px; position: relative; top: -9px;">Salary Slip</td>-->
        </tr>
        <tr>
            <td style="height:1em;"></td>
        </tr>
        <tr>
            <td>
                <table align="center" class="middlepanel" cellpadding="0" cellspacing="0">
                    <tr style=" background-color: #de0505;   ">
                        <td style="text-align: center;padding-left: 15px;"><img src="http://learn.odmps.org/Content/marksheet.png" /></td>
                    </tr>
                    <tr>
                        <td style="    padding-top: 11px;" colspan="2">
                            <label style="font-size: 1rem;font-weight: 600;padding-left:20px;">Dear {{Student_Name}},</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:5px;" colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="text-align:justify;padding-left:20px;padding-right:20px;" colspan="2">
                            <label style="font-size: 0.9rem;">

                                Please find the Online Test Result of your exam {{Class}}. Click on the link and save the Online Test Result.
                            </label>
                            <div style="padding-top: 20px;text-align: center;">
                                <a class="downloadpanel" href="{{href}}" target="_blank" rel="noopener noreferrer" style="background-color: black;color: white !important;padding: 10px 40px;">Download Result</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;" colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:20px;" colspan="2">
                            <div><label style="font-size: 0.9rem;"><strong>Team Examination</strong></label></div>
                            <!--<div><label style="font-size: 0.8rem;"><strong>Do spend your money wisely !</strong></label></div>-->

                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:20px;    padding-top: 24px;" colspan="2">
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Address: </strong>Sishu Vihar,Infocity Road,Patia ,BBSR-24</label></div>
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Phone: </strong>18001202316</label></div>
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Email: </strong><a href="mailto:tracq@odmegroup.org">tracq@odmegroup.org</a></label></div>
                        </td>
                    </tr>

                </table>


            </td>
        </tr>
        <tr>
            <td style="height:1em;"></td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <a href="https://www.facebook.com/OdmEducationalGroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/facebook.png" /></a>&nbsp;&nbsp;
                <a href="https://www.instagram.com/odmps/" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/instagram-logo.png" /></a>&nbsp;&nbsp;
                <a href="https://twitter.com/odmedgroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/twitter.png" /></a>&nbsp;&nbsp;
                <a href="https://www.youtube.com/user/odmps" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/youtube.png" /></a>
            </td>
        </tr>
        <tr>
            <td style="height:2em;"></td>
        </tr>
    </table>


</body>
</html>
