﻿@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<style>
    #careerlist ul {
        width: 100%;
        /*padding: 15px;*/
        padding: 0px 0px 0px 0px;
        list-style: none;
        display: block;
    }

        #careerlist ul li {
            padding: 10px;
            color: #0000008c;
        }

    .careerheader {
        cursor: pointer;
        border-left: 3px solid transparent;
        border-color: #1d9fd2;
        padding: 12px 5px 12px 24px;
        background-color: #c5d5db;
        font-weight: 600;
    }

        .careerheader img {
            height: 70px;
            width: 90px;
        }

    .careerdetails {
        padding: 10px;
        border-left: 3px solid transparent;
        display: none;
        box-shadow: #e5e2e2 0px 3px;
    }

        .careerdetails ul {
            list-style: circle !important;
            padding: 0px !important;
            padding-left: 20px !important;
        }

    .single-widget h5 {
        font-size: 2.15rem !important;
    }
    #banner:before {
        background: #111111;
    }
    #banner:after {
        background: linear-gradient(135deg, #b1eef1 0%, #111111 74%);
    }
</style>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        //GetCareerList();
        //function GetCareerList() {
        //    $.get('/Home/GetCareerList', function (data) {
        //        debugger;
        //        if (data.length > 0) {
        //            $('#recruitment').empty();
        //            for (var i = 0; i < data.length; i++) {
        //                var tr = '<ul><li>';
        //                tr += '<div class="careerheader">';
        //                tr += '<span>' + data[i].career_Name + ' (Having ' + data[i].Experience + ' of experience)</span></div>';
        //                tr += '<div class="careerdetails">';
        //                tr += '<p>Urgent requirement of ' + data[i].career_Name + '.<br>';
        //                tr += '<b>Roles &amp; Responsibilities :</b><br><ul>';
        //                tr += '<li>' + data[i].Experience + ' experience in ' + data[i].career_Name + '</li>';
        //                tr += '<li>' + data[i].Job_Description + '</li>';
        //                tr+='</ul><br />';
        //                tr += '<b>Location :</b>' + data[i].Location + '<br>';
        //                tr += '<b>Interview scheduled Date :</b>' + data[i].openingdate + ' - ' + data[i].enddate + ' <br>';
        //                tr += '<b>Walk-In Time :</b>' + data[i].Walk_in_Time + '<br>';
        //                tr += '<b>No of Vacancy :</b>' + data[i].No_of_vacancy + '<br>';
        //                tr += '<b>Contact :</b>' + data[i].Phone + '<br>';
        //                tr += '<b>Education :</b>' + data[i].Qualification + '<br>';
        //                tr += '' + data[i].Experience + ' years of experience as a ' + data[i].career_Name + '. The candidate will be responsible for managing the interchange of data between the server and the users, integrating the front-end elements built by your co-workers into the application. Primary focus will be the development of all server-side logic, ensuring high performance and responsiveness to requests from the front-end.';
        //                tr +='<br /><br />Drop your upadated resume at hr@learn.odmps.org';
        //                tr +='</p></div></li></ul>';
        //                $('#recruitment').append(tr);
        //            }
        //        }
        //    })
        //}
        $('.careerheader').click(function () {
            debugger;
            $(this).next('div').slideToggle();
            $(this).parent().siblings().children().next().slideUp();
            return false;
        });

    })

</script>

<div class="bodycontent">
    <section id="banner">
        <div class="inner">
            <div>
                <h1><b style="color:#1d9fd2;">Career</b></h1>
            </div>
            <p style="color:white;">
                Passion, Hard work and Loyalty is what we are looking for
            </p>
        </div>
        <img src="~/ContentWebsite/img/about-us-banner.jpg" width="100%" />
    </section>
    <section class="wrapper">

        <header class="special" style="margin-bottom: 4rem;
    border-bottom: 4px double;
    border-color: #e7dddd;">
            <h2><span><b>Why Choose</b> DIGICHAMPS??</span></h2>
        </header>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <img src="../../svg files/carrier.svg" style="width:100%;" />
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12" style="    text-align: justify;">
                <p>
                    Often for you to grow, you need to explore the true being in you. DIGICHAMPS gives you exactly that opportunity to discover who are and what your true calling is. The competitive environment and high-demanding situations either will take a toll on you or will make you a better professional.
                </p>

                <p>Every day is a learning at DIGICHAMPS. Opportunities present themselves everyday and it depends on you to grab them. The environment here believes in growing with your growth and provides you ample opportunity to grow along with the Freedom to work. We believe you can be your best with the right environment and that is what we assure to provide you. </p>

            </div>
        </div>

    </section>
    <section class="wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-5 col-sm-12 col-xs-12" style="    text-align: justify;">
                <header class="special" style="margin-bottom: 4rem;
    border-bottom: 4px double;
    border-color: #e7dddd;">
                    <h2><span><b>Life at </b><span style="text-transform:uppercase;"> digichamps</span></span></h2>
                </header>
                <p>
                    Life at DIGICHAMPS is very unpredictable. Sometimes it is hard work and rigour that stretches for weeks together and sometimes it is amazing time spent well with the team. The whole organization runs on a flat hierarchy and it believes in an open door policy. We draw ideas from the people at the lowest rung of the ladder as we believe they are the people more close to the reality.
                </p>

                <p>Here, the leadership is available on a call and is always eager on hearing you out. They would leave no stone unturned in addressing your dissatisfaction. However, work matters to them and the environment believes in survival of the fittest. You need to do your job right and then be rest assured about your growth.</p>
                <p>In short, it is like a memorable roller coaster ride with a big learning curve. </p>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12" id="careerlist">
                <header class="special" style="margin-bottom: 4rem;
    border-bottom: 4px double;
    border-color: #e7dddd;">
                    <h2><span><b>We are</b><span style="color:#1d9fd2;"> Hiring !</span></span></h2>
                </header>
                <header>
                    <h5><span>Drop your resume at hr@learn.odmps.org</span></h5>
                </header>
                <div id="recruitment">
                    @if (ViewBag.CareerList != null)
                    {
                        List<DigiChamps.Controllers.HomeController.CareerCls> er=(ViewBag.CareerList) as List<DigiChamps.Controllers.HomeController.CareerCls>;
                        foreach (var item in er.ToList())
                        {
                            <ul>
                                <li>
                                    <div class="careerheader">
                                        <span> @item.career_Name <span>(Having @item.Experience of experience)</span> </span>
                                    </div>
                                    <div class="careerdetails">
                                        <p>
                                            Urgent requirement of @item.career_Name.<br>
                                            <b>Roles &amp; Responsibilities :</b><br><ul>
                                                <li>@item.Experience experience in @item.career_Name </li>
                                                <li>@item.Job_Description </li>
                                            </ul><br />
                                            <b>Location :</b> @item.Location <br>
                                            <b>Interview scheduled Date :</b> @item.openingdate  -  @item.enddate <br>
                                            <b>Walk-In Time :</b> @item.Walk_in_Time <br>
                                            <b>No of Vacancy :</b> @item.No_of_vacancy <br>
                                            <b>Contact :</b> @item.Phone <br>
                                            <b>Education :</b> @item.Qualification <br>
                                            @item.Experience years of experience as a @item.career_Name . The candidate will be responsible for managing the interchange of data between the server and the users, integrating the front-end elements built by your co-workers into the application. Primary focus will be the development of all server-side logic, ensuring high performance and responsiveness to requests from the front-end.
                                            <br /><br />Drop your upadated resume at hr@learn.odmps.org
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        }
                    }
                   @* <ul>
        <li>
            <div class="careerheader">
                <span> Python Developer (Having 2+ years of experience)</span>
            </div>
            <div class="careerdetails">
                <p>
                    Urgent requirement of Python Developer.<br>

                    <b>Roles &amp; Responsibilities :</b><br>
                    <ul>
                        <li>2-3 years experience in Python, with knowledge of Python web framework such as: Django, Flask, etc.</li>
                        <li>Should have knowledge in SQL</li>
                        <li>Basic understanding of front-end technologies, such as HTML/CSS, JavaScript, jQuery, Github</li>
                        <li>Writing reusable, testable, and efficient code</li>
                        <li>Design and implementation of low-latency, high-availability, and performant applications</li>
                        <li>Integration of user-facing elements developed by front-end developers with server side logic</li>
                        <li> Implementation of security and data protection</li>
                        <li>Integration of data storage solutions may include databases</li>
                        <li>Familiarity with some ORM (Object Relational Mapper) libraries</li>
                        <li> Knowledge of user authentication and authorization between multiple systems, servers, and environments.</li>
                        <li> Understanding of fundamental design principles behind a scalable application.</li>
                        <li> Work independently under limited supervision and apply knowledge of subject matter in Applications Development.</li>
                        <li>Good knowledge on OAuth, OpenId connect, Single sign on is an added advantage.</li>
                        <li> Should have excellent written and Verbal communication skills.</li>
                    </ul>
                    <br />

                    <b>Education :</b> MCA / B.Tech / B.E. – IT, Computers Science
                    <br>

                    2-3 years of experience as a Python Developer. The candidate will be responsible for managing the interchange of data between the server and the users, integrating the front-end elements built by your co-workers into the application. Primary focus will be the development of all server-side logic, ensuring high performance and responsiveness to requests from the front-end.

                    <br />
                    <br />

                    Drop your upadated resume at hr@learn.odmps.org

                </p>
            </div>
        </li>
    </ul>
    <ul>
            <li>
                <div class="careerheader">
                    <span> Python Developer (Having 2+ years of experience)</span>
                </div>
                <div class="careerdetails">
                    <p>
                        Urgent requirement of Python Developer.<br>

                        <b>Roles &amp; Responsibilities :</b><br>
                        <ul>
                            <li>2-3 years experience in Python, with knowledge of Python web framework such as: Django, Flask, etc.</li>
                            <li>Should have knowledge in SQL</li>
                            <li>Basic understanding of front-end technologies, such as HTML/CSS, JavaScript, jQuery, Github</li>
                            <li>Writing reusable, testable, and efficient code</li>
                            <li>Design and implementation of low-latency, high-availability, and performant applications</li>
                            <li>Integration of user-facing elements developed by front-end developers with server side logic</li>
                            <li> Implementation of security and data protection</li>
                            <li>Integration of data storage solutions may include databases</li>
                            <li>Familiarity with some ORM (Object Relational Mapper) libraries</li>
                            <li> Knowledge of user authentication and authorization between multiple systems, servers, and environments.</li>
                            <li> Understanding of fundamental design principles behind a scalable application.</li>
                            <li> Work independently under limited supervision and apply knowledge of subject matter in Applications Development.</li>
                            <li>Good knowledge on OAuth, OpenId connect, Single sign on is an added advantage.</li>
                            <li> Should have excellent written and Verbal communication skills.</li>
                        </ul>
                        <br />

                        <b>Education :</b> MCA / B.Tech / B.E. – IT, Computers Science
                        <br>

                        2-3 years of experience as a Python Developer. The candidate will be responsible for managing the interchange of data between the server and the users, integrating the front-end elements built by your co-workers into the application. Primary focus will be the development of all server-side logic, ensuring high performance and responsiveness to requests from the front-end.

                        <br />
                        <br />

                        Drop your upadated resume at hr@learn.odmps.org

                    </p>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="careerheader">
                    <span> Python Developer (Having 2+ years of experience)</span>
                </div>
                <div class="careerdetails">
                    <p>
                        Urgent requirement of Python Developer.<br>

                        <b>Roles &amp; Responsibilities :</b><br>
                        <ul>
                            <li>2-3 years experience in Python, with knowledge of Python web framework such as: Django, Flask, etc.</li>
                            <li>Should have knowledge in SQL</li>
                            <li>Basic understanding of front-end technologies, such as HTML/CSS, JavaScript, jQuery, Github</li>
                            <li>Writing reusable, testable, and efficient code</li>
                            <li>Design and implementation of low-latency, high-availability, and performant applications</li>
                            <li>Integration of user-facing elements developed by front-end developers with server side logic</li>
                            <li> Implementation of security and data protection</li>
                            <li>Integration of data storage solutions may include databases</li>
                            <li>Familiarity with some ORM (Object Relational Mapper) libraries</li>
                            <li> Knowledge of user authentication and authorization between multiple systems, servers, and environments.</li>
                            <li> Understanding of fundamental design principles behind a scalable application.</li>
                            <li> Work independently under limited supervision and apply knowledge of subject matter in Applications Development.</li>
                            <li>Good knowledge on OAuth, OpenId connect, Single sign on is an added advantage.</li>
                            <li> Should have excellent written and Verbal communication skills.</li>
                        </ul>
                        <br />

                        <b>Education :</b> MCA / B.Tech / B.E. – IT, Computers Science
                        <br>

                        2-3 years of experience as a Python Developer. The candidate will be responsible for managing the interchange of data between the server and the users, integrating the front-end elements built by your co-workers into the application. Primary focus will be the development of all server-side logic, ensuring high performance and responsiveness to requests from the front-end.

                        <br />
                        <br />

                        Drop your upadated resume at hr@learn.odmps.org

                    </p>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="careerheader">
                    <span> Python Developer (Having 2+ years of experience)</span>
                </div>
                <div class="careerdetails">
                    <p>
                        Urgent requirement of Python Developer.<br>

                        <b>Roles &amp; Responsibilities :</b><br>
                        <ul>
                            <li>2-3 years experience in Python, with knowledge of Python web framework such as: Django, Flask, etc.</li>
                            <li>Should have knowledge in SQL</li>
                            <li>Basic understanding of front-end technologies, such as HTML/CSS, JavaScript, jQuery, Github</li>
                            <li>Writing reusable, testable, and efficient code</li>
                            <li>Design and implementation of low-latency, high-availability, and performant applications</li>
                            <li>Integration of user-facing elements developed by front-end developers with server side logic</li>
                            <li> Implementation of security and data protection</li>
                            <li>Integration of data storage solutions may include databases</li>
                            <li>Familiarity with some ORM (Object Relational Mapper) libraries</li>
                            <li> Knowledge of user authentication and authorization between multiple systems, servers, and environments.</li>
                            <li> Understanding of fundamental design principles behind a scalable application.</li>
                            <li> Work independently under limited supervision and apply knowledge of subject matter in Applications Development.</li>
                            <li>Good knowledge on OAuth, OpenId connect, Single sign on is an added advantage.</li>
                            <li> Should have excellent written and Verbal communication skills.</li>
                        </ul>
                        <br />

                        <b>Education :</b> MCA / B.Tech / B.E. – IT, Computers Science
                        <br>

                        2-3 years of experience as a Python Developer. The candidate will be responsible for managing the interchange of data between the server and the users, integrating the front-end elements built by your co-workers into the application. Primary focus will be the development of all server-side logic, ensuring high performance and responsiveness to requests from the front-end.

                        <br />
                        <br />

                        Drop your upadated resume at hr@learn.odmps.org

                    </p>
                </div>
            </li>
        </ul>*@
                </div>
            </div>

        </div>
        <div class="clearfix" style="margin-bottom:40px;"></div>
    </section>
</div>