﻿@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet" />

<!-- Stylesheets -->
<style>
    b {
        font-weight: 600;
    }
</style>
<style>
    #banner:before {
        background: #111111;
    }

    #banner:after {
        background: linear-gradient(135deg, #b1eef1 0%, #111111 74%);
    }
</style>
<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<link href="~/ContentWebsite/CSS/css/flaticon.css" rel="stylesheet" />
<div class="bodycontent">
    <section id="banner">
        <div class="inner">
            <div>
                <h1><b style="color:#1d9fd2;">MEET</b> US</h1>
            </div>

            <p style="color:white;">
                Ready to leave a mark?
            </p>
        </div>
        <img src="~/ContentWebsite/img/about-us-banner.jpg" width="100%" />

        <!-- Contact section start -->
        <!-- Contact section end -->
    </section>
    <section>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="form-group" style="margin-bottom:0px;">
                        <h1><b>Get In</b> Touch</h1>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <span style="font-size: 17px;">Please fill out the quick form and we will be in touch with lightning speed.</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="contact-form">
                            <div class="form-group row" style="margin-bottom:0px !important;">
                                <div class="col-md-6" style="margin-bottom:0px !important;">
                                    <input type="text" id="name" placeholder="Your Name">
                                </div>
                                <div class="col-md-6" style="margin-bottom:0px !important;">
                                    <input type="email" id="mailid" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0px !important;">
                                <input type="text" placeholder="Subject" id="subject">

                            </div>
                            <div class="form-group" style="margin-bottom:0px !important;">
                                <textarea placeholder="Message" id="message"></textarea>

                            </div>
                        <div class="clearfix">
                        </div>
                        <div class="form-group text-right" style="margin-bottom:20px;">
                           
                                <button class="btnbuynow" id="btnsend" style="width: 29% !important;">
                                    Send
                                </button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="clearfix" style="margin-bottom:25px;"></div>
                <div class="form-group">
                    <p style="font-weight:700;font-size:16px;">Connect with Us :</p>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div><h5><b>For support or any questions:</b></h5></div>
                    <div><h5><b>Call Us at</b> 1800-212-4322</h5></div>
                    <div><h5><b>Email Us at</b> info@learn.odmps.org</h5></div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div style="margin-bottom:20px;"><h5><b>Bhubaneswar:</b>  Plot No- B/23/1, 1st floor , Infocity Road,<br /> Opposite TCS, Patia -751024</h5></div>
                    <div style="margin-bottom:20px;"><h5><b>New Delhi:</b> Plot- 630A, 1st Floor, Palam Extn,<br /> Sec-7, Dwarka -110075</h5></div>

                </div>
            </div>
        </div>
            <div class="clearfix" style="margin-bottom:20px;"></div>
</div>
    </section>
<section id="canvas1" class="map">
    <iframe id="map_canvas1" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14963.717120818385!2d85.819887!3d20.34454!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4506a935f7ec1ede!2sDigichamps!5e0!3m2!1sen!2sin!4v1482571958674" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
</div>


<!--====== Javascripts & Jquery ======-->
<!-- load for map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
<script src="~/ContentWebsite/JS/map.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
       
        $('#btnsend').click(function () {
            if ($('#name').val() == "")
            {
                alert('Enter Your Name');
                $('#name').focus();                
                return false;
            }
            if ($('#mailid').val() == "") {
                alert('Enter Your Email Id');
                $('#mailid').focus();                
                return false;
            }
            if ($('#subject').val() == "") {
                alert('Enter Subject');
                $('#subject').focus();                
                return false;
            }
            if ($('#message').val() == "") {
                alert('Enter Message');
                $('#message').focus();                
                return false;
            }
            $('#divloader').fadeIn(300);
            $.ajax({
                type: 'POST',
                url: "/Home/ContactUs",
                data: { name: $('#name').val(), mail: $('#mailid').val(), subject: $('#subject').val(), message: $('#message').val() },
                success: function (data) {

                    if (data == "2") {
                        $('#divloader').fadeOut(300);
                        alert("Your message has been sent.");
                        $('#name').val('');
                        $('#mailid').val('');
                        $('#subject').val('');
                        $('#message').val('');
                        
                    }
                    else {
                        $('#divloader').fadeOut(300);
                        alert("Something went wrong.");
                    }
                    //setTimeout(function () {
                    //    $(".loader-ajax-container").css("display", "none");
                    //}, 2000);
                }
            });
        });
    })
</script>