﻿@{
    ViewBag.Title = "ForgotPassword | ODM Learning App | Learners Beyond Classrooms";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<div id="popup_forgotpass">
    <div class="popup_right_div pre-pop">

        <div class="popup_right_div_heading">Forgot Password</div>
        <div class="popup_right_div_sub_heading">
            <label>ENTER YOUR MOBILE NUMBER</label>
        </div>
        <div style="margin-bottom:30px; display:block;">
            <input type="text" class="Mobile" id="forgot_mobile" name="forgot_mobile" maxlength="10" data-rule-minlength="10" data-rule-required="true" data-msg-required="Enter a valid phone number" />
        </div>
        <div>
            <button id="send_otp" class="popup_right_div_submit_button">SEND OTP</button>
        </div>

    </div>
    <div class="popup_right_div sc-pop" style="display:none;">
        <div style="height:30px">
            <div class="error_message"></div>
            <div class="success_message"></div>
        </div>
        <div class="popup_right_div_heading">Verification</div>
        <div class="popup_right_div_sub_heading" style="margin-bottom:20px;">
            A 6-digit OTP has been sent to your mobile number for verification.
        </div>
        <div class="popup_right_div_sub_heading">
            <label>ENTER OTP</label>
        </div>
        <div>
            <input style="letter-spacing: 20px;" type="text" id="OTP_Det" name="OTP_Det" maxlength="6" data-rule-required="true" data-msg-required="Enter your OTP">
        </div>
        <span class="popup_right_div_sub_heading">Did not receive OTP?<a class="popup_right_div_forgot_password" id="btn_resendpassword" style="padding:0px; margin:0px; text-align:left;float:left;">RESEND OTP?</a></span>
        <div style="margin-top:30px;">
            <button id="btn_Verify" class="popup_right_div_submit_button">
                VERIFY
            </button>
        </div>
    </div>
    <div class="popup_right_div bs-pop" style="display:none;">
        <div style="height:30px">
            <div class="error_message"></div>
            <div class="success_message"></div>
        </div>
        <div class="popup_right_div_heading">Reset Password</div>
        <div class="popup_right_div_sub_heading">
            <label>ENTER NEW PASSWORD</label>
        </div>
        <div style="margin-bottom:10px; display:block;">
            <input type="password" id="new_password" name="new_password" maxlength="50" data-rule-required="true" data-msg-required="Please enter password" placeholder="New Password" />
        </div>
        <div class="popup_right_div_sub_heading">
            <label>ENTER CONFIRM PASSWORD</label>
        </div>
        <div style="margin-bottom:30px; display:block;">
            <input type="password" id="confirm_password" name="confirm_password" maxlength="50" data-rule-required="true" data-msg-required="Please enter password" placeholder="Confirm Password" />
        </div>
        <div>
            <button id="btn_finalPasswordsubmit" class="popup_right_div_submit_button">
                SUBMIT
            </button>
        </div>
    </div>
    <div class="mt-3" style="height:30px">
        <div class="error_message"></div>
        <div class="success_message"></div>
    </div>
</div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            function clearforgotpassword() {
                $('.pre-pop').fadeIn(300);
                $(".sc-pop").fadeOut(300);
                $(".bs-pop").fadeOut(300);
                $("input[name='forgot_mobile']").val('');
                $("input[name='OTP_Det']").val('');
                $("input[name='new_password']").val('');
                $("input[name='confirm_password']").val('');

            }
            $('#send_otp').click(function () {
                debugger;
                $('#divloader').fadeIn(300);
                if ($("input[name='forgot_mobile']").val() != null && $("input[name='forgot_mobile']").val() != "" && $("input[name='forgot_mobile']").val().length == 10) {
                    $.get('/Home/Forgot_Mobile_Verify', { mobile: $("input[name='forgot_mobile']").val() }, function (data) {
                        $('#popup_forgotpass').find("div.error_message").css('display', 'none');
                        $('#popup_forgotpass').find("div.success_message").css('display', 'none');
                        if (data == '1') {
                            $(".pre-pop").fadeOut(300);
                            $(".sc-pop").fadeIn(300);
                            $('#divloader').fadeOut(300);
                        }
                        if (data == '-1') {
                            $('#popup_forgotpass').find("div.error_message").html("Mobile number is not registered");
                            $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                            $('#divloader').fadeOut(300);
                        }
                        if (data == '-2') {
                            $('#popup_forgotpass').find("div.error_message").html("Server Error..Try again");
                            $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                            $('#divloader').fadeOut(300);
                        }
                        if (data == '-3') {
                            $('#popup_forgotpass').find("div.error_message").html("Mobile number is not verified");
                            $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                            $('#divloader').fadeOut(300);
                        }
                        if (data == '-4') {
                            $('#popup_forgotpass').find("div.error_message").html("Account is not Active");
                            $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                            $('#divloader').fadeOut(300);
                        }
                    })
                }
                else {
                    $('#popup_forgotpass').find("div.error_message").html("Enter a valid mobile number");
                    $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                    $('#divloader').fadeOut(300);
                }
            })
            $('#btn_Verify').click(function () {
                debugger;
                $('#divloader').fadeIn(300);
                if ($("input[name='OTP_Det']").val() != null && $("input[name='OTP_Det']").val() != "" && $("input[name='OTP_Det']").val().length == 6) {
                    $.get('/Home/OTP_Check', { otp: $("input[name='OTP_Det']").val() }, function (data) {
                        $('#popup_forgotpass').find("div.error_message").css('display', 'none');
                        $('#popup_forgotpass').find("div.success_message").css('display', 'none');
                        if (data == '1') {
                            $(".sc-pop").fadeOut(300);
                            $(".bs-pop").fadeIn(300);
                            $('#divloader').fadeOut(300);
                        }
                        if (data == '-1') {
                            $('#popup_forgotpass').find("div.error_message").html("OTP doesn't match");
                            $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                            $('#divloader').fadeOut(300);
                        }
                    })
                }
                else {
                    $('#popup_forgotpass').find("div.error_message").html("Enter OTP");
                    $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                    $('#divloader').fadeOut(300);
                }

            })
            $('#btn_resendpassword').click(function () {
                debugger;
                $('#divloader').fadeIn(300);
                $.get('/Home/Forgot_Mobile_Verify', { mobile: $("input[name='forgot_mobile']").val() }, function (data) {
                    if (data == '1') {
                        $('#popup_forgotpass').find("div.success_message").html("OTP send successfully");
                        $('#popup_forgotpass').find("div.success_message").show().delay(5000).fadeOut();
                        $('#divloader').fadeOut(300);
                    }
                    if (data == '-1') {
                        $('#popup_forgotpass').find("div.error_message").html("Mobile number is not registered");
                        $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                        $('#divloader').fadeOut(300);
                    }
                    if (data == '-2') {
                        $('#popup_forgotpass').find("div.error_message").html("Server Error..Try again");
                        $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                        $('#divloader').fadeOut(300);
                    }
                })
            })
            $('#btn_finalPasswordsubmit').click(function () {
                debugger;
                $('#divloader').fadeIn(300);
                if ($("input[name='new_password']").val() != null && $("input[name='new_password']").val() != "") {
                    if ($("input[name='confirm_password']").val() != null && $("input[name='confirm_password']").val() != "") {
                        $.get('/Home/Changed_Password', { Mobile_OTP: $("input[name='OTP_Det']").val(), New_Password: $("input[name='new_password']").val(), Confirm_Password: $("input[name='confirm_password']").val() }, function (data) {
                            $('#popup_forgotpass').find("div.error_message").css('display', 'none');
                            $('#popup_forgotpass').find("div.success_message").css('display', 'none');
                            if (data == '12') {
                                //$('#popup_forgotpass').fadeOut(300);
                                //$('#popup_SIGNIN').fadeIn(300);
                                $('#divloader').fadeOut(300);
                                window.location.href = '/';
                            }
                            if (data == '0') {
                                $('#popup_forgotpass').find("div.error_message").html("Password doesn't match");
                                $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                                $('#divloader').fadeOut(300);
                            }
                            if (data == '-1') {
                                $('#popup_forgotpass').find("div.error_message").html("Mobile number is not verified");
                                $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                                $('#divloader').fadeOut(300);
                            }
                            if (data == '-3') {
                                $('#popup_forgotpass').find("div.error_message").html("Invalid OTP");
                                $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                                $('#divloader').fadeOut(300);
                            }
                            if (data == '-2') {
                                $('#popup_forgotpass').find("div.error_message").html("Server Error..Try again");
                                $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                                $('#divloader').fadeOut(300);
                            }
                        })

                    }
                    else {
                        $('#popup_forgotpass').find("div.error_message").html("Enter Confirm Password");
                        $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                        $('#divloader').fadeOut(300);
                    }
                }
                else {
                    $('#popup_forgotpass').find("div.error_message").html("Enter New Password");
                    $('#popup_forgotpass').find("div.error_message").show().delay(5000).fadeOut();
                    $('#divloader').fadeOut(300);
                }
            })
        })
    </script>
