﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<link href="~/ContentWebsite/build/css/intlTelInput.css" rel="stylesheet" />
<link href="~/ContentWebsite/build/css/demo.css" rel="stylesheet" />
<script src="~/ContentWebsite/JS/counterup.js"></script>
<style>
    html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
    /*svg:hover {
            fill: #565b73;
        }

        svg {
            transition: all 150ms ease-out;
            width: 57px;
            height: auto;
        }*/

    /*.section-logo-list .logo-link:hover svg {
            transform: scale(1.03);
        }*/
    .section-logo-list .logo-link:hover svg {
        transform: scale(1.03);
    }

    .logo-twitch svg {
        width: 98px;
        height: auto;
        transition: all 150ms ease-out;
    }

        .logo-twitch svg:hover path {
            width: 100px;
            fill: #565B73;
        }

    .logo-zendesk svg {
        width: 145px;
        height: auto;
        transition: all 150ms ease-out;
    }

        .logo-zendesk svg:hover path {
            width: 100px;
            fill: #565B73;
        }

    .logo-nordstrom svg {
        width: 169px;
        height: auto;
        transition: all 150ms ease-out;
    }

        .logo-nordstrom svg:hover path {
            width: 100px;
            fill: #565B73;
        }

    .logo-lyft svg {
        width: 57px;
        height: auto;
        transition: all 150ms ease-out;
    }

        .logo-lyft svg:hover path {
            width: 100px;
            fill: #565B73;
        }
</style>
<style>
    ul.prod-gram {
        height: 40px;
        width: 145px;
        color: black;
        letter-spacing: 0em;
        font-size: 14px;
        line-height: 2.4;
        float: left;
        list-style: none;
        padding: 5px 15px;
        margin: 0;
    }

        ul.prod-gram li.init {
            cursor: pointer;
            border: 1px #fff solid;
        }

        ul.prod-gram li {
            padding: 5px 15px;
            z-index: 2;
            height: 40px;
            cursor: pointer;
            width: 100%;
        }

            ul.prod-gram li:not(.init) {
                width: 100%;
                display: none;
                background: transparent;
                border-left: 1px #fff solid;
                border-right: 1px #fff solid;
                border-bottom: 1px #fff solid;
                margin: 0px;
            }

    .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
        width: 86px;
        outline: 0px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $(document).on("click", "ul.prod-gram .init", function () {
            $(this).parent().find('li:not(.init)').toggle();
        });
        var allOptions = $("ul.prod-gram").children('li:not(.init)');
        $("ul.prod-gram").on("click", "li:not(.init)", function () {
            allOptions.removeClass('selected');
            $(this).addClass('selected');
            $(this).parent().children('.init').html($(this).html());
            $(this).parent().find('li:not(.init)').toggle();
        });
        $('.popup-player').magnificPopup({
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false,
            iframe: {
                markup: '<div class="mfp-iframe-scaler">' +
                        '<div class="mfp-close"></div>' +
                        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                      '</div>',

                srcAction: 'iframe_src',
            }
        });
    });
</script>
<style>
    a:link {
        color: #fff;
        text-decoration: none;
    }

    a:visited {
        color: #ff8400;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

    a:active {
        color: #fff;
        text-decoration: underline;
    }

    a:visited.nav {
        color: #ff8400;
    }

    a:link.nav {
        color: #fff;
    }

    a:hover.nav, a:active.nav {
        color: #fff;
    }

    a:link.featurenav, a:visited.featurenav {
        color: #fff;
    }

    a:hover.featurenav, a:active.featurenav {
        color: #0080FF;
    }
</style>
<!-- Caption & Effect Button & devNav Style -->
<style>
    A.effectButton, A.effectButton:active, A.effectButton:visited, A.navDev, A.navDev:active, A.navDev:visited {
        display: block;
        font-size: 13px;
        line-height: 26px;
        text-align: center;
        background-color: #dadada;
        color: #EB5100;
        text-decoration: none;
        padding: 3px 10px 3px 10px;
        display: inline;
        white-space: nowrap;
    }

        A.effectButton:hover, A.navDev:hover {
            color: #EAEAEA;
            background-color: #EB5100;
        }

        A.navDev, A.navDev:active, A.navDev:visited, A.navDev:hover {
            left: 0px;
            width: 255px;
            line-height: 26px;
            padding: 0px 5px 0px 5px;
            display: inline-block;
            text-align: left;
        }
</style>
<!-- Thumbnail Style Begin -->
<style>
    .thumb {
        position: relative;
        float: left;
        display: inline;
        margin: 25px;
        width: 260px;
        height: 130px;
    }

    .thumbb {
        position: absolute;
        left: -1px;
        top: -1px;
        width: 262px;
        height: 132px;
        background-color: #fff;
    }

        .thumbb:hover {
            background-color: #ff8400;
        }

    .thumbcb, .thumbc {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 260px;
        height: 30px;
    }

    .thumbcb {
        background-color: #000;
        filter: alpha(opacity=50);
        opacity: .5;
    }

    .thumbb:hover .thumbcb {
        background-color: #ff8400;
    }

    .thumbc {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }

    .thumbix01, .thumbix02, .thumbiv01, .thumbiv02 {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 260px;
        height: 130px;
    }
</style>
<!-- Thumbnail Style End -->
<!-- Presentation Style -->
<style>
    .bricon {
        background: url(../img/browser-icons.png);
    }
</style>
<!-- Feature Style -->
<style>
    .feature {
        position: absolute;
        width: 350px;
        height: 180px;
    }

    .featureb {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0000A0;
        filter: alpha(opacity=20);
        opacity: .2;
    }

    .featurecb {
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: #000;
        filter: alpha(opacity=30);
        opacity: .3;
    }

    .featurec {
        position: absolute;
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
    }

    .featuret {
        position: absolute;
        width: 320px;
        height: 125px;
        top: 40px;
        left: 15px;
        color: #fff;
        font-size: 13px;
        line-height: 26px;
    }
</style>
<style>
    .description {
        position: relative;
        margin: 0 auto;
        padding: 10px;
        top: 0px;
        left: 0px;
        width: 660px;
    }

    .descriptiont {
        position: relative;
        width: 630px;
        color: #fff;
        font-size: 13px;
        line-height: 26px;
    }
</style>
<style>
    td, label, input, select, option {
        font-family: Arial,Helvetica,sans-serif;
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 20px;
    }

    select {
        width: 110px;
    }

    .inputText {
        border: 1px solid lightgray;
        background: #fff;
        height: 17px;
    }
</style>


<script src="~/ContentWebsite/JS/slideshow-transition-builder-controller.min.js"></script>
<section class="headerpanel">
    <div class="clearfix"></div>

       <div class="leftpanel">
        <p>Identify your weaknesses, Let us guide you to turn them into strengths. </p>
        <div class="searchgroup" style="margin-top:4%;">
            <p>To begin the journey of growth</p>


            @*<div>
                    <label>+91</label>
                    <input type="text" id="txtjoin" placeholder="Enter your mobile number" />
                    <button id="btnjoin">Join</button>
                </div>*@
        </div>
        <form>
            <input id="txtjoin" placeholder="Enter your mobile number" name="txtjoin" type="tel" style=" width: 311px;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        border: none;
        height: 50px;
        margin-bottom: 0px;
        margin-top: 0px;" />
            <button id="btnjoin" type="submit">Submit</button>
        </form>

        <div style="text-align: left;    margin-top: 15%;">
            <a href="https://play.google.com/store/apps/details?id=com.sseduventures.digichamps" target="_blank"><img src="~/ContentWebsite/img/playstore.png" style="height: 60px;" /></a>

        </div>
    </div>

    <link href="~/ContentWebsite/ism/css/my-slider.css" rel="stylesheet" />

    <script src="~/ContentWebsite/ism/js/ism-2.2.min.js"></script>
    <div class="rightpanel" style="background-image: url('../../ContentWebsite/img/bulb png.png'); position: absolute; left: 43%;">
        <div class="ism-slider" data-play_type="loop" data-radios="false" id="my-slider">
            <ol>
                <li>
                    
                    <img src="~/ContentWebsite/students/photo%20frame1.png" />
                    <!--<div class="ism-caption ism-caption-0" data-delay='300'>My slide caption text</div>-->
                    <div class="ism-caption ism-caption-1" data-delay='200'>My slide caption text My slide caption text My slide caption text My slide caption text</div>
                </li>
                <li>

                    <img src="~/ContentWebsite/students/photo%20frame2.png" />
                    <div class="ism-caption ism-caption-1" data-delay='200'>My slide caption text My slide caption text My slide caption text My slide caption text</div>
                </li>
                <li>

                    <img src="~/ContentWebsite/students/photo%20frame3.png" />
                    <div class="ism-caption ism-caption-1" data-delay='200'>My slide caption text My slide caption text My slide caption text My slide caption text</div>
                </li>
                <li>

                    <img src="~/ContentWebsite/students/photo%20frame4.png" />
                    <div class="ism-caption ism-caption-1" data-delay='200'>My slide caption text My slide caption text My slide caption text My slide caption text</div>
                </li>

            </ol>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom: 30px;"></div>
   
</section>
<script>
    slideshow_transition_controller_starter("slider1_container");
    
</script>

<div class="clearfix"></div>
<section class="middlepanel">
    <div class="middleheader">
        <ul class="middleheaderul">
            <li>
                <div>
                    <h5>Registered Students</h5>
                    <a class="logo-twitch">
                        <span class="counter">2,26,000</span>
                        @*<svg xmlns="http://www.w3.org/2000/svg" width="72" height="23.9" viewBox="0 0 72 23.9">
                                <path d="M68.3 3.7h-4.5V0H56l-3.7 3.7h-4.1l-2.1 2.1V3.7h-3.7V0h-14v3.7H11.5L7.8 0H0v16.5l3.7 3.7 6.2 3.7h5.3V23l2.1.8h10l1.8-2.1.2 2.1h6.5l.1-2.1 2.4 2.1H44l.4-2.1 2.1 2.1h6.6l2.1-2.1v2.1h3.7l2.9-2.1v2.1h4.1l6.2-4.1V7.4l-3.8-3.7zM9.9 9.9H6.2V14h3.7v4.5H4.5l-2.9-2.9v-14h4.5v3.7h3.7v4.6zm18.5 5.7l-2.9 2.9h-14V5.3H16V14h1.6V5.3h4.5V14h1.6V5.3h4.5v10.3zm6.2 2.9H30V5.3h4.5v13.2zm0-14.8H30V1.6h4.5v2.1zm9.8 6.2h-3.7V14h3.7v4.5h-5.3l-2.9-2.9v-14h4.5v3.7h3.7v4.6zm11.6 0h-5.3V14H56v4.5h-7l-2.9-2.9V8.2L49 5.3h7v4.6zm14.4 8.6h-4.5V9.9h-3.7v8.6h-4.5V1.6h4.5v3.7h5.3l2.9 2.9v10.3z"></path>
                            </svg>*@
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <h5>School Associated</h5>
                    <a class="logo-zendesk">
                        <span class="counter">200</span>+
                        @*<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 138.8 28.31">
                                <title>logo-zendesk</title>
                                <path d="M15.27,12.93,5.51,24.45H14A1.65,1.65,0,0,1,15.6,26.1,1.68,1.68,0,0,1,14,27.78H1.69A1.78,1.78,0,0,1,0,26.06a2,2,0,0,1,.45-1.23L10.17,13.3H1.69A1.73,1.73,0,0,1,0,11.61,1.69,1.69,0,0,1,1.69,10H13.75a1.86,1.86,0,0,1,1.93,1.85A1.62,1.62,0,0,1,15.27,12.93Z" fill="#94979b"></path>
                                <path d="M34.82,20.09H22.1a5.2,5.2,0,0,0,5.39,4.81,7.6,7.6,0,0,0,5.36-2.26,1.27,1.27,0,0,1,1-.37,1.72,1.72,0,0,1,1.31.66,1.63,1.63,0,0,1,.33.95,1.89,1.89,0,0,1-.58,1.31,10.65,10.65,0,0,1-7.53,3.09A9.39,9.39,0,0,1,18,18.85a9.29,9.29,0,0,1,9.3-9.43,9,9,0,0,1,9,9.35A1.4,1.4,0,0,1,34.82,20.09Zm-7.57-7.28a4.94,4.94,0,0,0-5.06,4.44H32.31A5,5,0,0,0,27.25,12.81Z" fill="#94979b"></path>
                                <path d="M76.81,28.12a2,2,0,0,1-2-2v-1a6.6,6.6,0,0,1-5.89,3.13c-5.23,0-8.93-4-8.93-9.43s3.58-9.43,8.93-9.43A6.58,6.58,0,0,1,74.8,12.6V2a2,2,0,0,1,4,0V26.1A2,2,0,0,1,76.81,28.12ZM69.4,13C66.11,13,64,15.64,64,18.85s2.1,5.85,5.39,5.85,5.4-2.51,5.4-5.85S72.7,13,69.4,13Z" fill="#94979b"></path>
                                <path d="M99.31,20.09H86.59A5.2,5.2,0,0,0,92,24.9a7.56,7.56,0,0,0,5.35-2.26,1.3,1.3,0,0,1,1-.37,1.74,1.74,0,0,1,1.32.66,1.71,1.71,0,0,1,.33.95,1.89,1.89,0,0,1-.58,1.31,10.67,10.67,0,0,1-7.53,3.09,9.4,9.4,0,0,1-9.43-9.43,9.29,9.29,0,0,1,9.31-9.43,9,9,0,0,1,9.05,9.35A1.4,1.4,0,0,1,99.31,20.09Zm-7.57-7.28a4.94,4.94,0,0,0-5.07,4.44H96.8A5,5,0,0,0,91.74,12.81Z" fill="#94979b"></path>
                                <path d="M110.83,28.28a13.91,13.91,0,0,1-6.58-1.81,1.87,1.87,0,0,1-1-1.57,1.73,1.73,0,0,1,.16-.61,1.4,1.4,0,0,1,1.28-.95,1.51,1.51,0,0,1,.82.25A10.09,10.09,0,0,0,110.59,25c2,0,4.2-.58,4.2-2.18,0-1.24-1.11-1.69-5.32-3.13-3.45-1.19-5.26-2.76-5.26-5.31,0-3.05,3-5,7-5a13.05,13.05,0,0,1,6.17,1.41,1.68,1.68,0,0,1,1.11,1.52,1.51,1.51,0,0,1-.12.58A1.66,1.66,0,0,1,116.84,14a1.33,1.33,0,0,1-.57-.13,10.93,10.93,0,0,0-4.7-1.11c-2.18,0-3.53.5-3.53,1.81s1.06,1.61,4.15,2.59c3.75,1.24,6.38,2.52,6.38,5.6S115.82,28.28,110.83,28.28Z" fill="#94979b"></path>
                                <path d="M137,28.07a1.78,1.78,0,0,1-1.45-.61l-6.79-7.74-2.06,1.61V26.1a2,2,0,1,1-3.95,0V2a2,2,0,1,1,3.95,0V16.63L135.3,10a1.9,1.9,0,0,1,1.12-.41,2,2,0,0,1,1.44.7,2,2,0,0,1,.45,1.15,1.89,1.89,0,0,1-.74,1.45l-5.81,4.56,6.6,7.58a1.93,1.93,0,0,1,.44,1.23A1.81,1.81,0,0,1,137,28.07Z" fill="#94979b"></path>
                                <path d="M48.26,9.34a8.45,8.45,0,0,0-8.53,8.53v8.44a2,2,0,0,0,2,2,2,2,0,0,0,2-2V18c0-2.8,1.54-4.95,4.47-5s4.47,2.21,4.47,5v8.31a2,2,0,0,0,2.05,2,2,2,0,0,0,2-2V17.87A8.43,8.43,0,0,0,48.26,9.34Z" fill="#94979b"></path>
                            </svg>*@
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <h5>Academic Growth</h5>
                    <a class="logo-nordstrom">
                        <span class="counter">89</span>%
                        @*<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.65 19.76">
                                <title>logo-nordstrom</title>
                                <path d="M27.29,18.33c3.82,0,5.93-3,5.93-8.5s-2.11-8.51-5.93-8.51-5.93,3.1-5.93,8.37c0,5.61,2,8.64,5.93,8.64m0-18.26c5.34,0,8.83,4,8.83,9.76s-3.56,9.82-8.83,9.82-8.83-4.16-8.83-9.82S22.08.07,27.29.07" fill="#94979b"></path>
                                <path d="M70.34,9.56c0-5.14-2.37-8-7-8a20.38,20.38,0,0,0-2.82.13,3.63,3.63,0,0,1,.16,1.2c0,1.64-.05,4.66-.05,7,0,2.53.06,5.24.1,6.81A4,4,0,0,1,60.58,18a16.47,16.47,0,0,0,2.45.13c4.87,0,7.31-3,7.31-8.57m2.83-.06c0,6.06-3.42,9.81-9.29,9.81H58s.13-6,.13-9.48S58,.4,58,.4h6.79c5.54,0,8.43,3.1,8.43,9.1" fill="#94979b"></path>
                                <path d="M130.74,18.33c3.82,0,5.93-3,5.93-8.5s-2.11-8.51-5.93-8.51-5.93,3.1-5.93,8.37c0,5.61,2,8.64,5.93,8.64m0-18.26c5.33,0,8.83,4,8.83,9.76s-3.56,9.82-8.83,9.82-8.83-4.16-8.83-9.82S125.53.07,130.74.07" fill="#94979b"></path>
                                <path d="M1.78,12.66c0,4.55.2,6.66.2,6.66H0s.26-7.65.26-15C.26,3.1.2.4.2.4H1.58s5.27,7.48,8.78,12.34a21,21,0,0,1,1.25,2.13s-.14-1.29-.14-2.46V7.06A52.84,52.84,0,0,0,11.2.4h2s-.27,6.92-.27,15c0,.79.07,4,.07,4H11.6S6.43,12,2.88,7A13.69,13.69,0,0,1,1.65,5s.13,1.61.13,2.46v5.17Z" fill="#94979b"></path>
                                <path d="M82,18.33a3.52,3.52,0,0,0,3.47-3.95c-.25-1.62-1.48-2.59-3.53-3.76C79.31,9.11,77.75,8,77.49,5.5,77.16,2.37,79.78.14,82.93,0a11.89,11.89,0,0,1,4,.62v2a6,6,0,0,0-3.89-1.45c-1.66,0-3.46,1.06-3.46,2.92,0,1.66,1.3,2.46,3.59,3.8,3.06,1.8,4.6,3.25,4.6,6a5.84,5.84,0,0,1-6.05,5.78,12.17,12.17,0,0,1-4-.63V16.81A6.12,6.12,0,0,0,82,18.33" fill="#94979b"></path>
                                <path d="M102.83.4V2.19a12.61,12.61,0,0,0-3.62-.46H98s0,.5,0,1.2c0,0,0,3.38,0,4.33,0,5.27.27,12.06.27,12.06h-3s.27-6.79.27-12.06c0-1,0-4.33,0-4.33,0-.71,0-1.2,0-1.2H94.27a12.56,12.56,0,0,0-3.63.46V.4Z" fill="#94979b"></path>
                                <path d="M161.65,19.31h-2.79s-.16-6.9-.43-11.76c0-.58,0-1.31,0-2.11,0,0-.3,1-.74,2.05l-5.18,12.27s-2.9-6.63-5.19-11.61c-.35-.75-.8-2.06-1.1-2.71a27.82,27.82,0,0,1-.09,3c-.35,4.88-.45,10.89-.45,10.89h-1.81L145,.4h1.63s3.49,7.85,5.73,12.66a9.55,9.55,0,0,1,.76,1.93,18.9,18.9,0,0,1,.7-1.91C155.9,8.21,159.05.4,159.05.4h1.63Z" fill="#94979b"></path>
                                <path d="M118.06,4.82c0,2.5-1.57,4.21-4.35,4.94,1.78,3.3,5.41,9.55,5.41,9.55h-3s-1.58-3.22-5.66-10.41h.32c3,0,4.62-1.25,4.62-3.75,0-2.18-1.32-3.56-3.83-3.56l-1.85,0a5.77,5.77,0,0,1,.15,1.64V13c0,4.22.2,6.32.2,6.32h-2.83s.2-7.44.2-11.33c0-2.7-.2-7.58-.2-7.58h5.59c3.36,0,5.2,1.58,5.2,4.42" fill="#94979b"></path>
                                <path d="M52.2,4.82c0,2.5-1.59,4.21-4.35,4.94,1.78,3.3,5.4,9.55,5.4,9.55h-3S48.7,16.09,44.62,8.9H45c3,0,4.61-1.25,4.61-3.75,0-2.18-1.32-3.56-3.82-3.56l-1.86,0A5.43,5.43,0,0,1,44,3.25V13c0,4.22.19,6.32.19,6.32H41.4s.2-7.44.2-11.33c0-2.7-.2-7.58-.2-7.58H47C50.35.4,52.2,2,52.2,4.82" fill="#94979b"></path>
                            </svg>*@
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <h5>Backed By</h5>
                    <a class="logo-lyft">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="28.4" viewBox="0 0 40 28.4">
                            <title>logo-lyft</title>
                            <path d="M0 .6h6.1v16.3c0 2.6 1.2 4.1 2.1 4.8-1 .9-4 1.6-6.3-.2C.6 20.4 0 18.6 0 16.9V.6zm38 13.6v-1.7h1.9v-6h-2C37 2.2 32.8-.7 28.5.2c-3.8.8-6.5 4.1-6.4 8v14c1.4.2 2.9-.2 4-1.1 1.3-1.1 1.9-2.9 1.9-4.6V16h3v-6h-3V8.1c0-1.1.9-2 2-2s2 .9 2 2v6c0 4.4 3.6 8 8 8v-6c-1.1.1-2-.8-2-1.9zM15 6.4v8.8c-.1.5-.6.9-1.1.8-.4-.1-.7-.4-.8-.8V6.4h-6v10.4c0 1.9.6 4.2 3.5 5 2.9.8 4.5-.8 4.5-.8-.2 1.1-1.1 1.8-2.7 2-1.2.1-2.4-.2-3.5-.6v5.5c2 .6 4 .7 6.1.4 3.7-.7 6-3.8 6-7.9v-14h-6z"></path>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="middleheading">
        How we <b>ensure growth</b>
        <br />
        for <b>each child</b>
    </div>
    <div class="middlecontent">
        <div class="middleleftcontent">
        </div>
        <div class="middlerightcontent">
            <ul>
                <li>
                    <div class="tabheader" style="border-color: #a9110c;">
                        <img src="~/ContentWebsite/images/634%20[Converted]-01.png" />
                        <span>ANALYZE</span>
                    </div>
                    <div class="tabdetails" style="border-color: #a9110c;">
                        <p>Zendesk Support is a beautifully simple system for tracking, prioritizing, and solving customer support tickets.</p>
                    </div>
                </li>
                <li>
                    <div class="tabheader" style="border-color: #988c06;">
                        <img src="~/ContentWebsite/images/target-01.png" />
                        <span>SET PLANS</span>
                    </div>
                    <div class="tabdetails" style="border-color: #988c06;">
                        <p>Zendesk Support is a beautifully simple system for tracking, prioritizing, and solving customer support tickets.</p>
                    </div>
                </li>
                <li>
                    <div class="tabheader" style="border-color: #30800b;">
                        <img src="~/ContentWebsite/images/doubt%20learn.png" />
                        <span>LEARN, TEST, DOUBTS</span>
                    </div>
                    <div class="tabdetails" style="border-color: #30800b;">
                        <p>Zendesk Support is a beautifully simple system for tracking, prioritizing, and solving customer support tickets.</p>
                    </div>
                </li>
                <li>
                    <div class="tabheader" style="border-color: #107376;">
                        <img src="~/ContentWebsite/images/digiguru.png" />
                        <span>DIGIGURU</span>
                    </div>
                    <div class="tabdetails" style="border-color: #107376;">
                        <p>Zendesk Support is a beautifully simple system for tracking, prioritizing, and solving customer support tickets.</p>
                    </div>
                </li>
                <li>
                    <div class="tabheader" style="border-color: #0e0975;">
                        <img src="~/ContentWebsite/images/growth.png" />
                        <span>GROWTH</span>
                    </div>
                    <div class="tabdetails" style="border-color: #0e0975;">
                        <p>Zendesk Support is a beautifully simple system for tracking, prioritizing, and solving customer support tickets.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</section>
<div class="clearfix" style="margin-bottom: 20px;"></div>
<section class="middlepanel2">
    <div class="clearfix" style="margin-bottom: 20px;"></div>

    <div class="middlepanel2headingbar popup-gallery">
        <div class="clearfix" style="margin-bottom: 30px;"></div>
        <div class="hmain">THE <b>PRODUCT</b></div>
        <div class="hcontent">Everything you need to be everywhere your Customers are, wrapped up in one pretty package.</div>
        <div class="hbutton"><a class="popup-player" href="https://www.youtube.com/watch?v=L_WTgC77FJ0">WATCH <b>THE VIDEO</b></a></div>

        <div class="clearfix" style="margin-bottom: 20px;"></div>
    </div>

    <div class="clearfix" style="margin-bottom: 20px;"></div>
    <div class="middlepanel2head">
        Add-on <b>Features</b>
    </div>
    <div class="clearfix" style="margin-bottom: 20px;"></div>
    <div class="middlepanel2content">
        <div class="middlepanel2div">
            <div class="middlepanel2img">
                <img src="~/ContentWebsite/img/concepts.png" />

            </div>
            <div class="middlepanel2details">
                <p>Concept sheets</p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
            </div>
        </div>
        <div class="middlepanel2div">
            <div class="middlepanel2img">
                <img src="~/ContentWebsite/img/question-sets.png" />
            </div>
            <div class="middlepanel2details">
                <p>Concept sheets</p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
            </div>
        </div>
        <div class="middlepanel2div">
            <div class="middlepanel2img">
                <img src="~/ContentWebsite/img/previous-papers.png" />
            </div>
            <div class="middlepanel2details">
                <p>Concept sheets</p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom: 20px;"></div>
    <div class="middlepanel2content">
        <div class="middlepanel2div">
            <div class="middlepanel2img">
                <img src="~/ContentWebsite/img/concepts.png" />
            </div>
            <div class="middlepanel2details">
                <p>Concept sheets</p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
            </div>
        </div>
        <div class="middlepanel2div">
            <div class="middlepanel2img">
                <img src="~/ContentWebsite/img/question-sets.png" />
            </div>
            <div class="middlepanel2details">
                <p>Concept sheets</p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
            </div>
        </div>
        <div class="middlepanel2div">
            <div class="middlepanel2img">
                <img src="~/ContentWebsite/img/previous-papers.png" />
            </div>
            <div class="middlepanel2details">
                <p>Concept sheets</p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom: 20px;"></div>
</section>

<div class="clearfix" style="margin-bottom: 20px;"></div>

<section class="middlepanel3">
    <div class="middlepanel3header1">
        Facilating Schools with
        <br />
        INDIVIDUALIZED LEARNING PROGRAM
    </div>
    <div class="middlepanel3header2">
        Zendesk Support is a beautifully simple system for tracking, prioritizing, and solving customer support tickets.
    </div>
    <div class="clearfix" style="margin-bottom: 40px;"></div>
    <div class="middlepanel3contents">
        <div class="middle3div">
            <table>
                <tr>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />

                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />

                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/img/007.jpg" class="topimage" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                    <td colspan="3" rowspan="2" style="padding: 0px !important; margin: 0px !important;">
                        <img src="~/ContentWebsite/img/007.jpg" class="mediumimg" />
                    </td>

                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>

                </tr>
                <tr>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3524525.png" />
                    </td>
                    <td>
                        <img src="~/ContentWebsite/social/3518334.png" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="clearfix"></div>
    </div>
</section>
<div class="clearfix" style="margin-bottom: 20px;"></div>
<section class="middlepanel4">
    <div class="clearfix" style="margin-bottom: 20px;"></div>
    <div class="middlepanel4headingbar">
        <div class="clearfix"></div>
        <div class="hmain4">
            <img src="https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/CRM-Illustration.svg?t=1533101542516" style="width: 100%; height: 150px;" />
            <br />
            <button>Learn More</button>
        </div>
        <div class="hcontent4">
            <div class="headmidpanel4">If you are a school...</div>
            <div class="subheadmidpanel4">FOR FREE IMPLEMENTATIONS</div>
            <div class="subheadmidpanel4">
                Contact :<br />
                Bhubaneswar: Plot No- B/23/1, 1st floor , Infocity Road, Opposite TCS, Patia -751024
                <br />
                New Delhi: Plot- 630A, 1st Floor, Palam Extn, Sec-7, Dwarka -110075
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix" style="margin-bottom: 40px;"></div>
    <div class="middlepanel4main">
        <div class="middlepanel4left">
            <div class="middlepanel4heading">
                Download the App
            </div>
            <div class="middlepanel4subheading">
                Watch lectures, practice questions and take tests on the go.
            </div>
            <div class="clearfix" style="margin-bottom: 40px;"></div>
            <div style="text-align: left;">
                <a href="https://play.google.com/store/apps/details?id=com.sseduventures.digichamps" target="_blank"><img src="~/ContentWebsite/img/playstore.png" style="height: 60px;" /></a>

            </div>
        </div>
        <div class="middlepanel4right">
            <img src="~/ContentWebsite/img/mobile.png" />
        </div>
    </div>
</section>
<div class="clearfix" style="margin-bottom: 40px;"></div>
<section class="middlepanel5">
    <ul>
        <li>
            <div class="leftsideimg">
                <img src="~/ContentWebsite/img/analyze.png" />
            </div>
            <div class="rightsidedtl">
              <span>52</span>
                <br />
                Schools
            </div>
        </li>
        <li>
            <div class="leftsideimg">
                <img src="~/ContentWebsite/img/analyze.png" />
            </div>
            <div class="rightsidedtl">
                <span>
                    38,000</span>
    <br />
    Students
</div>
        </li>
        <li>
            <div class="leftsideimg">
                <img src="~/ContentWebsite/img/analyze.png" />
            </div>
            <div class="rightsidedtl">
                <span>
                    60,711</span>
    <br />
    Questions Attempted
</div>
        </li>
        <li>
            <div class="leftsideimg">
                <img src="~/ContentWebsite/img/analyze.png" />
            </div>
            <div class="rightsidedtl">
                <span>
                    3,315</span>
    <br />
    Tests Taken
</div>
        </li>
    </ul>
</section>
<div class="clearfix" style="margin-bottom: 40px;"></div>
<section class="middlepanel4main">
    <div class="middlepanel4left" style="text-align: center !important;">
        <div class="middlepanel4heading" style="text-align: center !important;">
            Get a Free Demo at your home
        </div>
        <div class="middlepanel4subheading" style="text-align: center !important; margin-top: 30px; margin-bottom: 60px;">
            Supercharge your learning with personalized analysis and study tips. 90% students find their session to be a game changer.
        </div>
        <div class="clearfix" style="margin-bottom: 40px; margin-top: 10px;"></div>
        <div style="text-align: center;">
            <a id="freedemo">Free Demo At Home</a>
        </div>
    </div>
    <div class="middlepanel4right" style="text-align: center !important;">
        <img src="~/ContentWebsite/img/mobile.png" />
    </div>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="build/js/intlTelInput.js"></script>
<script src="~/ContentWebsite/build/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<script src="~/ContentWebsite/Counter-Up-master/jquery.counterup.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
    $("#txtjoin").intlTelInput({

        placeholderNumberType: "MOBILE",
        separateDialCode: true,
        utilsScript: "~/ContentWebsite/build/js/utils.js"
    });
</script>