﻿@{
    ViewBag.Title = "Learn and earn";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<link href="~/ContentWebsite/CSS/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="bodycontent">
    <section class="learnearnbody">
        <div class="learnearnpanels">
            <div class="learnearnpanels learnearnspace">
                <div class="learnnearnpanel">
                    <div class="learnearnpanelleft">
                        <img src="~/svg%20files/learnnearnfinal-01.svg" />
                    </div>
                    <div class="learnearnpanelright">
                        <div class="learnearnheadingtext">
                            <span style="font-weight:600;">Learn &amp; </span><span>earn</span>
                        </div>
                        <div class="learnearnheadingcontent">
                            Now earn your own pocket money by learning from our app.
                        </div>
                        <div class="learnearnheadingsubcontent">
                            Encash the pocket money for exciting gifts like a trip to USA, tablet, Ipad, cricket Kit &amp; lots of exciting gifts
                        </div>
                        <div class="learnearnheadingwarn">
                            *Only available on App
                        </div>
                    </div>
                </div>

                <div class="form-group learnearnstepspanel">
                    <div class="form-group text-center learnearnstepsheading">
                        Easy Steps to Follow
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="learnearnstepscolumn">
                            <div class="learnearnfirstcolumn">
                                1
                            </div>
                            <img class="stepImage" src="~/svg%20files/downlode-01.svg">
                        </div>
                        <div>
                            <div class="learnearnsecondcolumn">
                                Download App
                            </div>
                            <div class="learnearnsecondcolumncontent">
                                Download the app and sign up
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-4 col-xs-12">
                        <div class="learnearnstepscolumn">
                            <div class="learnearnfirstcolumn">
                                2
                            </div>
                            <img class="stepImage" src="~/svg%20files/learn-01.svg">
                        </div>
                        <div>
                            <div class="learnearnsecondcolumn">
                                Start Learning
                            </div>
                            <div class="learnearnsecondcolumncontent">
                                You earn coins for every video you watch, every correct answer you give, every doubt you ask and every friend you refer to.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="learnearnstepscolumn">
                            <div class="learnearnfirstcolumn">
                                3
                            </div>
                            <img class="stepImage" src="~/svg%20files/encash-01.svg">
                        </div>
                        <div>
                            <div class="learnearnsecondcolumn">
                                Encash Coins
                            </div>
                            <div class="learnearnsecondcolumncontent">
                                All the coins you earn, encash them to choose from a series of options like T-Shirt, Cricket Kit, iPad, Laptop and USA trip
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:25px;"></div>

                </div>

            </div>

        </div>
    </section>
    <div class="clearfix"></div>
  
    <div class="middlepanel4main">
        <div class="form-group">
            
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:10%;padding-top: 60px;">
                <div style="color:#1e1e1e; font-size:24px;text-transform:uppercase; ">
                    <span style="font-weight:700;">Book a FREE</span> <span> Counselling Session</span>
                </div>
                <div class="middlepanel4subheading" style="margin-top: 10px; margin-bottom: 10px;">
                    Avail a free expert counselling session to get advices on how to grow in academics by understanding your weak areas.
                </div>
                <div class="clearfix" style="margin-bottom: 30px; margin-top: 10px;"></div>
                <div>
                    <button id="freedemo">Book a Session</button>
                </div>
                <div class="clearfix" style="margin-bottom: 10px;"></div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: left !important;">
                <img src="~/svg%20files/Counselling.svg" style="width:100%;" />
            </div>
        </div>
    </div>
</div>
<style>
    .stepImage {
        width: 44%;
        height: 110px;
    }

  
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="build/js/intlTelInput.js"></script>
<script src="~/ContentWebsite/build/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<script src="~/ContentWebsite/Counter-Up-master/jquery.counterup.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>