﻿@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}

<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/ContentWebsite/CSS/PricingStyle.css" rel="stylesheet" />
<script src="~/js/plugins/jquery/jquery.min.js"></script>

<style>
    .headings_h4 {
        font-weight: 700;
        color: #051c37;
        font-size: 22px;
    }

    .lnklearn {
        cursor: pointer;
    }

    .btntopbeginner {
        width: 320px;
        height: 60px;
        border-radius: 12px;
        /* padding: 10px 19% 10px 19%; */
        font-size: 17px;
        font-weight: 600;
        color: white;
        background: #e7747d;
    }

    .modaltopheading {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #4c4c4c;
        max-width: 600px;
        margin: 0 auto;
    }

    .modalcirclelist {
        border-radius: 50%;
        height: 42px;
        width: 37px;
        background-color: #de305b;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .modalcircletext {
        color: #4c4c4c;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .modalhighlighttext {
        font-weight: 700;
        color: #7ed321;
        font-size: 12px;
        letter-spacing: .86px;
        text-transform: uppercase;
    }

    .modalicons {
        width: 50px;
        height: 50px;
        border-radius: 6px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: 1px solid #d9d9d9;
        color: #9e9e9e;
    }

    .modaliconstext {
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
        height: 28px;
        text-align: center;
        width: 50px;
    }

    .pricingouterdiv {
        border-radius: 5px;
        background: linear-gradient(135deg,#e7747d,#e1656a);
        /*border: 1px solid #e7747d;*/
    }

    .pricingbignnerbackcolor {
        background-color: #e05d63;
        border-radius: 5px 5px 0 0;
    }

    .pricingheading {
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pricingheadingprice {
        font-size: 11px;
        font-weight: 600;
        margin-top: 27px;
        margin-bottom: 20px;
    }

    .pricingmainheadingprice {
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
        margin-left: 2px;
    }

    .pricingfooterdiv {
        padding: 10px 10px 0px 10px;
        background-color: white;
        margin-bottom: 0px !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .pricingfooterlearn {
        border-radius: 50%;
        height: 40px;
        background-color: #de305b;
        float: left;
        padding: 2px;
        margin-top: 9px;
    }

    .pricingfooterlearntext {
        float: left;
        text-align: left;
        color: #4c4c4c;
        font-size: 14px;
        font-weight: 600;
        padding: 6px;
    }

    .pricingfootertest {
        border-radius: 50%;
        height: 40px;
        background-color: #1d9fd2;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .pricingfooterdoubts {
        border-radius: 50%;
        height: 40px;
        background-color: #ff9844;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .pricingfootermentor {
        border-radius: 50%;
        height: 40px;
        background-color: #b3c642;
        float: left;
        padding: 8px;
        margin-top: 9px;
    }

    .modalouterbox {
        padding: 10px 20px 5px;
        border: 1px solid;
        border-radius: 6px;
        border-left: 10px solid #f8ae40;
        color: #4c4c4c;
        cursor: pointer;
    }

    .modalouterboxheading {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -.54px;
        font-weight: 700;
        margin-bottom: 0px !important;
    }

    .pricingexpertoutercolor {
        border-radius: 5px;
        background: linear-gradient(135deg,#f8ae40,#f7a54d);
        /*border: 1px solid #f4983a;*/
    }

    .pricingexpertbackcolor {
        background-color: #f4983a;
        border-radius: 5px 5px 0 0;
    }

    .pricingprooutercolor {
        border-radius: 5px;
        background: linear-gradient(135deg,#39b8af,#20aa9a);
        /*border: 1px solid #24a393;*/
    }

    .pricingprobackcolor {
        background-color: #24a393;
        border-radius: 5px 5px 0 0;
    }

    .pricingchampouterline {
        border-radius: 5px;
        background: linear-gradient(135deg,#5aaeef,#4e99e4);
        /*border: 1px solid #4493e6;*/
    }

    .pricingchampouterbackcolor {
        background-color: #4493e6;
        border-radius: 5px 5px 0 0;
    }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
       // $('#popup_Buy_Package').fadeIn(300);
        $('.btnbuynow').click(function () {
            debugger;
            $('#popup_learn_more').fadeOut(300);
            $('#popup_tryforfree').fadeIn(300);
        })
        $('#btnexpert').click(function () {
            debugger;

            $('#popup_tryforfree').fadeIn(300);
        })
        $('#btnpro').click(function () {
            debugger;

            $('#popup_tryforfree').fadeIn(300);
        })
        $('#btnchampion').click(function () {
            debugger;

            $('#popup_tryforfree').fadeIn(300);
        })

        //$('.lnklearn').click(function () {
        //    $('#popup_learn_more').fadeIn(300);
        //})
        $('#learnclosebtn2').click(function () {
            $('#popup_learn_more').fadeOut(300);
        })
    })
</script>
<style>
    .planspanel {
        background-color: #e5dfed;
        border-left: 4px solid;
        border-color: #1c1086;
        padding: 3px 11px 3px 11px;
    }

    .planbuynow {
        padding: 7px 17px 7px 17px;
        background-color: #8e91e3;
      
        color: white;
    }
</style>





<div class="modal" id="popup_learn_more">
    <div class="modal-content" style="width: 1000px;height: 630px;margin-left:11%;margin-top:2%;">
        <div class="modal-header" style="padding-bottom:0px !important;">
            <span class="close-popup c-hover" id="learnclosebtn2"><i class="ti-close"></i></span>
            <div class="form-group text-center" style="margin-left: 34%;margin-bottom:0px !important;">
                <button class="btntopbeginner">
                    <span id="lblmodalheading"></span>
                    <br />
                    <img src="~/svg%20files/Rupees.svg" /><span id="lblmodalheadingprice"></span>
                </button>
            </div>
        </div>
        <div class="modal-body" style="height:500px;overflow-y:scroll;">

            <div class="form-group text-center modaltopheading">
                Master all concepts with unlimited access to the learn module.
            </div>
            <div class="clearfix" style="margin-bottom:20px;"></div>
            <div class="form-group" id="modallearn">
                <div class="col-md-1" style="    margin-right: -2%;">
                    <div class="modalcirclelist">
                        <img src="~/svg%20files/Learncircle.svg" />
                    </div>
                </div>
                <div class="col-md-6" style="float:left;text-align:left;padding:6px;">
                    <div class="modalcircletext">Learn</div>
                    <div class="modalhighlighttext"><label id="lbllearnactive"></label></div>
                    <p style="line-height: 1.6;">Whether you are starting a new chapter or revising an old one, Toppr's video lectures and practice questions are designed to match your unique skill set. It feels magical!</p>
                </div>
                <div class="col-md-5" style="text-align:center;">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Goals.svg" />
                            </div>
                            <div class="modaliconstext">Goals</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Video_Lectures.svg" />
                            </div>
                            <div class="modaliconstext">
                                Video Lectures
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Question_Sets.svg" />
                            </div>
                            <div class="modaliconstext">Question Sets</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">

                                <img src="~/svg%20files/Concepts.svg" />
                            </div>
                            <div class="modaliconstext">Concepts</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Leader_board.svg" />
                            </div>
                            <div class="modaliconstext">Leader-board</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Crash_Course.svg" />
                            </div>
                            <div class="modaliconstext">Crash Course</div>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom:40px;"></div>
            <div class="form-group" id="modaltest">
                <div class="col-md-1" style="    margin-right: -2%;">
                    <div class="modalcirclelist" style="background-color:#1d9fd2;">
                        <img src="~/svg%20files/Testcircle.svg" />
                    </div>

                </div>
                <div class="col-md-6" style="float:left;text-align:left;padding:6px;">
                    <div class="modalcircletext">Tests</div>
                    <div class="modalhighlighttext"><label id="lblexpertactive"></label></div>
                    <p style="line-height: 1.6;">Whether you are starting a new chapter or revising an old one, Toppr's video lectures and practice questions are designed to match your unique skill set. It feels magical!</p>
                </div>
                <div class="col-md-5" style="text-align:center;">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Goals.svg" />
                            </div>
                            <div class="modaliconstext">Goals</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Video_Lectures.svg" />
                            </div>
                            <div class="modaliconstext">
                                Video Lectures
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Question_Sets.svg" />
                            </div>
                            <div class="modaliconstext">Question Sets</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">

                                <img src="~/svg%20files/Concepts.svg" />
                            </div>
                            <div class="modaliconstext">Concepts</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Leader_board.svg" />
                            </div>
                            <div class="modaliconstext">Leader-board</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Crash_Course.svg" />
                            </div>
                            <div class="modaliconstext">Crash Course</div>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom:40px;"></div>
            <div class="form-group" id="modaldoubt">
                <div class="col-md-1" style="    margin-right: -2%;">
                    <div class="modalcirclelist" style="background-color:#4745ef;">
                        <img src="~/svg%20files/Doubtscircle.svg" />
                    </div>
                </div>
                <div class="col-md-6" style="float:left;text-align:left;padding:6px;">
                    <div class="modalcircletext">Doubts</div>
                    <div class="modalhighlighttext"><label id="lbldoubtactive"></label></div>
                    <p style="line-height: 1.6;">Whether you are starting a new chapter or revising an old one, Toppr's video lectures and practice questions are designed to match your unique skill set. It feels magical!</p>
                </div>
                <div class="col-md-5" style="text-align:center;">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Goals.svg" />
                            </div>
                            <div class="modaliconstext">Goals</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Video_Lectures.svg" />
                            </div>
                            <div class="modaliconstext">
                                Video Lectures
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Question_Sets.svg" />
                            </div>
                            <div class="modaliconstext">Question Sets</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">

                                <img src="~/svg%20files/Concepts.svg" />
                            </div>
                            <div class="modaliconstext">Concepts</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Leader_board.svg" />
                            </div>
                            <div class="modaliconstext">Leader-board</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Crash_Course.svg" />
                            </div>
                            <div class="modaliconstext">Crash Course</div>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom:40px;"></div>
            <div class="form-group" id="modalmentor">
                <div class="col-md-1" style="    margin-right: -2%;">
                    <div style="border-radius:50%;height:42px;width:37px;background-color:#13bfb1;float:left;padding:8px;margin-top: 9px;">
                        <img src="~/svg%20files/Mentorscircle.svg" />
                    </div>
                </div>
                <div class="col-md-6" style="float:left;text-align:left;padding:6px;">
                    <div class="modalcircletext">Mentors</div>
                    <div class="modalhighlighttext"><label id="lblmentoractive"></label></div>
                    <p style="line-height: 1.6;">Whether you are starting a new chapter or revising an old one, Toppr's video lectures and practice questions are designed to match your unique skill set. It feels magical!</p>
                </div>
                <div class="col-md-5" style="text-align:center;">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Goals.svg" />
                            </div>
                            <div class="modaliconstext">Goals</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Video_Lectures.svg" />
                            </div>
                            <div class="modaliconstext">
                                Video Lectures
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Question_Sets.svg" />
                            </div>
                            <div class="modaliconstext">Question Sets</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">

                                <img src="~/svg%20files/Concepts.svg" />
                            </div>
                            <div class="modaliconstext">Concepts</div>
                        </div>
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Leader_board.svg" />
                            </div>
                            <div class="modaliconstext">Leader-board</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="modalicons">
                                <img src="~/svg%20files/Crash_Course.svg" />
                            </div>
                            <div class="modaliconstext">Crash Course</div>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom:40px;"></div>
            <div class="form-group text-center modaltopheading">
                Also look at these plans
            </div>
            <div class="clearfix" style="margin-bottom:40px;"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group modalouterbox linkbeginner" style="border-color:#e05d63;">
                        <div class="clearfix"></div>
                        <div class="col-md-9">
                            <div class="form-group modalouterboxheading"> Beginner</div>
                            <div class="clearfix" style="margin-bottom:1px;"></div>
                            <div class="form-group" style="font-size: 14px;line-height: 20px;">
                                <img src="~/svg files/price15x15.svg" />
                                <span>1800 / year</span>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group" style="font-size:14px;margin-right:10px;">
                                Be ready for any exam with Toppr’s learn and test modules.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3" style="padding-top: 10%; text-align: right;font-size:30px;">
                            <span>></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group modalouterbox linkexpert" style="border-color:#f8ae40;">
                        <div class="clearfix"></div>
                        <div class="col-md-9">
                            <div class="form-group modalouterboxheading"> Expert</div>
                            <div class="clearfix" style="margin-bottom:1px;"></div>
                            <div class="form-group" style="font-size: 14px;line-height: 20px;">
                                <img src="~/svg files/price15x15.svg" />
                                <span>3500 / year</span>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group" style="font-size:14px;margin-right:10px;">
                                Be ready for any exam with Toppr’s learn and test modules.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3" style="padding-top: 10%; text-align: right;font-size:30px;">
                            <span>></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom:15px;"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group modalouterbox linkpro" style="border-color:#24a393;">
                        <div class="clearfix"></div>
                        <div class="col-md-9">
                            <div class="form-group modalouterboxheading"> Pro</div>
                            <div class="clearfix" style="margin-bottom:1px;"></div>
                            <div class="form-group" style="font-size: 14px;line-height: 20px;">
                                <img src="~/svg files/price15x15.svg" /> <span>6800 / year</span>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group" style="font-size:14px;margin-right:10px;">
                                Be ready for any exam with Toppr’s learn and test modules.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3" style="padding-top: 10%; text-align: right;font-size:30px;">
                            <span>></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group modalouterbox linkchamp" style="border-color:#4493e6;">
                        <div class="clearfix"></div>
                        <div class="col-md-9">
                            <div class="form-group modalouterboxheading"> Champion</div>
                            <div class="clearfix" style="margin-bottom:1px;"></div>
                            <div class="form-group" style="font-size: 14px;line-height: 20px;">
                                <img src="~/svg files/price15x15.svg" />
                                <span>18500 / year</span>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group" style="font-size:14px;margin-right:10px;">
                                Be ready for any exam with Toppr’s learn and test modules.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3" style="padding-top: 10%; text-align: right;font-size:30px;">
                            <span>></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div class="col-md-9" style="text-align:left;">
                    <div style="opacity: .4; text-decoration: line-through;">
                        <img src="~/svg files/price15x15.svg" /> <span><label id="modalfooterprice"></label></span>
                    </div>
                    <div style="font-size: 36px; line-height: 30px; font-weight: 700;margin-left: 3px;color: #4c4c4c;">

                        <img src="~/svg%20files/price25x25.svg" /> <span><label id="lbldiscountprice"></label></span>&nbsp;<span style="font-size:16px; font-weight:200;">For 1 year upto August 2019</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btnbuynow">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>










<div class="bodycontent" style="background-image:url('../ContentWebsite/students/mainbg1.png');background-size:cover;">
    <div class="pricingtopbarspace"></div>

    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12" style="color:white;">
            <div class="form-group" style="color:black;">
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
                <div class="col-md-1 col-sm-1 col-xs-12 text-center" style="margin-top: 6px; font-weight: 600;color:white;">
                    Board
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-left" style="margin-left:0px;">
                    <select id="ddlboard" class="form-control" style="height:34px;"></select>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12 text-center" style="margin-top: 6px; font-weight: 600;color:white;">
                    Class
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-left" style="margin-left:0px;">
                    <select id="ddlclass" class="form-control" style="height:34px;"></select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
            </div>
            <div class="clearfix" style="margin-bottom:30px;"></div>
            <div class="form-group" id="pricingcategory">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group pricingouterdiv">
                        <div class="form-group pricingbignnerbackcolor">
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Beginner</div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                <span><label id="lblBeginnerprice"></label></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group text-left" style="padding:0px 10px 0px 10px; ">
                            <div style="text-decoration: line-through;color:white;">
                                <img src="~/svg files/price15x15.svg" />
                                <span><label id="lblBeginnerprice1"></label></span>
                            </div>

                        </div>
                        <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                            <div>
                                <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                <span class="pricingmainheadingprice"><label id="lblBeginnerdiscountprice"></label></span>
                            </div>
                        </div>
                        <div style="padding:0px 10px 0px 15px;font-size: 11px; ">
                            <span>For <label id="lblBeginnermonth"></label> months</span>
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="form-group pricingfooterdiv">
                            <div class="form-group" style="margin-bottom:0px !important;">
                                <div id="divbeginnerlearn">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                        <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divbeginnertests">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootertest" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Tests
                                            <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divbeginnerdoubts">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterdoubts" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Doubts
                                            <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divbeginnermentor">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootermentor" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Mentor
                                            <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <button class="btnbuynow" id="btnbeginnerbuynow">BUY NOW</button>
                                </div>
                                <div class="clearfix"></div>
                                @* <div class="form-group text-center">
                                    <a class="lnklearn linkbeginner" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                </div>*@
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group pricingexpertoutercolor">
                        <div class="form-group pricingexpertbackcolor">
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Expert</div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                <span><label id="lblexpertprice"></label></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group text-left" style="padding:0px 10px 0px 10px; ">

                            <div style="text-decoration: line-through;color:white;text-align:left;">
                                <img src="~/svg files/price15x15.svg" />
                                <span><label id="lblexpertprice1"></label></span>
                            </div>

                        </div>
                        <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                            <div>
                                <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                <span class="pricingmainheadingprice"><label id="lblexpertdiscountprice"></label></span>
                            </div>
                        </div>
                        <div style="padding:0px 10px 0px 15px;font-size: 11px; ">
                            <span>For <label id="lblexpertmonth"></label> months</span>
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="form-group pricingfooterdiv">
                            <div class="form-group" style="margin-bottom:0px !important;">
                                <div id="divexpertlearn">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                        <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divexperttests">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootertest" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Tests
                                            <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divexpertdoubts">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterdoubts" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Doubts
                                            <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divexpertmentor">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootermentor" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Mentor
                                            <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                        </li>
                                    </ul>
                                </div>


                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <button class="btnbuynow" id="btnexpertbuynow">BUY NOW</button>
                                </div>
                                <div class="clearfix"></div>
                                @*<div class="form-group text-center">
                                    <a class="lnklearn linkexpert" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                </div>*@
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group pricingprooutercolor">
                        <div class="form-group pricingprobackcolor">
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Pro</div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                <span><label id="lblproprice"></label></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" style="padding:0px 10px 0px 10px; ">

                            <div style="text-decoration: line-through;color:white;text-align:left;">
                                <img src="~/svg files/price15x15.svg" />
                                <span><label id="lblproprice1"></label></span>
                            </div>

                        </div>
                        <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                            <div>
                                <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                <span class="pricingmainheadingprice"><label id="lblprodiscountprice"></label></span>
                            </div>
                        </div>
                        <div style="padding:0px 10px 0px 15px;font-size: 11px; ">
                            <span>For <label id="lblpromonth"></label> months</span>
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="form-group pricingfooterdiv">
                            <div class="form-group" style="margin-bottom:0px !important;">
                                <div id="divprolearn">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                        <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divprotests">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootertest" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Tests
                                            <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divprodoubts">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterdoubts" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Doubts
                                            <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divpromentor">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootermentor" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Mentor
                                            <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                        </li>
                                    </ul>
                                </div>






                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <button class="btnbuynow" id="btnprobuynow">BUY NOW</button>
                                </div>
                                <div class="clearfix"></div>
                                @*<div class="form-group text-center">
                                    <a class="lnklearn linkpro" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                </div>*@
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group pricingchampouterline">
                        <div class="form-group pricingchampouterbackcolor">
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pricingheading">Champion</div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right pricingheadingprice">
                                <img src="~/svg%20files/headingpricesymbol.svg" style="height: 12px; width: 12px;" />
                                <span><label id="lblchampprice"></label></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" style="padding:0px 10px 0px 10px; ">

                            <div style="text-decoration: line-through;color:white;text-align:left;">
                                <img src="~/svg files/price15x15.svg" />
                                <span><label id="lblchampprice1"></label></span>
                            </div>

                        </div>
                        <div class="form-group" style="padding:0px 10px 0px 10px;margin-bottom:0px !important; ">
                            <div>
                                <img src="~/svg%20files/priceinwhite.svg" style="margin-top: -8px;" />
                                <span class="pricingmainheadingprice"><label id="lblchampdiscountprice"></label></span>
                            </div>
                        </div>
                        <div style="padding:0px 12px 0px 16px;font-size: 11px; ">
                            <span>For <label id="lblchampmonth"></label> months</span>
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        @*<div class="showcontent" style="border-radius:12px;">
                                <div class=" form-group maincontents">
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="contentmainheading">

                                    </div>
                                    <div class="contentsubheading">

                                    </div>
                                </div>
                                <div class="col-md-5">

                                </div>
                                <div class="clearfix"></div>
                            </div>
                                <div class="mainpaneldata" style="padding:10px 2px 10px 2px;border:1px solid #d8d5d5;">

                                </div>
                                </div>*@
                        <div class="form-group pricingfooterdiv">
                            <div class="form-group" style="margin-bottom:0px !important;">
                                <div id="divchamplearn">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterlearn" style="width:36px;"><img src="~/ContentWebsite/PRICING/learn.svg" style="width: 34px;" /></li>
                                        <li class="pricingfooterlearntext">Learn<p style="line-height: 1.4;font-weight: 500;">Free access to all learning videos.</p></li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divchamptests">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootertest" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/test.svg" style="width: 25PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Tests
                                            <p style="line-height: 1.4;font-weight: 500;">Access to all tests and get the Analytics.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divchampdoubts">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfooterdoubts" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/doubt.svg" style="width: 15PX; margin-left: 3PX;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Doubts
                                            <p style="line-height: 1.4;font-weight: 500;">Ask infinite Doubts 24x7.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div id="divchampmentor">
                                    <ul style="display:flex;list-style:none;">
                                        <li class="pricingfootermentor" style="width:36px;">
                                            <img src="~/ContentWebsite/PRICING/mentor.svg" style="width: 30PX;MARGIN-LEFT: -5PX; margin-top: -2px;" />
                                        </li>
                                        <li class="pricingfooterlearntext">
                                            Mentor
                                            <p style="line-height: 1.4;font-weight: 500;">PERSONAL MENTOR to reach your Goal.</p>
                                        </li>
                                    </ul>
                                </div>




                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <button class="btnbuynow" id="btnchampionbuynow">BUY NOW</button>
                                </div>
                                <div class="clearfix"></div>
                                @*<div class="form-group text-center">
                                    <a class="lnklearn linkchamp" style="text-decoration:none;font-size:12px;font-weight:700; color:#4a90e2;">LEARN MORE</a>
                                                                </div>*@
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom:30px;"></div>
        </div>
    </div>
</div>
<div class="clearfix" style="margin-bottom:4%;"></div>
<div class="container" style="text-align:justify; background-color:white; margin-bottom: 40px;">
    <div class="form-group">
        <div class="col-md-6" style="color:#55bbea;font-size:32px;font-weight: 700;letter-spacing: -1.5px;">FAQs</div>
        <p class="col-md-6 text-right" style="font-size: 18px; color: #b3bbc3;">@*<a href="#">Got questions for us?</a>*@</p>
    </div>
    <div class="clearfix" style="margin-bottom:20px;"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                Can I use DIGICHAMPS for FREE?
            </h4>
            <p>
                Yes, Signing up for DIGICHAMPS is absolutely FREE. Infact, you get a free trial period of 30 days to watch videos of your favourite chapters, ask doubts and appear tests.
            </p>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                What is a Beginner Package?

            </h4>
            <p>A beginner package only provides you with access to our videos once your trial package is over. You can watch all the videos of all your chapters however you can't appear tests or ask doubts. </p>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                What is an Expert Package?

            </h4>
            <p>An Expert Package provides you with access to learn module as well as the test module. In the test module you get access to personalized analysis and feedback tips. This package is time bound but you can access it for all the chapters. </p>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                What is a Pro Package?

            </h4>
            <p>Pro package provides you with benefits of Beginner and Expert Package along with the provision to ask unlimited doubts 24x7. Your doubts will be solved immediately by our super-talented DigiGurus who are right there for you.</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                What is a Champion Package?

            </h4>
            <p>It is the ultimate package you need to make yourself a champion. It has all the perks of Beginner, Expert, Pro Package along with that we provide a personalized mentor for you.</p>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                Who is a Personal Mentor?

            </h4>
            <p>A trainer and certified teacher who works with you regularly to identify your weak areas, helps you with plans and strategies to convert them into your strength and ultimately ensure you growth. </p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                Can I get a demo before buying packages?

            </h4>
            <p>Absolutely. Please call us on our toll-free number or write to us or directly book a session for yourself and we will be right there with you along with our expert counselor to help you understand how you can benefit from the program. </p>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:20px;">
            <h4 class="headings_h4">
                Do I get any extra discount for buying a package?

            </h4>
            <p>We have a readily available discount for you which reflects on your screen. However if you want more, you can try your luck by downloading our app, scratching a gift card and encashing the same for more discount. </p>
        </div>
    </div>
</div>

<div class="clearfix" style="margin-bottom:20px;"></div>


<script>
    $(document).ready(function () {
        GetBoard();
        $('#ddlclass').change(function () {
            GetPricings();
        })

        function GetPricings() {
            debugger;
            $('#divloader').fadeIn(300);
            var bid = $('#ddlboard').val();
            var cid = $('#ddlclass').val();
            $.get('/Home/GetPackageCategory?bid=' + bid + '&cid=' + cid + '', function (data) {
                if (data.length > 0) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].PackageType_ID == 1) {
                            $('#lblBeginnerprice').html(data[i].Price + ' / year');
                            $('#lblBeginnerprice1').html(data[i].Price + ' / year');
                            $('#lblBeginnerprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblBeginnerdiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];

                            $('#lblBeginnermonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divbeginnerlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divbeginnertests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divbeginnerlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divbeginnertests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divbeginnerdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divbeginnerdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divbeginnermentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divbeginnermentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }
                        if (data[i].PackageType_ID == 2) {
                            $('#lblexpertprice').html(data[i].Price + ' / year');
                            $('#lblexpertprice1').html(data[i].Price + ' / year');
                            $('#lblexpertprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblexpertdiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                            $('#lblexpertmonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divexpertlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divexperttests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divexpertlearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divexperttests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divexpertdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divexpertdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divexpertmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divexpertmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }
                        if (data[i].PackageType_ID == 4) {
                            $('#lblproprice').html(data[i].Price + ' / year');
                            $('#lblproprice1').html(data[i].Price + ' / year');
                            $('#lblproprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblprodiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                            $('#lblpromonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divprolearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divprotests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divprolearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divprotests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divprodoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divprodoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divpromentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divpromentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }
                        if (data[i].PackageType_ID == 6) {
                            $('#lblchampprice').html(data[i].Price + ' / year');
                            $('#lblchampprice1').html(data[i].Price + ' / year');
                            $('#lblchampprice1').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lblchampdiscountprice').html(discount);
                            var month = (data[i].Subscripttion_Period / 30).toString().split('.')[0];
                            $('#lblchampmonth').html(month);
                            if (data[i].Is_Video == true) {
                                $('#divchamplearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divchamptests').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            else {
                                $('#divchamplearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#divchamptests').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#divchampdoubts').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divchampdoubts').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#divchampmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                            }
                            else {
                                $('#divchampmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                            }
                        }
                       
                    }
                    $('#divloader').fadeOut(300);
                }
                else {
                    $('#divloader').fadeOut(300);
                }
            })
        }
        function GetBoard() {
            $('#divloader').fadeIn(300);
            $.get("../Home/GetBoard", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    Getclass();
                }
                else {
                    $('#ddlboard').empty();
                    $('#divloader').fadeOut(300);
                }
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
        $('#ddlboard').change(function () {
            Getclass();
        })
        function Getclass() {
            $('#divloader').fadeIn(300);
            if ($('#ddlboard').val() != '0') {
                $.get("../Home/GetClass?id=" + $('#ddlboard').val() + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');
                        }
                        GetPricings();
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#divloader').fadeOut(300);
                    }
                }).fail(function (xhr) {
                    //alert(xhr.responseText); // or whatever
                });
            }
        }
        $('#btnbeginnerbuynow').click(function () {           
            $('#hdnpakageid').val(1);
            $('#popup_tryforfree').fadeIn(300);
        })
        $('#btnexpertbuynow').click(function () {
            $('#hdnpakageid').val(2);
            $('#popup_tryforfree').fadeIn(300);
        })
        $('#btnprobuynow').click(function () {
            $('#hdnpakageid').val(3);
            $('#popup_tryforfree').fadeIn(300);
        })
        $('#btnchampionbuynow').click(function () {
            $('#hdnpakageid').val(4);
            $('#popup_tryforfree').fadeIn(300);
        })
        $('.linkbeginner').click(function () {
            debugger;
            $('#divloader').fadeIn(300);
            var bid = $('#ddlboard').val();
            var cid = $('#ddlclass').val();
            $.get('/Home/GetPackageCategory?bid=' + bid + '&cid=' + cid + '', function (data) {
                if (data.length > 0) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].PackageType_ID == 1) {
                            $('#lblmodalheading').html('Beginner')
                            $('#modalfooterprice').html(data[i].Price + ' / year');
                            $('#lblmodalheadingprice').html(data[i].Price + ' / year');
                            $('#modalfooterprice').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lbldiscountprice').html(discount);

                            if (data[i].Is_Video == true) {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Not Included');
                                $('#lbllearnactive').css({ "opacity": "1" });
                                $('#lblexpertactive').css({ "opacity": "0.4" });
                            }
                            else {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Included');
                                $('#lblexpertactive').css({ "opacity": "1" });
                                $('#lbllearnactive').css({ "opacity": "1" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#modaldoubt').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbldoubtactive').html('Included');
                                $('#lbldoubtactive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modaldoubt').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbldoubtactive').html('Not Included');
                                $('#lbldoubtactive').css({ "opacity": "0.4" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#modalmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lblmentoractive').html('Included');
                                $('#lblmentoractive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modalmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lblmentoractive').html('Not Included');
                                $('#lblmentoractive').css({ "opacity": "0.4" });
                            }
                            $('#popup_learn_more').fadeIn(300);
                            
                        }
                        
                    }
                    $('#divloader').fadeOut(300);
                }
                else {
                    $('#divloader').fadeOut(300);
                }
            })
        })
        $('.linkexpert').click(function () {
            $('#divloader').fadeIn(300);
            var bid = $('#ddlboard').val();
            var cid = $('#ddlclass').val();
            $.get('/Home/GetPackageCategory?bid=' + bid + '&cid=' + cid + '', function (data) {
                if (data.length > 0) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].PackageType_ID == 2) {
                            $('#lblmodalheading').html('Expert')
                            $('#modalfooterprice').html(data[i].Price + ' / year');
                            $('#lblmodalheadingprice').html(data[i].Price + ' / year');
                            $('#modalfooterprice').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lbldiscountprice').html(discount);

                            if (data[i].Is_Video == true) {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Not Included');
                                $('#lbllearnactive').css({ "opacity": "1" });
                                $('#lblexpertactive').css({ "opacity": "0.4" });
                            }
                            else {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Included');
                                $('#lblexpertactive').css({ "opacity": "1" });
                                $('#lbllearnactive').css({ "opacity": "1" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#modaldoubt').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbldoubtactive').html('Included');
                                $('#lbldoubtactive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modaldoubt').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbldoubtactive').html('Not Included');
                                $('#lbldoubtactive').css({ "opacity": "0.4" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#modalmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lblmentoractive').html('Included');
                                $('#lblmentoractive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modalmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lblmentoractive').html('Not Included');
                                $('#lblmentoractive').css({ "opacity": "0.4" });
                            }
                            $('#popup_learn_more').fadeIn(300);
                        }
                    }
                    $('#divloader').fadeOut(300);
                }
                else {
                    $('#divloader').fadeOut(300);
                }
            })
        })
        $('.linkpro').click(function () {
            $('#divloader').fadeIn(300);
            var bid = $('#ddlboard').val();
            var cid = $('#ddlclass').val();
            $.get('/Home/GetPackageCategory?bid=' + bid + '&cid=' + cid + '', function (data) {
                if (data.length > 0) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].PackageType_ID == 4) {
                            $('#lblmodalheading').html('Pro')
                            $('#modalfooterprice').html(data[i].Price + ' / year');
                            $('#lblmodalheadingprice').html(data[i].Price + ' / year');
                            $('#modalfooterprice').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lbldiscountprice').html(discount);

                            if (data[i].Is_Video == true) {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Not Included');
                                $('#lbllearnactive').css({ "opacity": "1" });
                                $('#lblexpertactive').css({ "opacity": "0.4" });
                            }
                            else {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Included');
                                $('#lblexpertactive').css({ "opacity": "1" });
                                $('#lbllearnactive').css({ "opacity": "1" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#modaldoubt').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbldoubtactive').html('Included');
                                $('#lbldoubtactive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modaldoubt').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbldoubtactive').html('Not Included');
                                $('#lbldoubtactive').css({ "opacity": "0.4" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#modalmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lblmentoractive').html('Included');
                                $('#lblmentoractive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modalmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lblmentoractive').html('Not Included');
                                $('#lblmentoractive').css({ "opacity": "0.4" });
                            }
                            $('#popup_learn_more').fadeIn(300);
                        }
                    }
                    $('#divloader').fadeOut(300);
                }
                else
                {
                    $('#divloader').fadeOut(300);
                }
            })
        })
        $('.linkchamp').click(function () {
            $('#divloader').fadeIn(300);
            var bid = $('#ddlboard').val();
            var cid = $('#ddlclass').val();
            $.get('/Home/GetPackageCategory?bid=' + bid + '&cid=' + cid + '', function (data) {
                if (data.length > 0) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].PackageType_ID == 6) {
                            $('#lblmodalheading').html('Champion')
                            $('#modalfooterprice').html(data[i].Price + ' / year');
                            $('#lblmodalheadingprice').html(data[i].Price + ' / year');
                            $('#modalfooterprice').css({ "text-decoration": "line-through" })
                            var discount = (data[i].Price * 80) / 100;
                            $('#lbldiscountprice').html(discount);

                            if (data[i].Is_Video == true) {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Not Included');
                                $('#lbllearnactive').css({ "opacity": "1" });
                                $('#lblexpertactive').css({ "opacity": "0.4" });
                            }
                            else {
                                $('#modallearn').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#modaltest').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbllearnactive').html('Included');
                                $('#lblexpertactive').html('Included');
                                $('#lblexpertactive').css({ "opacity": "1" });
                                $('#lbllearnactive').css({ "opacity": "1" });
                            }
                            if (data[i].Is_Doubt == true) {
                                $('#modaldoubt').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lbldoubtactive').html('Included');
                                $('#lbldoubtactive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modaldoubt').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lbldoubtactive').html('Not Included');
                                $('#lbldoubtactive').css({ "opacity": "0.4" });
                            }
                            if (data[i].Is_Mentor == true) {
                                $('#modalmentor').css({ "opacity": "1", "-webkit-filter": "grayscale(0%)", "filter": "grayscale(0%)" });
                                $('#lblmentoractive').html('Included');
                                $('#lblmentoractive').css({ "opacity": "1" });
                            }
                            else {
                                $('#modalmentor').css({ "opacity": "0.4", "-webkit-filter": "grayscale(100%)", "filter": "grayscale(100%)" });
                                $('#lblmentoractive').html('Not Included');
                                $('#lblmentoractive').css({ "opacity": "0.4" });
                            }
                            $('#popup_learn_more').fadeIn(300);
                        }
                    }
                    $('#divloader').fadeOut(300);
                }
                else
                {
                    $('#divloader').fadeOut(300);
                }
            })
        })
        $('.showcontent').click(function () {
            $('#divloader').fadeIn(300);
            $.get('/Home/GetPackages', function (data) {
                if (data.length > 0) {
                    var tr = '';
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Packagecategory_Id == 4) {
                            tr += '<div class="clearfix"></div>';
                            tr += '<div class="form-group tab active" style="cursor:pointer;" id="' + data[i].PackageType_Id + '">';
                            tr += '<div class="col-md-6 contentdata">';
                            tr += '<div>' + data[i].PackageType_Name + '</div>';
                            tr += '<div>For 8 class</div>';
                            tr += '</div>';
                            tr += '<div class="col-md-5 text-right" style="padding-top: 13px;">';
                            tr += '<div class="outercircle activeouter" style="width:18px; height:18px; border-radius:50%;border: 1px solid #000000; float:right;">';
                            tr += '<div class="innercircle activeinner" style="border-radius:50%;width:16px;height:16px;  border:2px solid white;"></div>';
                            tr += '</div>';
                            tr += '</div>';
                            tr += '<div class="clearfix"></div></div>';
                        }
                    }
                    $('#divloader').fadeOut(300);
                }
                else
                {
                    $('#divloader').fadeOut(300);
                }
            })
        })
    })
</script>

