﻿@{
    ViewBag.Title = "Schools";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<style>
    

   

    .programpanel {
        border-radius: 14px;
        /*box-shadow: -1px 2px 4px 0px #ebe1e1;*/
        /*border: 1px solid hsla(244, 19%, 25%, 0.2);*/
        padding: 50px 18px 40px 18px;
        /*background-color: white;*/
        background-image: url(../svg%20files/programbg.svg);
        background-size: cover;
    }

    .programpanelcontent {
        margin-top: 23px;
        margin-bottom: 30px;
        font-size: 55px;
        line-height: 22px;
        letter-spacing: 1.78px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: black;
    }

    .programpanelsubcontent {
        margin-bottom: 14px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.78px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #00000094;
    }

    .programsidepanel {
        border: 1px solid hsla(244, 19%, 25%, 0.2);
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        width: 95%;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
    }

    .programsidepanelheading {
        color: #0093cc;
        margin-bottom: 15px;
        margin-left: 15px;
        font-weight: 900;
        font-size: 22px;
    }

    .programsinfoheading {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        color: black;
        font-weight: 900;
        text-transform: uppercase;
    }

    .programsinfosubheading {
        color: #4a4a4a;
    }
   
</style>
<link href="~/ContentWebsite/CSS/bootstrap.min.css" rel="stylesheet" />
<div style="background-color: #051d39;color:white;">
    <section style="background-image:url('../ContentWebsite/students/mainbg1.png');background-size:cover;color:white;
    background-size: 100% 100%;">
        <div class="clearfix"></div>
        <div style="padding: 12% 4% 10% 4%;">
            <div class="middlecontent">
                <div class="form-group">
                    <div class="middleleftcontent schoolleft">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-4 col-xs-3" style="padding-left:0px;padding-top: 17px;">
                                <img src="~/svg%20files/boy.svg" class="learningimg" />
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-9" style="padding-top: 21px;">
                                <div class="indivizualisedtext">Individualized</div>
                                <div class="learningprogramtext">Learning Program</div>
                                <div class="clearfix"></div>
                                <div class="form-group learningpanelcontent">
                                    We ensure growth of every child in school through proper conceptwise analysis.
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        @*<div class="form-group">
                <button class="btnfreedemo">For FREE Demo</button>
            </div>*@
                        <div class="clearfix"></div>
                        <div class="form-group implementproductpanel">
                            Implement the product in school for FREE
                        </div>
                    </div>
                    <div class="middlerightcontent" style="padding-left: 8%;">
                        <div class="form-group programsidepanel">
                            <div class="form-group programsidepanelheading">Information</div>
                            <div class="clearfix" style="margin-bottom: 10px;"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">Subjects</div>
                                    <div class="programsinfosubheading">Math &amp; Science</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">Class</div>
                                    <div class="programsinfosubheading">VI - X</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">Mode</div>
                                    <div class="programsinfosubheading">Smartclasses, Smartphones &amp; Computer Lab</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">Features</div>
                                    <div class="programsinfosubheading">1100+ videos, Test Series, Study Notes, Olympiad materials</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">School So Far</div>
                                    <div class="programsinfosubheading">252 +</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">Students So Far </div>
                                    <div class="programsinfosubheading">2,21,547</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">Free Implementation</div>
                                    <div class="programsinfosubheading">6 months</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                                    <div class="programsinfoheading">Other Features</div>
                                    <div class="programsinfosubheading">Teachers' and Parents' App, School ERP</div>
                                </div>
                            </div>

                            @*<div class="clearfix" style="margin-bottom: 20px;"></div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div style="font-size: 12px;line-height: 17px;letter-spacing: 1px;color: #b2b2b2;text-transform: uppercase;">DIFFICULTY LEVEL</div>
                        <div style="color: #4a4a4a;">Medium to Hard</div>
                    </div>
                    <div class="col-md-6">
                        <div style="font-size: 12px;line-height: 17px;letter-spacing: 1px;color: #b2b2b2;text-transform: uppercase;">TIME TO PREPARE</div>
                        <div style="color: #4a4a4a;">2 Years</div>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom: 20px;"></div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div style="font-size: 12px;line-height: 17px;letter-spacing: 1px;color: #b2b2b2;text-transform: uppercase;">WHEN</div>
                        <div style="color: #4a4a4a;">January and April</div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>*@
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div style="margin-bottom:50px;"></div>
    <section>
        <div class="container" style="padding-left: 5%;padding-right: 5%;">

            <div class="form-group text-center" style="margin-bottom: 50px; text-align: center; color: #55bbea;font-size: 28px;font-weight: 700;">
                Benefits of the program
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="form-group">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="clearfix"></div>
                    <div class="form-group programpanel">
                        <div class="text-center programpanelcontent">
                            85%
                        </div>
                        <div class="programpanelsubcontent">
                            Students Understand Better
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="clearfix"></div>
                    <div class="form-group programpanel">
                        <div class="text-center programpanelcontent">
                            82%
                        </div>
                        <div class="programpanelsubcontent">
                            Reported growth in marks
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="clearfix"></div>
                    <div class="form-group programpanel">
                        <div class="text-center programpanelcontent">
                            12%
                        </div>
                        <div class="programpanelsubcontent">
                            Increase in subject average
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </section>
    <div style="margin-bottom:50px;"></div>
    <section>
        <div class="container" style="padding-left: 5%;padding-right: 5%;">

            <div class="form-group text-center" style="margin-bottom: 50px; text-align: center; color: #55bbea;font-size: 28px;font-weight: 700;">
                How to Use the product in School
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="productschoollist">
                <ul>
                    <li>
                        <ul>
                            <li>
                                <ul>
                                    <li>
                                        <div class="productschoolcount">1</div>
                                    </li>
                                    <li>
                                      <div class="productschoollistheading">Training for Students and Teachers</div>  
                                        <div class="productschoollistsubheading">
                                            Once the school signs up, FREE training is provided by our team to the students and teachers on how to use the app.
                                        </div>
                                    </li>
                                   
                                </ul>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <img src="~/ContentWebsite/schools/homepage.png" />
                    </li>
                </ul>
              
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="productschoollist">
                <ul>
                    <li>
                        <ul>
                            <li>
                                <div class="productschoolcount">2</div>
                            </li>
                            <li>
                                <div class="productschoollistheading">
                                    Accessing Study Materials at Home
                                </div>
                                <div class="productschoollistsubheading">
                                    Students download and start using the app back at home after school hours. They can watch e-learning videos, access study materials for FREE.
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <img src="~/ContentWebsite/schools/2.png" />
                    </li>
                </ul>
              
            </div>

            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="productschoollist">
                <ul>
                    <li>
                        <ul>
                            <li>
                                <div class="productschoolcount">3</div>
                            </li>
                            <li>
                                <div class="productschoollistheading">
                                    Tests and Analysis
                                </div>
                                <div class="productschoollistsubheading">
                                    Subject Teacher schedules chapter wise tests as and when he completes a chapter. Students give the test back at home and teacher gets the report and analysis for each individual child
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>

                        <img src="~/ContentWebsite/schools/test%20report.png" />
                    </li>
                </ul>

            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="productschoollist">
                <ul>
                    <li>
                        <ul>
                            <li class="productschoolcount">
                                <div class="productschoolcount">4</div>
                            </li>
                            <li>
                                <div class="productschoollistheading">
                                    Reports and Remedial Classes
                                </div>
                                <div class="productschoollistsubheading">
                                    Teacher gets to understand which child lacks at which concept based on our analysis and reports. Accordingly, he can take remedial actions on an individual level
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <img src="~/ContentWebsite/schools/3.png" />
                    </li>
                </ul>

            </div>

            <div class="clearfix" style="margin-bottom:20px;"></div>














        </div>
    </section>
    <section class="schoolfootercontentpanel">
        <div class="middlecontent">
            <div class="form-group text-center learningprogramcontent">
                No hardware Installation,
                No allotment of periods in school,
                No extra burden on teachers.
            </div>
            <div class="form-group text-center learningprogramsubcontent">
                EASY &amp; FREE IMPLEMENTATION
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        getSchools();
        function getSchools() {
            $.get('/Home/GetSchools', function (data) {
                debugger;
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        //var tr = '<div class="form-group">';
                        var tr = '<div class="col-md-2" style="height:150px;padding:14px;">';
                        tr += '<img src="' + data[i].SchoolLogo + '" alt="' + data[i].SchoolName + '" tooltip="' + data[i].SchoolName + '"  width="120" height="120" style="box-shadow:#beb9b9 1px 1px 5px 3px;" />';
                        tr += '</div>';
                        //   tr += '<div class="clearfix" style="margin-bottom:2%;"></div>';
                        $('#divschools').append(tr);
                    }
                }
            })
        }
    })
</script>
<style>
  

    
</style>
