﻿@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_DigichampsLayoutPage.cshtml";
}
<link href="~/ContentWebsite/CSS/AboutUsStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<style>
     #banner:before {
        background: #111111;
    }
    #banner:after {
        background: linear-gradient(135deg, #b1eef1 0%, #111111 74%);
    }
</style>
<script>
    $(document).ready(function () {
        GetTeam();
        function GetTeam() {
            $('#divloader').fadeIn(300);
            $.get('/Home/GetTeamList', function (data) {
                debugger;
                if(data.length>0)
                {
                    $('#divteam').empty();
                    for(var i=0;i<data.length;i++)
                    {
                        var tr='<div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">';
                        tr +='<div class="our-team">';
                        tr += '<img src="../Images/OurTeam/' + data[i].Image + '" />';
                        tr +='<div class="team-content">';
                        tr +='<h3 class="team-prof">';
                        tr +='<a href="#">'+data[i].Name+'</a>';
                        tr +='<small>'+data[i].Designation+'</small>';
                        tr += '<p>' + data[i].Description+ '</p>';
                        tr +='</h3>';
                        tr +='<ul class="social-link">';
                        tr +='<li><a href="#" class="fa fa-facebook"></a></li>';
                        tr +='<li><a href="#" class="fa fa-google"></a></li>';
                        tr +='<li><a href="#" class="fa fa-twitter"></a></li>';
                        tr +='<li><a href="#" class="fa fa-instagram"></a></li>';
                        tr +='</ul></div>';
                        tr +='</div></div>';
                        $('#divteam').append(tr);
                    }
                    $('#divloader').fadeOut(300);
                }
                else
                {
                    $('#divloader').fadeOut(300);
                }
            })
        }
    })
</script>
<div class="bodycontent">
    <section id="banner">
        <div class="inner">
            <div>
                <h1><b style="color:#1d9fd2;">Our</b> Team</h1>
            </div>

            <p style="color:white;">
                Meet Our Digichamps Backend Teams
            </p>
        </div>
        <img src="~/ContentWebsite/img/about-us-banner.jpg" width="100%" />
    </section>
    <div class="demo">
        <div class="container">

            <div class="row" id="divteam">
                @*<div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/GSeOPe.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Swoyan Satyendu</a>
                                <small>Founder CEO</small>
                                <p>I always wanted someone to look at me and say, " You are the reason I don't give up."</p>
                            </h3>

                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/DQmUmc.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Maaz Azam</a>
                                <small>Chief Business Officer</small>
                                <p>United we stand, divided we fall</p>
                            </h3>
                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/12AcxH.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Priyaa Sathpathy</a>
                                <small>Chief People Officer</small>
                                <p>In a choice between skill and great attitude, attitude always wins,hands down.</p>
                            </h3>
                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/ErH1y3.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Sandeep Dash</a>
                                <small>Head , Human Resources</small>
                                <p>“Working for a company that values ... It's a great place to work – that's why I've been with DIGICHAMPS."</p>
                            </h3>

                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/0nGCOo.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Kuldeep Nanda</a>
                                <small>Head , Logistics and C.S</small>
                                <p>"Defeat is not When you fall down, Defeat is When You refuse to get up"</p>
                            </h3>
                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/ie3vXP.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">R. Srinivasa Rao</a>
                                <small>Head , Post Production</small>
                                <p>Digital education is not new but DIGICHAMPS introduced it with a new pattern that students fall in love with their subjects, that is FUNDUCATION.</p>
                            </h3>
                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/81GVPZ.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Shilpa Das</a>
                                <small>Sr. Project Associate</small>
                                <p>"The only difference between ordinary and extraordinary is the little extra and never forget that you are only limit." </p>
                            </h3>

                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/HUYovC.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Dipan Chakraborty</a>
                                <small>Sr. Project Associate</small>
                                <p>"There are no secrets to success. It is the result of preparation, hard work, and learning from failure."</p>
                            </h3>
                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom:3%;">
                    <div class="our-team">
                        <img src="~/ContentWebsite/images/wP4MHp.jpg" />
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="#">Madhu Ranjan Singh</a>
                                <small>Sr. Project Associate</small>
                                <p>" My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion and some style "</p>
                            </h3>
                            <ul class="social-link">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-google"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>

        </div>
    </div>
</div>