﻿@{
    ViewBag.Title = "Test";
    Layout = null;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<style>
    .activeouter{
        border-color:#68c721;

    }
    .activeinner{
        background-color:#68c721;
    }
</style>

<div id="divclick">aaaaaaaaaaaaa</div>
<div id="divshow" style="width:300px;">
    <div style="border-radius:12px;padding:10px 2px 10px 2px;border:1px solid #d8d5d5;">
        <div class="clearfix"></div>
        <div class="form-group tab active" style="cursor:pointer;" id="1">
            <div class="col-md-6 contentdata">
                <div>Upto Apr 2020</div>
                <div>For 8 class</div>
            </div>
            <div class="col-md-5 text-right" style="padding-top: 13px;">
                <div class="outercircle activeouter" style="width:18px; height:18px; border-radius:50%;border: 1px solid #000000; float:right;">
                    <div class="innercircle activeinner" style="border-radius:50%;width:16px;height:16px;  border:2px solid white;"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group tab" style="cursor:pointer;" id="2">
            <div class="col-md-6 contentdata">
                <div>Upto May 2020</div>
                <div>For 8 class</div>
            </div>
            <div class="col-md-5 text-right" style="padding-top: 13px;">
                <div class="outercircle" style="width:18px; height:18px; border-radius:50%;border: 1px solid #000000;float:right;">
                    <div class="innercircle" style="border-radius:50%;width:16px;height:16px; border:2px solid white;"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group tab" style="cursor:pointer;" id="3">
            <div class="col-md-6 contentdata">
                <div>Upto Jun 2020</div>
                <div>For 8 class</div>
            </div>
            <div class="col-md-5 text-right" style="padding-top: 13px;">
                <div class="outercircle" style="width:18px; height:18px; border-radius:50%;border: 1px solid #000000;float:right;">
                    <div class="innercircle" style="border-radius:50%;width:16px;height:16px; border:2px solid white;"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group tab" style="cursor:pointer;" id="4">
            <div class="col-md-6 contentdata">
                <div>Upto Jul 2020</div>
                <div>For 8 class</div>
            </div>
            <div class="col-md-5 text-right" style="padding-top: 13px;">
                <div class="outercircle" style="width:18px; height:18px; border-radius:50%;border: 1px solid #000000;float:right;">
                    <div class="innercircle" style="border-radius:50%;width:16px;height:16px; border:2px solid white;"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#divshow').fadeOut(300);
        $('#divclick').click(function () {
            $('#divclick').fadeOut(300);
            $('#divshow').fadeIn(300);
        })
        $(".tab").click(function () {
            debugger;
                $(".tab").find("div.outercircle").removeClass("activeouter");
                $(".tab").find("div.innercircle").removeClass("activeinner");
                $(this).find("div.outercircle").addClass("activeouter");
                $(this).find("div.innercircle").addClass("activeinner");
                $('#divclick').html($(this).find(".contentdata").html());
                var id = this.id;
                $('#divclick').fadeIn(300);
                $('#divshow').fadeOut(300);
        });
    })
</script>