﻿@{
    ViewBag.Title = "View Student";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

@*<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-ticket"></i>Search Ticket By Date</h3>
            </div>
            <div class="box-content">
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="">
                            @using (Html.BeginForm("Ticket_report", "Teacher", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-5 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select From date" name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-5 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group last box-tooll">
                                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                            <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<form id="Ticke_form" class="form-horizontal">
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-table"></i>View Students</h3>
                        <div class="box-tool box-tooll">
                            @*<a class="btn btn-large btn-primary" title="Refresh" href="/Teacher/Viewticekts"><i class="fa fa-refresh"></i> <span>Refresh</span></a>
                            <a class="btn btn-large btn-primary" title="My tickets" href="/Teacher/mytickets"><i class="fa fa-filter"></i> <span>My tickets</span></a>*@
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="btn-toolbar pull-right clearfix">
                           @* <div class="btn-group">
                                <a class="btn btn-circle show-tooltip" title="Refresh" href="/Teacher/Viewticekts"><i class="fa fa-refresh"></i></a>
        <a class="btn btn-circle show-tooltip" title="My tickets" href="/Teacher/mytickets"><i class="fa fa-filter"></i></a>
    </div>*@
                        </div>
                        <br /><br />
                        <div class="clearfix"></div>
                        <div class="table-responsive" style="border:0">
                            <table class="table table-advance table-hover" id="table1">
                                <thead>
                                    <tr>
                                        <th hidden>Sl no</th>
                                        <th>Student Name</th>
                                        <th>Mobile</th>
                                        <th>Class</th>
                                        <th>Assigned Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.StudentTask != null)
                                    {
                                    int i=0;
                                        foreach (var item in ViewBag.StudentTask)
                                        {
                                            <tr>
                                                @{
                                                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                                    int sid = Convert.ToInt32(@item.Student_ID);
                                                    var Studentdetails = DbContext.tbl_DC_Registration.Where(x => x.Regd_ID == sid).FirstOrDefault();
                                                    var registrationde = DbContext.tbl_DC_Registration_Dtl.Where(x => x.Regd_ID == sid).FirstOrDefault();
                                                    var ClassDetails = DbContext.tbl_DC_Class.Where(x => x.Class_Id == registrationde.Class_ID).FirstOrDefault();
                                                }
                                                <td hidden>@(i+=1)</td>
                                                <td>@Studentdetails.Customer_Name</td>
                                                <td>@Studentdetails.Mobile</td>
                                                <td>@ClassDetails.Class_Name</td>
                                                <td>@item.AssignDate</td>
                                                <td>@Html.ActionLink(" ", "Studenttaskdetails", "Teacher", new { id = @item.Student_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "View Tasks" })</td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<span class="badge">New</span>*@

    </div>
</form>

<div id="modal_3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i>Message</h3>
            </div>
            <div class="modal-body">
                <h5></h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="modal_4" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Ticket Details</h3>
            </div>
            <div class="modal-body">
                <label for="textfield5" class="control-label">
                    Question<span class="asterisk">*</span>
                </label>
                <p id="Ticket_p"></p>

                <label for="textfield5" class="control-label">
                    Created on<span class="asterisk">*</span>
                </label><p id="Ticket_d"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@*}*@
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".blue").click(function () {
                debugger;
                $.ajax({
                    type: 'POST',
                    url: "/Teacher/tooltip_ticket_details",
                    data: { id: $(this).attr('value') },
                    dataType: "json",
                    success: function (data) {
                        if (data[0] == "No data found") {
                            $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                            $("#modal_4 .modal-body #Ticket_d").html(data[0]);
                            $("#modal_4").modal("show");
                        } else {
                            $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                            $("#modal_4 .modal-body #Ticket_d").html(data[1]);
                            $("#modal_4").modal("show");
                        }

                    }
                });
            });
        });
    </script>
    }
