﻿@{
    ViewBag.Title = "Teacher Dashboard";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@*student doubt*@
<div class="row">
    <div class="col-md-7">
        <div class="box box-pink">
            <div class="box-title" style="background-color:#5b595a;">
                <h3><i class="fa fa-comments"></i> Student Recent Reply</h3>
                <div class="box-tool">

                </div>
            </div>
            <div class="box-content">
                @if (ViewBag.rply != null)
                {
                    <div style="height:300px;overflow-y:scroll;">
                        @foreach (var v in ViewBag.rply)
                        {
                            <ul style="display:flex;list-style:none;padding-left:0px;padding-bottom:10px;padding-top:10px; border-bottom:2px solid rgba(168, 164, 164, 0.3);">
                                <li style="padding-right:20px;">
                                    @if (v.Customer_Image != "")
                                    {
                                        <img src="~/Images/Profile/@v.Customer_Image" alt="" height="80" width="80" class="img-circle">
                                    }
                                    else
                                    {
                                        if (v.Customer_Gender == true)
                                        {
                                            <img src="~/Images/Profile/five.png" height="80" width="80" class="img-circle" />
                                        }
                                        else
                                        {
                                            <img src="~/Images/Profile/seven.png" height="80" width="80" class="img-circle" />
                                        }
                                    }
                                </li>
                                <li style="padding-left:20px;">
                                    <div style="padding-bottom: 7px;"><span style="font-size:17px;"><a style="color:black;border-bottom: 1px solid;" href="/Teacher/AnswerTicket/@v.Ticket_ID"><strong>@v.Customer_Name</strong></a></span></div>
                                    <div><i class="fa fa-clock-o"></i> @v.User_Comment_Date</div>
                                    <div>@Html.Raw(v.User_Comment)</div>

                                </li>
                            </ul>
                        }
                    </div>
                }
                else
                {
                    <h4 class="messages messages-chat"> No recent replies from Students.</h4>
                }







                @*@if (ViewBag.rply != null)
                    {
                        <ul class="messages messages-chat messages-stripped messages-zigzag slimScroll" style="height:250px">

                            @foreach (var v in ViewBag.rply)
                            {
                                <li>

                                    @if (@v.Customer_Image != "")
                                    {
                                        <img src="~/Images/Profile/@v.Customer_Image" alt="">
                                    }
                                    else
                                    {
                                        <img src="~/Images/Profile/no_image.jpg" />
                                    }
                                    <div>
                                        <div>
                                            <h5>@v.Customer_Name</h5>
                                            <span class="time"><i class="fa fa-clock-o"></i> @v.User_Comment_Date</span>
                                        </div>
                                        <p>@v.User_Comment</p>
                                    </div>
                                </li>
                            }

                        </ul>
                    }
                    else
                    {
                        <h4 class="messages messages-chat"> No recent replies from Students.</h4>
                    }*@
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box box-green">
            <div class="box-title" style="background-color:#166c05;">
                <h3><i class="fa fa-check"></i>Over Due Tickets</h3>
            </div>
            <div class="box-content">
                @if (ViewBag.allticket != null)
                {
                    <div style="height:300px;overflow-y:scroll;">
                        @foreach (var v in ViewBag.allticket)
                        {
                            <ul class="todo-list">
                                <li>
                                    <div class="todo-desc">
                                        <p>@v.Ticket_No</p>
                                    </div>
                                    <div class="todo-actions">
                                        <a class="show-tooltip" href="/Teacher/ViewTickectDetail/@v.Ticket_ID" title="View Ticket"><i class="fa fa-check-square-o"></i> Details</a>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>


                }
                else
                {
                    <h4 class="messages messages-chat"> No Overdue Tickets.</h4>
                }






                @*<ul class="todo-list">
                        @if (ViewBag.allticket != null)
                        {
                            foreach (var v in ViewBag.allticket)
                            {
                                <li>
                                    <div class="todo-desc">
                                        <p>@v.Ticket_No</p>
                                    </div>
                                    <div class="todo-actions">
                                        <a class="show-tooltip" href="/Teacher/ViewTickectDetail/@v.Ticket_ID" title="View Ticket"><i class="fa fa-check-square-o"></i> Details</a>
                                    </div>
                                </li>
                            }
                        }

                    </ul>*@
            </div>
        </div>
    </div>
</div>
<div class="row">



    <div class="col-md-7">
        <div class="box box-red">
            <div class="box-title" style="background-color:#7c1414;">
                <h3><i class="fa fa-table"></i> Assigned Batch</h3>
            </div>
            <div class="box-content">
                @if (ViewBag.batch != null)
                {
                    int row = 0;

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Slno</th>
                            <th><i class="fa fa-user"></i> Batch Name</th>
                            <th><i class="fa fa-twitter"></i> Time</th>
                            <th><i class="fa fa-twitter"></i> Day</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var batch in ViewBag.batch)
                            {
                            <tr>
                                <td>@(row += 1)</td>
                                <td>@batch.Batch_Name</td>
                                <td>@batch.Batch_From_Time - @batch.Batch_To_Time </td>
                                <td>@batch.Batch_Days</td>
                            </tr>
                            }
                    </tbody>
                </table>
                }
                else
                {
                <h4 class="messages messages-chat"> No Batches Assigned.</h4>
                }
            </div>
        </div>
    </div>







    <div class="col-md-5">
        <div class="box box-black">
            <div class="box-title" style="background-color:#170d4f;">
                <h3><i class="fa fa-table"></i> Assigned Courses</h3>
            </div>
            <div class="box-content">
                @if (ViewBag.course != null)
                {
                    int row2 = 0;
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Board</th>
                            <th>Class</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var v in ViewBag.course)
                            {
                            <tr>
                                <td>@(row2 += 1)</td>
                                <td>@v.Board_Name</td>
                                <td>@v.Class_Name</td>
                                <td>@v.Subject</td>
                            </tr>
                            }


                    </tbody>
                </table>
                }
                else
                {
                <h4 class="messages messages-chat"> No Courses Assigned.</h4>
                }
            </div>
        </div>
    </div>


</div>
<div class="row">
    <div class="box box-black">
        <div class="box-title" style="background-color:#170d4f;">
            <h3><i class="fa fa-table"></i> Assigned Students</h3>
        </div>
        <div class="box-content">
            @if (ViewBag.Assignstudents != null)
            {
                int row2 = 0;
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Student Name</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>Board</th>
                            <th>Class</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var v in ViewBag.Assignstudents)
                        {
                            <tr>
                                <td>@(row2 += 1)</td>
                                <td>@v.Student_Name</td>
                                <td>@v.Mobile</td>
                                <td>@v.EmailId</td>
                                <td>@v.Board</td>
                                <td>@v.classes</td>
                                <td><a href="/Teacher/View_Activity/@v.Student_ID">View Activity</a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            }
            else
            {
                <h4 class="messages messages-chat">No Students Assigned.</h4>
            }
        </div>
    </div>
</div>
<!-- END Main Content
    tbl_DC_MentorMaster  -  assign mentor

module   =   video

     -->
@section scripts{
    <script>
        $(".breadcrumb").hide();

    </script>
}
