﻿@{
    ViewBag.Title = "ViewRemark";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="page-content-wrap">

    @*<div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>*@


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Remark Details</h3>

                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/Teacher/AddRemark"><i class="fa fa-plus"></i><span>Add New</span> </a>
                    </div>

                </div>
                <div class="box-content">
                    <div class="clearfix"></div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Remark</th>
                                    <th>Rating</th>
                                    <th style="width: 15%;">Action</th>
                                    <th hidden> id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.data != null)
                                {
                                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                    int rowNo = 0;
                                    foreach (var item in ViewBag.data)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>

                                            <td>@item.Rating</td>
                                            <td>@item.Remark</td>
                                            <td>
                                                @Html.ActionLink(" ", "DeleteRemark", "Teacher", new { ID = @item.MentorMaster_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the Remark?')", @data_original_title = "Delete", @title = "Delete" })
                                            </td>
                                            <td hidden>@item.MentorMaster_ID</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @*<table class="table table-advance table-hover" id="table1">
                            <thead>
                                <tr>
                                    <th hidden>Sl no</th>
                                    <th>Student Name</th>
                                    <th>Class</th>
                                    <th>Assigned Date</th>
                                    <th>Remark</th>
                                    <th>Rating</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.StudentTask != null)
                                {
                                    int i = 0;
                                    foreach (var item in ViewBag.StudentTask)
                                    {
                                        <tr>
                                            @{
                                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                        int sid = Convert.ToInt32(@item.Student_ID);
                                        var Studentdetails = DbContext.tbl_DC_Registration.Where(x => x.Regd_ID == sid).FirstOrDefault();
                                        var registrationde = DbContext.tbl_DC_Registration_Dtl.Where(x => x.Regd_ID == sid).FirstOrDefault();
                                        var ClassDetails = DbContext.tbl_DC_Class.Where(x => x.Class_Id == registrationde.Class_ID).FirstOrDefault();
                                            }
                                            <td hidden>@(i += 1)</td>
                                            <td>@Studentdetails.Customer_Name</td>
                                            <td>@ClassDetails.Class_Name</td>
                                            <td>@item.AssignDate</td>
                                            <td>@item.Rating</td>
                                            <td>@item.Remark</td>
                                            <td>
                                                @Html.ActionLink(" ", "DeleteRemark", "Teacher", new { ID = @item.MentorMaster_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the Remark?')", @data_original_title = "Delete", @title = "Delete" })
                                            </td>
                                            <td hidden>@item.MentorMaster_ID</td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>*@

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
