﻿@model DigiChamps.Models.DigiChampsModel.DigichampsSendSMS
@{
    ViewBag.Title = "AddSendSMS";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@using (Html.BeginForm("AddSendSMS", "School", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/School/SchoolDashBoard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Add New</h3>
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Board == null) //insert
                                {
                                    @(Html.DropDownList("Board_Name", ViewBag.Board_Id as SelectList, "Please Select Board", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select board", @id = "ddlboard" }))

                                }
                                else
                                {
                                    <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please select board" disabled="disabled">
                                        <option value="">Please Select Board</option>
                                        @foreach (var v in ViewBag.Board)
                                        {
                                            if (ViewBag.b_id == v.Board_Id)
                                            {
                                                <option value="@v.Board_Id" selected="selected">@v.Board_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Board_Id">@v.Board_Name</option>
                                            }
                                        }
                                    </select>

                                }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Class == null) //insert
                                {
                                    @(Html.DropDownListFor(x => x.Class_Name, new List<SelectListItem>(), "Please Select Class", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "Please select class", @id = "ddlclass" }))                                    @Html.ValidationMessageFor(x => x.Class_Id)
                                }
                                else
                                {
                                    <select id='ddlclass' name="Class_Name"  class="form-control" data-rule-required="false" data-msg-required="Please select Class" disabled="disabled">
                                        <option value="">Please Select Class</option>
                                        @foreach (var v in ViewBag.Class)
                                        {
                                            if (ViewBag.classid == v.Class_Id)
                                            {
                                                <option value="@v.Class_Id" selected="selected">@v.Class_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Class_Id">@v.Class_Name</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Student<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.totalstu == null) //insert
                                {
                                    @(Html.DropDownListFor(x => x.Customer_Name, new List<SelectListItem>(), "All", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "Please select Student", @id = "ddlstudent" }))                                    @Html.ValidationMessageFor(x => x.Mobile)
                                }
                                else
                                {
                                    <select id='ddlstudent' name="Customer_Name" class="form-control" data-rule-required="false" data-msg-required="Please select Student" disabled="disabled">
                                        <option value="">All</option>
                                        @foreach (var v in ViewBag.totalstu)
                                        {
                                            if (ViewBag.studentid == v.Mobile)
                                            {
                                                <option value="@v.Mobile" selected="selected">@v.Customer_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Mobile">@v.Customer_Name</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                        </div>

                       
                        @*<div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Student Name<span class="asterisk"></span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                
                                <select id="ddlstudent" name="Student_name" data-rule-required="false"
                                        data-msg-required="Please select student" data-placeholder="Select Student" class="col-md-12 chosen form-control">
                                    <option value="">Select Student</option>
                                    @if (@ViewBag.totalstu != null)
                                    {
                                        foreach (var v in ViewBag.totalstu)
                                        {
                                            <option value="@v.Regd_ID">@v.Customer_Name</option>
                                        }
                                    }
                                </select>
                                

                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Message<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.id != null)
                                {
                                    <input type="text" name="txtdesc" class="form-control" id="txttype" value="@ViewBag.description" data-rule-required="false" data-msg-required="Please Enter Message" />
                                }
                                else
                                {
                                    <input type="text" name="txtdesc" class="form-control" id="txttype" />
                                }
                            </div>
                        </div>
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewSendSMS", "School")" class="btn btn-primary"><i class="fa fa-undo"></i> <span> Back</span>  </a>
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Send</span> </button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts
{
        <script>
            $(document).ready(function () {
                $('#ddlboard').change(function () {
                    if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                        // do nothing
                    } else {
                        $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                    }
                    $('#ddlclass').closest('.form-group').addClass('display-loader');
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllClass",
                        data: { brdId: $('#ddlboard').val() },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var sta = "<select id='ddlclass'>";
                            sta = sta + '<option value="">Please Select Class</option>';
                            for (var i = 0; i < data.length; i++) {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            sta = sta + '</select>';
                            $('#ddlclass').html(sta);
                            setTimeout(function () {
                                $('#ddlclass').closest('.form-group').removeClass('display-loader');
                            }, 800);
                        }
                    });
                });

                @if (ViewBag.classid != null)
                {<text>
                var statesAvailable = '@ViewBag.classid';
                var subid = '@ViewBag.subject_id';
                if (subid != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllClass",
                        data: { brdId: '@ViewBag.b_id' },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var sta = "<select id='ddlclass'>";
                            sta = sta + '<option value="">Please Select Class</option>';
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Value == statesAvailable) {
                                    sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                else {
                                    sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                            }
                            sta = sta + '</select>';
                            $('#ddlclass').html(sta);
                            @if (ViewBag.classid != null)
                            {
                        <text>
                            $('#ddlclass').attr("disabled", "disabled");</text>
                            }
                        }
                    });
                }</text>
                }
            });

        </script>




        <script>
            $(document).ready(function () {
                $('#ddlclass').change(function () {
                    $('#ddlclass').closest('.form-group').addClass('display-loader');
                    $.ajax({
                        type: "POST",
                        url: "/School/GetAllStudents",
                        data: { brdId: $('#ddlclass').val() },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            console.log(JSON.stringify(data));

                            var sta = "<select>";
                            sta = sta + '<option value="">All</option>';
                            for (var i = 0; i < data.length; i++) {
                                sta = sta + '<option value=' + data[i].Mobile + '>' + data[i].Customer_Name + '</option>';
                            }
                            sta = sta + '</select>';
                            $('#ddlstudent').html(sta);
                            setTimeout(function () {
                                $('#ddlclass').closest('.form-group').removeClass('display-loader');
                            }, 800);
                        }
                    });
                });


            });

        </script>
    }

}
