﻿@{
    ViewBag.Title = "CreateTeachers";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

    <div class="form-horizontal" id="validation-form">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/School/GetallTeachers">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li class="active">Create Teacher</li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create Teacher</h3>

                    </div>

                    <div class="box-content">

                        <form method="post" action="CreateTeachers">

                            <div class="form-group voffset4 ">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Name :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" name="Name" class="form-control" required="required" data_msg_required="Please enter Name" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Email :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="email" name="Email" class="form-control" required="required" data_msg_required="Please enter Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Mobile :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" name="Mobile" class="form-control" required="required" data_msg_required="Please enter Mobile" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Zoom Mail-Id :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" name="zoomMailId" class="form-control" required="required" data_msg_required="Please enter Zoom Mail Id" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Zoom Password :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" name="zoomPassword" class="form-control" required="required" data_msg_required="Please enter Zoom Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Zoom Id :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" name="zoomId" class="form-control" required="required" data_msg_required="Please enter Zoom Id" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Zoom Code :<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" name="zoomCode" class="form-control" required="required" data_msg_required="Please enter Zoom Code" />
                                </div>
                            </div>
                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>

                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
