﻿@{
    ViewBag.Title = "GetallTeachers";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = "success";
    string mode = "";
    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
@model IEnumerable<DigiChamps.Controllers.SchoolController.teacherscls>




<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Teacher List</h3>
                <div class="box-tool box-tooll">
                    <a href="/School/CreateTeachers/" class="btn btn-primary"><i class="fa fa-plus"></i><span>Add Teachers</span></a>
                    <a class="btn btn-primary" id="btnupload" data-toggle="modal" data-target="#myModal"><i class="fa fa-upload"></i><span> Upload Teachers</span></a>
                    <a class="btn btn-primary" href="/School/DownloadTeacherExcel"><i class="fa fa-file"></i><span> Download Teachers</span></a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Teacher Name </th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Zoom Id</th>
                                <th>Zoom Code</th>
                                <th>Zoom Mail Id</th>
                                <th>Zoom Password</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th style="display:none;">UserId</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>

                                        <td>@item.Name</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.Email</td>
                                        <td>@item.ZooMId</td>
                                        <td>@item.Zoom_Code</td>
                                        <td>@item.Zoom_MailId</td>
                                        <td>@item.Zoom_Password</td>
                                        @if (item.Active == 1)
                                        {
                                            <td>
                                                Active
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Deleted
                                            </td>
                                        }

                                        <td style="display:none;">@item.TeacherId</td>
                                        <td>
                                            @Html.ActionLink(" ", "EditTeachers", "School", new { TeacherId = @item.TeacherId }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @data_original_title = "Edit", @title = "Edit Teacher" })


                                            @if (item.Active == 1)
                                            {
                                                @Html.ActionLink(" ", "DeleteTeacher", "School", new { id = @item.TeacherId, Status = "D" }, new { @class = "btn btn-sm btn-danger fa fa-lock", @data_original_title = "Delete", @title = "Delete Teacher", onclick = "confirm('Are You Sure Want To Delete Teacher..?')" })


                                            }
                                            else
                                            {

                                                @Html.ActionLink(" ", "DeleteTeacher", "School", new { id = @item.TeacherId, Status = "A" }, new { @class = "btn btn-sm btn-success fa fa-unlock", @data_original_title = "Active", @title = "Active Teacher", onclick = "confirm('Are You Sure Want To Active Teacher..?')", style = "padding: 5px 8px" })

                                            }

                                        </td>

                                    </tr>

                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("UploadTeacherExcel", "School", FormMethod.Post,
new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form1" }))
                {
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" id="btnupload" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

