﻿@{
    ViewBag.Title = "GetClassList";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = "success";
    string mode = "";
    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@model IEnumerable<DigiChamps.Models.SchoolModel.CreateSection>


    <form class="form-horizontal" id="validation-form">




        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Section List</h3>
                        <div class="box-tool box-tooll">
                            <a class="btn btn-primary" href="/School/CreateOrEditClass/"><i class="fa fa-plus"></i><span> Add Section</span></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="table-responsive">
                            <table class="table table-advance" id="table1">

                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                       
                                        <th>ClassName </th>
                                        <th>SectionName</th>
                                      
                                        <th>SectionId</th>
                                        <th style="display:none;">UserId</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int rowNo = 0;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@(rowNo += 1)</td>
                                                
                                                <td style="display:none;">@item.Class_Id</td>
                                                <td>@item.ClassName</td>
                                                <td>@item.SectionName</td>
                                               
                                                @*<td style="display:none;">@item.sc</td>*@
                                                <td><span>
                                                    @Html.Raw(item.Section_Id)
                                                </span></td>
                                               

                                                <td>
                                                    @Html.ActionLink(" ", "CreateOrEditClass", "School", new { classid = @item.Class_Id }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "View" })
                                                    @Html.ActionLink(" ", "DeleteClass", "School", new { class_id = @item.Class_Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the role type?')", @data_original_title = "Delete", @title = "Delete" })


                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
    <script>

    function Delete(id) {
        debugger
        $(".loader-ajax-container").css("display", "block");
        $.ajax({
            type: 'POST',
            url: "/School/DeleteUserList",
            contentType: false, // Not to set any content header
            processData: false,
            data: id,
            success: function (data) {
                $(".loader-ajax-container").css("display", "none");
                console.log(data.Data);
                if (data.Data)
                    window.location.reload();
            }
        });

    }
    </script>
