﻿

@model IEnumerable<DigiChamps.Models.SchoolModel.CreateExamModel>

@{
    ViewBag.Title = "GetExam";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<form class="form-horizontal" id="validation-form">




    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Exam List </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/School/CreateOrEditCreateExam/"><i class="fa fa-plus"></i><span> Add Exam</span></a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th> Exam Type </th>
                                    <th>Exam Date</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                    <th>TimeSlot</th>
                                    <th style="display:none;">SchoolId</th>
                                    <th style="display:none;">UserId</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.ExamTypeName</td>
                                            <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
                                            <td>@item.ClassName</td>
                                            <td>@item.SubjectName</td>
                                            <td>@item.TimeSlot</td>
                                            <td style="display:none;">@item.Id</td>
                                            <td style="display:none;">@item.ExamType</td>

                                            <td>
                                                @Html.ActionLink(" ", "CreateOrEditCreateExam", "School", new { id = @item.Id }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "View" })
                                                @Html.ActionLink(" ", "DeleteExam", "School", new { id = @item.Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the role type?')", @data_original_title = "Delete", @title = "Delete" })


                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
<script>

    function Delete(id) {
        debugger
        $(".loader-ajax-container").css("display", "block");
        $.ajax({
            type: 'POST',
            url: "/School/DeleteUserList",
            contentType: false, // Not to set any content header
            processData: false,
            data: id,
            success: function (data) {
                $(".loader-ajax-container").css("display", "none");
                console.log(data.Data);
                if (data.Data)
                    window.location.reload();
            }
        });

    }
</script>
