﻿@model IEnumerable<DigiChamps.Models.SchoolModel.SchoolInformation>
@{
    ViewBag.Title = "School List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = "success";
    string mode = "";
    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}


<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> School List </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="@Url.Action("UploadSectionDetails", "School")"><i class="fa fa-plus"></i><span> Add Section</span></a>
                        <a class="btn btn-primary" href="@Url.Action("UploadSchoolDetails", "Admin")"><i class="fa fa-plus"></i><span> Add School Excel</span></a>
                        @*<a class="btn btn-primary" href="@Url.Action("AddSchool","School")"><i class="fa fa-plus"></i><span> Add School</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>School Name </th>
                                    <th>School Code</th>
                                    <th>School Logo</th>
                                    <th style="display:none;">SchoolId</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.SchoolName</td>
                                            <td>

                                                @if (Convert.ToString(item.ThumbnailPath) == "" || item.ThumbnailPath == null)
                                                {
                                                    @Html.ActionLink(" ", "GenerateSchoolCode", "Admin", new { id = @item.SchoolId }, new { @class = "btn btn-sm fa fa-edit", @onclick = "return confirm('Are you sure want to generate school code?')", @title = "Generate Code" })
                                                }
                                                else
                                                {
                                                    <label>@item.ThumbnailPath</label>

                                                }
                                            </td>
                                            <td>
                                                @if (imgSrc != null && imgSrc != "")
                                                {
                                                    <img src="@imgSrc" style="width:50px;height:50px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/Images/digi1.jpg" style="width:50px;height:50px;" />
                                                }
                                            </td>
                                            <td style="display:none;">@item.SchoolId</td>
                                            <td>    
                                                @{
                                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();                                            
                                                if(DbContext.tbl_DC_Class_Section.Where(a=>a.School_Id==item.SchoolId && a.IsActive==true).ToList().Count()>0)
                                                {
                                                @Html.ActionLink(" ", "Createclasssection", "School", new { id = @item.SchoolId }, new { @class = "btn btn-sm btn-primary fa fa-plus", @title = "Update class" })
                                                }
                                                else{
                                                @Html.ActionLink(" ", "Createclasssection", "School", new { id = @item.SchoolId }, new { @class = "btn btn-sm btn-primary fa fa-plus", @title = "Create class" })
                                               }
                                               }
                                                 @Html.ActionLink(" ", "SchoolDashBoard", "School", new { id = @item.SchoolId }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })
                                                @Html.ActionLink(" ", "AddSchool", "School", new { id = @item.SchoolId }, new { @class = "btn btn-sm btn-primary fa fa-edit", @title = "Edit" })
                                                @Html.ActionLink(" ", "DeleteSchool", "School", new { id = @item.SchoolId }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the school?')", @data_original_title = "Delete", @title = "Delete" })

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
<script>

    function Delete(id) {
        debugger
        $(".loader-ajax-container").css("display", "block");
        $.ajax({
            type: 'POST',
            url: "/Admin/DeleteSchool",
            contentType: false, // Not to set any content header
            processData: false,
            data: id,
            success: function (data) {
                $(".loader-ajax-container").css("display", "none");
                console.log(data.Data);
                if (data.Data)
                    window.location.reload();
            }
        });

    }
    $(document).ready(function () {
        if ('@message'.length > 0) {
            setTimeout(function () {
                $(".alertMsg").hide();
            }, 8000);
        }
    });
</script>