﻿@{
    ViewBag.Title = "uploadTeachers";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Upload Teacher </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/School/GetallTeachers/"><i class="fa fa-undo"></i><span> Back</span></a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    @using (Html.BeginForm("UploadTeacherDetails", "School", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Sample Excel</div>
                            <div class="col-md-4">
                                <a id="lnksample" href="/School/DownloadSampleTeacherExcel">Download</a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Upload Excel</div>
                            <div class="col-md-4">
                                <input type="file" name="file" id="file" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group text-center">
                            <button id="btnsearch" type="submit" class="btn btn-primary">Upload Excel</button>
                           
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>



            </div>
        </div>
    </div>
</div>