﻿@{
    ViewBag.Title = "UsageReport";
    Layout = null;
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

    #chartdiv2 {
        width: 100%;
        height: 500px;
    }
</style>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script>
    $(document).ready(function () {
        function GetReport() {
            $.get("/School/GetUsageReportList", function (data) {
                debugger;
                $('#tbdlist').empty();
                if (data.length > 0) {
                    var tr = '';
                    for (var s = 0; s < data.length; s++) {
                        tr += '<tr><td>' + (s + 1) + '</td>';
                        tr += '<td>' + data[s].Customer_Name + '</td>';
                        //  tr += '<td>' + data[s].ReportType_Name + '</td>';
                        tr += '<td>' + data[s].Total_Time + '</td>';
                        tr += '<td>' + data[s].ReportDate + '</td>';
                        tr += '<td>' + data[s].InsertedOn + '</td></tr>';
                    }
                    debugger;                    
                    $('#tbltbody').html(tr);                  
                }
                else {                    
                    $('#tbltbody').html('');                   
                }

            })
            maketotaluser();
            maketotalminute();
        }
        function maketotaluser() {
            $.get("/School/GetActivityTotalUser", function (data) {
                if (data.length > 0) {
                    // var result=JSON.stringify(data);
                    var chartData = generateChartData(data);
                    var chart = AmCharts.makeChart("chartdiv", {
                        "type": "serial",
                        "theme": "light",
                        "marginRight": 40,
                        "marginLeft": 40,
                        "autoMarginOffset": 20,
                        "mouseWheelZoomEnabled": true,
                        "dataDateFormat": "YYYY-MM-DD",
                        "dataProvider": chartData,
                        "valueAxes": [{
                            "axisAlpha": 0,
                            "position": "left",
                            "ignoreAxisWidth": true
                        }],
                        "mouseWheelZoomEnabled": true,
                        "graphs": [{
                            "id": "g1",
                            "balloonText": "[[value]]",
                            "bullet": "round",
                            "bulletBorderAlpha": 1,
                            "bulletColor": "#FFFFFF",
                            "hideBulletsCount": 50,
                            "title": "red line",
                            "valueField": "visits",
                            "useLineColorForBulletBorder": true,
                            "balloon": {
                                "drop": true
                            }
                        }],
                        "chartScrollbar": {
                            "autoGridCount": true,
                            "graph": "g1",
                            "scrollbarHeight": 40
                        },
                        "chartCursor": {
                            "limitToGraph": "g1"
                        },
                        "categoryField": "date",
                        "categoryAxis": {
                            "parseDates": true,
                            "axisColor": "#DADADA",
                            "dashLength": 1,
                            "minorGridEnabled": true
                        },
                        "export": {
                            "enabled": true
                        }
                    });

                    //  chart.addListener("rendered", zoomChart);
                    // zoomChart();
                }
                else {
                    $('#chartdiv').empty();
                    $('#chartdiv').html('<div>No Records Found</div>')
                }
            });
        }
        function generateChartData(data) {
            var chartData = [];
            for (var i = 0; i < data.length; i++) {

                chartData.push({
                    date: data[i].date,
                    visits: data[i].value
                });
            }
            return chartData;
        }
        function maketotalminute() {
            $.get("/School/GetActivityTotalTime", function (data) {
                if (data.length > 0) {
                    // var result=JSON.stringify(data);
                    var chartData = generateChartData1(data);
                    var chart = AmCharts.makeChart("chartdiv2", {
                        "type": "serial",
                        "theme": "light",
                        "marginRight": 40,
                        "marginLeft": 40,
                        "autoMarginOffset": 20,
                        "mouseWheelZoomEnabled": true,
                        "dataDateFormat": "YYYY-MM-DD",
                        "dataProvider": chartData,
                        "valueAxes": [{
                            "axisAlpha": 0,
                            "position": "left",
                            "ignoreAxisWidth": true
                        }],
                        "mouseWheelZoomEnabled": true,
                        "graphs": [{
                            "id": "g1",
                            "balloonText": "[[value]]",
                            "bullet": "round",
                            "bulletBorderAlpha": 1,
                            "bulletColor": "#FFFFFF",
                            "hideBulletsCount": 50,
                            "title": "red line",
                            "valueField": "visits",
                            "useLineColorForBulletBorder": true,
                            "balloon": {
                                "drop": true
                            }
                        }],
                        "chartScrollbar": {
                            "autoGridCount": true,
                            "graph": "g1",
                            "scrollbarHeight": 40
                        },
                        "chartCursor": {
                            "limitToGraph": "g1"
                        },
                        "categoryField": "date",
                        "categoryAxis": {
                            "parseDates": true,
                            "axisColor": "#DADADA",
                            "dashLength": 1,
                            "minorGridEnabled": true
                        },
                        "export": {
                            "enabled": true
                        }
                    });

                    // chart.addListener("rendered", zoomChart);
                    // zoomChart();
                }
                else {
                    $('#chartdiv2').empty();
                    $('#chartdiv2').html('<div>No Records Found</div>');
                }

            })
        }
        function generateChartData1(data) {
            var chartData = [];
            for (var i = 0; i < data.length; i++) {

                chartData.push({
                    date: data[i].date,
                    visits: data[i].value
                });
            }
            return chartData;
        }
    })
</script>


<div class="col-md-12">
    <div class="form-group">

    </div>
</div>