﻿@model DigiChamps.Models.DigiChampsModel.DigichampsReportType
@*@model DigiChamps.Models.DigiChampsModel.DigichampsReportSubType*@
@{
    ViewBag.Title = "ViewReport";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}


<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        font-size: 11px;
        background-color: white;
        margin-bottom: 50px;
    }

    #chartdiv2 {
        width: 100%;
        height: 500px;
        font-size: 11px;
        background-color: white;
    }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>



<!-- HTML -->




<div class="page-content-wrap">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/School/SchoolDashBoard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    @using (Html.BeginForm("ViewReport", "School", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
    {
        @Html.AntiForgeryToken();
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        @*<h3><i class="fa fa-file"></i> Add New</h3>*@
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Board == null) //insert
                                {
                                    @(Html.DropDownList("Board_Name", ViewBag.Board_Id as SelectList, "Please Select Board", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select board", @id = "ddlboard" }))

                                }
                                else
                                {
                                    <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please select board" disabled="disabled">
                                        <option value="">Please Select Board</option>
                                        @foreach (var v in ViewBag.Board)
                                        {
                                            if (ViewBag.b_id == v.Board_Id)
                                            {
                                                <option value="@v.Board_Id" selected="selected">@v.Board_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Board_Id">@v.Board_Name</option>
                                            }
                                        }
                                    </select>

                                }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Class == null) //insert
                                {
                                    @(Html.DropDownListFor(x => x.Class_Name, new List<SelectListItem>(), "Please Select Class", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "Please select class", @id = "ddlclass" }))                                    @Html.ValidationMessageFor(x => x.Class_Id)
                                }
                                else
                                {
                                    <select id='ddlclass' name="Class_Name" class="form-control" data-rule-required="false" data-msg-required="Please select Class" disabled="disabled">
                                        <option value="">Please Select Class</option>
                                        @foreach (var v in ViewBag.Class)
                                        {
                                            if (ViewBag.classid == v.Class_Id)
                                            {
                                                <option value="@v.Class_Id" selected="selected">@v.Class_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Class_Id">@v.Class_Name</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.section != null)
                                {
                                    @(Html.DropDownListFor(x => x.SectionName, new List<SelectListItem>(), "Please Select Section", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "Please select section", @id = "ddlsection" }))
                                }
                                else
                                {
                                    <select id='ddlsection' name="SectionName" class="form-control" data-rule-required="false" data-msg-required="Please select SectionName" disabled="disabled">
                                        <option value="">Please Select SectionName</option>
                                        @foreach (var v in ViewBag.SectionName)
                                        {
                                            if (ViewBag.section == v.Value)
                                            {
                                                <option value="@v.Value" selected="selected">@v.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Value">@v.Text</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="page-content-wrap">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="box">
                            <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                            <div class="box-content">
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Report Type<span class="asterisk">*</span></label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        @if (ViewBag.ReportType == null) //insert subject
                                        {
                                            @(Html.DropDownList("ReportType_Name", ViewBag.ReportType_ID as SelectList, "Please Select Report Type", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select Type", @id = "ddlreporttype" }))

                                        }
                                        else
                                        {
                                            <select id='ddlreporttype' name="ReportType_Name" class="form-control" data-rule-required="true" data-msg-required="Please select Type" disabled="disabled">
                                                <option value="">Please Select Report Type</option>
                                                @foreach (var v in ViewBag.ReportType)
                                                {
                                                    if (ViewBag.rt_id == v.ReportType_ID)
                                                    {
                                                        <option value="@v.ReportType_ID" selected="selected">@v.ReportType_Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@v.ReportType_ID">@v.ReportType_Name</option>
                                                    }
                                                }
                                            </select>
                                        }
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="ajax-loader">
                                            <div class="loader"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-2 control-label">SubType<span class="asterisk">*</span></label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        @(Html.DropDownListFor(x => x.ReportSubType_ID, new List<SelectListItem>(), "Please Select SubType", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select SubType", @id = "ddlSubType" }))                                    @Html.ValidationMessageFor(x => x.ReportSubType_ID)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@





        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-list-ul"></i>Search Reports By Date </h3>
                    </div>
                    <div class="box-content">
                        <div class="page-content-wrap">
                            <div class="row">
                                <div class="">

                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="fdate"
                                                   autocomplete="off" data-rule-required="true" data-msg-required="Please select From date"
                                                   name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="tdate" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date"
                                                   class="datepicker form-control" />
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-12" style="margin-top: -20px;width: 102.5%;margin-left: -15px;">
        <div class="box">
            <div class="box-content">
                <div class="form-group last box-tooll">
                    <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2" style="margin-top: -2%;">
                        <button id="btnadd" type="submit" class="btn btn-primary" onclick="javascript: search();"><i class="fa fa-search"></i><span> Search</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@if (@ViewBag.data !=null)
        {*@
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>Report Details</h3>
                    <div class="box-tool box-tooll">
                        @*<button onclick="javascript:demoFromHTML();">PDF</button>*@
                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="javascript: make();"><i class="fa fa-file-pdf-o"></i> SHOW CHART</a>
                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="javascript: demoFromHTML();"><i class="fa fa-file-pdf-o"></i> PDF</a>
                        <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="clearfix"></div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>User</th>
                                    <th>Video</th>
                                    <th>TotalTime</th>
                                    <th>Report Date</th>
                                    <th>Inserted Date</th>
                                    @*<th style="width: 15%;">Action</th>*@
                                    <th hidden> id</th>
                                </tr>
                            </thead>
                            <tbody id="tbdlist">
                                @if (ViewBag.data != null)
                                {
                                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                    int rowNo = 0;
                                    foreach (var item in ViewBag.data)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.Customer_Name</td>
                                            <td>@item.Module_Name</td>
                                            <td>@item.Video_Time</td>
                                            @*<td>@item.Report_Date</td>*@
                                            <td>
                                                @{
                                        DateTime dt = Convert.ToDateTime(@item.Report_Date);
                                                }
                                                @dt.ToShortDateString()
                                            </td>
                                            <td>
                                                @{
                                        DateTime dt1 = Convert.ToDateTime(@item.Inserted_On);
                                                }
                                                @dt.ToShortDateString()
                                            </td>

                                            @*<td>@item.Inserted_On</td>*@
                                            @*<td>
                                                        @{
                                                DateTime tm1 = Convert.ToDateTime(@item.StartDate);
                                                        }
                                                        @tm1.ToShortTimeString()
                                                    </td>
                                                    <td>
                                                        @{
                                                DateTime tm2 = Convert.ToDateTime(@item.EndDate);
                                                        }
                                                        @tm2.ToShortTimeString()
                                                    </td>
                                                    <td>
                                                        @{
                                                DateTime dt = Convert.ToDateTime(@item.EndDate);
                                                        }
                                                        @dt.ToShortDateString()
                                                    </td>*@
                                            <td>
                                                @*@Html.ActionLink(" ", "ChartView", "School", new { id = @item.ReportModuleMaster_ID }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })
                                                    @Html.ActionLink(" ", "AddPreviousYearPaper", "Admin", new { ID = @item.PreviousYearPaper_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })*@
                                                @Html.ActionLink(" ", "DeleteReport", "School", new { ID = @item.ReportModuleMaster_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the banner?')", @data_original_title = "Delete", @title = "Delete" })
                                            </td>
                                            <td hidden>@item.UserReport_ID</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*}*@
    @*@if (@ViewBag.showChart==true)
        {*@
    <div class="row ">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Total No.of Users - Date Wise Chart</h3>
                </div>
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Total Usage Time - Date Wise Chart</h3>
                </div>
                <div id="chartdiv2"></div>
            </div>
        </div>
    </div>
    @*}*@
</div>



@section scripts{
    <script>
                    $(document).ready(function () {
                        $('#ddlreporttype').change(function () {
                            if ($('#ddlSubType').closest('.form-group').find('.ajax-loader').length) {
                                // do nothing
                            } else {
                                $('#ddlSubType').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                            }
                            $('#ddlSubType').closest('.form-group').addClass('display-loader');
                            $.ajax({
                                type: "POST",
                                url: "/School/GetAllSubType",
                                data: { rtypId: $('#ddlreporttype').val() },
                                datatype: "json",
                                traditional: true,
                                success: function (data) {
                                    var sta = "<select id='ddlSubType'>";
                                    sta = sta + '<option value="">Please Select Class</option>';
                                    for (var i = 0; i < data.length; i++) {
                                        sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                    }
                                    sta = sta + '</select>';
                                    $('#ddlSubType').html(sta);
                                    setTimeout(function () {
                                        $('#ddlSubType').closest('.form-group').removeClass('display-loader');
                                    }, 800);
                                }
                            });
                        });

                        @if(ViewBag.classid != null)
        {<text>
                        var statesAvailable = '@ViewBag.classid';
                        var subid = '@ViewBag.subject_id';
                        if (subid != null) {
                            $.ajax({
                                type: "POST",
                                url: "/School/GetAllSubType",
                                data: { rtypId: '@ViewBag.rt_id' },
                                datatype: "json",
                                traditional: true,
                                success: function (data) {
                                    var sta = "<select id='ddlSubType'>";
                                    sta = sta + '<option value="">Please Select Class</option>';
                                    for (var i = 0; i < data.length; i++) {
                                        if (data[i].Value == statesAvailable) {
                                            sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                        }
                                        else {
                                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                        }
                                    }
                                    sta = sta + '</select>';
                                    $('#ddlSubType').html(sta);
                                    @if(ViewBag.classid != null)
                    {
                        <text>
                                    $('#ddlSubType').attr("disabled", "disabled");</text>
                    }
                                }
                            });
                        }</text>
        }
                    });

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/libs/base64.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/jspdf.js"></script>
    <script src="~/js/plugins/tableexport/html2canvas.js"></script>
    <script src="~/js/plugins/tableexport/jquery.base64.js"></script>
    <script src="~/js/plugins/tableexport/tableExport.js"></script>

    <script src="~/assets/bootstrap/js/jspdf.min.js"></script>
    <script>
        function demoFromHTML() {
            var pdf = new jsPDF('p', 'pt', 'letter');
            source = $('#table1')[0];
            specialElementHandlers = {
                '#bypassme': function (element, renderer) {
                    return true
                }
            };
            margins = {
                top: 80,
                bottom: 60,
                left: 10,
                width: 700
            };

            pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },

            function (dispose) {
                pdf.save('Test.pdf');
            }, margins);
        }


    </script>
    <script>
        function make() {
            //$("input[name*='f_Date']").val(),
            //$("input[name*='t_Date']").val(),
            // alert($('#fdate').val());
            //  alert($('#tdate').val());

            var classId = $('#ddlclass').val();
            var sectionId = $('#ddlsection').val();
            if (!$('#ddlclass').val() || $('#ddlclass').val().length === 0) {
                $.ajax({
                    type: "POST",
                    url: "/School/NewChart",
                    data: {
                        f_Date: $("input[name*='f_Date']").val(),
                        t_Date: $("input[name*='t_Date']").val()

                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var chart = AmCharts.makeChart("chartdiv", {
                            "type": "serial",
                            "theme": "light",
                            "marginRight": 40,
                            "marginLeft": 40,
                            "autoMarginOffset": 20,
                            "mouseWheelZoomEnabled": true,
                            "dataDateFormat": "YYYY-MM-DD",
                            "valueAxes": [{
                                "id": "v1",
                                "axisAlpha": 0,
                                "position": "left",
                                "ignoreAxisWidth": true
                            }],
                            "balloon": {
                                "borderThickness": 1,
                                "shadowAlpha": 0
                            },
                            "graphs": [{
                                "id": "g1",
                                "balloon": {
                                    "drop": true,
                                    "adjustBorderColor": false,
                                    "color": "#ffffff"
                                },
                                "bullet": "round",
                                "bulletBorderAlpha": 1,
                                "bulletColor": "#FFFFFF",
                                "bulletSize": 5,
                                "hideBulletsCount": 50,
                                "lineThickness": 2,
                                "title": "red line",
                                "useLineColorForBulletBorder": true,
                                "valueField": "value",
                                "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                            }],
                            "chartScrollbar": {
                                "graph": "g1",
                                "oppositeAxis": false,
                                "offset": 30,
                                "scrollbarHeight": 80,
                                "backgroundAlpha": 0,
                                "selectedBackgroundAlpha": 0.1,
                                "selectedBackgroundColor": "#888888",
                                "graphFillAlpha": 0,
                                "graphLineAlpha": 0.5,
                                "selectedGraphFillAlpha": 0,
                                "selectedGraphLineAlpha": 1,
                                "autoGridCount": true,
                                "color": "#AAAAAA"
                            },
                            "chartCursor": {
                                "pan": true,
                                "valueLineEnabled": true,
                                "valueLineBalloonEnabled": true,
                                "cursorAlpha": 1,
                                "cursorColor": "#258cbb",
                                "limitToGraph": "g1",
                                "valueLineAlpha": 0.2,
                                "valueZoomable": true
                            },
                            "valueScrollbar": {
                                "oppositeAxis": false,
                                "offset": 50,
                                "scrollbarHeight": 10
                            },
                            "categoryField": "date",
                            "categoryAxis": {
                                "parseDates": true,
                                "dashLength": 1,
                                "minorGridEnabled": true
                            },
                            "export": {
                                "enabled": true
                            },
                            "dataProvider": data[0]
                        });

                        var chart2 = AmCharts.makeChart("chartdiv2", {
                            "type": "serial",
                            "theme": "light",
                            "marginRight": 40,
                            "marginLeft": 40,
                            "autoMarginOffset": 20,
                            "mouseWheelZoomEnabled": true,
                            "dataDateFormat": "YYYY-MM-DD",
                            "valueAxes": [{
                                "id": "v1",
                                "axisAlpha": 0,
                                "position": "left",
                                "ignoreAxisWidth": true
                            }],
                            "balloon": {
                                "borderThickness": 1,
                                "shadowAlpha": 0
                            },
                            "graphs": [{
                                "id": "g1",
                                "balloon": {
                                    "drop": true,
                                    "adjustBorderColor": false,
                                    "color": "#ffffff"
                                },
                                "bullet": "round",
                                "bulletBorderAlpha": 1,
                                "bulletColor": "#FFFFFF",
                                "bulletSize": 5,
                                "hideBulletsCount": 50,
                                "lineThickness": 2,
                                "title": "red line",
                                "useLineColorForBulletBorder": true,
                                "valueField": "value",
                                "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                            }],
                            "chartScrollbar": {
                                "graph": "g1",
                                "oppositeAxis": false,
                                "offset": 30,
                                "scrollbarHeight": 80,
                                "backgroundAlpha": 0,
                                "selectedBackgroundAlpha": 0.1,
                                "selectedBackgroundColor": "#888888",
                                "graphFillAlpha": 0,
                                "graphLineAlpha": 0.5,
                                "selectedGraphFillAlpha": 0,
                                "selectedGraphLineAlpha": 1,
                                "autoGridCount": true,
                                "color": "#AAAAAA"
                            },
                            "chartCursor": {
                                "pan": true,
                                "valueLineEnabled": true,
                                "valueLineBalloonEnabled": true,
                                "cursorAlpha": 1,
                                "cursorColor": "#258cbb",
                                "limitToGraph": "g1",
                                "valueLineAlpha": 0.2,
                                "valueZoomable": true
                            },
                            "valueScrollbar": {
                                "oppositeAxis": false,
                                "offset": 50,
                                "scrollbarHeight": 10
                            },
                            "categoryField": "date",
                            "categoryAxis": {
                                "parseDates": true,
                                "dashLength": 1,
                                "minorGridEnabled": true
                            },
                            "export": {
                                "enabled": true
                            },
                            "dataProvider": data[1]
                        });
                    }
                ,
                    error: function (error) {
                        console.log(error);
                    }
                });

            }
            else
                if (!$('#ddlsection').val() || $('#ddlsection').val().length === 0) {
                    $.ajax({
                        type: "POST",
                        url: "/School/NewChartClass",
                        data: {
                            f_Date: $("input[name*='f_Date']").val(),
                            t_Date: $("input[name*='t_Date']").val(),
                            classId: classId

                        },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var chart = AmCharts.makeChart("chartdiv", {
                                "type": "serial",
                                "theme": "light",
                                "marginRight": 40,
                                "marginLeft": 40,
                                "autoMarginOffset": 20,
                                "mouseWheelZoomEnabled": true,
                                "dataDateFormat": "YYYY-MM-DD",
                                "valueAxes": [{
                                    "id": "v1",
                                    "axisAlpha": 0,
                                    "position": "left",
                                    "ignoreAxisWidth": true
                                }],
                                "balloon": {
                                    "borderThickness": 1,
                                    "shadowAlpha": 0
                                },
                                "graphs": [{
                                    "id": "g1",
                                    "balloon": {
                                        "drop": true,
                                        "adjustBorderColor": false,
                                        "color": "#ffffff"
                                    },
                                    "bullet": "round",
                                    "bulletBorderAlpha": 1,
                                    "bulletColor": "#FFFFFF",
                                    "bulletSize": 5,
                                    "hideBulletsCount": 50,
                                    "lineThickness": 2,
                                    "title": "red line",
                                    "useLineColorForBulletBorder": true,
                                    "valueField": "value",
                                    "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                                }],
                                "chartScrollbar": {
                                    "graph": "g1",
                                    "oppositeAxis": false,
                                    "offset": 30,
                                    "scrollbarHeight": 80,
                                    "backgroundAlpha": 0,
                                    "selectedBackgroundAlpha": 0.1,
                                    "selectedBackgroundColor": "#888888",
                                    "graphFillAlpha": 0,
                                    "graphLineAlpha": 0.5,
                                    "selectedGraphFillAlpha": 0,
                                    "selectedGraphLineAlpha": 1,
                                    "autoGridCount": true,
                                    "color": "#AAAAAA"
                                },
                                "chartCursor": {
                                    "pan": true,
                                    "valueLineEnabled": true,
                                    "valueLineBalloonEnabled": true,
                                    "cursorAlpha": 1,
                                    "cursorColor": "#258cbb",
                                    "limitToGraph": "g1",
                                    "valueLineAlpha": 0.2,
                                    "valueZoomable": true
                                },
                                "valueScrollbar": {
                                    "oppositeAxis": false,
                                    "offset": 50,
                                    "scrollbarHeight": 10
                                },
                                "categoryField": "date",
                                "categoryAxis": {
                                    "parseDates": true,
                                    "dashLength": 1,
                                    "minorGridEnabled": true
                                },
                                "export": {
                                    "enabled": true
                                },
                                "dataProvider": data[0]
                            });

                            var chart2 = AmCharts.makeChart("chartdiv2", {
                                "type": "serial",
                                "theme": "light",
                                "marginRight": 40,
                                "marginLeft": 40,
                                "autoMarginOffset": 20,
                                "mouseWheelZoomEnabled": true,
                                "dataDateFormat": "YYYY-MM-DD",
                                "valueAxes": [{
                                    "id": "v1",
                                    "axisAlpha": 0,
                                    "position": "left",
                                    "ignoreAxisWidth": true
                                }],
                                "balloon": {
                                    "borderThickness": 1,
                                    "shadowAlpha": 0
                                },
                                "graphs": [{
                                    "id": "g1",
                                    "balloon": {
                                        "drop": true,
                                        "adjustBorderColor": false,
                                        "color": "#ffffff"
                                    },
                                    "bullet": "round",
                                    "bulletBorderAlpha": 1,
                                    "bulletColor": "#FFFFFF",
                                    "bulletSize": 5,
                                    "hideBulletsCount": 50,
                                    "lineThickness": 2,
                                    "title": "red line",
                                    "useLineColorForBulletBorder": true,
                                    "valueField": "value",
                                    "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                                }],
                                "chartScrollbar": {
                                    "graph": "g1",
                                    "oppositeAxis": false,
                                    "offset": 30,
                                    "scrollbarHeight": 80,
                                    "backgroundAlpha": 0,
                                    "selectedBackgroundAlpha": 0.1,
                                    "selectedBackgroundColor": "#888888",
                                    "graphFillAlpha": 0,
                                    "graphLineAlpha": 0.5,
                                    "selectedGraphFillAlpha": 0,
                                    "selectedGraphLineAlpha": 1,
                                    "autoGridCount": true,
                                    "color": "#AAAAAA"
                                },
                                "chartCursor": {
                                    "pan": true,
                                    "valueLineEnabled": true,
                                    "valueLineBalloonEnabled": true,
                                    "cursorAlpha": 1,
                                    "cursorColor": "#258cbb",
                                    "limitToGraph": "g1",
                                    "valueLineAlpha": 0.2,
                                    "valueZoomable": true
                                },
                                "valueScrollbar": {
                                    "oppositeAxis": false,
                                    "offset": 50,
                                    "scrollbarHeight": 10
                                },
                                "categoryField": "date",
                                "categoryAxis": {
                                    "parseDates": true,
                                    "dashLength": 1,
                                    "minorGridEnabled": true
                                },
                                "export": {
                                    "enabled": true
                                },
                                "dataProvider": data[1]
                            });
                        }
                     ,
                        error: function (error) {
                            console.log(error);
                        }
                    });

                }
                else
                    $.ajax({
                        type: "POST",
                        url: "/School/NewChartSection",
                        data: {
                            f_Date: $("input[name*='f_Date']").val(),
                            t_Date: $("input[name*='t_Date']").val(),
                            classId: classId,
                            sectionId: sectionId
                        },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var chart = AmCharts.makeChart("chartdiv", {
                                "type": "serial",
                                "theme": "light",
                                "marginRight": 40,
                                "marginLeft": 40,
                                "autoMarginOffset": 20,
                                "mouseWheelZoomEnabled": true,
                                "dataDateFormat": "YYYY-MM-DD",
                                "valueAxes": [{
                                    "id": "v1",
                                    "axisAlpha": 0,
                                    "position": "left",
                                    "ignoreAxisWidth": true
                                }],
                                "balloon": {
                                    "borderThickness": 1,
                                    "shadowAlpha": 0
                                },
                                "graphs": [{
                                    "id": "g1",
                                    "balloon": {
                                        "drop": true,
                                        "adjustBorderColor": false,
                                        "color": "#ffffff"
                                    },
                                    "bullet": "round",
                                    "bulletBorderAlpha": 1,
                                    "bulletColor": "#FFFFFF",
                                    "bulletSize": 5,
                                    "hideBulletsCount": 50,
                                    "lineThickness": 2,
                                    "title": "red line",
                                    "useLineColorForBulletBorder": true,
                                    "valueField": "value",
                                    "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                                }],
                                "chartScrollbar": {
                                    "graph": "g1",
                                    "oppositeAxis": false,
                                    "offset": 30,
                                    "scrollbarHeight": 80,
                                    "backgroundAlpha": 0,
                                    "selectedBackgroundAlpha": 0.1,
                                    "selectedBackgroundColor": "#888888",
                                    "graphFillAlpha": 0,
                                    "graphLineAlpha": 0.5,
                                    "selectedGraphFillAlpha": 0,
                                    "selectedGraphLineAlpha": 1,
                                    "autoGridCount": true,
                                    "color": "#AAAAAA"
                                },
                                "chartCursor": {
                                    "pan": true,
                                    "valueLineEnabled": true,
                                    "valueLineBalloonEnabled": true,
                                    "cursorAlpha": 1,
                                    "cursorColor": "#258cbb",
                                    "limitToGraph": "g1",
                                    "valueLineAlpha": 0.2,
                                    "valueZoomable": true
                                },
                                "valueScrollbar": {
                                    "oppositeAxis": false,
                                    "offset": 50,
                                    "scrollbarHeight": 10
                                },
                                "categoryField": "date",
                                "categoryAxis": {
                                    "parseDates": true,
                                    "dashLength": 1,
                                    "minorGridEnabled": true
                                },
                                "export": {
                                    "enabled": true
                                },
                                "dataProvider": data[0]
                            });

                            var chart2 = AmCharts.makeChart("chartdiv2", {
                                "type": "serial",
                                "theme": "light",
                                "marginRight": 40,
                                "marginLeft": 40,
                                "autoMarginOffset": 20,
                                "mouseWheelZoomEnabled": true,
                                "dataDateFormat": "YYYY-MM-DD",
                                "valueAxes": [{
                                    "id": "v1",
                                    "axisAlpha": 0,
                                    "position": "left",
                                    "ignoreAxisWidth": true
                                }],
                                "balloon": {
                                    "borderThickness": 1,
                                    "shadowAlpha": 0
                                },
                                "graphs": [{
                                    "id": "g1",
                                    "balloon": {
                                        "drop": true,
                                        "adjustBorderColor": false,
                                        "color": "#ffffff"
                                    },
                                    "bullet": "round",
                                    "bulletBorderAlpha": 1,
                                    "bulletColor": "#FFFFFF",
                                    "bulletSize": 5,
                                    "hideBulletsCount": 50,
                                    "lineThickness": 2,
                                    "title": "red line",
                                    "useLineColorForBulletBorder": true,
                                    "valueField": "value",
                                    "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                                }],
                                "chartScrollbar": {
                                    "graph": "g1",
                                    "oppositeAxis": false,
                                    "offset": 30,
                                    "scrollbarHeight": 80,
                                    "backgroundAlpha": 0,
                                    "selectedBackgroundAlpha": 0.1,
                                    "selectedBackgroundColor": "#888888",
                                    "graphFillAlpha": 0,
                                    "graphLineAlpha": 0.5,
                                    "selectedGraphFillAlpha": 0,
                                    "selectedGraphLineAlpha": 1,
                                    "autoGridCount": true,
                                    "color": "#AAAAAA"
                                },
                                "chartCursor": {
                                    "pan": true,
                                    "valueLineEnabled": true,
                                    "valueLineBalloonEnabled": true,
                                    "cursorAlpha": 1,
                                    "cursorColor": "#258cbb",
                                    "limitToGraph": "g1",
                                    "valueLineAlpha": 0.2,
                                    "valueZoomable": true
                                },
                                "valueScrollbar": {
                                    "oppositeAxis": false,
                                    "offset": 50,
                                    "scrollbarHeight": 10
                                },
                                "categoryField": "date",
                                "categoryAxis": {
                                    "parseDates": true,
                                    "dashLength": 1,
                                    "minorGridEnabled": true
                                },
                                "export": {
                                    "enabled": true
                                },
                                "dataProvider": data[1]
                            });
                        }
                   ,
                        error: function (error) {
                            console.log(error);
                        }
                    });

            // alert(sectionId);
            //  alert(classId);



        }
    </script>


    <script>
        function search() {
            $('#chartdiv').html("");
            $('#chartdiv2').html("");
            //$("input[name*='t_Date']").val(),

            //var chart = AmCharts.makeChart("chartdiv", null);
            var classId = $('#ddlclass').val();;
            var sectionId = $('#ddlsection').val();

            // alert($('#ddlclass').val());
            //   alert($('#ddlsection').val());

            if ($('#ddlclass').val().length === 0) {
                $.ajax({
                    type: "POST",
                    url: "/School/GetReportList",
                    data: {
                        f_Date: $("input[name*='f_Date']").val(),
                        t_Date: $("input[name*='t_Date']").val()

                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log("GetReportList:" + JSON.stringify(data));
                        var sta = "<table class='table table-advance' id='table1'>";


                        sta = sta + "<thead><tr><th>Sl No.</th>  <th>User</th>  <th>Video</th><th>TotalTime</th> <th>Report Date</th> <th>Inserted Date</th><th hidden> id</th></tr>";
                        sta = sta + ' </thead>';


                        sta = sta + '<tbody id="tbdlist">';

                        var rowNo = 0;
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<tr>';
                            sta = sta + '<td>' + (rowNo += 1) + '</td>';
                            sta = sta + '<td>' + data[i].Customer_Name + '</td>';
                            sta = sta + '<td>' + data[i].Module_Name + '</td>';
                            sta = sta + '<td>' + data[i].Video_Time + '</td>';
                            sta = sta + '<td>' +
                                  moment(data[i].Report_Date).format("DD/MM/YYYY") + '</td>';
                            sta = sta + '<td>' + moment(data[i].Inserted_On).format("DD/MM/YYYY") + '</td>';
                            sta = sta + '</tr>';

                        }
                        sta = sta + "</tbody></table>";

                        $('#table1').html(sta);

                    }
                ,
                    error: function (error) {
                        console.log(error);
                    }
                });

            }
            else
                if ($('#ddlsection').val().length === 0) {
                    $.ajax({
                        type: "POST",
                        url: "/School/GetReportListClass",
                        data: {
                            f_Date: $("input[name*='f_Date']").val(),
                            t_Date: $("input[name*='t_Date']").val(),
                            classId: classId

                        },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {

                            console.log("GetReportListClass:" + JSON.stringify(data));
                            var sta = "<table class='table table-advance' id='table1'>";


                            sta = sta + "<thead><tr><th>Sl No.</th>  <th>User</th>  <th>Video</th><th>TotalTime</th> <th>Report Date</th> <th>Inserted Date</th><th hidden> id</th></tr>";
                            sta = sta + ' </thead>';





                            sta = sta + '<tbody id="tbdlist">';

                            var rowNo = 0;
                            for (var i = 0; i < data.length; i++) {
                                sta = sta + '<tr>';
                                sta = sta + '<td>' + (rowNo += 1) + '</td>';
                                sta = sta + '<td>' + data[i].Customer_Name + '</td>';
                                sta = sta + '<td>' + data[i].Module_Name + '</td>';
                                sta = sta + '<td>' + data[i].Video_Time + '</td>';
                                sta = sta + '<td>' +
                                 moment(data[i].Report_Date).format("DD/MM/YYYY") + '</td>';
                                sta = sta + '<td>' + moment(data[i].Inserted_On).format("DD/MM/YYYY") + '</td>';
                                sta = sta + '</tr>';

                            }
                            sta = sta + "</tbody></table>";

                            $('#table1').html(sta);

                        }
                     ,
                        error: function (error) {
                            console.log(error);
                        }
                    });

                }
                else
                    $.ajax({
                        type: "POST",
                        url: "/School/GetReportListSection",
                        data: {
                            f_Date: $("input[name*='f_Date']").val(),
                            t_Date: $("input[name*='t_Date']").val(),
                            classId: classId,
                            section: sectionId
                        },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            console.log("GetReportListSection:" + JSON.stringify(data));
                            //  alert(data.length);
                            // alert($('#tdate').val());
                            var sta = "<table class='table table-advance' id='table1'>";


                            sta = sta + "<thead><tr><th>Sl No.</th>  <th>User</th>  <th>Video</th><th>TotalTime</th> <th>Report Date</th> <th>Inserted Date</th><th hidden> id</th></tr>";
                            sta = sta + ' </thead>';





                            sta = sta + '<tbody id="tbdlist">';

                            var rowNo = 0;
                            for (var i = 0; i < data.length; i++) {
                                sta = sta + '<tr>';
                                sta = sta + '<td>' + (rowNo += 1) + '</td>';
                                sta = sta + '<td>' + data[i].Customer_Name + '</td>';
                                sta = sta + '<td>' + data[i].Module_Name + '</td>';
                                sta = sta + '<td>' + data[i].Video_Time + '</td>';
                                sta = sta + '<td>' +
                                 moment(data[i].Report_Date).format("DD/MM/YYYY") + '</td>';
                                sta = sta + '<td>' + moment(data[i].Inserted_On).format("DD/MM/YYYY") + '</td>';
                                sta = sta + '</tr>';

                            }
                            sta = sta + "</tbody></table>";

                            $('#table1').html(sta);

                        }
                   ,
                        error: function (error) {
                            console.log(error);
                        }
                    });

            // alert(sectionId);
            //  alert(classId);



        }
    </script>

    <script>
                    $(document).ready(function () {
                        $('#ddlboard').change(function () {
                            if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                                // do nothing
                            } else {
                                $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                            }
                            $('#ddlclass').closest('.form-group').addClass('display-loader');
                            $.ajax({
                                type: "POST",
                                url: "/Admin/GetAllClass",
                                data: { brdId: $('#ddlboard').val() },
                                datatype: "json",
                                traditional: true,
                                success: function (data) {
                                    var sta = "<select id='ddlclass'>";
                                    sta = sta + '<option value="">Please Select Class</option>';
                                    for (var i = 0; i < data.length; i++) {
                                        sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                    }
                                    sta = sta + '</select>';
                                    $('#ddlclass').html(sta);
                                    setTimeout(function () {
                                        $('#ddlclass').closest('.form-group').removeClass('display-loader');
                                    }, 800);
                                }
                            });
                        });

                        @if(ViewBag.classid != null)
        {<text>
                        var statesAvailable = '@ViewBag.classid';
                        var subid = '@ViewBag.subject_id';
                        if (subid != null) {
                            $.ajax({
                                type: "POST",
                                url: "/Admin/GetAllClass",
                                data: { brdId: '@ViewBag.b_id' },
                                datatype: "json",
                                traditional: true,
                                success: function (data) {
                                    var sta = "<select id='ddlclass'>";
                                    sta = sta + '<option value="">Please Select Class</option>';
                                    for (var i = 0; i < data.length; i++) {
                                        if (data[i].Value == statesAvailable) {
                                            sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                        }
                                        else {
                                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                        }
                                    }
                                    sta = sta + '</select>';
                                    $('#ddlclass').html(sta);
                                    @if(ViewBag.classid != null)
                    {
                        <text>
                                    $('#ddlclass').attr("disabled", "disabled");</text>
                    }
                                }
                            });
                        }</text>
        }
                    });

    </script>

    <script>
        $(document).ready(function () {
            $('#ddlclass').change(function () {
                $('#ddlclass').closest('.form-group').addClass('display-loader');
                $.ajax({
                    type: "POST",
                    url: "/School/GetAllSection",
                    data: { brdId: $('#ddlclass').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(JSON.stringify(data));

                        var sta = "<select>";
                        sta = sta + '<option value="">Select Section</option>';
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        sta = sta + '</select>';
                        $('#ddlsection').html(sta);
                        setTimeout(function () {
                            $('#ddlclass').closest('.form-group').removeClass('display-loader');
                        }, 800);
                    }
                });
            });


        });

    </script>
}
