﻿@{
    ViewBag.Title = "ViewTestData";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet"
      href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
@*<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@

<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

    #chartdiv2 {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script>
    $(document).ready(function () {
        GetBoard();

        function GetBoard() {
            $.get("../School/GetBoard", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected="selected">Select Board Name</option>');
                    for (var i = 0; i < data.length; i++) {
                        var res = '<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>';
                        $('#ddlboard').append(res);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected="selected">No Records Found</option>');
                }
            })
        }
        function GetClass(id) {
            debugger;
            if (id != '0') {
                $.get("../School/GetClasses?B_id=" + id + "", function (data) {
                    debugger;
                    $('#ddlclass').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0" selected="selected">Select Class Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>';
                            $('#ddlclass').append(res);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlclass').prop("disabled", true);
                $('#ddlclass').empty();
                $('#ddlsection').prop("disabled", true);
                $('#ddlsection').empty();
            }
        }
        function GetSections(id) {
            if (id != '0') {
                $.get("../School/GetSections?C_id=" + id + "", function (data) {
                    debugger;
                    $('#ddlsection').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0" selected="selected">Select Section Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>';
                            $('#ddlsection').append(res);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlsection').prop("disabled", true);
                $('#ddlsection').empty();
            }
        }
        function GetSubject(id) {
            if (id != '0') {
                $.get("../School/GetSubjectData?id=" + id + "", function (data) {
                    debugger;
                    $('#ddlsubject').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option value="0" selected="selected">Select Subject Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>';
                            $('#ddlsubject').append(res);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlsubject').prop("disabled", true);
                $('#ddlsubject').empty();
            }
        }
        function GetChapter(id) {
            if (id != '0') {
                $.get("../School/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    $('#ddlchapter').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option value="0" selected="selected">Select Chapter Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>';
                            $('#ddlchapter').append(res);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlchapter').prop("disabled", true);
                $('#ddlchapter').empty();
            }
        }
        function GetTestName(id) {
            if (id != '0') {
                $.get("../School/GetTestData?id=" + id + "", function (data) {
                    debugger;
                    $('#ddltest').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddltest').empty();
                        $('#ddltest').append('<option value="0" selected="selected">Select Test Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].Exam_ID + '">' + data[i].Exam_Name + '</option>';
                            $('#ddltest').append(res);
                        }
                    }
                    else {
                        $('#ddltest').empty();
                        $('#ddltest').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddltest').prop("disabled", true);
                $('#ddltest').empty();
            }
        }

        $('#ddlboard').change(function () {
            debugger;
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            debugger;
            GetSections($('#ddlclass').val());
            GetSubject($('#ddlclass').val());
        })
        $('#ddlsubject').change(function () {
            debugger;
            GetChapter($('#ddlsubject').val());
        })
        $('#ddlchapter').change(function () {
            debugger;
            GetTestName($('#ddlchapter').val());
        })
        $('#btnadd').click(function () {           
                debugger;           
                if ($('#ddlboard').val() == '0') {
                    alert('Please Select Board Name');
                    $('#ddlboard').focus();
                    return false;                
                }
                if ($('#ddlclass').val() == '0') {
                    alert('Please Select Class Name');
                    $('#ddlclass').focus();
                    return false;
                }
                if ($('#ddlsection').val() == '0') {
                    alert('Please Select Section Name');
                    $('#ddlsection').focus();
                    return false;
                }
                if ($('#ddlsubject').val() == '0') {
                    alert('Please Select Subject Name');
                    $('#ddlsubject').focus();
                    return false;
                }
                if ($('#ddlchapter').val() == '0') {
                    alert('Please Select Chapter Name');
                    $('#ddlchapter').focus();
                    return false;
                }
                if ($('#ddltest').val() == '0') {
                    alert('Please Select Test Name');
                    $('#ddltest').focus();
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "../School/GetTestMarks",
                    data: {
                        C_Id: $('#ddlclass').val(),
                        S_Id: $('#ddlsection').val(),
                        school_id: $('#hdnschoolid').val(),
                        Sub_Id: $('#ddlsubject').val(),
                        Chap_Id: $('#ddlchapter').val(),
                        T_Id: $('#ddltest').val(),
                        B_Id: $('#ddlboard').val()
                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        debugger;
                        $('#tbdlist').empty();
                        if (data.length > 0) {
                            var tr = '';
                            for (var s = 0; s < data.length; s++) {
                                tr += '<tr><td>' + (s + 1) + '</td>';
                                tr += '<td>' + data[s].Customer_Name + '</td>';                              
                                tr += '<td>' + data[s].Question_Nos + '</td>';
                                tr += '<td>' + data[s].Question_Attempted + '</td>';
                                tr += '<td>' + data[s].Total_Correct_Ans + '</td></tr>';
                            }
                            debugger;
                            var oTable = $('#tblVideoReport').dataTable();
                            oTable.fnDestroy();
                            //I put in new values 'newList' on the body
                            $('#tblVideoReport tbody').html(tr);
                            //I reinitialize the datatable
                            $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                        }
                        else {
                            var oTable = $('#tblVideoReport').dataTable();
                            oTable.fnDestroy();
                            //I put in new values 'newList' on the body
                            $('#tblVideoReport tbody').html('');
                            //I reinitialize the datatable
                            $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                        }

                    }
                })
                maketotalminute();

        })
       
        function maketotalminute() {
            $.ajax({
                type: "POST",
                url: "/School/GetTestMarkData",
                data: {                    
                    C_Id: $('#ddlclass').val(),
                    S_Id: $('#ddlsection').val(),
                    school_id: $('#hdnschoolid').val(),
                    Sub_Id: $('#ddlsubject').val(),
                    Chap_Id: $('#ddlchapter').val(),
                    T_Id: $('#ddltest').val(),
                    B_Id: $('#ddlboard').val()
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger;
                    if (data.length > 0) {
                        // var result=JSON.stringify(data);
                        var chartData = generateChartData1(data);
                        var chart = AmCharts.makeChart("chartdiv2", {
                            "type": "serial",
                            "theme": "light",
                            "marginRight": 40,
                            "marginLeft": 40,
                            "autoMarginOffset": 20,
                            "mouseWheelZoomEnabled": true,
                            "dataDateFormat": "String",
                            "dataProvider": chartData,
                            "valueAxes": [{
                                "axisAlpha": 0,
                                "position": "left",
                                "ignoreAxisWidth": true
                            }],
                            "mouseWheelZoomEnabled": true,
                            "graphs": [{
                                "id": "g1",
                                "balloonText": "[[value]]",
                                "bullet": "round",
                                "bulletBorderAlpha": 1,
                                "bulletColor": "#FFFFFF",
                                "hideBulletsCount": 50,
                                "title": "red line",
                                "valueField": "visits",
                                "useLineColorForBulletBorder": true,
                                "balloon": {
                                    "drop": true
                                }
                            }],
                            "chartScrollbar": {
                                "autoGridCount": true,
                                "graph": "g1",
                                "scrollbarHeight": 40
                            },
                            "chartCursor": {
                                "limitToGraph": "g1"
                            },
                            "categoryField": "date",
                            "categoryAxis": {
                                "parseDates": false,
                                "axisColor": "#DADADA",
                                "dashLength": 1,
                                "minorGridEnabled": true
                            },
                            "export": {
                                "enabled": true
                            }
                        });

                        // chart.addListener("rendered", zoomChart);
                        // zoomChart();
                    }
                    else {
                        $('#chartdiv2').empty();
                        $('#chartdiv2').html('<div>No Records Found</div>');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        function generateChartData1(data) {
            var chartData = [];
            for (var i = 0; i < data.length; i++) {

                chartData.push({
                    date: data[i].names,
                    visits: data[i].SumMark
                });
            }
            return chartData;
        }

        $('#btnexportpdf').click(function () {
            demoFromHTML();
        })
        $('#btnexportexcel').click(function () {
            Exporttoexcel();
        })
        function demoFromHTML() {
            debugger;           
            if ($('#ddlboard').val() == '0') {
                alert('Please Select Board Name');
                $('#ddlboard').focus();
                return false;                
            }
            if ($('#ddlclass').val() == '0') {
                alert('Please Select Class Name');
                $('#ddlclass').focus();
                return false;
            }
            if ($('#ddlsection').val() == '0') {
                alert('Please Select Section Name');
                $('#ddlsection').focus();
                return false;
            }
            if ($('#ddlsubject').val() == '0') {
                alert('Please Select Subject Name');
                $('#ddlsubject').focus();
                return false;
            }
            if ($('#ddlchapter').val() == '0') {
                alert('Please Select Chapter Name');
                $('#ddlchapter').focus();
                return false;
            }
            if ($('#ddltest').val() == '0') {
                alert('Please Select Test Name');
                $('#ddltest').focus();
                return false;
            }            
            window.open("../Reports/Reports.aspx?type=School_Test_Report&C_Id=" + $('#ddlclass').val() + "&S_Id=" + $('#ddlsection').val() + "&school_id=" + $('#hdnschoolid').val() + "&Sub_Id=" + $('#ddlsubject').val() + "&Chap_Id=" + $('#ddlchapter').val() + "&T_Id=" + $('#ddltest').val() + "&B_Id=" + $('#ddlboard').val() + "");

        }
        function Exporttoexcel() {
            debugger;
            if ($('#ddlboard').val() == '0') {
                alert('Please Select Board Name');
                $('#ddlboard').focus();
                return false;
            }
            if ($('#ddlclass').val() == '0') {
                alert('Please Select Class Name');
                $('#ddlclass').focus();
                return false;
            }
            if ($('#ddlsection').val() == '0') {
                alert('Please Select Section Name');
                $('#ddlsection').focus();
                return false;
            }
            if ($('#ddlsubject').val() == '0') {
                alert('Please Select Subject Name');
                $('#ddlsubject').focus();
                return false;
            }
            if ($('#ddlchapter').val() == '0') {
                alert('Please Select Chapter Name');
                $('#ddlchapter').focus();
                return false;
            }
            if ($('#ddltest').val() == '0') {
                alert('Please Select Test Name');
                $('#ddltest').focus();
                return false;
            }
            window.open("../Reports/Reports.aspx?type=School_Test_Report_Excel&C_Id=" + $('#ddlclass').val() + "&S_Id=" + $('#ddlsection').val() + "&school_id=" + $('#hdnschoolid').val() + "&Sub_Id=" + $('#ddlsubject').val() + "&Chap_Id=" + $('#ddlchapter').val() + "&T_Id=" + $('#ddltest').val() + "&B_Id=" + $('#ddlboard').val() + "");

        }
    })

</script>

<div class="form-horizontal">
    <div class="container">
        <input type="hidden" id="hdnschoolid" value="@ViewBag.Schoolid" />
        <div style="font-size:18px;">@ViewBag.SchoolName </div>
    </div>
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/School/SchoolDashBoard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li class="active"><label id="lblBreadcrumb"></label></li>
            </ul>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        @*<h3><i class="fa fa-file"></i> Add New</h3>*@
                    </div>
                    <input type="hidden" id="hid" name="hid" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please select board"></select>
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlclass' name="Class_Name" class="form-control" data-rule-required="false" data-msg-required="Please select Class" disabled="disabled"></select>
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlsection' name="SectionName" class="form-control" data-rule-required="false" data-msg-required="Please select SectionName" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield8" class="col-sm-3 col-lg-2 control-label">Subject<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlsubject' name="SubjectName" class="form-control" data-rule-required="false" data-msg-required="Please select SubjectName" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield6" class="col-sm-3 col-lg-2 control-label">Chapter<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlchapter' name="ChapterName" class="form-control" data-rule-required="false" data-msg-required="Please select ChapterName" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield7" class="col-sm-3 col-lg-2 control-label">Test<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddltest' name="TestName" class="form-control" data-rule-required="false" data-msg-required="Please select TestName" disabled="disabled"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: -20px;width: 102.5%;margin-left: -15px;">
            <div class="box">
                <div class="box-content">
                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2" style="margin-top: -2%;">
                            <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file-text"></i>Report Details</h3>
                        <div class="box-tool box-tooll">
                            @*<button onclick="javascript:demoFromHTML();">PDF</button>*@
                            <a href="#" class="btn btn-primary dropdown-toggle" id="btnexportpdf"><i class="fa fa-file-pdf-o"></i>Weak Students Report</a>
                            <a href="#" class="btn btn-primary dropdown-toggle" id="btnexportexcel"><i class="fa fa-file-excel-o"></i>All Test Report</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="clearfix"></div>
                        <div class="table-responsive voffset3">
                            <table class="table table-advance" id="tblVideoReport">
                                <thead >
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>User</th>                                        
                                        <th>Total Question</th>
                                        <th>Attempted Questions</th>
                                        <th>Total Correct Answer</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Class Performance Chart</h3>
                    </div>
                    <div id="chartdiv2">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>