﻿@{
    ViewBag.Title = "ViewActivityTime";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet"
      href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
<script type="text/javascript"
        src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
@*<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@

<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

    #chartdiv2 {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script>
    $(document).ready(function () {
        GetBoard();

        function GetBoard() {
            $.get("../School/GetBoard", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected="selected">Select Board Name</option>');
                    for (var i = 0; i < data.length; i++) {
                        var res = '<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>';
                        $('#ddlboard').append(res);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected="selected">No Records Found</option>');
                }
            })
        }
        function GetClass(id) {
            debugger;
            if (id != '0') {
                $.get("../School/GetClasses?B_id=" + id + "", function (data) {
                    debugger;
                    $('#ddlclass').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0" selected="selected">Select Class Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>';
                            $('#ddlclass').append(res);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlclass').prop("disabled", true);
                $('#ddlclass').empty();
                $('#ddlsection').prop("disabled", true);
                $('#ddlsection').empty();
            }
        }
        function GetSections(id) {
            if (id != '0') {
                $.get("../School/GetSections?C_id=" + id + "", function (data) {
                    debugger;
                    $('#ddlsection').prop("disabled", false);
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0" selected="selected">Select Section Name</option>');
                        for (var i = 0; i < data.length; i++) {
                            var res = '<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>';
                            $('#ddlsection').append(res);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0" selected="selected">No Records Found</option>');
                    }
                })
            }
            else {
                $('#ddlsection').prop("disabled", true);
                $('#ddlsection').empty();
            }
        }

        $('#ddlboard').change(function () {
            debugger;
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            debugger;
            GetSections($('#ddlclass').val());
        })

        $('#btnadd').click(function () {
            debugger;
            if ($('#fdate').val() == '') {
                alert('Please Select From Date');
                $('#fdate').focus();
                return false;
            }
            if ($('#tdate').val() == '') {
                alert('Please Select To Date');
                $('#tdate').focus();
                return false;
            }
            if ($('#ddlboard').val() != '0') {
                if ($('#ddlclass').val() == '0') {
                    alert('Please Select Class Name');
                    $('#ddlclass').focus();
                    return false;
                }
            }
            // For Video Report Table List
            $.ajax({
                type: "POST",
                url: "../School/GetActivityReportList",
                data: {
                    f_Date: $('#fdate').val(),
                    t_Date: $('#tdate').val(),
                    C_Id: $('#ddlclass').val(),
                    S_Id: $('#ddlsection').val()
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger;
                    $('#tbdlist').empty();
                    if (data.length > 0) {
                        var tr = '';
                        for (var s = 0; s < data.length; s++) {
                            tr += '<tr><td>' + (s + 1) + '</td>';
                            tr += '<td>' + data[s].Customer_Name + '</td>';
                            //  tr += '<td>' + data[s].ReportType_Name + '</td>';
                            tr += '<td>' + data[s].Total_Time + '</td>';
                            tr += '<td>' + data[s].ReportDate + '</td>';
                            tr += '<td>' + data[s].InsertedOn + '</td></tr>';
                        }
                        debugger;
                        var oTable = $('#tblVideoReport').dataTable();
                        oTable.fnDestroy();
                        //I put in new values 'newList' on the body
                        $('#tblVideoReport tbody').html(tr);
                        //I reinitialize the datatable
                        $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                    }
                    else {
                        var oTable = $('#tblVideoReport').dataTable();
                        oTable.fnDestroy();
                        //I put in new values 'newList' on the body
                        $('#tblVideoReport tbody').html('');
                        //I reinitialize the datatable
                        $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                    }

                }
            })
            // For Video Report Table List

            // For Chart of Total No.of Users - Date Wise Chart
            maketotaluser();
            // For Chart of Total No.of Users - Date Wise Chart

            // For Chart of Total No.of Users - Date Wise Chart
            maketotalminute();
            // For Chart of Total No.of Users - Date Wise Chart


        })


        function maketotaluser() {
            $.ajax({
                type: "POST",
                url: "/School/GetActivityChartTotalUser",
                data: {
                    f_Date: $('#fdate').val(),
                    t_Date: $('#tdate').val(),
                    C_Id: $('#ddlclass').val(),
                    S_Id: $('#ddlsection').val()
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger;
                    if (data.length > 0) {
                        // var result=JSON.stringify(data);
                        var chartData = generateChartData(data);
                        var chart = AmCharts.makeChart("chartdiv", {
                            "type": "serial",
                            "theme": "light",
                            "marginRight": 40,
                            "marginLeft": 40,
                            "autoMarginOffset": 20,
                            "mouseWheelZoomEnabled": true,
                            "dataDateFormat": "YYYY-MM-DD",
                            "dataProvider": chartData,
                            "valueAxes": [{
                                "axisAlpha": 0,
                                "position": "left",
                                "ignoreAxisWidth": true
                            }],
                            "mouseWheelZoomEnabled": true,
                            "graphs": [{
                                "id": "g1",
                                "balloonText": "[[value]]",
                                "bullet": "round",
                                "bulletBorderAlpha": 1,
                                "bulletColor": "#FFFFFF",
                                "hideBulletsCount": 50,
                                "title": "red line",
                                "valueField": "visits",
                                "useLineColorForBulletBorder": true,
                                "balloon": {
                                    "drop": true
                                }
                            }],
                            "chartScrollbar": {
                                "autoGridCount": true,
                                "graph": "g1",
                                "scrollbarHeight": 40
                            },
                            "chartCursor": {
                                "limitToGraph": "g1"
                            },
                            "categoryField": "date",
                            "categoryAxis": {
                                "parseDates": true,
                                "axisColor": "#DADADA",
                                "dashLength": 1,
                                "minorGridEnabled": true
                            },
                            "export": {
                                "enabled": true
                            }
                        });

                        //  chart.addListener("rendered", zoomChart);
                        // zoomChart();
                    }
                    else {
                        $('#chartdiv').empty();
                        $('#chartdiv').html('<div>No Records Found</div>')
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }


        function generateChartData(data) {
            var chartData = [];
            for (var i = 0; i < data.length; i++) {

                chartData.push({
                    date: data[i].date,
                    visits: data[i].value
                });
            }
            return chartData;
        }


        function maketotalminute() {
            $.ajax({
                type: "POST",
                url: "/School/GetActivityChartTotalTime",
                data: {
                    f_Date: $('#fdate').val(),
                    t_Date: $('#tdate').val(),
                    C_Id: $('#ddlclass').val(),
                    S_Id: $('#ddlsection').val()
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger;
                    if (data.length > 0) {
                        // var result=JSON.stringify(data);
                        var chartData = generateChartData1(data);
                        var chart = AmCharts.makeChart("chartdiv2", {
                            "type": "serial",
                            "theme": "light",
                            "marginRight": 40,
                            "marginLeft": 40,
                            "autoMarginOffset": 20,
                            "mouseWheelZoomEnabled": true,
                            "dataDateFormat": "YYYY-MM-DD",
                            "dataProvider": chartData,
                            "valueAxes": [{
                                "axisAlpha": 0,
                                "position": "left",
                                "ignoreAxisWidth": true
                            }],
                            "mouseWheelZoomEnabled": true,
                            "graphs": [{
                                "id": "g1",
                                "balloonText": "[[value]]",
                                "bullet": "round",
                                "bulletBorderAlpha": 1,
                                "bulletColor": "#FFFFFF",
                                "hideBulletsCount": 50,
                                "title": "red line",
                                "valueField": "visits",
                                "useLineColorForBulletBorder": true,
                                "balloon": {
                                    "drop": true
                                }
                            }],
                            "chartScrollbar": {
                                "autoGridCount": true,
                                "graph": "g1",
                                "scrollbarHeight": 40
                            },
                            "chartCursor": {
                                "limitToGraph": "g1"
                            },
                            "categoryField": "date",
                            "categoryAxis": {
                                "parseDates": true,
                                "axisColor": "#DADADA",
                                "dashLength": 1,
                                "minorGridEnabled": true
                            },
                            "export": {
                                "enabled": true
                            }
                        });

                        // chart.addListener("rendered", zoomChart);
                        // zoomChart();
                    }
                    else {
                        $('#chartdiv2').empty();
                        $('#chartdiv2').html('<div>No Records Found</div>');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }


        function generateChartData1(data) {
            var chartData = [];
            for (var i = 0; i < data.length; i++) {

                chartData.push({
                    date: data[i].date,
                    visits: data[i].value
                });
            }
            return chartData;
        }
        $('#btnexportpdf').click(function () {
            demoFromHTML();
        })
        $('#btnexportexcel').click(function () {
            Exporttoexcel();
        })
        function demoFromHTML() {
            debugger;
            if ($('#fdate').val() == '') {
                alert('Please Select From Date');
                $('#fdate').focus();
                return false;
            }
            if ($('#tdate').val() == '') {
                alert('Please Select To Date');
                $('#tdate').focus();
                return false;
            }
            if ($('#ddlboard').val() != '0') {
                if ($('#ddlclass').val() == '0') {
                    alert('Please Select Class Name');
                    $('#ddlclass').focus();
                    return false;
                }
            }
            var cid = $('#ddlclass').val();
            if (cid == null) {
                cid = 0;
            }
            var sid = $('#ddlsection').val();
            if (sid == null) {
                sid = '';
            }
                  window.open("../Reports/Reports.aspx?type=School_Usage_Report&f_Date=" +$('#fdate').val()+ "&t_Date=" + $('#tdate').val() + "&C_Id=" + cid + "&S_Id=" + sid + "&school_id=" +$('#hdnschoolid').val() + "");
              
        }
        function Exporttoexcel() {
            debugger;
            if ($('#fdate').val() == '') {
                alert('Please Select From Date');
                $('#fdate').focus();
                return false;
            }
            if ($('#tdate').val() == '') {
                alert('Please Select To Date');
                $('#tdate').focus();
                return false;
            }
            if ($('#ddlboard').val() != '0') {
                if ($('#ddlclass').val() == '0') {
                    alert('Please Select Class Name');
                    $('#ddlclass').focus();
                    return false;
                }
            }
            var cid = $('#ddlclass').val();
            if (cid == null) {
                cid = 0;
            }
            var sid = $('#ddlsection').val();
            if (sid == null) {
                sid = '';
            }
           

            window.open("../Reports/Reports.aspx?type=School_Usage_Report_Excel&f_Date=" + $('#fdate').val() + "&t_Date=" + $('#tdate').val() + "&C_Id=" + cid + "&S_Id=" + sid + "&school_id=" + $('#hdnschoolid').val() + "");

        }
    })

</script>

<div class="form-horizontal">
    <div class="container">
        <input type="hidden" id="hdnschoolid" value="@ViewBag.Schoolid" />
        <div style="font-size:18px;">@ViewBag.SchoolName </div>
    </div>
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/School/SchoolDashBoard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li class="active"><label id="lblBreadcrumb"></label></li>
            </ul>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        @*<h3><i class="fa fa-file"></i> Add New</h3>*@
                    </div>
                    <input type="hidden" id="hid" name="hid" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please select board"></select>
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlclass' name="Class_Name" class="form-control" data-rule-required="false" data-msg-required="Please select Class" disabled="disabled"></select>
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section<span class="asterisk">*</span></label>
                            <div class="col-sm-7 col-lg-7 controls">
                                <select id='ddlsection' name="SectionName" class="form-control" data-rule-required="false" data-msg-required="Please select SectionName" disabled="disabled"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-list-ul"></i>Search Reports By Date </h3>
                    </div>
                    <div class="box-content">
                        <div class="page-content-wrap">
                            <div class="row">
                                <div class="">

                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">From Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="fdate"
                                                   autocomplete="off" data-rule-required="true" data-msg-required="Please select From date"
                                                   name="f_Date" class="datepicker form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">To Date<span class="asterisk">*</span></label>
                                        <div class="col-sm-9 col-lg-7 controls">
                                            <input type="text" placeholder="Click to Select Date" id="tdate" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date"
                                                   class="datepicker form-control" />
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: -20px;width: 102.5%;margin-left: -15px;">
            <div class="box">
                <div class="box-content">
                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2" style="margin-top: -2%;">
                            <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file-text"></i>Report Details</h3>
                        <div class="box-tool box-tooll">
                            @*<button onclick="javascript:demoFromHTML();">PDF</button>*@
                            @*<a href="#" class="btn btn-primary dropdown-toggle" onclick="javascript: make();"><i class="fa fa-file-pdf-o"></i> SHOW CHART</a>*@
                            <a href="#" class="btn btn-primary dropdown-toggle" id="btnexportpdf"><i class="fa fa-file-pdf-o"></i>Export To PDF</a>
                            <a href="#" class="btn btn-primary dropdown-toggle" id="btnexportexcel"><i class="fa fa-file-excel-o"></i>Export To XLS</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="clearfix"></div>
                        <div class="table-responsive voffset3">
                            <table class="table table-advance" id="tblVideoReport">
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>User</th>
                                        @*<th>Report Type</th>*@
                                        <th>Total Time</th>
                                        <th>Report Date</th>
                                        <th>Inserted Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Total No.of Users - Date Wise Chart</h3>
                    </div>
                    <div id="chartdiv">

                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Total Usage Time - Date Wise Chart</h3>
                    </div>
                    <div id="chartdiv2">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
