﻿@{
    ViewBag.Title = "AllSubjectList";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<style>
    video::-internal-media-controls-download-button {
        display: none;
    }

    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }
</style>
@section video
{<div class="light_box_container">
        <div class="light_box_inner">
            <div class="light_box_content">
                <div class="light_box_content_inner">
                    <span class="close_btn">X</span>
                    <video class="video-js vjs-default-skin" width="100%" height="90%" autoplay controls>
                        <source id="v2src" src="" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>

}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Subjects
                        </h3>
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.subjects != null)
                        {
                            foreach (var item in ViewBag.subjects)
                            {
                                <div class="panel panel-ntspl inner-panel ">
                                    <div class="panel-heading">
                                        @*<a href="/student/chapterdetails/@item1.Chapter_ID/@item1.Order_ID" class="plain-link">*@
                                        <a href="/student/Get_Exam_PDF_List?Subject_Id=@item.Subject_ID" class="plain-link">
                                            <h3 class="panel-title">
                                                @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                                <div class="clearfix">@item.Subject</div>
                                                <span class="chapter-sec">@item.Total_Chapter PDF</span>

                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            What's Inside
                        </h3>
                    </div>
                    <div class="panel-body">
                        
                        <div class="inside-box inside-box-margin">
                            <span class="study-neww"></span>
                            <div class="right-p">
                                <h3>Exam Questions</h3>
                                <p>Exam Questions will be provided by our lectures. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Student_assets/assets/js/video.js"></script>
    <script src="~/Student_assets/assets/js/videojs-contrib-hls.min.js"></script>
    <script src="~/jwplayer-7.9.3/jwplayer.js"></script>
    <script>jwplayer.key = "cxb/fhH3Z9Oh3TulqzBk1tMznPqKXQ0fj8cZYfZ5tRA=";</script>
    <script>
        //var player = videojs('example-video');
        //player.play();
    </script>

    <script>
        $(document).ready(function () {
            $('a.board').click(function () {
                var bid = $(this).attr("value");
                var board = $(this).html();
                $.ajax({
                    type: "POST",
                    url: "/Student/GetAllClass",
                    data: { brdId: bid },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "";
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<li><a href="/student/packagelearn/' + data[i].Value + '">' + data[i].Text + '</a></li>';
                        }
                        $('#ddlclass').html(sta);
                        $("#drpboard").html(board + '<span class="drop-icon"><i class="ion ion-chevron-down"></i></span>');
                    }
                });
            });
        });

    </script>
}

@section scriptvideo{
    <script>
        $(function () {
            $('.post-thumb .play-now-in-popup').on('click', function () {
                debugger;
                var video_key = $(this).attr('id');
                $.ajax({
                    type: "POST",
                    url: "/Student/Show_video",
                    data: { video_key: video_key },
                    datatype: "json",
                    success: function (data) {
                        //var video_url = $(this).parents(".post-thumb").find('video').find('source.vsrc').attr('src');
                        $('.light_box_content_inner video').find('#v2src').attr('src', data);
                        $('.light_box_content_inner video').load();
                        $(".light_box_container").fadeIn(500);
                    }


                })
                $('.light_box_inner .close_btn').on('click', function () {
                    $('.light_box_container').fadeOut(1000);
                });


            })
        })
        $(document).bind("contextmenu", function (e) {
            // e.preventDefault();

        });
        $(document).keydown(function (e) {
            return false;
        });
        with ((window && window.console && window.console._commandLineAPI) || {}) {
            (function () {

                var _z = console;
                Object.defineProperty(window, "console", {
                    get: function () {
                        if (_z._commandLineAPI) {
                            throw "Sorry, Can't execute scripts!";
                        }
                        return _z;
                    },
                    set: function (val) {
                        _z = val;
                    }
                });

            })();
        }
    </script>
}
<!-- row -->
