﻿@{
    ViewBag.Title = "DoubtListReport";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@model IEnumerable<DigiChamps.Models.View_DC_All_Tickets_Details>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-ntspl">
            <div class="panel-title" style="border-bottom:1px black solid;">
                <h3><i class="fa fa-file"></i> Doubt Report </h3>
                
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="panel-body p-3">
                <div class="form-group text-right">
                    <a href="/Student/ViewDoubtDetails" class="btn btn-primary"><i class="fa fa-plus"></i> Add Doubt</a>
                </div>
                <form action="DoubtListReport" method="get"  style="border-bottom:1px black solid;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="subject" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Chapter</div>
                            <div class="form-group">
                                <select id="ddlchapter" name="chapter" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Status</div>
                            <div class="form-group">
                                <select id="ddlstatus" name="status" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">From Date :</div>
                            <div class="form-group">
                                <input type="date" id="txtfdt" value="@ViewBag.fdt" name="fdt" class="form-control" />
                                <label class="text-danger">@ViewBag.msg</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">To Date :</div>
                            <div class="form-group">
                                <input type="date" id="txttdt" value="@ViewBag.tdt" name="tdt" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="form-group text-center">
                        <div class="form-group"><input type="submit" value="Search" class="btn btn-primary" /></div>

                    </div>
                </form>
                <div class="table-responsive">
 <br />
                    <br />

                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Subject</th>
                                <th>Chapter</th>
                                <th>Ticket No</th>
                                <th>Question</th>
                                <th>Teacher Name</th>
                                <th>Status</th>
                                <th>Raised On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                var sections = DbContext.tbl_DC_Class_Section.Where(a => a.IsActive == true).ToList();
                                var teachers = DbContext.Teachers.Where(a => a.Active == 1).ToList();
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Chapter</td>
                                        <td>@item.Ticket_No</td>
                                        <td>@(item.Question.Length > 80 ? item.Question.Substring(0, 80) + "..." : item.Question)</td>
                                        <td>@((item.Teach_ID != 0 && item.Teach_ID != null) ? teachers.Where(a => a.TeacherId == item.Teach_ID).FirstOrDefault().Name : "")</td>
                                        <td>@((item.Status == "O" && item.Answer == "False") ? "Pending" : ((item.Status == "O" && item.Answer == "True") ? "Answered" : (item.Status == "R" ? "Rejected" : (item.Status == "C" ? "Closed" : ""))))</td>
                                        <td>@item.Inserted_Date.Value.ToString("dd-MM-yyyy hh:mm tt")</td>
                                        <td>
                                            @if (item.Status == "O" && item.Answer == "False")
                                            {
                                                <a href="/Student/RemoveDoubt?id=@item.Ticket_ID" class="btn btn-primary"><i class="fa fa-trash"></i></a>
                                            }
                                            <a href="/Student/ViewDoubtDetails?id=@item.Ticket_ID" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {

        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';
        var statusid = '@(ViewBag.status == null ? 0 : ViewBag.status)';

        GetStatus();
        GetSubject(classid);
        GetChapters(subjectid);
        $('#ddlsubject').change(function () {
            GetChapters($('#ddlsubject').val());
        })

        function GetSubject(id) {
            $('.ntspl-preloader').fadeIn(300);
            if (id != '0') {
                $.post("/Student/GetAllSubject?ClsId=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>Select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.ntspl-preloader').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {

                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>All</option>');
                $('.ntspl-preloader').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//
        function GetChapters(id) {
             $('.ntspl-preloader').fadeIn(300);
            if (id != '0') {

                $.post("/Student/GetAllChapter?SubId=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>');

                        }
                        if (chapterid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                    $('.ntspl-preloader').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
                $('.ntspl-preloader').fadeOut(300);
            }
        }

        function GetStatus() {
            $('#ddlstatus').empty();
            $('#ddlstatus').append('<option selected>All</option>');
            $('#ddlstatus').append('<option value="O">Pending</option>');
            $('#ddlstatus').append('<option value="A">Answered</option>');
            $('#ddlstatus').append('<option value="R">Rejected</option>');
            $('#ddlstatus').append('<option value="C">Closed</option>');
            $('#ddlstatus').val(statusid);
        }
    })
</script>