﻿@{
    ViewBag.Title = "ExamPdfDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Exam Answer
                        </h3>
                    
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.worksheetdetails != null && ViewBag.worksheetdetails.answers.Count > 0)
                        {
                            foreach (var item in ViewBag.worksheetdetails.answers)
                            {
                                 if (Convert.ToDateTime(ViewBag.worksheetdetails.StartTime) <= DateTime.Now && DateTime.Now <=Convert.ToDateTime(ViewBag.worksheetdetails.EndTime))
                                            {
                                <a class="text-right" href="/Student/DeleteAnswerpdf/@item.PdfExamStudent_Id">Remove Answer</a>
                        }
                                <div class="panel panel-ntspl inner-panel ">
                                    <div class="panel-heading">
                                        <a href="@item.Path" target="_blank" title="free" class="plain-link">
                                            @*<a href="/student/AllChapterDetails/@item.Subject_ID" class="plain-link">*@
                                            <h3 class="panel-title">
                                                @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                                <div class="clearfix">@item.File_Name</div>
                                                @* <span class="chapter-sec">@(ViewBag.worksheetdetails.Verified == true ? ("") : ("<span class='text-danger'>Not-Verified</span>"))</span>*@
                                                @if (item.Verified_By != null)
                                                {
                                                    <span class="chapter-sec"><span class='text-success'>Verified</span></span>
                                                    <span class="chapter-sec">Score : @item.Total_Mark <b>out of @ViewBag.worksheetdetails.Total_Mark</b></span>
                                                    <span class="chapter-sec">Verified By : @item.Verified_By_Name</span>
                                                }
                                                else
                                                {
                                                    <span class="chapter-sec"><span class='text-danger'>Not Verified</span></span>
                                                }
                                                <span class="chapter-sec">Posted On : @((item.Modified_Date).ToString("dd MMM yyyy hh:mm tt"))</span>

                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            if (ViewBag.worksheetdetails.StartTime <= DateTime.Now && DateTime.Now <= ViewBag.worksheetdetails.EndTime)
                                            {
                            <div class="panel panel-ntspl inner-panel ">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Upload Answer
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("uploadAnswerpdf", "student", FormMethod.Post, new { data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                                    {
                                        <div class="row">
                                            <input type="hidden" value="@ViewBag.RegdId" name="Regdid" />
                                            <input type="hidden" value="@ViewBag.subjectId" name="subjectid" />
                                            <input type="hidden" value="@ViewBag.pdfexamid" name="pdfexamid" />
                                            <div class="form-group">
                                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload File<span class="asterisk">*</span></label>
                                                <div class="col-sm-9 col-lg-7 controls">
                                                    <input type="file" name="examfile" required accept="application/pdf" />
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <input type="submit" value="Upload File" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        }

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            What's Inside
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inside-box">
                            <span class="video-neww"></span>
                            <div class="right-p">
                                <h3>Lectures Video</h3>
                                <p>Best lectures are guide you to study.</p>
                            </div>
                        </div>
                        <div class="inside-box inside-box-margin">
                            <span class="study-neww"></span>
                            <div class="right-p">
                                <h3>Study Material</h3>
                                <p>Best study material will be provided by our lectures. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>