﻿@{
    ViewBag.Title = "Get_Exam_PDF_List";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 questions-cont nopad-right">
        <div class="panel panel-ntspl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Exam Question

                </h3>
                @*<a class="text-right text-danger" href="/Student/WorksheetDetails?RegdId=@ViewBag.stu_id&ChapterId=@ViewBag.chapterid"><i class="fa fa-plus"></i> Upload</a>*@
            </div>
            <div class="panel-body study-material-div">
                @if (ViewBag.notsubjects != null)
                {

                    foreach (var item in ViewBag.notsubjects)
                    {
                        <div class="panel panel-ntspl inner-panel ">
                            <div class="panel-heading">
                                <a href="~/Images/Exampdf/@item.File_Name" target="_blank" title="free" class="plain-link">
                                    @*<a href="/student/AllChapterDetails/@item.Subject_ID" class="plain-link">*@
                                    <h3 class="panel-title">
                                        @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                        <div class="clearfix">@item.Name</div>
                                        @* <span class="chapter-sec">@(ViewBag.worksheetdetails.Verified == true ? ("") : ("<span class='text-danger'>Not-Verified</span>"))</span>*@
                                        @{
                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                        int studentid = ViewBag.studid;
                        int id = item.PdfExam_Id;
                        var attach = DbContext.tbl_DC_PdfExamStudent.ToList();
                        var res = attach == null ? null : attach.Where(a => a.Regd_Id == studentid && a.Is_Active == true && a.Is_Deleted == false && a.PdfExamId == id).FirstOrDefault();
                        var teachers = "";

                        if (res != null && res.Verified_By != null)
                        {
                            teachers = DbContext.Teachers.Where(a => a.TeacherId == res.Verified_By).FirstOrDefault().Name;
                        }
                                        }

                                        @if (res != null && res.Verified_By != null)
                                        {
                                            <span class="chapter-sec"><span class='text-success'>Verified</span></span>
                                            <span class="chapter-sec">Score : @res.Total_Mark <b>out of @item.Total_Mark</b> </span>
                                            <span class="chapter-sec">Verified By : @teachers</span>
                                        }
                                        else
                                        {
                                            if (res == null)
                                            {
                                                <span class="chapter-sec"><span class='text-danger'>Not Answered</span></span>
                                            }
                                            else
                                            {
                                                <span class="chapter-sec"><span class='text-danger'>Not Verified</span></span>
                                            }
                                            if (item.StartTime <= DateTime.Now && DateTime.Now <= item.EndTime)
                                            {
                                                <a href="/Student/ExamPdfDetails/@id?RegdId=@studentid&subjectid=@item.Subject_Id"><span class="chapter-sec text-primary"><i class="fa fa-plus"></i> Upload Answer</span></a>
                                            }
                                            else
                                            {
                                                <a href="/Student/ExamPdfDetails/@id?RegdId=@studentid&subjectid=@item.Subject_Id"><span class="chapter-sec text-primary"><i class="fa fa-eye"></i> View Answer</span></a>
                                            }
                                        }
                                        <span class="chapter-sec">Posted On : @((item.Inserted_Date).ToString("dd MMM yyyy hh:mm tt"))</span>

                                    </h3>
                                </a>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="panel-body mail_widget">
                        <div class="no-content-notification ">There is no Exam Question.</div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
