﻿@{
    ViewBag.Title = "OnlineExamList";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@model DigiChamps.Models.OnlineExamResponseModel
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Online Exam List
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <h3 style="border-bottom:1px solid black;">Upcomming Exam</h3>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            @if (Model.UpcommingList.Count > 0)
                            {
                                foreach (var ob in Model.UpcommingList)
                                {
                                    <div class="panel panel-ntspl inner-panel">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h3 class="panel-title">
                                                        @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                                        <div class="clearfix">@ob.SubjectName</div>
                                                        <span class="chapter-sec"><b>Exam Type :</b>@ob.ExampTypeName</span>
                                                        <span class="chapter-sec"><b>Category :</b>@ob.ExampTypeName</span>
                                                        <span class="chapter-sec"><b>Exam Date :</b>@ob.OnlineExamDates.Value.ToString("dd/MM/YYYY")</span>
                                                        <span class="chapter-sec"><b>Exam Time :</b>@(ob.StartTimeName + " - " + ob.EndTimeName)</span>
                                                    </h3>
                                                </div>
                                                <div class="col-md-2">
                                                    <a class="btn btn-primary" href="/student/ChapterList?Subject_Id=@ob.ID">Take Exam</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="row">
                            <h3 style="border-bottom:1px solid black;">Given Exam</h3>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            @if (Model.UpcommingList.Count > 0)
                            {
                                foreach (var ob in Model.UpcommingList)
                                {
                                    <div class="panel panel-ntspl inner-panel">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h3 class="panel-title">
                                                        @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                                        <div class="clearfix">@ob.SubjectName</div>
                                                        <span class="chapter-sec"><b>Exam Type :</b>@ob.ExampTypeName</span>
                                                        <span class="chapter-sec"><b>Category :</b>@ob.ExampTypeName</span>
                                                        <span class="chapter-sec"><b>Exam Date :</b>@ob.OnlineExamDates.Value.ToString("dd/MM/YYYY")</span>
                                                        <span class="chapter-sec"><b>Exam Time :</b>@(ob.StartTimeName + " - " + ob.EndTimeName)</span>
                                                    </h3>
                                                </div>
                                                <div class="col-md-2">
                                                    @*<a class="btn btn-primary" href="/student/ChapterList?Subject_Id=@ob.ID">Take Exam</a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
