﻿@{
    ViewBag.Title = "OnlineClassList";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


@using System.Globalization;
@model IEnumerable<DigiChamps.Models.OnlineClassModel>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
    <div class="row row-right-margin">
        <div class="col-md-12">
            <div class="panel panel-ntspl">
                <div class="panel-heading">
                    <h3><i class="fa fa-file"></i> Online Classes </h3>
                    <div class="box-tool box-tooll">
                        @*<a class="btn btn-primary" href="/OnlineClass/CreateOnlineClass"><i class="fa fa-plus"></i><span> Add Online Classes</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="panel-body">
                    <form action="OnlineClassList" method="get">
                        <div class="row">


                            <div class="col-md-3">
                                <div class="form-group">Subject</div>
                                <div class="form-group">
                                    <select id="ddlsubject" name="Subjectid" class="form-control">
                                        <option>All</option>
                                        @if (ViewBag.Subjectlist != null)
                                        {
                                            foreach (var a in ViewBag.Subjectlist)
                                            {
                                                <option value="@a.Subject_Id" selected="@(ViewBag.subject==a.Subject_Id?true:false)">@a.Subject</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">Date</div>
                                <div class="form-group">
                                    <input type="date" id="txtdate" name="date" class="form-control" value="@(ViewBag.date == null ? null : ViewBag.date.ToString("yyyy-MM-dd"))" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Search" class="btn btn-primary" />

                        </div>
                    </form>
                    <hr />

                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>School</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Subject</th>
                                    <th>Date</th>
                                    <th>StartTime</th>
                                    <th>EndTime</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var a in Model)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@a.SchoolName</td>
                                            <td>@a.BoardName</td>
                                            <td>@a.ClassName</td>
                                            <td>@a.SectionName</td>
                                            <td>@a.SubjectName</td>
                                            <td>@a.Date.Value.ToString("dd MMMM yyyy")</td>
                                            <td>@(DateTime.ParseExact(a.StartTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</td>
                                            <td>@(DateTime.ParseExact(a.EndTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</td>
                                            <td>
                                                @Html.ActionLink(" ", "ViewOnlineClassDetails", "Student", new { id = a.ID }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })
                                                @*@Html.ActionLink(" ", "CreateOnlineClass", "OnlineClass", new { id = a.ID, type = "N", schoolid = a.SchoolId, boardid = a.BoardId, classid = a.ClassId, sec = a.SectionId, date = a.Date }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "Edit" })
                                        @Html.ActionLink(" ", "RemoveOnlineClass", "OnlineClass", new { id = a.ID, type = "N", schoolid = a.SchoolId, boardid = a.BoardId, classid = a.ClassId, sec = a.SectionId, date = a.Date }, new { @class = "btn btn-sm btn-primary fa fa-trash", @title = "Remove" })*@
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

