﻿@{
    ViewBag.Title = "onlineclasses";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@model IEnumerable<DigiChamps.Models.OnlineClassModel>
<style>
    video::-internal-media-controls-download-button {
        display: none;
    }

    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }
</style>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Online Classes
                        </h3>
                    </div>
                    <div class="panel-body">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="panel panel-ntspl inner-panel ">
                                    <div class="panel-heading">
                                        @*<a href="/student/chapterdetails/@item1.Chapter_ID/@item1.Order_ID" class="plain-link">*@
                                        <h3 class="panel-title">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="clearfix">@item.SubjectName</div>
                                                    <span class="chapter-sec" style="font-size:14px;"><b>Teacher:</b> @item.TeacherName</span>
                                                    <span class="chapter-sec" style="font-size:14px;"><b>Time:</b> @item.Time</span>
                                                    <span class="chapter-sec" style="font-size:14px;"><b>Password:</b> @item.Zoom_Password</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group text-right">
                                                        <a href="@item.Zoom_Url" target="_blank" class="btn btn-primary">Attend</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </h3>

                                        @*<a href="/student/AllChapterDetails?Subject_Id=@item.Subject_ID" class="plain-link">

                                            </a>*@
                                    </div>

                                </div>
                            }
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        @*<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="panel panel-ntspl">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                What's Inside
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="inside-box">
                                <span class="video-neww"></span>
                                <div class="right-p">
                                    <h3>Lectures Video</h3>
                                    <p>Best lectures are guide you to study.</p>
                                </div>
                            </div>
                            <div class="inside-box inside-box-margin">
                                <span class="study-neww"></span>
                                <div class="right-p">
                                    <h3>Study Material</h3>
                                    <p>Best study material will be provided by our lectures. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>