﻿@{
    ViewBag.Title = "QuestionBankDetails| ODM Learning App | Learners Beyond Classrooms";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Question Bank
                        </h3>

                    </div>
                    <div class="panel-body">
                        @if (ViewBag.QuestionBankDetails != null)
                        {
                            if (ViewBag.QuestionBankDetails.attachments != null)
                            {
                                foreach (var item in ViewBag.QuestionBankDetails.attachments)
                                {
                                <div class="panel panel-ntspl inner-panel ">
                                    <div class="panel-heading">

                                        @*<a href="/student/AllChapterDetails/@item.Subject_ID" class="plain-link">*@
                                        <h3 class="panel-title">
                                            @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                            <div class="clearfix">@item.File_Name</div>
                                            @* <span class="chapter-sec">@(ViewBag.worksheetdetails.Verified == true ? ("") : ("<span class='text-danger'>Not-Verified</span>"))</span>*@
                                            @if (ViewBag.QuestionBankDetails.Verified == true)
                                            {
                                                <span class="chapter-sec"><span class='text-success'>Verified</span></span>
                                                <span class="chapter-sec">Score : @ViewBag.QuestionBankDetails.Total_Mark </span>
                                                <span class="chapter-sec">Verified By : @ViewBag.QuestionBankDetails.Verified_By_Name</span>
                                            }
                                            else
                                            {
                                                <span class="chapter-sec"><span class='text-danger'>Not Verified</span></span>
                                                <span class="chapter-sec">
                                                    <a class="text-right" href="/Student/DeleteQuestionBank/@item.QuestionBank_Attachment_Id" onclick="return confirm('Are You Sure Want To Delete This Pdf..?')"><i class="fa fa-trash"></i> Delete PDF</a>
                                                </span>
                                            }
                                            <span class="chapter-sec"><a href="@item.Path" target="_blank" title="free" class="plain-link"><i class="fa fa-eye"></i>View PDF</a></span>
                                            <span class="chapter-sec">
                                                <a class="text-right" href="/Student/RemarkQuestionBank/@ViewBag.QuestionBankDetails.QuestionBank_Id"><i class="fa fa-send"></i> Remark</a>
                                            </span>
                                            <span class="chapter-sec">Posted On : @((ViewBag.QuestionBankDetails.Inserted_Date).ToString("dd MMM yyyy hh:mm tt"))</span>

                                        </h3>

                                    </div>
                                </div>
                                }
                            }

                        }
                        else
                        {                       

                         <div class="panel panel-ntspl inner-panel ">

                                <div class="panel-body">
                                    <h3><strong>Instruction :</strong></h3>
                                    <h5 style="color:black">a. Please download the question bank and solve all the answers of the questions in your notebook.</h5>
                                    <h5 style="color:black">
                                        b. Use CamScanner or any other app, to scan the pages, where you have written the answer and make it a PDF File.</h5>
                                        <h5 style="color:black">
                                            c. Upload the PDF File.</h5>
                                            <h5 style="color:black">d. The teacher would evaluate the question bank and give you marks out of 10.</h5>
                                            @using (Html.BeginForm("uploadQuestionBank", "student", FormMethod.Post, new { data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                                            {
                                                <h3><strong>Upload Question Bank :</strong></h3>
                                                <div class="row" style="margin-top:20px;">
                                                    <input type="hidden" value="@ViewBag.RegdId" name="Regdid" />
                                                    <input type="hidden" value="@ViewBag.ChapterId" name="ChapterId" />
                                                    <input type="hidden" value="@ViewBag.ModuleId" name="ModuleId" />
                                                    <div class="form-group">
                                                        <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload File<span class="asterisk">*</span></label>
                                                        <div class="col-sm-9 col-lg-7 controls">
                                                            <input type="file" name="questionbankfile" accept="application/pdf" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <input type="submit" value="Upload File" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            }
                                     </div>
                            </div>
                        
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            What's Inside
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inside-box">
                            <span class="video-neww"></span>
                            <div class="right-p">
                                <h3>Lectures Video</h3>
                                <p>Best lectures are guide you to study.</p>
                            </div>
                        </div>
                        <div class="inside-box inside-box-margin">
                            <span class="study-neww"></span>
                            <div class="right-p">
                                <h3>Study Material</h3>
                                <p>Best study material will be provided by our lectures. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //$("input[name='filetype']").change(function () {
        //    var type = $("input[name='filetype']").val();
        //    if (type == 'pdf') {
        //        $("input[name='worksheetfile']").attr("accept", "application/pdf");
        //        $("input[name='worksheetfile']").attr('multiple', false);
        //    } else {
        //        $("input[name='worksheetfile']").attr("accept", "image/*");
        //        $("input[name='worksheetfile']").attr('multiple', true);
        //    }
        //})
        //$('input[name=worksheetfile]').change(function () {
        //    var fileCount = this.files.length;
        //    var type = $("input[name='filetype']").val();
        //    if (type == 'pdf') {
        //        if (fileCount > 1) {
        //            alert('Select only one pdf file');
        //        }
        //    } else {
        //        if (fileCount > 1) {
        //            alert('Select only one pdf file');
        //        }
        //    }
        //})
    })
</script>
