﻿@{
    ViewBag.Title = "RemarkQuestionBank";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@{
    ViewBag.Title = "Remarkworksheet";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@model List<DigiChamps.Controllers.StudentController.QuestionbankReviewClass>
<style>
    .comment {
        overflow: hidden;
        padding: 0 0 1em;
        border-bottom: 1px solid #ddd;
        margin: 0 0 1em;
        *zoom: 1;
    }

    .comment-img {
        float: left;
        margin-right: 33px;
        border-radius: 5px;
        overflow: hidden;
    }

        .comment-img img {
            display: block;
        }

    .comment-body {
        overflow: hidden;
    }

    .comment .text {
        padding: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        background: #fff;
    }

        .comment .text p:last-child {
            margin: 0;
        }

    .comment .attribution {
        margin: 0.5em 0 0;
        font-size: 14px;
        color: #666;
    }

    /* Decoration */

    .comments,
    .comment {
        position: relative;
    }

        .comments:before,
        .comment:before,
        .comment .text:before {
            content: "";
            position: absolute;
            top: 0;
            left: 65px;
        }

        .comments:before {
            width: 3px;
            top: -20px;
            bottom: -20px;
            background: rgba(0,0,0,0.1);
        }

        .comment:before {
            width: 9px;
            height: 9px;
            border: 3px solid #fff;
            border-radius: 100px;
            margin: 16px 0 0 -6px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
            background: #ccc;
        }

        .comment:hover:before {
            background: orange;
        }

        .comment .text:before {
            top: 18px;
            left: 78px;
            width: 9px;
            height: 9px;
            border-width: 0 0 1px 1px;
            border-style: solid;
            border-color: #e5e5e5;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }

    .closecomment {
        position: absolute;
        top: 1px;
        right: 6px;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        font-weight: bolder;
        font-size: 0.81rem;
    }
</style>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Question Bank Remark
                        </h3>

                    </div>
                    <div class="panel-body">
                        <section class="comments">
                            @if (Model.Count() > 0)
                            {
                                foreach (var a in Model)
                                {
                                    <article class="comment">
                                        <a class="comment-img" href="#non">
                                            <img src="~/Student_assets/assets/images/avatar/five.png" alt="@a.Posted_By" width="50" height="50">
                                        </a>
                                        <div class="comment-body">
                                            <div class="text">
                                                <p>@a.Message</p>
                                                @if (a.Attachment != null)
                                                {
                                                    <audio controls>
                                                        <source src="@Url.Content(a.Attachment)" type="audio/ogg">
                                                    </audio>
                                                }
                                            </div>
                                            <p class="attribution">by <a href="#non">@a.Posted_By</a> at @a.Inserted_On.ToString("dd MMM yyyy")</p>
                                        </div>
                                        @if (Session["USER_CODE"] != null)
                                        {
                                            DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                            string mm = Session["USER_CODE"].ToString();
                                            var _student_details = DbContext.tbl_DC_Registration.Where(x => x.Mobile == mm).FirstOrDefault();
                                            int sid = Convert.ToInt32(_student_details.Regd_ID);
                                            if (sid == a.Posted_By_ID)
                                            {
                                                <a class="closecomment" href="/Student/DeleteQuestionBankReview?id=@a.QuestionbankReview_ID&Questionbankid=@a.Questionbank_ID" title="Delete"><i class="fa fa-times"></i></a>
                                            }
                                        }
                                    </article>
                                }
                            }

                            @using (Html.BeginForm("UploadQuestionBankReview", "Student", FormMethod.Post, new { data_ajax = "false", enctype = "multipart/form-data", id = "validation-form1" }))
                            {
                                <article>
                                    <input type="hidden" value="@ViewBag.Questionbank_ID" name="Questionbank_ID" />
                                    <a class="comment-img" href="#non">
                                        <img src="@Session["student_profile"].ToString()" alt="odm" width="50" height="50">
                                    </a>
                                    <div class="comment-body">
                                        <div class="text">
                                            <textarea class="form-control" name="txtcomment" placeholder="Write Remark Here..."></textarea>
                                            <input type="file" accept="audio/*" capture name="audiofile">
                                        </div>
                                        <div class="text-right">
                                            <input type="submit" value="Submit" class="btn btn-primary float-right mt-3" />
                                        </div>
                                    </div>
                                </article>
                            }

                        </section>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            What's Inside
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inside-box">
                            <span class="video-neww"></span>
                            <div class="right-p">
                                <h3>Lectures Video</h3>
                                <p>Best lectures are guide you to study.</p>
                            </div>
                        </div>
                        <div class="inside-box inside-box-margin">
                            <span class="study-neww"></span>
                            <div class="right-p">
                                <h3>Study Material</h3>
                                <p>Best study material will be provided by our lectures. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("audio").on("play", function () {
            $("audio").not(this).each(function (index, audio) {
                audio.pause();
            });

        });
    })
</script>
