﻿@{
    ViewBag.Title = "SubjectList";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style>
    video::-internal-media-controls-download-button {
        display: none;
    }

    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }
</style>
@section video
{<div class="light_box_container">
        <div class="light_box_inner">
            <div class="light_box_content">
                <div class="light_box_content_inner">
                    <span class="close_btn">X</span>
                    <video class="video-js vjs-default-skin" width="100%" height="90%" autoplay controls>
                        <source id="v2src" src="" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>

}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 nopad-right">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions-cont">
                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Subjects
                        </h3>
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.subjects != null)
                        {
                            foreach (var item in ViewBag.subjects)
                            {
                                <div class="panel panel-ntspl inner-panel ">
                                    <div class="panel-heading">
                                        @*<a href="/student/chapterdetails/@item1.Chapter_ID/@item1.Order_ID" class="plain-link">*@
                                        <a href="/student/ChapterList?Subject_Id=@item.Subject_ID" class="plain-link">
                                            <h3 class="panel-title">
                                                @*<a @Html.ActionLink(" ", "ChapterDetails", new { @id = @item.Chapter_ID, @class = "plain-link" })>*@
                                                <div class="clearfix">@item.Subject</div>
                                                <span class="chapter-sec">@item.Total_Chapter Chapters</span>

                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-ntspl">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            What's Inside
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inside-box">
                            <span class="video-neww"></span>
                            <div class="right-p">
                                <h3>Lectures Video</h3>
                                <p>Best lectures are guide you to study.</p>
                            </div>
                        </div>
                        <div class="inside-box inside-box-margin">
                            <span class="study-neww"></span>
                            <div class="right-p">
                                <h3>Study Material</h3>
                                <p>Best study material will be provided by our lectures. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>