﻿@{
    ViewBag.Title = "UploadOnlineClassHomeWork";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@using System.Globalization;
@model DigiChamps.Models.adminviewonlineclasses
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-ntspl p-3">
            <div class="panel-title">
                <h3><i class="fa fa-file"></i>Upload Homework</h3>
                <div class="box-tool box-tooll">
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
        <div class="panel-body">
            <div class="col-md-12">
                @using (Html.BeginForm("SaveOnlineClassHomeWork", "Student", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
                {
                    @Html.AntiForgeryToken();
                    <input type="hidden" id="homeworkid" name="homeworkid" value="@ViewBag.homeworkid" />
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="fa fa-file"></i>Add HomeWork</h3>
                        </div>

                        <div class="box-content">
                            <br /><br />
                            <div class="form-group">
                                <label for="Attachments" class="col-sm-3 col-lg-2 control-label">Upload HomeWork:</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="file" id="img" name="HW_pdf" accept=".pdf">
                                </div>
                            </div>

                            <br /><br />
                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <a href="@Url.Action("ViewOnlineClassDetails", "Student",new { id=ViewBag.onlineclassid})" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                    <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                                </div>
                            </div>
                        </div>

                    </div>


                }
            </div>
        </div>
        </div>
    </div>
</div>