﻿@{
    ViewBag.Title = "ViewDoubtDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@*<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />*@

<link href="~/Content/chatstylejs/ChatStyleSheet.css" rel="stylesheet" />



@*<style>
        .comment {
            overflow: hidden;
            padding: 0 0 1em;
            border-bottom: 1px solid #ddd;
            margin: 0 0 1em;
            *zoom: 1;
        }

        .comment-img {
            float: left;
            margin-right: 33px;
            border-radius: 5px;
            overflow: hidden;
        }

            .comment-img img {
                display: block;
            }

        .comment-body {
            overflow: hidden;
        }

        .comment .text {
            padding: 10px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            background: #fff;
        }

            .comment .text p:last-child {
                margin: 0;
            }

        .comment .attribution {
            margin: 0.5em 0 0;
            font-size: 14px;
            color: #666;
        }

        /* Decoration */

        .comments,
        .comment {
            position: relative;
        }

            .comments:before,
            .comment:before,
            .comment .text:before {
                content: "";
                position: absolute;
                top: 0;
                left: 65px;
            }

            .comments:before {
                width: 3px;
                top: -20px;
                bottom: -20px;
                background: rgba(0,0,0,0.1);
            }

            .comment:before {
                width: 9px;
                height: 9px;
                border: 3px solid #fff;
                border-radius: 100px;
                margin: 16px 0 0 -6px;
                box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
                background: #ccc;
            }

            .comment:hover:before {
                background: orange;
            }

            .comment .text:before {
                top: 18px;
                left: 78px;
                width: 9px;
                height: 9px;
                border-width: 0 0 1px 1px;
                border-style: solid;
                border-color: #e5e5e5;
                background: #fff;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }

        .closecomment {
            position: absolute;
            top: 1px;
            right: 6px;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            font-weight: bolder;
            font-size: 0.81rem;
        }
    </style>*@
@model DigiChamps.Controllers.StudentController.TicketDetailscls
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-ntspl">
            <div class="panel-title">
                <h3><strong>&nbsp; Ask Doubt</strong></h3><br />
            </div>
        </div>
        @if (Model != null)
        {
            <div class="panel panel-ntspl">
                <div class="panel-title">
                    <h3><i class="fa fa-file"></i> Doubt No : @Model.doubt.ticketNo</h3>
                    <div class="box-tool box-tooll">
                    </div>
                </div>

                <div class="panel-body">

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <strong>Teacher Name :</strong>
                        </div>
                        <div class="col-md-4">
                            <label>@Model.doubt.TeacherName</label>
                        </div>
                        <div class="col-md-2">
                            <strong>Raised Date :</strong>
                        </div>
                        <div class="col-md-4">
                            <label>@Model.doubt.raiseDate</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <strong>Subject :</strong>
                        </div>
                        <div class="col-md-4">
                            <label>@Model.doubt.subjectName</label>
                        </div>
                        <div class="col-md-2">
                            <strong>Chapter :</strong>
                        </div>
                        <div class="col-md-4">
                            <label>@Model.doubt.chapterName</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">

                        <div class="col-md-2">
                            <strong>Status :</strong>
                        </div>
                        <div class="col-md-4">
                            <label>@Model.doubt.statusname</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="panel panel-ntspl">
                <div class="panel-title">
                    <h3><i class="fa fa-file"></i> Zoom Details :  </h3>
                    <div class="box-tool box-tooll">
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-2">
                            <strong>Zoom Id :</strong>
                        </div>
                        <div class="col-md-4">
                            <label>@Model.doubt.zoomId</label>
                        </div>
                        <div class="col-md-2">
                            <strong>Zoom Code :</strong>
                        </div>
                        <div class="col-md-4">
                            <label>@Model.doubt.zoomCode</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div class="clearfix"></div>
        }
        <div class="panel panel-ntspl">

            <div class="panel-body">
                @if (Model == null)
                {
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">Subject</div>
                                    <div class="form-group">
                                        <select id="ddlsubject" name="subject" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">Chapter</div>
                                    <div class="form-group">
                                        <select id="ddlchapter" name="chapter" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>



                    </div>
                }
                <div class="page">
                    <div class="marvel-device nexus5">

                        <div class="screen">
                            <div class="screen-container">

                                <div class="chat">
                                    <div class="chat-container">
                                        <div class="user-bar">
                                            <div class="back">
                                                <i class="zmdi zmdi-arrow-left"></i>
                                            </div>
                                            <div class="avatar">
                                                <i class="fa fa-user-circle" style="font-size: 36px;"></i>
                                            </div>
                                            <div class="name">
                                                @if (Model != null)
                                                {
                                                    <span>@Model.doubt.TeacherName</span>
                                                    <span class="status">@Model.doubt.statusname</span>
                                                }
                                            </div>

                                            <div class="actions more">

                                            </div>
                                            <div class="actions">
                                                <i class="zmdi zmdi-phone"></i>
                                            </div>
                                        </div>
                                        <div class="conversation">
                                            <div class="conversation-container">
                                                @if (Model != null)
                                                {
                                                    if (Model.comments.Count() > 0)
                                                    {
                                                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                                        var regdet = DbContext.tbl_DC_Registration.Where(a => a.Is_Active == true).ToList();
                                                        var teachers = DbContext.Teachers.Where(a => a.Active == 1).ToList();
                                                        foreach (var a in Model.comments)
                                                        {
                                                            if (a.Is_Teacher == false)
                                                            {

                                                <div class="message sent" ondblclick="askfordelete(@a.Comment_ID)">
                                                    @if (a.User_Comment != null && a.User_Comment != "")
                                                    {
                                                        @Html.Raw(HttpUtility.HtmlDecode(a.User_Comment))
                                                   }
                                                   @if(a.User_Comment != null && a.User_Comment != "" && a.R_image != null && a.R_image != "")
                                                   {
                                                       <br />
                                                   }
                                                   @if(a.Is_Audio == true && a.R_image != null && a.R_image != "")
                                                   {
                                                       <audio controls >
                                                           <source src = "@a.R_image" />
                                                       </audio >
                                                   }
                                                   @if(a.Is_Audio == false && a.R_image != null && a.R_image != "")
                                                   {
                                                       <img onclick = "viewattachment('@a.R_image')" style = "width: 187px;" src = "@a.R_image" />
                                                   }
                                                   <span class="metadata">
                                                       <span class="time"></span>
                                                       @if(a.Is_Taecher_Read == true)
                                                       {
                                                           <span class="tick">

                                                               <svg xmlns = "http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d = "M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7" /></svg>
                                                           </span>
                                                       }
                                                       else
                                                       {
                                                           <span class="tick">

                                                               <svg xmlns = "http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d = "M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#7867678f" /></svg>
                                                           </span>
                                                       }
                                                   </span>
                                               </div>
                                           }
                                           else
                                           {
                                               <div class="message received">
                                                   @if(a.User_Comment != null && a.User_Comment != "")
                                                   {
                                                       @Html.Raw(HttpUtility.HtmlDecode(a.User_Comment))
                                                   }
                                                   @if(a.User_Comment != null && a.User_Comment != "" && a.R_image != null && a.R_image != "")
                                                   {
                                                       <br />
                                                   }
                                                   @if(a.Is_Audio == true && a.R_image != null && a.R_image != "")
                                                   {
                                                       <audio controls >
                                                           <source src = "@a.R_image" />
                                                       </audio >
                                                   }
                                                   @if(a.Is_Audio == false && a.R_image != null && a.R_image != "")
                                                   {
                                                       <img onclick = "viewattachment('@a.R_image')" style = "width: 187px;" src = "@a.R_image" />

                                                   }
                                                   <span class="metadata">
                                                       <span class="time"></span>
                                                       @if(a.Is_Taecher_Read == true)
                                                       {
                                                           <span class="tick">

                                                               <svg xmlns = "http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d = "M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7" /></svg>
                                                           </span>
                                                       }
                                                       else
                                                       {
                                                           <span class="tick">

                                                               <svg xmlns = "http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d = "M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#7867678f" /></svg>
                                                           </span>
                                                       }
                                                   </span>
                                               </div>
                                           }

                                       }
                                   }

                               }
                           </div>
                           @if(Model == null ? true : (Model.doubt.status != "R" && Model.doubt.status != "C"))
                           {

                               <div class="conversation-compose">
                                   <input type = "hidden" value="@(Model == null ? 0 : Model.doubt.doubtId)" id="Ticket_ID" />

                                   <div class="emoji">
                                       <i class="fa fa-user-circle" style="font-size: 26px;"></i>
                                   </div>
                                   <textarea class="input-msg" id="Answer_Ticket" name="txtcomment" placeholder="Type a message" autocomplete="off" autofocus></textarea>
                                   <div class="photo" style="position: relative;overflow: hidden;">
                                       <i class="fa fa-camera"></i>
                                       <input type = "file" id="imagefile" name="imagefile" accept="image/*" style="position: absolute;font-size: 50px;opacity: 0;right: 0; top: 0;" />
                                   </div>
                                   <div class="photo" style="position: relative;overflow: hidden;">
                                       <i class="fa fa-microphone"></i>
                                       <input type = "file" id="audiofile" name="audiofile" accept="audio/*" style="position: absolute;font-size: 50px;opacity: 0;right: 0; top: 0;" />
                                   </div>
                                   <button class="send" title="send" id="btnanswer" type="button">
                                       <div class="circle">
                                           <i class="fa fa-angle-right" style="font-weight: bolder;font-size: 35px;color:white;"></i>
                                       </div>
                                   </button>
                               </div>

                           }
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>
</div>
</div>
</div>
<div id = "myModalimagepreview" class="modal fade" role="dialog">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
                                                @*<div class="modal-header">
    <h5><strong>Image Preview</strong></h5>*@
<button type = "button" class="close" id="imgclose" style="font-size:38px;color:black;">&times;</button>
                                                @*</div>*@
                                      <div class="modal-body text-center">
                                          <img id = "imagepreview" alt="image upload" style="width:100%;" />
                                      </div>
                                      <div class="modal-footer">
                                          <button type = "button" title="Send" id="btnuploadimage" class="btn btn-primary"><i class="fa fa-angle-right" style="font-size:38px;font-weight:700;"></i></button>
                                      </div>
                                  </div>

                              </div>

                          </div>
                          <div id = "myModalaudiopreview" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                                @*<div class="modal-header">
    <h5><strong>Image Preview</strong></h5>*@
<button type = "button" class="close" id="audioclose" style="font-size:38px;color:black;">&times;</button>
                                                @*</div>*@
                                      <div class="modal-body text-center">
                                          <audio controls id="audiosrc">
                                          </audio>
                                      </div>
                                      <div class="modal-footer">
                                          <button type = "button" title="Send" id="btnaudioimage" class="btn btn-primary"><i class="fa fa-angle-right" style="font-size:38px;font-weight:700;"></i></button>
                                      </div>
                                  </div>

                              </div>

                          </div>
                          <div id = "myModal2" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-body">
                                          <div id = "pdfview" ></ div >
                                      </ div >
                                  </ div >
                                  < div class="modal-footer">
                                      <button type = "button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                              </div>

                          </div>

                          <script src = "~/Student_assets/assets/js/jquery-1.10.2.min.js" ></ script >
                                                @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
< script >
function viewattachment(url)
{
debugger;
//  var href = "http://learn.odmps.org" + url;
var href = "http://localhost:63806" + url;

//$('#pdfview').attr('data', href);
$('#pdfview').html('<embed src="' + href + '" width="100%" height="500px" />');
$('#myModal2').modal('show');

}
function askfordelete(commentid)
{
if (commentid == 0)
                                                    {
   alert('You can\'t delete this chat message');
}
else
                                                    {
   window.location.href = '/Student/DeleteReplyComment?id=' + commentid;

}
}
$(document).ready(function () {
$("audio").on("play", function() {
   $("audio").not(this).each(function(index, audio) {
       audio.pause();
   });

});
})
</script>

                                                @*<script type="text/javascript" src="~/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>*@
                                                @*<script type="text/javascript" src="~/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>*@
                                                @*<script src="~/js/jquery.elevatezoom.js"></script>*@
                                                        <script src="~/Content/chatstylejs/chatscript.js"></script>
                                                        <script>
    $(document).ready(function () {
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagepreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imagefile").change(function () {
            readURL1(this);
         $('#myModalimagepreview').modal('show');
        });
        $('#btnuploadimage').click(function () {
            $('.ntspl-preloader').fadeIn(300);
             var check = '@(Model==null?"1":"2")';
            if (check == "1") {
                if ($('#ddlsubject').val() == 'Select') {
                    alert('Select subject');
                    $('.ntspl-preloader').fadeOut(300);
                    return false;
                }
                if ($('#ddlchapter').val() == 'Select') {
                    alert('Select Chapter');
                    $('.ntspl-preloader').fadeOut(300);
                    return false;
                }
            }
            var tkid = $('#Ticket_ID').val();

            var data = new FormData();
            var files = $("#imagefile").get(0).files;
            //Basic Info
            if (files.length > 0) {
                data.append("file", files[0]);
            }

            data.append("Ticket_id", tkid);
            data.append("msgbody", "");
            data.append("isaudio", false);
            if (check == "1") {
                data.append("Subject_ID", $('#ddlsubject').val());
                data.append("Chapter_ID", $('#ddlchapter').val());
            }
            $.ajax({
                url: '/Student/SaveDoubtAnswer',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                     $('.ntspl-preloader').fadeOut(300);
                    if (data.sts == "S") {
                       // alert("Answer Submitted Successfully");
                        $('#myModalimagepreview').modal('hide');
                        window.location.href = '/Student/ViewDoubtDetails?id=' + data.tktid;
                        //window.location.reload();
                    }
                    else if (data.sts == "E") {
                        alert("Please Answer for this question");
                    }
                    else if (data.sts == "T") {
                        alert("Invalid File");
                    }
                    else {
                        alert(data.sts);
                    }
                }
            })


        })
        $('#imgclose').click(function () {
            $("#imagefile").val('');
            $('#myModalimagepreview').modal('hide');
        })
         function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#audiosrc').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
         $("#audiofile").change(function () {
            readURL2(this);
         $('#myModalaudiopreview').modal('show');
         });
        $('#btnaudioimage').click(function () {
            $('.ntspl-preloader').fadeIn(300);
            var check = '@(Model==null?"1":"2")';
            if (check == "1") {
                if ($('#ddlsubject').val() == 'Select') {
                    alert('Select subject');
                    $('.ntspl-preloader').fadeOut(300);
                    return false;
                }
                if ($('#ddlchapter').val() == 'Select') {
                    alert('Select chapter');
                    $('.ntspl-preloader').fadeOut(300);
                    return false;
                }
            }
            var tkid = $('#Ticket_ID').val();
            var data = new FormData();
            var files = $("#audiofile").get(0).files;
            //Basic Info
            if (files.length > 0) {
                data.append("file", files[0]);
            }

            data.append("Ticket_id", tkid);
            data.append("msgbody", "");
            data.append("isaudio", true);

            if (check == "1") {
                data.append("Subject_ID", $('#ddlsubject').val());
                data.append("Chapter_ID", $('#ddlchapter').val());
            }



            $.ajax({
                url: '/Student/SaveDoubtAnswer',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                     $('.ntspl-preloader').fadeOut(300);
                    if (data.sts == "S") {
                       // alert("Answer Submitted Successfully");
                        $('#myModalaudiopreview').modal('hide');
                        window.location.href = '/Student/ViewDoubtDetails?id=' + data.tktid;
                    }
                    else if (data.sts == "E") {
                        alert("Please Answer for this question");
                    }
                    else if (data.sts == "T") {
                        alert("Invalid File");
                    }
                    else {
                        alert(data.sts);
                    }
                }
            })
        })
         $('#audioclose').click(function () {
             $("#audiofile").val('');
             $('#myModalaudiopreview').modal('hide');
        })

        $('#btnanswer').click(function () {
            $('.ntspl-preloader').fadeIn(300);
             var check = '@(Model==null?"1":"2")';
            if (check == "1") {
                if ($('#ddlsubject').val() == 'Select') {
                    alert('Select subject');
                    $('.ntspl-preloader').fadeOut(300);
                    return false;
                }
                if ($('#ddlchapter').val() == 'Select') {
                    alert('Select Chapter');
                    $('.ntspl-preloader').fadeOut(300);
                    return false;
                }
            }
             if ($('#Answer_Ticket').val() == '') {
                $('.ntspl-preloader').fadeOut(300);
                alert('Enter Answer');
                return false;
            }
            var tkid = $('#Ticket_ID').val();
            var data = new FormData();


            data.append("Ticket_id", tkid);
            data.append("msgbody", $('#Answer_Ticket').val());
            data.append("isaudio", false);

            if (check == "1") {
                data.append("Subject_ID", $('#ddlsubject').val());
                data.append("Chapter_ID", $('#ddlchapter').val());
            }


            $.ajax({
                url: '/Student/SaveDoubtAnswer',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                     $('.ntspl-preloader').fadeOut(300);
                    if (data.sts == "S") {
                       // alert("Answer Submitted Successfully");
                        $('#myModalaudiopreview').modal('hide');
                        window.location.href = '/Student/ViewDoubtDetails?id=' + data.tktid;
                    }
                    else if (data.sts == "E") {
                        alert("Please Answer for this question");
                    }
                    else if (data.sts == "T") {
                        alert("Invalid File");
                    }
                    else {
                        alert(data.sts);
                    }
                }
            })
        })
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
          GetSubject(classid);
       // GetChapters(subjectid);
        $('#ddlsubject').change(function () {
            GetChapters($('#ddlsubject').val());
        })

        function GetSubject(id) {
            $('.ntspl-preloader').fadeIn(300);
            if (id != '0') {
                $.post("/Student/GetAllSubject?ClsId=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>Select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>')
                        }
                        //if (subjectid > 0) {
                        //    $('#ddlsubject').val(subjectid);
                        //}
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.ntspl-preloader').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {

                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>All</option>');
                $('.ntspl-preloader').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//
        function GetChapters(id) {
             $('.ntspl-preloader').fadeIn(300);
            if (id != '0') {

                $.post("/Student/GetAllChapter?SubId=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>Select</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>');

                        }
                        //if (chapterid > 0) {
                        //    $('#ddlchapter').val(chapterid);
                        //}
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                    $('.ntspl-preloader').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
                $('.ntspl-preloader').fadeOut(300);
            }
        }

    })
                                                        </script>
