﻿@{
    ViewBag.Title = "ViewOnlineClassDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@using System.Globalization;
@model DigiChamps.Models.adminviewonlineclasses
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-ntspl p-3">
            <div class="panel-title">
                <h3><i class="fa fa-file"></i>View Online Class Details </h3>
                <div class="box-tool box-tooll">
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="panel-body">
                <div class="form-group voffset3">
                    <input type="hidden" id="hdnId" value="@Model.onlineClass.ID" />


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold"><span>School:</span></label>
                                </div>

                                <div class="col-md-6  text-left">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.SchoolName</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Board:</label>
                                </div>

                                <div class="col-md-6 text-left">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.BoardName</label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Class:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.ClassName</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Section:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.SectionName</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Teacher:</label>
                                </div>

                                <div class="col-md-6 text-left">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.TeacherName</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Subject:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.SubjectName</label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Date:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@(Model.onlineClass.Date.Value.ToString("dd MMM yyyy"))</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">StartTime:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@(DateTime.ParseExact(Model.onlineClass.StartTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">EndTime:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@(DateTime.ParseExact(Model.onlineClass.EndTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</label>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @* Syllabus *@
        <div class="panel panel-ntspl p-3">
            <div class="panel-title">
                <h3><i class="fa fa-file"></i>Syllabus Details </h3>
                <div class="box-tool box-tooll">
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Chapter</th>
                                <th>SyllabusTitle</th>
                                <th>SyllabusDescription</th>
                                <th>Updated On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.classSyllabusModel != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model.classSyllabusModel)
                                {
                                    //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.ChapterName</td>
                                        <td>@item.SyllabusTitle</td>
                                        <td>@item.SyllabusDescription</td>
                                        <td>@(item.modifieddate.Value.ToString("dd MMM yyyy"))</td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        @* Homework *@
        <div class="panel panel-ntspl">
            <div class="panel-title">
                <h3><i class="fa fa-file"></i>Homework Details </h3>
                <div class="box-tool box-tooll">
                    @*<a class="btn btn-primary" href="/Student/UploadOnlineClassHomeWork?onlineclassid=@(Model.onlineClass.ID)"><i class="fa fa-plus"></i><span> Add Homework</span></a>*@
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-advance" id="table3">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Question PDF</th>
                                <th>Inserted Date</th>
                                <th>Answer PDF</th>
                                <th>Verified</th>
                                <th>Verified By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.HomeWorks != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model.HomeWorks)
                                {
                                    //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td><a target="_blank" href="@item.HomeWorkPdf" class="text-black-50"><i class="fa fa-file"></i></a></td>

                                        <td>@(item.InsertedDate.ToString("dd MMM yyyy"))</td>
                                        <td>
                                            @if (item.AnswerPdf != null)
                                            {
                                                <a target="_blank" href="@item.AnswerPdf" class="text-black-50"><i class="fa fa-file"></i></a>
                                                if (item.Verified == false)
                                                {
                                                    <a href="/Student/RemoveonlineStudenthomework?id=@item.ID&onlineclassid=@Model.onlineClass.ID"><i class="fa fa-trash"></i>Remove</a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="/Student/UploadOnlineClassHomeWork?id=@item.ID"><i class="fa fa-plus"></i>Add</a>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Verified != null)
                                            {
                                                if (item.Verified == true)
                                                {
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @if (item.verifiedteachername != null)
                                            {
                                                <span>@item.verifiedteachername</span>
                                            }
                                        </td>
                                      
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>


        @* Student Attendance *@
        <div class="panel panel-ntspl p-3">
            <div class="panel-title">
                <h3><i class="fa fa-file"></i>Attendance Details </h3>

            </div>
            <div class="panel-body">
                @{
                    var s = Model.onlinestudentattendance.FirstOrDefault();
                    var rate = 0;
                    var review = "";
                    if (s != null)
                    {
                        rate = s.Rating;
                        review = s.Review;
                    }

                }
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold"><span>Present:</span></label>
                            </div>

                            <div class="col-md-6  text-left">
                                <label class="h6 font-weight-bolder">@(s == null ? "Not Updated" : (s.IsPresent == true ? "Yes" : "No"))</label>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                @if (s != null && s.IsPresent == true)
                {
                    using (Html.BeginForm("OnlineRating", "Student", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
                    {
                        @Html.AntiForgeryToken();
                        <input type="hidden" id="onlineclassid" name="onlineclassid" value="@Model.onlineClass.ID" />

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">

                                <div class="form-group">
                                    <label>Rating :</label>
                                    <select id="ddlrating" name="rating" class="form-control">
                                        <option selected="@(rate == 0 ? true : false)">Select One</option>
                                        <option value="1" selected="@(rate == 1 ? true : false)">1</option>
                                        <option value="2" selected="@(rate == 2 ? true : false)">2</option>
                                        <option value="3" selected="@(rate == 3 ? true : false)">3</option>
                                        <option value="4" selected="@(rate == 4 ? true : false)">4</option>
                                        <option value="5" selected="@(rate == 5 ? true : false)">5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Review :</label>
                                    <textarea id="txtreview" name="review" class="form-control" rows="9" maxlength="500">@review</textarea>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-primary" id="btnupdate"><i class="fa fa-plus"></i><span> Submit</span></button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>




    </div>
</div>