﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> <!--320-->
    <title>@ViewBag.Title</title>
    <link href="~/Student_assets/images/fav-icon.jpg" rel="shortcut icon" />
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='~/Student_assets/assets/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/material.css'>
    <link href="~/Student_assets/assets/css/video-js.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='~/Student_assets/assets/css/animated-masonry-gallery.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/rotated-gallery.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/sweet-alerts/sweetalert.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/jtree.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/range-slider/ion.rangeSlider.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/range-slider/ion.rangeSlider.skinFlat.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/owl.carousel.min.css'>
    <link href="~/css/croppie.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/favicon.html">
    <link href="~/css/manual.css" rel="stylesheet" />
    <link rel='stylesheet' href='~/Student_assets/assets/css/style.css'>
    <script src='~/Student_assets/assets/js/jquery.js'></script>
    <script src='~/Student_assets/assets/js/app.js'></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->

    @*<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-93241591-1', 'auto');
        ga('send', 'pageview');
    </script>*@
    <script>
        jQuery(window).load(function () {
            $('.ntspl-preloader').addClass('hidden');
        });
    </script>
</head>
<body>
    <div class="loader-ajax-container">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
   
    <div class="ntspl-preloader text-center">
        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        @*<div class="loader">Loading...</div>*@
        <div class="loader-container">
            <span>Loading</span>
            <div id="circleG">
                <div id="circleG_1" class="circleG"></div>
                <div id="circleG_2" class="circleG"></div>
                <div id="circleG_3" class="circleG"></div>
            </div>
            <div class="clearfix"></div>
            <p>FUN + EDUCATION = FUNDUCATION</p>
        </div>
    </div>
    <div class="wrapper ">

        <div class="left-bar ">
            <div class="admin-logo">
                <div class="logo-holder pull-left">
                    <img class="logo" src="../../Student_assets/images/Digichamps-small.jpg" alt="logo">
                </div>
                <!-- logo-holder -->
                <a href="#" class="menu-bar  pull-right"><i class="ti-menu"></i></a>
            </div>
            <!-- admin-logo -->
            <ul class="list-unstyled menu-parent" id="mainMenu">
                <li>
                    <a href="/Parent/ParentDashboard" class="current waves-effect waves-light">
                        <i class="ion-speedometer"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Parent/testresult">
                        <i class="ion-clipboard"></i>
                        <span class="text">Test Analysis</span>
                    </a>

                </li>
                @{
                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                    if (Session["USER_CODE"] != null)
                    {
                        int sid = Convert.ToInt32(Convert.ToString(Session["USER_CODE"]).Substring(1));
                        var offline = DbContext.VW_Offline_Student_Orders.Where(x => x.Regd_ID == sid).FirstOrDefault();
                        if (offline != null)
                        {
                            var Isassigned = DbContext.SP_DC_Assign_Batch_Details().Where(x => x.Regd_ID == sid).FirstOrDefault();
                            if (Isassigned != null)
                            {@*if buy offline package and batch has assigned*@
                            <text>
                                <li>
                                    <a href="/Parent/attendance">
                                        <i class="ion-ios-pricetags-outline"></i>
                                        <span class="text">Attendance Report</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Parent/timetable">
                                        <i class="ion-ios-stopwatch-outline"></i>
                                        <span class="text">TIme Table</span>
                                    </a>
                                </li></text>
                            }
                        }
                    }
                }
    <li>
        <a href="/Parent/feedback">
            <i class="ion-ios-chatboxes-outline"></i>
            <span class="text">Feedback</span>
        </a>
    </li>
</ul>
        </div>
        <!-- left-bar -->
        <div class="content" id="content">
            <div class="overlay"></div>
            <div class="top-bar">
                <nav class="navbar navbar-default top-bar">
                    <div class="menu-bar-mobile" id="open-left">
                        <i class="ti-menu"></i>
                    </div>
                    <a href="#" class="menu-bar  pull-left"><i class="ti-menu"></i></a>


                    <ul class="nav navbar-nav navbar-right top-elements">
                        @*<li class="ntspl-dropdown dropdown">

                            <a href="#" class="dropdown-toggle noti" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-ios-bell-outline icon-notification"></i><span class="badge info-number message count"></span></a>
                            <ul id="notiContent" class="dropdown-menu dropdown-ntspl-menu  animated fadeInUp wow notification-drop neat_drop dropdown-right " data-wow-duration="1500ms" role="menu">
                                <li>
                                        <a href="profile.html">
                                            <div class="hexagon danger">
                                                <span><i class="ion-ios-alarm-outline"></i></span>
                                            </div>
                                            <span class="text_info"> Privacy settings have been changed</span>
                                            <span class="time_info">3:30am</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="profile.html" class="last_info">See all notifications</a>
                                    </li>
                            </ul>
                        </li>*@
                        <li class="ntspl-dropdown dropdown">
                            <!-- Change design here, its bit of odd or not upto usable -->
                            <a href="#" class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="avatar-holder">
                                    @{
                                        string name = string.Empty;
                                        string img = string.Empty;
                                        if (Session["USER_CODE"] != null)
                                        {
                                            int sid = Convert.ToInt32(Convert.ToString(Session["USER_CODE"]).Substring(1));
                                            var student = DbContext.tbl_DC_Registration.Where(x => x.Regd_ID == sid).FirstOrDefault();
                                            if (student != null)
                                            { 
                                            name = Convert.ToString(student.Praent_Name);
                                            }
                                        }
                                    }
									
									  @if (img == null || img == "")
                                    {
                                        <text><img src="~/Student_assets/assets/images/avatar/one.png" alt="" /></text>
                                    }
                                    else
                                    {
                                        <text><img src="~/images/Profile/@img" alt=""></text>
                                    }
                                    @*@if (img == null || img == "")
                                    {
                                        <text><img src="~/Student_assets/assets/images/avatar/one.png" alt="" /></text>
                                    }
                                    else
                                    {
                                        <text><img src="~/images/Profile/@img" alt=""></text>
                                    }*@
                                </span>
                                <span class="avatar_info">
                                    @if (name != "")
                                    {
                                        <text>@name</text>
                                    }
                                </span><span class="drop-icon"></span>
                            </a>
                            <ul class="dropdown-menu login-arrow dropdown-ntspl-menu  animated fadeInUp wow avatar_drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
                                
                                <li>
                                    <a href="/Parent/ChangePassword"> <i class="ion-android-create"></i>Change Password</a>
                                </li>
                                <li>
                                    <a href="/Parent/Logout" class="logout_button"><i class="ion-power"></i>Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>

            <!-- Page Header -->
            <div class="page_header page_header_tab">
                <div class="row">
                    <div class="col-md-8 pull-left div-buttom-margin">
                        @RenderSection("header", required: false)
                    </div>
                    <div class="col-md-2 pull-right test-clock">
                        <div id="clockbox"></div>
                        <div id="clockboxd"></div>
                    </div>
                    <div class="clearfix"></div>
                    @RenderSection("Subheader", required: false)
                </div>
            </div>
            <!-- /pageheader -->

            <div class="main-content">


                @if (Session["USER_CODE"] != null)
                {
                    if (Session["ROLE_CODE"].ToString() != "P")
                    {
                        Response.Redirect("~/Parent/Logout");
                    }
                    else
                    {
                        @RenderBody()
                    }
                }
                else
                {
                    Response.Redirect("~/Parent/Logout");
                }
                <div class="row">
                    <div class="col-md-12 text-center footer">
                        <p class="designed-by">©2017 Digichamps. All Rights Reserved. |  Designed By <a href="https://learn.odmps.org/">Digichamps</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='../../Student_assets/assets/js/jquery-ui-1.10.3.custom.min.js'></script>
    <script src='~/Student_assets/assets/js/bootstrap.min.js'></script>
    <script src='~/Student_assets/assets/js/jquery.nicescroll.min.js'></script>
    <script src='~/Student_assets/assets/js/wow.min.js'></script>
    <script src='~/Student_assets/assets/js/jquery.loadmask.min.js'></script>
    <script src='~/Student_assets/assets/js/jquery.accordion.js'></script>
    <script src='~/Student_assets/assets/js/materialize.js'></script>
    <script src='~/Student_assets/assets/js/build/d3.min.js'></script>
    <script src='~/Student_assets/assets/js/bic_calendar.js'></script>
    <script src='~/Student_assets/assets/js/widgets.js'></script>
    <script src='~/Student_assets/assets/js/core.js'></script>
    <script src="~/Student_assets/assets/js/jquery.countTo.js"></script>
    <script src='~/Student_assets/assets/js/range-slider/ion.rangeSlider.js'></script>
    <script src='~/Student_assets/assets/js/range-slider/custom.js'></script>
    <script src='~/Student_assets/assets/js/tooltip-custom.js'></script>
    <script src='~/Student_assets/assets/js/owl.carousel.min.js'></script>


    @*//Show error msg*@
    <script src='~/Student_assets/assets/js/noty/jquery.noty.js'></script>
    <script src='~/Student_assets/assets/js/noty/layouts/top.js'></script>
    <script src="~/Student_assets/assets/js/noty/layouts/default.js"></script>
    <script src='~/Student_assets/assets/js/noty/notifications-custom.js'></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>

    <script>
        $(function () {
            let pathParts = window.location.pathname.split("/");
            let yourLink = pathParts[2] // in this example
            switch (yourLink.toUpperCase()) {
                case 'TESTRESULT':
                    $('#mainMenu li a:contains("Test Analysis")').parent().addClass("current");
                    break;
                case 'EXAMTOPICDETAILS':
                    $('#mainMenu li a:contains("Test Analysis")').parent().addClass("current");
                    break;
                case 'ATTENDANCE':
                    $('#mainMenu li a:contains("Attendance Report")').parent().addClass("current");
                    break;
                case 'TIMETABLE':
                    $('#mainMenu li a:contains("TIme Table")').parent().addClass("current");
                    break;
                case 'FEEDBACK':
                    $('#mainMenu li a:contains("Feedback")').parent().addClass("current");
                    break;
                case 'RESULTVIEW':
                    $('#mainMenu li a:contains("Test Analysis")').parent().addClass("current");
                    break;
                default:
                    $('#mainMenu li a:contains("Dashboard")').parent().addClass("current");
                    // if yourLink is empty then default to the home page
            }
        });
    </script>
</body>
</html>