﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script>
        if (!window.moment) {
            document.write('<script src="assets/plugins/moment/moment.min.js"><\/script>');
        }
    </script>
</head>
<body >
    <div class="container-fluid  bg-white" >
        <nav class=" navbar navbar-white bg-white">
            <a class="navbar-brand" href="#">
                <img src="~/Images/Digichamps_logo.png" class="d-inline-block align-top" alt="">

            </a>
            <h3 class="text-dark">Mentorship Dashboard</h3>
            <a href="@Url.Action("Logout", "MentorDashboard" )"><i class="fa fa-off"></i>Logout</a>
        </nav>
        <div class="clearfix" style="margin-bottom:15px;"></div>
        <div style="margin-top:50px;">
            @RenderBody()
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4 mt-4">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2018 Copyright:
                <a href="https://learn.odmps.org/">learn.odmps.org</a>
            </div>
            <!-- Copyright -->

        </footer>
    </div>

</body>
</html>
