﻿@model DigiChamps.Models.DigiChampsModel.DigiChampsChapterModel
@{
    ViewBag.Title = "Add Chapter Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddChapter", "Admin",FormMethod.Post, new { @class = "form-horizontal", id = "validation-form",enctype = "multipart/form-data" }))
{
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        @if (ViewBag.pagetitle != null)
                        {
                            <h3><i class="fa fa-file"></i> @ViewBag.pagetitle Chapter</h3>
                        }
                        @Html.HiddenFor(x => x.Chapter_Id, new { @id = "chid" })
                    </div>
                    <div class="box-content">
                        <form action="#" class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-group voffset3">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if (ViewBag.Board != null)
                                    {
                                        @(Html.DropDownListFor(x => x.Board_Id, ViewBag.Board as SelectList, "Please Select Board", new { @class = "form-control", @id = "ddlboard", data_rule_required = "true", data_msg_required = "Please enter board", disabled = "true" }))
                                        @Html.HiddenFor(x => x.Board_Id)
                                    }
                                    else
                                    {
                                        @(Html.DropDownListFor(x => x.Board_Id, ViewBag.Board_Id as SelectList, "Please Select Board", new { @class = "form-control", @id = "ddlboard", data_rule_required = "true", data_msg_required = "Please enter board" }))
                                        @Html.ValidationMessageFor(x => x.Board_Id)
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @(Html.DropDownListFor(x => x.Class_Id, new List<SelectListItem>(), "Please Select Class", new { @class = "form-control", @id = "ddlclass", data_rule_required = "true", data_msg_required = "Please enter class" }))
                                    @Html.ValidationMessageFor(x => x.Class_Id)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @(Html.DropDownListFor(x => x.Subject_Id, new List<SelectListItem>(), "Please Select Subject", new { @class = "form-control", @id = "ddlsubject", data_rule_required = "true", data_msg_required = "Please enter subject" }))
                                    @Html.ValidationMessageFor(x => x.Subject_Id)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @Html.TextBoxFor(x => x.Chapter, new { @class = "form-control", placeholder = "Please Enter Chapter", data_rule_required = "true", data_msg_required = "Please enter chapter", data_rule_maxlength = "80" })
                                    @Html.ValidationMessageFor(x => x.Chapter)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Image Upload<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls file-new">
                                    <input type="file" accept=".png, .jpg, .jpeg" name="fileupload" id="fileupload" />
                                    @*<label for="textfield10" class="col-sm-5 col-lg-5 control-label new-lable">(Image size should be 1400*450)</label>*@

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3 col-lg-2 controls"></div>
                                <div class="col-sm-9 col-lg-7 col-md-7 col-xs-12 controls">
                                    @if (ViewBag.image != null)
                                    {
                                        <img src="~/Images/Chapter/@ViewBag.image" id="img_" class="img-responsive" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/Chapter/No_image_available.png" id="img_" class="img-responsive" />
                                    }
                                </div>
                            </div>
                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <a href="@Url.Action("ChapterMaster", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i><span>Back</span> </a>
                                    <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    <script>
        $('#ddlboard').change(function () {
            if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                // do nothing
            }
            else
            {
                $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
            }
            $('#ddlclass').closest('.form-group').addClass('display-loader');
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllClass",
                data: { brdId: $('#ddlboard').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta = "<select id='ddlclass'>";
                    sta = sta + '<option value="">Please Select Class</option>';
                    for (var i = 0; i < data.length; i++) {
                        sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    sta = sta + '</select>';
                    $('#ddlclass').html(sta);
                    setTimeout(function () {
                        $('#ddlclass').closest('.form-group').removeClass('display-loader');
                    }, 800);
                }
            });
        });

        $('#ddlclass').change(function () {
            if ($('#ddlsubject').closest('.form-group').find('.ajax-loader').length) {
                // do nothing
            } else {
                $('#ddlsubject').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
            }
            $('#ddlsubject').closest('.form-group').addClass('display-loader');
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllSubject",
                data: { ClsId: $('#ddlclass').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta1 = "<select id='ddlsubject'>";
                    sta1 = sta1 + '<option value="">Please Select Subject</option>';
                    for (var i = 0; i < data.length; i++) {
                        sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    sta1 = sta1 + '</select>';
                    $('#ddlsubject').html(sta1);
                    setTimeout(function () {
                        $('#ddlsubject').closest('.form-group').removeClass('display-loader');
                    }, 800);
                }
            });
        });

        var hide = $("#chid").val();
        @if(ViewBag.classid != null)
        {
        <text>
                if (hide != null) {
                    var classAvailable = '@ViewBag.classid';
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllClass",
                        data: { brdId: '@ViewBag.Boardid' },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var sta = "";
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Value == classAvailable) {
                                    sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                else {
                                    sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                            }
                            $('#ddlclass').append(sta);
                            @if(ViewBag.classid != null)
                            {
                                <text>
                            $('#ddlclass').attr('disabled', 'disabled');</text>
                            }
                        }
                    });

                    var subjectAvailable = '@ViewBag.subid';
                    var classopt = '@ViewBag.classid';
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllSubject",
                        data: { ClsId: classopt },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var sta1 = '';
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Value == subjectAvailable) {
                                    sta1 = sta1 + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                else {
                                    sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                            }
                            $('#ddlsubject').append(sta1);

                            @if (ViewBag.subid != null)
                            {
                            <text>
                            $('#ddlsubject').attr('disabled', 'disabled');</text>
                            }
                        }
                    });
                }
        </text>
        }
    </script>

    <script type="text/javascript">
    var _URL = window.URL || window.webkitURL;
    $("#fileupload").change(function (e) {
        var file, img;
        debugger;
        if ((file = this.files[0])) {
            var param = $(this);
            img = new Image();
            img.onload = function () {
                var realWidth = this.width;
                var realHeight = this.height;
                //if (realWidth != 1400 && realHeight != 450) {
                //    alert("Please select image of mentioned dimension.");
                //    $("#fileupload").val("");
                //    $('#img_').attr('src', "/Images/Banner/No_image_available.png");
                //}
            }
            img.onerror = function () {
                alert("not a valid file: " + file.type);
            };
            img.src = _URL.createObjectURL(file);
            $('#img_').attr('src', img.src);
        };
    });



    </script>

}