﻿@model DigiChamps.Models.DigiChampsModel.DigichampsDIYVideo
@{
    ViewBag.Title = "AddDIYVideo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("AddDIYVideo", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Add New</h3>
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Diy video Name<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.id != null)
                                {
                                    <input type="text" name="txttitle" class="form-control" id="txttype" value="@ViewBag.videoname" data-rule-required="true" data-msg-required="Please Enter PDF Title" />
                                }
                                else
                                {
                                    <input type="text" name="txttitle" class="form-control" id="txttype" data-rule-required="true" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload Video<span class="asterisk">*</span></label>
                            <div class="col-sm-6 col-lg-4 controls">
                                @*@Html.TextBoxFor(m => m.DIYVideo_Upload, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Please enter upload Video" })*@
                                <input name="module_pdf" type="file" accept=".mp4,.flv,.3gp" />
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload Poster image<span class="asterisk"></span></label>
                            <div class="col-sm-6 col-lg-4 controls">
                                <input name="fileupload" type="file" accept=".png,.gif,.jpeg" data-rule-required="false" data-msg-required="Please upload PosterImage" />
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Video Description<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @*<textarea class="form-control" name="txttype1" data-rule-required="true" data-msg-required="Please upload PosterImage"></textarea>*@
                                @if (ViewBag.id != null)
                                {
                                    <input type="text" name="txttype1" class="form-control" id="txttype1" value="@ViewBag.description" data-rule-required="true" data-msg-required="Please Enter Description" />
                                }
                                else
                                {
                                    <input type="text" name="txttype1" class="form-control" id="txttype1" data-rule-required="true" />
                                }
                            </div>
                        </div>
                        <div class="form-group last box-tooll">

                            <input type="hidden" name="key" value="@ViewBag.upload_data.key" /><br />
                            <input type="hidden" name="XAmzCredential" value="@ViewBag.upload_data["x-amz-credential"]" /><br />
                            <input type="hidden" name="XAmzAlgorithm" value="@ViewBag.upload_data["x-amz-algorithm"]" /><br />
                            <input type="hidden" name="XAmzDate" value="@ViewBag.upload_data["x-amz-date"]" /><br />
                            <input type="hidden" name="Policy" value='@ViewBag.upload_data.policy' /><br />
                            <input type="hidden" name="XAmzSignature" value="@ViewBag.upload_data["x-amz-signature"]" /><br />

                            <input type="hidden" name="success_action_status" value="201" />
                            <input type="hidden" name="url" value="@ViewBag.upload_data.upload_link_secure" />
                            <input type="hidden" name="success_action_redirect" value="http://sms.host.learn.odmps.org/Admin/CreateModule" />
                            <input type="hidden" name="videoid" value="@ViewBag.upload_data.video_id" />
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewDIYVideo", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span> Back</span>  </a>
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts
{
    <script type="text/javascript">
        $(".pdfid").on('click', function (event) {
            debugger;
            var href = $(this).attr("id");
            $('#pdfview').attr('data', href);
            $('#myModal3').modal('show');
        });
    </script>
    @*<script type="text/javascript">
                var _URL = window.URL || window.webkitURL;
            $("#fileupload").change(function (e) {
                var file, img;
                debugger;
                if ((file = this.files[0])) {
                    var param = $(this);
                    img = new Image();
                    img.onload = function () {
                        var realWidth = this.width;
                        var realHeight = this.height;
                        if (realWidth != 1400 && realHeight != 450) {
                            alert("Please select image of mentioned dimension.");
                            $("#fileupload").val("");
                            $('#img_').attr('src', "/Images/Banner/No_image_available.png");
                        }
                    }
                    img.onerror = function () {
                        alert("not a valid file: " + file.type);
                    };
                    img.src = _URL.createObjectURL(file);
                    $('#img_').attr('src', img.src);
                };
            });
        </script>*@

}
