﻿@model DigiChamps.Models.DigiChampsModel.DigichampsMantorMaster
@{
    ViewBag.Title = "AddMantor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("AddMantor", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file-text"></i>Mantor Details</h3>
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Student Name<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if (ViewBag.id != null)
                                {
                    <input type="text" name="txtstudentname" class="form-control" id="txttype" value="@ViewBag.txtstudentname" data-rule-required="true" data-msg-required="Please Enter Image Title" />
                                }
                                else
                                {
                    <input type="text" name="txtstudentname" class="form-control" id="txttype" />
                                }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if (ViewBag.id != null)
                                {
                    <input type="text" name="txtclass" class="form-control" id="txttype" value="@ViewBag.txtclass" data-rule-required="true" data-msg-required="Please Enter Image Title" />
                                }
                                else
                                {
                    <input type="text" name="txtclass" class="form-control" id="txttype" />
                                }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Teacher<span class="asterisk">*</span></label>
                                @*<div class="col-sm-9 col-lg-7 controls">
                                    @(Html.DropDownListFor(x => x.Teacher_ID, ViewBag.tbl_DC_Teacher as SelectList, "Please Select Teacher", new { @class = "form-control chosen", @id = "ddlteacher", data_rule_required = "true", data_msg_required = "Please select Teacher" }))
                                    @Html.ValidationMessageFor(x => x.Teacher_ID)
                                </div>*@
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select class="form-control chosen" id="ddlteacher" name="Teacher_name">
                                        @if (ViewBag.teachernames_mantor != null)
                                    {
                        <option value="0">Select TeacherName</option>
                                        foreach (var v in ViewBag.teachernames_mantor)
                                        {
                        <option value="@v.Teach_ID">@v.Teacher_Name </option>
                                        }
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Status<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if (ViewBag.id != null)
                                {
                    <input type="text" name="txtclass" class="form-control" id="txttype" value="@ViewBag.txtstatus" data-rule-required="true" data-msg-required="Please Enter Image Title" />
                                }
                                else
                                {
                    <input type="text" name="txtclass" class="form-control" id="txttype" />
                                }
                                </div>
                            </div>
                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <a href="@Url.Action("ViewMantor", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span> Back</span>  </a>
                                    <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                    }

