﻿@model DigiChamps.Models.DigiChampsModel.DigichampsMasterNotification
@{
    ViewBag.Title = "AddNotification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@using (Html.BeginForm("AddNotification", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Add New</h3>
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School<span class="asterisk"></span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.SchoolName == null) //insert subject
                                {
                                    @(Html.DropDownList("SchoolName", ViewBag.School_ID as SelectList, "All School", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "All School", @id = "ddlSchool" }))

                                }
                                else
                                {
                                    <select id='ddlSchool' name="SchoolName" class="form-control" data-rule-required="false" data-msg-required="All School" disabled="disabled">
                                        <option value="0" selected="selected">Select</option>
                                        @foreach (var v in ViewBag.SchoolName)
                                        {
                                            if (ViewBag.n_id == v.School_ID)
                                            {
                                                <option value="@v.School_ID" selected="selected">@v.SchoolName</option>
                                            }
                                            else
                                            {
                                                <option value="@v.School_ID">@v.SchoolName</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Board == null) //insert subject
                                {
                                    @(Html.DropDownList("Board_Name", ViewBag.Board_Id as SelectList, "Please Select Board", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please Select Board", @id = "ddlboard" }))

                                }
                                else
                                {
                                    <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please Select Board" disabled="disabled">
                                        <option value="0">Please Select Board</option>
                                        @foreach (var v in ViewBag.Board)
                                        {
                                            if (ViewBag.b_id == v.Board_Id)
                                            {
                                                <option value="@v.Board_Id" selected="selected">@v.Board_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Board_Id">@v.Board_Name</option>
                                            }
                                        }
                                    </select>

                                }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk"></span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @(Html.DropDownListFor(x => x.Class_Id, new List<SelectListItem>(), "All Class", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "All class", @id = "ddlclass" }))                                    @Html.ValidationMessageFor(x => x.Class_Id)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section<span class="asterisk"></span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.SectionName == null) //insert subject
                                {
                                    @(Html.DropDownList("SectionName", new List<SelectListItem>(), "All Section", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "All Section", @id = "ddlSection" }))

                                }
                                else
                                {
                                    <select id='ddlSection' name="SectionName" class="form-control" data-rule-required="false" data-msg-required="All Section" disabled="disabled">
                                        <option value="">All Section</option>
                                        @foreach (var v in ViewBag.SectionName)
                                        {
                                            if (ViewBag.n_id == v.Section_ID)
                                            {
                                                <option value="@v.Section_ID" selected="selected">@v.SectionNmae</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Section_ID">@v.SectionNmae</option>
                                            }
                                        }
                                    </select>

                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Student<span class="asterisk"></span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.df == null) //insert
                                {
                                    @(Html.DropDownListFor(x => x.Customer_Name, new List<SelectListItem>(), "All Student", new { @class = "form-control ", data_rule_required = "false", data_msg_required = "All Student", @id = "ddlstudent" }))
                                    @Html.ValidationMessageFor(x => x.Mobile)
                                }
                                else
                                {
                                    <select id='ddlstudent' name="Customer_Name" class="form-control" data-rule-required="false" data-msg-required="All Student" disabled="disabled">
                                        <option value="">All</option>
                                        @foreach (var v in ViewBag.df)
                                        {
                                            if (ViewBag.dfd == v.Mobile)
                                            {
                                                <option value="@v.Mobile" selected="selected">@v.Customer_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.Mobile">@v.Customer_Name</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Title<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.id != null)
                                {
                                    <input type="text" name="txttitle" class="form-control" id="txttype" value="@ViewBag.imagettle" data-rule-required="true" data-msg-required="Please Enter Title" />
                                }
                                else
                                {
                                    <input type="text" name="txttitle" class="form-control" id="txttype" data-rule-required="true" data-msg-required="Please Enter Title" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Notification Type<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.NotificationType == null) //insert subject
                                {
                                    @(Html.DropDownList("NotificationType_Name", ViewBag.NotificationType_ID as SelectList, "All Notification Type", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "All Type", @id = "ddltype" }))

                                }
                                else
                                {
                                    <select id='ddltype' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="All Notification Type" disabled="disabled">
                                        <option value="">All Notification Type</option>
                                        @foreach (var v in ViewBag.NotificationType)
                                        {
                                            if (ViewBag.n_id == v.NotificationType_ID)
                                            {
                                                <option value="@v.NotificationType_ID" selected="selected">@v.NotificationType_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.NotificationType_ID">@v.NotificationType_Name</option>
                                            }
                                        }
                                    </select>

                                }
                            </div>
                        </div>
                        <div id="test">
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Image Upload<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls file-new">
                                    <input type="file" accept=".png, .jpg, .jpeg" name="fileupload" id="fileupload" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-2 controls"></div>
                            <div class="col-sm-9 col-lg-7 col-md-7 col-xs-12 controls">
                                @if (ViewBag.image != null)
                                {
                                    <img src="~/Images/Notification/@ViewBag.image" id="img_" class="img-responsive" />
                                }
                                else
                                {
                                    <img src="~/Images/Notification/No_image_available.png" id="img_" class="img-responsive" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Description<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.id != null)
                                {
                                    <input type="text" name="txtdesc" class="form-control" id="txttype" value="@ViewBag.description" data-rule-required="true" data-msg-required="Please Enter Image Title" />
                                }
                                else
                                {
                                    <input type="text" name="txtdesc" class="form-control" id="txttype" />
                                }
                            </div>
                        </div>
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewNotification", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span> Back</span>  </a>
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts
{
    <script type="text/javascript">
        var _URL = window.URL || window.webkitURL;
        $("#fileupload").change(function (e) {
            var file, img;
            debugger;
            if ((file = this.files[0])) {
                var param = $(this);
                img = new Image();
                img.onload = function () {
                    var realWidth = this.width;
                    var realHeight = this.height;
                    //if (realWidth != 1400 && realHeight != 450) {
                    //    alert("Please select image of mentioned dimension.");
                    //    $("#fileupload").val("");
                    //    $('#img_').attr('src', "/Images/Feed/No_image_available.png");
                    //}
                }
                img.onerror = function () {
                    alert("not a valid file: " + file.type);
                };
                img.src = _URL.createObjectURL(file);
                $('#img_').attr('src', img.src);
            };
        });
    </script>

    <script>
        $(document).ready(function () {
            function GetClasses() {
                debugger;
                if ($('#ddlboard').val() != null && $('#ddlSchool').val() != "") {
                    if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                        // do nothing
                    } else {
                        $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                    }
                    $('#ddlclass').closest('.form-group').addClass('display-loader');
                    debugger;
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllClass",
                        data: { brdId: $('#ddlboard').val() },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var sta = "<select id='ddlclass'>";
                            sta = sta + '<option value="">All Class</option>';
                            for (var i = 0; i < data.length; i++) {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            sta = sta + '</select>';
                            $('#ddlclass').html(sta);
                            setTimeout(function () {
                                $('#ddlclass').closest('.form-group').removeClass('display-loader');
                            }, 800);
                        }
                    });
                }
            }
            $('#ddlboard').change(function () {
                GetClasses();
            });
            $('#ddlSchool').change(function () {
                GetClasses();
            });
            $('#ddlclass').change(function () {
                if ($('#ddlclass').val() != null && $('#ddlSchool').val() != null) {
                    $('#ddlclass').closest('.form-group').addClass('display-loader');
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllSection",
                        data: {
                            ClassId: $('#ddlclass').val(),
                            schoolid: $('#ddlSchool').val()
                        },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            console.log(JSON.stringify(data));

                            var sta = "<select>";
                            sta = sta + '<option value="">All</option>';
                            for (var i = 0; i < data.length; i++) {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            sta = sta + '</select>';
                            $('#ddlSection').html(sta);
                            setTimeout(function () {
                                $('#ddlclass').closest('.form-group').removeClass('display-loader');
                            }, 800);
                        }
                    });
                }
            });
            $('#ddlSection').change(function () {

                if ($('#ddlSection').val() != null && $('#ddlSchool').val() != null) {
                    $('#ddlSection').closest('.form-group').addClass('display-loader');
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllStudents",
                        data: { SectionId: $('#ddlSection').val(), schoolid: $('#ddlSchool').val() },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            console.log(JSON.stringify(data));

                            var sta = "<select>";
                            sta = sta + '<option value="">All</option>';
                            for (var i = 0; i < data.length; i++) {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            sta = sta + '</select>';
                            $('#ddlstudent').html(sta);
                            setTimeout(function () {
                                $('#ddlSection').closest('.form-group').removeClass('display-loader');
                            }, 800);
                        }
                    });
                }
            });
        });
    </script>
    @*   @if(ViewBag.classid != null)
                {<text>
                var statesAvailable = '@ViewBag.classid';
                var subid = '@ViewBag.subject_id';
                if (subid != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetAllClass",
                        data: { brdId: '@ViewBag.b_id' },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var sta = "<select id='ddlclass'>";
                            sta = sta + '<option value="">All Class</option>';
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Value == statesAvailable) {
                                    sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                else {
                                    sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                            }
                            sta = sta + '</select>';
                            $('#ddlclass').html(sta);
                            @if(ViewBag.classid != null)
                            {
                                <text>
                            $('#ddlclass').attr("disabled", "disabled");</text>
                            }
                        }
                    });
                }</text>
                }
            });

            </script>

            <script>
            $(document).ready(function () {
                $('#ddlclass').change(function () {

                    if ($('#ddlclass').val() != null && $('#ddlSchool').val() != null) {
                        $('#ddlclass').closest('.form-group').addClass('display-loader');
                        $.ajax({
                            type: "POST",
                            url: "/Admin/GetAllSection",
                            data: {
                                ClassId: $('#ddlclass').val(),
                                schoolid: $('#ddlSchool').val()
                            },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                console.log(JSON.stringify(data));

                                var sta = "<select>";
                                sta = sta + '<option value="">All</option>';
                                for (var i = 0; i < data.length; i++) {
                                    sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                sta = sta + '</select>';
                                $('#ddlSection').html(sta);
                                setTimeout(function () {
                                    $('#ddlclass').closest('.form-group').removeClass('display-loader');
                                }, 800);
                            }
                        });
                    }
                });


            });

            </script>

        <script>
            $(document).ready(function () {
                $('#ddlSection').change(function () {

                    if ($('#ddlSection').val() != null && $('#ddlSchool').val() != null) {
                        $('#ddlSection').closest('.form-group').addClass('display-loader');
                        $.ajax({
                            type: "POST",
                            url: "/Admin/GetAllStudents",
                            data: { SectionId: $('#ddlSection').val(), schoolid: $('#ddlSchool').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                console.log(JSON.stringify(data));

                                var sta = "<select>";
                                sta = sta + '<option value="">All</option>';
                                for (var i = 0; i < data.length; i++) {
                                    sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                sta = sta + '</select>';
                                $('#ddlstudent').html(sta);
                                setTimeout(function () {
                                    $('#ddlSection').closest('.form-group').removeClass('display-loader');
                                }, 800);
                            }
                        });
                    }
                });


            });

        </script>*@



}