﻿@model DigiChamps.Models.DigiChampsModel.DigiChampsTopicModel
@{
    ViewBag.Title = "Add Topic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddNewTopic", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        @if (ViewBag.pagetitle != null)
                            {
                                <h3><i class="fa fa-file"></i> @ViewBag.pagetitle Topics</h3>
                            }
                    </div>
                    <div class="box-content">
                        <form action="#" class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if(@ViewBag.bid_hid != null)
                                    {
                                        @(Html.DropDownListFor(x => x.Board_ID, ViewBag.board as SelectList, "Please Select Board", new { @class = "form-control", @id = "ddlboard", data_rule_required = "true", data_msg_required = "Please select board", disabled = "true" }))     
                                        @Html.HiddenFor(x => x.Board_ID)     
                                    @Html.HiddenFor(x => x.Board_ID, new { value = "@ViewBag.tbod" })                     
                                    }
                                    else 
                                    { 
                                        @(Html.DropDownListFor(x => x.Board_ID, ViewBag.board as SelectList, "Please Select Board", new { @class = "form-control", @id = "ddlboard", data_rule_required = "true", data_msg_required = "Please select board" }))                                  
                                        @Html.ValidationMessageFor(x => x.Board_ID)
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @(Html.DropDownListFor(x => x.Class_ID, new List<SelectListItem>(), "Please Select Class", new { @class = "form-control", @id = "ddlclass", data_rule_required = "true", data_msg_required = "Please select class" }))
                                    @Html.ValidationMessageFor(x => x.Class_ID)

                                    @if (ViewBag.classid!=null)
                                    {
                                       @Html.HiddenFor(x => x.Class_ID, new { value = "@ViewBag.classid" })       
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @(Html.DropDownListFor(x => x.Subject_ID, new List<SelectListItem>(), "Please Select Subject", new { @class = "form-control", @id = "ddlsubject", data_rule_required = "true", data_msg_required = "Please select subject" }))
                                    @Html.ValidationMessageFor(x => x.Subject_ID)

                                    @if (ViewBag.subid != null)
                                    {
                                        @Html.HiddenFor(x => x.Subject_ID, new { value = "@ViewBag.subid" })
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="hidden" id="topicid" name="topicid" value="@ViewBag.topicid" />
                                    @(Html.DropDownListFor(x => x.Chapter_Id, new List<SelectListItem>(), "Please Select Subject", new { @class = "form-control", @id ="ddlchapter", data_rule_required = "true", data_msg_required = "Please select subject" }))

                                    @if (ViewBag.chapterid != null)
                                    {
                                        @Html.HiddenFor(x => x.Chapter_Id, new { value = "@ViewBag.chapterid" })
                                    }
                                   
                                </div>
                            </div> 
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Topic<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="hidden" id="topicid" name="topicid" value="@ViewBag.topicid" />
                                    @if (ViewBag.topicnaem!=null)
                                    {
                                            @Html.TextBoxFor(m => m.Topic_Name, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Please enter topic", value ="@ViewBag.topicnaem", placeholder = "Please Enter Topic", data_rule_maxlength = "90" })
                                    }
                                    else
                                    {
                                         @Html.TextBoxFor(m => m.Topic_Name, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Please enter topic", value ="@ViewBag.topicnaem", placeholder = "Please Enter Topic", data_rule_maxlength = "90" })                                     
                                           @Html.ValidationMessageFor(x => x.Topic_Name)
                                    }
                                 
                                  
                                   
                                </div>
                            </div>                                                   
                            <div class="form-group">
                                <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Topic Description</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @Html.TextAreaFor(m => m.Topic_Desc, new { @class = "form-control", rows = "5" })
                                </div>
                            </div>                                                                                    

                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <a href="@Url.Action("Topics", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i><span>Back</span>  </a>
                                    <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

}


@section scripts
{
    <script>
        @if(ViewBag.classid != null)
        {
            <text>
            var hide = $("#topicid").val();
            if (hide != null) {
                var classavl = '@ViewBag.classid';
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllClass",
                    data: { brdId: $('#ddlboard').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "<select id='ddlclass'>";
                        sta = sta + '<option value="">Please Select Class</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == classavl) {
                                sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                        sta = sta + '</select>';
                        $('#ddlclass').html(sta);
                         @if (ViewBag.subid != null)
                        {
                            <text>
                        $('#ddlclass').attr('disabled', 'disabled')</text>
                        //$('#ddlclass').css('pointer-events', 'none');
                        
                        }
                    }
                });




                var subject = '@ViewBag.subid';
                var chapter = '@ViewBag.chapterid';
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllChapter",
                    data: { SubId: subject },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "<select id='ddlchapter'>";
                        sta = sta + '<option value="">Please Select Chapter</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == chapter) {
                                sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                        sta = sta + '</select>';
                        $('#ddlchapter').html(sta);
                         @if (ViewBag.subid != null)
                         {
                             <text>
                        $('#ddlchapter').attr('disabled', 'disabled')</text>
                             //$('#ddlclass').css('pointer-events', 'none');
                        
                         }
                    }
                });





                var subavl = '@ViewBag.subid';
                var classopt = '@ViewBag.classid';
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllSubject",
                    data: { ClsId: classopt },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta1 ='';
                        //var sta1 = "<select id='ddlsubject'>";
                        //sta1 = sta1 + '<option value="">Please Select Subject</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == subavl) {
                                sta1 = sta1 + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                        sta1 = sta1 + '</select>';
                        $('#ddlsubject').html(sta1);
                        @if (ViewBag.subid != null)
                        {
                        <text>
                        $('#ddlsubject').attr('disabled', 'disabled');</text>

                        //$('#ddlsubject').css('pointer-events', 'none');
                        }
                    }
                });
            }
        </text>
        }
            $('#ddlboard').change(function () {
                if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                    // do nothing
                } else {
                    $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                }
                $('#ddlclass').closest('.form-group').addClass('display-loader');
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllClass",
                    data: { brdId: $('#ddlboard').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "<select id='ddlclass'>";
                        sta = sta + '<option value="">Please Select Class</option>';
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        sta = sta + '</select>';
                        $('#ddlclass').html(sta);
                        setTimeout(function () {
                            $('#ddlclass').closest('.form-group').removeClass('display-loader');
                        }, 800);
                    }
                });
            });

            $('#ddlclass').change(function () {
                if ($('#ddlsubject').closest('.form-group').find('.ajax-loader').length) {
                    // do nothing
                } else {
                    $('#ddlsubject').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                }
                $('#ddlsubject').closest('.form-group').addClass('display-loader');
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllSubject",
                    data: { ClsId: $('#ddlclass').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta1 = "<select id='ddlsubject'>";
                        sta1 = sta1 + '<option value="">Please Select Subject</option>';
                        for (var i = 0; i < data.length; i++) {
                            sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        sta1 = sta1 + '</select>';
                        $('#ddlsubject').html(sta1);
                        setTimeout(function () {
                            $('#ddlsubject').closest('.form-group').removeClass('display-loader');
                        }, 800);
                    }
                });
            });



            $('#ddlsubject').change(function () {
                if ($('#ddlchapter').closest('.form-group').find('.ajax-loader').length) {
                    // do nothing
                } else {
                    $('#ddlchapter').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                }
                $('#ddlchapter').closest('.form-group').addClass('display-loader');
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllChapter",
                    data: { SubId: $('#ddlsubject').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta1 = "<select id='ddlchapter'>";
                        sta1 = sta1 + '<option value="">Please Select Chapter</option>';
                        for (var i = 0; i < data.length; i++) {
                            sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        sta1 = sta1 + '</select>';
                        $('#ddlchapter').html(sta1);
                        setTimeout(function () {
                            $('#ddlchapter').closest('.form-group').removeClass('display-loader');
                        }, 800);
                    }
                });
            });
    </script>
}


