﻿@model DigiChamps.Models.DigiChampsModel.DigichampsPreviousYearPaper
@{
    ViewBag.Title = "Add Previous Year Paper";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddPreviousYearPaper", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Add New</h3>
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">PDF Name<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.id != null)
                                {
                                <input type="text" name="txttitle" class="form-control" id="txttype" value="@ViewBag.PreviousYearPaper_PDFName" data-rule-required="true" data-msg-required="Please Enter PDF Title" />
                                }
                                else
                                {
                                    <input type="text" name="txttitle" class="form-control" id="txttype" data-rule-required="true" data-msg-required="Please Enter PDF Title" />
                                }

                            </div>
                        </div>   
                        <div class="form-group">
                            <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Upload PDF<span class="asterisk">*</span></label>
                            <div class="col-sm-6 col-lg-4 controls">
                                @Html.TextBoxFor(m => m.PDF_UploadPath, new { @class = "form-control", data_msg_required = "Please enter upload PDF" })
                                <input name="module_pdf" type="file" accept=".pdf" />
                            </div>
                            <div class="col-sm-3 col-lg-3 controls">
                                @if (ViewBag.modelcontent != null)
                                {
                                    <a id="~/Module/PDF/@ViewBag.modelcontent" class="pdfid" href="~/Module/PDF/@ViewBag.modelcontent" target="_blank"><img border="0" alt="Module PDF" src="~/Images/pdf5.png" width="30" height="30"></a>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.Board == null) //insert subject
                                    {
                                    @(Html.DropDownList("Board_Name", ViewBag.Board_Id as SelectList, "Please Select Board", new { @class = "form-control ", data_rule_required="true", data_msg_required = "Please select board" , @id = "ddlboard" }))
                                   
                                    }
                                    else
                                    {
                                    <select id='ddlboard' name="Board_Name" class="form-control" data-rule-required="true" data-msg-required="Please select board" disabled="disabled">
                                        <option value="">Please Select Board</option>
                                        @foreach (var v in ViewBag.Board)
                                            {
                                                if (ViewBag.b_id == v.Board_Id)
                                                {
                                                    <option value="@v.Board_Id" selected="selected">@v.Board_Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@v.Board_Id">@v.Board_Name</option>
                                                }
                                            }
                                    </select>
                                    
                                    }
                            </div>
                            <div class="col-sm-2">
                                <div class="ajax-loader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @(Html.DropDownListFor(x => x.Class_Id, new List<SelectListItem>(), "Please Select Class", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "Please select class", @id = "ddlclass" }))                                    @Html.ValidationMessageFor(x => x.Class_Id)
                            </div>
                        </div>
                        @*<div class="form-group">
        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board<span class="asterisk"></span></label>
        <div class="col-sm-9 col-lg-7 controls">
            @if (ViewBag.Boardname != null)
            {
                <select name="boardname" id="boardname" class="form-control chosen" data-rule-required="false" data-msg-required="Please select Board">
                    <option value="All">Please Select Board</option>
                    @foreach (var vb in ViewBag.BoardList)
                    {
                        if (ViewBag.Boardname == vb.Board_Name)
                        {
                            <option value="@vb.Board_Name" selected>@vb.Board_Name</option>
                        }
                        else
                        {
                            <option value="@vb.Board_Name">@vb.Board_Name</option>
                        }
                    }
                </select>
            }
            else
            {
                <select name="boardname" id="boardname" class="form-control chosen" data-rule-required="false" data-msg-required="Please select Board">
                    <option value="All">Please Select Board</option>
                    @foreach (var vb in ViewBag.BoardList)
                    {
                        if (ViewBag.Boardname == vb.Board_Id)
                        {
                            <option value="@vb.Board_Name" selected>@vb.Board_Name</option>
                        }
                        else
                        {
                            <option value="@vb.Board_Name">@vb.Board_Name</option>
                        }
                    }
                </select>
            }
        </div>
    </div>

    <div class="form-group">
        <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk"></span></label>
        <div class="col-sm-9 col-lg-7 controls">
            @if (ViewBag.Classname != null)
            {
            <select name="classname" id="classname" class="form-control chosen" data-rule-required="false" data-msg-required="Please select Class">
                <option value="All">Please Select Class</option>
                @foreach (var vb in ViewBag.ClassList)
                {
                    if (ViewBag.Classname == vb.Class_Name)
                    {
                        <option value="@vb.Class_Name" selected>@vb.Class_Name</option>
                    }
                    else
                    {
                        <option value="@vb.Class_Name">@vb.Class_Name</option>
                    }
                }
            </select>
            }
            else
            {
                <select name="classname" id="classname" class="form-control chosen" data-rule-required="false" data-msg-required="Please select Class">
                    <option value="All">Please Select Class</option>
                    @foreach (var vb in ViewBag.ClassList)
                    {
                        if (ViewBag.Classname == vb.Class_Id)
                        {
                            <option value="@vb.Class_Name" selected>@vb.Class_Name</option>
                        }
                        else
                        {
                            <option value="@vb.Class_Name">@vb.Class_Name</option>
                        }
                    }
                </select>
            }
        </div>

        @*<label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class Name<span class="asterisk">*</span></label>
        <div class="col-sm-9 col-lg-7 controls">
            @if (ViewBag.id != null)
            {
                <input type="text" name="classname" class="form-control" id="txttype" value="@ViewBag.ClassName" data-rule-required="true" data-msg-required="Please Enter Class Name" />
            }
            else
            {
                <input type="text" name="classname" class="form-control" id="txttype" />
            }

        </div>
    </div>*@
                        @*<div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Description<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.id != null)
                                {
                                    <input type="text" name="txtdesc" class="form-control" id="txttype" value="@ViewBag.description" data-rule-required="true" data-msg-required="Please Enter Image Title" />
                                }
                                else
                                {
                                    <input type="text" name="txtdesc" class="form-control" id="txttype" />
                                }
                            </div>
                        </div>*@
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewPreviousYearPaper", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span> Back</span>  </a>
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#ddlboard').change(function () {
                if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
                    // do nothing
                } else {
                    $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
                }
                $('#ddlclass').closest('.form-group').addClass('display-loader');
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllClass",
                    data: { brdId: $('#ddlboard').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "<select id='ddlclass'>";
                        sta = sta + '<option value="">Please Select Class</option>';
                        for (var i = 0; i < data.length; i++) {
                            sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        sta = sta + '</select>';
                        $('#ddlclass').html(sta);
                        setTimeout(function () {
                            $('#ddlclass').closest('.form-group').removeClass('display-loader');
                        }, 800);
                    }
                });
            });

            @if(ViewBag.classid != null)
        {<text>
            var statesAvailable = '@ViewBag.classid';
            var subid = '@ViewBag.subject_id';
            if (subid != null) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetAllClass",
                    data: { brdId: '@ViewBag.b_id' },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var sta = "<select id='ddlclass'>";
                        sta = sta + '<option value="">Please Select Class</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value == statesAvailable) {
                                sta = sta + '<option selected="selected" value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            else {
                                sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                        }
                        sta = sta + '</select>';
                        $('#ddlclass').html(sta);
                        @if(ViewBag.classid != null)
                    {
                        <text>
                        $('#ddlclass').attr("disabled", "disabled");</text>
                    }
                    }
                });
            }</text>
        }
        });

    </script>
}
