﻿@{
    ViewBag.Title = "AddPdffiles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model DigiChamps.Controllers.AdminController.PDF_Class
<style>
    .input-validation-error {
        border-color: #b94a48;
    }

    .field-validation-error {
        display: block;
        font-size: 11px;
        font-weight: 700;
        color: #C62626;
    }
</style>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3>
                        <i class="fa fa-file"></i>
                        Add PDF Files

                    </h3>
                </div>
                @using (Html.BeginForm("AddPdf_fileDetail", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="box-content">                            
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3  control-label">Upload PDF Files<span class="asterisk">*</span></label>
                                    <div class="col-sm-9  controls">
                                        @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                                        @Html.ValidationMessageFor(model => model.files)
                                    </div>
                                </div>

                                <div class="form-group last box-tooll">
                                    <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                        <a href="@Url.Action("PDFLink", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Back</span> </a>
                                        <button id="btnAddSchool" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                }
            </div>
        </div>
    </div>
</div>
