﻿@*@model DigiChamps.Models.DigiChampsModel.DigichampsPsychometric*@
@model DigiChamps.Models.DigiChampsModel.DigichampsPsychometricQuestions
@{
    ViewBag.Title = "AddPsychometricQuestion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        width: 100%;
        max-width: 40%;
        height: auto;
    }
</style>

@using (Html.BeginForm("AddPsychometricQuestion", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Add New</h3>
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Question<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <textarea name="Quest_" class="form-control" placeholder="Enter Your Question" rows="4" data-rule-required="true" data-rule-minlength="5" data-msg-required="Please enter question"></textarea>
                                
                             </div>
                        </div>
                        <div id="test">
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Image Upload<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls file-new">
                                    <input type="file" accept=".png, .jpg, .jpeg" name="uploadFile" id="uploadFile" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-2 controls"></div>
                            <div class="col-sm-9 col-lg-7 col-md-7 col-xs-12 controls">
                                @if (ViewBag.image != null)
                                {
                                <img src="~/Images/banner/@ViewBag.image" id="img_" class="img-responsive" />
                                }
                                else
                                {
                                <img src="~/Images/Banner/No_image_available.png" id="img_" class="img-responsive" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Question Description</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <textarea class="form-control" name="Quest_desc" placeholder="Enter Question Description" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Type<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.PsychometricType == null) //insert subject
                                {
                                @(Html.DropDownList("PsychometricType_Id", ViewBag.PsychometricType_Id as SelectList, "All Type", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "All Type", @id = "ddltype" }))
                                }
                                else
                                {
                                <select id='ddltype' name="PsychometricType_Name" class="form-control" data-rule-required="true" data-msg-required="All Type">
                                    <option value="">All Type</option>
                                    @foreach (var v in ViewBag.PsychometricType)
                                        {
                                            if (ViewBag.n_id == v.PsychometricType_Id)
                                            {
                                        <option value="@v.PsychometricType_Id" selected="selected">@v.PsychometricType_Name</option>
                                            }
                                            else
                                            {
                                        <option value="@v.PsychometricType_Id">@v.PsychometricType_Name</option>
                                            }
                                        }
                                </select>

                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Sub Type<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.PsychometricType == null) //insert subject
                                {
                                    @(Html.DropDownList("PsychometricSubType_Id", ViewBag.PsychometricSubType_Id as SelectList, "All Sub Type", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "All Sub Type", @id = "ddlSubType" }))
                                }
                                else
                                {
                                    <select id='ddltype' name="PsychometricSubType_Name" class="form-control" data-rule-required="true" data-msg-required="All Sub Type">
                                        <option value="">All Type</option>
                                        @foreach (var v in ViewBag.PsychometricSubType)
                                        {
                                            if (ViewBag.n_id == v.PsychometricSubType_Id)
                                            {
                                                <option value="@v.PsychometricSubType_Id" selected="selected">@v.PsychometricSubType_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.PsychometricSubType_Id">@v.PsychometricSubType_Name</option>
                                            }
                                        }
                                    </select>

                                }
                            </div>
                        </div>
                            <div class="box">
                                <div class="box-title">
                                    <h3><i class="fa fa-file"></i>Question Options</h3>
                                </div>

                                <div class="box-content">
                                    <div class="answer-box voffset3">
                                        <div class="form-group grp">
                                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label option">Option #1</label>
                                            <div class="col-sm-7 col-lg-7 controls">
                                                <textarea name="answernew" class="form-control" placeholder="Answer Option" rows="3"></textarea>

                                                @*Option image if required*@
                                                <div class="fileupload fileupload-new voffset3" data-provides="fileupload">
                                                    <div class="fileupload-new img-thumbnail" style="">
                                                        <img class="optimg" src="~/img/not_avail.jpg" alt="" />
                                                    </div>
                                                    <div class="fileupload-preview fileupload-exists img-thumbnail" style="line-height: 20px;"></div>
                                                    <div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-new">Select image</span>
                                                            <span class="fileupload-exists">Change</span>
                                                            <input name="optn_img" type="file" class="file-input img_prvw">
                                                        </span>
                                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-2 col-lg-3 controls">
                                                <label class="check-box">
                                                    <input type="checkbox" name="chk_ans" class="is_answer" value=""><span> Is correct answer?</span>
                                                </label>
                                                <div class="clearfix"></div>
                                                <a type="button" value="Add New" name="submit" class="btn btn-sm btn-success voffset2 addnew">
                                                    <i class="fa fa-plus"></i> Add New
                                                </a>
                                                <a type="button" class="btn btn-danger btn-sm  voffset2 delete"><i class="fa fa-trash-o"></i> Delete</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="option-box">
                                                <div class="form-group">
                                                    <label for="textarea5" class="col-sm-3 col-lg-2 control-label">Answer Description</label><div class="col-sm-9 col-lg-7 controls">
                                                        <textarea name="des_text" class="form-control" placeholder="Enter Answer Description" rows="4"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 col-lg-2 control-label">Answer Desc. Image</label>
                                                    <div class="col-sm-9 col-lg-7 controls">
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new img-thumbnail">
                                                                <img class="optimg" src="../img/not_avail.jpg" alt="no_image">
                                                            </div>
                                                            <div class="fileupload-preview fileupload-exists img-thumbnail" style=" line-height: 20px;"></div>
                                                            <div>
                                                                <span class="btn btn-default btn-file">
                                                                    <span class="fileupload-new">Select image</span>
                                                                    <span class="fileupload-exists">Change</span>
                                                                    <input name="ans_img" id="ans_img" type="file" class="img_prvw">
                                                                </span>
                                                                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <a href="@Url.Action("ViewPsychometricQuestionBank", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span> Back</span>  </a>
                                    <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>

}
@section scripts
{
    <script type="text/javascript">
        var _URL = window.URL || window.webkitURL;
        $("#fileupload").change(function (e) {
            var file, img;
            debugger;
            if ((file = this.files[0])) {
                var param = $(this);
                img = new Image();
                img.onload = function () {
                    var realWidth = this.width;
                    var realHeight = this.height;
                    //if (realWidth != 1400 && realHeight != 450) {
                    //    alert("Please select image of mentioned dimension.");
                    //    $("#fileupload").val("");
                    //    $('#img_').attr('src', "/Images/Banner/No_image_available.png");
                    //}
                }
                img.onerror = function () {
                    alert("not a valid file: " + file.type);
                };
                img.src = _URL.createObjectURL(file);
                $('#img_').attr('src', img.src);
            };
        });
       </script>
<script src="~/js/croppie.min.js"></script>
<script src="~/js/exif.js"></script>
<script>
    function readURL1(input, this2) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                this2.parents('.fileupload').find(".optimg").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(".answer-box").on("change", '.img_prvw', function () {
        readURL1(this, $(this));
    });
    var A = $("#imageloadstatus");

    //************************************** JavaScript for cropping of image *****************************************
    $(".trigger_upload").on('click', function () {
        $("#upload").trigger('click');
        setTimeout(function () {
            $('#modal_3').modal('show');
            $("#myModalLabel2").text("Crop Image");
        }, 1700);
    });
    $('#upload').on('change', function () {
        readFile(this);
        var filename = $(this).val();
        var res = filename.substr(12, 200);
        $(".uneditable-input span").text(res);
    });
    function output(node) {
        var existing = $('#result .croppie-result');
        if (existing.length > 0) {
            existing[0].parentNode.replaceChild(node, existing[0]);
        }
        else {
            $('#result')[0].appendChild(node);
        }
    }

    var $uploadCrop;
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.upload-demo').addClass('ready');
                $uploadCrop.croppie('bind', {
                    url: e.target.result
                }).then(function () {
                    console.log('Image Bind complete');
                });
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            alert("Please select crop area.");
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: {
            width: 551,
            height: 350,
            type: 'square'
        },
        enableExif: true
    });

    $('.upload-result').on('click', function (ev) {
        debugger;
        $uploadCrop.croppie('result', {
            type: 'canvas',
            size: 'viewport'
        }).then(function (resp) {
            readURL(resp);
            A.hide(1200);
        });
    });
    //************************************** JavaScript for ajax file upload END **************************************

    var i = 1;
    //add div when checked
    $(".option-box").hide();
    $('body').on("change", '.is_answer', function () {
        if ($(this).is(":checked")) {
            $(this).parents('.form-group').find(".option-box").show(1200);
            $(this).parents('.form-group').addClass('show_add');
        }
        else {
            $(this).parents('.form-group').find(".option-box").hide(700);
            $(this).parents('.form-group').removeClass('show_add');
        }
    });
    var chkbox = "";
    var answerbox = $('.answer-box').html();
    $(document).on('click', '.addnew', function () {
        if ($('.answer-box .is_answer').length <= 5) {
            $('.answer-box').append(answerbox);

            setTimeout(function () {

                $('.answer-box').find('.grp').each(function () {
                    var num = $('.grp').index($(this));

                    var number = num + 1;
                    $('.answer-box .grp:nth-child(' + number + ')').find('.option').text("Option #" + number);
                    $('.answer-box .grp:nth-child(' + number + ')').find('.is_answer').val(number);

                });
            }, 1200);
        }
    });

    $(document).on('click', '.delete', function () {
        $(this).closest('.form-group').remove();
        var ans = 1;
        $('.answer-box').find('.option').each(function () {
            $('.answer-box .grp:nth-child(' + ans + ')').find('.option').text("Option #" + ans);
            $('.answer-box .grp:nth-child(' + ans + ')').find('.is_answer').val(ans);
            ans = ans + 1;
        });
    });

    //Dropdownlist Casceding
    $('#ddlboard').change(function () {
        if ($('#ddlclass').closest('.form-group').find('.ajax-loader').length) {
            // do nothing
        } else {
            $('#ddlclass').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
        }
        $('#ddlclass').closest('.form-group').addClass('display-loader');
        $.ajax({
            type: "POST",
            url: "/Admin/GetAllClass",
            data: { brdId: $('#ddlboard').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var sta = sta + '<option value="">Please Select Class</option>';
                for (var i = 0; i < data.length; i++) {
                    sta = sta + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                $('#ddlclass').html(sta);
                setTimeout(function () {
                    $('#ddlclass').closest('.form-group').removeClass('display-loader');
                }, 800);
            }
        });
    });
    $('#ddlclass').change(function () {
        if ($('#ddlsubject').closest('.form-group').find('.ajax-loader').length) {
            // do nothing
        } else {
            $('#ddlsubject').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
        }
        $('#ddlsubject').closest('.form-group').addClass('display-loader');
        $.ajax({
            type: "POST",
            url: "/Admin/GetAllSubject",
            data: { ClsId: $('#ddlclass').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var sta1 = sta1 + '<option value="">Please Select Subject</option>';
                for (var i = 0; i < data.length; i++) {
                    sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                $('#ddlsubject').html(sta1);
                setTimeout(function () {
                    $('#ddlsubject').closest('.form-group').removeClass('display-loader');
                }, 800);
            }
        });
    });
    $('#ddlsubject').change(function () {
        if ($('#ddlchapter').closest('.form-group').find('.ajax-loader').length) {
            // do nothing
        } else {
            $('#ddlchapter').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
        }
        $('#ddlchapter').closest('.form-group').addClass('display-loader');
        $.ajax({
            type: "POST",
            url: "/Admin/GetAllChapter",
            data: { SubId: $('#ddlsubject').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var sta1 = sta1 + '<option value="">Please Select Chapter</option>';
                for (var i = 0; i < data.length; i++) {
                    sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                $('#ddlchapter').html(sta1);
                setTimeout(function () {
                    $('#ddlchapter').closest('.form-group').removeClass('display-loader');
                }, 800);
            }
        });

    });

    $('#ddlchapter').change(function () {
        if ($('#ddltopic').closest('.form-group').find('.ajax-loader').length) {
            // do nothing
        } else {
            $('#ddltopic').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
        }
        $('#ddltopic').closest('.form-group').addClass('display-loader');
        $.ajax({
            type: "POST",
            url: "/Admin/GetAllTopic",
            data: { SubId: $('#ddlchapter').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var sta1 = sta1 + '<option value="">Please Select Topic</option>';
                for (var i = 0; i < data.length; i++) {
                    sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                $('#ddltopic').html(sta1);
                setTimeout(function () {
                    $('#ddltopic').closest('.form-group').removeClass('display-loader');
                }, 800);
            }
        });

    });

    $("#btnSearch").click(function () {
        if ($('form').valid()) {
            if (!$("input[name='chk_ans']:checked").val()) {
                $("#modal_3 .modal-body").html("<p>Please select at least one answer.</p>");
                $("#modal_3 .modal-footer button").text("Ok");
                $("#modal_3 #myModalLabel2").html("<i class='fa fa-exclamation-triangle'></i> Warning");
                $("#modal_3").modal("show");
                return false;
            }
        }
    });

    $("#img_tbl").on("click", ".deleterow", function () {
        $(this).closest("tr").remove();
    });
    var ch = "Z";
    function nextLetter(s) {
        return s.replace(/([a-zA-Z])[^a-zA-Z]*$/, function (a) {
            var c = a.charCodeAt(0);
            switch (c) {
                case 90: return 'A';
                case 122: return 'a';
                default: return String.fromCharCode(++c);
            }
        });
    }
    function readURL(pathto_save) {
        A.show();
        debugger
        var data = "<tr><td><input name='Qphotos' type='hidden' value=" + pathto_save + " />" + nextLetter(ch) + "<td><td><img src='" + pathto_save + "'/></td>" +
            "<td><span class='btn btn-sm btn-danger deleterow' title='DELETE'><i class='fa fa-trash-o'></i></span></td></tr>";
        $('#img_body').append(data);
        $("#img_tbl").show();
        ch = nextLetter(ch);
    }
</script>
<script src="~/js/DC_Imagecrop.js"></script>
}
