﻿@model DigiChamps.Models.DigiChampsModel.DigichampsPsychometric
@{
    ViewBag.Title = "AddType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddType", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
{
    @Html.AntiForgeryToken();
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active"> @ViewBag.pagetitle @ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Add New</h3>
                    </div>
                    <input type="hidden" id="hid" name="hid" value="@ViewBag.id" />
                    <div class="box-content">

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Sub Name<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.id != null)
                                {
                                    <input type="text" name="txttype" class="form-control" id="txttype" value="@ViewBag.txttype" data-rule-required="true" data-msg-required="Please Enter Image Title" />
                                }
                                else
                                {
                                    <input type="text" name="txttype" class="form-control" id="txttype" />
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Type<span class="asterisk">*</span></label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.PsychometricType == null) //insert subject
                                {
                                    @(Html.DropDownList("PsychometricType_Name", ViewBag.PsychometricType_Id as SelectList, "All Type", new { @class = "form-control ", data_rule_required = "true", data_msg_required = "All Type", @id = "ddltype" }))

                                }
                                else
                                {
                                    <select id='ddltype' name="PsychometricType_Name" class="form-control" data-rule-required="true" data-msg-required="All Type">
                                        <option value="">All Type</option>
                                        @foreach (var v in ViewBag.PsychometricType)
                                        {
                                            if (ViewBag.n_id == v.PsychometricType_Id)
                                            {
                                                <option value="@v.PsychometricType_Id" selected="selected">@v.PsychometricType_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@v.PsychometricType_Id">@v.PsychometricType_Name</option>
                                            }
                                        }
                                    </select>

                                }
                            </div>
                        </div>
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewPsychometricType", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span> Back</span>  </a>
                                <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

}
