﻿@{
    ViewBag.Title = "Assign_Mentor_List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">

                    <h3><i class="fa fa-file-text"></i>Assign Mentor Details</h3>
                    <div class="box-tool box-tooll">
                        <a href="/Admin/Assign_Mentor" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Assign Mentor</span></a>
                    </div>
                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Student Name</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Mobile</th>
                                    <th>Subject Category</th>
                                    <th>Assign Teacher</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{   int i = 1;
                                }
                                @if (ViewBag.Assignmentordata != null)
                                {
                                    foreach (var b in ViewBag.Assignmentordata)
                                    {
                                        <tr id="smt">
                                            <td><label>@Html.Raw(i++)</label></td>

                                            <td>@b.Customer_Name</td>
                                            <td>@b.Board_Name</td>
                                            <td>@b.Class_Name</td>
                                            <td>@b.Mobile</td>
                                            <td>@b.Category_Name</td>
                                            <td>@b.Teacher_Name</td>
                                            <th></th>
                                        </tr>
                                    }
                                }
                            </tbody>


                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
