﻿@{
    ViewBag.Title = "Assign_SchoolZone";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/assets/jquery-tags-input/jquery.tagsinput.css" rel="stylesheet" />
@*<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        GetPackage();
        $('#btnsubmit').click(function () {
            if ($('#Mobile_Name').val() == '') {
                alert('Please enter Mobile Number');
                $('#Mobile_Name').focus();
                return false;
            }
            if ($('#Package_Name').val() == '0') {
                alert('Please Select Package Name');
                $('#Package_Name').focus();
                return false;
            }
            if ($('#School_Name').val() == '') {
                alert('Please Enter School Id');
                $('#School_Name').focus();
                return false;
            }
            if ($('#Section_Name').val() == '') {
                alert('Please Enter Section Id');
                $('#Section_Name').focus();
                return false;
            }
            $.get("/Admin/Addschoolzone?m=" + $('#Mobile_Name').val() + "&p=" + $('#Package_Name').val() + "&s=" + $('#School_Name').val() + "&se=" + $('#Section_Name').val(), "", function (data) {
                if (data == 1) {                
                    $('#Mobile_Name').val('');
                    $('#Package_Name').val('0');
                    $('#School_Name').val('');
                    $('#Section_Name').val('');
                    alert("Saved Successfully");
                }
                if(data==0) {
                    alert('Something went wrong, try again.');
                }
                if(data==2)
                {
                    alert("Not Registered....");
                }
            })
        })
        function GetPackage() {
            $.get("/Admin/GetPackages", "", function (data) {
                $('#Package_Name').empty();
                if (data.length > 0) {
                    $('#Package_Name').append('<option value="0">Select Package</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#Package_Name').append('<option value=' + data[i].Package_ID + '>' + data[i].Package_Name + '</option>');
                    }
                }
                else {
                    $('#Package_Name').append('<option value="0">No Packages</option>');
                }
            })
        }
    })
    function isNumberKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 47 && charCode < 58)
            return true;
        return false;
    }
</script>


<div id="validation-form" class="form-horizontal">
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-file"></i>Assign School Zone
                        </h3>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="Mobile_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Mobile Number <span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <input type="text" placeholder="Please Enter Mobile Number" maxlength="12" id="Mobile_Name" name="Mobile_Name" onkeypress="return isNumberKey(event)" class="form-control" data-rule-required="true" data-msg-required="Please enter mobile number" />
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                    <ul><li style="display:none"></li></ul>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label for="Package_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Mobile Number <span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <select id="Package_Name" name="Package_Name" class="form-control" data-rule-required="true" data-msg-required="Please enter package name"></select>
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                    <ul><li style="display:none"></li></ul>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label for="School_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">School Name <span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <input type="text" placeholder="Please Enter School Id" id="School_Name" name="School_Name" class="form-control" data-rule-required="true" data-msg-required="Please enter school Id" />
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                    <ul><li style="display:none"></li></ul>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label for="Section_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Section Name <span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <input type="text" placeholder="Please Enter Section Id" id="Section_Name" name="Section_Name" class="form-control" data-rule-required="true" data-msg-required="Please enter Section Id" />
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                    <ul><li style="display:none"></li></ul>
                                </div>*@
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="form-group text-center">
                            <button id="btnsubmit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>