﻿@model DigiChamps.Models.DigiChampsModel.DigiChampsChapterModel
@{
    ViewBag.Title = "Chapter Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="page-content-wrap">
        <div class="page-title">
            <div>
                <h1>
                    <i class="fa fa-graduation-cap"></i> Academic
                    <div class="btn-toolbar pull-right">
                        <div class="box-tool">
                            <a class="btn btn-primary show-tooltip" href="/Admin/BoardMaster" data-toggle="tooltip" data-placement="top" title="Board"><span>B</span></a>
                            <a class="btn btn-primary show-tooltip" href="/Admin/ClassMaster" data-toggle="tooltip" data-placement="top" title="Class" data-original-title="Class"><span>C</span></a>
                            <a class="btn btn-primary show-tooltip" href="/Admin/SubjectMaster" data-toggle="tooltip" data-placement="top" title="Subject"><span>S</span></a>
                            @*<a class="btn btn-primary" href="/Admin/ChapterMaster"><span class="shock-edu-essay show-tooltip" data-toggle="tooltip" data-placement="top" title="Chapter"></span></a>*@
                            <a class="btn btn-primary show-tooltip" href="/Admin/Topics" data-toggle="tooltip" data-placement="top" title="Topics"><span>T</span></a>
                            <a class="btn btn-primary show-tooltip" href="/Admin/CentreMaster" data-toggle="tooltip" data-placement="top" title="Centre"><span>C</span></a>
                            <a class="btn btn-primary show-tooltip" href="/Admin/BatchMaster" data-toggle="tooltip" data-placement="top" title="Batch"><span>B</span></a>
                            <a class="btn btn-primary show-tooltip" href="/Admin/TeacherBatchAssign" data-toggle="tooltip" data-placement="top" title="Assign Batch"><span>A</span></a>
                            <a class="btn btn-primary show-tooltip" href="/Admin/Power" data-toggle="tooltip" data-placement="top" title="Power"><span>P</span></a>
                            <a class="btn btn-primary show-tooltip" href="/Admin/percentage" data-toggle="tooltip" data-placement="top" title="Percentage Entry" data-original-title="Percentage Entry"><span>P</span></a>

                        </div>
                    </div>
                </h1>

            </div>
        </div>
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="box">


                    <div class="box-title">

                        <h3><i class="fa fa-file-text"></i>Chapter Details</h3>
                        <div class="box-tool box-tooll">
                            @*<a href="@Url.Action("BoardMaster", "Admin")" class="btn btn-inverse dropdown-toggle"><i class="fa fa-caret-left"></i> Back </a>*@
                            <a href="/Admin/AddChapter" class="btn btn-primary"><i class="fa fa-plus"></i><span>Add New</span> </a>
                        </div>
                    </div>
                    <div class="box-content">

                        <div class="table-responsive voffset3">
                            <table class="table table-advance" id="table1">

                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th hidden="hidden">Id</th>
                                        <th>Board</th>
                                        <th>Class</th>
                                        <th>Subject</th>
                                        <th>Chapter</th>
                                        <th>Image</th>
                                        <th style="width: 10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.chapterdata != null)
                                    {
                                        int rowNo = 0;
                                        foreach (var item in ViewBag.chapterdata)
                                        {
                                            <tr>
                                                <td>@(rowNo += 1)</td>
                                                <td hidden="hidden">@item.Chapter_Id</td>
                                                <td>@item.Board_Name</td>
                                                <td>@item.Class_Name</td>
                                                <td>@item.Subject</td>
                                                <td>@item.Chapter</td>
                                                <td><img src="~/Images/Chapter/@item.ChapterImage" height="100" width="170" /></td>
                                                <td>

                                                    @Html.ActionLink(" ", "EditChapter", "Admin", new { id = @item.Chapter_Id }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })

                                                    @Html.ActionLink(" ", "DeleteChapter", "Admin", new { id = @item.Chapter_Id }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the chapter?')", @data_original_title = "Delete", @title = "Delete" })

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
