﻿@{
    ViewBag.Title = "Coin_Encash";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Coin Encash List</h3>
                    <div class="box-tool box-tooll">
                            <a class="btn btn-primary" href="/Admin/Excelforencash"><i class="fa fa-plus"></i><span> Excel</span></a>
                        </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Student</th>
                                    <th>Mobile</th>
                                    <th>Coins </th>
                                    <th>Gift</th>
                                    <th>Encashed On</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.GetCoinencash != null)
                                {
                                    int i = 0;
                                    var g=ViewBag.GetCoinencash as List<DigiChamps.Controllers.AdminController.Coin_Encash_Class>;
                                    foreach (var data in g)
                                    {
                                        <tr>
                                            <td>@(i += 1)</td>
                                            <td>@data.Customer_Name</td>
                                            <td>@data.mobile</td>
                                            <td>@data.Coins</td>
                                            <td>@data.Title</td>
                                            <td>@data.insertedDate</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>