﻿@model DigiChamps.Models.tbl_DC_Question_Answer
@{
    ViewBag.Title = "Correct_Answer_Description";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Qwestion Answers</h2>
<div>

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li>
                <i class="fa fa-question-circle"></i>
                <a href="~/Admin/QuestionBank">Questins</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    @*Start answer box design*@
    <div>
        <div class="box-title">
            <h3>Answers:</h3>
            <div class="box-tool box-tooll">

            </div>
        </div>

        <div class="box-content">
            <div class="panel panel-default">
                <div class="panel-body">

                    @Html.Raw(@Model.Answer_desc)

                </div>
            </div>
        </div>
    </div>
    @*End answer box design*@
</div>
