﻿@{
    ViewBag.Title = "CreateOrEditschooluser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div id="validation-form" class="form-horizontal">
    <input type="hidden" id="hdnid" value="@ViewBag.schooluserid" />
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> CreateExam</h3>
                </div>
                <div class="box-content">
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Select School<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <select class="form-control" id="ddlSchool"></select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Enter First Name<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <input type="text" id="UserFirstname" placeholder="Plaese Enter First Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Enter Last Name<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <input type="text" id="UserLastname" placeholder="Please Enter Last Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Enter Email Id<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <input type="text" id="UserEmailAddress" placeholder="Please Enter Email Id" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Enter User Name<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <input type="text" id="UserName" placeholder="Please Enter User Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Enter User Password<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <input type="text" id="UserPassword" placeholder="Please Enter Password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Enter User Phone No</label>
                        <div class="col-sm-9  controls">
                            <input type="text" id="UserPhoneNumber" placeholder="Please Enter Phone Number" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield5" class="col-sm-3  control-label">Enter User Role<span class="asterisk">*</span></label>
                        <div class="col-sm-9  controls">
                            <input type="text" id="UserRole" placeholder="Please Enter Role" class="form-control" />

                        </div>
                    </div>
                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                            <a href="@Url.Action("School_Users", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Back</span> </a>
                            <button id="btnaddExam" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetSchoolListDropDown();
        Getschooluser();
        function GetSchoolListDropDown() {
            $.get('/Admin/GetSchoolListDropDown', function (data) {
                if (data.length > 0) {
                    $('#ddlSchool').empty();
                    var s = "<option value='0'>Please Select School</option>";

                    for (var i = 0; i < data.length; i++) {
                        s += "<option value='" + data[i].SchoolId + "'>" + data[i].SchoolName + "</option>";
                    }
                    $('#ddlSchool').append(s);
                }
            })
        }
        function Getschooluser() {
            if ($('#hdnid').val() != '') {
                $.get('/Admin/Getschooluser?id=' + $('#hdnid').val(), function (data) {
                    $('#ddlSchool').val(data.SchoolId);
                    $('#UserFirstname').val(data.UserFirstname);
                    $('#UserLastname').val(data.UserLastname);
                    $('#UserEmailAddress').val(data.UserEmailAddress);
                    $('#UserName').val(data.UserName);
                    $('#UserPassword').val(data.UserPassword);
                    $('#UserPhoneNumber').val(data.UserPhoneNumber);
                    $('#UserRole').val(data.UserRole);
                })
            }
        }
        $('#btnaddExam').click(function () {
            if ($('#ddlSchool').val() == '0') {
                alert('Select School Id');
                $('#ddlSchool').focus();
                return false;
            }
            if ($('#UserFirstname').val() == '') {
                alert('Enter First Name');
                $('#UserFirstname').focus();
                return false;
            }
            if ($('#UserLastname').val() == '') {
                alert('Enter Last Name');
                $('#UserLastname').focus();
                return false;
            }
            if ($('#UserEmailAddress').val() == '') {
                alert('Enter Email Id');
                $('#UserEmailAddress').focus();
                return false;
            }
            if ($('#UserName').val() == '') {
                alert('Enter User Name');
                $('#UserName').focus();
                return false;
            }
            if ($('#UserPassword').val() == '') {
                alert('Enter User Password');
                $('#UserPassword').focus();
                return false;
            }
            if ($('#UserRole').val() == '') {
                alert('Enter User Role');
                $('#UserRole').focus();
                return false;
            }
            debugger;

            $.post('/Admin/CreateSchoolUser', {
                userid: $('#hdnid').val(),
                SchoolId: $('#ddlSchool').val(), UserFirstname: $('#UserFirstname').val(), UserLastname: $('#UserLastname').val(),
                UserEmailAddress: $('#UserEmailAddress').val(), UserName: $('#UserName').val(), UserPassword: $('#UserPassword').val(),
                UserPhoneNumber: $('#UserPhoneNumber').val(), UserRole: $('#UserRole').val()
            }, function () {
                window.location = '../School_Users';
            })
        })
    })
</script>
