﻿@{
    ViewBag.Title = "EditQuestionBank";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model DigiChamps.Models.QuestionBankModel


<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <a href="~/Admin/QuestionBankList">Question Bank List</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>

        <li class="active">Edit Worksheet</li>



    </ul>
</div>
<div class="form-horizontal" id="validation-form">
    <form action="EditQuestionBank" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Edit Worksheet</h3>
                        <div class="box-tool box-tooll">
                        </div>
                    </div>
                    @*@if ((TempData["Message"]).ToString()!="")
                            {
                        <div class="alert alert-dismissable alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            @TempData["Message"]
                        </div>
                         }*@
                    <div class="box-content">

                        <div class="row">
                            <input id="" name="QuestionBank_Id" type="hidden" value="@ViewBag.QuestionBankDetails.QuestionBank_Id" readonly class="form-control" />
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">School<span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <select id="ddlschool" name="school" class="form-control"></select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">Board <span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <select id="ddlboard" name="board" class="form-control"></select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">Class <span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <select id="ddlclass" name="cls" class="form-control"></select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">Section <span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <select id="ddlsection" name="sec" class="form-control"></select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">Subject <span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <select id="ddlsubject" name="subject" class="form-control"></select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">Chapter <span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <select id="ddlchapter" name="Chapter" class="form-control"></select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">Multiple Upload File <span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <input type="file" id="Files" multiple name="Files" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <a id="@ViewBag.attachment" title="View Pdf" class="qstnpdf" href="#"><img border="0" alt="View Pdf" src="~/Images/pdf5.png" width="30" height="30"></a>

                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2" style="text-align:right">Total Mark<span style="color:red;"> *</span></div>
                                <div class="col-md-4">
                                    <input type="text" name="Total_Mark" value="@ViewBag.QuestionBankDetails.Total_Mark" class="form-control" required="required" />

                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>


                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <object width="100%" height="500px" id="pdfview" data="#"></object>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        $(".qstnpdf").on('click', function (event) {
            alert("1");
            debugger;
            var href = $(this).attr("id");
            $('#pdfview').attr('data', href);
            $('#myModal3').modal('show');
        });
    });


</script>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
         var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
         var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';


        GetSchool();
        GetBoard();
        GetClass(boardid);
        GetSection(classid,schoolid);
        GetSubject(classid);
        GetChapter(subjectid);


        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })

          $('#ddlclass').change(function () {
            $('#ddlsection').empty();
            $('#ddlsubject').empty();
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
        })


        $('#ddlsection').change(function () {
            GetSubject($('#ddlclass').val());
         })
         $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
        })


         //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/SchoolReport/GetSchool", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected value="">Select School</option>');

                    for (var i = 0; i < data.length; i++) {
                       $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                      $('#ddlschool').append('<option selected value="">Select School</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected  value="">Select Board</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                      $('#ddlboard').append('<option selected  value="">Select Board</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected  value="">Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                             $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option  value="">Select Class</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, schoolid) {
            debugger;
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
              $.get("/SchoolReport/GetSection?id=" + id + "&schoolid=" + schoolid, function (data) {
                    debugger;
                    $('#ddlsection').append('<option  value="">Select Section</option>');
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected  value="">Select Section</option>');
                        for (var i = 0; i < data.length; i++) {
                             $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid !='0') {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option  value="">Select Section</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected value="">Select Section</option>');

            }
        }

        //========================GET SECTION DETAILS==================================//

          //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected   value="">Select Subject</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option value="">Select Subject</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
               else {
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected value="">Select Subject</option>');

            }
        }

        //========================GET SUBJECT DETAILS==================================//


         //========================GET CHAPTER DETAILS==================================//

        function GetChapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/TeacherAccess/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option value="" selected>Select Chapter</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                         if (classid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option value="">Select Chapter</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option  value="" selected>Select Chapter</option>');

            }
        }

        //========================GET CHAPTER DETAILS==================================//
    })
</script>








