﻿@{
    ViewBag.Title = "GetSaleStudents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> School List </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="@Url.Action("SalesStudents", "Admin")"><i class="fa fa-plus"></i><span> Add Sales Student</span></a>
                    @*<a class="btn btn-primary" href="@Url.Action("AddSchool","School")"><i class="fa fa-plus"></i><span> Add School</span></a>*@
                </div>
            </div>
          
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-advance" id="table1">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>School</th>
                                <th>Board</th>
                                <th>Class</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Salesstudent != null)
                            {
                                int rowNo = 0;
                                foreach (var item in ViewBag.Salesstudent)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email
                                        </td>
                                        <td>
                                           @item.Mobile
                                        </td>
                                       <td>@item.School</td>
                                        <td>@item.BoardName</td>
                                        <td>@item.ClassName</td>
                                        <td>                                            
                                            @*@Html.ActionLink(" ", "AddSchool", "School", new { id = @item.SchoolId }, new { @class = "btn btn-sm btn-primary fa fa-edit", @title = "Edit" })*@
                                            @Html.ActionLink(" ", "DeleteSalesStudent", "Admin", new { id = item.UserId }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete?')", @data_original_title = "Delete", @title = "Delete" })

                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
