﻿@{
    ViewBag.Title = "MentorDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-daterangepicker/daterangepicker.css" />

<div class="box">
    <div class="box-title">
        <h3><i class="fa fa-dashboard"></i> Dashboard</h3>
        <div class="box-tool">
        </div>
    </div>
    <div class="box-content">
        @*<div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" id="date_range" placeholder="From Date - To Date" />
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- BEGIN Tiles -->
        <div class="row">

            <div class="col-md-6">
                <div class="tile tile-dark-blue">
                    <div class="img">
                        <i class="fa fa-inr"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                        @*+@ViewBag.sales*@
                        </p>
                        <p class="title">Total Sales</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile tile-orange">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                        @*@ViewBag.totalstu*@
                        </p>
                        <p class="title">Total Students</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile tile-dark-blue">
                    <div class="img">
                        <i class="fa fa-inr"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                        @*+@ViewBag.sales*@
                        </p>
                        <p class="title">Total Sales</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile tile-orange">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                        @*@ViewBag.totalstu*@
                        </p>
                        <p class="title">Total Students</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tiles -->
    </div>
</div>

