﻿@{
    ViewBag.Title = "OnlineObjectiveExamList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model List<DigiChamps.Models.ObjectiveExamDetailsModel>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Online Objective Exam List </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/Admin/CreateObjectiveExam"><i class="fa fa-plus"></i><span> Add Objective Exam</span></a>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                <form action="OnlineObjectiveExamList" method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">School</div>
                            <div class="form-group">
                                <select id="ddlschool" name="schoolid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Board</div>
                            <div class="form-group">
                                <select id="ddlboard" name="boardid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Class</div>
                            <div class="form-group">
                                <select id="ddlclass" name="classid" class="form-control"></select>
                            </div>
                        </div>                      
                        <div class="col-md-3">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="Subjectid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Examination Date</div>
                            <div class="form-group">
                                <select id="ddlExamdate" name="ExamDate" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Start Time</div>
                            <div class="form-group">
                                <input type="time" name="StartTime" class="form-control" id="ddlstarttm" />
                              
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">End Time</div>
                            <div class="form-group">
                                <input type="time" name="EndTime" class="form-control" id="ddlendttm" />
                              
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Examination Type</div>
                            <div class="form-group">
                                <select id="ddlExamtype" name="ExamType" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group"></div>
                            <div class="form-group text-center">
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>

                </form>
                <hr />

                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>School</th>
                                <th>Class</th>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Exam Type</th>                                
                                <th>Question Paper</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var a in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@a.SchoolName</td>
                                        <td>@a.ClassName</td>
                                        <td>@a.SubjectName</td>
                                        <td>@a.OnlineExamDateName</td>
                                        <td>@a.StartTimeName</td>
                                        <td>@a.EndTimeName</td>
                                        <td>@a.OnlineExamTypeName</td>
                                        <td>
                                            @Html.ActionLink(" ", "ViewQuestionObjectiveExam", "Admin", new { id = a.OnlineObjectiveExamId }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })
                                        </td>
                                        <td>

                                            @Html.ActionLink(" ", "EditObjectiveExam", "Admin", new { id = a.OnlineObjectiveExamId }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "Edit" })
                                            <a href="@Url.Action("RemoveObjectiveExam", "Admin" , new { id = a.OnlineObjectiveExamId })" class="btn btn-sm btn-primary fa fa-trash" title="Remove" onclick="return confirm('Are You Sure Want To Remove This...?')"></a>

                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-body">

                                @*<p>
                                        <object width="100%" height="500px" id="pdfview" data="#"></object>
                                    </p>*@

                                <div id="pdfview"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
         var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        //var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        var ExamType = '@(ViewBag.examtype == null ? 0 : ViewBag.examtype)';
        var ExamDate = '@(ViewBag.examdate == null ? 0 : ViewBag.examdate)';
        var StartTime = '@(ViewBag.startime == null ? 0 : ViewBag.startime)';
          var EndTime= '@(ViewBag.endtime == null ? 0 : ViewBag.endtime)';
        GetExamDate();
        GetExamType();
        //GetExamDatetime(ExamDate);
         GetSchool();
        GetBoard();
        GetClass(boardid);
        GetSection(classid, schoolid);
        $('#ddlstarttm').val(StartTime);
        $('#ddlendttm').val(EndTime);
       


        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        });
        $('#ddlschool').change(function () {
            //$('#ddlsection').val('0');
            $('#ddlsubject').val('0');
           
        });
          //========================GET EXAM tYPE DETAILS==================================//

            function GetExamType() {
                $('.loader-ajax-container').fadeIn(300);
                $.get("/OnlineExamDet/GetExamTypeList", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlExamtype').empty();
                        $('#ddlExamtype').append('<option selected>All </option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlExamtype').append('<option value="' + data[i].OnlineExamTypeId + '">' + data[i].OnlineExamTypeName + '</option>');

                        }
                        if (ExamType > 0) {
                            $('#ddlExamtype').val(ExamType);
                        }
                    }
                    else {
                        $('#ddlExamtype').empty();
                        $('#ddlExamtype').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText);
                });
            }

            //========================GET EXAM tYPE DETAILS==================================//
          //========================GET EXAM DATE DETAILS==================================//

            function GetExamDate() {
                $('.loader-ajax-container').fadeIn(300);
                $.get("/OnlineExamDet/GetExamDateList", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlExamdate').empty();
                        $('#ddlExamdate').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlExamdate').append('<option value="' + data[i].OnlineExamDateId + '">' + data[i].OnlineExamDateName + '</option>');

                        }
                        if (ExamDate > 0) {
                            $('#ddlExamdate').val(ExamDate);
                        }
                    }
                    else {
                        $('#ddlExamdate').empty();
                        $('#ddlExamdate').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText);
                });
            }

            //========================GET EXAM DATE DETAILS==================================//

         
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
        })
    

        //========================GET BOARD DETAILS==================================//
        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/SchoolReport/GetSchool", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>');
                    }
                    if (schoolid !="0") {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                     if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            // $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                         if (classid > 0) {
                        $('#ddlclass').val(classid);
                    }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    //   $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                //   $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, schoolid) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
              
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); 
                });
            }
            else {
               
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//

    })
</script>


<script type="text/javascript" src="~/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
<script>

    $(document).ready(function () {


        $("#table1").on('click', '.pdfid', function (event) {
            debugger;
            var href = "http://learn.odmps.org/" + $(this).attr("id");
            //var href ="http://localhost:63806/"+ $(this).attr("id");

            //$('#pdfview').attr('data', href);
            $('#pdfview').html('<embed src="' + href + '" width="100%" height="500px" />');
            $('#myModal2').modal('show');

        })
    });


</script>
<script language="javascript" type="text/javascript">

    $('.close').click(function () {


        location.reload();
        $('#myModal').modal('hide');

    });

</script>

