﻿@{
    ViewBag.Title = "Package Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-cubes"></i> Package
                <div class="btn-toolbar pull-right">
                    <div class="box-tool">
                        <a class="btn btn-primary show-tooltip" href="/Admin/ViewModule" data-toggle="tooltip" data-placement="top" title="Modules"><span>M</span></a>
                        <a class="btn btn-primary show-tooltip" href="/Admin/ViewTablet" data-toggle="tooltip" data-placement="top" title="Tablets"><span>T</span></a>
                    </div>
                </div>
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="box-content">
        <div class="table-responsive voffset3">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">


                        <div class="box-title">
                            <h3><i class="fa fa-cubes"></i>Package Details</h3>
                            <div class="box-tool box-tooll">
                                <a href="/Admin/AddNewPackage" class="btn btn-primary"><i class="fa fa-plus"></i><span> Add New</span></a>
                            </div>
                        </div>
                        <div class="box-content">

                            <div class="table-responsive">
                                <table class="table table-advance" id="table1">

                                    <thead>
                                        <tr>
                                            <th>Sl No.</th>
                                            <th>Package Name</th>
                                            <th>Subs. Period</th>
                                            <th>Price</th>
                                            <th style="width: 20%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                                        int i = 0;
                                        }
                                        @if (ViewBag.package != null)
                                                    {

                                                        foreach (var v in ViewBag.package)
                                                        {
                                                    <tr>
                                                        <td>@(i += 1)</td>
                                                        <td>@v.Package_Name</td>
                                                        <td>@v.Subscripttion_Period</td>
                                                        <td>@string.Format("{0:0.00}", v.Price) </td>
                                                        <td>
                                                            @Html.ActionLink(" ", "AddNewPackage", "Admin", 
                                                            new { id = @v.Package_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })

                                                            @Html.ActionLink(" ", "Delete_package", "Admin", 
                                                            new { id = @v.Package_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the package?')", @data_original_title = "Delete", @title = "Delete" })

                                                            @*<a href="#" val="@v.Package_ID" title="Show Module" class="Edit_tr btn btn-sm btn-success fa fa-plus"></a>*@
                                                        </td>
                                                    </tr>

                                                        }
                                                    }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
