﻿@{
    ViewBag.Title = "PDFLink";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/assets/jquery-tags-input/jquery.tagsinput.css" rel="stylesheet" />
@*<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<style>
    th {
        text-align: center;
    }
</style>
<script>
    $(document).ready(function () {
        debugger;
        $('#validation-form').validate();
    })
    $(document).ready(function () {
        debugger;
        $('#btnsubmit').click(function () {
            debugger;
            if ($('#Folder_Name').val() != "") {
                $.ajax({
                    url: "http://52.172.183.131:8080/digi-mentor-rest-api/files/getPdfLinks?folderName=" + $('#Folder_Name').val() + "",
                    type: 'GET',
                    ContentType: 'application/json;utf-8',
                    datatype: 'json',
                    success: function (data, jqXHR) {
                        debugger;
                        var links = data;
                        if (links.length > 0) {
                            var tr = '';
                            for (var i = 0; i < links.length; i++) {
                                var s = links[i];
                                var m = s.split('//')[1];
                                var t = m.split('/')[3];
                                var g = t.split('.')[0];
                                var no = g.substring(g.length - 10, g.length);
                                var name = g.substring(0, g.length - 10);
                                tr += '<tr><td>' + (i + 1) + '</td>';
                                tr += '<td>' + no + '</td>';
                                tr += '<td>' + name + '</td>';
                                tr += '<td><a href="' + window.open(links, "_blank") + '"></a></td>';
                                tr += '<td><a href="../Admin/Send_Message?mobile=' + no + '&Pdf_Link='+links+'">Send</a></td></tr>';
                            }

                            debugger;
                            var oTable = $('#tblVideoReport').dataTable();
                            oTable.fnDestroy();
                            //I put in new values 'newList' on the body
                            $('#tblVideoReport tbody').html(tr);
                            //I reinitialize the datatable
                            $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                        }
                        else {
                            var oTable = $('#tblVideoReport').dataTable();
                            oTable.fnDestroy();
                            //I put in new values 'newList' on the body
                            $('#tblVideoReport tbody').html('');
                            //I reinitialize the datatable
                            $('#tblVideoReport').dataTable({ "oLanguage": { "sSearch": 'Search Here:' } });
                        }

                    }
                })
            }
        })
    })
</script>


<div id="validation-form" class="form-horizontal">
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-file"></i>PDF LINK
                        </h3>
                        <div class="box-tool box-tooll">
                            <a class="btn btn-primary" href="~/Admin/AddPdffiles"><i class="fa fa-plus"></i><span> Add Pdf Files</span></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="Folder_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Folder Name<span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <input type="text" placeholder="Please Enter Folder Name" maxlength="12" id="Folder_Name" name="Folder_Name" class="form-control" data-rule-required="true" data-msg-required="Please enter folder name" />
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                    <ul><li style="display:none"></li></ul>
                                </div>*@
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="form-group text-center">
                            <button id="btnsubmit" class="btn btn-primary">Get Links</button>
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="form-group text-center">
                            <div class="table-responsive voffset3">
                                <table class="table table-advance" id="tblVideoReport">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th>Sl. No.</th>
                                            <th>Mobile</th>
                                            <th>Names</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>