﻿
@{
    ViewBag.Title = "Question Bank";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-question-circle"></i> Question Bank
                <div class="btn-toolbar pull-right">
                    <div class="box-tool">
                        <a class="btn btn-inverse show-tooltip" href="/Admin/Exam" data-toggle="tooltip" data-placement="top" title="Create Exam"><span>E</span></a>
                    </div>
                </div>
            </h1>
        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">

                    <h3><i class="fa fa-question"></i>Questions</h3>
                    <div class="box-tool box-tooll">
                        <a href="/Admin/Add_New_Question" class="btn btn-primary"><i class="fa fa-plus"></i><span> Add New</span></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="panel panel-default">
                        @using (Html.BeginForm("QuestionBank", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form" }))
                        { 
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-search"></i> Search Question</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label text-right">Subject</label>
                                    <div class="col-sm-9 col-lg-9 controls">
                                        @*@Html.DropDownList("ddlsubject", ViewBag.subjlist as SelectList, "Please Select Subject", new { @id = "ddlsubject" , @class="form-control"})*@
                                        <select id='ddlsubject' name="ddlsubject" class="form-control" data-rule-required="true" data-msg-required="Please select subject">
                                            <option value="">Please Select Subject</option>
                                            @foreach (var v in ViewBag.subjlist)
                                            {
                                                DigiChamps.Models.DigiChampsEntities dbcontext = new DigiChamps.Models.DigiChampsEntities();
                                                int clid = Convert.ToInt16(v.Class_Id);
                                                var classname = dbcontext.tbl_DC_Class.Where(x => x.Class_Id == clid).FirstOrDefault();
                                                <option value="@v.Subject_Id">@classname.Class_Name - @v.Subject</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label text-right">Chapter</label>
                                    <div class="col-sm-9 col-lg-9 controls">
                                        <select name="ddlchapter" id="ddlchapter" class="form-control" data-rule-required="true" data-msg-required="Please select chapter"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button id="btnSearch" type="submit" class="btn btn-warning btn-sm">
                                    <i class="fa fa-search"></i><span> Search</span>
                                </button>&nbsp;&nbsp;
                                <button id="btnDelete" title="Delete Question" type="button" class="btn btn-warning btn-sm">
                                    <i class="fa fa-trash-o"></i><span> Delete</span>
                                </button>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="table-responsive voffset3">
                        <form id="frm_qstn">
                            <table class="table table-advance" id="table1">
                                <thead>
                                    <tr>
                                        <th width="5%"><input type="checkbox" /></th>
                                        <th style="width: 20%;">Topic</th>
                                        <th>Chapter</th>
                                        <th>Power</th>
                                        <th style="width: 40%;">Question</th>
                                        @*<th style="width: 20%;">Question Image</th>*@
                                        <th style="width: 15%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    int i = 0;
                                    }
                                    @if (ViewBag.Question != null)
                                {
                                    foreach (var v in ViewBag.Question)
                                    {
                                        <tr>
                                            <td><input type="checkbox" value="@v.Question_ID" name="qstdlt" /></td>
                                            @{
                                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                        int sid = Convert.ToInt32(v.Topic_ID);
                                        var topic_snm = DbContext.tbl_DC_Topic.Where(x => x.Topic_ID == sid).Select(x => x.Topic_Name).FirstOrDefault();
                                        string topic = Convert.ToString(topic_snm);
                                            }
                                            <td>@topic</td>
                                            @{
                                        int chid = Convert.ToInt32(v.Chapter_Id);
                                        var chapterobj = DbContext.tbl_DC_Chapter.Where(x => x.Chapter_Id == chid).Select(x => x.Chapter).FirstOrDefault();
                                        string chaptername = Convert.ToString(chapterobj);
                                            }
                                            <td>@chaptername</td>
                                            @{
                                        int pid = Convert.ToInt32(v.Power_ID);
                                        var powerobj = DbContext.tbl_DC_Power_Question.Where(x => x.Power_Id == pid).Select(x => x.Power_Type).FirstOrDefault();
                                        string powername = Convert.ToString(powerobj);
                                            }
                                            <td>@powername</td>
                                            <td>
                                                <span>
                                                   
                                                    @Html.Raw(v.Question)
                                                </span>
                                                @{
                                        int imgid = Convert.ToInt32(v.Question_ID);
                                        var imgobj = DbContext.tbl_DC_Question_Images.Where(x => x.Question_ID == imgid&&x.Question_desc_Image!=null).FirstOrDefault();
                                        
                                                }

                                            </td>
                                           
                                            @*<td>
                                                @if (imgobj != null)
                                                {
                                                    if (imgobj.Question_desc_Image != null)
                                                    {
                                                        <img src="~/Content/Qusetion/@imgobj.Question_desc_Image" height="100" width="170" />
                                                    }
                                                }
                                            
                                            </td>*@
                                            <td>

                                                @Html.ActionLink(" ", "Edit_Question", "Admin", new { id = @v.Question_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })


                                                @Html.ActionLink(" ", "Delete_Question", "Admin", new { id = @v.Question_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @id = "dltbtn", @onclick = "return getconfirm(" + @v.Question_ID + "); return false;", @data_original_title = "Delete", @title = "Delete" })
                                                @Html.ActionLink(" ", "Correct_Answer_Description", "Admin", new { id = @v.Question_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @id = "ansbtn", @title = "Answer" })
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>

                <div class="box-title voffset3">
                    <h3><i class="fa fa-question"></i>Questions Per Subject</h3>
                </div>
                <div class="box-content">
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table2">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                    <th>Chapter</th>
                                    <th>No. of Question</th>
									 <th>PRT</th>
									  <th>PT</th>
									   <th>RT</th>
									   <th>FT</th>
									    <th>CBT</th>
										 <th>GT</th>
										 
									
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                int j = 0;
                                }
                                @if (ViewBag.Count_Que != null)
                            {
                                foreach (var v in ViewBag.Count_Que)
                                {
                            <tr>
                                <td>@(j += 1)</td>
                                <td>@v.Board_Name</td>
                                <td>@v.Class_Name</td>
                                <td>@v.Subject</td>
                                <td>@v.Chapter</td>
                                <td>@v.No_Questions</td>
								 <td>@v.prerest</td>
								  <td>@v.prctc</td>
								   <td>@v.retest</td>
								    <td>@v.free</td>
									 <td>@v.onln</td>
									  <td>@v.globl</td>
                            </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Message</h3>
                <div class="modal-body">
                    <h5></h5>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $('#table2').dataTable({
            "aLengthMenu": [
                [10, 15, 25, 50, 100, -1],
                [10, 15, 25, 50, 100, "All"]
            ],
            "iDisplayLength": 10,
            "oLanguage": {
                "sLengthMenu": "_MENU_ Records per page",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": "0 - 0 of 0",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }]
        });
        $("#btnDelete").click(function () {
            if ($('#table1').find('tbody input[type=checkbox]').is(':checked')) {
                var cnfrm = confirm('Are you sure, want to delete?');
                if (cnfrm) {
                    $.ajax({
                        type: 'POST',
                        url: "/Admin/Dlt_selectQuestions",
                        data: $('#frm_qstn').serialize(),
                        success: function (data) {
                            if (data == "1") {
                                $("#modal_3 .modal-body h5").html("Selected questions deleted successfully.");
                                $("#modal_3").modal("show");
                                setTimeout(9000);
                                location.href = "/Admin/QuestionBank";


                            } else if (data == "2") {
                                location.href = "/Admin/Logout";
                            }
                            else {
                                $("#modal_3 .modal-body h5").html("Question is examined. It can not be deleted.");
                                $("#modal_3").modal("show");
                                setTimeout(9000);
                                location.href = "/Admin/QuestionBank";
                            }
                        }
                    });
                }
                else { return false; }
            }
            else {
                $("#modal_3 .modal-body h5").html("Please choose question to delete.");
                $("#modal_3").modal("show");
                return false;
            }
        })

        $('#ddlsubject').change(function () {
            if ($('#ddlchapter').closest('.form-group').find('.ajax-loader').length) {
                // do nothing
            } else {
                $('#ddlchapter').closest('.form-group').find('.controls').append("<div class='ajax-loader'><div class='loader'></div></div>");
            }
            $('#ddlchapter').closest('.form-group').addClass('display-loader');
            $.ajax({
                type: "POST",
                url: "/Admin/GetAllChapter",
                data: { SubId: $('#ddlsubject').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var sta1 = sta1 + '<option value="">Please Select Chapter</option>';
                    for (var i = 0; i < data.length; i++) {
                        sta1 = sta1 + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    $('#ddlchapter').html(sta1);
                    setTimeout(function () {
                        $('#ddlchapter').closest('.form-group').removeClass('display-loader');
                    }, 800);
                }
            });

        });

        function getconfirm(v) {
            $.ajax({
                type: "POST",
                url: "/Admin/getquestion_avl",
                data: { qsn: v },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data == "true") {
                        if (window.confirm("Question is in use, Are you sure want to delete")) {
                            window.location.href = '/Admin/Delete_Question/' + v;
                        }
                    } else if (data == "false") {
                        if (window.confirm("Are you sure want to delete?")) {
                            window.location.href = '/Admin/Delete_Question/' + v;
                        }
                    }
                }
            });
            return false;
        };
    </script>
}
