﻿@{
    ViewBag.Title = "Reset_Security_Question";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/assets/jquery-tags-input/jquery.tagsinput.css" rel="stylesheet" />
@*<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetSecurityQuestion();
        function GetSecurityQuestion() {
            $.get("/Admin/GetSecurityQuestions", "", function (data) {
                $('#Security_Question').empty();
                if (data.length > 0) {
                    $('#Security_Question').append('<option value="0">Select Security Question</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#Security_Question').append('<option value=' + data[i].Security_Question_ID + '>' + data[i].Security_Question + '</option>');
                    }
                }
                else {
                    $('#Security_Question').append('<option value="0">No Security Questions</option>');
                }
            })
        }
        $('#btnsubmit').click(function () {
            if ($('#Mobile_Name').val() == '') {
                alert('Please Enter Mobile Number');
                $('#Mobile_Name').focus();
                return false;
            }
            if ($('#Security_Question').val() == '0') {
                alert('Please Select Security Question');
                $('#Security_Question').focus();
                return false;
            }
            if ($('#Answer').val() == '') {
                alert('Please Enter Your Answer');
                $('#Answer').focus();
                return false;
            }
            $.ajax({
                url: "/Admin/ResetSecurityQuestions?mobile=" + $('#Mobile_Name').val() + "&sq=" + $('#Security_Question').val() + "&ans=" + $('#Answer').val() + "",
                type: 'GET',
                ContentType: 'application/json;utf-8',
                datatype: 'json',
                success: function (data) {
                    debugger;
                    if(data==1)
                    {
                        alert("Changed Successfully..");
                        $('#Mobile_Name').val('');
                        $('#Security_Question').val('0');
                        $('#Answer').val('');
                    }
                    else
                    {
                        alert('Something Went Wrong! Please Try Again...')
                    }
                }
            })
        })
    })
    function isNumberKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 47 && charCode < 58)
            return true;
        return false;
    }
</script>
<div id="validation-form" class="form-horizontal">
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-file"></i>Reset Security Question
                        </h3>
                    </div>
                    <div class="box-content">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Mobile_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Mobile Number <span class="asterisk">*</span></label>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="text" placeholder="Please Enter Mobile Number" maxlength="12" id="Mobile_Name" name="Mobile_Name" onkeypress="return isNumberKey(event)" class="form-control" data-rule-required="true" data-msg-required="Please enter mobile number" />
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="Security_Question" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Security Question <span class="asterisk">*</span></label>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <select id="Security_Question" name="Security_Question" class="form-control" data-rule-required="true" data-msg-required="Please select security question"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Answer <span class="asterisk">*</span></label>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="text" placeholder="Please Enter Your Answer" id="Answer" name="Answer" class="form-control" data-rule-required="true" data-msg-required="Please enter your answer" />
                                </div>                              
                            </div>
                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="form-group text-center">
                                <button id="btnsubmit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

