﻿@{
    ViewBag.Title = "Reset_Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/assets/jquery-tags-input/jquery.tagsinput.css" rel="stylesheet" />
@*<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnsubmit').click(function () {
            if ($('#Mobile_Name').val() == '') {
                alert('Please Enter Mobile Number');
                $('#Mobile_Name').focus();
                return false;
            }
            if ($('#password').val() == '') {
                alert('Please Enter Password');
                $('#password').focus();
                return false;
            }
            $.ajax({
                url: "https://learn.odmps.org:8080/digi-mentor-rest-api/security/setDefaultPassword?mobile=" + $('#Mobile_Name').val() + "&password=" + $('#password').val() + "",
                type: 'GET',
                ContentType: 'application/json;utf-8',
                datatype: 'json',
                success: function (data, jqXHR) {
                    debugger;
                    if(data==1)
                    {
                        alert("Changed Successfully..");
                        $('#Mobile_Name').val('');
                        $('#password').val('');
                    }
                    else
                    {
                        alert('Something Went Wrong! Please Try Again...')
                    }
                }
            })
           
            //$.get("/Admin/ChangePassword?mobile=" + $('#Mobile_Name').val() + "&password=" + $('#password').val(), "", function (data) {

            //    if (data == 1) {
            //        alert("Changed Password Successfully");
            //    }
            //    if (data == 0) {
            //        alert('Somthing went wrong,try again');
            //    }
            //})
        })
    })
    function isNumberKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 47 && charCode < 58)
            return true;
        return false;
    }
</script>
<div id="validation-form" class="form-horizontal">
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-file"></i>Reset Password
                        </h3>
                    </div>
                    <div class="box-content">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Mobile_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Mobile Number <span class="asterisk">*</span></label>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="text" placeholder="Please Enter Mobile Number" maxlength="12" id="Mobile_Name" name="Mobile_Name" onkeypress="return isNumberKey(event)" class="form-control" data-rule-required="true" data-msg-required="Please enter mobile number" />

                                </div>
                                @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                        <ul><li style="display:none"></li></ul>
                                    </div>*@
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Password <span class="asterisk">*</span></label>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="password" placeholder="Please Enter Password" id="password" name="password" class="form-control" data-rule-required="true" data-msg-required="Please enter password" />

                                </div>
                                @*<div class="validation-summary-valid" data-valmsg-summary="true">
                <ul><li style="display:none"></li></ul>
            </div>*@
                            </div>
                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="form-group text-center">
                                <button id="btnsubmit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
