﻿@{
    ViewBag.Title = "School_Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> School Users </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/Admin/CreateOrEditSchoolUser/"><i class="fa fa-plus"></i><span> Add School User</span></a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Name</th>
                                    <th>Mail Id</th>
                                    <th>User Name</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.schoolusers != null)
                                {
                                    List<DigiChamps.Models.tbl_DC_SchoolUser> mm = ViewBag.schoolusers as List<DigiChamps.Models.tbl_DC_SchoolUser>;
                                    int rowNo = 0;
                                    foreach (var item in mm.ToList())
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.UserFirstname</td>
                                            <td>@item.UserEmailAddress</td>
                                            <td>@item.UserName</td>
                                            <td>@item.UserPassword</td>
                                            <td>@item.UserRole</td>
                                            <td>
                                                @Html.ActionLink(" ", "CreateOrEditschooluser", "Admin", new { id = @item.UserId }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "View" })
                                                @Html.ActionLink(" ", "DeleteSchoolUser", "Admin", new { id = @item.UserId }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the role type?')", @data_original_title = "Delete", @title = "Delete" })

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>