﻿@{
    ViewBag.Title = "Send_Message";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/assets/jquery-tags-input/jquery.tagsinput.css" rel="stylesheet" />
@*<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $('#validation-form').validate();
        $('#btnsubmit').click(function () {
            debugger;
            if ($('#Mobile_Name').val() != "" && $('#Message').val() != "") {
                $.ajax({
                    url: "http://52.172.183.131:8080/digi-mentor-rest-api/pdf/sendLinkThroughSmsSingle?mobile=" + $('#Mobile_Name').val() + "&otp=" + $('#Message').val() + "",
                    type: 'GET',
                    ContentType: 'application/json;utf-8',
                    datatype: 'json',
                    success: function (data, jqXHR) {
                        debugger;
                        if (jqXHR == "success") {
                            alert("send Successfully")
                        }
                        else
                        {
                            alert("Not Send...Try Again");
                        }
                    }
                })
            }
        })
    })
    function isNumberKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 47 && charCode < 58)
            return true;
        return false;
    }
</script>


<form id="validation-form" class="form-horizontal">
    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/Admin/AdminDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                @if (ViewBag.Breadcrumb != null)
                {
                    <li class="active">@ViewBag.Breadcrumb</li>
                }
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-file"></i>Send Message
                        </h3>
                    </div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="Mobile_Name" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Mobile Number <span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <input type="text" placeholder="Please Enter Mobile Number" maxlength="12" id="Mobile_Name" name="Mobile_Name" onkeypress="return isNumberKey(event)" value="@ViewBag.Mobile" class="form-control" data-rule-required="true" data-msg-required="Please enter mobile number" data-rule-minlength="10" />
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                    <ul><li style="display:none"></li></ul>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label for="pdf_link" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">PDF Link<span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <label>@ViewBag.pdf_link</label>
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                <ul><li style="display:none"></li></ul>
            </div>*@
                        </div>

                        <div class="form-group">
                            <label for="Message" class="col-sm-3 col-lg-3 control-label text-right" style="font-weight:normal;">Message<span class="asterisk">*</span></label>
                            <div class="col-sm-8 col-lg-8 controls">
                                <textarea placeholder="Please Enter Message" id="Message" name="Message" class="form-control" data-rule-required="true" data-msg-required="Please enter message"></textarea>
                            </div>
                            @*<div class="validation-summary-valid" data-valmsg-summary="true">
                                    <ul><li style="display:none"></li></ul>
                                </div>*@
                        </div>
                        <div class="clearfix" style="margin-bottom:20px;"></div>
                        <div class="form-group text-center">
                            <button id="btnsubmit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>