﻿@{
    ViewBag.Title = "StudentCoinsDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Student Coin Earn Details</h3>
                    <div class="box-tool box-tooll">

                        <a id="btnexport" class="btn btn-primary dropdown-toggle" href="/Admin/DownloadCoinearnDetails/@Request.QueryString["id"]"><i class="fa fa-file-excel-o"></i> XLS</a>

                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Coin Type</th>
                                    <th>DETAILS</th>
                                    <th>Coins</th>
                                    <th>INSERTED ON</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.StudentCoinearn != null)
                                {
                                    int i = 0;
                                    var g = ViewBag.StudentCoinearn as List<DigiChamps.Controllers.AdminController.Student_Earn_Class>;
                                    foreach (var data in g)
                                    {
                                        <tr>
                                            <td>@(i += 1)</td>
                                            <td>@data.CoinTypeName</td>
                                            <td>@data.COIN_DETAILS</td>
                                            <td>@data.Coins</td>
                                            <td>@data.INSERTDATE</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>