﻿@{
    ViewBag.Title = "Students_Report_Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        Getschools();
        GetActiveUserData();
        GetInActiveUserData();
        GetActiveSchoolUserData();
        GetInActiveSchoolUserData();
       
        function Getschools() {
            $.get("/Admin/GetSchoolListDropDown",function (data) {
                    debugger;
                    $('#ddlschool').empty();
                    if (data.length > 0) {
                        $('#ddlschool').append('<option value="0">All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlschool').append('<option value="' + data[i].SchoolName + '">' + data[i].SchoolName + '</option>');
                        }
                    }
                    else {
                        $('#ddlschool').append('<option value="0">No Records</option>');
                    }
                    $('#ddlschool1').empty();
                    if (data.length > 0) {
                        $('#ddlschool1').append('<option value="0">All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlschool1').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>');
                        }
                    }
                    else {
                        $('#ddlschool1').append('<option value="0">No Records</option>');
                    }
                }
            );
        }
        function GetActiveUserData() {

            debugger;
            $.ajax({
                url: "/Admin/GetActiveUser?id=" + $('#ddlschool').val()+ "",
                type: "GET",
                success: function (data) {
                    debugger;
                    var tr = '';
                    $('#table1 tbody').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            tr += '<tr><td>' + (i + 1) + '</td>';
                            tr += '<td>' + data[i].Regd_No + '</td>';
                            tr += '<td>' + data[i].Customer_Name + '</td>';
                            tr += '<td>' + data[i].Mobile + '</td>';
                            tr += '<td>' + data[i].Email + '</td>';
                            tr += '<td>' + data[i].Inserted + '</td>';
                            tr += '<td>' + data[i].Organisation_Name + '</td>';
                            tr += '<td>' + data[i].Class_Name + '</td>';
                            if (data[i].STATUS == "A") {
                                tr += '<td><span class="label label-success">Active</span></td>';
                            }
                            else {
                                tr += '<td><span class="label label-warning">Inactive</span></td>';
                            }
                            tr += '</tr>';

                        }
                        var oTable = $('#table1').dataTable();
                        oTable.fnDestroy();
                        $('#table1 tbody').html(tr);
                        $('#table1').dataTable();

                    }
                    else {
                        $('#table1 tbody').empty();
                    }
                }
            })

        }
        function GetInActiveUserData() {

            debugger;
            $.ajax({
                url: "/Admin/GetInactiveUser?id=" + $('#ddlschool1').val() + "",
                type: "GET",
                success: function (data) {
                    debugger;
                    var tr = '';
                    $('#table2 tbody').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            tr += '<tr><td>' + (i + 1) + '</td>';
                            tr += '<td>' + data[i].Regd_No + '</td>';
                            tr += '<td>' + data[i].Customer_Name + '</td>';
                            tr += '<td>' + data[i].Mobile + '</td>';
                            tr += '<td>' + data[i].Email + '</td>';
                            tr += '<td>' + data[i].Inserted + '</td>';
                            tr += '<td>' + data[i].Organisation_Name + '</td>';
                            tr += '<td>' + data[i].Class_Name + '</td>';
                            if (data[i].STATUS == "A") {
                                tr += '<td><span class="label label-success">Active</span></td>';
                            }
                            else {
                                tr += '<td><span class="label label-warning">Inactive</span></td>';
                            }
                            tr += '</tr>';

                        }
                        var oTable = $('#table2').dataTable();
                        oTable.fnDestroy();
                        $('#table2 tbody').html(tr);
                        $('#table2').dataTable();

                    }
                    else {
                        $('#table2 tbody').empty();
                    }
                }
            })

        }
      
        function GetActiveSchoolUserData() {

            debugger;
            $.ajax({
                url: "/Admin/Getactiveschooluser",
                type: "GET",
                success: function (data) {
                    debugger;
                    var tr = '';
                    $('#table3 tbody').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            tr += '<tr><td>' + (i + 1) + '</td>';
                            tr += '<td>' + data[i].SchoolName + '</td>';
                            tr += '<td>' + data[i].SchoolThumbnail + '</td>';
                            tr += '<td>' + data[i].UserName + '</td>';
                            tr += '<td>' + data[i].UserFirstname + '</td>';
                            tr += '<td>' + data[i].UserEmailAddress + '</td>';
                            tr += '<td>' + data[i].UserRole + '</td>';
                            tr += '<td>' + data[i].Inserted + '</td>';                          
                            tr += '</tr>';

                        }
                        var oTable = $('#table3').dataTable();
                        oTable.fnDestroy();
                        $('#table3 tbody').html(tr);
                        $('#table3').dataTable();

                    }
                    else {
                        $('#table3 tbody').empty();
                    }
                }
            })

        }
        function GetInActiveSchoolUserData() {

            debugger;
            $.ajax({
                url: "/Admin/Getinactiveschooluser",
                type: "GET",
                success: function (data) {
                    debugger;
                    var tr = '';
                    $('#table4 tbody').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            tr += '<tr><td>' + (i + 1) + '</td>';
                            tr += '<td>' + data[i].SchoolName + '</td>';
                            tr += '<td>' + data[i].SchoolThumbnail + '</td>';
                            tr += '<td>' + data[i].UserName + '</td>';
                            tr += '<td>' + data[i].UserFirstname + '</td>';
                            tr += '<td>' + data[i].UserEmailAddress + '</td>';
                            tr += '<td>' + data[i].UserRole + '</td>';
                            tr += '<td>' + data[i].Inserted + '</td>';
                            tr += '</tr>';

                        }
                        var oTable = $('#table4').dataTable();
                        oTable.fnDestroy();
                        $('#table4 tbody').html(tr);
                        $('#table4').dataTable();

                    }
                    else {
                        $('#table4 tbody').empty();
                    }
                }
            })

        }
    })
</script>
<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Registered User Report
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i>Reports</span>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <style>
        .nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

    </style>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> Registered User Report</h3>
                        <div class="box-tool box-tooll">

                           @* <a href="#" id="btnexport" class="btn btn-primary dropdown-toggle"><i class="fa fa-file-excel-o"></i> XLS</a>*@

                        </div>
                    </div>
                    <div class="box-content">
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Active Students</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Inactive Students</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Active Schooluser</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">InActive SchoolUser</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2" style="margin-top: 8px;">Select School :</div>
                                        <div class="col-md-4">
                                            <select id="ddlschool" class="form-control"></select>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="table-responsive voffset3">
                                        <table class="table table-advance" id="table1" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Sl No.</th>
                                                    <th>Reg. No</th>
                                                    <th>Name</th>
                                                    <th>Mobile No</th>
                                                    <th>Email</th>
                                                    <th>Date</th>
                                                    <th>School</th>
                                                    <th>Class</th>
                                                    <th>Users Status</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2" style="margin-top: 8px;">Select School :</div>
                                        <div class="col-md-4">
                                            <select id="ddlschool1" class="form-control chosen"></select>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="table-responsive voffset3">
                                        <table class="table table-advance" id="table2" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Sl No.</th>
                                                    <th>Reg. No</th>
                                                    <th>Name</th>
                                                    <th>Mobile No</th>
                                                    <th>Email</th>
                                                    <th>Date</th>
                                                    <th>School</th>
                                                    <th>Class</th>
                                                    <th>Users Status</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <div class="table-responsive voffset3">
                                        <table class="table table-advance" id="table3" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Sl No.</th>
                                                    <th>School Name</th>
                                                    <th>School Code</th>
                                                    <th>User Name</th>
                                                    <th>First Name</th>
                                                    <th>Email Id</th>
                                                    <th>User Role</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="settings">
                                    <div class="table-responsive voffset3">
                                        <table class="table table-advance" id="table4" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Sl No.</th>
                                                    <th>School Name</th>
                                                    <th>School Code</th>
                                                    <th>User Name</th>
                                                    <th>First Name</th>
                                                    <th>Email Id</th>
                                                    <th>User Role</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>