﻿@{
    ViewBag.Title = "Ticket";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-ticket"></i> Ticket
                <div class="btn-toolbar pull-right">
                    <div class="box-tool">
                        <a class="btn btn-inverse show-tooltip" href="/Admin/QuestionBank" data-toggle="tooltip" data-placement="top" title="Question bank"><span>Q</span></a>
                    </div>
                </div>
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-ticket"></i>Search Ticket By Date</h3>
                </div>
                <div class="box-content">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="">
                                @using (Html.BeginForm("Ticket_report", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="textfield5" class="col-sm-3 col-lg-5 control-label">From Date<span class="asterisk">*</span></label>
                                            <div class="col-sm-9 col-lg-7 controls">
                                                <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select From date" name="f_Date" class="datepicker form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="textfield5" class="col-sm-3 col-lg-5 control-label">To Date<span class="asterisk">*</span></label>
                                            <div class="col-sm-9 col-lg-7 controls">
                                                <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date" class="datepicker form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group last box-tooll">
                                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                                <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="Ticke_form" class="form-horizontal">
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="fa fa-ticket"></i>Ticket Details</h3>
                            <div class="box-tool">

                            </div>
                        </div>
                        <div class="box-content">
                            <div class="btn-group">
                                @{
                                    string typ = "-";
                                }


                                <select class="form-control chosen" id="ddlteacher" name="Teacher_name">
                                    @if (ViewBag.teachernames_tickets != null)
                                    {

                                        <option value="0">Select TeacherName</option>
                                        foreach (var v in ViewBag.teachernames_tickets)
                                        {
                                            <option value="@v.CourseAssn_ID">@v.Teacher_Name @typ @v.Subject</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="btn-group">
                                <a id="btnassign" title="Assign Ticket" class="btn btn-circle show-tooltip"><i class="fa fa-user"></i> </a>
                            </div>
                            <div class="btn-toolbar pull-right clearfix">
                                <div class="btn-group">
                                    <a id="btnSearch" title="Delete Ticket" class="btn btn-circle show-tooltip"><i class="fa fa-trash-o"></i> </a>

                                </div>

                                <div class="btn-group">
                                    <a class="btn btn-circle show-tooltip" title="Refresh" href="/Admin/Ticket"><i class="fa fa-refresh"></i></a>
                                    <a class="btn btn-circle btn-danger show-tooltip" title="Reject Tickets" href="/Admin/filtertickets/R"><i class="fa fa-ban"></i></a>
                                    <a class="btn btn-yellow btn-circle show-tooltip" title="Close Tickets" href="/Admin/filtertickets/C"><i class="fa fa-times"></i></a>
                                    <a class="btn btn-danger btn-circle show-tooltip" title="Overdue Tickets" href="/Admin/filtertickets/D"><i class="fa fa-clock-o"></i></a>
                                    <a class="btn btn-info btn-circle show-tooltip" title="Unassigned Tickets" href="/Admin/filtertickets/U"><i class="fa fa-user-times"></i></a>
                                </div>
                            </div>
                            <br /><br />
                            <div class="clearfix"></div>
                            <div class="table-responsive" style="border:0">
                                <table class="table table-advance table-hover" id="table1">
                                    <thead>
                                        <tr>

                                            @*<th><input type="checkbox"/></th>*@
                                            <th hidden>sl no</th>
                                            <th></th>
                                            <th>Ticket No.</th>
                                            <th>Student Name</th>
                                            <th>Class</th>
                                            <th>Subject</th>
                                            <th>Created Date</th>
                                            @*<th>Assigned To</th>*@
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Ticket != null)
                                        {
                                            int i = 0;
                                            foreach (var item in ViewBag.Ticket)
                                            {
                                                <tr>
                                                    <td hidden>@(i += 1)</td>
                                                    <td><input type="checkbox" id="Chk_tickets" name="Chk_tickets" value="@item.Ticket_ID" /></td>
                                                    <td><a href="#" class="blue" value="@item.Ticket_ID">@item.Ticket_No</a></td>
                                                    <td>@item.Customer_Name</td>
                                                    <td>@item.Class_Name</td>
                                                    <td>@item.Subject</td>
                                                    <td>@item.Inserted_Date</td>
                                                   @*@if (item.Teacher_Name != null)
                                                    {
                                                        <td>@item.Teacher_Name</td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="label label-info">No Teacher Assigned</span></td>
                                                    }*@
                                                    @{
                                                string sta = Convert.ToString(@item.Status);
                                                    }
                                                    @if (sta == "O")
                                                    {
                                                        <td title="Open"><span class="label label-success">Open</span></td>
                                                    }
                                                    @if (sta == "C")
                                                    {
                                                        <td title="Click To Reopen"><span class="label label-yellow"><a href="/Admin/reopenticket?id=@item.Ticket_ID">Close</a></span></td>
                                                    }
                                                    @if (sta == "R")
                                                    {
                                                        <td title="Click To Reopen"><span class="label label-danger"><a href="/Admin/reopen_ticket?id=@item.Ticket_ID">Rejected</a></span></td>
                                                    }
                                                    @if (sta == "D")
                                                    {
                                                        <td title="Overdue"><span class="label label-important">Overdue</span></td>
                                                    }
                                                    <td>

                                                        @Html.ActionLink(" ", "ViewTickectDetail", "Admin", new { id = @item.Ticket_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "View Ticket" })

                                                        @*@Html.ActionLink(" ", "RejectTicket", "Admin", new { id = @item.Ticket_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-times", @title = "Reject Ticket" })*@
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>

    <div id="modal_3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Message</h3>
                    <div class="modal-body">
                        <h5></h5>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_4" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Ticket Details</h3>
                </div>
                <div class="modal-body">
                    <label for="textfield5" class="control-label">
                        Question<span class="asterisk">*</span>
                    </label>
                    <p id="Ticket_p"></p>

                    <label for="textfield5" class="control-label">
                        Created on<span class="asterisk">*</span>
                    </label><p id="Ticket_d"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
    @section scripts
{
        <script>
            $(document).ready(function () {
                $("#btnSearch").click(function () {
                    debugger;
                    var tb = $(this).attr('title');
                    var sel = false;
                    var ch = $('#table1').find('tbody input[type=checkbox]');
                    var c = confirm('Are you sure, want to delete?');
                    if (c) {

                        if ($('#table1').find('tbody input[type=checkbox]').is(':checked')) {
                            $.ajax({
                                type: 'POST',
                                url: "/Admin/Delete_ALLTickets",
                                data: $('#Ticke_form').serialize(),
                                success: function (data) {
                                    if (data == "1") {
                                        $("#modal_3 .modal-body h5").html("Selected Ticket Deleted Successfully.");
                                        $("#modal_3").modal("show");
                                        setTimeout(9000);
                                        location.href = "/Admin/Ticket";


                                    } else if (data == "2") {
                                        location.href = "/Admin/Logout";
                                    }
                                    else {
                                        $("#modal_3 .modal-body h5").html("Something went wrong.");
                                        $("#modal_3").modal("show");
                                        setTimeout(9000);
                                        location.href = "/Admin/Ticket";
                                    }
                                }
                            });


                        } else {
                            $("#modal_3 .modal-body h5").html("Nothing selected.");
                            $("#modal_3").modal("show");
                        }

                    }
                })
                $("#btnassign").click(function () {
                    if ($('#table1').find('tbody input[type=checkbox]').is(':checked')) {
                        $.ajax({
                            type: 'POST',
                            url: "/Admin/Bulk_Assign_Tickets",
                            dataType: "json",
                            data: $('#Ticke_form').serialize(),
                            success: function (data) {
                                if (data == "1") {
                                    $("#modal_3 .modal-body h5").html("Ticket Assigned Successfully.");
                                    $("#modal_3").modal("show");
                                    setTimeout(9000);
                                    location.href = "/Admin/Ticket";


                                }
                                else if (data == "3") {
                                    location.href = "/Admin/Logout";
                                }
                                else {
                                    $("#modal_3 .modal-body h5").html(data);
                                    $("#modal_3").modal("show");
                                }
                            }
                        });
                    }
                    else {
                        $("#modal_3 .modal-body h5").html("Nothing selected.");
                        $("#modal_3").modal("show");
                    }
                })



                $(".blue").click(function () {
                    debugger;
                    $.ajax({
                        type: 'POST',
                        url: "/Admin/tooltip_ticket_details",
                        data: { id: $(this).attr('value') },
                        dataType: "json",
                        success: function (data) {
                            if (data[0] == "No data found") {
                                $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                                $("#modal_4 .modal-body #Ticket_d").html(data[0]);
                                $("#modal_4").modal("show");
                            } else {
                                $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                                $("#modal_4 .modal-body #Ticket_d").html(data[1]);
                                $("#modal_4").modal("show");
                            }

                        }
                    });
                });
            });
        </script>
    }
