﻿@{
    ViewBag.Title = "UserReportDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        GetReportData();

        function GetReportData() {

            debugger;
            $.ajax({
                url: "/Admin/GetUserReports",
                type: "GET",
                success: function (data) {
                    debugger;
                    var tr = '';
                    $('#table1 tbody').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            tr += '<tr><td>' + (i + 1) + '</td>';
                            tr += '<td>' + data[i].Regd_No + '</td>';
                            tr += '<td>' + data[i].Customer_Name + '</td>';
                            tr += '<td>' + data[i].Mobile + '</td>';
                            tr += '<td>' + data[i].Email + '</td>';
                            tr += '<td>' + data[i].Inserted + '</td>';
                            tr += '<td>' + data[i].Organisation_Name + '</td>';
                            tr += '<td>' + data[i].Class_Name + '</td>';
                            if (data[i].STATUS == "A") {
                                tr += '<td><span class="label label-success">Active</span></td>';
                            }
                            else {
                                tr += '<td><span class="label label-warning">Inactive</span></td>';
                            }
                            tr += '<td><a class = "glyphicon glyphicon-list-alt" href="../Admin/ViewStudent?id=' + data[i].Regd_ID + '"></a></td>';
                            if (data[i].STATUS == "A") {
                                if (data[i].IS_ACCEPTED == true) {
                                    tr += '<td><a class = "glyphicon glyphicon-ban-circle" href="../Admin/Blockuser?id=' + data[i].Regd_ID + '">Block</a></td>';
                                }
                                else {
                                    tr += '<td><a class = "glyphicon glyphicon-check" href="../Admin/Blockuser?id=' + data[i].Regd_ID + '">Unblock</a></td>';
                                }
                            }
                            else {
                                tr += '<td></td>';
                            }
                            tr += '</tr>';

                        }
                        var oTable = $('#table1').dataTable();
                        oTable.fnDestroy();
                        $('#table1 tbody').html(tr);
                        $('#table1').dataTable();

                    }
                    else {
                        $('#table1 tbody').empty();
                    }
                }
            })

        }
        $('#btnadd').click(function () {
            $.get('/Admin/Getuserreportbydate?fdt=' + $('#f_Date').val() + '&tdt=' + $('#t_Date').val(), function (data) {
                debugger;
                var tr = '';
                if (data.r == '0') {
                    alert('from date is greater than to date');
                }
                if (data.r == '1') {
                    alert('to date is greater than today date');
                }
                if (data.r == '2') {
                    alert('from date is greater than today date');
                }
                if (data.r == '3') {
                    alert('select from date and to date');
                }
                if (data.d == '4') {
                    if (data.r.length > 0) {
                        $('#table1 tbody').empty();

                        for (var i = 0; i < data.r.length; i++) {
                            tr += '<tr><td>' + (i + 1) + '</td>';
                            tr += '<td>' + data.r[i].Regd_No + '</td>';
                            tr += '<td>' + data.r[i].Customer_Name + '</td>';
                            tr += '<td>' + data.r[i].Mobile + '</td>';
                            tr += '<td>' + data.r[i].Email + '</td>';
                            tr += '<td>' + data.r[i].Inserted + '</td>';
                            tr += '<td>' + data.r[i].Organisation_Name + '</td>';
                            tr += '<td>' + data.r[i].Class_Name + '</td>';
                            if (data.r[i].STATUS == "A") {
                                tr += '<td><span class="label label-success">Active</span></td>';
                            }
                            else {
                                tr += '<td><span class="label label-warning">Inactive</span></td>';
                            }
                            tr += '<td><a class = "glyphicon glyphicon-list-alt" href="../Admin/ViewStudent?id=' + data.r[i].Regd_ID + '"></a></td>';
                            if (data.r[i].STATUS == "A") {
                                if (data.r[i].IS_ACCEPTED == true) {
                                    tr += '<td><a class = "glyphicon glyphicon-ban-circle" href="../Admin/Blockuser?id=' + data.r[i].Regd_ID + '">Block</a></td>';
                                }
                                else {
                                    tr += '<td><a class = "glyphicon glyphicon-check" href="../Admin/Blockuser?id=' + data.r[i].Regd_ID + '">Unblock</a></td>';
                                }
                            }
                            else {
                                tr += '<td></td>';
                            }
                            tr += '</tr>';

                        }

                        var oTable = $('#table1').dataTable();
                        oTable.fnDestroy();
                        $('#table1 tbody').html(tr);
                        $('#table1').dataTable();
                    }
                    else {
                        $('#table1 tbody').empty();
                    }
                }
            })

        })
        $('#btnexport').click(function () {
            window.location = '../Admin/Exportuserreportdata';

        })
    })
</script>



<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Users Report
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i>Reports</span>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-list-ul"></i>Search Reports By Date </h3>
                </div>
                <div class="box-content">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-2 control-label">From Date<span class="asterisk">*</span></label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select From date" id="f_Date" name="f_Date" class="datepicker form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-2 control-label">To Date<span class="asterisk">*</span></label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" id="t_Date" name="t_Date" class="datepicker form-control" />
                                    </div>
                                </div>
                                <div class="form-group last box-tooll">
                                    <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                        <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Registered Students</h3>
                    <div class="box-tool box-tooll">

                        <a href="#" id="btnexport" class="btn btn-primary dropdown-toggle"><i class="fa fa-file-excel-o"></i> XLS</a>

                    </div>
                </div>
                <div class="box-content">

                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Reg. No</th>
                                    <th>Name</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>School</th>
                                    <th>Class</th>
                                    <th>Users Status</th>
                                    <th>View</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#validation-form").validate();
        $(document).ready(function () {
            //   $('#tblVideoReport').DataTable();
            // $('#tblVideoReport').DataTable();
        });
    </script>
    <script src="~/js/plugins/tableexport/jspdf/libs/base64.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
    <script src="~/js/plugins/tableexport/jspdf/jspdf.js"></script>
    <script src="~/js/plugins/tableexport/html2canvas.js"></script>
    <script src="~/js/plugins/tableexport/jquery.base64.js"></script>
    <script src="~/js/plugins/tableexport/tableExport.js"></script>
}
