﻿@{
    ViewBag.Title = "ViewDIYVideo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    video::-internal-media-controls-download-button {
        display: none;
    }

    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }
</style>

<div class="page-content-wrap">
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file-text"></i>DIY Video Details</h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/Admin/AddDIYVideo"><i class="fa fa-plus"></i><span>Add New</span> </a>
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Module Video</h4>
                            </div>
                            <div class="modal-body">
                                <div id="" class="vidoscls" style="height: 350px; position: relative;"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default close">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="clearfix"></div>
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Video Name</th>
                                    <th>Video</th>
                                    <th>Description</th>
                                    <th style="width: 15%;">Action</th>
                                    <th hidden> id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.data != null)
                                {
                                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                    int rowNo = 0;
                                    foreach (var item in ViewBag.data)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.DIYVideo_Name</td>
                                            <td><a id="@item.DIYVideo_Upload" class="videoid" href="#"><img border="0" alt="Module Video" src="~/Images/video.png" width="30" height="30"></a></td>
                                            <td>@item.DIYVideo_Description</td>
                                            <td>
                                                @Html.ActionLink(" ", "AddDIYVideo", "Admin", new { ID = @item.DIYVideo_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })
                                                @Html.ActionLink(" ", "DeleteDIYVideo", "Admin", new { ID = @item.DIYVideo_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the banner?')", @data_original_title = "Delete", @title = "Delete" })
                                            </td>
                                            <td hidden>@item.DIYVideo_ID</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
  {
    <script type="text/javascript" src="~/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
    <script>
        $(document).ready(function () {

            $("#table1").on('click', '.videoid', function (event) {
                debugger;
                var video_key = $(this).attr("id");
                $('.vidoscls').attr('id', "");

                $.ajax({
                    type: "POST",
                    url: "/Admin/ciphervideo",
                    data: { video_key: video_key },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        //var video_url = $(this).parents(".post-thumb").find('video').find('source.vsrc').attr('src');
                        (function (v, i, d, e, o) {
                            v[o] = v[o] || {}; v[o].add = v[o].add || function V(a) { (v[o].d = v[o].d || []).push(a); };
                            if (!v[o].l) {
                                v[o].l = 1 * new Date(); a = i.createElement(d), m = i.getElementsByTagName(d)[0];
                                a.async = 1; a.src = e; m.parentNode.insertBefore(a, m);
                            }
                        })(window, document, 'script', '//de122v0opjemw.cloudfront.net/vdo.js', 'vdo');
                        vdo.add({
                            o: data,

                        })
                        $('.vidoscls').attr('id', "vdo" + data);
                        $('#myModal').modal('show');
                    }
                });


            });



            //$('#myModal').modal('show');




            $("#table1").on('click', '.pdfid', function (event) {
                debugger;
                var href = $(this).attr("id");

                $('#pdfview').attr('data', href);
                $('#myModal2').modal('show');

            })
        })
    </script>

    <script language="javascript" type="text/javascript">

        $('.close').click(function () {


            location.reload();
            $('#myModal').modal('hide');

        });

    </script>
}