﻿@{
    ViewBag.Title = "CreateSyllabus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model DigiChamps.Models.OnlineClassModel

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <a href="~/Grievance/GrievanceList">GrievanceList</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>Create</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveSyllabus", "OnlineClass", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create OnlineSyllabus</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="ID" id="onlineClassId" class="form-control" />
                        @*<div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="SubjectId" id="ddlSub" class="form-control chosen" data-rule-required="true" data-msg-required="Please select subject">
                                    @if (ViewBag.Subject != null)
                                    { 
                                        foreach (var t in ViewBag.Subject)
                                        {
                                            <option value="@t.Subject_Id">@t.Subject</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>*@
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="ChapterId" id="ddlChapter" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.Chapter != null)
                                    {
                                        <option value="">Please Select Chapter</option>
                                        foreach (var t in ViewBag.Chapter)
                                        {
                                            <option value="@t.Chapter_Id">@t.Chapter</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Title</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="SyllabusTitle" class="form-control" id="txt_SyllabusTitle" />
                            </div>
                        </div> <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Description</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="SyllabusDescription" class="form-control" id="SyllabusDescription" />
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("GetGrievanceByUserId", "Grievance")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>