﻿@{
    ViewBag.Title = "CreateOnlineClassHomeWork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <a href="~/Grievance/GrievanceList">GrievanceList</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>Create</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveOnlineClassHomeWork", "OnlineClass", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Add HomeWork</h3>
                    </div>
                  
                    <div class="box-content">
                        <br /><br />
                        <div class="form-group">
                            <label for="Attachments" class="col-sm-3 col-lg-2 control-label">Upload HomeWork:</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="file" id="img" name="HW_pdf" accept=".pdf">
                            </div>
                        </div>

                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("GetGrievanceByUserId", "Grievance")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>