﻿@{
    ViewBag.Title = "CreateSingleOnlineClass";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model DigiChamps.Models.OnlineClassModel

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <a href="~/Grievance/GrievanceList">GrievanceList</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>Create</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveSingleOnlineClass", "OnlineClass", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create OnlineClass</h3>
                    </div>

                    <div class="box-content">
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Teacher</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="TeacherId" id="ddlTeacher" class="form-control" data-rule-required="true" data-msg-required="Please select Teacher">
                                    @if (ViewBag.Teacher != null)
                                    {
                                        <option value="">Please Select Teacher</option>
                                        foreach (var t in ViewBag.Teacher)
                                        {
                                            <option value="@t.TeacherId">@t.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="SchoolId" id="ddlschool" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.School != null)
                                    {
                                        <option value="">Please Select School</option>
                                        foreach (var t in ViewBag.School)
                                        {
                                            <option value="@t.SchoolId">@t.SchoolName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="BoardId" id="ddlboard" class="form-control" data-rule-required="true" data-msg-required="Please select board">
                                    @if (ViewBag.Board != null)
                                    {
                                        <option value="">Please Select Board</option>
                                        foreach (var t in ViewBag.Board)
                                        {
                                            <option value="@t.Board_Id">@t.Board_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="ClassId" id="ddlClass" class="form-control" data-rule-required="true" data-msg-required="Please select class">
                                    @*@if (ViewBag.Class != null)
                                        {
                                            <option value="">Please Select Class</option>
                                            foreach (var t in ViewBag.Class)
                                            {
                                                <option value="@t.Class_Id">@t.Class_Name</option>
                                            }
                                        }*@
                                </select>
                            </div>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="SectionId" id="ddlsection" class="form-control" data-rule-required="true" data-msg-required="Please select section">
                                    @*@if (ViewBag.Section != null)
                                        {
                                            <option value="">Please Select Section</option>
                                            foreach (var t in ViewBag.Section)
                                            {
                                                <option value="@t.SectionId">@t.SectionName</option>
                                            }
                                        }*@
                                </select>
                            </div>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="SubjectId" id="ddlSub" class="form-control chosen" data-rule-required="true" data-msg-required="Please select subject">
                                    @if (ViewBag.Subject != null)
                                    {
                                        <option value="">Please Select Subject</option>
                                        foreach (var t in ViewBag.Subject)
                                        {
                                            <option value="@t.Subject_Id">@t.Subject</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Date</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="datetime-local" name="Date" class="form-control" id="txt_Date" />
                            </div>
                        </div> <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">StartTime</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="time" name="StartTime" class="form-control" id="txt_StartTime" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">EndTime</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="time" name="EndTime" class="form-control" id="txt_EndTime" />
                            </div>
                        </div>

                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("GetGrievanceByUserId", "Grievance")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#ddlClass').change(function () {
            var dssd = $("#ddlClass").val();
            if ($("#ddlClass").val() != '') {
                $.get('/OnlineClass/GetSectionByClass', { classId: $('#ddlClass').val() }, function (data) {
                    $('#ddlsection').empty();
                    if (data.length > 0) {
                        $("#ddlsection").append('<option value="">  Select Section </option>');
                        $.each(data, function (i, item) {
                            $("#ddlsection").append('<option value="' + item.SectionId + '"> ' + item.SectionName + ' </option>');
                        });

                    }
                    else {
                        $('#ddlsection').empty();
                        $("#ddlsection").append('<option value=""> No Class </option>');
                    }
                })
            }
            else {
                $('#ddlsection').empty();
                $("#ddlsection").append('<option value="">  Select Class </option>');
            }

        });

        $("#ddlboard").change(function () {
            debugger;
            if ($("#ddlboard").val() != '') {
                $.get('/OnlineClass/GetClassByBoard', { boardId: $('#ddlboard').val() }, function (data) {
                    //  $('#ddlClass').empty();
                    if (data.length > 0) {
                        $("#ddlClass").append('<option value="">  Select Class </option>');
                        $.each(data, function (i, item) {
                            $("#ddlClass").append('<option value="' + item.Class_Id + '"> ' + item.Class_Name + ' </option>');
                        });
                        // $("#ddlClass").trigger();
                    }
                    else {
                        // $('#ddlClass').empty();
                        $("#ddlClass").append('<option value=""> No Class </option>');
                    }
                })
            }
            else {
                //  $('#ddlClass').empty();
                $("#ddlClass").append('<option value="">  Select Class </option>');
            }
        });
    });
</script>