﻿@{
    ViewBag.Title = "HomeWorkDetails";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@model DigiChamps.Models.OnlineClassHomeWorkDetails
@using System.Globalization;
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i>View Home Work Details </h3>
                <div class="box-tool box-tooll">
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                <div class="form-group voffset3">
                    @*<input type="hidden" id="hdnId" value="@Model.ClassModel.ID" />*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold"><span>Homework :</span></label>
                                </div>

                                <div class="col-md-6  text-left">
                                    <label class="h6 font-weight-bolder"><a target="_blank" href="@Model.WorkModel.HomeWorkPdf">View Question</a></label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Total Student:</label>
                                </div>

                                <div class="col-md-6 text-left">
                                    <label class="h6 font-weight-bolder">@Model.WorkModel.TotalStudentCount</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Uploaded Date:</label>
                                </div>

                                <div class="col-md-6 text-left">
                                    <label class="h6 font-weight-bolder">@Model.WorkModel.InsertedDate.Date.ToString("dd MMMM yyyy")</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">UploadedTime:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.WorkModel.InsertedDate.TimeOfDay</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Uploaded Count:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.WorkModel.UploadedStudentCount</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Not Uploded Count:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.WorkModel.NotUploaded</label>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Uploaded Student List </h3>
            </div>

            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>StudentName</th>
                                <th>Mobile</th>
                                <th>UploadedDate</th>
                                <th>UploadedTime</th>
                                <th>Answer PDF</th>
                                <th>Verified</th>
                                <th>Verified By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model.UploadedDetails)
                                {
                                    //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.StudentName</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.UplodedDate.Value.ToString("dd MMMM yyyy")</td>
                                        <td>@item.UplodedDate.Value.ToString("hh:mm tt")</td>
                                        <td>
                                            <a target="_blank" href="@item.uploadedpdf">View PDF</a>
                                        </td>
                                        <td>
                                            <input type="checkbox" readonly checked="@(item.Verified)" name="verify" />
                                        </td>
                                        <td>
                                            <label id="lblteacher@(item.ID)">@item.verifiedteachername</label>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> NotUploadedStudent List </h3>
            </div>

            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table3">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>StudentName</th>
                                <th>Mobile</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model.NotUploadedDetails)
                                {
                                    //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.StudentName</td>
                                        <td>@item.Mobile</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
   $(document).ready(function () {
        $('#table3').dataTable();
    })
</script>
