﻿@{
    ViewBag.Title = "OnlineClassList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<DigiChamps.Models.OnlineClassModel>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>GrievanceList</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-filter"></i> Filter </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="@Url.Action("CreateOnlineClass", "OnlineClass")"><i class="fa fa-search"></i><span>Search</span></a>
                </div>
            </div>

            <div class="box-content">
                <div class="table-responsive">
                    <div class="card-body bg-white">


                        <div class="row col-12">
                            <div class="col-md-3 form-group">

                                <label class="form-label">School</label>
                                <select class="form-control " id="ddlSchool" name="Type">
                                    <option value="All">All</option>
                                    @foreach (var a in ViewBag.School)
                                    {
                                        <option value="@a.SchoolId">@a.SchoolName</option>
                                    }

                                </select>

                            </div>
                            <div class="col-md-3 form-group">

                                <label class="form-label">Board</label>
                                <select class="form-control " id="ddlboard" name="Type">
                                    <option value="All">All</option>
                                    @foreach (var a in ViewBag.Board)
                                    {
                                        <option value="@a.Board_Id">@a.Board_Name</option>
                                    }
                                </select>

                            </div>
                            <div class="col-md-3 form-group">

                                <label class="form-label">Class</label>
                                <select class="form-control " id="ddlClass" name="Type">
                                </select>

                            </div>
                            <div class="col-md-3 form-group">

                                <label class="form-label">Section</label>
                                <select class="form-control " id="ddlsection" name="Type">
                                </select>

                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-md-3 form-group">

                                <label class="form-label">Subject</label>
                                <select class="form-control " id="ddlSubject" name="Type">
                                    @*<option value="All">All</option>
                                    @foreach (var a in ViewBag.Subject)
                                    {
                                        <option value="@a.Subject_Id">@a.Subject</option>

                                    }*@
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> OnlineClass List </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="@Url.Action("CreateSingleOnlineClass", "OnlineClass")"><i class="fa fa-plus"></i><span>New OnlineClass</span></a>
                    </div>
                </div>

                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>School</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>TeacherName</th>
                                    <th>Subject</th>
                                    <th>Syllabus</th>
                                    <th>HomeWork</th>
                                    <th>Date</th>
                                    <th>StartTime</th>
                                    <th>EndTime</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.SchoolName</td>
                                    <td>@item.BoardName</td>
                                    <td>@item.ClassName</td>
                                    <td>@item.SectionName</td>
                                    <td>@item.TeacherName</td>
                                    <td>@item.SubjectName</td>
                                    <td>
                                        @Html.ActionLink(" ", "CreateSyllabus2", "OnlineClass", new { id = @item.ID, subId = item.SubjectId }, new { @class = "btn btn-sm btn-primary fa fa-plus", @title = "Add Syllabus" })

                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "CreateOnlineClassHomeWork", "OnlineClass", new { id = @item.ID }, new { @class = "btn btn-sm btn-primary fa fa-plus", @title = "Add Syllabus" })

                                    </td>
                                    <td>@item.Date.Value.ToString("dd MMMM yyyy")</td>
                                    <td>@item.StartTime</td>
                                    <td>@item.EndTime</td>
                                    <td>
                                        @Html.ActionLink(" ", "ViewOnlineClassDetails", "OnlineClass", new { id = @item.ID, sectionId = item.SectionId, subjectId = item.SubjectId }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })

                                    </td>
                                </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#ddlClass').change(function () {
            var dssd = $("#ddlClass").val();
            if ($("#ddlClass").val() != '') {
                $.get('/OnlineClass/GetSectionByClass', { classId: $('#ddlClass').val() }, function (data) {
                    $('#ddlsection').empty();
                    if (data.length > 0) {
                        $("#ddlsection").append('<option value="">  Select Section </option>');
                        $.each(data, function (i, item) {
                            $("#ddlsection").append('<option value="' + item.SectionId + '"> ' + item.SectionName + ' </option>');
                        });

                    }
                    else {
                        $('#ddlsection').empty();
                        $("#ddlsection").append('<option value=""> No Section </option>');
                    }
                })
            }
            else {
                $('#ddlsection').empty();
                $("#ddlsection").append('<option value="">  Select Section </option>');
            }

        });

          $('#ddlsection').change(function () { 
            if ($("#ddlsection").val() != '') {
                $.get('/OnlineClass/GetSubjectByClass', { classId: $('#ddlClass').val() }, function (data) {
                    $('#ddlSubject').empty();
                    if (data.length > 0) {
                        $("#ddlSubject").append('<option value="">  Select Subject </option>');
                        $.each(data, function (i, item) {
                            $("#ddlSubject").append('<option value="' + item.Subject_Id + '"> ' + item.Subject + ' </option>');
                        });

                    }
                    else {
                        $('#ddlSubject').empty();
                        $("#ddlSubject").append('<option value=""> No Subject </option>');
                    }
                })
            }
            else {
                $('#ddlSubject').empty();
                $("#ddlSubject").append('<option value="">  Select Subject </option>');
            }

        });

        $("#ddlboard").change(function () {
            debugger;
            if ($("#ddlboard").val() != '') {
                $.get('/OnlineClass/GetClassByBoard', { boardId: $('#ddlboard').val() }, function (data) { 
                    if (data.length > 0) {
                        $("#ddlClass").append('<option value="">  Select Class </option>');
                        $.each(data, function (i, item) {
                            $("#ddlClass").append('<option value="' + item.Class_Id + '"> ' + item.Class_Name + ' </option>');
                        }); 
                    }
                    else { 
                        $("#ddlClass").append('<option value=""> No Class </option>');
                    }
                })
            }
            else { 
                $("#ddlClass").append('<option value="">  Select Class </option>');
            }
        });
    });
</script>