﻿@{
    ViewBag.Title = "ViewOnlineClassDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model DigiChamps.Models.OnlineClassViewDetailaModel

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <a href="~/Grievance/GetGrievanceByUserId">GrievanceList</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>Details</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>


<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="card-body">

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>OnlineClass Details</h3>
                    </div>

                    <div class="box-content">
                        <div class="form-group voffset3">
                            <input type="hidden" id="hdnId" value="@Model.ClassModel.ID" />


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold"><span>School:</span></label>
                                        </div>

                                        <div class="col-md-6  text-left">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.SchoolName</label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Board:</label>
                                        </div>

                                        <div class="col-md-6 text-left">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.BoardName</label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Class:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.ClassName</label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Section:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.SectionName</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Teacher:</label>
                                        </div>

                                        <div class="col-md-6 text-left">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.TeacherName</label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Subject:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.SubjectName</label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Date:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.Date</label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">StartTime:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.StartTime</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">EndTime:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.ClassModel.EndTime</label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> OnlineClassSyllabus List </h3>
                </div>

                <div class="box-content">
                    <input type="hidden" name="SectionId" id="SecId" class="form-control" />
                    <input type="hidden" name="SubjectId" id="SubId" class="form-control" />
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>SyllabusTitle</th>
                                    <th>SyllabusDescription</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                    <th>Chapter</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model.SyllabusModel)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.SyllabusTitle</td>
                                    <td>@item.SyllabusDescription</td>
                                    <td>@item.ClassName</td>
                                    <td>@item.SubjectName</td>
                                    <td>@item.ChapterName</td>
                                    <td>
                                        @Html.ActionLink(" ", "GrievanceDetails", "Grievance", new { id = @item.ID }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })

                                    </td>
                                </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
