﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoIndex</title>
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <div>
        
    </div>
</body>
</html>
