﻿@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_StudentIndex.cshtml";
}
 <section class="inner-banner background">
        <div class="inner-banner-patter-screen">
            <span class="shape-one"></span>
            <span class="shape-two"></span>
            <span class="shape-thre"></span>
            <span class="shape-four"></span>
            <div class="content-a">
                <div class="content-b">
                    <div class="caption_contain">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    @*<p>Ready to leave a mark?</p>*@
                                    <h2>Price</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Banner Section End-->

<section class="content-area contact-us">
    <div class="container">
        @*<h1>Privacy Policy</h1>*@

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pri-policy">
                <img src="~/Student_assets/images/packages price final.png" />
</div>
           
        </div>
    </div>
</section>
wi