﻿@{
    ViewBag.Title = "AnswersheetDetails";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("savemarks", "OnlineExamDet", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Answersheet Details</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="onlineexamid" id="onlineexamid" />
                        <input type="hidden" name="onlinesheetid" id="onlinesheetid" />
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Student Name :</b></label>
                            <label for="textfield5" class="col-sm-4 col-lg-4 control-label"></label>
                            <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Class :</b></label>
                            <label for="textfield5" class="col-sm-4 col-lg-4 control-label"></label>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Section :</b></label>
                            <label for="textfield5" class="col-sm-4 col-lg-4 control-label"></label>
                            <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Subject :</b></label>
                            <label for="textfield5" class="col-sm-4 col-lg-4 control-label"></label>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Exam Type :</b></label>
                            <label for="textfield5" class="col-sm-4 col-lg-4 control-label"></label>
                            <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Mobile :</b></label>
                            <label for="textfield5" class="col-sm-4 col-lg-4 control-label"></label>
                        </div>
                        <div class="form-group voffset3">
                            <div class="col-sm-4 col-lg-4 controls">
                                <div class="box">
                                    <div class="box-title text-center">
                                        <h3>Question Paper</h3>
                                    </div>
                                    <div class="box-content">
                                        <embed src="~/Images/OnlineExam/" style="width:100%;height:100%;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 controls">
                                <div class="box">
                                    <div class="box-title text-center">
                                        <h3>Answer Sheet</h3>
                                    </div>
                                    <div class="box-content">
                                        <embed src="~/Images/OnlineExam/" style="width:100%;height:100%;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 controls">
                                <div class="box">
                                    <div class="box-title text-center">
                                        <h3>Give Score &amp; Remarks</h3>
                                    </div>
                                    <div class="box-content">
                                        <div id="divremarks">

                                            <div>
                                                <div class="form-group voffset3">
                                                    <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Q.No.</b></label>
                                                    <label for="textfield5" class="col-sm-4 col-lg-4 control-label">Marks</label>
                                                    <label for="textfield5" class="col-sm-6 col-lg-6 control-label"><b>Remarks</b></label>

                                                </div>
                                                <div class="form-group voffset3">
                                                    <div class="col-sm-2 col-lg-2 control">
                                                        <input type="text" id="quesname1" name="quesname" class="form-control" />
                                                    </div>
                                                    <div class="col-sm-4 col-lg-4 control">
                                                        <input type="text" id="quesmarks1" name="quesmarks" class="form-control" />
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6 control">
                                                        <input type="text" id="quesremarks1" name="quesremarks" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <a onclick="addbtn()"><i class="fa fa-plus"></i>Add More Fields</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ZoomVideoUploadList", "SchoolReport")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var i = 1;
    function addbtn() {
        i += 1;
        var s = '<div><div class="form-group voffset3"><label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Q.No.</b></label>';
        s += '<label for="textfield5" class="col-sm-4 col-lg-4 control-label">Marks</label><label for="textfield5" class="col-sm-6 col-lg-6 control-label"><b>Remarks</b></label>';
        s += '</div><div class="form-group voffset3"><div class="col-sm-2 col-lg-2 control">';
        s += '<input type="text" id="quesname'+(i)+'" name="quesname" class="form-control" /></div><div class="col-sm-4 col-lg-4 control">';
        s += '<input type="text" id="quesmarks'+(i)+'" name="quesmarks" class="form-control" /></div><div class="col-sm-6 col-lg-6 control">';
        s += '<input type="text" id="quesremarks'+(i)+'" name="quesremarks" class="form-control" /></div></div></div>';
        $('#divremarks').append(s);
    }
</script>
<script>
    $(document).ready(function () {
        //$("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var array = [];
                for (var k = 1; k <= i; k++) {
                    array.push({quesname:$('#quesname'+k).val(),quesmarks:$('#quesmarks'+k).val(),quesremarks:$('#quesremarks'+k).val()});
                }
                var s = array;
                $.ajax({
                    url: url,
                    type: "POST",
                    data: s,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/OnlineExamDet/AnswersheetDetails';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/OnlineExamDet/AnswersheetDetails';
                    }

                })
            }
        });
    })
</script>