﻿@{
    ViewBag.Title = "createoreditExamtime";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Create Or Edit Exam Time </h3>
                <div class="box-tool box-tooll">
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                <div class="row">
                    @using (Html.BeginForm("SaveorUpdateExamtime", "OnlineExamDet", FormMethod.Post,
new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                    {
                        <div class="form-group">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <select id="dateid" name="dateid" class="form-control">
                                        <option>Select Date</option>
                                        @if (ViewBag.onlinedates != null)
                                        {
                                            foreach (var item in ViewBag.onlinedates)
                                            {
                                                <option value="@item.OnlineExamDateId" selected="@(ViewBag.dateid==item.OnlineExamDateId?true:false)">@item.OnlineExamDateName</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="clearfix" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label>Start Time*</label>
                                </div>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="time" id="start" name="start" class="form-control" required data-msg-required="Please select start time" placeholder="start" value="@ViewBag.start" />
                                </div>

                                <div class="clearfix" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label>End Time*</label>
                                </div>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="time" id="end" name="end" class="form-control" required data-msg-required="Please select end time" placeholder="end" value="@ViewBag.end" />
                                </div>

                                <div class="clearfix" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/OnlineExamDet/Examtime';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/OnlineExamDet/Examtime';
                    }

                })
            }
        });
    })
</script>