﻿@{
    ViewBag.Title = "CreateOrEditOnlineExam";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveOnlineExam", "OnlineExamDet", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create Online Exam</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="id" id="id" value="@ViewBag.id" />
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="board" id="ddlboard" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.boardlist != null)
                                    {
                                        <option>Select Board</option>
                                        foreach (var t in ViewBag.boardlist)
                                        {
                                            <option value="@t.Board_Id">@t.Board_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.schoollist != null)
                                {
                                    foreach (var a in ViewBag.schoollist)
                                    {
                                        <label><input type="checkbox" name="school" value="@a.SchoolId" /> @a.SchoolName</label>
                                    }
                                }


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="cls" id="ddlclass" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlsubject" name="Subject" class="form-control"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Date<</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlexamdate" name="examdate" class="form-control">
                                    @if (ViewBag.examdates != null)
                                    {
                                        <option>Select Exam Date</option>
                                        foreach (var t in ViewBag.examdates)
                                        {
                                            <option value="@t.OnlineExamDateId">@t.OnlineExamDateName</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Time</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlexamtime" name="examtime" class="form-control"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Type</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlexamtype" name="examtype" class="form-control">
                                    @if (ViewBag.examtypes != null)
                                    {
                                        <option>Select Exam Type</option>
                                        foreach (var t in ViewBag.examtypes)
                                        {
                                            <option value="@t.OnlineExamTypeId">@t.OnlineExamTypeName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Instruction</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <textarea id="txtinstruction" name="instruction" class="form-control" rows="9"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Question PDF</label>
                            <div class="col-sm-6 col-lg-4 controls">
                                <input type="file" id="quespdf" name="quespdf" accept=".pdf" />
                            </div>
                            @*<div class="col-sm-3 col-lg-3 controls">
                                @if (ViewBag.onlineexam.PDF != null)
                                {
                                    <a id="~/Images/OnlineExam/@ViewBag.onlineexam.PDF" class="qstnpdf" href="#"><img border="0" alt="Sample PDF" src="~/Images/pdf5.png" width="30" height="30"></a>
                                }
                            </div>*@
                        </div>

                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("OnlineExam", "OnlineExamDet")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
        @*var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
         var examdateid = '@(ViewBag.examdate == null ? 0 : ViewBag.examdate)';
        GetClass(boardid);
        GetSubject(classid);
        Getexamtime(examdateid);*@
        $('#btnSearch').submit(function () {
            $('.loader-ajax-container').fadeIn(300);
            return true;
        })
         $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
         })
          $('#ddlclass').change(function () {
            GetSubject($('#ddlclass').val());
          })
         $('#ddlexamdate').change(function () {
            Getexamtime($('#ddlexamdate').val());
        })
        function GetClass(id) {
            // $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                    //     if (classid > 0) {
                    //    $('#ddlclass').val(classid);
                    //}
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>Select Class</option>');

                    }
                    //   $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>Select Class</option>');
                //   $('.loader-ajax-container').fadeOut(300);
            }
        }
        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>Select Subject</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        //if (subjectid > 0) {
                        //    $('#ddlsubject').val(subjectid);
                        //}
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>Select Subject</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>Select Subject</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
        function Getexamtime(id) {
              $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/OnlineExamDet/GetExamTimeList?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlexamtime').empty();
                        $('#ddlexamtime').append('<option selected>Select Exam Time</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlexamtime').append('<option value="' + data[i].OnlineExamTimeId + '">' + data[i].Start_Time_Name+"-"+data[i].End_Time_Name + '</option>')
                        }
                        //if (subjectid > 0) {
                        //    $('#ddlexamtime').val(subjectid);
                        //}
                    }
                    else {
                        $('#ddlexamtime').empty();
                        $('#ddlexamtime').append('<option>Select Exam Time</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlexamtime').empty();
                $('#ddlexamtime').append('<option selected>Select Exam Time</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
    })
</script>