﻿@{
    ViewBag.Title = "Examdate";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/SchoolReport/Dashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Online Exam Date</li>
        </ul>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Exam Date </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/OnlineExamDet/createoreditExamdate"><i class="fa fa-plus"></i><span> Add</span></a>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="table-responsive">
                    <table class="table table-advance" id="table1">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Name</th>
                                <th>Added On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.examtdatelist != null)
                                {
                                    int i = 0;

                                    foreach (var a in ViewBag.examtdatelist)
                                    {
                                        <tr>
                                            <td>@(i = i + 1)</td>
                                            <td>@a.OnlineExamDateName</td>
                                            <td>@(Convert.ToDateTime(a.InsertedOn).ToString("dd MMM yyyy"))</td>
                                            <td>
                                                <a href="/OnlineExamDet/createoreditExamdate/@a.OnlineExamDateId" class="btn btn-sm btn-primary show-tooltip"  title="Edit">Edit</a>
                                                @*<button href="/OnlineExamDet/removeExamdate/@a.OnlineExamDateId" class="btn btn-sm btn-danger show-tooltip" onclick="return confirm('Are You Sure Want To Remove This Date ..?')"><i class="fa fa-trash"></i></button>*@

                                                @Html.ActionLink("Delete", "removeExamdate", "OnlineExamDet", new { id = @a.OnlineExamDateId }, new { @class = "btn btn-sm btn-danger show-tooltip ", @title = "Delete" ,@onclick="return confirm('Are You Sure Want To Remove This Date ..?')"})



                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>