﻿@{
    ViewBag.Title = "ViewQuestionObjectiveExam";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}
@model DigiChamps.Models.ViewObjectiveExamcls
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<style>


    ul li::marker {
        font-weight: bolder !important;
    }
</style>
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @*@using (Html.BeginForm("savemarks", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
                {
                    @Html.AntiForgeryToken();*@

            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Objective Exam Details</h3>
                </div>

                <div class="box-content">
                    <input type="hidden" name="onlineexamid" id="onlineexamid" value="@Model.objectiveExam.OnlineObjectiveExamId" />
                    <div class="form-group voffset3">
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>School :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@Model.objectiveExam.SchoolName</label>
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Board :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@Model.objectiveExam.BoardName</label>
                    </div>
                    <div class="form-group voffset3">
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Class :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@Model.objectiveExam.ClassName</label>
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Subject :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@Model.objectiveExam.SubjectName</label>
                    </div>
                    <div class="form-group voffset3">
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Exam Date :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@Model.objectiveExam.OnlineExamDateName</label>
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Exam Time :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@(Model.objectiveExam.StartTimeName + "-" + Model.objectiveExam.EndTimeName)</label>
                    </div>
                    <div class="form-group voffset3">
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Is Negative Mark :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@(Model.objectiveExam.IsNegative == true ? "Yes" : "No")</label>
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Negative Mark :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@(Model.objectiveExam.NegativeMark)</label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group voffset3">
                        <div class="box">
                            <div class="box-title text-center">
                                <h3>Objective Question Paper</h3>
                            </div>
                            <div class="box-content">
                                @if (Model.questions != null)
                                {
                                    int i = 0;
                                    <div class="row">
                                        @foreach (var a in Model.questions)
                                        {

                                            <div class="col-md-6" style="margin-bottom:5px;">
                                                <a data-toggle="collapse" class="form-control btn btn-success text-left" data-target="#divques@(i)">Question @(i + 1)</a>
                                                <div class="collapse" id="divques@(i)" style="margin-top:10px;">
                                                    <div class="form-group" style="margin-bottom:5px;">
                                                        <strong>@(++i) . </strong><label>@a.examQuestion.Question</label><label> (Mark :@a.examQuestion.Mark)</label>
                                                    </div>
                                                    @if (a.examQuestion.QuestionImage != null)
                                                    {
                                                        <div class="form-group" style="margin-bottom:5px;">
                                                            <img style="width:100%" src="~/Images/ObjectiveQuestion/@a.examQuestion.QuestionImage" />
                                                        </div>
                                                    }
                                                    <div class="form-group" style="margin-bottom:5px;">
                                                        <ul style="list-style-type:upper-alpha;">
                                                            @foreach (var m in a.examAnswers)
                                                            {
                                                                <li style="margin-bottom:5px;">
                                                                    <div style="margin-bottom:5px;">@m.Option</div>
                                                                    @if (m.OptionImage != null)
                                                                    {
                                                                        <div>
                                                                            <img style="width:100%" src="~/Images/ObjectiveOption/@m.OptionImage" />
                                                                        </div>
                                                                    }

                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    @if (a.examAnswers.Count>0)
                                                    {
                                                        <div class="form-group" style="margin-bottom:5px;">
                                                            <strong>Answer :</strong><span>@(a.examAnswers.Where(h => h.IsCorrect == true).FirstOrDefault().Option)</span>
                                                        </div>
                                                        if (a.examAnswers.Where(h => h.IsCorrect == true).FirstOrDefault().OptionImage != null)
                                                        {
                                                            <div>
                                                                <img style="width:100%" src="~/Images/ObjectiveOption/@(a.examAnswers.Where(h => h.IsCorrect == true).FirstOrDefault().OptionImage)" />
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                        }
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <br /><br />
                </div>

            </div>
        </div>

    </div>


</div>