﻿@{
    ViewBag.Title = "GetCommentByGrievanceId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model IEnumerable<DigiChamps.Models.GrievanceComment>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <a href="~/Grievance/GrivanceMaster">GrivanceMaster</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>GrievanceList</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>


<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-comment-o"></i> Grievance Comment </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="@Url.Action("CreateGrievance", "Grievance")"><i class="fa fa-plus"></i><span>Add Attachment</span></a>
                    </div>
                </div>

                <div class="box-content">
                    <div class="table-responsive">


                        <div class="card-body">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            </div>
                            <div class="row">
                                <div class="container-fluid">
                                    <input id="grievanceId" type="hidden" value="@Model.FirstOrDefault().GrievanceId" />
                                    <section class="comments">
                                        @if (Model.Count() > 0)
                                        {
                                            foreach (var a in Model)
                                            {
                                                <article class="comment">
                                                    <a class="comment-img" href="#non">
                                                        <img src="~/Models/img/user_profile.png" alt="abc" width="50" height="50">
                                                    </a>
                                                    <div class="comment-body">
                                                       
                                                        <div class="text">
                                                            <p class="h5 mb-0 text-dark font-weight-normal">@a.Description</p> 
                                                        </div>

                                                        @if (ViewBag.u_code == a.InsertedId.ToString())
                                                        {
                                                            <p class="attribution">
                                                                by <a href="#non"><span class="text-success">@a.InsertedId</span>
                                                                     </a> at <span class="text-success">
                                                                    @a.InsertedDateTime
                                                                </span>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <p class="attribution">
                                                                by <a href="#non">
                                                                    <span class="text-primary">
                                                                        @ViewBag.u_code
                                                                    </span>
                                                                </a> at <span class="text-primary">
                                                                    @a.InsertedDateTime
                                                                </span>
                                                            </p>
                                                        }

                                                    </div>
                                                   
                                                </article>
                                            }
                                        }

                                        <article>
                                            <a class="comment-img" href="#non">
                                                <img src="~/Models/img/user_profile.png" alt="odm" width="50" height="50">
                                            </a>
                                            <div class="comment-body">
                                                <div class="text">
                                                    <textarea class="form-control h5 mb-0 text-dark font-weight-normal" id="txtcomment" name="txtcomment" rows="6" placeholder="Write Comment Here..."></textarea>
                                                    <span class="text-danger" id="spantxtcomment"></span>
                                                </div>
                                                <input type="button" value="Submit" id="btnuploadcomment" class="btn btn-primary float-right mt-3 text-xl-right" style="float: right; padding-left:20px;padding-right:20px; margin-right:60px" />

                                            </div>

                                        </article>

                                    </section>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#btnuploadcomment').click(function () {  
            if ($('#txtcomment').val() == '') {
                $('#spantxtcomment').html('Enter Comment');  
                return false;
            }
            else {
                $('#spantxtcomment').html('');
            } 
            var desc = $('#txtcomment').val();
            var grivId = $('#grievanceId').val();
            var data = {desc: desc,grivId:grivId}

             
        $.ajax({
            type: "POST",
            url: '/Grievance/CreateComment',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data);
            
            }
        })
            
        })
    })

</script>


<style>
    .comments:before {
        width: 4px;
        top: -20px;
        bottom: 20px;
        background: rgba(0,0,0,0.1);
    }

    .comments:before, .comment:before, .comment .text:before {
        content: "";
        position: absolute;
        top: 0;
        left: 85px;
    }

    .comment-img {
        float: left;
        margin-right: 33px;
        border-radius: 5px;
        overflow: hidden;
    }

    a {
        cursor: pointer;
    }

    .comment-body {
        overflow: hidden;
    }

    div {
        display: block;
    }
</style>