﻿@{
    ViewBag.Title = "AllWorksheetResultList";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}
<style>
 .table>tbody>tr>td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 @model IEnumerable<DigiChamps.Controllers.TeacherAccessController.totalscoreclass>
</style>
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Worksheet Details</li>
    </ul>
</div>

<div class="page-content-wrap">
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-ticket"></i>All Worksheet Details</h3>
                        
                    </div>
                    <div class="box-content">
                        <form action="AllWorksheetResultList" method="post">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">School</div>
                                    <div class="form-group">
                                        <select id="ddlschool" name="School" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Board</div>
                                    <div class="form-group">
                                        <select id="ddlboard" name="board" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Class</div>
                                    <div class="form-group">
                                        <select id="ddlclass" name="cls" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Section</div>
                                    <div class="form-group">
                                        <select id="ddlsection" name="sec" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">Subject</div>
                                    <div class="form-group">
                                        <select id="ddlsubject" name="subject" class="form-control"></select>
                                    </div>
                                </div>
                              
                                <div class="col-md-3">
                                    <div class="form-group">Status</div>
                                    <div class="form-group">
                                        <select id="ddlexamtype" name="examtype" class="form-control">                                           
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group" style="margin-bottom: 33px;"></div>
                                    <div class="form-group"> <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button></div>

                                </div>
                            </div>
                        </form>
                        <div class="table-responsive" style="border:0">
                            <table class="table table-advance table-hover" id="table1">
                                <thead>
                                    <tr>
                                        <th>sl no</th>
                                        <th>Student Name</th>
                                        <th>Board</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Subject</th>
                                        <th>Subjective Score</th>
                                        <th>Objective Score</th>
                                        <th>Worksheet Score</th>
                                        <th>Total Score</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{ int i = 0; }
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@(i += 1)</td>
                                        <td title="@item.Customer_Name">@item.Customer_Name</td>
                                        <td  title="@item.Board_Name">@item.Board_Name</td>
                                        <td  title="@item.Class_Name">@item.Class_Name</td>
                                        <td  title="@item.SectionName">@item.SectionName</td>
                                        <td  title="@item.Subject">@item.Subject</td>
                                        <td title="@(string.Format("{0:F2}",item.subjectivescore))">@(string.Format("{0:F2}", item.subjectivescore))</td>
                                        <td  title="@(string.Format("{0:F2}",item.objectivescore))">@(string.Format("{0:F2}",item.objectivescore))</td>
                                        <td  title="@(string.Format("{0:F2}",item.worksheetscore))">@(string.Format("{0:F2}",item.worksheetscore))</td>
                                        <td title="@(string.Format("{0:F2}",(item.subjectivescore+item.objectivescore+Convert.ToDecimal(item.worksheetscore))))">@(string.Format("{0:F2}",(item.subjectivescore + item.objectivescore + Convert.ToDecimal(item.worksheetscore))))</td>
                                    </tr>

                                    }



                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<script>
    $(document).ready(function () {
        var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';
        var examtypeid = '@(ViewBag.examtype==null?0:ViewBag.examtype)';

        GetExamType();
        GetSchool();
        GetBoard();
        GetClass();
        GetSection(classid);
        GetSubject(classid);
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
            GetSubject($('#ddlclass').val());

        });     

        //========================GET EXAM TYPE LIST==================================//      

     function GetExamType() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetAllExamType", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlexamtype').empty();
                    $('#ddlexamtype').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlexamtype').append('<option value="' + data[i].OnlineExamTypeId + '">' + data[i].OnlineExamTypeName + '</option>');
                    }
                    if (examtypeid > 0) {
                        $('#ddlexamtype').val(examtypeid);
                    }
                }
                else {
                    $('#ddlexamtype').empty();
                    $('#ddlexamtype').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
                       
          //========================END EXAM TYPE LIST==================================//



        //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSchoolList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].School_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass() {
            $('.loader-ajax-container').fadeIn(300);

            $.get("/TeacherAccess/GetClassListdtl", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlclass').empty();

                    $('#ddlclass').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                    }
                    if (classid > 0) {
                        $('#ddlclass').val(classid);
                    }
                }
                else {
                    $('#ddlclass').empty();
                    $('#ddlclass').append('<option>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '') {
                $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    $('#ddlsection').append('<option>All</option>');
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid != '0') {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SECTION DETAILS==================================//

        //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '') {
                $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SUBJECT DETAILS==================================//

    });
</script>
