﻿@{
    ViewBag.Title = "AnswerSheetList";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


@model IEnumerable<DigiChamps.Controllers.TeacherAccessController.AnswerSheetModel>
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Answer Sheet List</li>
    </ul>
</div>

<div class="page-content-wrap">




    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-ticket"></i>Answer Sheet Report</h3>
                        @*<div class="box-tool box-tooll">
                            <a id="dashboardexcel" href="/TeacherAccess/ExcelforTicketList" class="btn btn-primary"><i class="fa fa-download"></i><span> Download Excel</span> </a>
                        </div>*@
                    </div>

                    <div class="box-content">
                        <form action="AnswerSheetList" method="post">                          

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">Class</div>
                                    <div class="form-group">
                                        <select id="ddlclass" name="cls" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Section</div>
                                    <div class="form-group">
                                        <select id="ddlsection" name="sec" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Subject</div>
                                    <div class="form-group">
                                        <select id="ddlsubject" name="subject" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">Examination Type</div>
                                    <div class="form-group">
                                        <select id="ddlexamtype" name="ExamType" class="form-control"></select>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">Status</div>
                                    <div class="form-group">
                                        <select id="ddlstatus" name="Status" class="form-control">
                                            <option value="">Select Status</option>
                                            <option value="V" selected="@(ViewBag.status == "V" ? true : false)">Verified</option>
                                            <option value="N" selected="@(ViewBag.status == "N" ? true : false)">Not Verified</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Student Name</div>
                                    <div class="form-group">
                                        <select id="ddlstudent" name="Student" class="form-control selectto"></select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group" style="margin-bottom: 28px;"></div>
                                    <div class="form-group"> <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button></div>

                                </div>
                            </div>
                        </form>
                        <div class="table-responsive" style="border:0">
                            <table class="table table-advance table-hover" id="table1">
                                <thead>
                                    <tr>
                                        <th>sl no</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Subject</th>
                                        <th>Student Name</th>
                                        <th>Exam Type</th>
                                        <th>Mark</th>
                                        <th>Status</th>
                                        <th>Verified Date</th>
                                        <th>Detail</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                        @{int i = 0;}
                                        @foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@(i += 1)</td>
                                        <td>@item.ClassName</td>
                                        <td>@item.SectionName</td>
                                        <td>@item.SubjectName</td>
                                        <td>@item.StudentName</td>
                                        <td>@item.OnlineExamTypeName</td>
                                        <td>@item.GivenMarks</td>
                                        <td>@(item.Status=="V"?"Verified":"Not Verified")</td>
                                        <td>@item.VerifiedOn</td>
                                        <td>
                                           @Html.ActionLink(" ", "AnswersheetDetails", "TeacherAccess", new { id = @item.OnlineExamAnswerSheetId }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "View Details" })
                                                                                      
                                        </td>
                                    </tr>
                                        }
                                    
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <script>
        $(document).ready(function () {

            var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
            var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
            var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';   
            var studentid = '@(ViewBag.student == null ? 0 : ViewBag.student)';  
            var Status = '@(ViewBag.status == null ? 0 : ViewBag.status)';  
            var ExamType = '@(ViewBag.examtype == null ? 0 : ViewBag.examtype)';  
            GetExamType();
            GetClass();
            GetSection(classid);
            GetSubject(classid);         
            GetStudent(secid);  

            $('#ddlclass').change(function () {
                GetSection($('#ddlclass').val());
                GetSubject($('#ddlclass').val());

            });
              $('#ddlsection').change(function () {
                GetStudent($('#ddlsection').val());  
            });


              //========================GET EXAM tYPE DETAILS==================================//

            function GetExamType() {
                $('.loader-ajax-container').fadeIn(300);
                $.get("/TeacherAccess/GetExamTypeList", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlexamtype').empty();
                        $('#ddlexamtype').append('<option selected>Select Exam Type </option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlexamtype').append('<option value="' + data[i].OnlineExamTypeId + '">' + data[i].OnlineExamTypeName + '</option>');

                        }
                        if (ExamType > 0) {
                            $('#ddlexamtype').val(ExamType);
                        }
                    }
                    else {
                        $('#ddlexamtype').empty();
                        $('#ddlexamtype').append('<option>Select Exam Type</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); 
                });
            }

            //========================GET EXAM tYPE DETAILS==================================//


            //========================GET CLASS DETAILS==================================//

            function GetClass() {
                $('.loader-ajax-container').fadeIn(300);

                $.get("/TeacherAccess/GetClassListdtl", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>Select Class</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }

            //========================GET CLASS DETAILS==================================//
            //========================GET SECTION DETAILS==================================//

            function GetSection(id) {
                $('.loader-ajax-container').fadeIn(300);
                if (id != '') {
                    $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                        debugger;
                        $('#ddlsection').append('<option>Select Section</option>');
                        if (data.length > 0) {
                            $('#ddlsection').empty();
                            $('#ddlsection').append('<option selected>All</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                            }
                            if (secid != '0') {
                                $('#ddlsection').val(secid);
                            }
                        }
                        else {
                            $('#ddlsection').empty();
                            $('#ddlsection').append('<option>Select Section</option>');
                        }
                        $('.loader-ajax-container').fadeOut(300);
                    }).fail(function (xhr) {
                        alert(xhr.responseText); // or whatever
                    });
                }
                else {
                  $('#ddlsection').empty();
                  $('#ddlsection').append('<option>Select Section</option>');
                }
            }

            //========================GET SECTION DETAILS==================================//

            //========================SUBJECT==================================//

            function GetSubject(id) {
                $('.loader-ajax-container').fadeIn(300);
                if (id != '') {
                    $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                        debugger;
                        if (data.length > 0) {
                            $('#ddlsubject').empty();
                            $('#ddlsubject').append('<option selected>Select Subject</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                            }
                            if (subjectid > 0) {
                                $('#ddlsubject').val(subjectid);
                            }
                        }
                        else {
                            $('#ddlsubject').empty();
                            $('#ddlsubject').append('<option>Select Subject</option>');
                        }
                        $('.loader-ajax-container').fadeOut(300);
                    }).fail(function (xhr) {
                        alert(xhr.responseText); // or whatever
                    });
                }
                else {
                     $('#ddlsubject').empty();
                     $('#ddlsubject').append('<option>Select Subject</option>');
                }
            }

            //========================GET SUBJECT DETAILS==================================//

             //========================GET STUDENT DETAILS==================================//

            function GetStudent(id) {
                $('.loader-ajax-container').fadeIn(300);
                if (id != '') {
                    $.get("/TeacherAccess/GetStudentListdtl?id=" + id, function (data) {
                        debugger;
                        $('#ddlstudent').append('<option>Select Student</option>');
                        if (data.length > 0) {
                            $('#ddlstudent').empty();
                            $('#ddlstudent').append('<option selected>Select Student</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#ddlstudent').append('<option value="' + data[i].Regd_ID + '">' + data[i].Customer_Name + '-' + data[i].Mobile + '</option>')
                            }
                            if (studentid != '0') {
                                $('#ddlstudent').val(studentid);
                            }
                        }
                        else {
                            $('#ddlstudent').empty();
                            $('#ddlstudent').append('<option>Select Student</option>');
                        }
                        $('.loader-ajax-container').fadeOut(300);
                    }).fail(function (xhr) {
                        alert(xhr.responseText); // or whatever
                    });
                }
                else {
                     $('#ddlstudent').empty();
                     $('#ddlstudent').append('<option>Select Student</option>');
                }
            }

            //========================GET STUDENT DETAILS==================================//

        });
    </script>

</div>
