﻿@{
    ViewBag.Title = "AnswerTicket";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />

@using (Html.BeginForm("AnswerTicket", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validations-form" }))
{
    if (ViewBag.check_answer == null)
    {
        <div class="page-content-wrap">
            <div id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                        <span class="divider"><i class="fa fa-angle-right"></i></span>
                    </li>
                    <li>                       
                        <a href="~/TeacherAccess/TeacherTicket">Doubt List</a>
                        <span class="divider"><i class="fa fa-angle-right"></i></span>
                    </li>
                    <li class="active">Doubt</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="fa fa-file"></i>Answer Doubt</h3>
                        </div>
                        <div class="box-content">

                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Answer<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <textarea class="form-control" disabled="disabled" rows="4" id="Answer_Ticket" name="Answer_Ticket" data-rule-required="true" data-msg-required="Please enter answer description">No teacher answered yet.</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="h_tkid" value="@ViewBag.h_tkid">
                                <input type="hidden" name="h_ticno" value="@ViewBag.ticketno">
                                <input type="hidden" name="h_sname" value="@ViewBag.studentname">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Answer Image</label>
                                <div class="col-sm-10 col-lg-10 controls">
                                    <input type="file" disabled="disabled" id="Redimage12" name="RegImage3" accept=".jpg,.jpeg,.png,.gif" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <label class="col-sm-3 col-lg-2 control-label"></label>
                                <div class="col-sm-12 col-lg-10 controls">
                                    <img id="PrevImage19" src="~/Images/-text.png" title="Image is optional" width="200" height="100" alt="Image" />
                                </div>
                            </div>

                            <div class="form-group last">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <div>
                                        @{
                                            string rjs = "R";
                                        }
                                        @if (@ViewBag.status != rjs)
                                        {


                                        }
                                        else
                                        {

                                        }
                                        @*@Html.ActionLink(" Back", "ViewTickectDetail", "Admin", new { id = @ViewBag.h_tkid }, new { @class = "btn btn-primary btn-group fa fa-caret-left voffset2", @title = "Back" })*@
                                        <a class="btn btn-large btn-primary" title="Back" href="/TeacherAccess/ViewTickectDetail/@ViewBag.h_tkid"><i class="fa fa-undo"></i> <span>Back</span></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

    if (ViewBag.check_answer != null)
    {
        <div class="page-content-wrap">
            <div id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                        <span class="divider"><i class="fa fa-angle-right"></i></span>
                    </li>
                    @if (ViewBag.Breadcrumb != null)
                    {
                        <li class="active">@ViewBag.Breadcrumb</li>
                    }
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="fa fa-chat"></i>Answer and Reply</h3>
                            <div class="box-tool">
                                <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">

                            <div class="mail-page box-tooll">

                                <div class="mail-msg-subject">
                                    @foreach (var v in ViewBag.all_ticketansr)
                                    {
                                        <div>
                                            @{
                                                int question_id = Convert.ToInt32(@v.Ticket_ID);
                                                DigiChamps.Models.DigiChampsEntities dg = new DigiChamps.Models.DigiChampsEntities();
                                                var quetion = dg.tbl_DC_Ticket.Where(x => x.Ticket_ID == question_id && x.Is_Active == true && x.Is_Deleted == false).FirstOrDefault();
                                            }
                                        </div>

                                        <div class="answer_box">
                                            @{
                                                int i = Convert.ToInt32(quetion.Teach_ID);
                                                var tname = dg.Teachers.Where(x => x.TeacherId == i).Select(x => x.Name).FirstOrDefault();

                                            }

                                            <span style="color:red">Question: </span><label>@quetion.Question</label><br />
                                            <div class="ans">
                                                <span style="color:red">@tname :</span>@v.Answer
                                            </div>
                                            @if (v.Answer_Image != null)
                                            {
                                                <img class="zoom_10" src="~/Images/Answerimage/@v.Answer_Image" width="300" height="150" />
                                            }
                                            <br />

                                        </div>
                                        <input type="hidden" value="@v.Ticket_ID" name="Ticket_id" />
                                        <input type="hidden" value="@v.Ticket_Dtls_ID" name="Ticket_answerid" />

                                    }
                                </div>
                                <ul class="mail-messages">
                                    @if (ViewBag.comments != null)
                                    {
                                        foreach (var v in ViewBag.comments)
                                        {
                                            <li>
                                                <div class="mail-msg-header">
                                                    @{

                                                        int id_ = Convert.ToInt32(v.User_Id);
                                                        DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                                        var student_name = DbContext.tbl_DC_Registration.Where(x => x.Regd_ID == id_ && x.Is_Active == true & x.Is_Deleted == false).FirstOrDefault();
                                                        var teacher_name = DbContext.Teachers.Where(x => x.TeacherId == id_).FirstOrDefault();

                                                    }

                                                    @if (student_name != null && v.Is_Teacher == false)
                                                    {
                                                        <img src="~/Images/Profile/@student_name.Image" />
                                                    }
                                                    else if (teacher_name != null)
                                                    {
                                                        <img src="~/Images/TeacherAccess/@teacher_name.Photo" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Images/images.png" />
                                                    }
                                                    <div class="msg-sender-recver">

                                                        @if (student_name != null && v.Is_Teacher == false)
                                                        {
                                                            <strong>@student_name.Customer_Name (Student):</strong> @Html.Raw(v.User_Comment)<br>
                                                        }
                                                        else if (teacher_name != null)
                                                        {
                                                            <strong>@teacher_name.Name (Teacher):</strong> @Html.Raw(v.User_Comment)<br>
                                                        }

                                                        @if (@v.R_image != null)
                                                        {
                                                            <img class="zoom_10" width="200" height="100" src="~/Images/Qusetionimages/@v.R_image">
                                                        }
                                                    </div>

                                                    <div class="msg-options">
                                                        <span>
                                                            <a href="#" class="show-tooltip" data-placement="top" data-original-title="Important"></a>
                                                        </span>
                                                        <br>
                                                        @{
                                                            string date = Convert.ToString(@v.User_Comment_Date);
                                                        }
                                                        <i>Replied on:@date.Replace("12:00:00 AM", "")</i>
                                                    </div>
                                                </div>
                                            </li>

                                        }
                                    }

                                </ul>

                                <div class="col-lg-12">


                                    @if (ViewBag.isclosed != "C")
                                    {
                                        if (ViewBag.isclosed != "R")
                                        {
                                            if (ViewBag.check_answer != null)
                                            {<ul class="mail-messages">
                                                    <li class="msg-reply">

                                                      <p>
                                                                <textarea class="form-control" id="msgbody" name="msgbody" placeholder="Reply" rows="5"></textarea>
                                                            </p>
                                                        <p id="hidden_txt">
                                                            <textarea class="form-control" id="remark" name="remark" placeholder="closing Remark" rows="5"></textarea>
                                                        </p>
                                                        <p>
                                                            Close Ticket:<input type="checkbox" id="chk_close" name="close" />
                                                        </p>

                                                    </li>
                                                </ul>

                                                <a id="Reply" class="btn btn-large btn-primary btn-success" title="Reply" href="#"><i class="fa fa-check green-i"></i> <span> Reply</span></a>

                                            }

                                        }
                                    }
                                   @*@Html.ActionLink(" Back", "ViewTickectDetail", "Admin", new { id = @ViewBag.h_tkid }, new { @class = "btn btn-primary btn-group fa fa-caret-left voffset2", @title = "Back" })**@
                                    <a class="btn btn-large btn-primary" title="Back" href="/TeacherAccess/ViewDoughtDetail/@ViewBag.h_tkid"><i class="fa fa-undo"></i> <span>Back</span></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    @*Previously answered*@
}

<div id="modal_th" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i>Message</h3>
            </div>
            <div class="modal-body">
                <h5></h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@section scripts
  {
    <script type="text/javascript" src="~/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="~/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="~/js/jquery.elevatezoom.js"></script>
    <script>
        $(document).ready(function () {
            $("#hidden_txt").hide();          
            function readURL1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#PrevImage19').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#Redimage12").change(function () {
                readURL1(this);
            });

            $("#chk_close").click(function () {
                var check = $("#chk_close").is(':checked');
                if (check) {
                    $("#hidden_txt").show();
                   
                     $("#msgbody").hide();

                    
                } else {
                    $("#hidden_txt").hide();
                  
                     $("#msgbody").show();
                }
            })

            $("#Reply").click(function () {

                if ($("#msgbody").val() != "") {
                    if ($("#chk_close").is(':checked') == true) {
                        if ($("#chk_close").is(':checked') == true && $("#remark").val() != "") {
                            $.ajax({
                                type: 'POST',
                                url: "/TeacherAccess/AnswerReply",
                                dataType: "json",
                                data: $('#validations-form').serialize(),
                                success: function (data) {
                                    if (data == "1") {

                                        location.reload();

                                    }

                                    else if (data == "3") {
                                        $("#modal_th .modal-body h5").html("Put data correctly.");
                                        $("#modal_th").modal("show");
                                    }

                                    else if (data = "4") {
                                        location.href = "/TeacherAccess/Logout";
                                    }

                                    else {
                                        $("#modal_th .modal-body h5").html("Something went wrong.");
                                        $("#modal_th").modal("show");
                                    }
                                }
                            });

                        } else {
                            $("#modal_th .modal-body h5").html("Please give a remark.");
                            $("#modal_th").modal("show");
                        }
                    }
                    else {

                        $.ajax({
                            type: 'POST',
                            url: "/TeacherAccess/AnswerReply",
                            dataType: "json",
                            data: $('#validations-form').serialize(),
                            success: function (data) {
                                if (data == "1") {
                                    location.reload();
                                }

                                else if (data == "3") {
                                    $("#modal_th .modal-body h5").html("Put data correctly.");
                                    $("#modal_th").modal("show");
                                }

                                else if (data = "4") {
                                    location.href = "/TeacherAccess/Logout";
                                }

                                else {
                                    $("#modal_th .modal-body h5").html("Something went wrong.");
                                    $("#modal_th").modal("show");
                                }
                            }
                        });
                    }

                } else {
                    $("#modal_th .modal-body h5").html("Please give a reply.");
                    $("#modal_th").modal("show");
                }

            })
            $(".zoom_10").elevateZoom({
                zoomWindowWidth: 200,
                zoomWindowHeight: 200
            });
        });
    </script>
}
