﻿@{
    ViewBag.Title = "AssignedSubject";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}
@model IEnumerable<DigiChamps.Models.AssignTeacherCls>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>      
          <li class="active">Assigned Subject</li>        
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Subjects Assigned To Me </h3>
                @*<div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/School/UploadAssignSubjectToTeacher"><i class="fa fa-upload"></i><span> Upload Excel</span></a>

                        <a class="btn btn-primary" href="/School/CreateAssignSubjectToTeacher"><i class="fa fa-plus"></i><span> Assign Subject</span></a>
                    </div>*@
            </div>
            <div class="box-content">

                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>School</th>
                                <th>Board</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Subject</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.SchoolName</td>
                                        <td>@item.BoardName</td>
                                        <td>@item.ClassName</td>
                                        <td>@item.SectionName</td>
                                        <td>@item.SubjectName</td>
                                        <td>
                                            @Html.ActionLink("View Student", "StudentDetails", "TeacherAccess", new { SectionId = @item.SectionId }, new { @class = "btn btn-sm btn-primary show-tooltip", @data_original_title = "View Student", @title = "View Student Details" })
                                        </td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
