﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


<div class="form-horizontal" id="validation-form">
    <form method="post" action="TeacherChangePassword">
        <div class="page-content-wrap">
            
            <div id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                        <span class="divider"><i class="fa fa-angle-right"></i></span>
                    </li>
                    <li class="active">Change Password</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="fa fa-file"></i>Change Password</h3>
                        </div>
                        <div class="box-content">
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Current Password<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="password" placeholder="Current Password" class="form-control" name="Old_Password" id="Old_Password" data-rule-required="true" data-rule-minlength="6" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">New Password<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="password" placeholder="New Password" class="form-control" name="New_Password" id="New_Password" data-rule-required="true" data-rule-minlength="6" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Confirm Password<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="password" placeholder="Re-Enter Password" class="form-control" name="Conf_Password" id="Conf_Password" data-rule-required="true" data-rule-minlength="6" data-rule-equalto="#New_Password" />
                                </div>
                            </div>

                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">

                                    <button id="btnadd" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span> Submit</span></button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END NEW RECORD -->
                </div>
            </div>
        </div>
    </form>
    </div>
