﻿@{
    ViewBag.Title = "CreateGrievance";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model DigiChamps.Models.GrievanceModel


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/GetGrievance">Grievance List</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>

        <li class="active">Create Grievance</li>

    </ul>
</div>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveGrievance", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create Grievance</h3>
                    </div>

                    <div class="box-content">
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Module</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="ModuleId" id="" class="form-control chosen" data-rule-required="true" data-msg-required="Please select board">
                                    <option value="">Please Select Module</option>
                                    <option value="Student Details Not Found">Student Details Not Found</option>
                                    <option value="Student Map to other class section">Student Map to other class section</option>
                                    <option value="Subject not assigned">Subject not assigned</option>
                                    <option value="Subject Assign to wrong section">Subject Assign to wrong section</option>
                                    <option value="New Student Registration">New Student Registration</option>
                                    <option value="Worksheet not showing">Worksheet not showing</option>
                                    <option value="Issue in Doubt Section">Issue in Doubt Section</option>
                                    <option value="Issue in Teacher Dashboard">Issue in Teacher Dashboard</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Title</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="Title" class="form-control" id="txt_Text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Description</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <textarea class="form-control" name="Description" placeholder="Enter Grievance Description" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Attachments" class="col-sm-3 col-lg-2 control-label">Select Attachments:</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="file" id="img" name="Griv_img" accept="image/*">
                            </div>
                          
                        </div> <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("GetGrievance", "TeacherAccess")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>

