﻿@{
    ViewBag.Title = "CreateOnlineClassHomeWork";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


@using System.Globalization;
@model DigiChamps.Models.adminviewonlineclasses
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("SaveOnlineClassHomeWork", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
        {
            @Html.AntiForgeryToken();
            <input type="hidden" id="onlineclassid" name="onlineclassid" value="@ViewBag.onlineclassid" />
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Add HomeWork</h3>
                </div>

                <div class="box-content">
                    <br /><br />
                    <div class="form-group">
                        <label for="Attachments" class="col-sm-3 col-lg-2 control-label">Upload HomeWork:</label>
                        <div class="col-sm-9 col-lg-7 controls">
                            <input type="file" id="img" name="HW_pdf" accept=".pdf">
                        </div>
                    </div>

                    <br /><br />
                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                            <a href="@Url.Action("ViewOnlineClassDetails", "TeacherAccess",new { id=ViewBag.onlineclassid})" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                            <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                        </div>
                    </div>
                </div>

            </div>


        }
    </div>

</div>

