﻿@{
    ViewBag.Title = "CreateOnlineClass";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@using System.Globalization;

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@

    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li>              
                <a href="~/TeacherAccess/OnlineClasses">Online Class List</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>

            <li class="active">Create Online Class</li>

        </ul>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Create Online Class </h3>
                @*<div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/School/CreateAssignSubjectToTeacher/"><i class="fa fa-plus"></i><span> Add Exam</span></a>
                    </div>*@
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                @using (Html.BeginForm("SaveOnlineClass", "TeacherAccess", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <input type="hidden" id="id" name="ID" />
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">School</div>
                            <div class="col-md-4">
                                <select id="ddlschool" name="SchoolId" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Board</div>
                            <div class="col-md-4">
                                <select id="ddlboard" name="BoardId" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Class</div>
                            <div class="col-md-4">
                                <select id="ddlclass" name="ClassId" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Section</div>
                            <div class="col-md-4">
                                <select id="ddlsection" name="SectionId" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Subject</div>
                            <div class="col-md-4">
                                <select id="ddlsubject" name="SubjectId" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">From Date</div>
                            <div class="col-md-4">
                                <input type="date" id="txtfdate"  name="FromDate" class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">To Date</div>
                            <div class="col-md-4">
                                <input type="date" id="txttdate" name="ToDate" class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Start Time</div>
                            <div class="col-md-4">
                                <input type="time" id="txtstart" name="StartTime" class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">End Time</div>
                            <div class="col-md-4">
                                <input type="time" id="txtend" name="EndTime" class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Zoom URL</div>
                            <div class="col-md-4">
                                <input type="text" id="txtzoomurl" name="Zoom_Url" class="form-control" value="@ViewBag.zoomurl" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Zoom Password</div>
                            <div class="col-md-4">
                                <input type="text" id="txtzoompassword" name="Zoom_Password" class="form-control" value="@ViewBag.zoompassword" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Assign" name="Submit" class="btn btn-secondary" />
                        <input type="submit" value="Assign and Add New" name="Submit" class="btn btn-secondary" />
                    </div>
                }

            </div>


        </div>
    </div>
</div>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
        var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';



        GetSchool();
        GetBoard();
        GetClass();

        //$('#ddlboard').change(function () {
        //    GetClass($('#ddlboard').val());
        //})
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
            GetSubject($('#ddlclass').val());

        })



        //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSchoolList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].School_Name + '</option>');
                    }
                    if (schoolid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass() {
            $('.loader-ajax-container').fadeIn(300);

            $.get("/TeacherAccess/GetClassListdtl", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlclass').empty();

                    $('#ddlclass').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                    }
                    if (classid > 0) {
                        $('#ddlclass').val(classid);
                    }
                }
                else {
                    $('#ddlclass').empty();
                    $('#ddlclass').append('<option>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);

            $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlsection').empty();
                    $('#ddlsection').append('<option selected>All</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                    }
                    if (secid > 0) {
                        $('#ddlsection').val(secid);
                    }
                }
                else {
                    $('#ddlsection').empty();
                    $('#ddlsection').append('<option>All</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });

        }

        //========================GET SECTION DETAILS==================================//

        //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option selected>All</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                    }
                    if (subjectid > 0) {
                        $('#ddlsubject').val(subjectid);
                    }
                }
                else {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option>All</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET SUBJECT DETAILS==================================//



    });
</script>


