﻿@{
    ViewBag.Title = "CreateOnlineVideos";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li>
                <a href="~/TeacherAccess/OnlineClasses">Online Class List</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>

            <li>
                <a href="@Url.Action("ViewOnlineClassDetails", "TeacherAccess", new { id = ViewBag.OnlineClassId })">Online Vedio List</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>


          


            <li class="active">Online Class Details</li>

        </ul>
    </div>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveOnlineVideos", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create Online Syllabus</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="onlineClassId" id="onlineClassId" value="@ViewBag.OnlineClassId" class="form-control" />
                        <input type="hidden" name="videoid" id="videoid" value="@ViewBag.id" />
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="ChapterId" id="ddlChapter" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.Chapter != null)
                                    {
                                        <option>Please Select Chapter</option>
                                        foreach (var t in ViewBag.Chapter)
                                        {
                                            <option value="@t.Chapter_Id" selected="@(ViewBag.videodet==null?false:(ViewBag.videodet.ChapterId==t.Chapter_Id?true:false))">@t.Chapter</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Topic Title</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="Title" class="form-control" id="txt_SyllabusTitle" value="@(ViewBag.videodet==null?"":ViewBag.videodet.Topic_Name)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Description</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <textarea type="text" name="Description" class="form-control" id="SyllabusDescription">@(ViewBag.videodet==null?"":ViewBag.videodet.Topic_Description)</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Taken Date</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="date" name="date" class="form-control" id="txtdate" value="@(ViewBag.videodet==null?"":ViewBag.videodet.Taken_Date.ToString("yyyy-MM-dd"))" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Video Link</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="videourl" class="form-control" id="txtvideo" value="@(ViewBag.videodet==null?"":ViewBag.videodet.Video_Link)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Password</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="password" class="form-control" id="txtpassword" value="@(ViewBag.videodet==null?"":ViewBag.videodet.Password)" />
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewOnlineClassDetails", "TeacherAccess",new {id=ViewBag.OnlineClassId })" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    //function Removevideo(id) {
    //    $.get('/OnlineClass/RemoveTempVideos', { id: id }, function (data) {
    //        $("#tblvideobody").empty();
    //        for (var i = 0; i < data.length; i++) {
    //            $("#tblvideobody").append("<tr><td>" + data[i].VideoLink + "</td><td>" + data[i].Password + "</td><td><a class='btn btn-danger btn-xs btn-delete' onclick='Removevideo(" + data[i].InsertedId + ")'>Delete</a></td></tr>");
    //        }
    //    })
    //}
    $(document).ready(function () {
        //$("#btnadd").click(function () {
        //    $("#tblvideobody").empty();
        //    var videourl = $("input[name='videourl']").val();
        //    var password = $("input[name='password']").val();
        //    $.get('/OnlineClass/SaveTempVideos', { videourl: videourl, password: password }, function (data) {
        //        for (var i = 0; i < data.length; i++) {
        //            $("#tblvideobody").append("<tr><td>" + data[i].VideoLink + "</td><td>" + data[i].Password + "</td><td><a class='btn btn-danger btn-xs btn-delete' onclick='Removevideo(" + data[i].InsertedId + ")'>Delete</a></td></tr>");
        //        }
        //    })
        //    $("input[name='videourl']").val('');
        //    $("input[name='password']").val('');
        //})


    })
</script>
