﻿@{
    ViewBag.Title = "CreateSyllabus";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveSyllabus", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create Online Syllabus</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="ID" id="onlineClassId" value="@ViewBag.OnlineClassId" class="form-control" />
                       <input type="hidden" name="syllabusid" id="syllabusid" value="@ViewBag.id" />
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="ChapterId" id="ddlChapter" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.Chapter != null)
                                    {
                                        <option>Please Select Chapter</option>
                                        foreach (var t in ViewBag.Chapter)
                                        {
                                            <option value="@t.Chapter_Id" selected="@(ViewBag.syllabus==null?false:(ViewBag.syllabus.ChapterId==t.Chapter_Id?true:false))">@t.Chapter</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Title</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="SyllabusTitle" class="form-control" id="txt_SyllabusTitle" value="@(ViewBag.syllabus==null?"":ViewBag.syllabus.SyllabusTitle)" />
                            </div>
                        </div> <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Description</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="text" name="SyllabusDescription" class="form-control" id="SyllabusDescription" value="@(ViewBag.syllabus==null?"":ViewBag.syllabus.SyllabusDescription)" />
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ViewOnlineClassDetails", "TeacherAccess",new {id=ViewBag.OnlineClassId })" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>