﻿@{
    ViewBag.Title = "DoubtDashboardReport";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model DigiChamps.Controllers.TeacherAccessController.doubtmodel
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Doubt Report </h3>
                    <div class="box-tool box-tooll">
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
            <div class="box-content">
                <form action="DoubtDashboardReport" method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">Board</div>
                            <div class="form-group">
                                <select id="ddlboard" name="board" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Class</div>
                            <div class="form-group">
                                <select id="ddlclass" name="cls" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Section</div>
                            <div class="form-group">
                                <select id="ddlsection" name="sec" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="subject" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Chapter</div>
                            <div class="form-group">
                                <select id="ddlchapter" name="chapter" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">From Date :</div>
                            <div class="form-group">
                                <input type="date" id="txtfdt" value="@ViewBag.fdt" name="fdt" class="form-control" />
                                <label class="text-danger">@ViewBag.msg</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">To Date :</div>
                            <div class="form-group">
                                <input type="date" id="txttdt" value="@ViewBag.tdt" name="tdt" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"><input type="submit" value="Search" class="btn btn-secondary" /></div>

                        </div>
                    </div>
                </form>
                <div class="table-responsive voffset3">

                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                @*<th>Board</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Subject</th>
                                <th>Chapter</th>
                                <th>Ticket No</th>*@
                                <th>Total Doubt</th>
                                <th>Pending Doubt</th>
                                <th>Rejected Doubt</th>
                                <th>Answared Doubt</th>
                                <th>Closed Doubt</th>
                                <th>Sloved Over A Call</th>


                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                //foreach (var item in Model)
                                //{
                                    <tr>
                                       <td>@(rowNo += 1)</td>
                                         @*<td>@item.BoardName</td>
                                        <td>@item.Class_Name</td>
                                        <td>@item.SectionName</td>
                                        <td>@item.Subject</td>
                                        <td style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.Chapter">@item.Chapter</td>
                                        <td>@item.Ticket_No</td>*@
                                        <td>@Model.TotalDoubts</td>
                                        <td>@Model.PendingDoubts</td>
                                        <td>@Model.RejectDoubts</td>
                                        <td>@Model.AnsweredDoubts</td>
                                        <td>@Model.ClosedCount</td>
                                        <td>@Model.SlovedCount</td>
                                    </tr>
                               // }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

            </div>
        </div>
    </div>
    </div>
    @*</form>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>



    <script>
    $(document).ready(function () {
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';
        //var teacherid = '@(ViewBag.teacher == null ? 0 : ViewBag.teacher)';
        var statusid = '@(ViewBag.status == null ? 0 : ViewBag.status)';
        GetBoard();
        GetStatus();
        GetClass(boardid);
        GetSection(classid);
        GetChapters(subjectid);
        //GetTeachers(boardid,classid,secid,subjectid);
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
            //GetTeachers($('#ddlboard').val(),0,0,0);
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
            //GetTeachers($('#ddlboard').val(),$('#ddlclass').val(),0,0);
        })
        //$('#ddlsection').change(function () {
        //    GetTeachers($('#ddlboard').val(),$('#ddlclass').val(),$('#ddlsection').val(),$('#ddlsubject').val());
        //})
        $('#ddlsubject').change(function () {
            GetChapters($('#ddlsubject').val());
            // GetTeachers($('#ddlboard').val(),$('#ddlclass').val(),$('#ddlsection').val(),$('#ddlsubject').val());
        })
        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/TeacherAccess/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid > 0) {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
                $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//
        function GetChapters(id) {
             $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/TeacherAccess/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                        if (chapterid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        function GetStatus() {
            $('#ddlstatus').empty();
            $('#ddlstatus').append('<option selected>All</option>');
            $('#ddlstatus').append('<option value="O">Pending</option>');
            $('#ddlstatus').append('<option value="A">Answered</option>');
            $('#ddlstatus').append('<option value="R">Rejected</option>');
            $('#ddlstatus').append('<option value="C">Closed</option>');
            $('#ddlstatus').val(statusid);
        }
    })
    </script>
