﻿@{
    ViewBag.Title = "EditObjectiveExam";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}
@model DigiChamps.Models.editobjectiveexamcls

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
    int s = 0;
}

    <div class="page-content-wrap">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li>
                    <a href="~/TeacherAccess/OnlineObjectiveExamList">Online Objective  Exam </a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li class="active">
                    Edit Online Objective  Exam
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                @*@using (Html.BeginForm("SaveOnlineObjectiveExam", "OnlineExamDet", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
                {
                    @Html.AntiForgeryToken();*@
                <div class="form-horizontal" id="validation-form">
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="fa fa-file"></i>Edit Objective Exam</h3>
                        </div>

                        <div class="box-content">
                            <input type="hidden" name="objectiveid" id="objectiveid" value="@Model.exam.OnlineObjectiveExamId" />
                            <div class="form-group voffset3">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select name="board" id="ddlboard" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                        @if (ViewBag.boardlist != null)
                                        {
                                            <option value="">Select Board</option>
                                            foreach (var t in ViewBag.boardlist)
                                            {
                                                <option value="@t.Board_Id" selected="@(Model.exam.BoardId==@t.Board_Id?true:false)">@t.Board_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select name="school" id="ddlschool" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                        @if (ViewBag.schoollist != null)
                                        {
                                            <option>Select School</option>
                                            foreach (var t in ViewBag.schoollist)
                                            {
                                                <option value="@t.SchoolId" selected="@(Model.exam.SchoolId==t.SchoolId?true:false)">@t.SchoolName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select name="cls" id="ddlclass" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select id="ddlsubject" name="Subject" class="form-control"></select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Date</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select id="ddlexamdate" name="examdate" class="form-control">
                                        @if (ViewBag.examdates != null)
                                        {
                                            <option value="">Select Exam Date</option>
                                            foreach (var t in ViewBag.examdates)
                                            {
                                                <option value="@t.OnlineExamDateId" selected="@(Model.exam.OnlineExamDateId==t.OnlineExamDateId?true:false)">@t.OnlineExamDateName</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Time</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select id="ddlexamtime" name="examtime" class="form-control"></select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Type</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select id="ddlexamtype" name="examtype" class="form-control">
                                        @if (ViewBag.examtypes != null)
                                        {
                                            <option value="">Select Exam Type</option>
                                            foreach (var t in ViewBag.examtypes)
                                            {
                                                <option value="@t.OnlineExamTypeId" selected="@(Model.exam.OnlineExamTypeId==t.OnlineExamTypeId?true:false)">@t.OnlineExamTypeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Exam Instruction</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <textarea id="txtinstruction" name="instruction" class="form-control" rows="9">@(Model.exam.Exam_Instruction)</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Is Negative Marking</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="checkbox" id="isnegative" name="isnegative" checked="@(Model.exam.IsNagativeMarking==true?"checked":"")" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Negative Mark</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <select id="ddlnegativemark" name="negativemark" class="form-control">
                                        @if (ViewBag.negativemark != null)
                                        {
                                            <option value="">Select Negative mark</option>
                                            foreach (var t in ViewBag.negativemark)
                                            {
                                                <option value="@t.NegativeMarkID" selected="@(Model.exam.NagativeMarkingId==t.NegativeMarkID?true:false)">@t.NegativeMark1</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Sample Question</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <a href="/OnlineExamDet/DownloadSampleObjectiveQuesExcel">Sample Excel Download</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Upload Question</label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input class="form-control" type="file" id="filebulkques" style="border:none !important;" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <br /><br />
                    <div class="box">
                        <div class="box-title panel-primary">
                            <h3><i class="fa fa-file"></i>Add Question Answer</h3>
                            <div class="box-tool box-tooll">
                                <a class="btn btn-primary" onclick="addquestion()"><i class="fa fa-plus"></i><span>Add New Question</span> </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="container row" id="divquestions">
                                @if (Model.questions != null)
                                {
                                    foreach (var ob in Model.questions)
                                    {
                                        int q = 0;
                                        <div class="col-md-6" id="pnl@(++s)" style="margin-bottom:10px;">
                                            <input type="hidden" id="hdnid@(s)" value="@ob.examQuestion.OnlineObjectiveExamQuestionId" />
                                            <a style="position: absolute;right: 21px;top: 7px;color: white;" href="#" onclick="removeques('pnl@(s)',@ob.examQuestion.OnlineObjectiveExamQuestionId)"><i class="fa fa-trash"></i>Remove</a>
                                            <a data-toggle="collapse" class="form-control btn btn-success text-left" data-target="#divques@(s)" style="text-align:left;">Question @(s)</a>

                                            <div class="collapse" id="divques@(s)">
                                                <div>
                                                    <label for="textfield5" class="control-label" style="font-weight:500;margin-bottom:5px;">Question</label>
                                                    <textarea class="form-control" id="txtques@(s)" rows="3" style="margin-bottom:5px;">@ob.examQuestion.Question</textarea>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="file" id="fileques@(s)" style="border:none !important;" />
                                                            @if (ob.examQuestion.QuestionImage != null)
                                                            {
                                                                <a target="_blank" href="~/Images/ObjectiveQuestion/@(ob.examQuestion.QuestionImage)">View</a>
                                                            }
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <label for="textfield5" class="col-md-3 control-label">Mark :</label>
                                                            <div class="col-md-9">
                                                                <input type="text" id="txtmark@(s)" class="form-control" value="@ob.examQuestion.Mark" onkeypress="return isNumberKey(event);"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                @foreach (var om in ob.examAnswers)
                                                {
                                                    <div>
                                                        <label for="textfield5" class="control-label" style="font-weight:500;margin-bottom:5px;">Option @(++q)</label>
                                                        <textarea class="form-control" id="txtopt@(q)@(s)" rows="2" style="margin-bottom:5px;">@om.Option</textarea>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="file" id="fileopt@(q)@(s)" style="border:none !important;" />
                                                                @if (om.OptionImage != null)
                                                                {
                                                                    <a target="_blank" href="~/Images/ObjectiveOption/@(om.OptionImage)">View</a>
                                                                }
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <label><input type="radio" name="rdopt@(s)" value="@(q)" checked="@(om.IsCorrect==true?true:false)" /> Is Correct Answer</label>
                                                            </div>
                                                        </div>


                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="form-group last box-tooll">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                            <a href="@Url.Action("OnlineObjectiveExamList", "TeacherAccess")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                            <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                        </div>
                    </div>
                </div>
                @*}*@
            </div>

        </div>


    </div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
      function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
    var i = parseInt('@s');
    var remvques = [];
    function removeques(divid,qid) {
        remvques.push(qid);
        $('#'+divid).css('visibility', 'hidden');
    }
    function addquestion() {
        $('#divques' + i).removeClass();
        $('#divques' + i).addClass('collapse out');
        i = i + 1;
        var s = '<div class="col-md-6" style="margin-bottom:10px;"><input type="hidden" id="hdnid'+i+'" value="0" /><a data-toggle="collapse" class="form-control btn btn-success text-left" style="text-align:left;" data-target="#divques'+i+'">Question '+i+'</a>';
        s += '<div class="collapse in" id="divques'+i+'"><div><label for="textfield5" class="control-label" style="font-weight:500;margin-bottom:5px;">Question</label>';
        s += '<textarea class="form-control" id="txtques' + i + '" rows="3" style="margin-bottom:5px;"></textarea><div class="row"><div class="col-md-6"><input class="form-control" type="file" id="fileques' + i + '" style="border:none !important;" />';
        s += '</div><div class="col-md-6 text-right"><label for="textfield5" class="col-md-3 control-label">Mark :</label><div class="col-md-9">';
        s+='<input type="text" id="txtmark'+i+'" class="form-control" onkeypress="return isNumberKey(event);"/></div></div></div></div>';
        s += '<div><label for="textfield5" class="control-label" style="font-weight:500;margin-bottom:5px;">Option 1</label><textarea class="form-control" id="txtopt1'+i+'" rows="2" style="margin-bottom:5px;"></textarea>';
        s += '<div class="row"><div class="col-md-6"><input type="file" id="fileopt1'+i+'" style="border:none !important;" /></div><div class="col-md-6 text-right">';
        s += '<label><input type="radio" name="rdopt'+i+'" value="1" /> Is Correct Answer</label></div></div></div>';
        s += '<div><label for="textfield5" class="control-label" style="font-weight:500;margin-bottom:5px;">Option 2</label>';
        s += '<textarea class="form-control" id="txtopt2'+i+'" rows="2" style="margin-bottom:5px;"></textarea><div class="row"><div class="col-md-6">';
        s += '<input type="file" id="fileopt2'+i+'" style="border:none !important;" /></div><div class="col-md-6 text-right"><label><input type="radio" name="rdopt'+i+'" value="2" /> Is Correct Answer</label>';
        s += '</div></div></div><div><label for="textfield5" class="control-label" style="font-weight:500;margin-bottom:5px;">Option 3</label>';
        s += '<textarea class="form-control" id="txtopt3'+i+'" rows="2" style="margin-bottom:5px;"></textarea><div class="row"><div class="col-md-6">';
        s += '<input type="file" id="fileopt3'+i+'" style="border:none !important;" /></div><div class="col-md-6 text-right">';
        s += '<label><input type="radio" name="rdopt'+i+'" value="3" /> Is Correct Answer</label></div></div></div>';
        s += '<div><label for="textfield5" class="control-label" style="font-weight:500;margin-bottom:5px;">Option 4</label>';
        s += '<textarea class="form-control" id="txtopt4'+i+'" rows="2" style="margin-bottom:5px;"></textarea>';
        s += '<div class="row"><div class="col-md-6"><input type="file" id="fileopt4'+i+'" style="border:none !important;" /></div>';
        s += '<div class="col-md-6 text-right"><label><input type="radio" name="rdopt'+i+'" value="4" /> Is Correct Answer</label>';
        s += '</div></div></div></div></div>';
        $('#divquestions').append(s);
    }
    $(document).ready(function () {
        var boardid = '@(Model.exam.BoardId == null ? 0 : Model.exam.BoardId)';
        var classid = '@(Model.exam.ClassId == null ? 0 : Model.exam.ClassId)';
        var subjectid = '@(Model.exam.SubjectId == null ? 0 : Model.exam.SubjectId)';
         var examdateid = '@(Model.exam.OnlineExamDateId == null ? 0 : Model.exam.OnlineExamDateId)';
         var examtimeid = '@(Model.exam.OnlineExamTimeId == null ? 0 : Model.exam.OnlineExamTimeId)';
        GetClass(boardid);
        GetSubject(classid);
        Getexamtime(examdateid);
         $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
         })
          $('#ddlclass').change(function () {
            GetSubject($('#ddlclass').val());
          })
         $('#ddlexamdate').change(function () {
            Getexamtime($('#ddlexamdate').val());
        })
        function GetClass(id) {
            // $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                         if (classid > 0) {
                        $('#ddlclass').val(classid);
                    }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>Select Class</option>');

                    }
                    //   $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>Select Class</option>');
                //   $('.loader-ajax-container').fadeOut(300);
            }
        }
        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>Select Subject</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>Select Subject</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>Select Subject</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
        function Getexamtime(id) {
              $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/OnlineExamDet/GetExamTimeList?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlexamtime').empty();
                        $('#ddlexamtime').append('<option selected>Select Exam Time</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlexamtime').append('<option value="' + data[i].OnlineExamTimeId + '">' + data[i].Start_Time_Name+"-"+data[i].End_Time_Name + '</option>')
                        }
                        if (examtimeid > 0) {
                            $('#ddlexamtime').val(examtimeid);
                        }
                    }
                    else {
                        $('#ddlexamtime').empty();
                        $('#ddlexamtime').append('<option>Select Exam Time</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlexamtime').empty();
                $('#ddlexamtime').append('<option selected>Select Exam Time</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
        $('#btnSearch').click(function () {
            $('.loader-ajax-container').fadeIn(300);
            var exam = new FormData();
            if ($('#ddlboard').val() == '') {
                $('#ddlboard').focus();
                return false;
            }
            //var sch = [];
            //var k = 0;
            //$.each($("input[name='school']:checked"), function () {
            //    sch.push($(this).val());
            //    exam.append('school[' + k + ']', $(this).val());
            //    k++;
            //});
            if ($("#ddlschool").val() =='') {
                $("#ddlschool").focus();
                return false;
            }
            if ($('#ddlclass').val() == '') {
                $('#ddlclass').focus();
                return false;
            }
            if ($('#ddlsubject').val() == '') {
                $('#ddlsubject').focus();
                return false;
            }
            if ($('#ddlexamdate').val() == '') {
                $('#ddlexamdate').focus();
                return false;
            }
            if ($('#ddlexamtime').val() == '') {
                $('#ddlexamtime').focus();
                return false;
            }
              if ($('#ddlexamtype').val() == '') {
                $('#ddlexamtype').focus();
                return false;
            }
              if ($('#txtinstruction').val() == '') {
                $('#txtinstruction').focus();
                return false;
            }
              if ($('#isnegative:checked') == true) {
                 if ($('#ddlnegativemark').val() == '') {
                $('#ddlnegativemark').focus();
                return false;
            }
            }
           // var examques = [];
            for (var j = 1; j <= i; j++) {
                //var quesfiles = $('#fileques' + j + '').get(0).files;
                //var opt1files = $('#fileopt1' + j + '').get(0).files;
                //var opt2files = $('#fileopt2' + j + '').get(0).files;
                //var opt3files = $('#fileopt3' + j + '').get(0).files;
                //var opt4files = $('#fileopt4'+j+'').get(0).files;
                //var io = {
                //    question: $('#txtques' + j + '').val(), questionimage: $('#fileques' + j + '').get(0).files[0], option1: $('#txtopt1' + j + '').val(), option2: $('#txtopt2' + j + '').val(),
                //    option3: $('#txtopt3' + j + '').val(), option4: $('#txtopt4' + j + '').val(), option1image: $('#fileopt1' + j + '').get(0).files[0], option2image: $('#fileopt2' + j + '').get(0).files[0],
                //    option3image: $('#fileopt3' + j + '').get(0).files[0], option4image: $('#fileopt4' + j + '').get(0).files[0], CorrectAns: $('input[name="rdopt' + j + '"]:checked').val()
                //};
               // examques.push(io);
                 if ($('#txtmark' + j + '').val() == '') {
                  $('#txtmark' + j + '').focus();
                   $('.loader-ajax-container').fadeOut(300);
                return false;
                }
                 if ($('input[name="rdopt' + j + '"]:checked').val() == undefined) {
                     $('input[name="rdopt' + j + '"]:checked').focus();
                     alert('Please select correct answer');
                     $('.loader-ajax-container').fadeOut(300);
                     $('#divques' + j).addClass('collapse in');
                return false;
            }
                exam.append('question[' + (j - 1) + '].questionid', $('#hdnid' + j + '').val());
                exam.append('question[' + (j - 1) + '].question', $('#txtques' + j + '').val());
                exam.append('question['+(j-1)+'].mark',$('#txtmark' + j + '').val());
                exam.append('question['+(j-1)+'].questionimage',$('#fileques' + j + '').get(0).files[0]);
                exam.append('question['+(j-1)+'].option1',$('#txtopt1' + j + '').val());
                exam.append('question['+(j-1)+'].option2',$('#txtopt2' + j + '').val());
                exam.append('question['+(j-1)+'].option3',$('#txtopt3' + j + '').val());
                exam.append('question['+(j-1)+'].option4',$('#txtopt4' + j + '').val());
                exam.append('question['+(j-1)+'].option1image',$('#fileopt1' + j + '').get(0).files[0]);
                exam.append('question['+(j-1)+'].option2image',$('#fileopt2' + j + '').get(0).files[0]);
                exam.append('question['+(j-1)+'].option3image',$('#fileopt3' + j + '').get(0).files[0]);
                exam.append('question['+(j-1)+'].option4image',$('#fileopt4' + j + '').get(0).files[0]);
                exam.append('question['+(j-1)+'].CorrectAns',$('input[name="rdopt' + j + '"]:checked').val());
            }
            //var data = {
            //    board: $('#ddlboard').val(), school: sch, cls: $('#ddlclass').val(), subject: $('#ddlsubject').val(), examdate: $('#ddlexamdate').val(),
            //    examtime: $('#ddlexamtime').val(), examtype: $('#ddlexamtype').val(), instruction: $('#txtinstruction').val(), isnegative: $('#isnegative:checked'),
            //    negativemark:$('#ddlnegativemark').val(),question:examques
            //};

            exam.append('board', $('#ddlboard').val());
            exam.append('schoolid', $("#ddlschool").val());
            exam.append('objectiveid', $('#objectiveid').val());
            for (var g = 0; g < remvques.length; g++) {
                exam.append('remvques['+g+']', remvques[g]);
            }
            exam.append('cls', $('#ddlclass').val());
            exam.append('subject', $('#ddlsubject').val());
            exam.append('examdate', $('#ddlexamdate').val());
            exam.append('examtime', $('#ddlexamtime').val());
            exam.append('examtype', $('#ddlexamtype').val());
            exam.append('instruction', $('#txtinstruction').val());
            exam.append('isnegative', $('#isnegative').prop("checked"));
            exam.append('negativemark', $('#ddlnegativemark').val());
    exam.append('filebulkques',$('#filebulkques').get(0).files[0]);
            //var exam = JSON.stringify({'exam':data});
            i = 0;
            $.ajax({
                url: '/OnlineExamDet/UpdateOnlineObjectiveExam',
                type: 'POST',
                data: exam,
                //async: true,
                enctype: 'multipart/form-data', // Not to set any content header
                processData: false, // Not to process data
                contentType: false,
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    debugger;
                    $('.loader-ajax-container').fadeOut(300);
                    if (data == 1) {
                        window.location = '/TeacherAccess/OnlineObjectiveExamList';
                    }

                }
            })


        })
    })
</script>