﻿@{
    ViewBag.Title = "EditAnswersheetDetails";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
    int i = 0;
}

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @*@using (Html.BeginForm("savemarks", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
                {
                    @Html.AntiForgeryToken();*@

            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Edit Answersheet Details</h3>
                </div>

                <div class="box-content">
                    <input type="hidden" name="onlineexamid" id="onlineexamid" value="@ViewBag.answer.OnlineExamId" />
                    <input type="hidden" name="onlinesheetid" id="onlinesheetid" value="@ViewBag.answer.OnlineExamAnswerSheetId" />
                    <div class="form-group voffset3">
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Student Name :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@ViewBag.answer.Customer_Name</label>
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Class :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@ViewBag.answer.Class_Name</label>
                    </div>
                    <div class="form-group voffset3">
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Section :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@ViewBag.answer.SectionName</label>
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Subject :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@ViewBag.answer.Subject</label>
                    </div>
                    <div class="form-group voffset3">
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Exam Type :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@ViewBag.answer.OnlineExamTypeName</label>
                        <label for="textfield5" class="col-sm-2 col-lg-2 control-label"><b>Mobile :</b></label>
                        <label for="textfield5" class="col-sm-4 col-lg-4 control-label" style="text-align: left !important;">@ViewBag.answer.Mobile</label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group voffset3">
                        <div class="col-sm-4 col-lg-4 controls">
                            <div class="box">
                                <div class="box-title text-center">
                                    <h3>Question Paper</h3>
                                </div>
                                <div class="box-content">
                                    <embed src="~/Images/OnlineExam/@(ViewBag.answer.PDF)" style="width:100%;height:600px;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 controls">
                            <div class="box">
                                <div class="box-title text-center">
                                    <h3>Answer Sheet</h3>
                                </div>
                                <div class="box-content">
                                    <embed src="~/Images/OnlineExamAnswer/@ViewBag.answer.AnswerPDF" style="width:100%;height:600px;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 controls">
                            <div class="box">
                                <div class="box-title text-center">
                                    <h3>Give Score &amp; Remarks</h3>
                                </div>
                                <div class="box-content">
                                    <div class="row">
                                        <div id="divremarks">
                                            @if (ViewBag.remarks.Count > 0)
                                            {

                                                foreach (var item in ViewBag.remarks)
                                                {
                                                    i = i + 1;



                                                    <div>
                                                        <div class="form-group voffset3">
                                                            <label for="textfield5" class="col-sm-3 col-lg-3 control-label" style="text-align:center;padding-right:5px !important;"><b>Q.No.</b></label>
                                                            <label for="textfield5" class="col-sm-3 col-lg-3 control-label" style="text-align:center;padding-right:5px !important;padding-left:5px !important;"><b>Marks</b></label>
                                                            <label for="textfield5" class="col-sm-6 col-lg-6 control-label" style="text-align:center;padding-left:5px !important;"><b>Remarks</b></label>

                                                        </div>
                                                        <div class="form-group voffset3">
                                                            <div class="col-sm-3 col-lg-3 control" style="padding-right:5px !important;">
                                                                <input type="text" id="quesname@(i)" name="quesname" value="@item.QuestionNo" class="form-control" />
                                                            </div>
                                                            <div class="col-sm-3 col-lg-3 control" style="padding-right:5px !important;padding-left:5px !important;">
                                                                <input type="text" id="quesmarks@(i)" name="quesmarks" class="form-control" value="@item.GivenMarks" onchange="summarks()" />
                                                            </div>
                                                            <div class="col-sm-6 col-lg-6 control" style="padding-left:5px !important;">
                                                                <input type="text" id="quesremarks@(i)" name="quesremarks" class="form-control" value="@item.Remarks" />
                                                            </div>
                                                        </div>
                                                    </div>




                                                }
                                            }
                                        </div>

                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                        <div class="form-group">
                                            @*<div class="col-sm-3 col-lg-3 control">*@
                                            <label for="textfield5" class="col-sm-3 col-lg-3 font-size-11 control-label"><b>Total Score</b></label>

                                            @*</div>*@
                                            <div class="col-sm-4 col-lg-4 control">
                                                <input type="text" readonly id="txttotalscore" class="form-control" value="@ViewBag.Score" />
                                            </div>
                                            <a onclick="addbtn()" class="btn btn-primary font-size-11"><i class="fa fa-plus"></i>Add More Fields</a>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:20px;"></div>
                                        @*@if (ViewBag.remarks.Count == 0)
                            {*@
                                        <button id="btnSearch" type="button" class="btn btn-primary btn-success" style="width:100%;"><span>UPDATE MARKS</span> </button>

                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="clearfix"></div>
                    @*<div class="form-group last box-tooll">

            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                <a href="@Url.Action("AnswerSheetList", "TeacherAccess")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                @if (ViewBag.remarks.Count == 0)
                {
                    <button id="btnSearch" type="button" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>
                }
            </div>
        </div>*@
                </div>

            </div>


            @*  }*@
        </div>

    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js">
</script>
<script>
    var m =parseInt('@i');
    function summarks() {
        var sum = 0;
        for (var k = 1; k <= m; k++) {
            sum += parseFloat($('#quesmarks' + k).val());
        }

        $("#txttotalscore").val(sum);
    }
    function addbtn() {
        m = m + 1;
        var s = '<div><div class="form-group voffset3"><label for="textfield5" class="col-sm-3 col-lg-3 control-label" style="text-align:center;padding-right:5px !important;"><b>Q.No.</b></label>';
        s += '<label for="textfield5" class="col-sm-3 col-lg-3 control-label" style="text-align:center;padding-right:5px !important;padding-left:5px !important;"><b>Marks</b></label><label for="textfield5" class="col-sm-6 col-lg-6 control-label" style="text-align:center;padding-left:5px !important;"><b>Remarks</b></label>';
        s += '</div><div class="form-group voffset3"><div class="col-sm-3 col-lg-3 control">';
        s += '<input type="text" id="quesname' + (m) + '" name="quesname" class="form-control" style="padding-right:5px !important;" /></div><div class="col-sm-3 col-lg-3 control">';
        s += '<input type="text" id="quesmarks' + (m) + '" name="quesmarks" class="form-control" onchange="summarks()" style="padding-right:5px !important;padding-left:5px !important;" /></div><div class="col-sm-6 col-lg-6 control">';
        s += '<input type="text" id="quesremarks' + (m) + '" name="quesremarks" class="form-control" style="padding-left:5px !important;" /></div></div></div>';
        $('#divremarks').append(s);
    }
</script>
<script>
    $(document).ready(function () {
        //$("#hidden_txt").hide();
        $("#btnSearch").click(function () {
            debugger;
            //if ($("#validation-form").valid()) {
            //    event.preventDefault();
            debugger;
            // Show the "busy" Gif:
            $("#divloader").show();
            //var url = $(this).attr("action");

            var array = [];
            for (var k = 1; k <= m; k++) {
                array.push({ quesname: $('#quesname' + k).val(), quesmarks: $('#quesmarks' + k).val(), quesremarks: $('#quesremarks' + k).val() });
            }
            var obj = JSON.stringify({ 'onlineexamid': $('#onlineexamid').val(), 'onlinesheetid': $('#onlinesheetid').val(), 'marks': array });
            //  var s = array;
            //$.get('/TeacherAccess/savemarks',obj, function (data) {
            //    $("#divloader").hide();

            //    // Do something useful with the data:
            //    var message = "Saved Successfully";
            //    alert(message);
            //    window.location.href = '/TeacherAccess/AnswerSheetList';
            //})
            var marks = { marks: array };


            m = 1;
    @(i=1);
            $.ajax({
                contentType: 'application/json',
                type: "POST",
                url: "/TeacherAccess/updatemarks?onlineexamid=" + $('#onlineexamid').val() + "&onlinesheetid=" + $('#onlinesheetid').val(),
                dataType: "json",
                data: JSON.stringify({ 'marks': array }),
                async: false,
                success: function (data) {
                    $("#divloader").hide();

                    // Do something useful with the data:
                    var message = "Saved Successfully";
                    alert(message);
                    window.location.href = '/TeacherAccess/AnswerSheetList';
                },
                failure: function (data) {
                    $("#divloader").hide();

                    // Do something useful with the data:
                    var message = "Saved Successfully";
                    alert(message);
                    window.location.href = '/TeacherAccess/AnswerSheetList';
                }
            })

            //}
        });


    })
</script>
