﻿@{
    ViewBag.Title = "EditQuestionBank";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model DigiChamps.Models.QuestionBankModel


<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>          
            <a href="~/TeacherAccess/QuestionBankList">Question Bank List</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>

        <li class="active">Edit Worksheet</li>



    </ul>
</div>
<div class="form-horizontal" id="validation-form">
    <form action="EditQuestionBank" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Edit Worksheet</h3>
                        <div class="box-tool box-tooll">
                        </div>
                    </div>
                    @*@if ((TempData["Message"]).ToString()!="")
                            {
                        <div class="alert alert-dismissable alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            @TempData["Message"]
                        </div>
                         }*@
                    <div class="box-content">



                        <div class="form-group">
                            <div class="col-md-3">

                                <input type="hidden" value="@ViewBag.QuestionBankDetails.QuestionBank_Id" name="QuestionBank_Id" />
                            </div>
                            <div class="col-md-2"> Board</div>
                            <div class="col-md-4">
                                <input id="txtBoard" value="@ViewBag.QuestionBankDetails.Board_Name" readonly class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Class</div>
                            <div class="col-md-4">
                                <input id="txtClass_Name" name="Class_Name" value="@ViewBag.QuestionBankDetails.Class_Name" readonly class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Section</div>
                            <div class="col-md-4">
                                <input id="txtClass_Name" name="Section_Name" value="@ViewBag.QuestionBankDetails.Section_Name" readonly class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Subject</div>
                            <div class="col-md-4">
                                <input id="txtStudent_Name" name="Student_Name" value="@ViewBag.QuestionBankDetails.Subject_Name" readonly class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Chapter</div>
                            <div class="col-md-4">
                                <input id="txtChapter_Name" name="Chapter_Name" value="@ViewBag.QuestionBankDetails.Chapter_Name" readonly class="form-control" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Attachment Date</div>
                            <div class="col-md-4">
                                <input type="datetime" name="Modified_Date" value="@ViewBag.QuestionBankDetails.Upload_Date" class="form-control" readonly />

                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Verify Date</div>
                            <div class="col-md-4">
                                <input type="datetime" name="Inserted_Date" value="@ViewBag.QuestionBankDetails.Verify_Date" class="form-control" readonly />

                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Total Mark</div>
                            <div class="col-md-4">
                                <input type="text" name="Total_Mark" value="@ViewBag.QuestionBankDetails.Total_Mark" class="form-control" required="required" />

                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>



@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>







