﻿@{
    ViewBag.Title = "GetAllEReportDetails";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model IList<DigiChamps.Controllers.TeacherAccessController.Schoolwise_User_Class>

    <div class="form-horizontal" id="validation-form">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i> E-Report Card List </h3>
                        <div class="box-tool box-tooll">
                            @*  <a class="btn btn-primary" href="/School/ExamType/"><i class="fa fa-plus"></i><span> Excel</span></a>*@
                        </div>
                    </div>
                    <div class="box-content">
                        @using (Html.BeginForm("GetAllEReportDetails", "TeacherAccess", FormMethod.Get,
                        new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation" }))
                        {

                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">School</div>
                            <div class="col-md-4">
                                <select id="ddlSchool" name="school" class="form-control">
                                    <option value="" selected="@(ViewBag.s==null?true:false)">All</option>
                                    @foreach (var a in ViewBag.schoolist)
                                    {
                                    <option value="@a.SchoolId" selected="@(ViewBag.s==a.SchoolId?true:false)">@a.SchoolName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Board</div>
                            <div class="col-md-4">
                                <select id="ddlboard" name="board" class="form-control">
                                    @*
                                    <option value=" ">Select Board</option>
                                    @foreach (var a in ViewBag.Board)
                                    {
                                    <option value="@a.Board_Id">@a.Board_Name</option>
                                    }*@
                                </select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Class</div>
                            <div class="col-md-4">
                                <select id="ddlclass" name="cls" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Section</div>
                            <div class="col-md-4">
                                <select id="ddlsection" name="sec" class="form-control"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group text-center">
                            <button id="btnsearch" class="btn btn-primary">Search</button>
                        </div>
                        <div class="clearfix"></div>
                        }
                    </div>
                    <div class="box-content">
                        <div class="table-responsive">
                            <table class="table table-advance" id="table1" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Board</th>
                                        <th>School</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Regd No</th>
                                        <th>Student</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Doc Name</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                    int i = 0;
                                    foreach (var a in Model)
                                    {
                                    <tr>
                                        <td> @(i=i + 1)</td>
                                        <td>@a.boardname</td>
                                        <td style="white-space:nowrap;max-width:100px;overflow:hidden; text-overflow:ellipsis;" title="@a.schoolname">@a.schoolname</td>
                                        <td style="white-space:nowrap;max-width:100px;overflow:hidden; text-overflow:ellipsis;" title="@a.Class_Name">@a.Class_Name</td>
                                        <td>@a.SectionName</td>
                                        <td>@a.Regd_ID</td>
                                        <td style="white-space:nowrap;max-width:100px;overflow:hidden; text-overflow:ellipsis;" title="@a.Customer_Name">@a.Customer_Name</td>
                                        <td style="white-space:nowrap;max-width:150px;overflow:hidden; text-overflow:ellipsis;" title="@a.Email">@a.Email</td>
                                        <td>@a.Mobile</td>
                                        <td>E-Report card</td>
                                        <td>Uploaded</td>
                                        <td>
                                            <a href="@a.EReportPath" target="_blank" title="View PDF" class="btn btn-success"><span>PDF</span></a>

                                        </td>
                                    </tr>
                                    }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Student_assets/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Student_assets/Scripts/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {

            GetBoard();
            GetClass('0');
            GetSection('0', '0');
            //   GetAllusers();
            $('#ddlboard').change(function () {
                GetClass($('#ddlboard').val());
            })
            $('#ddlclass').change(function () {
                GetSection($('#ddlclass').val(), $('#ddlSchool').val());
            })

            //========================GET BOARD DETAILS==================================//

            function GetBoard() {
                $('.loader-ajax-container').fadeIn(300);

                $.get("/SchoolReport/GetBoardList", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlboard').empty();
                        $('#ddlboard').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                        }
                        $('#ddlboard').val('@ViewBag.b');
                    }
                    else {
                        $('#ddlboard').empty();
                        $('#ddlboard').append('<option selected>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }


            //========================GET BOARD DETAILS==================================//

            //========================GET CLASS DETAILS==================================//

            function GetClass(id) {
                $('.loader-ajax-container').fadeIn(300);
                if (id != '0') {

                    $.get("/SchoolReport/GetClassListdtl?id=" + id + "", function (data) {
                        debugger;
                        if (data.length > 0) {
                            $('#ddlclass').empty();

                            $('#ddlclass').append('<option selected>All</option>');

                            for (var i = 0; i < data.length; i++) {
                                $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                            }
                            $('#ddlclass').val('@ViewBag.c');
                        }
                        else {
                            $('#ddlclass').empty();
                            $('#ddlclass').append('<option>All</option>');

                        }
                        $('.loader-ajax-container').fadeOut(300);
                    }).fail(function (xhr) {
                        alert(xhr.responseText); // or whatever
                    });
                }
                else {
                    $('#ddlclass').empty();
                    $('#ddlclass').append('<option selected>All</option>');
                    $('.loader-ajax-container').fadeOut(300);
                }
            }

            //========================GET CLASS DETAILS==================================//
            //========================GET SECTION DETAILS==================================//

            function GetSection(id, school) {
                $('.loader-ajax-container').fadeIn(300);
                if (id != '0') {

                    $.get("/SchoolReport/GetSectionListdtl?id=" + id + "&school=" + school, function (data) {
                        debugger;
                        if (data.length > 0) {
                            $('#ddlsection').empty();
                            $('#ddlsection').append('<option selected>All</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                            }
                            $('#ddlsection').val('@ViewBag.se');
                        }
                        else {
                            $('#ddlsection').empty();
                            $('#ddlsection').append('<option>All</option>');
                        }
                        $('.loader-ajax-container').fadeOut(300);
                    }).fail(function (xhr) {
                        alert(xhr.responseText); // or whatever
                    });
                }
                else {
                    $('#ddlsection').empty();
                    $('#ddlsection').append('<option selected>All</option>');
                    $('.loader-ajax-container').fadeOut(300);
                }
            }

            //========================GET SECTION DETAILS==================================//


        })
    </script>
