﻿@{
    ViewBag.Title = "GetGrievance";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model IEnumerable<DigiChamps.Controllers.TeacherAccessController.GrievanceTeacherModel>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
      
        <li class="active">Grievance</li>
        
    </ul>
</div>


<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Grievance List </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="@Url.Action("CreateGrievance", "TeacherAccess")"><i class="fa fa-plus"></i><span>New Grievance</span></a>
                    </div>
                </div>

                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>                                   
                                    <th>Module Name </th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Attachment</th>
                                    <th>Teacher</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.ModuleId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td class="h6 font-weight-normal "><a href='~/Content/Grievance/@item.FileName' target="_blank"> @item.FileName </a></td>

                                    <td>@item.TeacherId</td>
                                    <td>
                                        @Html.ActionLink(" ", "GrievanceDetails", "TeacherAccess", new { id = @item.ID }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })                                       
                                    </td>
                                </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
