﻿@{
    ViewBag.Title = "GrievanceDetails";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model DigiChamps.Models.GrievanceModel


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/GetGrievance">Grievance List</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>

        <li class="active">Grievance Details</li>

    </ul>
</div>


<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="card-body">

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Grievance Details</h3>
                    </div>

                    <div class="box-content">
                        <div class="form-group voffset3">
                            <input type="hidden" id="hdnId" value="@Model.ID" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Module:</label>
                                        </div>

                                        <div class="col-md-6 text-left">
                                            <label class="h6 font-weight-bolder">@Model.ModuleId</label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Title:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.Title</label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Description:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="h6 font-weight-bolder">@Model.Description</label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Attachments:</label>
                                            </div>

                                            <div class="col-md-9 ">
                                                <table class="table table-advance">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl.No</th>
                                                            <th>FileName</th>
                                                            <th>
                                                                <button type="button" data-toggle="modal" data-target="#myModal">
                                                                    <i class="fa fa-plus-square" style="font-size:20px;color:red"></i> <b>Add</b>
                                                                </button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.attachmentList != null)
                                                        {
                                                            int rowNo = 0;
                                                            foreach (var item in ViewBag.attachmentList)
                                                            {
                                                                <tr>
                                                                    <td>@(rowNo += 1)</td>
                                                                    <td class="h6 font-weight-normal "><a href='~/Content/Grievance/@item.FileName' target="_blank"> @item.FileName </a></td>
                                                                    <td><a href="@Url.Action("DeleteAttachments", "Grievance",new { id = @item.ID})"><i id="trash" class="fa fa-trash" style="color:red"></i></a></td>
                                                                </tr>



                                                            }
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>



                                    </div>
                                </div>*@

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>



<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="card-body">

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Grievance Attachment</h3>
                    </div>

                    <div class="box-content">
                        <div class="form-group voffset3">
                            <input type="hidden" id="hdnId" value="@Model.ID" />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <table class="table table-advance">
                                                <thead>
                                                    <tr>
                                                        <th>Sl.No</th>
                                                        <th>FileName</th>
                                                        <th>
                                                            <button type="button" data-toggle="modal" data-target="#myModal">
                                                                <i class="fa fa-plus-square" style="font-size:20px;color:red"></i> <b>Add</b>
                                                            </button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.attachmentList != null)
                                                    {
                                                        int rowNo = 0;
                                                        foreach (var item in ViewBag.attachmentList)
                                                        {
                                                            <tr>
                                                                <td>@(rowNo += 1)</td>
                                                                <td class="h6 font-weight-normal "><a href='~/Content/Grievance/@item.FileName' target="_blank"> @item.FileName </a></td>
                                                                <td><a href="@Url.Action("DeleteAttachments", "TeacherAccess",new { id = @item.ID})"><i id="trash" class="fa fa-trash" style="color:red"></i></a></td>
                                                            </tr>



                                                        }
                                                    }
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>

<div class="modal fade" id="myModal" role="dialog" style="font-family:sans-serif">
    <div class="modal-dialog modal-bg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Add Attachment</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddGrievanceAttachment", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
                {
                    <input type="hidden" id="reqid" name="grivId" value="@Model.ID" />
                    <div class="row">
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="col-md-4">
                            Choose File
                        </div>
                        <div class="col-md-4">
                            <div class="col-sm-9 col-lg-7 controls">
                                <input type="file" id="img" name="grivimg" accept="image/*">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <button id="btnSearch" type="submit" class="btn btn-primary"><span>Upload Attachment</span> </button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#trash').click(function () {
            alert("are you sure you want to delete this attachment");
        });
    });
</script>



