﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - ODM Teacher</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link rel="stylesheet" href="~/css/flaty.css">
    <link rel="stylesheet" href="~/css/flaty-responsive.css">
    <link rel="shortcut icon" href="~/img/favicon.html">
   <style>
        /*.login-page form input[type="text"], .login-page form input[type="password"] {
            padding: 15px 10px !important;
            height: auto !important;
            font-size: 16px;
            border: 1px solid #24a0d6;
            border-radius: 36px;
        }*/
   input[type="text"], input[type="password"]{
        padding: 10px 10px !important;
            height: auto !important;
            font-size: 14px;
            border: 1px solid #24a0d6;
            border-radius: 36px;
   }
   .btn {
       padding: 8px 10px !important;
    border-radius: 17px!important;
}
        * {
           
            font-family: 'cinzel'
        }

        .bgimg {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(27deg,#79afe0 50%,#004E95 50%);
        }

        .centrediv {
            width: 350px;
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: green;
            transform: translate(-50%,-50%);
            background-image: linear-gradient(27deg, #004E95 50%, #79afe0 50%);
            box-shadow: 0px 1px 6px
        }        
        profilepic {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: relative;
            top: -60px;
            left: calc((350px-120px)/2);
        }

        h2 {
            text-align: center;
            color: white; text-transform:uppercase;
            font-size: 2em;
            word-spacing: 10px;
            margin-top: 50px;
            margin-bottom: 50px;
            text-shadow: -2px 1px 2px #0A84C6;
        }
        .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -50px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #dfe5ea;
		padding: 9px 13px 6px 20px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
       .form-group{
          padding: 0px 10px;
       }
        
    </style>

</head>
<body >
    <div class="bgimg">
        <div class="centrediv">

            <div class="avatar">
                <i class="fa fa-user" style="font-size:78px;color:#79afe0"></i>
            </div>


            @*<img><i class="fa fa-user" id="profilepic"></i>*@
            <h2>Teacher Login</h2>
            @using (Html.BeginForm("Login", "TeacherAccess", FormMethod.Post, new { @id = "validation-form" }))
            {
                if (TempData["ErrorMessage"] != null)
                {
                    <div style="font-size: 20px; color: #6f0505;padding-left: 27px;">@TempData["ErrorMessage"]</div>
                }
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Mobile" id="User_name" name="User_name" class="form-control"  data-rule-required="true" data-msg-required="Please enter Mobile Number" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-rule-required="true" data-msg-required="Please enter password" />
                    </div>
                </div>

                <div class="form-group" style="margin-top:40px;">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-user btn-block">LOGIN</button>
                    </div>
                </div>
            }
        </div>

    </div>


      
        @*<div class="login-wrapper">
           
            @using (Html.BeginForm("Login", "TeacherAccess", FormMethod.Post, new { @id = "validation-form" }))
            {
                <h3><img src="~/Images/digi1.jpg" height="40" width="40" />Teacher Login</h3>
                if (TempData["ErrorMessage"] != null)
                {
                    <div style="font-size: 13px; color: red;">@TempData["ErrorMessage"]</div>
                }
                <hr />
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Mobile" id="User_name" name="User_name" class="form-control" data-rule-required="true" data-msg-required="Please enter Mobile Number" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-rule-required="true" data-msg-required="Please enter password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary form-control" style="box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 9px 14px 46px #2b6184;">LOGIN</button>
                    </div>
                </div>
                <hr />
                <p class="clearfix">
                    <a href="#" class="goto-forgot pull-left">Forgot Password?</a>

                </p>

            }
           
         
          
        </div>*@
    
    <!-- END Main Content -->
    <!--basic scripts-->
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>


 
</body>
</html>
