﻿@{
    ViewBag.Title = "OnlineClasses";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@using System.Globalization;
@model IEnumerable<DigiChamps.Models.OnlineClassModel>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>          

            <li class="active">Online Class List</li>

        </ul>
    </div>
@*<form class="form-horizontal" id="validation-form">*@
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Online Classes </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/TeacherAccess/CreateOnlineClass"><i class="fa fa-plus"></i><span> Add Online Classes</span></a>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                <form action="OnlineClasses" method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">School</div>
                            <div class="form-group">
                                <select id="ddlschool" name="schoolid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Board</div>
                            <div class="form-group">
                                <select id="ddlboard" name="boardid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Class</div>
                            <div class="form-group">
                                <select id="ddlclass" name="classid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Section</div>
                            <div class="form-group">
                                <select id="ddlsection" name="sec" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="Subjectid" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">Date</div>
                            <div class="form-group">
                                <input type="date" id="txtdate" name="date" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"></div>
                            <div class="form-group text-center" style="margin-top: 30px;">
                                <input type="submit" value="Search" class="btn btn-primary" />

                            </div>
                        </div>

                        </div>
                    
                        </form>
               

                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>School</th>
                                <th>Board</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>TeacherName</th>
                                <th>Subject</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>StartTime</th>
                                <th>EndTime</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var a in Model)
                                {
                                    //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@a.SchoolName</td>
                                        <td>@a.BoardName</td>
                                        <td>@a.ClassName</td>
                                        <td>@a.SectionName</td>
                                        <td>@a.TeacherName</td>
                                        <td>@a.SubjectName</td>
                                        <td>@a.FromDate.Value.ToString("dd MMMM yyyy")</td>
                                        <td>@a.ToDate.Value.ToString("dd MMMM yyyy")</td>
                                        <td>@(DateTime.ParseExact(a.StartTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</td>
                                        <td>@(DateTime.ParseExact(a.EndTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</td>
                                        <td>
                                            @Html.ActionLink(" ", "ViewOnlineClassDetails", "TeacherAccess", new { id = a.ID }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })
                                            @*@Html.ActionLink(" ", "CreateOnlineClass", "TeacherAccess", new { id = a.ID, type = "N", schoolid = a.SchoolId, boardid = a.BoardId, classid = a.ClassId, sec = a.SectionId, date = a.Date }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "Edit" })
                                            @Html.ActionLink(" ", "RemoveOnlineClass", "TeacherAccess", new { id = a.ID, type = "N", schoolid = a.SchoolId, boardid = a.BoardId, classid = a.ClassId, sec = a.SectionId, date = a.Date }, new { @class = "btn btn-sm btn-primary fa fa-trash", @title = "Remove" })*@
                                       
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>
    $(document).ready(function () {
        var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';



        GetSchool();
        GetBoard();
        GetClass();

        //$('#ddlboard').change(function () {
        //    GetClass($('#ddlboard').val());
        //})
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
            GetSubject($('#ddlclass').val());

        })



        //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSchoolList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].School_Name + '</option>');
                    }
                    if (schoolid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass() {
            $('.loader-ajax-container').fadeIn(300);

            $.get("/TeacherAccess/GetClassListdtl", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlclass').empty();

                    $('#ddlclass').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                    }
                    if (classid > 0) {
                        $('#ddlclass').val(classid);
                    }
                }
                else {
                    $('#ddlclass').empty();
                    $('#ddlclass').append('<option>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);

            $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlsection').empty();
                    $('#ddlsection').append('<option selected>All</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                    }
                    if (secid > 0) {
                        $('#ddlsection').val(secid);
                    }
                }
                else {
                    $('#ddlsection').empty();
                    $('#ddlsection').append('<option>All</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });

        }

        //========================GET SECTION DETAILS==================================//

        //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option selected>All</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                    }
                    if (subjectid > 0) {
                        $('#ddlsubject').val(subjectid);
                    }
                }
                else {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option>All</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET SUBJECT DETAILS==================================//



    });
</script>

