﻿@{
    ViewBag.Title = "RejectTicket";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@using (Html.BeginForm("RejectTicket", "TeacherAccess", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form" }))
{
    <div class="page-content-wrap">

        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li>
                    <a href="~/TeacherAccess/TeacherTicket">Doubt List</a>
                    <span class="divider"><i class="fa fa-angle-right"></i></span>
                </li>
                <li class="active">Reject Doubt</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-ticket"></i>Reject Ticket</h3>

                    </div>
                    <div class="box-content">
                        <form action="#" class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-group" hidden>
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Student Name<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" id="Student_Name" name="Student_Name" class="form-control" value="@ViewBag.studentname" readonly />
                                    <input type="hidden" value="@ViewBag.tkid" name="h_tkid" />
                                </div>
                                <div class="col-sm-2">
                                    <div class="ajax-loader">
                                        <div class="loader"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <input type="text" id="Class_Name" name="Class_Name" value="@ViewBag.classname" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Question Detail<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    <textarea class="form-control" rows="8" id="Question_Detail" name="Question_Detail" readonly>@ViewBag.question</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Remark<span class="asterisk">*</span></label>
                                <div class="col-sm-9 col-lg-7 controls">
                                    @if (@ViewBag.remark != null)
                                    {
                                        <textarea class="form-control" rows="8" id="Remark_Reject" name="Remark_Reject" readonly>  @ViewBag.remark</textarea>
                                    }
                                    else
                                    {
                                        if (@ViewBag.status == "R")
                                        {
                                            <textarea class="form-control" rows="8" id="Remark_Reject" name="Remark_Reject" readonly>Question rejected</textarea>
                                        }
                                        else if (@ViewBag.status == "C")
                                        {
                                            <textarea class="form-control" rows="8" id="Remark_Reject" name="Remark_Reject" readonly>Question closed</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control" rows="8" id="Remark_Reject" name="Remark_Reject" data-rule-required="true" data-msg-required="Please enter remark"></textarea>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="form-group last">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2 box-tooll">
                                    @if (@ViewBag.status == "R" || @ViewBag.status == "C")
                                    {

                                    }
                                    else
                                    {
                                        <button id="btnSearch" type="submit" name="Reject" title="Click To Reject" class="btn btn-large btn-primary btn-danger"><i class="fa fa-times red-i"></i> Reject</button>


                                    }
                                    @*<a href="@Url.Action("ViewTickectDetail", "Admin", new { id = @ViewBag.tkid })" class="btn btn-inverse dropdown-toggle"><i class="fa fa-caret-left"></i> Back </a>*@
                                    <a class="btn btn-large btn-primary" title="Back To List" href="/TeacherAccess/ViewDoughtDetail/@ViewBag.tkid"><i class="fa fa-undo"></i> <span>Back</span></a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
}
