﻿@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model IEnumerable<DigiChamps.Controllers.TeacherAccessController.StudentDetails_Class>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/TeacherAccess/TeacherDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">
                <a href="~/TeacherAccess/AssignedSubject">Assigned Subject</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Subject Details</li>
        </ul>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Section Wise Student Details </h3>
                @*<div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/School/UploadAssignSubjectToTeacher"><i class="fa fa-upload"></i><span> Upload Excel</span></a>

                    <a class="btn btn-primary" href="/School/CreateAssignSubjectToTeacher"><i class="fa fa-plus"></i><span> Assign Subject</span></a>
                </div>*@
            </div>
            <div class="box-content">

                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>School</th>
                                <th>Class</th>
                                <th>Section</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>@(rowNo += 1)</td>
                                <td>@item.Customer_Name</td>
                                <td>@item.Mobile</td>
                                <td>@item.schoolname</td>
                                <td>@item.Class_Name</td>
                                <td>@item.SectionName</td>

                                @*<td>
            @Html.ActionLink("View Student", "StudentDetails", "TeacherAccess", new { SectionId = @item.SectionId }, new { @class = "btn btn-sm btn-info show-tooltip", @data_original_title = "View Student", @title = "View Student Details" })
        </td>*@
                            </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

