﻿@{
    ViewBag.Title = "StudentWorksheet";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@model IEnumerable<DigiChamps.Controllers.TeacherAccessController.worksheetDetails>


@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <a href="~/TeacherAccess/StudentData">Student Data</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Worksheet</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i>Student Worksheet</h3>
                @*<div class="box-tool box-tooll">
                    <a id="dashboardexcel" href="/TeacherAccess/ExcelforStudentWorkSheetList" class="btn btn-primary"><i class="fa fa-download"></i><span> Download Excel</span> </a>
                </div>*@
                <div class="box-tool box-tooll">
                </div>
            </div>


            <div class="box-content">

                <form action="StudentWorksheet" method="post">
                    <div class="row">                     
                            <input type="hidden" name="Classid" value="@ViewBag.Class" class="form-control">
                            <input type="hidden" name="Regdid" value="@ViewBag.StudentId" class="form-control">
                       
                        <div class="col-md-3">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="subject" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Chapter</div>
                            <div class="form-group">
                                <select id="ddlchapter" name="Chapter" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group" style="margin-bottom: 33px;"></div>
                            <div class="form-group"><input type="submit" value="Search" class="btn btn-warning" /></div>

                        </div>
                    </div>

                </form>

                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Board</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Subject</th>
                                <th>Chapter</th>
                                <th>Teacher</th>
                                <th>Total Mark</th>
                                <th>Verified Date</th>
                                <th>Upload Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>@(rowNo += 1)</td>

                                <td>@item.Board_Name</td>
                                <td>@item.Class_Name</td>
                                <td>@item.Section_Name</td>
                                <td>@item.Subject_Name</td>
                                <td>@item.Chapter_Name</td>
                                <td>@item.Verified_By_Name</td>
                                <td>@item.Total_Mark</td>
                                <td>@item.Verify_Date</td>
                                <td>@item.Upload_Date</td>
                                @*<td><a id="@item.attachments.ToList().Select(a=>a.Path)" class="pdfid" href="#"><img border="0" alt="Module Video" src="~/Images/pdf5.png" width="30" height="30"></a></td>
        <td>
            @Html.ActionLink("Edit", "EditWorksheet", "TeacherAccess", new { id = @item.Worksheet_Id }, new { @class = "btn btn-sm btn-primary show-tooltip", @data_original_title = "Edit", @title = "Edit Worksheet" })
        </td>*@
                            </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {        
            
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';
      

        GetSubject(@ViewBag.Class);  
        GetChapter(subjectid);
      
        $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
        });


     

          //========================SUBJECT==================================//

        function GetSubject(id) {
         
              $.get("/TeacherAccess/GetSubjectData?id="+id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                  
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
        }

        //========================GET SUBJECT DETAILS==================================//


         //========================GET CHAPTER DETAILS==================================//

        function GetChapter(id) {
           
            if (id != '0') {

                $.get("/TeacherAccess/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                        if (chapterid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                  
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
              
            }
        }

        //========================GET CHAPTER DETAILS==================================//
    })
</script>
