﻿@{
    ViewBag.Title = "StudentData";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}
@model IEnumerable<DigiChamps.Controllers.TeacherAccessController.StudentDetailsModel>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Student Data</li>
    </ul>
</div>

<div class="page-content-wrap">

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-ticket"></i>Student Data</h3>
                        @*<div class="box-tool box-tooll">
                                <a id="dashboardexcel" href="/TeacherAccess/ExcelforTicketList" class="btn btn-primary"><i class="fa fa-download"></i><span> Download Excel</span> </a>
                            </div>*@
                    </div>

                    <div class="box-content">

                        <form action="StudentData" method="post">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">School</div>
                                    <div class="form-group">
                                        <select id="ddlschool" name="School" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Board</div>
                                    <div class="form-group">
                                        <select id="ddlboard" name="board" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Class</div>
                                    <div class="form-group">
                                        <select id="ddlclass" name="cls" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">Section</div>
                                    <div class="form-group">
                                        <select id="ddlsection" name="sec" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group" style="margin-bottom: 33px;"></div>
                                    <div class="form-group"><input type="submit" value="Search" class="btn btn-primary" /></div>

                                </div>
                            </div>
                           
                        </form>
                        <div class="table-responsive" style="border:0">
                            <table class="table table-advance table-hover" id="table1">
                                <thead>
                                    <tr>
                                        <th>sl no</th>
                                        <th>School</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Student Name</th>
                                        <th>Mobile</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@(i += 1)</td>
                                        <td>@item.SchoolName</td>
                                        <td>@item.ClassName</td>
                                        <td>@item.SectionName</td>
                                        <td>@item.StudentName</td>
                                        <td>@item.Mobile</td>
                                        <td>
                                            @Html.ActionLink(" ", "StudentWorksheet", "TeacherAccess", new { Regdid = @item.RegdId,Classid=@item.ClassId }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "WorkSheet" })

                                            @Html.ActionLink(" ", "StudentDoubt", "TeacherAccess", new { Regdid = @item.RegdId,cls=@item.ClassId }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-eye", @title = "Doubt" })
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>




</div>
<script>
    $(document).ready(function () {
         var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        @*var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
         var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';*@


        GetSchool();
        GetBoard();
        GetClass();
       GetSection(classid);
        //$('#ddlboard').change(function () {
        //    GetClass($('#ddlboard').val());
        //})
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
             //GetSubject($('#ddlclass').val());

        })
        // $('#ddlsubject').change(function () {
        //    GetChapter($('#ddlsubject').val());
        //})


         //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSchoolList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].School_Name + '</option>');
                    }
                     if (schoolid !='0') {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass() {
            $('.loader-ajax-container').fadeIn(300);

                $.get("/TeacherAccess/GetClassListdtl", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                         if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);

                $.get("/TeacherAccess/GetSectionListdtl?id="+id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                      if (secid !='0') {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });

        }

        //========================GET SECTION DETAILS==================================//


    })
</script>
