﻿@{
    ViewBag.Title = "StudentDoubt";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>           
            <a href="~/TeacherAccess/StudentData">Student Data</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Doubt</li>
    </ul>
</div>

<div class="page-content-wrap">
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-ticket"></i>Doubt Details</h3>
                        <div class="box-tool box-tooll">
                            <a id="dashboardexcel" href="/TeacherAccess/ExcelforStudentDoubtList" class="btn btn-primary"><i class="fa fa-download"></i><span> Download Excel</span> </a>
                        </div>
                    </div>

                    <div class="box-content">

                        <form action="StudentDoubt" method="post">                         
                            <div class="row">
                             
                                    <input type="hidden" name="cls" value="@ViewBag.ClassId" class="form-control">
                                    <input  type="hidden" name="Regdid" value="@ViewBag.StudentId" class="form-control">

                                  
                               
                                <div class="col-md-3">
                                    <div class="form-group">Subject</div>
                                    <div class="form-group">
                                        <select id="ddlsubject" name="subject" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Chapter</div>
                                    <div class="form-group">
                                        <select id="ddlchapter" name="Chapter" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Status</div>
                                    <div class="form-group">
                                        <select id="ddlstatus" name="Status" class="form-control">
                                            <option value="A" selected="@(ViewBag.Status=="A"?true:false)">All</option>
                                            <option value="O" selected="@(ViewBag.Status=="O"?true:false)">Open</option>
                                            <option value="R" selected="@(ViewBag.Status=="R"?true:false)">Rejected</option>
                                            <option value="U" selected="@(ViewBag.Status=="U"?true:false)">Overdue</option>
                                            <option value="C" selected="@(ViewBag.Status=="C"?true:false)">Closed</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group" style="margin-bottom: 33px;"></div>
                                    <div class="form-group"><input type="submit" value="Search" class="btn btn-warning" /></div>

                                </div>
                            </div>
                        </form>


                       
                        <div class="table-responsive" style="border:0">
                            <table class="table table-advance table-hover" id="table1">
                                <thead>
                                    <tr>

                                        @*<th><input type="checkbox"/></th>*@
                                        <th>sl no</th>
                                        <th>Ticket No.</th>
                                        <th>Student Name</th>
                                        <th>Class</th>
                                        <th>Subject</th>
                                        <th>Chapter</th>
                                        <th>Created Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Ticket != null)
                                    {
                                        int i = 0;
                                        foreach (var item in ViewBag.Ticket)
                                        {
                                    <tr>
                                        <td>@(i += 1)</td>
                                        <td><a href="#" class="blue" value="@item.Ticket_ID">@item.Ticket_No</a></td>
                                        <td>@item.Customer_Name</td>
                                        <td>@item.Class_Name</td>
                                        <td>
                                            @item.Subject
                                    </td>
                                    <td>@item.Chapter</td>
                                    <td>@item.Inserted_Date</td>

                                    @{
                                        string sta = Convert.ToString(@item.Status);
                                    }
                                    @if (sta == "O")
                                    {
                                        <td title="Open" style="color: forestgreen;">Open</td>
                                    }
                                    @if (sta == "C")
                                    {

                                        <td title="Click To Reopen" style="color: yellow;">Close</td>

                                        @*<td title="Click To Reopen"><span class="label label-yellow"><a href="/Admin/reopenticket?id=@item.Ticket_ID">Close</a></span></td>*@
                                    }
                                    @if (sta == "R")
                                    {
                                        <td title="Click To Reopen" style="color: red;">Rejected</td>
                                        @*<td title="Click To Reopen"><span class="label label-danger"><a href="/Admin/reopen_ticket?id=@item.Ticket_ID">Rejected</a></span></td>*@
                                    }
                                    @if (sta == "D")
                                    {
                                        <td title="Click To Overdue">Overdue</td>
                                        @*<td title="Overdue"><span class="label label-important">Overdue</span></td>*@
                                    }
                                    <td>

                                        @Html.ActionLink(" ", "ViewStudentDoughtDetail", "TeacherAccess", new { id = @item.Ticket_ID, Regdid = ViewBag.StudentId }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "View Ticket" })

                                        @*@Html.ActionLink(" ", "RejectTicket", "Admin", new { id = @item.Ticket_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-times", @title = "Reject Ticket" })*@
                                    </td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


   
   
</div>
<script>
    $(document).ready(function () {
       
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
         var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';

        GetSubject(@ViewBag.ClassId);
           GetChapter(subjectid);     
        $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
        });   

          //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
              $.get("/TeacherAccess/GetSubjectData?id="+id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
        }

        //========================GET SUBJECT DETAILS==================================//


         //========================GET CHAPTER DETAILS==================================//

        function GetChapter(id) {
         
            if (id != '0') {

                $.get("/TeacherAccess/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                        if (chapterid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
              
            }
        }

        //========================GET CHAPTER DETAILS==================================//
    })
</script>


