﻿@{
    ViewBag.Title = "StudentNotUploadWorksheetReport";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


@model IEnumerable<DigiChamps.Controllers.TeacherAccessController.StdName>


@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i>Not Uploaded Worksheet Student List</h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/TeacherAccess/DownloadNotSubmittedWorksheetExcel"><i class="fa fa-file"></i><span> Download Excel</span></a>
                </div>
                <div class="box-tool box-tooll">
                </div>
            </div>

            <div id="myModal2" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">

                            @*<p>
                                    <object width="100%" height="500px" id="pdfview" data="#"></object>
                                </p>*@

                            <div id="pdfview"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>


            <div class="box-content">
                <form action="StudentNotUploadWorksheetReport" method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">School</div>
                            <div class="form-group">
                                <select id="ddlschool" name="School" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Board</div>
                            <div class="form-group">
                                <select id="ddlboard" name="board" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Class</div>
                            <div class="form-group">
                                <select id="ddlclass" name="cls" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Section</div>
                            <div class="form-group">
                                <select id="ddlsection" name="sec" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="subject" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Chapter</div>
                            <div class="form-group">
                                <select id="ddlchapter" name="Chapter" class="form-control"></select>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="form-group">Status</div>
                                <div class="form-group">
                                    <select id="ddlstatus" name="Status" class="form-control">
                                        <option value="A" selected>All</option>
                                        <option value="V">Verified</option>
                                        <option value="U">Uploaded</option>

                                    </select>
                                </div>
                            </div>*@

                        <div class="col-md-3">
                            <div class="form-group" style="margin-bottom: 33px;"></div>
                            <div class="form-group"><input type="submit" value="Search" class="btn btn-warning" /></div>

                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Section</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.Name</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.Email</td>
                                        <td>@item.Section</td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
         var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
         var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';


        GetSchool();
        GetBoard();
        GetClass();
        GetSection(classid);
        GetSubject(classid);
        GetChapter(subjectid);


        //$('#ddlboard').change(function () {
        //    GetClass($('#ddlboard').val());
        //})
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
             GetSubject($('#ddlclass').val());

        })
         $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
        })


         //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSchoolList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].School_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass() {
            $('.loader-ajax-container').fadeIn(300);

                $.get("/TeacherAccess/GetClassListdtl", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '') {
                $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    $('#ddlsection').append('<option>All</option>');
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid !='0') {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SECTION DETAILS==================================//

          //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '') {
                $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SUBJECT DETAILS==================================//


         //========================GET CHAPTER DETAILS==================================//

        function GetChapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/TeacherAccess/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                         if (classid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CHAPTER DETAILS==================================//
    })
</script>

<script type="text/javascript" src="~/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
