﻿@{
    ViewBag.Title = "TeacherTicket";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Doubt</li>
    </ul>
</div>

<div class="page-content-wrap">
   
      


        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="fa fa-ticket"></i>Doubt Details</h3>
                            <div class="box-tool box-tooll">
                                <a id="dashboardexcel" href="/TeacherAccess/ExcelforTicketList" class="btn btn-primary"><i class="fa fa-download"></i><span> Download Excel</span> </a>
                            </div>
                        </div>

                        <div class="box-content">
                            <form action="TeacherTicket" method="post">                              
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">From Date</div>
                                        <div class="form-group">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select From date" name="f_Date" class="datepicker form-control" value="@ViewBag.fdt" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">To Date</div>
                                        <div class="form-group">
                                            <input type="text" placeholder="@DateTime.Now.ToShortDateString()" autocomplete="off" data-rule-required="true" data-msg-required="Please select To date" name="t_Date" class="datepicker form-control" value="@ViewBag.tdt" />
                                        </div>
                                    </div>
                                   
                                  
                                </div>


                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">School</div>
                                        <div class="form-group">
                                            <select id="ddlschool" name="School" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">Board</div>
                                        <div class="form-group">
                                            <select id="ddlboard" name="board" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">Class</div>
                                        <div class="form-group">
                                            <select id="ddlclass" name="cls" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">Section</div>
                                        <div class="form-group">
                                            <select id="ddlsection" name="sec" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">Subject</div>
                                        <div class="form-group">
                                            <select id="ddlsubject" name="subject" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">Chapter</div>
                                        <div class="form-group">
                                            <select id="ddlchapter" name="Chapter" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">Status</div>
                                        <div class="form-group">
                                            <select id="ddlstatus" name="Status" class="form-control">
                                                <option value="A" selected="@(ViewBag.status=="A"?true:false)">All</option>
                                                <option value="O" selected="@(ViewBag.status=="O"?true:false)">Pending</option>
                                                <option value="S" selected="@(ViewBag.status=="S"?true:false)">Answered</option>
                                                @*<option value="U">Overdue</option>*@
                                                <option value="R" selected="@(ViewBag.status=="R"?true:false)">Rejected</option>
                                                <option value="C" selected="@(ViewBag.status=="C"?true:false)">Closed</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" style="margin-bottom: 33px;"></div>
                                        <div class="form-group"> <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button></div>
                                       
                                    </div>
                                </div>
                            </form>
                                <div class="table-responsive" style="border:0">
                                    <table class="table table-advance table-hover" id="table1">
                                        <thead>
                                            <tr>

                                                @*<th><input type="checkbox"/></th>*@
                                                <th>sl no</th>
                                                @*<th></th>*@
                                                <th>Ticket No.</th>
                                                <th>Student Name</th>
                                                <th>Class</th>
                                                <th>Subject</th>
                                                <th>Created Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Ticket != null)
                                            {
                                                int i = 0;
                                                foreach (var item in ViewBag.Ticket)
                                                {
                                            <tr>
                                                <td>@(i += 1)</td>
                                                @*<td><input type="checkbox" id="Chk_tickets" name="Chk_tickets" value="@item.Ticket_ID" /></td>*@
                                                <td><a href="#" class="blue" value="@item.Ticket_ID">@item.Ticket_No</a></td>
                                                <td>@item.Customer_Name</td>
                                                <td>@item.Class_Name</td>
                                                <td>@item.Subject</td>
                                                <td>@item.Inserted_Date</td>

                                                @{
                                                    string sta = Convert.ToString(@item.Status);
                                                }
                                                @if (sta == "O" && item.Answer == "False")
                                                {
                                                    <td title="Open" style="color: orange;">Pending</td>
                                                }
                                                @if (sta == "C")
                                                {

                                                    <td title="Click To Reopen" style="color: green;">Close</td>

                                                    @*<td title="Click To Reopen"><span class="label label-yellow"><a href="/Admin/reopenticket?id=@item.Ticket_ID">Close</a></span></td>*@
                                                }
                                                @if (sta == "R")
                                                {
                                                    <td title="Click To Reopen" style="color: red;">Rejected</td>
                                                    @*<td title="Click To Reopen"><span class="label label-danger"><a href="/Admin/reopen_ticket?id=@item.Ticket_ID">Rejected</a></span></td>*@
                                                }
                                                @if (sta == "O" && item.Answer == "True")
                                                {
                                                    <td title="Answered">Answered</td>
                                                    @*<td title="Overdue"><span class="label label-important">Overdue</span></td>*@
                                                }
                                                @*@if (sta == "U")
                                                {

                                                    <td title="Click To Reopen" style="color: blue;">Overdue</td>

                                                }*@
                                                <td>

                                                    @Html.ActionLink(" ", "ViewDoughtDetail", "TeacherAccess", new { id = @item.Ticket_ID }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-eye", @title = "View Ticket" })

                                                    @*@Html.ActionLink(" ", "RejectTicket", "Admin", new { id = @item.Ticket_ID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-times", @title = "Reject Ticket" })*@
                                                </td>
                                            </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>
                                </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


    <div id="modal_3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Message</h3>
                    <div class="modal-body">
                        <h5></h5>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_4" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Ticket Details</h3>
                </div>
                <div class="modal-body">
                    <label for="textfield5" class="control-label">
                        Question<span class="asterisk">*</span>
                    </label>
                    <p id="Ticket_p"></p>

                    <label for="textfield5" class="control-label">
                        Created on<span class="asterisk">*</span>
                    </label><p id="Ticket_d"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
         var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
         var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';


        GetSchool();
        GetBoard();
        GetClass();
        GetSection(classid);
        GetSubject(classid);
        GetChapter(subjectid);


        //$('#ddlboard').change(function () {
        //    GetClass($('#ddlboard').val());
        //})
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
             GetSubject($('#ddlclass').val());

        })
         $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
        })


         //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSchoolList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].School_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass() {
            $('.loader-ajax-container').fadeIn(300);

                $.get("/TeacherAccess/GetClassListdtl", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);          
            if (id != '') {
                $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    $('#ddlsection').append('<option>All</option>');
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid !='0') {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SECTION DETAILS==================================//

          //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '') {
                $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SUBJECT DETAILS==================================//


         //========================GET CHAPTER DETAILS==================================//

        function GetChapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/TeacherAccess/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                         if (classid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CHAPTER DETAILS==================================//
    })
</script>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                debugger;
                var tb = $(this).attr('title');
                var sel = false;
                var ch = $('#table1').find('tbody input[type=checkbox]');
                var c = confirm('Are you sure, want to delete?');
                if (c) {

                    if ($('#table1').find('tbody input[type=checkbox]').is(':checked')) {
                        $.ajax({
                            type: 'POST',
                            url: "/Admin/Delete_ALLTickets",
                            data: $('#Ticke_form').serialize(),
                            success: function (data) {
                                if (data == "1") {
                                    $("#modal_3 .modal-body h5").html("Selected Ticket Deleted Successfully.");
                                    $("#modal_3").modal("show");
                                    setTimeout(9000);
                                    location.href = "/Admin/Ticket";


                                } else if (data == "2") {
                                    location.href = "/Admin/Logout";
                                }
                                else {
                                    $("#modal_3 .modal-body h5").html("Something went wrong.");
                                    $("#modal_3").modal("show");
                                    setTimeout(9000);
                                    location.href = "/Admin/Ticket";
                                }
                            }
                        });


                    } else {
                        $("#modal_3 .modal-body h5").html("Nothing selected.");
                        $("#modal_3").modal("show");
                    }

                }
            })
            $("#btnassign").click(function () {
                if ($('#table1').find('tbody input[type=checkbox]').is(':checked')) {
                    $.ajax({
                        type: 'POST',
                        url: "/Admin/Bulk_Assign_Tickets",
                        dataType: "json",
                        data: $('#Ticke_form').serialize(),
                        success: function (data) {
                            if (data == "1") {
                                $("#modal_3 .modal-body h5").html("Ticket Assigned Successfully.");
                                $("#modal_3").modal("show");
                                setTimeout(9000);
                                location.href = "/Admin/Ticket";


                            }
                            else if (data == "3") {
                                location.href = "/Admin/Logout";
                            }
                            else {
                                $("#modal_3 .modal-body h5").html(data);
                                $("#modal_3").modal("show");
                            }
                        }
                    });
                }
                else {
                    $("#modal_3 .modal-body h5").html("Nothing selected.");
                    $("#modal_3").modal("show");
                }
            })



            $(".blue").click(function () {
                debugger;
                $.ajax({
                    type: 'POST',
                    url: "/Admin/tooltip_ticket_details",
                    data: { id: $(this).attr('value') },
                    dataType: "json",
                    success: function (data) {
                        if (data[0] == "No data found") {
                            $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                            $("#modal_4 .modal-body #Ticket_d").html(data[0]);
                            $("#modal_4").modal("show");
                        } else {
                            $("#modal_4 .modal-body #Ticket_p").html(data[0]);
                            $("#modal_4 .modal-body #Ticket_d").html(data[1]);
                            $("#modal_4").modal("show");
                        }

                    }
                });
            });
        });
    </script>
}

