﻿@{
    ViewBag.Title = "TicketDashboard";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Doubt Dashboard</li>
    </ul>
</div>

<div class="page-content-wrap">

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-ticket"></i>Dashboard</h3>
                        <div class="box-tool box-tooll">
                           <a  id="dashboardexcel" href="/TeacherAccess/ExcelforTicketDashboard" class="btn btn-primary"><i class="fa fa-download"></i><span> Download Excel</span> </a>
                        </div>
                    </div>
                    <div class="box-content">

                        <form action="TicketDashboard" method="post">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">School</div>
                                    <div class="form-group">
                                        <select id="ddlschool" name="School" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Board</div>
                                    <div class="form-group">
                                        <select id="ddlboard" name="board" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Class</div>
                                    <div class="form-group">
                                        <select id="ddlclass" name="cls" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Section</div>
                                    <div class="form-group">
                                        <select id="ddlsection" name="sec" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">Subject</div>
                                    <div class="form-group">
                                        <select id="ddlsubject" name="subject" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">Chapter</div>
                                    <div class="form-group">
                                        <select id="ddlchapter" name="Chapter" class="form-control"></select>
                                    </div>
                                </div>
                               

                                <div class="col-md-3">
                                    <div class="form-group" style="margin-bottom: 33px;"></div>
                                    <div class="form-group"><input type="submit" value="Search" class="btn btn-secondary" /></div>

                                </div>
                            </div>
                        </form>



                        <div class="row">

                            <div class="col-md-3">
                                <div class="tile tile-dark-blue">
                                    <div class="img">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">
                                            @ViewBag.Doubt
                                        </p>
                                        <p class="title">Total Doubt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile tile-orange">
                                    <div class="img">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">
                                            @ViewBag.PendingDoubt
                                        </p>
                                        <p class="title">Total Pending Doubt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile tile-lime">
                                    <div class="img">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">
                                            @ViewBag.AnsweredDoubt
                                        </p>
                                        <p class="title">Total Answered Doubt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile tile-lime" style="background-color: #b11d6f">
                                    <div class="img">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">
                                            @ViewBag.CloseddDoubt
                                        </p>
                                        <p class="title">Total Closed Doubt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile tile-magenta">
                                    <div class="img">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">
                                            @ViewBag.RejectedDoubt
                                        </p>
                                        <p class="title">Total Rejected Doubt</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div id="modal_3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Message</h3>
                    <div class="modal-body">
                        <h5></h5>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_4" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i> Ticket Details</h3>
                </div>
                <div class="modal-body">
                    <label for="textfield5" class="control-label">
                        Question<span class="asterisk">*</span>
                    </label>
                    <p id="Ticket_p"></p>

                    <label for="textfield5" class="control-label">
                        Created on<span class="asterisk">*</span>
                    </label><p id="Ticket_d"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
         var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
         var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';


        GetSchool();
        GetBoard();
        GetClass();
        GetSection(classid);
        GetSubject(classid);
        GetChapter(subjectid);


        //$('#ddlboard').change(function () {
        //    GetClass($('#ddlboard').val());
        //})
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
             GetSubject($('#ddlclass').val());

        })
         $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
        })


         //========================GET School DETAILS==================================//

        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetSchoolList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].School_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/TeacherAccess/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass() {
            $('.loader-ajax-container').fadeIn(300);

                $.get("/TeacherAccess/GetClassListdtl", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '') {
                $.get("/TeacherAccess/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    $('#ddlsection').append('<option>All</option>');
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid !='0') {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SECTION DETAILS==================================//

          //========================SUBJECT==================================//

        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '') {
                $.get("/TeacherAccess/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
        }

        //========================GET SUBJECT DETAILS==================================//


         //========================GET CHAPTER DETAILS==================================//

        function GetChapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/TeacherAccess/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                         if (classid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CHAPTER DETAILS==================================//
    })
</script>