﻿@{
    ViewBag.Title = "ViewOnlineClassDetails";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}

@using System.Globalization;
@model DigiChamps.Models.adminviewonlineclasses
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/TeacherAccess/TeacherDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <a href="~/TeacherAccess/OnlineClasses">Online Class List</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>

        <li class="active">Online Class Details</li>

    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i>View Online Class Details </h3>
                <div class="box-tool box-tooll">
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                <div class="form-group voffset3">
                    <input type="hidden" id="hdnId" value="@Model.onlineClass.ID" />


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold"><span>School:</span></label>
                                </div>

                                <div class="col-md-6  text-left">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.SchoolName</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Board:</label>
                                </div>

                                <div class="col-md-6 text-left">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.BoardName</label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Class:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.ClassName</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Section:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.SectionName</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Teacher:</label>
                                </div>

                                <div class="col-md-6 text-left">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.TeacherName</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">Subject:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@Model.onlineClass.SubjectName</label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">From Date:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@(Model.onlineClass.FromDate.Value.ToString("dd MMM yyyy"))</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">End Date:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@(Model.onlineClass.ToDate.Value.ToString("dd MMM yyyy"))</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">StartTime:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@(DateTime.ParseExact(Model.onlineClass.StartTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label class="control-label h6 font-weight-normal text-dark" style="font-weight:bold">EndTime:</label>
                                </div>

                                <div class="col-md-6">
                                    <label class="h6 font-weight-bolder">@(DateTime.ParseExact(Model.onlineClass.EndTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))</label>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @* Videos *@
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i>Recoreded Video Details </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/TeacherAccess/CreateOnlineVideos?onlineclassid=@Model.onlineClass.ID"><i class="fa fa-plus"></i><span> Add Online Recorded Video</span></a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Chapter</th>
                                <th>Topic Title</th>
                                <th>Description</th>
                                <th>Videos</th>
                                <th>Password</th>
                                <th>Updated On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.onlineclassvideos != null)
                            {
                                int rowNo = 0;
                                foreach (var item in Model.onlineclassvideos)
                                {
                                    //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.ChapterName</td>
                                        <td>@item.Topic_Name</td>
                                        <td>@item.Topic_Description</td>
                                        <td>
                                            <a href="@item.Video_Link" target="_blank">Video @(rowNo += 1)</a>
                                        </td>
                                        <td>
                                            @item.Password
                                        </td>
                                        <td>@(item.Inserted_On.Value.ToString("dd MMM yyyy"))</td>
                                        <td>
                                            @Html.ActionLink(" ", "CreateOnlineVideos", "TeacherAccess", new { id = item.OnlineClassVideoId, onlineclassid = item.OnlineClassId }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "Edit" })
                                            @Html.ActionLink(" ", "RemoveOnlineVideos", "TeacherAccess", new { id = item.OnlineClassVideoId }, new { @class = "btn btn-sm btn-primary fa fa-trash", @title = "Remove" })
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        @* Syllabus *@
        @*<div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Syllabus Details </h3>
                    <div class="box-tool box-tooll">
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Chapter</th>
                                    <th>SyllabusTitle</th>
                                    <th>SyllabusDescription</th>
                                    <th>Updated On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.classSyllabusModel != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model.classSyllabusModel)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.ChapterName</td>
                                            <td>@item.SyllabusTitle</td>
                                            <td>@item.SyllabusDescription</td>
                                            <td>@(item.modifieddate.Value.ToString("dd MMM yyyy"))</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>*@

        @* Homework *@
        @*<div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Homework Details </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="/TeacherAccess/CreateOnlineClassHomeWork?onlineclassid=@(Model.onlineClass.ID)"><i class="fa fa-plus"></i><span> Add Homework</span></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table3">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Question PDF</th>
                                    <th>Total Student Count</th>
                                    <th>Uploaded</th>
                                    <th>Not Uploaded</th>
                                    <th>Inserted Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.HomeWorks != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model.HomeWorks)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td><a target="_blank" href="@item.HomeWorkPdf" class="text-black-50"><i class="fa fa-file"></i></a></td>
                                            <td>@item.TotalStudentCount</td>
                                            <td>@item.UploadedStudentCount</td>
                                            <td>@item.NotUploaded</td>
                                            <td>@(item.InsertedDate.ToString("dd MMM yyyy"))</td>
                                            <td>
                                                @Html.ActionLink(" ", "HomeWorkDetails", "TeacherAccess", new { id = item.ID, SectionId = Model.onlineClass.SectionId }, new { @class = "btn btn-sm btn-primary fa fa-eye", @title = "View" })
                                                @Html.ActionLink(" ", "Removeonlineclasshomework", "TeacherAccess", new { id = item.ID }, new { @class = "btn btn-sm btn-primary fa fa-trash", @title = "Remove" })
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>*@


        @* Student Attendance *@
        @*<div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Attendance Details </h3>
                    <div class="box-tool box-tooll">
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Student Name</th>
                                    <th>Is Attended</th>
                                    <th>Rating</th>
                                    <th>Review</th>
                                    <th>Updated On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.onlinestudentattendance != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model.onlinestudentattendance)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.Student_Name</td>
                                            <td>@(item.IsPresent == true ? "Yes" : "No")</td>
                                            <td>@item.Rating</td>
                                            <td>@item.Review</td>
                                            <td>@(item.modifieddate.Value.ToString("dd MMM yyyy"))</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>*@




    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
        $('#table2').dataTable({
            "bPaginate": false
        });
    })
</script>