﻿@{
    ViewBag.Title = "ViewStudyNotes";
    Layout = "~/Views/Shared/_TeacherAccessLayout.cshtml";
}


@model IEnumerable<DigiChamps.Models.DigiChampsModel.DigiChampsModuleModel>

<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-cubes"></i> Study Notes
                <div class="btn-toolbar pull-right">

                </div>
            </h1>

        </div>
    </div>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">

                    <h3><i class="fa fa-cubes"></i>Study Notes Details</h3>
                    <div class="box-tool box-tooll">
                        <a href="/TeacherAccess/CreateOrEditStudyNotes?returnurl=@(System.Web.HttpContext.Current.Request.Url)" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Add New</span></a>
                    </div>
                </div>

                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-body">

                                @*<p>
                                        <object width="100%" height="500px" id="pdfview" data="#"></object>
                                    </p>*@

                                <div id="pdfview"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>


                <div class="box-content">
                    @using (Html.BeginForm("ViewStudyNotes", "TeacherAccess", FormMethod.Get, new { enctype = "multipart/form-data", @id = "validation-form" }))
                    {
                        <div class="row">
                            <div class="col-md-3 px-1">
                                <div class="form-group">Board</div>
                                <div class="form-group">
                                    <select id="ddlboard" name="board" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Class</div>
                                <div class="form-group">
                                    <select id="ddlclass" name="cls" class="form-control"></select>
                                </div>
                            </div>

                            <div class="col-md-3 px-1">
                                <div class="form-group">Subject</div>
                                <div class="form-group">
                                    <select id="ddlsubject" name="subject" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Chapter</div>
                                <div class="form-group">
                                    <select id="ddlchapter" name="chapter" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group"><input type="submit" value="Search" class="btn btn-secondary" /></div>

                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("MultipleDeleteStudyNotes", "TeacherAccess", FormMethod.Post, new { enctype = "multipart/form-data", @id = "validation-form" }))
                    {
                        <div class="form-group text-left">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i><span>Multiple Delete</span></button>
                        </div>
                        <div class="table-responsive voffset3">

                            <table class="table table-advance" id="table1">

                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Sl No.</th>
                                        <th>Board</th>
                                        <th>Class</th>
                                        <th>Subject</th>
                                        <th>Chapter</th>
                                        @*<th>Module Name</th>*@
                                        <th>Study Note Name</th>
                                        <th>PDF</th>
                                        <th style="width: 20%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                    }
                                    @if (Model != null)
                                    {
                                        foreach (var v in Model)
                                        {
                                            <tr>
                                                <td><input type="checkbox" name="chkselect" value="@v.Module_ID" /></td>
                                                <td>@(i += 1)</td>
                                                <td>@v.Board_Name</td>
                                                <td>@v.Class_Name</td>
                                                <td>@v.Subject</td>
                                                <td>@v.Chapter</td>
                                                @*<td width="200">@v.Module_Name</td>*@
                                                <td>@v.Module_Content_Name</td>
                                                <td><a id="~/Module/PDF/@v.Module_Content" class="pdfid" href="#"><img border="0" alt="Module Video" src="~/Images/pdf5.png" width="30" height="30"></a></td>


                                                @*<td>@v.Module_Content</td>*@
                                                <td>
                                                    @Html.ActionLink(" ", "CreateOrEditStudyNotes", "TeacherAccess", new { id = @v.Module_ID, returnurl = @System.Web.HttpContext.Current.Request.Url }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })
                                                    @* </span>*@
                                                    @*<span class="btn btn-circle btn-bordered thick btn-danger" onclick="return confirm('Are you sure want to delete the module?')">*@
                                                    @Html.ActionLink(" ", "DeleteStudyNotes", "TeacherAccess", new { id = @v.Module_ID, returnurl = @System.Web.HttpContext.Current.Request.Url }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the Study Note?')", @data_original_title = "Delete", @title = "Delete" })
                                                    @*</span>*@
                                                </td>

                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
  {
    <script type="text/javascript" src="~/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
    <script>

        $(document).ready(function () {


            $("#table1").on('click', '.pdfid', function (event) {
                debugger;
                var href = "http://learn.odmps.org" + $(this).attr("id");

                //$('#pdfview').attr('data', href);
                $('#pdfview').html('<embed src="' + href + '" width="100%" height="500px" />');
                $('#myModal2').modal('show');

            })
        })
    </script>

    <script language="javascript" type="text/javascript">

        $('.close').click(function () {


            location.reload();
            $('#myModal').modal('hide');

        });

    </script>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';
        GetBoard();
        GetClass(boardid);
        GetSection(classid);
        Getchapter(chapterid);
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
        })
        $('#ddlsubject').change(function () {
            Getchapter($('#ddlsubject').val());
        })
        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {


                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//
        function Getchapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/Admin/GetChapters?subjectid=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].id + '">' + data[i].name + '</option>')
                        }
                        if (chapterid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);

                })
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>All</option>');

                $('.loader-ajax-container').fadeOut(300);
            }

        }

    })
</script>
