﻿@{
    ViewBag.Title = "CreateOrEditAcademicSession";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@model DigiChamps.Controllers.MasterController.AcademicSessionModel

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/SchoolReport/Dashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <a href="~/Master/AcademicSession">AcademicSession</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <span>Create</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Add AcademicSession</h3>
                <div class="box-tool box-tooll">
                </div>
            </div>            
            <div class="box-content">
                <div class="row">
                    @using (Html.BeginForm("SaveAcademicSession", "Master", FormMethod.Post, new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                    {
                        <div class="form-group">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="text" id="name" name="name" class="form-control" required data-msg-required="Please select Name" placeholder="name" />
                                </div>

                                <div class="clearfix" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label>FromDate*</label>
                                </div>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="date" id="fdate" name="fdate" class="form-control" required data-msg-required="Please select fromdate" />
                                </div>

                                <div class="clearfix" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label>ToDate*</label>
                                </div>
                                <div class="col-sm-8 col-lg-8 controls">
                                    <input type="date" id="tdate" name="tdate" class="form-control" required data-msg-required="Please select Todate" />
                                </div>

                                <div class="clearfix" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label></label>
                                </div>
                                <div class="col-sm-2 col-lg-2 controls">
                                    <input type="checkbox" name="Active" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-lg-4 controls">
                                    <label>Make As Current Session </label>
                                </div>

                                <div class="clearfix" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>