﻿@{
    ViewBag.Title = "StudentSession";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}



@model IEnumerable<DigiChamps.Controllers.MasterController.StudentDetailsModel>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/SchoolReport/Dashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>

            <span class="divider">AcademicSession</span>
        </li>

    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Academic Session List </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/Master/CreateAcademicSession"><i class="fa fa-plus"></i><span> Add Academic Session</span></a>
                </div>
            </div>

            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Session</th>
                                <th>Student</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Status</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var a in Model)
                                {
                            <tr>
                                <td>@(rowNo += 1)</td>
                                <td>@a.SessionName</td>
                                <td>@a.StudentName</td>
                                <td>@a.ClassName</td>
                                <td>@a.SectionName</td>
                                <td>@a.IsCurrentSession</td>
                                <td>
                                    @*@Html.ActionLink(" ", "EditAcademicSession", "Master", new { id = a.ID }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "Edit" })
            <a href="@Url.Action("DeleteAcademicSession", "Master" , new { id = a.ID })" class="btn btn-sm btn-primary fa fa-trash" title="Remove" onclick="return confirm('Are You Sure Want To Remove This...?')"></a>*@

                                </td>
                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

