﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/MentorshipDashboard.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.jqueryui.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>






<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script>
    if (!window.moment) {
        document.write('<script src="assets/plugins/moment/moment.min.js"><\/script>');
    }
</script>

<div class="container">
    <div class="card row bg-info" style="margin-top:20px;">
        <div class="card-header text-white">
            <h5 class="card-title text-white" style="text-align:center">Statistics</h5>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">

        <div class="card border-info bg-info text-white mb-3 " style="max-width: 18rem;">
            <div class="card-header">
                <h5 class="card-title" style="text-align:center">No.Of Students <br />Appeared Exam</h5>
            </div>
            <div class="card-body">

                <h5 class="card-text" id="tsae" style="text-align:center"></h5>
            </div>
        </div>
        <div class="col-2"></div>
        @*<div class="card border-warning bg-warning text-white mb-3 " style="max-width: 18rem;">
            <div class="card-header" style="text-align:center">
                <h5 class="card-title">No.Of Students <br /> Answered All Questions</h5>
            </div>
            <div class="card-body">

                <h5 class="card-text " id="tsaaq" style="text-align:center"></h5>
            </div>
        </div>*@
    </div>
    <div class="card row bg-primary" style="margin-top:20px;">
        <div class="card-header text-white">
            <h5 class="card-title text-white" style="text-align:center">Student List</h5>

        </div>
    </div>
    <div class="row " style="margin-top:20px;">

            <table id="tblexamdetails" class="table-bordered table-hover">
                <thead>
                    <tr>
                        <td>
                            Sl No.
                        </td>
                        <td>
                            Student Name
                        </td>
                        <td>
                            Mobile
                        </td>
                        <td>
                            Exam Appeared Date
                        </td>
                        <td>
                            Total Questions
                        </td>
                        <td>
                            Attempted Questions
                        </td>
                        <td>
                            Individual Score
                        </td>
                        <td>
                            Total Score
                        </td>
                        <td>
                            Actions
                        </td>
                    </tr>
                </thead>

            </table>
        </div>
</div>
<script>
    $(document).ready(function () {
        // DataTable
        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, row, column, node) {
                        // Strip $ from salary column to make it numeric
                        return column === 5 ?
                            String(data).replace(/[$,]/g, '') :
                            data;
                    }
                }
            }
        };

        // #myInput is a <input type="text"> element
        $.get("../MentorshipDashboard/GetDashboardCount", "", function (d) {



            $('#tsae').text(d.CountAppeared);
          //  $('#tsaaq').text(d.CountAnswered);

        })


        $('#tblexamdetails').dataTable({
            "processing": true,
            
            "sPaginationType": "full_numbers",
            "aLengthMenu": [5, 10, 15, 25, 50, 100 ],
            "iDisplayLength" : 10,
            "bPaginate": true,
            "bSearchable": true,
            "bFilter": true,
            "ajax": {
                "url": "/MentorshipDashboard/GetAllExamDetails",
                "type": "POST",
                "datatype": "json",
                "contentType":"application/json"
            },
            "dom": 'Blfrtip',

            buttons: [
                $.extend(true, {}, buttonCommon, {
                    extend: 'copyHtml5',

                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'pdfHtml5'
                })
            ],
            "columns": [
                { "data": "slno", "autoWidth": true },
                { "data": "studentname", "autoWidth": true },
                { "data": "mobile", "autoWidth": true },
                {
                    "data": "mydate",
                    "type": "date ",
                    "autoWidth": true,
                    "render":function (value) {
                        if (value === null) return "";
                        return moment(value).format('DD/MM/YYYY');
                    }
                },
                { "data": "totalquestions", "autoWidth": true },
                { "data": "Attemptedques", "autoWidth": true },
                { "data": "IndividualScore", "autoWidth": true },
                { "data": "Score", "autoWidth": true },

                {
                    "data": null,
                    "render":function(data,type,row)
                    {

                        //return '<a id="' + row.id + '" href="#" onclick="ViewDetails(' + data.Result_ID + ')">Result Details</a>&nbsp;&nbsp;&nbsp;<a id="' + row.id + '" href="#" onclick="ViewStudentDetails(' + data.Regd_ID + ')">Profile</a>';
                        return '<a id="' + row.id + '" href="#" onclick="ViewDetails(' + data.Result_ID + ')">View Details</a>&nbsp;&nbsp;&nbsp;';

                    }
                },
            ]
        })

    })
    function ViewDetails(obj) {

        window.location = "../MentorshipDashboard/ViewExamDetails?ResId=" + obj;
    }
    function ViewStudentDetails(obj) {

        window.location = "../MentorshipDashboard/ViewStudentDetails?RegdId=" + obj;
    }
</script>