﻿@model DigiChamps.Controllers.ExamController.PsychometricResult
@{
    ViewBag.Title = "ExamResult";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-white bg-white ">
        <a class="navbar-brand" href="#">
            <img src="~/Images/Digichamps_logo.png" alt="">
        </a>
        <h3 style="margin-left:150px;">Mentorship Exam Result</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<div class="container" style="margin-left:5%;margin-top:10%;margin-bottom:10%;">
    <ul style="list-style-type: circle;font-size:14px;">
        <li> <p>@Model.Academic</p></li>
        <li>
            <p>@Model.Doubts</p>
        </li>
        <li>
            <p>@Model.Interest</p>
        </li>
        <li>
            <p>@Model.Time</p>
        </li>
        <li>
            <p>@Model.SelfStudy</p>
        </li>
        <li>
            <p>@Model.School</p>
        </li>
        <li>
            <p>@Model.Personal</p>
        </li>
        <li> 
            <p>@Model.Mentorship</p>
        </li>
    </ul>
</div>