﻿@{
    ViewBag.Title = "Registration";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script>
   
        $(document).ready(function () {
            //======================== PAGE LOAD ==================================//

            GetBoard();
            GetClass(0);
            GetSchools();

            //======================== PAGE LOAD ==================================//
            //========================GET BOARD DETAILS==================================//

            function GetBoard() {
                
                $.get("../MentorshipDashboard/GetBoardDetails", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#txtboard').empty();
                        $('#txtboard').append('<option value="0" selected>Select Board</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#txtboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>')
                        }
                    }
                    else {
                        $('#txtboard').empty();
                        $('#txtboard').append('<option value="0" selected>No records found</option>');
                    }
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }

            //========================GET BOARD DETAILS==================================//

            //========================GET CLASS DETAILS==================================//

            function GetClass(id) {

                if (id != '0') {
                   
                    $.get("../MentorshipDashboard/GetClassDetails?id=" + id + "", function (data) {
                        debugger;
                        if (data.length > 0) {
                            $('#txtclass').empty();
                            $('#txtclass').append('<option value="0" selected>Select Class</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#txtclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>')
                            }
                        }
                        else {
                            $('#txtclass').empty();
                            $('#txtclass').append('<option value="0">No records found</option>');
                        }
                    }).fail(function (xhr) {
                        alert(xhr.responseText); // or whatever
                    });
                }
                else {
                    $('#txtclass').empty();
                    $('#txtclass').append('<option value="0" selected>No records found</option>');
                }
            }

            //========================GET CLASS DETAILS==================================//
            //========================GET SCHOOL DETAILS==================================//
            function GetSchools() {
                debugger;
                $.get("../MentorshipDashboard/GetSchoolDetails", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#txtschool').empty();
                        $('#txtschool').append('<option value="0" selected>Select School</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#txtschool').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>')
                        }
                    }
                    else {
                        $('#txtschool').empty();
                        $('#txtschool').append('<option value="0" selected>No records found</option>');
                    }
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            //========================GET SCHOOL DETAILS==================================//
            //======================== EVENTS ==================================//
          
            function clear() {
                $('#txtname').val('');
                $('#txtmobile').val('');
                $('#txtschool').val('');
                $('#txtboard').val('0');
                //GetClass(0);
            }
            $('#txtboard').change(function () {
                if ($('#txtboard').val() != '0') {
                    GetClass($('#txtboard').val());
                }
                else {
                    $('#txtclass').empty();
                    $('#txtclass').append('<option value="0" selected>No records found</option>');
                }
            })
            $('#btnregister').click(function () {
                if ($('#txtname').val() == '') {
                    alert("Enter Full Name");
                    $('#txtname').focus();
                    return false;
                }
                if ($('#txtmobile').val() == '') {
                    alert("Enter Mobile Number");
                    $('#txtmobile').focus();
                    return false;
                }
                if ($('#txtmobile').val() != '') {
                    if ($('#txtmobile').val().length < 10) {
                        alert("Enter Valid Mobile Number");
                        $('#txtmobile').focus();
                        return false;
                    }
                }
                if ($('#txtschool').val() == '0') {
                    alert("Enter School Name");
                    $('#txtschool').focus();
                    return false;
                }
                if ($('#txtboard').val() == '0') {
                    alert("Enter Board");
                    $('#txtboard').focus();
                    return false;
                }
                if ($('#txtclass').val() == '0') {
                    alert("Enter Class Name");
                    $('#txtclass').focus();
                    return false;
                }
                $.ajax({
                    type: "POST",
                    datatype: "json",
                    url: "../MentorshipDashboard/AddMentorRegistration",
                    data: { name: $('#txtname').val(), mobile: $('#txtmobile').val(), school: $('#txtschool').val(), board: $('#txtboard').val(), classes: $('#txtclass').val() },
                    success: function (data) {
                        if (data == '1') {
                            window.location = "../MentorshipDashboard/MentorshipExam";
                        }
                        else {
                            alert('Not Registered...Please try again...');
                        }
                    }

                })

            })
          
            //======================== EVENTS ==================================//
        })
        function isNumberKey(evt) {
            debugger;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 47 && charCode <58)
                return true;
            return false;
        }
</script>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-white bg-white ">
        <a class="navbar-brand" href="#">
            <img src="~/Images/Digichamps_logo.png" alt="">

        </a>
        <h3 style="margin-left:150px;">Mentorship Exam Registration</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<div class="collapse navbar-collapse" id="navbarNav">
                <form class="form-inline my-2 my-lg-0 ml-auto">

                    <button class="btn btn-outline-success  ml-auto my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>*@
    </nav>
</div>

<div class="container" style="margin:20px;">
    <div class="form-group">
        <label for="txtname">Name</label><input type="text" id="txtname" class="form-control" maxlength="140" />

    </div>
    <div class="form-group">
        <label for="txtmobile">Mobile Number</label>
        <input type="text" id="txtmobile" class="form-control" onkeypress="javascript: return isNumberKey(event);" maxlength="10" />

    </div>
    <div class="form-group">
        <label for="txtschool">School</label>
        <select id="txtschool" class="form-control"></select>

    </div>
    <div class="form-group">
        <label for="txtboard">Board</label>
        <select id="txtboard" class="form-control"></select>

    </div>
    <div class="form-group">
        <label for="txtclass">Class</label>
        <select id="txtclass" class="form-control"></select>
    </div>
    <div class="form-group" style="text-align:center;">
        <button id="btnregister" class="btn btn-primary">Register</button>
    </div>

</div>