﻿@{
    ViewBag.Title = "ViewExamDetails";
    Layout = "~/Views/Shared/MentorDashboard.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

<script>
    $(document).ready(function () {
        getquestions();
        function getFormattedDate(date) {
            var year = date.getFullYear();

            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;

            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;

            return month + '/' + day + '/' + year;
        };

        function getquestions()
        {
           
            $('#divdata').empty();
            $.get("../MentorshipDashboard/GetAllquestions", "", function (d)
            {
                
                debugger;
                var data = d.list;
                var profile = d.profile;
                $('#name').text(profile.Customer_Name);
                $('#mobile').text(profile.Mobile);
                $('#gender').text(profile.Gender);
              //  $('#dob').text(profile.DOB);
                $('#email').text(profile.Email);
                $('#school').text(profile.SchoolName);
                $('#board').text(profile.Board_Name);
                $('#className').text(profile.Class_Name);
                $('#section').text(profile.SectionName);
                $('#divacademic').append(d.AcademicResult);
                $('#divsocial').append(d.SocialResult);

                $('#tq').append(d.TQ);
                $('#qa').append(d.QAT);
                $('#qans').append(d.QANS);


              
                $('#divin').append(d.InterestResult);
                $('#divtime').append(d.TimeResult);
                $('#divschool').append(d.SchoolResult);
                $('#divself').append(d.SelfStudyResult);
                $('#divpersonal').append(d.PersonalResult);
                $('#divmember').append(d.MentorshipResult);


                $('#arh').append(d.QANS1);
                $('#drh').append(d.QANS2);
                $('#irh').append(d.QANS3);
                $('#tmrh').append(d.QANS4);
                $('#srh').append(d.QANS5);
                $('#scrh').append(d.QANS6);
                $('#perh').append(d.QANS7);
                $('#memh').append(d.QANS8);

                $("#img").attr("src", profile.Image_Url);

                if (data.length > 0)
                {
                    for (var i = 0; i < data.length; i++) {
                        var s = '<div style="border:bottom 3px;border-color: #e0d7d7;padding: 2px;padding-left: 10px;"><div><label style="color:dark;font-weight:bold;font-size:16px;">Q '+(i+1)+' : ' + data[i].Question + '</label></div><br/>';
                        s += '<div><label>A. ' + data[i].First_Option + '</label></div><div><label>B. ' + data[i].Second_Option + '</label></div><div><label>C. ' + data[i].Third_Option + '</label></div>';
                        s += '<br/><div style="color:red;font-weight:bold;font-size:16px;"><label>User Answer  : ' + data[i].Answer + '</label></div>';
                        s += '<div style="color:green;font-weight:bold;font-size:16px;"><label>Score : ' + data[i].Correct_Answer + '</label></div></div><br/><br/>';
                        $('#divdata').append(s);
                    }
                }
                else
                {
                    $('#divdata').empty();
                    var s = '<div><label>Exam Details are not available</label></div>';
                    $('#divdata').append(s);
                  
                }
            })
        }
    })
</script>
<div class="container">

    <div class="card border-success mb-3">
        <div class="card-header text-white bg-success">
            <b class="text-white"> Student Details</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img src=""  id="img" height="250">
                </div>
                <div class="form col-8">

                    <div class="row">


                        <label class="col-2  " style="text-align:left"><b>Name</b></label>
                        <label class="col-10 " id="name" style="text-align:left"></label>
                    </div>
                    <div class="row">

                        <label class="col-2   " style="text-align:left"><b>Mobile</b></label>
                        <label class="col-10 " id="mobile" style="text-align:left"></label>
                    </div>
                    <div class=" row">
                        <label class="col-2 " style="text-align:left"><b>Gender</b> </label>
                        <label class="col-10" id="gender" style="text-align:left"></label>
                    </div>
                    @*<div class="row">
                        <label class="col-2" style="text-align:left"><b>DOB </b></label>
                        <label class="col-10" id="dob" style="text-align:left"></label>
                    </div>*@
                    <div class=" row">
                        <label class="col-2 " style="text-align:left"><b>Email </b></label>
                        <label class="col-10" id="email" style="text-align:left"></label>
                    </div>
                    <div class=" row">
                        <label class="col-2 " style="text-align:left"><b>School </b> </label>
                        <label class="col-10" id="school" style="text-align:left"></label>
                    </div>

                    <div class="row">
                        <label class="col-2 " style="text-align:left"><b>Board </b> </label>
                        <label class="col-10" id="board" style="text-align:left"></label>
                    </div>
                    <div class=" row">
                        <label class="col-2 " style="text-align:left"><b>Class  </b></label>
                        <label class="col-10" id="className" style="text-align:left"></label>
                    </div>
                    <div class=" row">
                        <label class="col-2 " style="text-align:left"><b>Section </b> </label>
                        <label class="col-10" id="section" style="text-align:left"></label>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card  border-info mb-3" style="margin-top:50px;">
        <div class="card-header text-white bg-info">
            <b class="text-white">Exam Highlights</b>
        </div>
        <div class="card-body">
            <label class="col-3 " style="text-align:left" ><b id="tq" class="text-primary">Total Questions : </b> </label>
            <label class="col-3 " style="text-align:left" ><b id="qa" class="text-success">Questions Attempted : </b> </label>
            <label class="col-3 " style="text-align:left" ><b id="qans" class="text-info">Total Score : </b> </label>
        </div>

            <div class="card">
                <div class="card-header">
                    <b class="text-danger" id="arh">
                        Academic Result :
                    </b>
                        <div id="divacademic">

                        </div>
</div>

            </div>

            <div class="card">
                <div class="card-header">
                    <b class="text-danger" id="drh">
                        Doubts Result : 
</b>
                        <div id="divsocial">

                        </div>
               </div>

            </div>

        <div class="card">
            <div class="card-header">
                <b class="text-danger" id="irh">
                    Interest Level Result :
                </b>
                <div id="divin">

                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-header">
                <b class="text-danger" id="tmrh">
                    Time Management Result :
                </b>
                <div id="divtime">

                </div>
            </div>

        </div>


        <div class="card">
            <div class="card-header">
                <b class="text-danger" id="srh">
                    SelfStudy Result :
                </b>
                <div id="divself">

                </div>
            </div>

        </div>


        <div class="card">
            <div class="card-header">
                <b class="text-danger" id="scrh">
                    School and Tuition Result :
                </b>
                <div id="divschool">

                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-header">
                <b class="text-danger" id="perh">
                    Personal Result :
                </b>
                <div id="divpersonal">

                </div>
            </div>

        </div>


        <div class="card">
            <div class="card-header">
                <b class="text-danger" id="memh">
                    Membership Result :
                </b>
                <div id="divmember">

                </div>
            </div>

        </div>
           
        </div>
    <div class="card border-primary mb-3 " style="margin-top:30px;">
        <div class="card-header text-white bg-primary">
            <b class="text-white"> Questions Review</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="divdata">

                </div>

            </div>

        </div>
    </div>
    </div>
