﻿
/* Banner */
#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    /*background-image: url("../../images/banner.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    /*height: 48rem !important;*/
    height: 40rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

    #banner input, #banner select, #banner textarea {
        color: #ffffff;
    }

    #banner a {
        color: #ce1b28;
    }

    #banner strong, #banner b {
        color: #ffffff;
    }

    #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
        color: #ffffff;
    }

    #banner blockquote {
        border-left-color: rgba(255, 255, 255, 0.25);
    }

    #banner code {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }

    #banner hr {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #banner input[type="submit"],
    #banner input[type="reset"],
    #banner input[type="button"],
    #banner button,
    #banner .button {
        background-color: transparent;
        box-shadow: inset 0 0 0 1px #ffffff;
        color: #ffffff !important;
    }

        #banner input[type="submit"]:hover,
        #banner input[type="reset"]:hover,
        #banner input[type="button"]:hover,
        #banner button:hover,
        #banner .button:hover {
            box-shadow: inset 0 0 0 1px #ce1b28;
            color: #ce1b28 !important;
        }

            #banner input[type="submit"]:hover:active,
            #banner input[type="reset"]:hover:active,
            #banner input[type="button"]:hover:active,
            #banner button:hover:active,
            #banner .button:hover:active {
                background-color: rgba(206, 27, 40, 0.25);
            }

        #banner input[type="submit"].primary,
        #banner input[type="reset"].primary,
        #banner input[type="button"].primary,
        #banner button.primary,
        #banner .button.primary {
            box-shadow: none;
            background-color: #ce1b28;
            color: #ffffff !important;
        }

            #banner input[type="submit"].primary:hover,
            #banner input[type="reset"].primary:hover,
            #banner input[type="button"].primary:hover,
            #banner button.primary:hover,
            #banner .button.primary:hover {
                background-color: #e2212f;
                box-shadow: none;
            }

                #banner input[type="submit"].primary:hover:active,
                #banner input[type="reset"].primary:hover:active,
                #banner input[type="button"].primary:hover:active,
                #banner button.primary:hover:active,
                #banner .button.primary:hover:active {
                    background-color: #b71824;
                }

    #banner label {
        color: #ffffff;
    }

    #banner input[type="text"],
    #banner input[type="password"],
    #banner input[type="email"],
    #banner input[type="tel"],
    #banner input[type="search"],
    #banner input[type="url"],
    #banner select,
    #banner textarea {
        background-color: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }

        #banner input[type="text"]:focus,
        #banner input[type="password"]:focus,
        #banner input[type="email"]:focus,
        #banner input[type="tel"]:focus,
        #banner input[type="search"]:focus,
        #banner input[type="url"]:focus,
        #banner select:focus,
        #banner textarea:focus {
            border-color: #ce1b28;
            box-shadow: 0 0 0 1px #ce1b28;
        }

    #banner select {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
    }

        #banner select option {
            color: rgba(255, 255, 255, 0.5);
            background-color: #111111;
        }

    #banner input[type="checkbox"] + label,
    #banner input[type="radio"] + label {
        color: rgba(255, 255, 255, 0.5);
    }

        #banner input[type="checkbox"] + label:before,
        #banner input[type="radio"] + label:before {
            background: rgba(255, 255, 255, 0.075);
            border-color: rgba(255, 255, 255, 0.25);
        }

    #banner input[type="checkbox"]:checked + label:before,
    #banner input[type="radio"]:checked + label:before {
        background-color: #ce1b28;
        border-color: #ce1b28;
        color: #ffffff;
    }

    #banner input[type="checkbox"]:focus + label:before,
    #banner input[type="radio"]:focus + label:before {
        border-color: #ce1b28;
        box-shadow: 0 0 0 1px #ce1b28;
    }

    #banner ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4) !important;
    }

    #banner :-moz-placeholder {
        color: rgba(255, 255, 255, 0.4) !important;
    }

    #banner ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.4) !important;
    }

    #banner :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.4) !important;
    }

    #banner ul.alt li {
        border-top-color: rgba(255, 255, 255, 0.25);
    }

    #banner table tbody tr {
        border-color: rgba(255, 255, 255, 0.25);
    }

        #banner table tbody tr:nth-child(2n + 1) {
            background-color: rgba(255, 255, 255, 0.075);
        }

    #banner table th {
        color: #ffffff;
    }

    #banner table thead {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #banner table tfoot {
        border-top-color: rgba(255, 255, 255, 0.25);
    }

    #banner table.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25);
    }

    #banner .highlights .content {
        background: #111111;
        box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025);
    }

    #banner .testimonials .content {
        background: #111111;
        box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025);
    }

        #banner .testimonials .content .credit strong {
            color: #ce1b28;
        }

    #banner > .inner {
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        -moz-transition: opacity 1s ease, -moz-transform 1s ease;
        -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
        -ms-transition: opacity 1s ease, -ms-transform 1s ease;
        transition: opacity 1s ease, transform 1s ease;
        opacity: 1;
        position: relative;
        z-index: 3;
    }

        #banner > .inner > :last-child {
            margin-bottom: 0;
        }

    #banner h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    #banner p {
        font-size: 2rem;
    }

    #banner a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }

        #banner a:hover {
            color: #ffffff;
        }

    #banner img {
        -moz-transform: translateX(50%) translateY(50%);
        -webkit-transform: translateX(50%) translateY(50%);
        -ms-transform: translateX(50%) translateY(50%);
        /*transform: translateX(44%) translateY(50%);*/
        bottom: 50%;
        /*height: auto;*/
        height:100%;
        min-height: 100%;
        min-width: 100%;
        overflow: hidden;
        position: absolute;
        right: 50%;
        width: auto;
    }

    #banner:before {
        -moz-transition: opacity 3s ease;
        -webkit-transition: opacity 3s ease;
        -ms-transition: opacity 3s ease;
        transition: opacity 3s ease;
        -moz-transition-delay: 1.25s;
        -webkit-transition-delay: 1.25s;
        -ms-transition-delay: 1.25s;
        transition-delay: 1.25s;
        /*background: #111111;*/
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.45;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    #banner:after {
        /*background: linear-gradient(135deg, #b1eef1 0%, #111111 74%);*/
        content: ' ';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.6;
        position: absolute;
        top: 0;
        webkit-linear-gradientidth: 100%;
        width: 100%;
        z-index: 1;
    }

    #banner.small {
        height: 30vh !important;
        min-height: 30vh;
    }

@media screen and (max-width: 1280px) {
    #banner video {
        display: none;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        height: auto !important;
        min-height: 0;
        padding: 6rem 2rem 6rem 2rem;
    }

        #banner .inner {
            width: 100%;
        }

        #banner h1 {
            font-size: 1.75rem;
            margin-bottom: 0.5rem;
            padding-bottom: 0;
        }

        #banner p {
            font-size: 1.25rem;
        }

        #banner br {
            display: none;
        }

        #banner .button {
            width: 100%;
        }
}

@media screen and (max-width: 480px) {
    #banner p {
        font-size: 1rem;
    }
}

body.is-preload #banner .inner {
    -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    opacity: 0;
}

body.is-preload #banner:before {
    opacity: 1;
}
/* Inner */
.inner {
    margin: 0 auto;
    width: 95rem;
    max-width: calc(100% - 6rem);
}

@media screen and (max-width: 480px) {
    .inner {
        max-width: calc(100% - 3rem);
    }
}

.wrapper {
    padding: 8rem 0 6rem 0;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1280px) {
    .wrapper {
        padding: 1rem 0 2rem 0;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3rem 0 1rem 0;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 2rem 0 0.1rem 0;
    }
}

header.special {
    text-align: center;
    margin-bottom: 4rem;
}

    header.special p {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }


/*Contact Us*/

/*---------------------
	Contact section
-----------------------*/
.contact-section {
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
}

    .contact-section .contact-warp {
        position: relative;
        z-index: 2;
    }

    .contact-section:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #000;
        opacity: 0.7;
    }

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

.spad {
    padding-top: 130px;
    padding-bottom: 130px;
}

.contact-text {
    position: absolute;
    width: 490px;
    /*left: 15px;*/
}

    .contact-text .sp-sub-title,
    .contact-text .sp-title,
    .contact-text p {
        color: black;
    }

    .contact-text p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .contact-text .con-info {
        list-style: none;
    }

        .contact-text .con-info li {
            color: black;
            margin-bottom: 20px;
            font-size: 14px;
        }

            .contact-text .con-info li i {
                width: 30px;
                float: left;
                color: #616161;
                display: block;
                margin-right: 25px;
                font-size: 20px;
            }

.bodycontent p {
    font-size: 14.2px;
    color: #0b0b0b;
    /*line-height: 2.2;*/
}

.sp-sub-title {
    color: #868686;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.sp-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    letter-spacing: 6px;
}

.contact-form {
    padding-top: 20px;
}

    .contact-form input[type='text'],
    .contact-form input[type='email'],
    .contact-form textarea {
        width: 100%;
        background: none;
        border: none;
        border: 1px solid #938d8d;
        color: black;
        font-size: 14px;
        padding: 6px 8px 6px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .contact-form textarea {
        height: 130px;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }

    .contact-form ::-webkit-input-placeholder {
        font-style: italic;
        color: black;
    }

    .contact-form :-ms-input-placeholder {
        font-style: italic;
        color: black;
    }

    .contact-form ::-ms-input-placeholder {
        font-style: italic;
        color: black;
    }

    .contact-form ::placeholder {
        font-style: italic;
        color: black;
    }

.site-btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    min-width: 135px;
    font-weight: 600;
    padding: 18px 10px 20px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

    .site-btn:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 2px;
        left: 0;
        background: #222121;
    }

    .site-btn.light {
        color: black;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

        .site-btn.light:after {
            background: #fff;
        }

        .site-btn.light:hover {
            color: black;
        }

    .site-btn:hover {
        color: black;
    }

    .site-btn.btn-two {
        border-left: 2px solid #222121;
        border-right: 2px solid #222121;
    }

    .site-btn.btn-three {
        padding: 19px 10px 19px;
    }

        .site-btn.btn-three:after {
            display: none;
        }

    .site-btn.btn-four {
        padding: 19px 10px 19px;
        border-left: 2px solid #222121;
        border-right: 2px solid #222121;
    }

        .site-btn.btn-four:after {
            display: none;
        }

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}


/*Our Team*/

.our-team {
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 5px #808080;
}

.demo {
    padding: 100px 0;
}

.heading-title {
    margin-bottom: 100px;
}

.our-team img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.40s linear 0s;
}

.our-team:hover img {
    transform: scale(1.3);
    transition: transform 3s linear 0s;
}

.our-team .team-content {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 0;
    padding: 40px 20px;
    background: rgba(255,255,255,0.8);
    transition: all 0.50s ease-in-out;
}

.our-team:hover .team-content {
    opacity: 1;
}

.our-team .team-prof {
    margin: 20px 0 20px 0;
    position: relative;
    top: 13%;
}

    .our-team .team-prof a {
        color: #6a6060;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

        .our-team .team-prof a:hover {
            color: #f15277;
            text-decoration: none;
        }

    .our-team .team-prof small {
        color: #f15277;
        display: block;
        font-size: 13px;
        margin-top: 10px;
        text-transform: uppercase;
    }

.our-team .social-link {
    padding: 0;
    margin: 0;
    position: relative;
    top: 13%;
}

    .our-team .social-link li {
        list-style: none;
        margin-right: 5px;
        display: inline-block;
    }

        .our-team .social-link li a {
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            color: #fff;
            background: rgba(0, 0, 0, 0.3);
        }

            .our-team .social-link li a:hover {
                background: #333;
                text-decoration: none;
            }

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 20px;
    }
}

@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1000px) {
    .bodycontent p {
        font-size: 11.2px;
    }

    .our-team .team-prof a {
        font-size: 14px;
    }

    .our-team .team-prof small {
        font-size: 11px;
    }

    .our-team .social-link li a {
        width: 33px;
        height: 33px;
        line-height: 33px;
        border-radius: 50%;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
    }

    .our-team .team-content {
        padding: 0px 20px;
    }
}

@media only screen and (max-width:590px) {
    .bodycontent p {
        font-size: 14.2px;
    }

    .our-team .team-prof a {
        font-size: 18px;
    }

    .our-team .team-prof small {
        font-size: 13px;
    }

    .our-team .social-link li a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
    }

    .our-team .team-content {
        padding: 40px 20px;
    }
}

.schoolleft {
    padding-left: 0%;
    padding-right: 4%;
}

.learningimg {
    width: 100%;
    margin-right: 20px;
}

.indivizualisedtext {
    line-height: 1;
    font-size: 58px;
    letter-spacing: -1.67px;
    font-weight: 700;
}

.learningprogramtext {
    line-height: 1;
    font-size: 25px;
    letter-spacing: 1.67px;
    font-weight: 400;
}

.learningpanelcontent {
    margin: 9% 0 30px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 500;
}

.implementproductpanel {
    margin: 50px 0 50px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #070707;
    padding: 12px;
    text-align: center;
    border: 1px solid;
    background-color: #ffffff;
    text-transform: uppercase;
}

.useproductpanel {
    width: 100%;
}

.useproductpanelleft {
    width: 10%;
    float: left;
}

.useproductpanelright {
    width: 85%;
    float: left;
}

.useproductpanelrightimg {
    width: 15%;
    float: left;
}

.learningprogramcontent {
    margin-bottom: 7px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-left: 16%;
    padding-right: 16%;
}

.learningprogramsubcontent {
    text-align: center;
    color: #1d9fd2;
    font-size: 33px;
    font-weight: 700;
}

@media all and (max-width:1000px) {
    .schoolleft {
        padding-left: 14%;
        padding-right: 14%;
    }

    .indivizualisedtext {
        font-size: 50px;
    }

    .learningprogramtext {
        font-size: 18px;
    }

    .learningpanelcontent {
        font-size: 13px;
        line-height: 18px;
    }

    .implementproductpanel {
        margin: 0px;
        padding:11px;
        font-size: 12px;
    }

    .useproductpanelright {
        width: 85%;
        float: left;
    }

    .useproductpanelrightimg {
        clear: both;
        width: 100%;
        float: left;
        position: relative;
        top: 106.5px;
        height: 213px;
        margin-top: -106.5px;
    }

    .learningprogramcontent {
        font-size: 18px;
    }

    .learningprogramsubcontent {
        font-size: 28px;
    }
}

@media all and (max-width:700px) {
    .schoolleft {
        padding-left: 14%;
        padding-right: 14%;
    }

    .learningimg {
        height: 109px;
    }

    .indivizualisedtext {
        font-size: 32px;
    }

    .learningprogramtext {
        font-size: 10px;
    }

    .learningpanelcontent {
        font-size: 10px;
        line-height: 15px;
    }

    .implementproductpanel {
        font-size: 10px;
    }

    .learningprogramcontent {
        font-size: 14px;
    }

    .learningprogramsubcontent {
        font-size: 24px;
    }
   
}
/*Learn and Earn*/

.learnearnpanels {
    width: 100%;
}
.learnearnspace{
    padding-left: 6%; padding-right: 6%;
}
.learnearnpanelleft {
    width: 48%;
    float: left;padding-left:5%;
}

.learnearnpanelright {
    width: 48%;
    float: left;
    padding-right: 11%;
}

.learnearnheadingtext {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 12px;
}

.learnearnheadingcontent {
    opacity: .7;
    color: #005d74;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.learnearnheadingsubcontent {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.learnearnheadingwarn {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.learnearnstepspanel {
    background-color: white;
    position: absolute;
    top: 83%;
    width: 87%;
    padding: 1%;
    border-radius: 18px;
    text-align: center;
    margin: 0 auto 42px;
    border: 1px solid hsla(244, 19%, 25%, 0.2);
}

.learnearnstepsheading {
    font-weight: 600;
    font-size: 18px;
    color: #4c4c4c;
    letter-spacing: 0;
    text-align: center;
    margin-top:15px;
}

.learnearnstepscolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 28px;
}

.learnearnfirstcolumn {
    color: #bfe2f6;
    font-size: 48px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 58px;
}

.learnearnsecondcolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 12px 0 5px;
    text-align: center;
    color: #fc6581;
    font-size: 16px;
    font-weight: 600;
    margin-left: -17px;
}

.learnearnsecondcolumncontent {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #000000bd;
}
  .learnnearnpanel {
        padding-top: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 120px;
        /*background-image: url(//static-cf.toppr.com/marketing/2e39f66/images/refer-earn/friends.png);
        background-repeat: no-repeat;
        background-position: 0 100%;*/
    }
  .learnearnbody{
      background-image: linear-gradient(43deg,#37ecba,#4e96fd);margin-bottom:166px;
  }
@media all and (max-width:540px) {
    .learnearnpanelright {
        padding-top:12%;
    }
    .learnnearnpanel{
            padding-bottom: 44px;
    }
}
@media all and (max-width:1200px) {
    .learnearnpanelleft {
        display: none;
    }
    .learnearnbody {
        margin-bottom:26px;
    }
        .learnearnpanelleft img {
            display: none;
        }

    .learnearnpanelright {
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

   .learnearnstepspanel {
        background-color: white;
        position: static;
        margin: 0px;
        top: 0%;
        width: 95%;
        padding: 0%;
        border-radius: 18px;
        text-align: center;
        margin: 0px;
        border: 1px solid hsla(244, 19%, 25%, 0.2);
        margin-left:2%;
    }
    .learnearnspace {
        padding-left: 0%; padding-right: 0%;height:873px;
    }
    .learnearnfirstcolumn{
        font-size: 40px;
    }
}

/*Champ camp*/
  .champheading {
        font-size: 38px;
        letter-spacing: -1.58px;
        line-height: 60px;
        font-weight: 700;
    }

    .champsubheading {
        padding: 10px;
        opacity: .5;
        font-size: 16px !important;
        letter-spacing: 0;
        line-height: 24px;
        max-width: 700px;
        margin: 0 auto;
        color: white !important;
    }

    .champlearn {
        margin-top: 23%;
        opacity: .6;
        text-transform: uppercase;
        font-size: 16px;
        color: #4c4c4c;
        font-weight: 600;
    }

    .champcontenttitle {
        padding: 10px 0;
        font-size: 25px;
        color: #2d2d2d;
        line-height: 32px;
        font-weight: 700;
    }

    .champcontentdescription {
        opacity: 1.4;
        font-size: 16px;
        color: #2d2d2d;
        line-height: 24px;
    }
    
    .champstartjourney{
            margin: 46px 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 3em;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    color: #ffffff;
    }
    .champdownload{
        margin: 45px 22px;
    padding: 11px;
    border-radius: 100px;
    border: 4px solid;
    border-color: white;
    background-color: transparent;
    color: white;
        font-size: 20px;
    }
@media all and (max-width:1100px) {
    .champstartjourney {
        margin: 46px 0px;
        font-size: 2.4em;
    }
    .champdownload {
         padding: 9px;
          font-size: 16px;
    }
}
@media all and (max-width:870px) {
    .champstartjourney {
        margin: 48px 0px;
        font-size: 1.6em;
    }
    .champdownload {
         padding: 5px;
          font-size: 13px;
    }
}
@media all and (max-width:608px) {
    .champstartjourney {
        margin: 48px 0px;
        font-size: 1em;
    }
    .champdownload {
         padding: 5px;
          font-size: 9px;
    }
}
@media all and (max-width:1000px) {
    .champcontenttitle {
        font-size: 18px;
    }
    .champcontentdescription {
        font-size: 12px;
        line-height: 18px;
    }

}
@media all and (max-width:573px) {
    .champimage{
        float:left;
    }
    .champcontent{
        float:right;
    }
    .champlearn {
        margin-top:5%;
    }
}