﻿@charset "UTF-8";

svg {
    fill: #565b73;
}

.-border.section .container, .-divider.section .container, .gray-border-bottom {
    border-bottom: solid #e8e8e8 1px;
}

.section, body .section-padding, body .section-padding-top {
    padding-top: 50px;
}

@media screen and (min-width:480px) {
    .section, body .section-padding, body .section-padding-top {
        padding-top: 80px;
    }
}

@media screen and (min-width:960px) {
    .section, body .section-padding, body .section-padding-top {
        padding-top: 110px;
    }
}

.-border.section .container, .-divider.section .container, .section, body .section-padding, body .section-padding-bottom {
    padding-bottom: 50px;
}

@media screen and (min-width:480px) {
    .-border.section .container, .-divider.section .container, .section, body .section-padding, body .section-padding-bottom {
        padding-bottom: 80px;
    }
}

@media screen and (min-width:960px) {
    .-border.section .container, .-divider.section .container, .section, body .section-padding, body .section-padding-bottom {
        padding-bottom: 110px;
    }
}

body .section-padding-half, body .section-padding-top-half {
    padding-top: 30px;
}

@media screen and (min-width:480px) {
    body .section-padding-half, body .section-padding-top-half {
        padding-top: 40px;
    }
}

.-border.-remove-padding.section .container, .-divider.-remove-padding.section .container, body .section-padding-bottom-half, body .section-padding-half {
    padding-bottom: 30px;
}

@media screen and (min-width:480px) {
    .-border.-remove-padding.section .container, .-divider.-remove-padding.section .container, body .section-padding-bottom-half, body .section-padding-half {
        padding-bottom: 40px;
    }
}

.-gray.section {
    background-color: #f9f9f9;
}

.-hero.section {
    margin-top: 88px;
}

@media (min-width:640px) {
    .-hero.section {
        margin-top: 145px;
    }
}

.-flush.section, .-remove-padding.section {
    padding-top: 0;
    padding-bottom: 0;
}

.-flush-top.section {
    padding-top: 0;
}

.-flush-bottom.section {
    padding-bottom: 0;
}

.-add-margin-top.section {
    margin-top: 80px;
}

.section .cta {
    margin-top: 80px;
}

.-border.section, .-divider.section {
    padding-bottom: 0;
}

.section .-sticky {
    position: sticky;
    top: 140px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

body .h1 {
    font-size: 24px;
}

@media screen and (min-width:768px) {
    body .h1 {
        font-size: 34px;
    }
}

@media screen and (min-width:960px) {
    body .h1 {
        font-size: 41px;
    }
}

._hero ._subtitle, ._hero ._title, .h1, .h1-small, .h2, .section .cta .button {
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (min-width:768px) {
    ._hero ._subtitle, ._hero ._title, .h1, .h1-small, .h2, .section .cta .button {
        margin-bottom: 20px;
    }
}

._hero ._title, .h1 {
    font-size: 26px;
    line-height: 1.4;
}

@media screen and (min-width:480px) {
    ._hero ._title, .h1 {
        font-size: 36px;
    }
}

@media screen and (min-width:768px) {
    ._hero ._title, .h1 {
        font-size: 48px;
    }
}

.-dusk.h1, ._hero .-dusk._title {
    color: #565b73;
}

.h1-small {
    font-size: 15px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .081em;
}

@media screen and (min-width:768px) {
    .h1-small {
        font-size: 15px;
    }
}

.-red.h1-small {
    color: #f22f46;
}

.-blue.h1-small {
    color: #008cff;
}

._hero ._subtitle, .h2 {
    font-size: 24px !important;
    font-size: calc(24px + (32 - 24) * (100vw - 360px)/ (1200 - 360)) !important;
    line-height: 1.4;
}

@media screen and (min-width:1200px) {
    ._hero ._subtitle, .h2 {
        font-size: 32px !important;
    }
}

.h3 {
    color: #0d112b;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (min-width:768px) {
    .h3 {
        font-size: 20px;
    }
}

.underline-red {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}

@media screen and (min-width:768px) {
    .underline-red {
        padding-bottom: 35px;
        margin-bottom: 40px;
    }
}

.underline-red:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 96px;
    background: red;
}

.section {
    color: #565b73;
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .section {
        font-size: 16px;
    }
}

.large-margin {
    margin-bottom: 60px;
}

@media screen and (min-width:768px) {
    .large-margin {
        margin-bottom: 80px;
    }
}

.angled-heading {
    position: relative;
}

    .angled-heading > ._text {
        font-size: 11px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #94979b;
        letter-spacing: .1em;
        writing-mode: tb-rl;
        white-space: nowrap;
        transform: rotate(180deg);
        padding-right: 32px;
    }

    .angled-heading::after {
        content: '';
        background: #f22f46;
        width: 5px;
        position: absolute;
        left: 0;
        height: 140px;
        top: -56px;
    }

@media screen and (min-width:768px) {
    .angled-heading::after {
        top: -140px;
        height: 240px;
    }
}

.text-center {
    text-align: center;
}

.link-blue-underline, .link-green-underline, .link-red-underline, .link-underline {
    color: #565b73;
    border-bottom: solid 1px #565b73;
    padding: 4px 0 2px;
    line-height: 1;
    transition: color 150ms ease-out;
}

    .link-blue-underline:hover, .link-green-underline:hover, .link-red-underline:hover, .link-underline:hover {
        text-decoration: none;
    }

.link-red-underline {
    border-bottom-color: #f22f46;
}

    .link-red-underline:hover {
        color: #f22f46;
    }

.link-blue-underline {
    border-bottom-color: #008cff;
}

    .link-blue-underline:hover {
        color: #008cff;
    }

.link-green-underline {
    border-bottom-color: #36d576;
}

    .link-green-underline:hover {
        color: #36d576;
    }

.middle-t {
    display: table;
    width: 100%;
    height: 100%;
}

.middle-tc {
    display: table-cell;
    vertical-align: middle;
}

@keyframes blink {
    0% {
        border-bottom-color: rgba(255,255,255,.8);
    }

    49% {
        border-bottom-color: rgba(255,255,255,.8);
    }

    50% {
        border-bottom-color: rgba(255,255,255,.3);
    }
}

.button, .mini-button {
    display: inline-block;
    font-weight: 200;
    line-height: 1;
    transition: all .2s cubic-bezier(.4,0,.2,1);
    border-radius: 4px;
}

    .button:hover, .mini-button:hover {
        text-decoration: none;
    }

.button {
    background: #008cff;
    box-shadow: 0 5px 30px rgba(148,151,155,.6);
    color: rgba(255,255,255,.8);
    font-size: 13px;
    padding: 20px 26px;
}

@media screen and (min-width:768px) {
    .button {
        font-size: 15px;
        padding: 22px 36px;
    }
}

.button:hover {
    color: rgba(255,255,255,.9);
    background: #0084f0;
    box-shadow: 0 10px 25px rgba(148,151,155,.65);
}

.-red.button {
    background: #f22f46;
    color: #fff;
}

    .-red.button:hover {
        color: #fff;
        background: #f12139;
        box-shadow: 0 7px 25px rgba(148,151,155,.65);
    }

    .-red.button:active {
        box-shadow: 0 10px 25px rgba(148,151,155,.65),inset 5px 5px 20px 0 rgba(0,0,0,.1);
    }

.-big.button {
    font-size: 16px;
}

@media screen and (min-width:768px) {
    .-big.button {
        font-size: 19px;
    }
}

.-prompt.button {
    color: #fff;
    position: relative;
    white-space: nowrap;
    line-height: 1;
}

    .-prompt.button::after {
        content: "\203A";
        font-family: Lekton,Consolas,Monaco,monospace;
        display: inline-block;
        vertical-align: -2px;
        margin: -10px 0 -10px 26px;
        font-size: 20px !important;
        font-size: calc(20px + (32 - 20) * (100vw - 360px)/ (1200 - 360)) !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -o-font-smoothing: antialiased;
        text-indent: -14px;
        width: 10px;
        border-bottom: solid rgba(255,255,255,.3) 2px;
        height: 10px;
        line-height: 10px;
        animation: blink 1.2s infinite;
    }

@media screen and (min-width:1200px) {
    .-prompt.button::after {
        font-size: 32px !important;
    }
}

.mini-button {
    font-size: 10px !important;
    font-size: calc(10px + (12 - 10) * (100vw - 360px)/ (1200 - 360)) !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 10px;
}

@media screen and (min-width:1200px) {
    .mini-button {
        font-size: 12px !important;
    }
}

.mini-button:not(:last-of-type) {
    margin-right: 8px;
}

.mini-button {
    color: #008cff;
    background: rgba(0,140,255,.05);
}

    .mini-button svg {
        margin-left: 2px;
        fill: #008cff;
    }

    .mini-button:hover {
        color: #007ee6;
        background: rgba(0,140,255,.1);
    }

        .mini-button:hover svg {
            fill: #007ee6;
        }

    .mini-button.-green {
        color: #36d576;
        background: rgba(54,213,118,.05);
    }

        .mini-button.-green svg {
            margin-left: 2px;
            fill: #36d576;
        }

        .mini-button.-green:hover {
            color: #2ac869;
            background: rgba(54,213,118,.1);
        }

            .mini-button.-green:hover svg {
                fill: #2ac869;
            }

    .mini-button.-red {
        color: #f22f46;
        background: rgba(242,47,70,.05);
    }

        .mini-button.-red svg {
            margin-left: 2px;
            fill: #f22f46;
        }

        .mini-button.-red:hover {
            color: #f11731;
            background: rgba(242,47,70,.1);
        }

            .mini-button.-red:hover svg {
                fill: #f11731;
            }

.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 24px 0 rgba(86,91,115,.15);
    padding: 30px;
    position: relative;
    text-align: left;
    min-height: 100%;
    box-sizing: border-box;
}

    .card > ._icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 30px;
        border-bottom: solid #e8e8e8 1px;
        height: 48px;
    }

        .card > ._icon svg {
            width: 100%;
            max-width: 48px;
            vertical-align: bottom;
        }

    .card > ._title {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .card > ._description {
        font-size: 14px;
        color: #565b73;
        font-weight: 300;
        line-height: 1.6;
    }

@media screen and (min-width:768px) {
    .card > ._title {
        font-size: 20px;
    }

    .card > ._description {
        font-size: 15px;
    }
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -24px;
}

    .cards > .card {
        flex: 1 1 0;
        margin: 24px;
        min-width: 300px;
        max-width: 500px;
    }

    .cards svg {
        min-height: 80px;
    }

.checklist .check {
    padding: 8px 15px;
    line-height: 20px;
    margin-right: 16px;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 14px;
}

    .checklist .check:before {
        content: '';
        background: url(/marketing/bundles/style-2018/img/icon-checkmark.svg) #36d576;
        border-radius: 50%;
        color: #fff;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: text-bottom;
    }

.checklist {
    padding-top: 20px;
}

    .checklist.-cloud .check {
        display: inline-block;
        border-radius: 3px;
        background: #f5f5f5;
    }

    .checklist.-list .check {
        text-indent: -26px;
    }

.features-list {
    display: flex;
    justify-content: space-between;
    margin: -15px;
}

@media (max-width:919px) {
    .features-list {
        flex-direction: column;
    }
}

.features-list ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    flex: 1 1 0;
    margin: 15px;
}

@media (max-width:919px) {
    .features-list ul:not(:last-of-type) {
        margin-bottom: 40px;
    }
}

.features-list li {
    position: relative;
}

.features-list sup {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    margin-left: 6px;
    left: 100%;
    color: #008cff;
}

.features-list h3 {
    font-weight: 500;
    color: #0d112b;
    font-size: 16px !important;
    font-size: calc(16px + (18 - 16) * (100vw - 360px)/ (1200 - 360)) !important;
}

@media screen and (min-width:1200px) {
    .features-list h3 {
        font-size: 18px !important;
    }
}

.features-list a:not(.button) {
    color: #565b73;
    position: relative;
    font-weight: 200;
    font-size: 12px !important;
    font-size: calc(12px + (14 - 12) * (100vw - 360px)/ (1200 - 360)) !important;
    border-bottom: solid 1px #e8e8e8;
    padding: 2px 0;
    margin: 14px 0;
    margin-bottom: 4px !important;
    margin-bottom: calc(4px + (14 - 4) * (100vw - 360px)/ (1200 - 360)) !important;
    display: inline-block;
    line-height: 1;
    transition: border-bottom .1s cubic-bezier(.4,0,.2,1);
}

@media screen and (min-width:1200px) {
    .features-list a:not(.button) {
        font-size: 14px !important;
    }
}

@media screen and (min-width:1200px) {
    .features-list a:not(.button) {
        margin-bottom: 14px !important;
    }
}

.features-list a:not(.button) + aside {
    opacity: 0;
    bottom: 100%;
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.features-list a:not(.button):hover {
    text-decoration: none;
    border-bottom-color: #008cff;
}

    .features-list a:not(.button):hover + aside {
        opacity: 1;
        bottom: 110%;
    }

._form-card .heading, .section-fsr-form .heading {
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {
    ._form-card .heading, .section-fsr-form .heading {
        margin-bottom: 80px;
    }
}

._form-card .heading .h2 a, .section-fsr-form .heading .h2 a {
    text-decoration: none;
    color: inherit;
}

._form-card .heading .h2 br, .section-fsr-form .heading .h2 br {
    display: none;
}

@media screen and (min-width:768px) {
    ._form-card .heading .h2 br, .section-fsr-form .heading .h2 br {
        display: block;
    }
}

._form-card .heading ._details, .section-fsr-form .heading ._details {
    color: #94979b;
    font-size: 13px;
    line-height: 1.4;
}

._form-card .heading ._red, .section-fsr-form .heading ._red {
    color: #f22f46;
}

._form-card .card, .section-fsr-form .card {
    box-shadow: 0 8px 34px 0 rgba(86,91,115,.15);
    padding: 0;
}

@media screen and (min-width:480px) {
    ._form-card .card, .section-fsr-form .card {
        margin: 0 7%;
    }
}

._form-card .col-left, .section-fsr-form .col-left {
    box-sizing: border-box;
    min-height: 100%;
    background: #233659;
    background: linear-gradient(135deg,#565b73 0,#233659 100%);
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media screen and (min-width:768px) {
    ._form-card .col-left, .section-fsr-form .col-left {
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
    }
}

@media screen and (min-width:960px) {
    ._form-card .col-left, .section-fsr-form .col-left {
        padding: 45px 45px;
    }
}

._form-card .col-left > ._heading, .section-fsr-form .col-left > ._heading {
    font-size: 11px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: .081em;
    text-transform: uppercase;
    color: #fff;
    border-bottom: solid rgba(255,255,255,.25) 1px;
    padding-bottom: 20px;
    margin-bottom: 24px;
}

._form-card .col-left > ._list, .section-fsr-form .col-left > ._list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    ._form-card .col-left > ._list li, .section-fsr-form .col-left > ._list li {
        background: url(/marketing/bundles/style-2018/img/icon-checkmark.svg) 0 1px no-repeat;
        background-size: 16px 16px;
        padding-left: 30px;
        color: #fff;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 300;
        padding-bottom: 14px;
    }

        ._form-card .col-left > ._list li:last-child, .section-fsr-form .col-left > ._list li:last-child {
            padding-bottom: 0;
        }

@media screen and (min-width:768px) {
    ._form-card .col-right, .section-fsr-form .col-right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

._form-card .archetype-form__container, .section-fsr-form .archetype-form__container {
    margin-bottom: 60px;
}

@media screen and (min-width:768px) {
    ._form-card .form__group--button, .section-fsr-form .form__group--button {
        text-align: left;
    }
}

._form-card .form__group--button button, .section-fsr-form .form__group--button button {
    background: #f22f46;
    padding: 20px 58px;
}

._form-card .form__terms, .section-fsr-form .form__terms {
    font-size: 85%;
    color: #94979b;
    padding-top: 30px;
}

    ._form-card .form__terms a, .section-fsr-form .form__terms a {
        color: #f22f46;
    }

        ._form-card .form__terms a:hover, .section-fsr-form .form__terms a:hover {
            color: #f22f46;
        }

.section-fsr-form {
    position: relative;
    z-index: 3;
    background: url(/marketing/bundles/style-2018/img/bg-dots.png) 50% 38% no-repeat;
}

._hero {
    margin-top: 88px;
}

@media (min-width:640px) {
    ._hero {
        margin-top: 122px;
    }
}

._hero ._title {
    color: #0d112b;
}

.-basic._hero ._title {
    font-weight: 300;
}

@media screen and (min-width:960px) {
    .-basic._hero ._title {
        margin-bottom: 10px;
    }
}

.-basic._hero ._subtitle {
    color: rgba(13,17,43,.75);
    font-weight: 300;
}

.lead > ._title {
    position: relative;
    padding-bottom: 10px !important;
    padding-bottom: calc(10px + (15 - 10) * (100vw - 360px)/ (1200 - 360)) !important;
    margin-bottom: 10px !important;
    margin-bottom: calc(10px + (20 - 10) * (100vw - 360px)/ (1200 - 360)) !important;
    font-size: 24px !important;
    font-size: calc(24px + (32 - 24) * (100vw - 360px)/ (1200 - 360)) !important;
    color: #0d112b;
    font-weight: 400;
    line-height: 1.4;
}

@media screen and (min-width:1200px) {
    .lead > ._title {
        padding-bottom: 15px !important;
    }
}

@media screen and (min-width:1200px) {
    .lead > ._title {
        margin-bottom: 20px !important;
    }
}

@media screen and (min-width:1200px) {
    .lead > ._title {
        font-size: 32px !important;
    }
}

.lead > ._title.-underline {
    padding-bottom: 30px !important;
    padding-bottom: calc(30px + (35 - 30) * (100vw - 360px)/ (1200 - 360)) !important;
    margin-bottom: 30px !important;
    margin-bottom: calc(30px + (40 - 30) * (100vw - 360px)/ (1200 - 360)) !important;
}

@media screen and (min-width:1200px) {
    .lead > ._title.-underline {
        padding-bottom: 35px !important;
    }
}

@media screen and (min-width:1200px) {
    .lead > ._title.-underline {
        margin-bottom: 40px !important;
    }
}

.lead > ._title.-underline:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 96px;
}

.lead > ._title.-underline.-red:after {
    background: #f22f46;
}

.lead > ._title.-underline.-green:after {
    background: #36d576;
}

.lead > ._title.-underline.-purple:after {
    background: #8c5bd8;
}

.lead > ._title.-underline.-blue:after {
    background: #008cff;
}

.lead > ._copy {
    margin-bottom: 20px !important;
    margin-bottom: calc(20px + (30 - 20) * (100vw - 360px)/ (1200 - 360)) !important;
    font-size: 15px !important;
    font-size: calc(15px + (18 - 15) * (100vw - 360px)/ (1200 - 360)) !important;
    color: #565b73;
    font-weight: 200;
}

@media screen and (min-width:1200px) {
    .lead > ._copy {
        margin-bottom: 30px !important;
    }
}

@media screen and (min-width:1200px) {
    .lead > ._copy {
        font-size: 18px !important;
    }
}

.logo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .logo-list > * {
        margin-right: 5%;
    }

    .logo-list > :last-child {
        margin-right: 0;
    }

    .logo-list a, .logo-list svg {
        display: block;
        max-width: 100%;
    }

    .logo-list.-larger svg {
        height: 34px;
    }

    .logo-list svg {
        height: 22px;
        width: auto;
    }

        .logo-list svg path {
            transition: all 150ms ease-out;
            fill: #c9cacc;
        }

    .logo-list a:hover svg path {
        fill: #565b73;
    }

._promo-video .video-wrapper {
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(148,151,155,.6);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

._promo-video video {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}

._promo-video .endcap {
    background: #0d112b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transform: scale(1.2);
    opacity: 0;
    transition: opacity .5s ease,transform .5s ease,visibility .5s ease;
}

    ._promo-video .endcap h2 {
        color: #fff;
        margin-bottom: 20px;
    }

    ._promo-video .endcap .button {
        box-shadow: 0 5px 30px rgba(0,0,0,.2);
    }

    ._promo-video .endcap.-show {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

.section.-quote {
    overflow: hidden;
    padding: 80px 0 80px;
}

@media screen and (min-width:768px) {
    .section.-quote {
        padding-top: 120px;
        padding-bottom: 240px;
    }
}

.section.-quote > .quote-wrapper {
    margin: 0 auto;
    overflow-y: none;
    position: relative;
}

    .section.-quote > .quote-wrapper > .bg {
        background: #f8f8f8;
        position: absolute;
        left: 0;
        width: 120%;
        transform: rotate(-5deg);
        left: -10%;
        top: -10%;
        height: 120%;
    }

@media screen and (min-width:768px) {
    .section.-quote > .quote-wrapper > .bg {
        top: auto;
        height: 110%;
        bottom: -30%;
    }
}

.section.-quote > .quote-wrapper > .container {
    position: relative;
}

.section.-quote .blockquote {
    position: relative;
    margin-right: 15px;
}

@media screen and (min-width:768px) {
    .section.-quote .blockquote {
        margin-right: 45px;
    }
}

.section.-quote .blockquote > blockquote {
    border: none;
    color: #f22f46;
    padding: 40px;
    background: #fff url(/marketing/bundles/homepage-2018/img/icon-quote-v2.svg) no-repeat;
    background-position: 30px 32px;
    background-size: 50px auto;
    box-shadow: 0 4px 30px 3px rgba(76,81,104,.2);
    position: relative;
    border-radius: 5px;
    font-family: "Surveyor SSm A","Surveyor SSm B";
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
}

@media screen and (min-width:480px) {
    .section.-quote .blockquote > blockquote {
        font-size: 27px;
    }
}

@media screen and (min-width:768px) {
    .section.-quote .blockquote > blockquote {
        background-position: 40px 50px;
        background-size: 100px auto;
    }
}

@media screen and (min-width:960px) {
    .section.-quote .blockquote > blockquote {
        font-size: 31px;
        padding: 70px;
    }
}

.section.-quote .blockquote > blockquote::after {
    content: '';
    width: 100px;
    height: 100px;
    background: #fff url(/marketing/bundles/homepage-2018/img/icon-quote-v2.svg) no-repeat;
    background-position: 50% 50%;
    background-size: 50px auto;
    display: inline-block;
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
    margin-left: -65px;
    margin-top: -25px;
}

@media screen and (min-width:768px) {
    .section.-quote .blockquote > blockquote::after {
        background-size: 100px auto;
        margin-left: -65px;
        margin-top: -15px;
    }
}

.section.-quote .blockquote > blockquote > span {
    position: relative;
    z-index: 2;
}

.section.-quote .blockquote > .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 25px;
    left: 25px;
    background: url(/marketing/bundles/homepage-2018/img/bg-quote-dots.svg) bottom right;
    background-repeat: repeat;
    background-size: 24px auto;
}

@media screen and (min-width:768px) {
    .section.-quote .blockquote > .bg {
        top: 45px;
        left: 45px;
        background-size: 32px auto;
    }
}

.section.-quote .citation .middle-tc {
    vertical-align: bottom;
}

.section.-quote .citation ._content {
    margin-left: 45px;
    margin-top: 60px;
}

@media screen and (min-width:768px) {
    .section.-quote .citation ._content {
        margin-bottom: 70px;
        margin-left: 60px;
        margin-top: 0;
    }
}

.section.-quote .citation ._logo svg {
    height: 28px;
    width: auto;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    .section.-quote .citation ._logo svg {
        height: 40px;
    }
}

.section.-quote .citation ._logo * {
    fill: #565b73;
}

.section.-quote .citation ._dark {
    color: #0d122b;
    font-size: 19px;
    font-weight: 500;
}

@media screen and (min-width:768px) {
    .section.-quote .citation ._dark {
        font-size: 21px;
    }
}

.section.-quote .citation ._light {
    font-size: 13px;
    line-height: 1.4;
    color: #94979b;
    text-transform: uppercase;
    letter-spacing: .1em;
}

@media screen and (min-width:768px) {
    .section.-quote .citation ._light {
        font-size: 15px;
    }
}

.sub-cta {
    font-weight: 300;
}

    .sub-cta > ._link {
        white-space: nowrap;
    }

.section__subhero {
    padding-top: 0;
}

    .section__subhero .label {
        font-size: 13px !important;
        font-size: calc(13px + (15 - 13) * (100vw - 360px)/ (1200 - 360)) !important;
        line-height: 1.6;
        text-transform: uppercase;
        color: #008cff;
        letter-spacing: 1px;
    }

@media screen and (min-width:1200px) {
    .section__subhero .label {
        font-size: 15px !important;
    }
}

.section__subhero .copy {
    max-width: 830px;
    color: #0d112b;
    font-size: 21px !important;
    font-size: calc(21px + (28 - 21) * (100vw - 360px)/ (1200 - 360)) !important;
    line-height: 1.4;
}

@media screen and (min-width:1200px) {
    .section__subhero .copy {
        font-size: 28px !important;
    }
}

.tippy-tooltip.features-theme {
    background: #243758;
    font-weight: 400;
    font-size: 11px !important;
    font-size: calc(11px + (12 - 11) * (100vw - 360px)/ (1200 - 360)) !important;
    padding: 18px 24px;
    line-height: 1.7;
    border-radius: 3px;
}

@media screen and (min-width:1200px) {
    .tippy-tooltip.features-theme {
        font-size: 12px !important;
    }
}

.tippy-tooltip.features-theme .tippy-content {
    background: #243758;
    color: #fff;
    padding: 0;
    text-align: left;
}

.tout {
    display: flex;
}

    .tout:not(:last-of-type) {
        padding-bottom: 30px !important;
        padding-bottom: calc(30px + (60 - 30) * (100vw - 360px)/ (1200 - 360)) !important;
    }

@media screen and (min-width:1200px) {
    .tout:not(:last-of-type) {
        padding-bottom: 60px !important;
    }
}

.tout > ._icon {
    padding-top: 5px;
    padding-right: 30px;
    min-width: 120px;
}

@media (max-width:980px) {
    .tout > ._icon {
        min-width: 50px;
    }
}

.tout > ._content ._title {
    font-weight: 500;
}

.section__two-column .label {
    display: flex;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: #94979b;
    white-space: nowrap;
    line-height: 2px;
    margin-top: -50px;
    margin-bottom: 50px;
}

@media screen and (min-width:480px) {
    .section__two-column .label {
        margin-top: -80px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width:960px) {
    .section__two-column .label {
        margin-top: -110px;
        margin-bottom: 110px;
    }
}

.section__two-column .label:after {
    content: '';
    width: 100%;
    display: block;
    border-bottom: 1px solid #e8e8e8;
    margin-left: 10px;
}

@media (min-width:768px) {
    .section__two-column .-right {
        flex-direction: row-reverse;
    }
}

.section__two-column .title {
    font-size: 24px !important;
    font-size: calc(24px + (32 - 24) * (100vw - 360px)/ (1200 - 360)) !important;
    position: relative;
    color: #0d112b;
    line-height: 1.4;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width:1200px) {
    .section__two-column .title {
        font-size: 32px !important;
    }
}

.section__two-column .title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 96px;
    background: #f22f46;
}

.section__two-column.--green .title:after {
    background: #36d576;
}

.section__two-column.--orange .title:after {
    background: #f47c22;
}

.section__two-column.--purple .title:after {
    background: #8c5bd8;
}

.section__two-column.--yellow .title:after {
    background: #efdc2e;
}

.section__two-column.--darkBlue .title:after {
    background: #21a4c9;
}

.section__two-column.--alternative .title {
    color: #f22f46;
    text-transform: uppercase;
    font-size: 14px !important;
    font-size: calc(14px + (18 - 14) * (100vw - 360px)/ (1200 - 360)) !important;
}

@media screen and (min-width:1200px) {
    .section__two-column.--alternative .title {
        font-size: 18px !important;
    }
}

.section__two-column.--alternative .title:after {
    height: 1px;
    width: 100%;
    background: #e8e8e8;
}

.section__two-column.--alternative.--green .title {
    color: #36d576;
}

.section__two-column.--alternative.--orange .title {
    color: #f47c22;
}

.section__two-column.--alternative.--purple .title {
    color: #8c5bd8;
}

.section__two-column.--alternative.--yellow .title {
    color: #efdc2e;
}

.section__two-column.--alternative.--darkBlue .title {
    color: #21a4c9;
}

.section__two-column .subtitle {
    font-weight: 500;
    font-size: 115%;
    color: #0d112b;
    line-height: 1.7;
}

.section__two-column p {
    color: #565b73;
    font-weight: 300;
    margin: 30px 0;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: 0;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .slick-track:after, .slick-track:before {
        content: "";
        display: table;
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir=rtl] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-loading .slick-list {
    background: #fff;
}

.slick-next, .slick-prev {
    position: absolute;
    display: block;
    width: 60px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 0;
    bottom: 0;
    padding: 0;
    border: none;
    outline: 0;
}

    .slick-next:hover, .slick-prev:hover {
        outline: 0;
        background: 0 0;
        color: transparent;
    }

        .slick-next:hover:before, .slick-prev:hover:before {
            transform: scale(1.2);
            opacity: 1;
        }

    .slick-next:active, .slick-prev:active {
        transform: translateY(1px);
    }

    .slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
        opacity: .25;
    }

    .slick-next:before, .slick-prev:before {
        transition: transform 150ms ease-out;
        margin: 0 auto;
        display: block;
        width: 14px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
    }

.slick-prev {
    left: -60px;
}

[dir=rtl] .slick-prev {
    left: auto;
    right: -60px;
}

.slick-prev:before {
    background-image: url(/marketing/bundles/homepage-2018/img/carousel/arrow-left.svg);
}

[dir=rtl] .slick-prev:before {
    background-image: url(/marketing/bundles/homepage-2018/img/carousel/arrow-right.svg);
}

.slick-next {
    right: -60px;
}

[dir=rtl] .slick-next {
    left: -60px;
    right: auto;
}

.slick-next:before {
    background-image: url(/marketing/bundles/homepage-2018/img/carousel/arrow-right.svg);
}

[dir=rtl] .slick-next:before {
    background-image: url(/marketing/bundles/homepage-2018/img/carousel/arrow-left.svg);
}

.slick-dotted.slick-slider {
    margin-bottom: 40px;
}

@media screen and (min-width:480px) {
    .slick-dotted.slick-slider {
        margin-bottom: 60px;
    }
}

.slick-dots {
    position: absolute;
    left: 0;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    bottom: -40px;
}

@media screen and (min-width:480px) {
    .slick-dots {
        bottom: -55px;
    }
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

    .slick-dots li button {
        border: 0;
        background: 0 0;
        display: block;
        height: 20px;
        width: 20px;
        outline: 0;
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: 5px;
        cursor: pointer;
    }

        .slick-dots li button:focus, .slick-dots li button:hover {
            outline: 0;
        }

            .slick-dots li button:focus:before, .slick-dots li button:hover:before {
                opacity: 1;
            }

        .slick-dots li button:before {
            transition: all 150ms ease-out;
            position: absolute;
            top: 0;
            left: 0;
            content: "•";
            width: 20px;
            height: 20px;
            font-size: 28px;
            line-height: 1;
            text-align: center;
            color: #000;
            opacity: .25;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    .slick-dots li.slick-active button:before {
        color: #000;
        opacity: .75;
    }

.section-signal {
    position: relative;
    overflow: hidden;
    color: #233659;
    font-size: 18px !important;
    font-size: calc(18px + (24 - 18) * (100vw - 360px)/ (1200 - 360)) !important;
    font-weight: 300;
}

@media screen and (min-width:1200px) {
    .section-signal {
        font-size: 24px !important;
    }
}

.section-signal .container > div {
    padding-bottom: 35px !important;
    padding-bottom: calc(35px + (50 - 35) * (100vw - 360px)/ (1200 - 360)) !important;
}

@media screen and (min-width:1200px) {
    .section-signal .container > div {
        padding-bottom: 50px !important;
    }
}

.section-signal .title {
    display: flex;
    align-items: center;
    font-family: Adelle,serif;
    text-transform: uppercase;
    font-weight: 500;
}

    .section-signal .title .violator {
        font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
        background-color: #233659;
        color: #fff;
        border-radius: 15px;
        font-size: 9px !important;
        font-size: calc(9px + (11 - 9) * (100vw - 360px)/ (1200 - 360)) !important;
        font-weight: 300;
        line-height: 1;
        padding: 5px 8px;
        margin-left: 12px;
    }

@media screen and (min-width:1200px) {
    .section-signal .title .violator {
        font-size: 11px !important;
    }
}

.section-signal__logo svg {
    max-width: 576px;
    fill: #233659;
    padding-bottom: 15px !important;
    padding-bottom: calc(15px + (50 - 15) * (100vw - 360px)/ (1200 - 360)) !important;
}

@media screen and (min-width:1200px) {
    .section-signal__logo svg {
        padding-bottom: 50px !important;
    }
}

.section-signal__info {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

@media (max-width:980px) {
    .section-signal__info {
        flex-direction: column;
    }

        .section-signal__info > div:not(:last-child) {
            padding-bottom: 30px;
        }
}

.section-signal__register {
    font-size: 27px !important;
    font-size: calc(27px + (32 - 27) * (100vw - 360px)/ (1200 - 360)) !important;
    font-weight: 500;
}

@media screen and (min-width:1200px) {
    .section-signal__register {
        font-size: 32px !important;
    }
}

.section-signal__agenda {
    display: flex;
    justify-content: space-between;
}

@media (min-width:980px) {
    .section-signal__agenda > div {
        max-width: 45%;
    }
}

@media (max-width:980px) {
    .section-signal__agenda {
        flex-direction: column;
    }

        .section-signal__agenda > div:not(:last-child) {
            padding-bottom: 30px;
        }
}

.section-signal__agenda .title {
    font-size: 27px !important;
    font-size: calc(27px + (32 - 27) * (100vw - 360px)/ (1200 - 360)) !important;
}

@media screen and (min-width:1200px) {
    .section-signal__agenda .title {
        font-size: 32px !important;
    }
}

.section-signal__agenda .copy span {
    font-weight: 500;
}

.section-signal__cta {
    padding: 12px 8px;
    text-transform: uppercase;
    border-radius: 0;
    background: #ee3d96;
    box-shadow: 0 5px 30px rgba(0,0,0,.15);
}

    .section-signal__cta:focus, .section-signal__cta:hover {
        background: #ed2f8e;
        box-shadow: 0 10px 25px rgba(0,0,0,.2);
    }

    .section-signal__cta svg {
        width: 10px;
        margin-left: 12px;
    }

.section-signal canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (min-width:768px) {
    body .h1 {
        font-size: 32px;
    }
}

@media (min-width:1100px) {
    body .h1 {
        font-size: 41px;
    }
}

@media (max-width:480px) {
    body .h1-small {
        font-size: 13px;
    }
}

body .h2 {
    color: #0d122b;
}

body .button.-big {
    box-sizing: border-box;
    min-width: 270px;
}

body .no-wrap {
    white-space: nowrap;
}

.hero-wrapper {
    background: #f9f9f9;
    padding-top: 88px;
}

@media (min-width:640px) {
    .hero-wrapper {
        padding-top: 120px;
    }
}

.section-hero {
    background: #f9f9f9;
}

    .section-hero h1 {
        margin-bottom: 40px;
        color: #0d122b;
    }

@media screen and (min-width:480px) {
    .section-hero h1 {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:920px) {
    .section-hero h1 {
        max-width: none;
    }
}

.section-hero p {
    color: #565b73;
}

.section-hero .button {
    z-index: 11;
}

.section-hero .talk-to-sales {
    margin-top: 15px;
}

@media screen and (min-width:768px) {
    .section-hero .talk-to-sales {
        margin-top: 30px;
    }
}

@media (min-width:920px) {
    .section-hero .talk-to-sales {
        margin-bottom: -100%;
    }
}

.section-hero .col {
    box-sizing: border-box;
    float: none;
    width: 100%;
}

@media (min-width:920px) {
    .section-hero .col {
        width: 50%;
        float: left;
    }

        .section-hero .col:first-child {
            padding-right: 40px;
        }
}

@media (max-width:919px) {
    .section-hero .col-left {
        text-align: center;
    }
}

.section-use-cases {
    position: relative;
    z-index: 3;
}

    .section-use-cases .uk-grid {
        margin-top: 40px;
    }

@media screen and (min-width:768px) {
    .section-use-cases .uk-grid {
        margin-top: 80px;
    }
}

@media screen and (min-width:960px) {
    .section-use-cases .uk-grid > * {
        padding-left: 50px;
    }
}

.section-use-cases .cta {
    margin-top: 40px;
}

.section-use-cases .use-case {
    min-height: auto;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    padding: 14px 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

@media screen and (min-width:480px) {
    .section-use-cases .use-case {
        max-width: 75%;
    }
}

@media screen and (min-width:768px) {
    .section-use-cases .use-case {
        max-width: none;
        margin-bottom: 40px;
        padding: 20px;
    }
}

@media screen and (min-width:960px) {
    .section-use-cases .use-case {
        padding: 24px 22px;
        margin-bottom: 50px;
    }
}

.section-use-cases .use-case.hover > ._title {
    color: #f22f46;
}

.uk-notouch .section-use-cases .use-case:hover > ._title {
    color: #f22f46;
}

.section-use-cases .use-case > ._icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    margin: 0 24px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

    .section-use-cases .use-case > ._icon svg {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }

.section-use-cases .use-case > ._title {
    vertical-align: middle;
    transition: color 150ms ease-out;
    color: #0d122b;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}

.section-use-cases .use-case + .use-case-products {
    display: none;
}

.section-heading {
    position: relative;
    z-index: 3;
}

.section-reliability-security-heading ._heading {
    box-sizing: border-box;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    .section-reliability-security-heading ._heading {
        width: 80%;
        padding-left: 80px;
        margin-bottom: -20px;
    }
}

@media screen and (min-width:960px) {
    .section-reliability-security-heading ._heading {
        width: 50%;
    }
}

.section-reliability-security-heading ._heading > h2 {
    margin-bottom: -20px;
}

.section-reliability-security .angled-heading > ._text {
    padding-right: 16px;
}

@media screen and (min-width:480px) {
    .section-reliability-security .angled-heading > ._text {
        padding-right: 32px;
    }
}

.section-reliability-security .col-1 {
    box-sizing: border-box;
    flex: none;
    margin: 0;
    float: left;
    width: 16.66666%;
}

.section-reliability-security .col-2 {
    box-sizing: border-box;
    flex: none;
    margin: 0;
    float: left;
    width: 75%;
}

.section-reliability-security ._main-heading {
    color: #0d122b;
    margin-bottom: 80px;
}

.section-reliability-security .h3 {
    margin: 0 0 5px 0;
}

.section-reliability-security p {
    margin: 0;
}

.section-reliability-security ._icon {
    max-width: 300px;
}

    .section-reliability-security ._icon img {
        margin-top: -11.2%;
        margin-left: -14%;
        margin-bottom: -4%;
    }

.section-reliability-security .content-grid > div {
    margin-bottom: 40px;
    max-width: 440px;
}

@media screen and (min-width:768px) {
    .section-reliability-security .content-grid {
        margin-left: -44px;
    }

        .section-reliability-security .content-grid > * {
            padding-left: 44px;
        }
}

.section-reliability-security .cta {
    margin-top: 40px;
}

@media screen and (min-width:768px) {
    .section-reliability-security .cta {
        margin-top: 60px;
    }
}

.section-reliability-security .cta .button {
    margin-bottom: 20px;
}

.section-pricing ._icon svg {
    height: 60px;
}

.section-pricing .uk-grid {
    margin-top: 40px;
}

@media screen and (min-width:768px) {
    .section-pricing .uk-grid {
        margin-top: 60px;
    }
}

.section-pricing ._item {
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {
    .section-pricing ._item {
        margin-bottom: 0;
    }
}

.section-pricing ._heading {
    margin: 10px 0 0 0;
}

@media screen and (min-width:480px) {
    .section-pricing ._heading {
        margin-top: 20px;
    }
}

@media screen and (min-width:768px) {
    .section-pricing ._heading {
        margin-top: 30px;
    }
}

.section-pricing .cta {
    margin-top: 20px;
}

@media screen and (min-width:768px) {
    .section-pricing .cta {
        margin-top: 60px;
    }
}

.tippy-tooltip.use-case-theme {
    background: #243758;
    line-height: 1.7;
    border-radius: 3px;
    width: 340px;
    box-shadow: 0 8px 16px 0 rgba(86,91,115,.15);
}

    .tippy-tooltip.use-case-theme .tippy-content {
        color: #fff;
        padding: 0;
        text-align: left;
    }

        .tippy-tooltip.use-case-theme .tippy-content ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .tippy-tooltip.use-case-theme .tippy-content ul li {
                margin: 0;
                padding: 0 20px;
                border-bottom: solid rgba(255,255,255,.15) 1px;
            }

                .tippy-tooltip.use-case-theme .tippy-content ul li:last-child {
                    border-bottom: none;
                }

                .tippy-tooltip.use-case-theme .tippy-content ul li > a {
                    display: block;
                    padding: 20px 0;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    vertical-align: middle;
                    transition: color 150ms ease-out;
                }

                    .tippy-tooltip.use-case-theme .tippy-content ul li > a:hover {
                        color: #008cff;
                        text-decoration: none;
                    }

                .tippy-tooltip.use-case-theme .tippy-content ul li .product-icon {
                    display: inline-block;
                    margin-right: 20px;
                    width: 34px;
                }

                .tippy-tooltip.use-case-theme .tippy-content ul li svg {
                    vertical-align: middle;
                }

                    .tippy-tooltip.use-case-theme .tippy-content ul li svg * {
                        fill: #008cff;
                    }

.section-features .right {
    margin-top: 40px;
}

@media screen and (min-width:768px) {
    .section-features .right {
        margin-top: 0;
    }
}

.section-features .feature-item {
    margin-bottom: 20px;
}

@media screen and (min-width:480px) {
    .section-features .feature-item svg {
        max-width: 75%;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (min-width:768px) {
    .section-features .feature-item svg {
        max-width: none;
    }
}

@media screen and (min-width:768px) {
    .section-features .feature-item {
        margin-bottom: 30px;
    }
}

@media screen and (min-width:960px) {
    .section-features .feature-item {
        margin-bottom: 40px;
    }
}

.footer {
    position: relative;
    z-index: 3;
}

@media screen and (min-width:768px) {
    .section-logo-list .uk-grid-wrapper {
        max-width: 66%;
        margin: 0 auto;
    }
}

@media (min-width:1064px) {
    .section-logo-list .uk-grid-wrapper {
        max-width: none;
        margin: 0;
    }
}

.section-logo-list .uk-grid-margin {
    margin-top: 45px;
}

.section-logo-list .logo-link {
    color: #f22f46;
    font-size: 11px;
    letter-spacing: .045em;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    text-align: center;
    line-height: 1.2;
    white-space: nowrap;
    transition: all 150ms ease-out;
}

    .section-logo-list .logo-link ._text {
        transition: all 150ms ease-out;
        display: block;
    }

    .section-logo-list .logo-link svg {
        transition: all 150ms ease-out;
    }

        .section-logo-list .logo-link svg * {
            transition: all 150ms ease-out;
        }

    .section-logo-list .logo-link:hover {
        text-decoration: none;
    }

        .section-logo-list .logo-link:hover svg {
            transform: scale(1.03);
        }

            .section-logo-list .logo-link:hover svg * {
                fill: #565b73;
            }

.section-logo-list ._logo {
    margin-top: 25px;
}

    .section-logo-list ._logo svg * {
        fill: #94979b;
    }

.section-logo-list .logo-twitch {
    margin-top: 20px;
}

    .section-logo-list .logo-twitch svg {
        width: 98px;
        height: auto;
    }

.section-logo-list .logo-zendesk {
    margin-top: 17px;
}

    .section-logo-list .logo-zendesk svg {
        width: 145px;
        height: auto;
    }

.section-logo-list .logo-nordstrom svg {
    width: 169px;
    height: auto;
}

.section-logo-list .logo-lyft {
    margin-top: 17px;
}

    .section-logo-list .logo-lyft svg {
        width: 57px;
        height: auto;
    }

.people-carousel {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    margin-left: -145px;
    margin-bottom: -50px !important;
}

@media screen and (min-width:480px) {
    .people-carousel {
        margin-bottom: -80px !important;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:920px) {
    .people-carousel {
        max-width: none;
        margin-left: -170px;
        margin-top: -60px;
        margin-bottom: -80px !important;
    }
}

@media screen and (min-width:960px) {
    .people-carousel {
        margin-left: -200px;
        margin-top: -80px;
        margin-bottom: -110px !important;
    }
}

@media (min-width:920px) and (max-width:1110px) {
    .people-carousel {
        margin-top: -20px;
    }
}

.people-carousel .slider-wrapper {
    height: 0;
    padding-top: 71.875%;
    margin: 0 auto;
    position: relative;
}

.people-carousel .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.people-carousel .background {
    display: none;
}

    .people-carousel .background.initialized {
        display: block;
    }

.people-carousel .gradients {
    width: 59.375%;
    height: 82.6086956522%;
    position: absolute;
    top: 52px;
    left: 29%;
}

    .people-carousel .gradients > .gradients-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.people-carousel .bg-1 {
    opacity: .1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg,#008cff 0,#f33 100%);
}

.people-carousel .bg-2 {
    opacity: .1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg,#36d576 0,#008cff 100%);
}

.people-carousel .bg-3 {
    opacity: .1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg,#36d576 0,#f1e134 100%);
}

.people-carousel .bg-4 {
    opacity: .1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg,#f22f46 0,#008cff 100%);
}

.people-carousel .bg-5 {
    opacity: .1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg,#008cff 0,#f58826 100%);
}

.people-carousel .bg-6 {
    opacity: .1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg,#3dda81 0,#f58826 100%);
}

.people-carousel .dots {
    width: 62%;
    height: 86.2608695652%;
    position: absolute;
    top: 1%;
    left: 30%;
}

    .people-carousel .dots > .dots-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.people-carousel .dots-1 {
    background: url(/marketing/bundles/homepage-2018/img/carousel/bg-dots-red.png) 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.people-carousel .dots-2 {
    background: url(/marketing/bundles/homepage-2018/img/carousel/bg-dots-blue.png) 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.people-carousel .dots-3 {
    background: url(/marketing/bundles/homepage-2018/img/carousel/bg-dots-green.png) 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.people-carousel .content {
    position: absolute;
    width: 200px;
    top: 16%;
    left: 66%;
}

@media (max-width:550px) {
    .people-carousel .content {
        width: 175px;
    }
}

@media (min-width:1090px) {
    .people-carousel .content {
        top: 18%;
        left: 67%;
    }
}

.people-carousel .content-slide {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .people-carousel .content-slide.active {
        pointer-events: auto;
    }

    .people-carousel .content-slide ._name {
        font-size: 16px;
        margin: 0 0 5px 0;
    }

@media (min-width:960px) {
    .people-carousel .content-slide ._name {
        font-size: 21px;
    }
}

.people-carousel .content-slide.-red ._name {
    color: #f22f46;
}

.people-carousel .content-slide.-green ._name {
    color: #36d576;
}

.people-carousel .content-slide.-blue ._name {
    color: #008cff;
}

.people-carousel .content-slide.-orange ._name {
    color: #f47c22;
}

.people-carousel .content-slide ._text {
    color: #565b73;
    font-size: 12px;
    line-height: 1.4;
    margin: 0 0 10px 0;
}

@media (min-width:960px) {
    .people-carousel .content-slide ._text {
        margin-bottom: 15px;
        font-size: 14px;
    }
}

.people-carousel .content-slide ._link {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

    .people-carousel .content-slide ._link a {
        color: #565b73;
    }

    .people-carousel .content-slide ._link svg {
        max-width: 90px;
    }

@media (min-width:960px) {
    .people-carousel .content-slide ._link svg {
        max-width: 110px;
    }
}

.people-carousel .content-slide .logo-uber svg {
    width: 77px;
    height: auto;
}

    .people-carousel .content-slide .logo-uber svg * {
        fill: #565b73;
    }

.people-carousel .content-slide .logo-superphone svg {
    max-width: 120px;
    height: auto;
}

    .people-carousel .content-slide .logo-superphone svg * {
        fill: #565b73;
    }

.slick-slide {
    outline: 0;
}

.slick-next {
    z-index: 11;
    right: 0;
}

@media screen and (min-width:480px) {
    .slick-next {
        right: 0;
    }
}

.slick-prev {
    z-index: 11;
    left: 0;
}

@media (max-width:479px) {
    .slick-prev {
        display: none !important;
        left: 22%;
    }
}

@media (min-width:920px) {
    .slick-prev {
        left: 20%;
    }
}

@media screen and (min-width:960px) {
    .slick-prev {
        left: 18%;
    }
}

.demo {
    max-width: 850px;
    margin: auto;
}

.demo__intro {
    font-weight: 400;
    font-size: 21px;
    color: #0d112b;
    margin-top: 60px;
    transition: all .4s cubic-bezier(.4,0,.2,1);
    will-change: opacity,filter;
}

[class*='--expired'] .demo__intro {
    opacity: .6;
    filter: blur(3px);
}

.demo__container {
    max-width: 784px;
    min-height: 360px;
    box-shadow: -1px 4px 30px 3px rgba(76,81,104,.2);
    margin: 45px -20px;
    position: relative;
}

@media screen and (min-width:620px) {
    .demo__container {
        border-radius: 4px;
        margin: 45px auto;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
    }
}

.demo__container > div {
    box-sizing: border-box;
    transition: all .4s cubic-bezier(.4,0,.2,1);
    will-change: opacity,filter;
}

[class*='--expired'] .demo__container > div {
    opacity: .6;
    filter: blur(3px);
}

.demo__container > div .two-col-visible {
    display: none;
}

.demo__container > div .one-col-visible {
    display: inline;
}

@media screen and (min-width:620px) {
    .demo__container > div {
        width: 50%;
        height: auto;
    }

        .demo__container > div .two-col-visible {
            display: inline;
        }

        .demo__container > div .one-col-visible {
            display: none;
        }
}

[class*='--expired'] .demo__container {
    pointer-events: none;
}

.demo .keyword {
    color: #f22f46;
    background: #f5f5f5;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 8px;
}

[class*="--loading"] .demo .keyword {
    filter: blur(5px);
}

.demo .number {
    color: #f22f46;
}

.demo [role=keyword] span, .demo [role=phoneNumber] span {
    transition: all .2s cubic-bezier(.4,0,.2,1);
    opacity: 1;
    will-change: filter,opacity;
}

.demo[class*="--loading"] [role=keyword] span, .demo[class*="--loading"] [role=phoneNumber] span {
    filter: blur(5px);
    opacity: .8;
}

.demo__notification {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-75%);
    background: #f22f46;
    color: #fff;
    padding: 14px 36px 16px;
    z-index: 100;
    opacity: 0;
    transition: all 1s cubic-bezier(.4,0,.2,1);
    will-change: transform,opacity;
    border-radius: 4px;
    text-align: center;
    pointer-events: none;
}

    .demo__notification * {
        display: block;
    }

    .demo__notification header {
        font-weight: 500;
        font-size: 14px;
    }

    .demo__notification p {
        font-size: 12px;
        margin: 0;
    }

[class*='--expired'] .demo__notification {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}

.demo__code {
    padding: 30px 32px 264px;
    position: relative;
    background: #233659;
}

    .demo__code .code {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: 'Fira Mono',Consolas,monospace;
        font-size: 13px;
        opacity: .95;
        max-height: 200px;
        overflow-y: auto;
    }

@media screen and (min-width:800px) {
    .demo__code .code {
        font-size: 15px;
    }
}

.demo__code .code li {
    color: #fff;
}

    .demo__code .code li:nth-child(2) {
        padding-left: 20px;
    }

.demo__code .code .green {
    color: #92bfbf;
}

.demo__code .code .red {
    color: #ea7956;
}

.demo__code .code [contenteditable] {
    padding: 0 3px;
}

    .demo__code .code [contenteditable]:focus {
        outline: 0;
    }

.demo__log {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 212px;
    border-top: solid 1px rgba(255,255,255,.15);
    padding: 10px 16px 14px;
    font-family: 'Fira Mono',Consolas,monospace;
    color: #94979b;
    font-size: 12px;
    list-style: none;
    margin: 0;
    overflow-y: auto;
}

    .demo__log li {
        line-height: 1.4;
        padding: 4px 0 0;
        color: #e8e8e8;
        opacity: .95;
        white-space: pre;
    }

        .demo__log li.placeholder {
            opacity: .6;
        }

.demo__pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

    .demo__pagination li {
        cursor: pointer;
        width: 12px;
        height: 12px;
        margin-right: 16px;
        border-radius: 50%;
        border: solid 2px rgba(242,47,70,.4);
        display: inline-block;
        position: relative;
        transition: all .2s cubic-bezier(.4,0,.2,1);
        will-change: background,border-color;
    }

        .demo__pagination li:not(:first-child):before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -1px;
            vertical-align: middle;
            height: 0;
            width: 16px;
            right: 14px;
            border-top: solid 2px rgba(242,47,70,.4);
        }

[data-step="1"] .demo__pagination li:nth-child(-n+1) {
    border-color: #f22f46;
    background: #f22f46;
}

    [data-step="1"] .demo__pagination li:nth-child(-n+1):before {
        border-top-color: #f22f46;
    }

[data-step="2"] .demo__pagination li:nth-child(-n+2) {
    border-color: #f22f46;
    background: #f22f46;
}

    [data-step="2"] .demo__pagination li:nth-child(-n+2):before {
        border-top-color: #f22f46;
    }

[data-step="3"] .demo__pagination li:nth-child(-n+3) {
    border-color: #f22f46;
    background: #f22f46;
}

    [data-step="3"] .demo__pagination li:nth-child(-n+3):before {
        border-top-color: #f22f46;
    }

[data-step="4"] .demo__pagination li:nth-child(-n+4) {
    border-color: #f22f46;
    background: #f22f46;
}

    [data-step="4"] .demo__pagination li:nth-child(-n+4):before {
        border-top-color: #f22f46;
    }

.demo__links {
    float: right;
    margin: -10px;
}

    .demo__links a {
        letter-spacing: .15em;
        text-transform: uppercase;
        font-size: 11px;
        color: #0d112b;
        display: inline-block;
        padding: 4px 0;
        margin: 12px 10px;
        line-height: 1;
    }

        .demo__links a:hover {
            text-decoration: none;
            color: #111;
            border-bottom: solid 1px #0d112b;
        }

[data-step="1"] .demo__links a:first-child {
    display: none;
}

.demo__description {
    background: #fff;
    padding: 32px 36px;
}

    .demo__description header {
        margin-bottom: 20px;
    }

    .demo__description p {
        font-size: 13.5px;
        color: #233659;
    }

        .demo__description p a, .demo__description p em {
            color: #f22f46;
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
        }

            .demo__description p a:hover {
                border-bottom: solid 1px #f22f46;
            }

.demo__instructions {
    display: none;
}

[data-step="1"] .demo__instructions:nth-of-type(1) {
    display: block;
}

[data-step="2"] .demo__instructions:nth-of-type(2) {
    display: block;
}

[data-step="3"] .demo__instructions:nth-of-type(3) {
    display: block;
}

[data-step="4"] .demo__instructions:nth-of-type(4) {
    display: block;
}
