﻿	.home-products-feature__card.full-width-card {
    width: 100%;
    flex-direction: row;
}
.home-products-feature__card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    background: #fff;
    margin-bottom: 2em;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    position: relative;
    display: flex;
    padding: 2em;
    box-shadow: 0 0 11px #eaf0f6;
}

@media (min-width: 768px)
.home-products-feature__card.full-width-card .home-products-feature__card--image-wrapper {
    padding: 0 9%;
}
.home-products-feature__card.full-width-card .home-products-feature__card--image-wrapper {
    position: relative;
    text-align: center;
    padding: 0 30px;
    z-index: 1;
}
@media (min-width: 768px)
.home-products-feature__card.full-width-card .home-products-feature__card--text-wrapper {
    width: 50%;
    vertical-align: middle;
}

.home-products-feature__card.full-width-card .home-products-feature__card--text-wrapper {
    display: inline-block;
}
@media (min-width: 768px)
.home-products-feature__cta {
    clear: both;
}
.home-products-feature__cta {
    display: block;
    text-align: center;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    padding-top: 20px;
    vertical-align: middle;
}
.home-products-feature__card.full-width-card h4 {
    text-align: left;
}
h4, .h4 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3636;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, a, span, li {
    color: inherit;
    font-family: inherit;
}
.home-products-feature__card--content p {
    font-size: 14px;
}
p {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
@media (min-width: 768px)
.home-products-feature__card.full-width-card .home-products-feature__features p {
    text-align: left;
    border-top: 0;
    padding-top: 0;
}
.home-products-feature__features p {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 2em;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e0e6ed;
    padding-top: 2em;
}
.home-products-feature__card--content p {
    font-size: 14px;
}
ol, ul {
    list-style: none;
}
@media (min-width: 768px)
.home-products-feature__card.full-width-card .home-products-feature__features ul li {
    float: left;
}
.home-products-feature__features ul li:not(:last-child) {
    margin-right: 20px;
}
.home-products-feature__features ul li {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
}
.home-products-feature__features ul li::before {
    content: '';
    background: url(//cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg) no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}