﻿body {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-family:14px/20px 'LatoRegular',Helvetica,Arial,sans-serif;*/
}
/*---------------------------------------------------header-------------------------------------------------------------*/
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.headerbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 3px;
    border-color: #e0dbdb;
    background-color: #f5efef;
    z-index: 10;
}

.logo {
    /*border-radius: 3%;*/
    width: 15%;
    display: inline-block;
    list-style: none;
    text-align: center;
}

    .logo li {
        list-style: none;
        display: inline-block;
    }

        .logo li a {
            color: #808080 !important;
            cursor: pointer;
            font-weight: 600;
            position: absolute;
            left: 20px;
            top: 0px;
            z-index: -1;
        }

            .logo li a:hover {
                color: #f22f46 !important;
            }

.Menubar {
    width: 45%;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 20px;
}

    .Menubar li {
        padding: 15px 30px 15px 30px;
        list-style: none;
        display: inline-block;
    }

        .Menubar li a {
            color: #737272 !important;
            cursor: pointer;
            font-weight: 600;
        }

            .Menubar li a:hover {
                color: #f22f46 !important;
            }

.rightbar {
    width: 37%;
    display: inline-block;
    list-style: none;
    text-align: right;
}

    .rightbar li {
        padding: 10px 10px 10px 10px;
        list-style: none;
        display: inline-block;
    }

        .rightbar li a {
            color: white !important;
            background: #0c8396;
            padding: 10px 15px 10px 20px;
            border-radius: 3px;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
        }

            .rightbar li a:hover {
                color: #e5d0d0 !important;
                background: #095c69;
            }

@media all and (max-width:1200px) {
    .Menubar {
        font-size: 15px;
    }

    .rightbar li {
        padding: 20px 10px 20px 10px;
    }
}

@media all and (max-width:920px) {
    .Menubar {
        display: none;
    }

    .logo {
        width: 40%;
    }

    .rightbar {
        width: 58%;
        margin: 0px;
        padding: 0px;
    }

        .rightbar li a {
            padding: 10px 5px 10px 5px;
            border-radius: 3px;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
        }

        .rightbar li {
            padding: 10px 5px 10px 5px;
        }
}

@media all and (max-width:400px) {
    .logo {
        width: 49%;
        margin: 0px;
        padding: 0px;
    }

    .rightbar {
        width: 49%;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
    }

        .rightbar li a {
            padding: 10px 5px 10px 5px;
            border-radius: 3px;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
        }

        .rightbar li {
            padding: 10px 5px 10px 5px;
        }
}

/*---------------------------------------------------header-------------------------------------------------------------*/

/*---------------------------------------------------header panel-------------------------------------------------------------*/

.headerpanel {
    width: 100%;
    padding: 125px 35px 40px 35px;
}

.leftpanel {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 30px 20px 30px 0px;
}

    .leftpanel p {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 2.1px;
        line-height: 44px;
    }

.searchgroup {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 100%;
}

    .searchgroup p {
        font-size: 20px;
        font-weight: 400;
    }

    .searchgroup div {
        width: 80%;
        background-color: white;
        height: 66px;
        color: black;
        border-bottom: 2px solid;
        border-color: #cecdcd;
    }

    .searchgroup label {
        width: 11%;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .searchgroup input {
        width: 70%;
        /* padding: 0px 10px 0px 10px; */
        font-size: 22px;
        font-weight: 400;
        outline: none;
        border: none;
        height: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .searchgroup button {
        width: 15%;
        border-radius: 12px;
        /* padding: 10px 10px 10px 10px; */
        font-size: 22px;
        font-weight: 400;
        background-color: #1d9fd2;
        border: none;
        /* height: 33px; */
        color: white;
        cursor: pointer;
    }

.rightpanel {
    width: 48%;
    float: right;
    box-sizing: border-box;
    /*background-image: url('Content\img\bulb png.png');*/
    background-size: cover;
}

@media all and (max-width:1000px) {
    .leftpanel {
        width: 100%;
        text-align: center;
    }

        .leftpanel p {
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 1.1px;
            line-height: 26px;
        }

    .searchgroup {
        text-align: center;
    }

        .searchgroup p {
            font-size: 15px;
        }

        .searchgroup div {
            width: 100%;
        }

    .rightpanel {
        display: none;
    }

    .searchgroup button {
        font-size: 17px;
    }
}

@media all and (max-width:400px) {
    .searchgroup label {
        width: 13%;
    }

    .searchgroup input {
        width: 63%;
    }

    .searchgroup button {
        width: 20%;
    }
}
/*---------------------------------------------------header panel-------------------------------------------------------------*/

/*---------------------------------------------------header Slider-------------------------------------------------------------*/


.sliderContainer {
    position: relative;
    width: 100%;
    height: 540px;
    margin: 0 auto;
    overflow: hidden;
}

    .sliderContainer img:first-child {
        position: relative;
        width: 100%;
        left: 0%;
        top: 0;
    }

    .sliderContainer img {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 0;
        height: 540px;
        -webkit-transition-property: width; /* Safari */
        -webkit-transition-duration: 0.1s; /* Safari */
        transition-property: width;
        transition-duration: 0.1s;
    }

    .sliderContainer p:first-child {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 0;
    }

    .sliderContainer p {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 0;
    }

.nextCircle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: black;
    /*z-index: 19;*/
}

.next {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    /*z-index: 20;*/
}

.nextCircle:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa.fa-arrow-right, .fa.fa-arrow-left {
    font-size: 30px;
}

.prevCircle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: black;
    /*z-index: 19;*/
}

.previous {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    /*z-index: 20;*/
}

.prevCircle:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sidecaption {
    top: 0px;
    position: absolute;
    right: 59px;
    padding: 20px 10px 20px 20px;
    font-size: 22px;
    font-weight: 600;
}

.subsidecaption {
    top: 0px;
    position: absolute;
    right: 59px;
    padding: 40px 10px 20px 20px;
    font-size: 18px;
    font-weight: 300;
}


/*---------------------------------------------------header Slider-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel-------------------------------------------------------------*/

.middlepanel {
    width: 100%;
    padding: 25px 25px 20px 25px;
}

.middleheader ul {
    width: 100%;
    display: inline-block;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid;
    border-color: #e5e2e2;
}

.middleheader li {
    padding: 15px 10px 15px 10px;
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 19%;
}

    .middleheader li div {
        color: #808080 !important;
        font-weight: 600;
        padding: 20px 24px 20px 24px;
        text-align: center;
        line-height: 24px;
        font-size: 15px;
    }

        .middleheader li div b {
            color: black;
            font-weight: 600;
        }

.middleheading {
    font-size: 40px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    letter-spacing: 1.8px;
}

    .middleheading b {
        color: #1d9fd2;
    }

.middlecontent {
    width: 100%;
    padding: 20px 30px 20px 30px;
}

.middleleftcontent {
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 30px 20px 30px 0px;
}

.middlerightcontent {
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 30px 20px 30px 0px;
}

    .middlerightcontent ul {
        width: 100%;
        /*padding: 15px;*/
        padding: 10px 20px 10px 20px;
        list-style: none;
        display: block;
    }

        .middlerightcontent ul li {
            padding: 10px;
            color: #0000008c;
        }

.tabheader {
    /*height: 70px;*/
    background-color: #9e9e9e40;
    border-right: 5px solid #097979;
    cursor: pointer;
}

    .tabheader img {
        height: 70px;
        width: 90px;
    }

.tabdetails {
    padding: 10px;
    border-right: 5px solid #097979;
    display: none;
}

.middlerightcontent ul li span {
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

@media all and (max-width:1000px) {
    .middleheader li {
        width: 100%;
    }

    /*.middleheading {
        font-size: 20px;
    }*/

    .middleleftcontent {
        width: 100%;
    }

    .middlerightcontent {
        width: 100%;
    }
}

@media all and (max-width:600px) {
    .tabheader img {
        height: 70px;
        width: 50px;
    }

    .middlerightcontent ul li span {
        padding-left: 10px;
        font-size: 12px;
        font-weight: 400;
    }

    .middlerightcontent {
        padding: 0px;
        margin: 0px;
    }

        .middlerightcontent ul {
            margin: 0px;
            padding: 0px;
        }

    .middlecontent {
        padding: 20px 10px 20px 10px;
    }
}
/*---------------------------------------------------Middle Panel-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel2-------------------------------------------------------------*/

.middlepanel2 {
    width: 100%;
    padding: 25px 25px 20px 25px;
    text-align: center;
    background-color: #051d39;
    background-size: cover;
    margin: 0px;
    padding: 1%;
}

.middlepanel2headingbar {
    width: 95%;
    padding: 20px 35px 10px 35px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 4px solid;
    border-color: #9a9696f7;
}

.hmain {
    width: 25%;
    float: left;
    text-align: right;
    font-size: 30px;
    color: black;
    padding: 0px 15px 10px 15px;
}

.hcontent {
    width: 45%;
    float: left;
    text-align: left;
    font-size: 17px;
    color: black;
    padding: 0px 15px 10px 15px;
}

.hbutton {
    width: 25%;
    float: left;
    text-align: left;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
}

    .hbutton a {
        padding: 20px 15px 20px 15px;
        background-color: #098890;
        color: white !important;
        cursor: pointer;
    }

.middlepanel2content {
    width: 88%;
    padding: 10px;
    margin-left: 6%;
    margin-right: 6%;
}

.middlepanel2div {
    width: 32%;
    float: left;
    text-align: center;
    padding: 20px;
}

.middlepanel2img {
    width: 100%;
}

    .middlepanel2img img {
        border-radius: 50%;
        height: 80px;
        width: 90px;
        background-color: blue;
    }

.middlepanel2details {
    font-size: 17px;
    color: white;
    font-weight: 300;
    padding: 4px;
}

.middlepanel2head {
    font-size: 35px;
    text-align: center;
    color: white;
}

@media all and (max-width:1150px) {
    .hmain, .hcontent, .hbutton {
        width: 100%;
        text-align: center;
    }

    .middlepanel2div {
        width: 100%;
    }
}


/*---------------------------------------------------Middle Panel2-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel3-------------------------------------------------------------*/

.middlepanel3 {
    width: 100%;
    padding: 25px 25px 20px 25px;
    text-align: center;
    padding: 1%;
}

.middlepanel3header1 {
    font-size: 30px;
    font-weight: 400;
}

.middlepanel3header2 {
    font-size: 20px;
    font-weight: 200;
}

.middlepanel3contents {
    width: 100%;
    text-align: center;
}

.middle3div {
    width: 100%;
}

    .middle3div table {
        width: 100%;
    }

        .middle3div table tr {
            width: 100%;
        }

            .middle3div table tr td {
                width: 14%;
                padding: 26px 10px 26px 10px;
                text-align: center;
                border: 0.1px solid;
                border-color: #e0dbdb;
            }

                .middle3div table tr td img {
                    width: 80px;
                    height: 60px;
                }

.topimage {
    width: 14% !important;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 43%;
    margin-top: -4.3%;
    height: 20% !important;
}

.mediumimg {
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    /*left: 43%;
            top: 1.5%;*/
    height: 65% !important;
}


@media all and (max-width:850px) {
    .middle3div table tr {
        display: table;
        width: 100%;
    }

        .middle3div table tr td {
            display: table-row;
            text-align: center;
        }

    .topimage {
        display: none;
    }

    .mediumimg {
        display: none;
    }
}

.middle3td {
    width: 14%;
    float: left;
}

.middle3td1 {
    width: 40%;
    float: left;
}

.middlepimg {
    width: 80px;
    height: 40px;
}

.middleimgpanel {
    position: absolute;
    width: 450px;
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: -3;
    left: 31%;
    height: 243px;
    margin-top: 10%;
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 4s; /* Safari */
    transition-property: width;
    transition-duration: 4s;
    box-shadow: 4px 4px #e5e2e2;
}

@media all and (max-width:850px) {
    .middle3td {
        width: 100%;
        text-align: center;
    }

    .middleimgpanel {
        display: none;
    }

    #imgheadm {
        display: none;
    }

    .middlepimg {
        width: 100px;
        height: 120px;
    }
}

@media all and (max-width:750px) {
    .middleimgpanel {
        position: absolute;
        width: 256px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 239px;
        margin-top: 17%;
    }
}

@media all and (max-width:1100px) {
    .middleimgpanel {
        position: absolute;
        width: 400px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 243px;
        margin-top: 11%;
    }
}

@media all and (max-width:1020px) {
    .middleimgpanel {
        position: absolute;
        width: 369px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 200px;
        margin-top: 12%;
    }

    .middlepimg {
        width: 70px;
        height: 100px;
    }
}

@media all and (max-width:890px) {
    .middleimgpanel {
        position: absolute;
        width: 333px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 200px;
        margin-top: 12%;
    }
}

/*---------------------------------------------------Middle Panel3-------------------------------------------------------------*/


/*---------------------------------------------------Middle Panel4-------------------------------------------------------------*/

.middlepanel4 {
    width: 100%;
    padding: 25px 25px 20px 25px;
    margin: 0px;
    padding: 1%;
}

.middlepanel4headingbar {
    width: 95%;
    padding: 20px 35px 10px 35px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    transition: all 2s;
    border-radius: 12px;
}

    .middlepanel4headingbar:hover {
        box-shadow: 3px 3px 3px 3px #e0dbdb;
    }

.hmain4 {
    width: 40%;
    float: left;
    text-align: right;
    font-size: 30px;
    color: black;
    padding: 0px 15px 10px 15px;
}

.hcontent4 {
    width: 55%;
    float: left;
    text-align: left;
    font-size: 17px;
    color: black;
    padding: 0px 15px 10px 15px;
}

.middlepanel4main {
    width: 100%;
}

.middlepanel4left {
    width: 49%;
    float: left;
    padding: 20px 30px 20px 30px;
}

.middlepanel4right {
    width: 49%;
    float: right;
    text-align: center;
}

.middlepanel4heading {
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #1d9fd2;
}

.middlepanel4subheading {
    font-size: 20px;
    font-weight: 200;
    color: black;
}

@media all and (max-width:690px) {
    .middlepanel4right {
        width: 100%;
        text-align: center;
    }

    .middlepanel4left {
        width: 100%;
        text-align: center;
    }

    .hmain4 {
        width: 100%;
        text-align: center;
    }

    .hcontent4 {
        width: 100%;
        text-align: center;
    }
}
/*---------------------------------------------------Middle Panel4-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel5-------------------------------------------------------------*/


.middlepanel5 {
    width: 100%;
    margin: 0px;
    background-color: #d3f1f0;
    color: black;
}

    .middlepanel5 ul {
        width: 100%;
        display: inline-block;
        list-style: none;
        text-align: center;
        border-bottom: 2px solid;
        border-color: #e5e2e2;
        padding: 10px 5px 10px 5px;
        /*margin-left: 2%;
        margin-right: 2%;*/
    }

    .middlepanel5 li {
        padding: 10px 10px 5px 10px;
        list-style: none;
        display: inline-block;
        text-align: center;
        width: 20%;
    }

.leftsideimg {
    text-align: right;
    width: 40%;
    float: left;
}

    .leftsideimg img {
        border-radius: 50%;
        height: 80px;
        width: 60px;
    }

.rightsidedtl {
    width: 55%;
    float: left;
    text-align: left;
    padding: 10px 5px 5px 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: .3;
    color: #272727;
    font-size: 12px;
    font-weight: 700;
}

@media all and (max-width:690px) {
    .middlepanel5 li {
        width: 100%;
    }

    .leftsideimg {
        text-align: center;
        width: 100%;
    }

    .rightsidedtl {
        text-align: center;
        width: 100%;
    }
}
/*---------------------------------------------------Middle Panel5-------------------------------------------------------------*/
.middlepanel4left a {
    padding: 17px 15px 17px 15px;
    background-color: #0eb20d;
    color: white !important;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 4px 4px #e5e2e2;
    cursor: pointer;
}


/*---------------------------------------------------Footer-------------------------------------------------------------*/

.footerpaneldiv {
    width: 100%;
    margin: 0px;
    background-color: black;
    color: white;
    padding: 2%;
}

.footerpanel {
    margin-left: 2%;
    margin-right: 2%;
}

.footersubpanel1 {
    width: 15%;
    float: left;
    text-align: left;
}

    .footersubpanel1 ul {
        width: 100%;
        text-align: left;
        font-size: 11px;
        list-style: none;
    }

        .footersubpanel1 ul li {
            padding-bottom: 2px;
        }

            .footersubpanel1 ul li a {
                display: block;
                color: white !important;
            }

                .footersubpanel1 ul li a:hover {
                    color: #005a4d !important;
                }

.footersubpanel2 {
    width: 50%;
    float: left;
    padding-left: 10%;
    /*background-color: rgba(139, 136, 136, 0.55);
    padding: 30px 20px 30px 20px;
    border: 1px solid black;
    box-shadow: 3px 3px black;*/
}

    .footersubpanel2 ul {
        width: 100%;
        text-align: center;
        font-size: 12px;
        list-style: none;
    }

        .footersubpanel2 ul li {
            padding-bottom: 2px;
        }

    .footersubpanel2 input {
        width: 68%;
        height: 40px;
        font-size: 20px;
        border-radius: 0px;
        outline: none;
        border: none;
        background-color: #24b7bb !important;
    }

    .footersubpanel2 button {
        padding: 13px 3px 5px 3px;
        background-color: black;
        color: white !important;
        font-size: 10px;
        font-weight: 700;
        border-radius: 0px;
        cursor: pointer;
        border: none;
        border-width: 0px;
        outline: solid;
        outline-color: white;
        outline-width: 0.001cm;
    }

.footersubpanel1 img {
    width: 20px;
    height: 20px;
}

@media all and (max-width:1000px) {
    .footersubpanel1 {
        padding: 20px;
        width: 30%;
        text-align: center;
    }

    .footersubpanel2 {
        padding: 20px;
        width: 100%;
        text-align: center;
    }

        .footersubpanel2 button {
            font-size: 10px;
        }
}

/*---------------------------------------------------Footer-------------------------------------------------------------*/
.divfooterpanel {
    clear: both;
    text-shadow: none;
    padding: 40px 0;
    color: #207e89 !important;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #16b1b5 !important;
    bottom: 0;
    position: relative;
    -webkit-text-size-adjust: none;
}

.footercontainer {
    clear: both;
    margin: 0 auto;
}

.footerdivpnl {
    display: block;
    float: left;
    padding: 0 4em 0 0;
    -webkit--moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz--moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .footerdivpnl h3 {
        font: 12px/14px 'LatoBold',Helvetica,Arial,sans-serif;
        color: #207e89 !important;
        letter-spacing: 0;
        text-transform: uppercase;
        padding: 0 0 8px;
        margin-top: 20px;
    }
