﻿body {
    /*background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;*/
    /*font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family:14px/20px 'LatoRegular',Helvetica,Arial,sans-serif;*/
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: normal;
    /*font-family: 'Segoe UI';*/
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: geometricPrecision;
    height:100%;
    position:relative;
}
html{
    height:100%;
    position:relative;
}

/*---------------------------------------------------header-------------------------------------------------------------*/
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
    /*padding-left:0px;*/
}

.visibleside {
    display: block;
}

button {
    outline: 0px !important;
}

.headerbar {
    top: 0;
    width: 100%;
    /*border-bottom: solid 1px;*/
    /*border-color: #e0dbdb;*/
    position: absolute;
    /*background-image: url('../ContentWebsite/students/mainbg1.png');*/
    background-size: cover;
    z-index: 6;
    padding: 0px 5px 0px 5px;
}

a:hover {
    text-decoration: none;
}

.topbarlogobox {
    /*width: 15%;*/
    float: left;
    padding: 10px 0px 10px 0px;
}

.logo {
    /*border-radius: 3%;*/
    /*width: 200px;*/
    display: inline-block;
    list-style: none;
    text-align: center;
    /*padding-left: 0px;*/
    padding-left: 28px;
}

    .logo li {
        list-style: none;
        display: inline-block;
    }

        .logo li a {
            color: white !important;
            cursor: pointer;
        }

            .logo li a img {
                height: 109px;
                width: 120px;
                background-color: white;
                padding: 15px;
                box-shadow: 8px 3px 30px #cccccc85;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 17px;
                border-bottom-right-radius: 17px;
                cursor: pointer;
            }

/*.logo li a:hover {
                color: #f22f46 !important;
            }*/

.Menubar {
    width: 580px;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding-left: 0px;
}

    .Menubar li {
        padding: 3% 4% 3% 4%;
        list-style: none;
        display: inline-block;
    }

        .Menubar li a {
            /*color: white !important;*/
            cursor: pointer;
            font-weight: 200;
            font-size: 17px;
            font-weight: 750;
            font-size: 14px;
            color: hsla(0,0%,100%,.7);
            letter-spacing: 1px;
            text-transform: uppercase;
            height: 36px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .Menubar li a:hover {
                /*color: white !important;*/
                text-decoration: none;
            }

.rightbar {
    /*width: 275px;*/
    display: inline-block;
    list-style: none;
    text-align: right;
    padding-left: 0px;
    float: right;
    
}

    .rightbar li {
        padding: 10px 10px 10px 10px;
        list-style: none;
        display: inline-block;
        /*font-size: 14px;*/
    }

.btnsignin {
    color: white !important;
    background: #1d9fd2;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    border: 1px solid;
    border-color: #80808040;
}

.btntryforfree {
    color: #1d9fd2 !important;
    background-color: white;
    padding: 10px 15px 10px 20px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    border: 1px solid;
    border-color: #80808040;
}

.btnsignin:hover {
    color: #1d9fd2 !important;
    background-color: white;
}

.btntryforfree:hover {
    color: white !important;
    background: #1d9fd2;
}


/*@media all and (max-width:1200px) {
    .Menubar {
        font-size: 15px;
    }
    .Menubar li {
        padding: 15px 20px 15px 20px;
    }

    .rightbar li {
        padding: 20px 10px 20px 10px;
    }
}

@media all and (max-width:920px) {
    .Menubar {
        display: none;
    }

    .logo {
        width: 40%;
    }

    .rightbar {
        width: 58%;
        margin: 0px;
        padding: 0px;
    }

        .rightbar li a {
            padding: 10px 5px 10px 5px;
            border-radius: 3px;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
        }

        .rightbar li {
            padding: 10px 5px 10px 5px;
        }
}

@media all and (max-width:400px) {
    .logo {
        width: 49%;
        margin: 0px;
        padding: 0px;
    }

    .rightbar {
        width: 49%;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
    }

        .rightbar li a {
            padding: 10px 5px 10px 5px;
            border-radius: 3px;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
        }

        .rightbar li {
            padding: 10px 5px 10px 5px;
        }
}*/

/*---------------------------------------------------header-------------------------------------------------------------*/

/*---------------------------------------------------header panel-------------------------------------------------------------*/

.headerpanel {
    width: 100%;
    padding: 3% 1% 3% 1%;
}

.leftpanel {
    width: 45%;
    float: left;
    box-sizing: border-box;
    padding: 7% 1% 2% 1%;
    padding-top: 11%;
}

    .leftpanel p {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0px;
        /*line-height: 39px;
        line-height: 1.4;*/
        text-transform: none;
        outline: 0px;
    }

.searchgroup {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    /*width: 100%;*/
    width:375px;
}

    .searchgroup p {
        font-size: 14px;
        /*font-weight: 600;*/
        margin-bottom: 15px;
    }

    .searchgroup div {
        width: 70%;
        background-color: white;
        height: 58px;
        color: black;
        border: 1px solid;
        border-color: #cecdcd;
        padding: 2px 1px 2px 6px;
        border-radius: 3px;
    }

    .searchgroup label {
        width: 11%;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: center;
    }

    .searchgroup input {
        width: 75%;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        border: none;
        height: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

.btnjoin {
    /*width: 23%;*/
    border-radius: 20px;
    padding: 8px 19px 8px 19px;
    font-size: 14px;
    font-weight: 400;
    background-color: #1d9fd2;
    border: none;
    outline: none;
    border: none;
    /* height: 33px; */
    color: white;
    cursor: pointer;
    font-weight: 600;
    /* float: right; */
    margin: 8px 5px;
}

.searchgroup button:hover {
    background-color: #0c698e;
}

.searchgroup button {
    width: 20%;
    border-radius: 20px;
    padding: 8px 18px 8px 18px;
    font-size: 14px;
    font-weight: 400;
    background-color: #1d9fd2;
    border: none;
    outline: none;
    border: none;
    /* height: 33px; */
    color: white;
    cursor: pointer;
    font-weight: 600;
}

    .searchgroup button:hover {
        background-color: #0c698e;
    }

.rightpanel {
    width: 54%;
    float: right;
    box-sizing: border-box;
    /*background-image: url('Content\img\bulb png.png');*/
    background-size: cover;
}

.searchpanelbox {
    border: 1px solid #dfdada;
    background: white;
    color: black;
    width: 72%;
    border-radius: 6px;
    margin-left: 64px;
    text-align: left;
}

.searchpanelbox1 {
    /*border: 1px solid #dfdada;*/
    background: white;
    color: black;
    width: 87%;
    border-radius: 6px;
    /*margin-left: 64px;*/
    text-align: left;
}

.searchpaneltext {
    /*width: 280px;*/
    /*width: 100%;*/
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border: none;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.growthcls {
    height: 435px;
}

@media all and (max-width:1240px) {
    .intl-tel-input {
        width: 70%;
    }

    .searchpanelbox {
        width: 90%;
    }

    .searchpanelbox1 {
        width: 90%;
    }
    /*.searchpaneltext {
        width: 260px;
    }*/

}

@media all and (max-width:955px) {
    .searchpanelbox1 {
        /*width: 40%;*/
        margin-left: 31%;
    }
}

@media all and (max-width:1000px) {
    .searchpanelbox {
        width: 45%;
        margin-left: 28%;
    }

    .intl-tel-input {
        width: 74% !important;
    }

    .btnjoin {
        padding: 10px 12px 10px 12px;
    }
}


@media all and (max-width:680px) {
    .searchpanelbox {
        width: 57%;
        margin-left: 22%;
    }

    .searchpanelbox1 {
        width: 57%;
        margin-left: 22%;
    }

    .intl-tel-input {
        width: 78% !important;
    }

    /*.searchpaneltext {
        width: 70%;
    }*/

    .btnjoin {
        padding: 8px 10px 8px 10px;
        margin: 0px;
    }
}

@media all and (max-width:580px) {
    .searchpanelbox {
        width: 90%;
        margin-left: 8%;
    }

    .searchpanelbox1 {
        width: 90%;
        margin-left: 8%;
    }

    .intl-tel-input {
        width: 78% !important;
    }

    .leftpanel {
        padding-top: 30%;
    }
}

@media all and (max-width:380px) {
    .searchpanelbox {
        width: 100%;
        margin-left: 0%;
    }

    .searchpanelbox1 {
        width: 100%;
        margin-left: 0%;
    }

    .intl-tel-input {
        width: 75% !important;
    }
}

@media all and (max-width:640px) {
    .growthcls {
        height: auto;
    }

    .rightpanel {
        display: none;
    }
}

@media all and (max-width:1000px) {
    .leftpanel {
        width: 100%;
        text-align: center;
    }

        .leftpanel p {
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 1.1px;
            line-height: 26px;
        }

    .searchgroup {
        text-align: center;
    }

        .searchgroup p {
            font-size: 15px;
        }

        .searchgroup div {
            width: 100%;
        }

    .rightpanel {
        width: 100%;
        /*display: none;*/
    }

    .searchgroup button {
        font-size: 17px;
    }
}

@media all and (max-width:400px) {
    .searchgroup label {
        width: 13%;
    }

    .searchgroup input {
        width: 63%;
    }

    .searchgroup button {
        width: 20%;
    }
}
/*---------------------------------------------------header panel-------------------------------------------------------------*/

/*---------------------------------------------------header Slider-------------------------------------------------------------*/


.sliderContainer {
    position: relative;
    width: 100%;
    height: 540px;
    margin: 0 auto;
    overflow: hidden;
}

    .sliderContainer img:first-child {
        position: relative;
        width: 100%;
        left: 0%;
        top: 0;
    }

    .sliderContainer img {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 0;
        height: 545px;
        -webkit-transition-property: width; /* Safari */
        -webkit-transition-duration: 0.01s; /* Safari */
        transition-property: width;
        transition-duration: 0.01s;
    }

    .sliderContainer p:first-child {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 0;
    }

    .sliderContainer p {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 0;
    }

.nextCircle {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    left: 80%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90%;
    width: 50px;
    height: 50px;
    border-radius: 50%;*/
    /*opacity: 0.5;
    background-color: black;*/
    /*z-index: 19;*/
}

.nex {
    position: absolute;
    top: 3%;
    left: 55%;
    /*top: 50%;
    left: 50%;*/
    transform: translate(-50%,-50%);
    color: #1d9fd2;
    /*z-index: 20;*/
}

.nextCircle:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa.fa-arrow-right, .fa.fa-arrow-left {
    font-size: 30px;
}

.prevCircle {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    right: 83%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90%;
    width: 50px;
    height: 50px;
    border-radius: 50%;*/
    /*opacity: 0.5;
    background-color: black;*/
    /*z-index: 19;*/
}

.previous {
    position: absolute;
    /*top: 50%;*/
    top: 3%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1d9fd2;
    /*z-index: 20;*/
}

.prevCircle:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sidecaption {
    top: 0px;
    position: absolute;
    right: 59px;
    padding: 20px 10px 20px 20px;
    font-size: 22px;
    font-weight: 600;
}

.subsidecaption {
    top: 0px;
    position: absolute;
    right: 59px;
    padding: 40px 10px 20px 20px;
    font-size: 18px;
    font-weight: 300;
}


/*---------------------------------------------------header Slider-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel-------------------------------------------------------------*/

.middlepanel {
    width: 100%;
    /*padding: 25px 25px 20px 25px;*/
}


.middleheaderul {
    width: 100%;
    display: inline-block;
    list-style: none;
    text-align: center;
    background-color: #dff2fc;
    position: relative;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #e5e2e2;
    padding-left: 0px;
    /*box-shadow: 0px 3px #80808042;*/
}

    .middleheaderul li {
        padding: 5px 10px 5px 10px;
        list-style: none;
        display: inline-block;
        text-align: center;
        width: 24%;
    }

        .middleheaderul li div {
            color: #808080 !important;
            font-weight: 600;
            padding: 5px 24px 5px 24px;
            text-align: center;
            line-height: 24px;
            font-size: 15px;
        }

            .middleheaderul li div a div {
                font-size: 40px;
                font-weight: 900;
                /*letter-spacing: 1.1px;*/
                /*color: #adadb0;*/
                color: #94979b;
                transition: all 150ms ease-out;
            }

                .middleheaderul li div a div:hover {
                    color: #565B73 !important;
                    -ms-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }

            .middleheaderul li div h5 {
                color: #1d9fd2;
                font-size: 13px;
                letter-spacing: .045em;
                text-transform: uppercase;
                font-weight: 600;
                display: block;
                text-align: center;
                line-height: 1.2;
                white-space: nowrap;
                /* transition: all 150ms cubic-bezier(0.18, 0.89, 0.32, 1.28); */
                margin-bottom: 10px;
            }

            .middleheaderul li div img {
                width: 90px;
                height: 35px;
                transition: all 150ms ease-out;
            }

                .middleheaderul li div img:hover {
                    width: 100px;
                    /*height: 37px;*/
                    box-shadow: 2px #e0dbdb;
                    overflow: hidden;
                }

.middleheading {
    /*font-size: 40px;*/
    text-align: center;
    padding: 40px 10px 0px 10px;
    /*letter-spacing: 1.8px;*/
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2.1px;
    line-height: 39px;
    line-height: 1.4;
    text-transform: none;
    outline: 0px;
}

    .middleheading b {
        color: #1d9fd2;
    }

.middlecontent {
    width: 100%;
    padding: 0px 30px 0px 30px;
}

.middleleftcontent {
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 30px 20px 0px 0px;
}

.middlerightcontent {
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 30px 20px 30px 0px;
}

    .middlerightcontent ul {
        width: 100%;
        /*padding: 15px;*/
        padding: 10px 20px 10px 20px;
        list-style: none;
        display: block;
    }

        .middlerightcontent ul li {
            padding: 10px;
            color: #0000008c;
        }

.tabheader {
    cursor: pointer;
    border-left: 3px solid transparent;
    padding-left: 20px;
}

    .tabheader:hover {
        /*height: 70px;*/
        /*background-color: #9e9e9e40;*/
        border-left: 3px solid transparent;
    }

.tab1:hover, .tab1:focus, .tab1:active {
    border-color: #0a6c0f;
}

.tabd1 {
    border-color: #0a6c0f !important;
}

.tabheader img {
    height: 40px;
    width: 50px;
}

.tabdetails {
    padding: 10px;
    border-left: 3px solid transparent;
    display: none;
    box-shadow: #e5e2e2 0px 3px;
}

.middlerightcontent ul li span {
    padding-left: 15px;
    font-size: 20px;
    /*font-weight: 900;*/
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2.1px;
    line-height: 39px;
    line-height: 1.4;
    text-transform: none;
    outline: 0px;
}

@media all and (max-width:1000px) {
    .middleheader li {
        width: 100%;
    }


    .middleleftcontent {
        width: 100%;
    }

    .middlerightcontent {
        width: 100%;
    }
}

@media all and (max-width:600px) {
    .tabheader img {
        height: 70px;
        width: 50px;
    }

    .middlerightcontent ul li span {
        padding-left: 10px;
        font-size: 12px;
        font-weight: 400;
    }

    .middlerightcontent {
        padding: 0px;
        margin: 0px;
    }

        .middlerightcontent ul {
            margin: 0px;
            padding: 0px;
        }

    .middlecontent {
        padding: 20px 10px 20px 10px;
    }
}
/*---------------------------------------------------Middle Panel-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel2-------------------------------------------------------------*/

.middlepanel2 {
    width: 100%;
    padding: 25px 25px 20px 25px;
    text-align: center;
    background-color: #051d39;
    background-size: cover;
    margin: 0px;
    padding: 1%;
}

.middlepanel2headingbar {
    width: 95%;
    padding: 20px 35px 10px 35px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    /* border-bottom: 1px solid; */
    /* border-color: #9a9696f7; */
    box-shadow: #c1c1c28a 2px 2px;
}

.hmain {
    width: 25%;
    float: left;
    text-align: right;
    font-size: 30px;
    color: black;
    padding: 0px 15px 10px 15px;
}

.hcontent {
    width: 49%;
    float: left;
    text-align: left;
    font-size: 17px;
    color: black;
    padding: 0px 15px 10px 15px;
}

.hbutton {
    width: 25%;
    float: left;
    text-align: left;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
}

    .hbutton a {
        padding: 20px 15px 20px 15px;
        background-color: #098890;
        color: white !important;
        cursor: pointer;
        text-decoration: none;
    }

.middlepanel2content {
    width: 88%;
    padding: 10px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1%;
}

.middlepanel2div {
    width: 32%;
    float: left;
    text-align: center;
    padding: 20px;
}

.middlepanel2img {
    width: 100%;
}

    .middlepanel2img img {
        /*border-radius: 50%;*/
        height: 40px;
        width: 40px;
        /*background-color: blue;*/
    }

.middlepanel2details {
    font-size: 15px;
    color: white;
    font-weight: 400;
    padding: 6px;
    letter-spacing: 1.1px;
    line-height: 20px;
    text-transform: none;
    outline: 0px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
}

    .middlepanel2details p {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 5px;
        color: #55bbea;
        font-weight: 600;
        padding: 4px;
        letter-spacing: 1.1px;
        line-height: 20px;
        text-transform: none;
        outline: 0px;
    }

.middlepanel2head {
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: 1.1px;
    line-height: 20px;
    text-transform: none;
    outline: 0px;
    margin-top: 8%;
}

@media all and (max-width:1150px) {
    .hmain, .hcontent, .hbutton {
        width: 100%;
        text-align: center;
    }

    .middlepanel2div {
        width: 100%;
    }

    .hbutton {
        font-size: 12px;
    }

        .hbutton a {
            padding: 11px 15px 11px 15px;
        }

    .middlepanel2details {
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
    }
}


/*---------------------------------------------------Middle Panel2-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel3-------------------------------------------------------------*/

.middlepanel3 {
    width: 100%;
    padding: 25px 25px 20px 25px;
    text-align: center;
    padding: 1%;
}

.middlepanel3header1 {
    font-size: 30px;
    font-weight: 600;
}

.middlepanel3header2 {
    font-size: 17px;
    font-weight: 200;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
}

.middlepanel3contents {
    width: 100%;
    text-align: center;
    margin-top: 6%;
    /*margin-bottom: 4%;*/
    /*margin-left: 1%;
    margin-right: 1%;*/
}

.middle3div {
    width: 100%;
}

    .middle3div table {
        width: 100%;
    }

        .middle3div table tr {
            width: 100%;
        }

            .middle3div table tr td {
                width: 14%;
                padding: 26px 10px 26px 10px;
                text-align: center;
                /*border: 0.1px solid;
                border-color: #e0dbdb;*/
                border: none;
            }

                .middle3div table tr td img {
                    width: 120px;
                    height: 120px;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }

                    .middle3div table tr td img:hover {
                        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0%);
                    }

.topimage {
    width: 14% !important;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 43%;
    margin-top: -6.9%;
    height: 30% !important;
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
    z-index: 2;
}

.mediumimg {
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    /*left: 43%;
            top: 1.5%;*/
    height: 100% !important;
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
}


@media all and (max-width:1030px) {
    .middle3div table tr {
        display: table;
        width: 100%;
    }

        .middle3div table tr td {
            display: table-row;
            text-align: center;
        }

    .topimage {
        display: none;
    }

    .mediumimg {
        display: block;
    }
}

.middle3td {
    width: 14%;
    float: left;
}

.middle3td1 {
    width: 40%;
    float: left;
}

.middlepimg {
    width: 80px;
    height: 40px;
}

.middleimgpanel {
    position: absolute;
    width: 450px;
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: -3;
    left: 31%;
    height: 243px;
    margin-top: 10%;
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 4s; /* Safari */
    transition-property: width;
    transition-duration: 4s;
    box-shadow: 4px 4px #e5e2e2;
}

/*@media all and (max-width:850px) {
    .middle3td {
        width: 100%;
        text-align: center;
    }

    .middleimgpanel {
        display: none;
    }

    #imgheadm {
        display: none;
    }

    .middlepimg {
        width: 100px;
        height: 120px;
    }
}

@media all and (max-width:750px) {
    .middleimgpanel {
        position: absolute;
        width: 256px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 239px;
        margin-top: 17%;
    }
}

@media all and (max-width:1100px) {
    .middleimgpanel {
        position: absolute;
        width: 400px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 243px;
        margin-top: 11%;
    }
}

@media all and (max-width:1020px) {
    .middleimgpanel {
        position: absolute;
        width: 369px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 200px;
        margin-top: 12%;
    }

    .middlepimg {
        width: 70px;
        height: 100px;
    }
}

@media all and (max-width:890px) {
    .middleimgpanel {
        position: absolute;
        width: 333px;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: -3;
        left: 31%;
        height: 200px;
        margin-top: 12%;
    }
}*/

/*---------------------------------------------------Middle Panel3-------------------------------------------------------------*/


/*---------------------------------------------------Middle Panel4-------------------------------------------------------------*/

.middlepanel4 {
    width: 100%;
    padding: 25px 25px 20px 25px;
    margin: 0px;
    padding: 1%;
}

.middlepanel4headingbar {
    /*width: 95%;*/
    padding: 20px 35px 10px 35px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    /*transition: all 2s;*/
    border-radius: 12px;
    transition: 0.2s ease-in-out;
}

    .middlepanel4headingbar:hover {
        /*box-shadow: 3px 3px 3px 3px #e0dbdb;*/
        -ms-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        /*-webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;*/
    }

.hmain4 {
    width: 40%;
    float: left;
    text-align: center;
    font-size: 30px;
    color: black;
    padding: 0px 15px 10px 15px;
}

    .hmain4 button {
        font-size: 15px;
        background-color: #4fb2e9;
        color: white;
        padding: 10px 15px 10px 15px;
        border: none;
        cursor: pointer;
        margin-top: 25px;
    }

.headmidpanel4 {
    /*font-size: 25px;
    font-weight: 600;
    outline: 0px;
    color: #929292;*/
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3636;
}

.subheadmidpanel4 {
    /*font-size: 15px;
    font-weight: 600;
    outline: 0px;
    color: #929292;
    margin-top: 20px;*/
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 14px;
    font-weight: 600;
}

.hcontent4 {
    width: 55%;
    float: left;
    text-align: left;
    font-size: 17px;
    color: #000000ad;
    padding: 0px 15px 10px 15px;
}

.middlepanel4main {
    width: 100%;
}

.middlepanel4left {
    width: 40%;
    float: left;
    padding: 20px 30px 20px 30px;
}

.middlepanel4right {
    width: 55%;
    float: right;
    text-align: left;
    padding-right: 20%;
}

.middlepanel4heading {
    font-size: 32px;
    letter-spacing: -1.5px;
    color: #55bbea;
    font-weight: 700;
}

.middlepanel4subheading {
    /*color: #868484;*/
    /* margin-top: 10px; */
    /*font-size: 16px;*/
    /*color: #616161;*/
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

@media all and (max-width:950px) {
    .middlepanel4right {
        width: 100%;
        text-align: center;
        padding-right: 0%;
    }

    .middlepanel4left {
        width: 100%;
        text-align: center;
    }

    .hmain4 {
        width: 100%;
        text-align: center;
    }

    .hcontent4 {
        width: 100%;
        text-align: center;
    }
}
/*---------------------------------------------------Middle Panel4-------------------------------------------------------------*/

/*---------------------------------------------------Middle Panel5-------------------------------------------------------------*/


.middlepanel5 {
    width: 100%;
    margin: 0px;
    background-color: #dff2fc;
    color: black;
    text-align: center;
    padding: 10px 11% 10px 11%;
}

    .middlepanel5 ul {
        padding-left: 0px;
        display: inline-flex;
        list-style: none;
    }

        .middlepanel5 ul li ul {
            display: flex;
            list-style: none;
        }

.footersocialpanels {
    padding-left: 0px;
    display: table-footer-group;
    list-style: none;
}
/* .middlepanel5 li {
        width: 20%;
        padding: 10px 10px 0px 10px;
        list-style: none;
        display: inline-block;
        text-align: center;
    }
    .rightsidewidth{
         width: 22% !important;
    }
.leftsideimg {
    text-align: right;
    width: 30%;
    float: left;
}*/

/*.leftsideimg img {
        
        height: 60px;
        width: 60px;
    }

.rightsidedtl {
    width: 70%;
    float: left;
    text-align: left;
    padding: 8px 5px 5px 10px;
}*/
.middlepanel5 ul li ul li {
    text-align: left;
    padding-left: 3px;
}

    .middlepanel5 ul li ul li p {
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: .3;
        color: #272727;
        font-size: 12px;
        font-weight: 700;
    }

    .middlepanel5 ul li ul li span {
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 1;
        color: #6b6f71;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }

@media all and (max-width:990px) {
    .middlepanel5 ul {
        width: 100%;
        display: block;
        list-style: none;
        /*text-align: center;*/
        padding: 12px 22% 12px 22%;
    }

    .middlepanel5 li {
        text-align: left;
    }

    /*.leftsideimg {
        text-align: center;
        width: 100%;
    }*/

    /*.rightsidedtl {
        text-align: center;
        width: 100%;
        margin:0px;
        padding:0px;
    }*/
}

@media all and (max-width:590px) {
    .middlepanel5 ul {
        padding: 12px 12% 12px 12%;
    }
}
/*---------------------------------------------------Middle Panel5-------------------------------------------------------------*/
#freedemo {
    /*padding: 17px 15px 17px 15px;
    background-color: #0eb20d;
    color: white !important;
    font-size: 20px;
    font-weight: 700;
    border-radius: 100px;
    box-shadow: 4px 4px #e5e2e2;
    cursor: pointer;*/
    display: block;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    /*width: 280px;*/
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    /*background-color: #60b91f;*/
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.07), 0 10px 25px rgba(50,50,93,.1), inset 0 0 0 hsla(0,0%,100%,.1);
    box-shadow: 0 4px 10px rgba(0,0,0,.07), 0 10px 25px rgba(50,50,93,.1), inset 0 0 0 hsla(0,0%,100%,.1);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    background: #1d9fd2;
    outline: 0px !important;
    border: 0px none;
}

.btnfreedemo {
    display: block;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    /*width: 188px;*/
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    /*background-color: #60b91f;*/
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.07), 0 10px 25px rgba(50,50,93,.1), inset 0 0 0 hsla(0,0%,100%,.1);
    box-shadow: 0 4px 10px rgba(0,0,0,.07), 0 10px 25px rgba(50,50,93,.1), inset 0 0 0 hsla(0,0%,100%,.1);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    background: #1d9fd2;
    outline: 0px !important;
    border: 0px none;
}

/*---------------------------------------------------Footer-------------------------------------------------------------*/

.footerpaneldiv {
    width: 100%;
    margin: 0px;
    background-color: black;
    color: white;
    padding: 2%;
}

.footerpanel {
    margin-left: 2%;
    margin-right: 2%;
}

.footersubpanel1 {
    width: 15%;
    float: left;
    text-align: left;
}

    .footersubpanel1 ul {
        width: 100%;
        text-align: left;
        font-size: 11px;
        list-style: none;
    }

        .footersubpanel1 ul li {
            padding-bottom: 2px;
        }

            .footersubpanel1 ul li a {
                display: block;
                color: white !important;
            }

                .footersubpanel1 ul li a:hover {
                    color: #005a4d !important;
                }

.footersubpanel2 {
    width: 50%;
    float: left;
    padding-left: 10%;
    /*background-color: rgba(139, 136, 136, 0.55);
    padding: 30px 20px 30px 20px;
    border: 1px solid black;
    box-shadow: 3px 3px black;*/
}

    .footersubpanel2 ul {
        width: 100%;
        text-align: center;
        font-size: 12px;
        list-style: none;
    }

        .footersubpanel2 ul li {
            padding-bottom: 2px;
        }

    .footersubpanel2 input {
        width: 68%;
        height: 35px;
        font-size: 15px;
        border-radius: 0px;
        outline: none;
        border: none;
        background-color: #0c7097 !important;
        color: white !important;
    }

    .footersubpanel2 button {
        padding: 9px 6px 5px 3px;
        background-color: black;
        color: white !important;
        font-size: 10px;
        font-weight: 700;
        border-radius: 0px;
        cursor: pointer;
        border: none;
        border-width: 0px;
        outline: solid;
        outline-color: white;
        outline-width: 0.001cm;
    }

.footersubpanel1 img {
    width: 20px;
    height: 20px;
}

/*@media all and (max-width:1000px) {
    .footersubpanel1 {
        padding: 20px;
        width: 30%;
        text-align: center;
    }

    .footersubpanel2 {
        padding: 20px;
        width: 100%;
        text-align: center;
    }

        .footersubpanel2 button {
            font-size: 10px;
        }
}*/

/*---------------------------------------------------Footer-------------------------------------------------------------*/
.divfooterpanel {
    clear: both;
    text-shadow: none;
    padding: 40px 0;
    color: white !important;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #1d9fd2 !important;
    bottom: 0;
    position: relative;
    -webkit-text-size-adjust: none;
}

.footercontainer {
    clear: both;
    margin: 0 auto;
}

.footerdivpnl {
    display: block;
    float: left;
    padding: 0 4em 0 0;
    -webkit--moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz--moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .footerdivpnl h3 {
        font: 12px/14px 'LatoBold',Helvetica,Arial,sans-serif;
        color: #207e89 !important;
        letter-spacing: 0;
        text-transform: uppercase;
        padding: 0 0 8px;
        margin-top: 20px;
    }


/*//////////////////////////////////////////////////////////////////////////*/

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

    .carousel-inner > .item {
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
    }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img {
            line-height: 1;
        }

    /*@media all and (transform-3d),(-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

        .carousel-inner > .item.active.right, .carousel-inner > .item.next {
            left: 0;
            -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
        }

        .carousel-inner > .item.active.left, .carousel-inner > .item.prev {
            left: 0;
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
        }

            .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right {
                left: 0;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
}*/

    .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
        display: block;
    }

    .carousel-inner > .active {
        left: 0;
    }

    .carousel-inner > .next, .carousel-inner > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .carousel-inner > .next {
        left: 100%;
    }

    .carousel-inner > .prev {
        left: -100%;
    }

        .carousel-inner > .next.left, .carousel-inner > .prev.right {
            left: 0;
        }

    .carousel-inner > .active.left {
        left: -100%;
    }

    .carousel-inner > .active.right {
        left: 100%;
    }

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

    .carousel-control.left {
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
        background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
    }

    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
    }

    .carousel-control:focus, .carousel-control:hover {
        color: #fff;
        text-decoration: none;
        filter: alpha(opacity=90);
        outline: 0;
        opacity: .9;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        left: 50%;
        margin-left: -10px;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px;
    }

    .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 20px;
        height: 20px;
        font-family: serif;
        line-height: 1;
    }

        .carousel-control .icon-prev:before {
            content: '\2039';
        }

        .carousel-control .icon-next:before {
            content: '\203a';
        }

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000\9;
        background-color: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 10px;
    }

    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #fff;
    }

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

    .carousel-caption .btn {
        text-shadow: none;
    }

/*@media screen and (min-width:768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -10px;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -10px;
    }

    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }

    .carousel-indicators {
        bottom: 20px;
    }
}*/
/*POP UP*/

/* form starting stylings ------------------------------- */
.form-div {
    /*margin-top: 40px;*/
    float: none;
    /*padding: 0px 55px 55px;*/
    position:relative;
}

.group {
    position: relative;
    margin-bottom: 20px;
}

    .group input {
        font-size: 14px;
        padding: 10px 0px 4px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #c8c9ca;
        font-family: 'latoregular';
    }

        .group input:focus {
            outline: none;
        }

    /* LABEL ======================================= */
    .group label {
        color: #999;
        font-size: 16px;
        font-family: 'latoregular';
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    /* active state */
    .group input:focus ~ label {
        top: -6px;
        font-size: 14px;
        color: #5264AE;
    }

.filled-in label {
    top: -6px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.group .bar {
    position: relative;
    display: block;
    width: 100%;
}

    .group .bar:before, .group .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: #08a3d6;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .group .bar:before {
        left: 50%;
    }

    .group .bar:after {
        right: 50%;
    }
/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width: 50%;
}
/* HIGHLIGHTER ================================== */
.group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */

.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
/*@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}*/

.group select {
    font-size: 14px;
    padding: 10px 0px 4px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c8c9ca;
    font-family: 'latoregular';
    box-shadow: none;
}

    .group select:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }

.form-div .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #FF5722;
    padding-left: 5px;
    font-family: 'latoregular';
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
/*** 
====================================================================
        Login end
====================================================================
***/

.new-sign-in {
    font-family: 'latoregular';
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background: #08a3d6;
    color: #ffffff;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
}

button {
    border: none;
    outline: 0px;
}

.already {
    margin: 20px 0px;
    font-family: 'latoregular';
    font-size: 14px;
    color: #a5a5a5;
    text-align: center;
}
/*p {
    line-height: 20px;
    text-align: justify;
    color: #3b3b3b;
}*/
.f-color {
    color: #08a3d6;
    cursor: pointer;
}

.already-log-in {
    font-family: 'latoregular';
    width: 128px;
    padding: 8px;
    border-radius: 50px;
    border: 2px solid #08a3d6;
    background: #ffffff;
    color: #08a3d6;
    margin: 0 auto;
    text-align: center;
    float: none;
    cursor: pointer;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.new-sign-in:hover {
    background: #1163e2;
}

.already-log-in:hover {
    background: #08a3d6;
    color: #ffffff;
}

.sign-in-popup {
    font-family: 'latoregular';
    width: 100%;
    float: left;
    background: #08a3d6;
    padding: 23px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    position: relative;
}

    .sign-in-popup:before {
        display: block;
        content: " ";
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid #08a3d6;
    }

.close-popup {
    width: 16px;
    height: 24px;
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 100;
}

    .close-popup i {
        font-size: 15px;
        color: hsla(0,0%,62%,0.5) !IMPORTANT;
        line-height: 24px;
        cursor: pointer;
        font-weight: 700;
    }

.back-login {
    width: 16px;
    height: 24px;
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 100;
}

    .back-login i {
        font-size: 15px;
        color: #ffffff;
        line-height: 24px;
        cursor: pointer;
    }

@keyframes modal {
    0% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-close {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale3d(0.9, 0.9, 1);
    }
}

.sel-gen {
    color: #999;
    font-size: 16px;
    font-family: 'latoregular';
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.checkboxes-radio {
    margin-bottom: 15px;
    text-align: center;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label span.male {
        display: block;
        width: 48px;
        height: 48px;
        vertical-align: middle;
        background: url(../../Student_assets/assets/images/user-female.png) 0px top no-repeat;
        cursor: pointer;
        margin: 0px;
    }

    input[type="radio"] + label span.female {
        display: block;
        width: 48px;
        height: 48px;
        vertical-align: middle;
        background: url(../../Student_assets/assets/images/user-female.png) -52px top no-repeat;
        cursor: pointer;
        margin: 0px;
    }

    input[type="radio"]:checked + label span.male {
        background: url(../../Student_assets/assets/images/user-female.png) 0px -52px no-repeat;
    }

    input[type="radio"]:checked + label span.female {
        background: url(../../Student_assets/assets/images/user-female.png) -52px -52px no-repeat;
    }

.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 99999999;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    font-weight: 300 !important;
    color: #aaaaaa;
    font-size: 12px;
    letter-spacing: 0.25px;
    line-height: 19px;
    margin: 0px;
    font-family: 'latoregular';
    font-size: 14px;
    color: #a5a5a5;
}

.checkboxes-radio li {
    padding-right: 10px;
    padding-left: 11px;
    display: inline-block;
}

.error_alert_message {
    font-family: 'latoregular';
    font-size: 14px;
    width: 100%;
    background: #ffe4e4;
    padding: 5px;
    text-align: center;
    color: #ec0606;
    border: 1px dashed #ff9595;
    display: none;
    margin-bottom: 10px;
}

.success_alert_message {
    font-family: 'latoregular';
    font-size: 14px;
    width: 100%;
    background: #e4ffeb;
    padding: 5px;
    text-align: center;
    color: #00C853;
    border: 1px dashed #95ffa2;
    display: none;
    margin-bottom: 10px;
}


/*===================================================Log in pop up================================================*/

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    width: 700px;
    height: 550px;
    margin-left: 22%;
    margin-top: 6%;
    animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    z-index: 11;
    transition: all 0.3s;
}

.popup_left {
    /*width: 55%;
    float: left;*/
    margin: 0PX;
    padding: 0PX;
    /*background-color: blue;*/
    background-color: #00a4ff;
    position:relative;
    height:100%;
    /*background-image: linear-gradient(-180deg,#12b6dc,#0055a9);*/
}

.popup_right {
    /*width: 45%;
    float: right;*/
    /*-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;*/
    position:relative;
    height:100%;
}

.popup_right_div {
    /*padding: 43px 30px 25px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;*/
}

.popup_right_div_heading {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
    color: hsl(199, 98%, 48%) !IMPORTANT;
    font-weight: 600;
}

.popup_right_div_sub_heading {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    /*color: hsla(0,0%,62%,0.5) !IMPORTANT;*/
}

.register-right input[type=text], .register-right input[type=password], .register-right select {
    width: 100%;
    border: 1px solid hsla(0,0%,62%,1.5) !important;
    padding-left: 7px;
    height: 100%;
    border-radius: 0;
    border-radius: 8px;
    outline: 0px;
    background: white;
    font-size: 14px;
    color: black;
    padding: 5PX;
}

.popup_right select {
    width: 100%;
    border: 1px solid hsla(0,0%,62%,1.5) !important;
    padding-left: 7px;
    height: 100%;
    border-radius: 0;
    border-radius: 8px;
    outline: 0px;
    background: white;
    font-size: 14px;
    color: black;
    padding: 5PX;
}

.popup_right_div_forgot_password {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 7PX;
    display: block;
    color: hsla(0,0%,62%,1.5) !important;
    float: RIGHT !important;
    text-align: RIGHT;
    cursor: pointer;
}

    .popup_right_div_forgot_password:hover {
        color: hsl(242, 87%, 51%) !important;
    }

.popup_right_div_submit_button {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 37px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    background: #03A9F4;
    width: 100%;
    outline: 0px !important;
}

    .popup_right_div_submit_button:hover {
        background: #1690c7;
    }

.popup_right_div_footer_div {
    margin: 10px auto;
    /*margin-top: 17%;*/
    position: relative;
    font-size: 12px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: rgb(30, 29, 29);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup_right_div_footer_button {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    width: 100%;
    background: #fff;
    border: 1px solid #e7e8ea;
    border-radius: 20px;
    font-size: 12px;
    color: rgb(30, 29, 29);
    letter-spacing: 1px;
    border-color: #e7e8ea;
    outline: 0px !important;
}
/*===================================================Log in pop up================================================*/


.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url('https://files.mimoymima.com/images/loading.gif') no-repeat center center;
}
/*=====================================================pricing panel=======================================================*/
.pricingpanel #hoverdiv {
    display: none;
    position: absolute;
    background-color: white;
    width: 750px;
    height: 430px;
    left: 15%;
    top: 72px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
    border: 1.001px solid #ebe0e0;
}

    .pricingpanel #hoverdiv:before {
        display: block;
        content: " ";
        position: absolute;
        top: -9px;
        left: 7%;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 9px solid #ebe0e0;
    }

.pricingpanel:hover #hoverdiv {
    display: block;
}

.btnknowmore {
    width: 100%;
    height: 34px;
    color: #60b91f;
    background: #fff;
    border-radius: 100px;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .83px;
    border: 1px solid #60b91f;
}

    .btnknowmore:hover {
        background-color: #60b91f;
        color: #fff;
        border: none;
    }

.btnbuynow {
    width: 100%;
    height: 44px;
    color: #fff;
    background: #1d9fd2;
    border-radius: 100px;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .83px;
}

    .btnbuynow:hover {
        background-color: #0e6f95;
    }

.error_message {
    border-radius: 100px;
    width: 100%;
    padding: 3px;
    color: black;
    font-weight: 600;
    text-align: center;
    margin: 0px;
    background-color: #da6f945c;
    height: 30px;
    display: none;
    font-size: 10px;
    padding-top: 8px;
}

.success_message {
    border-radius: 100px;
    width: 100%;
    padding: 3px;
    color: black;
    font-weight: 600;
    text-align: center;
    margin: 0px;
    background-color: #4caf506b;
    height: 30px;
    display: none;
    font-size: 10px;
    padding-top: 8px;
}

.productschoollist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    counter-increment: item;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 50px;
    min-height: 200px;
    border-radius: 10px;
    border: 1px solid hsla(244, 19%, 25%, 0.2);
    background-color: hsla(0,0%,100%,.05);
    color: white;
}

@media all and (max-width:800px) {
    .footersections {
        text-align: center;
    }

    .footersocialpanels {
        display: inline-block;
    }

    .newsletterpanel {
        text-align: left;
    }
}

.intl-tel-input {
    width: 74%;
}

.menubarline {
    /*background-image: url('../../svg files/menu-interface-symbol.svg');*/
    background-size: cover;
    float: left;
    background-color: transparent;
    border: 0px;
    display: none;
    margin-top: 15px;
    padding-top: 20px;
    padding-right: 20px;
}

.menupanelbar {
    margin-top: 55px;
    background-color: white;
    position: absolute;
    margin-bottom: 190px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 5;
    display: none;
}

    .menupanelbar ul {
        width: 100%;
        list-style: none;
        display: inline-block;
        padding-left: 0px;
    }

        .menupanelbar ul li {
            color: black !important;
            padding: 12px 0px 12px 0px;
            border-bottom: 1px solid #0000000d;
        }

            .menupanelbar ul li:hover {
                background-color: #8a8585e6;
            }

                .menupanelbar ul li:hover + .menupanelbar ul li a {
                    color: white !important;
                }

            .menupanelbar ul li a {
                color: black;
                font-size: 15px;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
                display: block;
            }

#menulogo {
    display: none;
}

@media all and (max-width:1020px) {
    .learnnearnpanel {
        padding-top: 24%;
    }

    .topbarlogobox {
        float: left;
        width: 80%;
        padding: 3px 0px 3px 20px;
        /*text-align:right;*/
    }

    .logo {
        display: none;
    }

    #menulogo {
        display: block;
        float: left;
    }

    .menubarline {
        display: block;
    }

    .Menubar {
        display: none;
    }

    .rightbar {
        display: none;
    }

    .logo li a img {
        height: 60px;
    }

    .logo li a {
        width: 90px;
        height: 79px;
    }

    .middlepanel2content {
        padding: 0px;
    }

    .middlepanel3header2 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .middlepanel3header1 {
        font-size: 26px;
    }
}

@media all and (max-width:820px) {
    .popup_left {
        display: none;
        width: 0px;
    }

    .popup_right {
        width: 100%;
        float: left;
    }

    .modal-content {
        width: 75%;
        height: 500px;
        margin-left: 13%;
        margin-top: 10%;
        animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        z-index: 11;
        transition: all 0.3s;
    }

    .popup_right_div_footer_div {
        margin-top: 30%;
    }
}

.productschoollist ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

    .productschoollist ul li img {
        width: 183px;
        height: 220px;
    }

    .productschoollist ul li ul {
        display: flex;
        list-style: none;
        padding-left: 0px;
    }

.productschoollistheading {
    font-size: 30px;
    margin-bottom: 11px;
    letter-spacing: 0;
    margin-top: 34px;
    padding-right: 15%;
}

.productschoollistsubheading {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 19px;
    color: hsla(0,0%,100%,.7);
    padding-right: 15%;
}

.productschoolcount {
    display: inline-block;
    /*width: 65px;*/
    font-weight: 300;
    margin-right: 45px;
    margin-left: 25px;
    font-size: 105px;
    line-height: 136px;
    color: hsla(0,0%,100%,.1);
    text-shadow: -10px -4px 3px rgba(0,0,0,.2);
}

@media all and (max-width:1000px) {
    .productschoollist ul {
        display: inline-block;
        list-style: none;
        text-align: left;
    }

        .productschoollist ul li {
            height: 140px;
        }

            .productschoollist ul li img {
                width: 25%;
                height: 90%;
                margin-left: 38%;
                margin-top: 7%;
                /*width: 90px;
                height: 80px;
                margin-left: 40%;
                margin-top: 19%;*/
            }

    .productschoollist {
        height: 250px;
        overflow: visible;
        margin-top: 12px;
    }

    .productschoollistheading {
        font-size: 23px;
    }

    .productschoollistsubheading {
        font-size: 12px;
    }

    .productschoolcount {
        margin-right: 15px;
        margin-left: 0px;
        font-size: 58px !important;
        line-height: 62px !important;
        margin-top: 20px;
    }
}

@media all and (max-width:490px) {
    .productschoollist ul li img {
        /*width: 90px;
        height: 80px;
        margin-left: 40%;*/
        margin-top: 22%;
        height: 70%;
    }

    .productschoollist ul li {
        height: 121px;
    }

    .productschoollist {
        height: 150px;
        overflow: visible;
        margin-top: 12px;
        padding: 20px 16px;
    }

    .productschoollistheading {
        font-size: 15px;
        padding-right: 5%;
    }

    .productschoollistsubheading {
        font-size: 10px;
        padding-right: 5%;
    }

    .schoolfootercontentpanel {
        padding: 40px 0px 19px 0px;
    }
}

.schoolfootercontentpanel {
    background-color: white;
    color: black;
    padding: 40px 9% 19px 9%;
}

.pricingtopbarspace {
    padding-top: 5%;
    padding-bottom: 3%;
}

.toppanelimagelogo {
    height: 50px;
    width: 180px;
}

@media all and (max-width:590px) {
    .pricingtopbarspace {
        padding-top: 20%;
        padding-bottom: 3%;
    }

    .toppanelimagelogo {
        height: 50px;
        width: 150px;
    }
}

.modal {
    z-index: 8 !important;
}

.packagepopup {
    width: 1000px;
    height: 630px;
    margin-left: 11%;
    margin-top: 2%;
}

@media all and (max-width:1000px) {
    .packagepopup {
        width: 80%;
        margin-left: 9%;
        height: 95%;
        overflow-y: scroll;
    }
}
/*loader*/
.divloaders {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    .divloaders img {
        height: 67px;
        margin-top: 20%;
        margin-left: 50%;
    }

@media all and (max-width:500px) {
    .divloaders img {
        margin-top: 70%;
        margin-left: 40%;
    }
}
.register-left {
    text-align: center;
    color: #fff;
    /*margin-top: 4%;*/
    position: relative;
    /*height:100%;*/
}
.register-right {
    background-color: white;
    position: relative;
    /*height:100%;*/
    padding:13%;

    /*border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
   padding-left:8%;*/
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}