﻿@{
    ViewBag.Title = "CreateNotice";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/SchoolReport/ViewNotice">Notice</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Create Notice</li>
    </ul>
</div>

<div class="page-content-wrap">
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-ticket"></i>Create School Notice</h3>
                    </div>

                    <div class="box-content">
                        <form action="SaveNotice" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">School<span style="color:red;"> *</span></div>
                                    <div class="col-md-6">
                                        <select id="ddlschool" name="school" class="form-control"></select>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">Board <span style="color:red;"> *</span></div>
                                    <div class="col-md-6">
                                        <select id="ddlboard" name="board" class="form-control"></select>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">Class <span style="color:red;"> *</span></div>
                                    <div class="col-md-6">
                                        <select id="ddlclass" name="cls" class="form-control"></select>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">Section <span style="color:red;"> *</span></div>
                                    <div class="col-md-6">
                                        <select id="ddlsection" name="sec" class="form-control"></select>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">Student <span style="color:red;"> *</span></div>
                                    <div class="col-md-6">
                                        <select id="ddlstudent" name="student" class="form-control"></select>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">Titel <span style="color:red;"> *</span></div>
                                    <div class="col-md-6">
                                        <input type="text" name="Titel" class="form-control" required />
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">File </div>
                                    <div class="col-md-6">
                                        <input type="file" name="File" class="form-control"  />
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2" style="text-align:right">Description<span style="color:red;"> *</span></div>
                                    <div class="col-md-6">
                                        <textarea name="Description" required rows="10"></textarea>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="margin-bottom: 33px;"></div>
                                        <div class="form-group"> <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Send</span></button></div>

                                    </div>
                                </div>
</form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Student_assets/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Student_assets/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        
        GetSchool();
        GetBoard();
        GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val())
        $('#ddlschool').change(function () {          
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val());
        });
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val());
        });

        $('#ddlclass').change(function () {
            $('#ddlsection').empty();
            $('#ddlsubject').empty();
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val());
        });


        $('#ddlsection').change(function () {           
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(),$('#ddlsection').val());
        });



         //========================GET School DETAILS==================================//

        function GetSchool() {
         
            $.get("/SchoolReport/GetSchool", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected value="">Select School</option>');

                    for (var i = 0; i < data.length; i++) {
                       $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                      $('#ddlschool').append('<option selected value="">Select School</option>');

                }
             
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
          
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected  value="">Select Board</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                      $('#ddlboard').append('<option selected  value="">Select Board</option>');

                }
              
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {           
            if (id != '0') {
                $.get("/SchoolReport/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option  selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        $('#ddlclass').val(classes);
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option >All</option>');
                    }

                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option  selected>All</option>');
             
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, school) {   
         
            if (id != '0') {

                $.get("/SchoolReport/GetSectionListdtl?id=" + id + "&school=" + school, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option  selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        $('#ddlsection').val(section);
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option >All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option   selected>All</option>');
               
            }
        }

        //========================GET SECTION DETAILS==================================//

       //-----------------------get Student----------------------
        function GetStudent(boardid,classid, schoolid,sectionid) {
            debugger;
          
            if (boardid != '0') {
                $.get("/SchoolReport/GetAllStudentById?boardid=" + boardid + "&classid=" + classid +"&schoolid=" + schoolid + "&sectionid=" + sectionid, function (data) {
                    debugger;
                    $('#ddlstudent').append('<option  value=" ">All</option>');
                    if (data.length > 0) {
                        $('#ddlstudent').empty();
                        $('#ddlstudent').append('<option selected  value=" ">All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlstudent').append('<option value="' + data[i].Regd_ID + '">' + data[i].Customer_Name + '</option>')
                        }
                        if (studentid != '0') {
                            $('#ddlstudent').val(studentid);
                        }
                    }
                    else {
                        $('#ddlstudent').empty();
                        $('#ddlstudent').append('<option  value=" ">All</option>');
                    }
                  
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlstudent').empty();
                $('#ddlstudent').append('<option selected value=" ">All</option>');

            }
        }


    })
</script>