﻿@{
    ViewBag.Title = "CreateRevisionMaterial";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}


<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/SchoolReport/Dashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <a href="~/SchoolReport/RevisionMaterial">RevisionMaterial</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>

            <span class="divider">Create</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>


<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveRevisionMaterial", "SchoolReport", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create Revison Material</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="id" id="id" value="@ViewBag.id" />
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="school" id="ddlschool" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.schoolList != null)
                                    {
                                        <option>Select Board</option>
                                        foreach (var t in ViewBag.schoolList)
                                        {
                                            <option value="@t.SchoolId">@t.SchoolName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="board" id="ddlboard" class="form-control" data-rule-required="true" data-msg-required="Please select Board">
                                    @if (ViewBag.boardList != null)
                                    {
                                        <option>Select Board</option>
                                        foreach (var t in ViewBag.boardList)
                                        {
                                            <option value="@t.Board_Id">@t.Board_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="cls" id="ddlclass" class="form-control" data-rule-required="true" data-msg-required="Please select Class">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlsubject" name="Subject" class="form-control"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlchapter" name="Chapter" class="form-control"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Revision PDF</label>
                            <div class="col-sm-6 col-lg-4 controls">
                                <input type="file" id="quespdf" name="pdfurl" accept=".pdf" />
                            </div>
                        </div>

                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("RevisionMaterial", "SchoolReport")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
        @*var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
         var examdateid = '@(ViewBag.examdate == null ? 0 : ViewBag.examdate)';
        GetClass(boardid);
        GetSubject(classid);
        Getexamtime(examdateid);*@
        $('#btnSearch').submit(function () {
            $('.loader-ajax-container').fadeIn(300);
            return true;
        })
         $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
         })
          $('#ddlclass').change(function () {
            GetSubject($('#ddlclass').val());
          }) 
          $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
          }) 

        function GetClass(id) {
            // $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                    //     if (classid > 0) {
                    //    $('#ddlclass').val(classid);
                    //}
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>Select Class</option>');

                    }
                    //   $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>Select Class</option>');
                //   $('.loader-ajax-container').fadeOut(300);
            }
        }
        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>Select Subject</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        //if (subjectid > 0) {
                        //    $('#ddlsubject').val(subjectid);
                        //}
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>Select Subject</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>Select Subject</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

          function GetChapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/School/GetChapterData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option selected>Select Chapter</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>')
                        }
                        //if (subjectid > 0) {
                        //    $('#ddlsubject').val(subjectid);
                        //}
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>Select Chapter</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>Select Chapter</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
    })
</script>