﻿@{
    ViewBag.Title = "CreateZoomVideoUpload";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveUpdateVideoUpload", "SchoolReport", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Create Zoom Online Video</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="videoid" id="videoid" value="@ViewBag.id" />
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="board" id="ddlBoard" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.boardlist != null)
                                    {
                                        <option value="">Select Board</option>
                                        foreach (var t in ViewBag.boardlist)
                                        {
                                            <option value="@t.Board_Id">@t.Board_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.schoollist != null)
                                {
                                    foreach (var a in ViewBag.schoollist)
                                    {
                                        <label><input type="checkbox" name="school" value="@a.SchoolId" /> @a.SchoolName</label>
                                    }
                                }


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="cls" id="ddlClass" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.classlist != null)
                                    {
                                        <option value="">Select Class</option>
                                        foreach (var t in ViewBag.classlist)
                                        {
                                            <option value="@t.Class_Id">@t.Class_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                @if (ViewBag.sectionlist != null)
                                {
                                    foreach (var a in ViewBag.sectionlist)
                                    {
                                        <label><input type="checkbox" name="sec" value="@a" /> @a</label>
                                    }
                                }

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlsubject" name="Subject" class="form-control"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlchapterid" name="chapter" class="form-control"></select>

                            </div>
                        </div>
                        <div class="row">
                            <label for="textfield5" class="col-sm-4 col-lg-4">Topic Details</label>
                            <label for="textfield5" class="col-sm-4 col-lg-4">Video Link</label>
                            <label for="textfield5" class="col-sm-3 col-lg-3">Password</label>
                            <label for="textfield5" class="col-sm-1 col-lg-1"></label>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 controls">
                                <input type="text" name="txttopicdetails" class="form-control" />
                            </div>
                            <div class="col-sm-4 col-lg-4 controls">
                                <input type="text" name="txtvideolink" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-lg-3 controls">
                                <input type="text" name="txtpassword" class="form-control" />
                            </div>
                            <div class="col-sm-1 col-lg-1 controls">
                                <a id="btnadd" class="btn btn-primary" style="padding: 3px 8px;"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:30px;"></div>
                        <div class="table-responsive">
                            <table id="table1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Topic Details</th>
                                        <th>Video Link</th>
                                        <th>Password</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tblvideobody">
                                </tbody>
                            </table>
                        </div>

                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ZoomVideoUploadList", "SchoolReport")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" onclick="return checkbtnchk()" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function checkbtnchk() {
        if ($("input[type='checkbox'][name='school']:checked").length == 0) {
            alert("Select At Least One , School Checkbox..");
            return false;
        }
        if ($("input[type='checkbox'][name='sec']:checked").length == 0) {
            alert("Select At Least One , Section Checkbox..");
            return false;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#ddlClass').change(function () {
            $.get("/School/GetSubjectData?id=" + $('#ddlClass').val(), function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option selected value="">Select Subject</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                    }
                    //if (subjectid > 0) {
                    //    $('#ddlsubject').val(subjectid);
                    //}
                }
                else {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option value="">Select Subject</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        })
        $('#ddlsubject').change(function () {
            $.get("/School/GetChapterData?id=" + $('#ddlsubject').val(), function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlchapterid').empty();
                    $('#ddlchapterid').append('<option value="" selected>Select Chapter</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlchapterid').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>')
                    }
                    //if (subjectid > 0) {
                    //    $('#ddlchapterid').val(subjectid);
                    //}
                }
                else {
                    $('#ddlchapterid').empty();
                    $('#ddlchapterid').append('<option value="">Select Chapter</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        })
    })
</script>
<script type="text/javascript">
    function Removevideo(id) {
        $.get('/SchoolReport/RemoveTempVideos', { id: id }, function (data) {
            $("#tblvideobody").empty();
            for (var i = 0; i < data.length; i++) {
                $("#tblvideobody").append("<tr><td>" + data[i].TopicName + "</td><td>" + data[i].VideoLink + "</td><td>" + data[i].Password + "</td><td><a class='btn btn-danger btn-xs btn-delete' onclick='Removevideo(" + data[i].InsertedId + ")'>Delete</a></td></tr>");
            }
        })
    }
    $(document).ready(function () {
        $("#btnadd").click(function () {
            $("#tblvideobody").empty();
            var topic = $("input[name='txttopicdetails']").val();
            var videourl = $("input[name='txtvideolink']").val();
            var password = $("input[name='txtpassword']").val();
            $.get('/SchoolReport/SaveTempVideos', {topic:topic, videourl: videourl, password: password }, function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#tblvideobody").append("<tr><td>" + data[i].TopicName + "</td><td>" + data[i].VideoLink + "</td><td>" + data[i].Password + "</td><td><a class='btn btn-danger btn-xs btn-delete' onclick='Removevideo(" + data[i].InsertedId + ")'>Delete</a></td></tr>");
                }
            })
            $("input[name='txttopicdetails']").val('');
            $("input[name='txtvideolink']").val('');
            $("input[name='txtpassword']").val('');
        })


    })
</script>