﻿
@{
    ViewBag.Title = "CreateStudentDetails";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Add Student </h3>

            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                @using (Html.BeginForm("SaveStudentDetails", "SchoolReport", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    @*<input type="hidden" id="regdid" name="Regd_ID" value="@ViewBag.studentdet.Regd_ID" />*@
                <div class="row">
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">School</div>
                        <div class="col-md-4">
                            <select id="ddlschool" name="school" class="form-control">
                                <option>Select School</option>
                                @foreach (var a in ViewBag.schoolist)
                                {
                                    <option value="@a.SchoolId" @*selected="@(ViewBag.studentdet.SchoolId == a.SchoolId?true:false)"*@>@a.SchoolName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Board</div>
                        <div class="col-md-4">
                            <select id="ddlboard" name="board" class="form-control">
                                <option>Select Board</option>
                                @foreach (var a in ViewBag.boardlist)
                                {
                                    <option value="@a.Board_Id" @*selected="@(ViewBag.studentdet.Board_ID == a.Board_Id?true:false)"*@>@a.Board_Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Class</div>
                        <div class="col-md-4">
                            <select id="ddlclass" name="cls" class="form-control">
                                <option>Select Class</option>
                                @*@foreach (var a in ViewBag.classlist)
                    {
                        <option value="@a.Class_Id">@a.Class_Name</option>
                    }*@
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Section</div>
                        <div class="col-md-4">
                            <select id="ddlsection" name="sec" class="form-control">
                                <option>Select Section</option>
                                @*@foreach (var a in ViewBag.sectionlist)
                    {
                        <option value="@a.SectionId">@a.SectionName</option>
                    }*@
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Name</div>
                        <div class="col-md-4">
                            <input type="text" id="name" name="Customer_Name" required class="form-control" @*value="@ViewBag.studentdet.Customer_Name"*@ />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Email</div>
                        <div class="col-md-4">
                            <input type="text" id="Email" name="Email" class="form-control" @*value="@ViewBag.studentdet.Email"*@ />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">School No</div>
                        <div class="col-md-4">
                            <input type="text" id="schoolno" name="schoolno" required class="form-control" @*value="@ViewBag.studentdet.Email"*@ />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Whatsapp No</div>
                        <div class="col-md-4">
                            <input type="text" id="whatsappno" name="whatsappno"  class="form-control" @*value="@ViewBag.studentdet.Email"*@ />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Zoom Mail ID</div>
                        <div class="col-md-4">
                            <input type="text" id="zoomid" name="zoomid" required class="form-control" @*value="@ViewBag.studentdet.Email"*@ />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Mobile</div>
                        <div class="col-md-4">
                            <input type="text" id="Mobile" name="Mobile" required class="form-control" @*value="@ViewBag.studentdet.Mobile"*@ />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                    <div class="form-group text-center"><input type="submit" value="Create" class="btn btn-secondary" /></div>
                }

            </div>

        </div>
    </div>
</div>




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {

        //GetBoard();
        //GetClass('0');
        //GetSection('0');
        //getteacherslist('0', '0');
        $('#ddlschool').change(function () {
            $('#ddlboard').val('');
            $('#ddlclass').empty();
            $('#ddlsection').empty();
        })

        $('#ddlboard').change(function () {
            $('#ddlclass').empty();
            $('#ddlsection').empty();
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            $('#ddlsection').empty();
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/SchoolReport/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>Select Board</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }

                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>Select Board</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }

                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>Select Class</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, school) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetSectionListdtl?id=" + id + "&school=" + school, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>Select Section</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }

                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>Select Section</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
                //$.get("/School/GetSubjectData?id=" + id, function (data) {
                //    debugger;
                //    if (data.length > 0) {
                //        $('#ddlsubject').empty();
                //        $('#ddlsubject').append('<option selected>Select Subject</option>');
                //        for (var i = 0; i < data.length; i++) {
                //            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                //        }

                //    }
                //    else {
                //        $('#ddlsubject').empty();
                //        $('#ddlsubject').append('<option>Select Subject</option>');
                //    }
                //    $('.loader-ajax-container').fadeOut(300);
                //}).fail(function (xhr) {
                //    alert(xhr.responseText); // or whatever
                //});
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>Select Section</option>');
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>Select Subject</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//

    })
</script>