﻿@{
    ViewBag.Title = "DoubtListReport";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@model IEnumerable<DigiChamps.Models.View_DC_All_Tickets_Details>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Doubt Report </h3>
                <div class="box-tool box-tooll">
                </div>
            </div>
            @if (!string.IsNullOrEmpty(@message))
            {
                <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    @message
                </div>
            }
            <div class="box-content">
                <form action="DoubtListReport" method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">School</div>
                            <div class="form-group">
                                <select id="ddlschool" name="school" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Board</div>
                            <div class="form-group">
                                <select id="ddlboard" name="board" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Class</div>
                            <div class="form-group">
                                <select id="ddlclass" name="cls" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Section</div>
                            <div class="form-group">
                                <select id="ddlsection" name="sec" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="subject" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Chapter</div>
                            <div class="form-group">
                                <select id="ddlchapter" name="chapter" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Teacher</div>
                            <div class="form-group">
                                <select id="ddlteacher" name="teacherId" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">Status</div>
                            <div class="form-group">
                                <select id="ddlstatus" name="status" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">From Date :</div>
                            <div class="form-group">
                                <input type="date" id="txtfdt" value="@ViewBag.fdt" name="fdt" class="form-control" />
                                <label class="text-danger">@ViewBag.msg</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">To Date :</div>
                            <div class="form-group">
                                <input type="date" id="txttdt" value="@ViewBag.tdt" name="tdt" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"><input type="submit" value="Search" class="btn btn-secondary" /></div>

                        </div>
                    </div>
                </form>
                <div class="table-responsive">

                    <a class="btn btn-primary" href="~/SchoolReport/Exportalldoubtreportdata" id="btnexport"><i class="fa fa-plus"></i><span>Download Excel</span></a>
                    <br />
                    <br />

                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Student Name</th>
                                <th>Board</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Subject</th>
                                <th>Chapter</th>
                                <th>Ticket No</th>
                                <th>Teacher Name</th>
                                <th>Status</th>
                                <th>Raised On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                var sections = DbContext.tbl_DC_Class_Section.Where(a => a.IsActive == true).ToList();
                                var teachers = DbContext.Teachers.Where(a => a.Active == 1).ToList();
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.Customer_Name</td>
                                        <td>@item.Board_Name</td>
                                        <td>@item.Class_Name</td>
                                        <td>@(sections.Where(a => a.SectionId == item.SectionId).FirstOrDefault().SectionName)</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Chapter</td>
                                        <td>@item.Ticket_No</td>
                                        <td>@((item.Teach_ID != 0 && item.Teach_ID != null) ? teachers.Where(a => a.TeacherId == item.Teach_ID).FirstOrDefault().Name : "")</td>
                                        <td>@((item.Status == "O" && item.Answer == "False") ? "Pending" : ((item.Status == "O" && item.Answer == "True") ? "Answered" : (item.Status == "R" ? "Rejected" : (item.Status == "C" ? "Closed" : ""))))</td>
                                        <td>@item.Inserted_Date.Value.ToString("dd-MM-yyyy hh:mm tt")</td>
                                        <td>
                                            <a href="/SchoolReport/ViewDoubtDetails?id=@item.Ticket_ID">View Details</a>
                                        </td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {

        function GetTeachers(board, cls, sec, subject) {
               $('.loader-ajax-container').fadeIn(300);
            if (board != '0' && cls!='0' && sec!='' && subject!='0') {

                $.get("/SchoolReport/GetTeacherList?board="+board+"&cls="+cls+"&sec="+sec+"&subject="+subject+"", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlteacher').empty();

                        $('#ddlteacher').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlteacher').append('<option value="' + data[i].TeacherId + '">' + data[i].Name + '</option>');

                        }
                        if (teacherid > 0) {
                            $('#ddlteacher').val(teacherid);
                        }
                    }
                    else {
                        $('#ddlteacher').empty();
                        $('#ddlteacher').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlteacher').empty();
                $('#ddlteacher').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
        function GetStatus() {
            $('#ddlstatus').empty();
            $('#ddlstatus').append('<option selected>All</option>');
            $('#ddlstatus').append('<option value="O">Pending</option>');
            $('#ddlstatus').append('<option value="A">Answered</option>');
            $('#ddlstatus').append('<option value="R">Rejected</option>');
            $('#ddlstatus').append('<option value="C">Closed</option>');
            $('#ddlstatus').val(statusid);
        }


         var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        var chapterid = '@(ViewBag.chapter == null ? 0 : ViewBag.chapter)';
         var teacherid = '@(ViewBag.teacher == null ? 0 : ViewBag.teacher)';
        var statusid = '@(ViewBag.status == null ? 0 : ViewBag.status)';
        //if (studentid != 0) {
        //    $('#ddlstudent').val(studentid).trigger();
        //}
        GetStatus();
        GetSchool();
        GetBoard();
        GetClass(boardid);
        GetSection(classid, schoolid);
        GetChapter(subjectid);
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
            GetTeachers($('#ddlboard').val(), '0', '','0');
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
            GetTeachers($('#ddlboard').val(),$('#ddlclass').val(), '', '0');
        })
        $('#ddlsection').change(function () {
            GetTeachers($('#ddlboard').val(),$('#ddlclass').val(), $('#ddlsection').val(),$('#ddlsubject').val());
        })
        $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
            GetTeachers($('#ddlboard').val(),$('#ddlclass').val(), $('#ddlsection').val(),$('#ddlsubject').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/SchoolReport/GetSchool", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option value="0" selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option value="0" selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

       
        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option value="0" selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0">All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option value="0" selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

 
        function GetSection(id,schoolid) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetSection?id=" + id + "&schoolid="+schoolid, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="" selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid != 0) {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="">All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option value="0" selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option value="0">All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option value="" selected>All</option>');
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option value="0" selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        function GetChapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetChapterData?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();

                        $('#ddlchapter').append('<option value="0" selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlchapter').val(chapterid);
                        }
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option value="0">All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option value="0" selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }



    })
</script>