﻿@{
    ViewBag.Title = "EditZoomVideoUpload";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}


@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("UpdateVideoUpload", "SchoolReport", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Edit Zoom Online Video</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="id" id="id" value="@ViewBag.zoomdet.ZoomId" />
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="board" id="ddlBoard" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.boardlist != null)
                                    {
                                        <option>Select Board</option>
                                        foreach (var t in ViewBag.boardlist)
                                        {
                                            <option value="@t.Board_Id" selected="@((ViewBag.zoomdet.BoardId==t.Board_Id)?true:false)">@t.Board_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="school" id="ddlschool" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    <option>Select School</option>
                                    @if (ViewBag.schoollist != null)
                                    {
                                        foreach (var a in ViewBag.schoollist)
                                        {
                                            <option value="@a.SchoolId" selected="@((ViewBag.zoomdet.SchoolId==a.SchoolId)?true:false)">@a.SchoolName</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="cls" id="ddlclass" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.classlist != null)
                                    {
                                        <option>Select Class</option>
                                        foreach (var t in ViewBag.classlist)
                                        {
                                            <option value="@t.Class_Id" selected="@((ViewBag.zoomdet.ClassId==t.Class_Id)?true:false)">@t.Class_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Section</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="sec" id="ddlsection" class="form-control">
                                    <option>Select Section</option>
                                    @if (ViewBag.sectionlist != null)
                                    {
                                        foreach (var a in ViewBag.sectionlist)
                                        {
                                            <option value="@a.SectionId" selected="@((ViewBag.zoomdet.SectionId==a.SectionId)?true:false)">@a.SectionName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlsubject" name="Subject" class="form-control">
                                    <option>Select Subject</option>
                                    @if (ViewBag.subjectlist != null)
                                    {
                                        foreach (var a in ViewBag.subjectlist)
                                        {
                                            <option value="@a.Subject_Id" selected="@((ViewBag.zoomdet.SubjectId==a.Subject_Id)?true:false)">@a.Subject</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select id="ddlchapterid" name="chapter" class="form-control">
                                    <option>Select Chapter</option>
                                    @if (ViewBag.chapterlist != null)
                                    {
                                        foreach (var a in ViewBag.chapterlist)
                                        {
                                            <option value="@a.Chapter_Id" selected="@((ViewBag.zoomdet.ChapterId==a.Chapter_Id)?true:false)">@a.Chapter</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <label for="textfield5" class="col-sm-4 col-lg-4">Topic Details</label>
                            <label for="textfield5" class="col-sm-4 col-lg-4">Video Link</label>
                            <label for="textfield5" class="col-sm-3 col-lg-3">Password</label>
                            <label for="textfield5" class="col-sm-1 col-lg-1"></label>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 controls">
                                <input type="text" name="txttopicdetails" class="form-control" />
                            </div>
                            <div class="col-sm-4 col-lg-4 controls">
                                <input type="text" name="txtvideolink" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-lg-3 controls">
                                <input type="text" name="txtpassword" class="form-control" />
                            </div>
                            <div class="col-sm-1 col-lg-1 controls">
                                <a id="btnadd" class="btn btn-primary" style="padding: 3px 8px;"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:30px;"></div>
                        <div class="table-responsive">
                            <table id="table1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Topic Details</th>
                                        <th>Video Link</th>
                                        <th>Password</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tblvideobody">
                                    @if (Session["classvideos"] != null)
                                    {
                                        List<DigiChamps.Models.ZoomVideoLink> am = new List<DigiChamps.Models.ZoomVideoLink>();
                                        am = Session["classvideos"] as List<DigiChamps.Models.ZoomVideoLink>;
                                        foreach (var a in am.Where(m => m.IsActive == true))
                                        {
                                            <tr>
                                                <td>@a.TopicName</td>
                                                <td>@a.VideoLink</td>
                                                <td>@a.Password</td>
                                                <td><a class='btn btn-danger btn-xs btn-delete' onclick='Removevideo(@a.InsertedId)'>Delete</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("ZoomVideoUploadList", "SchoolReport")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Submit</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ddlschool').change(function () {
            $('#ddlsection').empty();
            // $('#ddlsubject').val('0');
            // $('#ddlchapterid').empty();
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
        })
        function GetSection(id, schoolid) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetSection?id=" + id + "&schoolid=" + schoolid, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>Select Section</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid != 0) {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>Select Section</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });

            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        $('#ddlClass').change(function () {
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
            $('#ddlsubject').empty();
            $('#ddlchapter').empty();
            $.get("/School/GetSubjectData?id=" + $('#ddlClass').val(), function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option selected>Select Subject</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                    }
                    //if (subjectid > 0) {
                    //    $('#ddlsubject').val(subjectid);
                    //}
                }
                else {
                    $('#ddlsubject').empty();
                    $('#ddlsubject').append('<option>Select Subject</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        })
        $('#ddlsubject').change(function () {
            $.get("/School/GetChapterData?id=" + $('#ddlsubject').val(), function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlchapterid').empty();
                    $('#ddlchapterid').append('<option selected>Select Chapter</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlchapterid').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>')
                    }
                    //if (subjectid > 0) {
                    //    $('#ddlchapterid').val(subjectid);
                    //}
                }
                else {
                    $('#ddlchapterid').empty();
                    $('#ddlchapterid').append('<option>Select Chapter</option>');
                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        })
    })
</script>
<script type="text/javascript">
    function Removevideo(id) {
        $.get('/SchoolReport/RemoveTempVideos', { id: id }, function (data) {
            $("#tblvideobody").empty();
            for (var i = 0; i < data.length; i++) {
                $("#tblvideobody").append("<tr><td>" + data[i].TopicName + "</td><td>" + data[i].VideoLink + "</td><td>" + data[i].Password + "</td><td><a class='btn btn-danger btn-xs btn-delete' onclick='Removevideo(" + data[i].InsertedId + ")'>Delete</a></td></tr>");
            }
        })
    }
    $(document).ready(function () {
        $("#btnadd").click(function () {
            $("#tblvideobody").empty();
            var topic = $("input[name='txttopicdetails']").val();
            var videourl = $("input[name='txtvideolink']").val();
            var password = $("input[name='txtpassword']").val();
            $.get('/SchoolReport/SaveTempVideos', { topic: topic, videourl: videourl, password: password }, function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#tblvideobody").append("<tr><td>" + data[i].TopicName + "</td><td>" + data[i].VideoLink + "</td><td>" + data[i].Password + "</td><td><a class='btn btn-danger btn-xs btn-delete' onclick='Removevideo(" + data[i].InsertedId + ")'>Delete</a></td></tr>");
                }
            })
            $("input[name='txttopicdetails']").val('');
            $("input[name='txtvideolink']").val('');
            $("input[name='txtpassword']").val('');
        })


    })
</script>