﻿@{
    ViewBag.Title = "EditRevisionMaterial";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}



<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/SchoolReport/Dashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>
            <a href="~/SchoolReport/RevisionMaterial">RevisionMaterial</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>

            <span class="divider">Update</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>


<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("UpdateRevisionMaterial", "SchoolReport", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "validation-form" }))
            {
                @Html.AntiForgeryToken();

                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-file"></i>Edit Revision Material</h3>
                    </div>

                    <div class="box-content">
                        <input type="hidden" name="id" id="id" value="@ViewBag.revisionMaterial.ID" />
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">School</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="school" id="ddlschool" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.schoolList != null)
                                    {
                                        <option>Select School</option>
                                        foreach (var t in ViewBag.schoolList)
                                        {
                                            <option value="@t.SchoolId" selected="@(ViewBag.revisionMaterial.SchoolId==t.SchoolId?true:false)">@t.SchoolName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group voffset3">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Board</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="board" id="ddlBoard" class="form-control" data-rule-required="true" data-msg-required="Please select board" disabled="true">
                                    @if (ViewBag.boardList != null)
                                    {
                                        <option>Select Board</option>
                                        foreach (var t in ViewBag.boardList)
                                        {
                                            <option value="@t.Board_Id" selected="@(ViewBag.revisionMaterial.BoardId==t.Board_Id?true:false)">@t.Board_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Class</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="class" id="ddlClass" class="form-control" data-rule-required="true" data-msg-required="Please select board" disabled="true">
                                    @if (ViewBag.classList != null)
                                    {
                                        <option>Select Class</option>
                                        foreach (var t in ViewBag.classList)
                                        {
                                            <option value="@t.Class_Id" selected="@(ViewBag.revisionMaterial.ClassId==t.Class_Id?true:false)">@t.Class_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Subject</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="subject" id="ddlSubject" class="form-control" data-rule-required="true" data-msg-required="Please select Subject" disabled="true">
                                    @if (ViewBag.subjectList != null)
                                    {
                                        <option>Select Subject</option>
                                        foreach (var t in ViewBag.subjectList)
                                        {
                                            <option value="@t.Subject_Id" selected="@(ViewBag.revisionMaterial.SubjectId==t.Subject_Id?true:false)">@t.Subject</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Chapter</label>
                            <div class="col-sm-9 col-lg-7 controls">
                                <select name="chapter" id="ddlChapter" class="form-control" data-rule-required="true" data-msg-required="Please select Chapter">
                                    @if (ViewBag.chapterList != null)
                                    {
                                        <option>Select Chapter</option>
                                        foreach (var t in ViewBag.chapterList)
                                        {
                                            <option value="@t.Chapter_Id" selected="@(ViewBag.revisionMaterial.ChapterId==t.Chapter_Id?true:false)">@t.Chapter</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Revision PDF</label>
                            <div class="col-sm-6 col-lg-4 controls">
                                <input type="file" id="quespdf" name="pdfurl" accept=".pdf" />
                            </div>
                            <div class="col-sm-3 col-lg-3 controls">
                                @if (ViewBag.revisionPdfs.PdfUrl != null)
                                {
                                    <a id="~/Images/RevisionPdf/@ViewBag.revisionPdfs.PdfUrl" class="qstnpdf" href="#"><img border="0" alt="Sample PDF" src="~/Images/pdf5.png" width="30" height="30"></a>
                                }
                            </div>
                        </div>

                        <br /><br />
                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <a href="@Url.Action("RevisionMaterial", "SchoolReport")" class="btn btn-primary"><i class="fa fa-undo"></i><span>  Back</span>  </a>
                                <button id="btnSearch" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i><span>Update</span> </button>

                            </div>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>


</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
        $('#ddlschool').attr('disabled', true);
        $('#ddlboard').attr('disabled', true);
        $('#ddlclass').attr('disabled', true);
        $('#ddlsubject').attr('disabled', true);
        $('#ddlChapter').attr('disabled', true);
    })
</script>