﻿@{
    ViewBag.Title = "ExamList";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@model IEnumerable<DigiChamps.Models.tbl_ExamCategory>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Admin/AdminDashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            <span>Exam Category List</span>
        </li>
        @if (ViewBag.Breadcrumb != null)
        {
            <li class="active">@ViewBag.Breadcrumb</li>
        }
    </ul>
</div>


<form class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Exam Category List </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" href="@Url.Action("CreateExam", "SchoolReport")"><i class="fa fa-plus"></i><span>Add Exam Category</span></a>
                    </div>
                </div>

                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Name </th>
                                    <th>InsertedOn</th>
                                    <th>ModifiedOn</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        //string imgSrc = System.IO.File.Exists(Server.MapPath(item.Logo)) ? item.Logo : string.Empty;
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.ExamCategoryName</td>
                                    <td>@item.InsertedOn.Value.ToString("dd MMM yyyy")</td>
                                    <td>@item.ModifiedOn.Value.ToString("dd MMM yyyy")</td>
                                    
                                    <td>
                                        <a class="btn btn-sm btn-primary show-tooltip fa fa-edit" href="/SchoolReport/CreateExam?id=@item.ExamCategoryID" title="Edit"> </a>
                                        
                                        @Html.ActionLink(" ", "DeleteExam", "SchoolReport", new { Id = @item.ExamCategoryID }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the exam category?')", @data_original_title = "Delete", @title = "Delete" })

                                    </td>
                                </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>