﻿@{
    ViewBag.Title = "GetAssignSubjectToTeacher";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@model IEnumerable<DigiChamps.Models.AssignTeacherCls>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

@*<form class="form-horizontal" id="validation-form">*@
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Assign Subject To Teacher List </h3>
                    <div class="box-tool box-tooll">
                        @*<a class="btn btn-primary" href="/SchoolReport/UploadAssignSubjectToTeacher"><i class="fa fa-upload"></i><span> Upload Excel</span></a>*@

                        <a class="btn btn-primary" href="/SchoolReport/CreateAssignSubjectToTeacher"><i class="fa fa-plus"></i><span> Assign Subject</span></a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    <form action="GetAssignSubjectToTeacher" method="get">
                        <div class="row">
                            <div class="form-group clearfix">
                                <div class="col-md-3"></div>
                                <div class="col-md-2">School</div>
                                <div class="col-md-4">
                                    <select id="ddlschool" name="school" class="form-control"></select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">Board</div>
                                <div class="form-group">
                                    <select id="ddlboard" name="board" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">Class</div>
                                <div class="form-group">
                                    <select id="ddlclass" name="cls" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">Section</div>
                                <div class="form-group">
                                    <select id="ddlsection" name="sec" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">Subject</div>
                                <div class="form-group">
                                    <select id="ddlsubject" name="subject" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><input type="submit" value="Search" class="btn btn-secondary" /></div>
                                
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Teacher Name</th>
                                    <th>School</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Subject</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int rowNo = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@item.TeacherName</td>
                                            <td>@item.SchoolName</td>
                                            <td>@item.BoardName</td>
                                            <td>@item.ClassName</td>
                                            <td>@item.SectionName</td>
                                            <td>@item.SubjectName</td>
                                            <td>
                                                @Html.ActionLink("Un-Assigned", "DeleteAssignSubject", "SchoolReport", new { id = @item.AssignId }, new { @class = "btn btn-sm btn-danger show-tooltip", @onclick = "return confirm('Are you sure want to un-assigned the subject?')", @data_original_title = "Un-Assigned", @title = "Un-Assigned" })
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

@*</form>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
        var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var boardid='@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var secid = '@(ViewBag.sec== null ? 0 : ViewBag.sec)';
        var subjectid = '@(ViewBag.subject == null ? 0 : ViewBag.subject)';
        GetSchool();
        GetBoard();
        GetClass(boardid);
        GetSection(classid, schoolid);
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
        })

        //========================GET BOARD DETAILS==================================//
        function GetSchool() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/SchoolReport/GetSchool", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if(boardid>0)
                    {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        if (classid > 0) {
                            $('#ddlclass').val(classid);
                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, schoolid) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetSection?id=" + id + "&schoolid=" + schoolid, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        if (secid != 0) {
                            $('#ddlsection').val(secid);
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        if (subjectid > 0) {
                            $('#ddlsubject').val(subjectid);
                        }
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//


    })
</script>