﻿@{
    ViewBag.Title = "GetRegisteredUsersListForEReport";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}
@model IList<DigiChamps.Controllers.SchoolReportController.Schoolwise_User_Class>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}



<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Registered Users </h3>
                    <div class="box-tool box-tooll">
                         @*<a class="btn btn-primary" href="/SchoolReport/GetAllEReportDetails/"><i class="fa fa-eye"></i><span> E-Report List</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
            <div class="box-content">
                @using (Html.BeginForm("GetRegisteredUsersListForEReport", "SchoolReport", FormMethod.Get,
new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation" }))
                {
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Exam</div>
                        <div class="col-md-4">
                            <select id="ddlcatgid" name="catgid" class="form-control">
                                <option value="" selected="@(ViewBag.cg==null?true:false)">Select One</option>
                                @foreach (var a in ViewBag.examlist)
                                {
                                    <option value="@a.ExamCategoryID" selected="@(ViewBag.cg==a.ExamCategoryID?true:false)">@a.ExamCategoryName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">School</div>
                        <div class="col-md-4">
                            <select id="ddlSchool" name="school" class="form-control">
                                <option value="" selected="@(ViewBag.s==null?true:false)">All</option>
                                @foreach (var a in ViewBag.schoolist)
                                {
                                    <option value="@a.SchoolId" selected="@(ViewBag.s==a.SchoolId?true:false)">@a.SchoolName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Board</div>
                        <div class="col-md-4">
                            <select id="ddlboard" name="board" class="form-control">
                                @*<option value=" ">Select Board</option>
                        @foreach (var a in ViewBag.Board)
                        {
                            <option value="@a.Board_Id">@a.Board_Name</option>
                        }*@
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Class</div>
                        <div class="col-md-4">
                            <select id="ddlclass" name="cls" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Section</div>
                        <div class="col-md-4">
                            <select id="ddlsection" name="sec" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group text-center">
                        <button id="btnsearch" class="btn btn-primary">Search</button>
                    </div>
                    <div class="clearfix"></div>
                }
                </div>

                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Total Number of Users : <label id="lblcount"></label> </h3>
                    <div class="box-tool box-tooll">
                        @*<a class="btn btn-primary" id="btnupload" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-up"></i><span>Upload Excel</span></a>
                        <a class="btn btn-primary" href="~/SchoolReport/Exportallregisteredreportdata" id="btnexport"><i class="fa fa-plus"></i><span>Download Excel</span></a>
                        <a class="btn btn-primary" href="~/SchoolReport/CreateStudentDetails" id="btnexport"><i class="fa fa-plus"></i><span> Add Student</span></a>*@
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>School Name</th>
                                    <th>Regd No</th>
                                    <th>School No</th>
                                    <th>Student Name</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Zoom Email ID</th>
                                    <th>Whatsapp No.</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int i = 0;
                                    foreach (var a in Model)
                                    {
                                        <tr>
                                            <td> @(i + 1)</td>
                                            <td>@a.categoryName</td>
                                            <td>@a.schoolname</td>
                                            <td>@a.School_No</td>
                                            <td>@a.Customer_Name</td>
                                            <td>@a.boardname</td>
                                            <td>@a.Class_Name</td>
                                            <td>@a.SectionName</td>
                                            <td>@a.zoom_mail_id</td>
                                            <td>@a.whatsapp_no</td>
                                            <td>@a.Mobile</td>
                                            <td>
                                                @if (a.EReportId == 0)
                                                {
                                                    <a href="#" onclick="openmodal(@a.Regd_ID,@a.CategoryId,null)">Upload</a>
                                                }
                                                else
                                                {
                                                    <label style="color:green;">Uploaded</label> <span>&nbsp; | &nbsp;</span> <a target="_blank" href="~/Images/EReportCardPDF/@a.EReportPath"><i class="fa fa-eye"></i></a><span>&nbsp; | &nbsp;</span>
                                                    <a href="#" onclick="openmodal(@a.Regd_ID,@a.CategoryId,@a.EReportId)">Re-Send</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload E-Report Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("UploadEReportCardDetails", "SchoolReport", FormMethod.Post,
new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form1" }))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" id="hdnregdid" name="regdid" />
                            <input type="hidden" id="hdnid" name="id" />
                            <input type="hidden" id="hdncatgid" name="catgid" />
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Report" id="btnupload" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
<script src="~/Student_assets/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Student_assets/Scripts/jquery.validate.min.js"></script>
<script>
   function openmodal(regdid, catgid,id) {
        $('#hdnregdid').val(regdid);
         $('#hdncatgid').val(catgid);
         $('#hdnid').val(id);
        $("#myModal").modal("show");
    }
    $(document).ready(function () {
        $("#validation-form1").on("submit", function (event) {
            debugger;
            if ($("#validation-form1").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $(".loader-ajax-container").fadeIn(300);
                var file = $('#file');
                if (file.length == 0) {
                    alert('Select file');
                    return false;
                }
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form1")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $(".loader-ajax-container").fadeOut(300);

                        // Do something useful with the data:
                        var message = "Uploaded Successfully";
                        alert(message);
                        window.location.href = '/SchoolReport/GetRegisteredUsersListForEReport?catgid='+$('#hdncatgid').val();
                    },
                    error: function (resp) {

                        $(".loader-ajax-container").fadeOut(300);

                        // Do something useful with the data:
                        var message = "Uploaded Successfully";
                        alert(message);
                        window.location.href = '/SchoolReport/GetRegisteredUsersListForEReport?catgid='+$('#hdncatgid').val();
                    }

                })
            }
        });
        var schoolid = '@(ViewBag.s == null ? 0 : ViewBag.s)';
        var boardid = '@(ViewBag.b == null ? 0 : ViewBag.b)';
        var classid = '@(ViewBag.c == null ? 0 : ViewBag.c)';
        var secid = '@(ViewBag.se== null ? 0 : ViewBag.se)';
        
        GetBoard();
        GetClass(boardid);
        GetSection(classid, schoolid);
     //   GetAllusers();
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val(), $('#ddlSchool').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/SchoolReport/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    $('#ddlboard').val('@ViewBag.b');
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }


        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        $('#ddlclass').val('@ViewBag.c');
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, school) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetSectionListdtl?id=" + id + "&school=" + school, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        $('#ddlsection').val('@ViewBag.se');
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//


    })
</script>