﻿@{
    ViewBag.Title = "GetRegisteredUsersDetails";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}



<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Registered Users </h3>
                    <div class="box-tool box-tooll">
                        @*  <a class="btn btn-primary" href="/School/ExamType/"><i class="fa fa-plus"></i><span> Excel</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">

                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Board</div>
                        <div class="col-md-4">
                            <select id="ddlboard" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Class</div>
                        <div class="col-md-4">
                            <select id="ddlclass" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Section</div>
                        <div class="col-md-4">
                            <select id="ddlsection" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group text-center">
                        <button id="btnsearch" class="btn btn-primary">Search</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Total Number of Users : <label id="lblcount"></label> </h3>
                    <div class="box-tool box-tooll">
                        <a class="btn btn-primary" id="btnupload" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-up"></i><span>Upload Excel</span></a>
                        <a class="btn btn-primary" href="~/School/Exportallregisteredreportdata" id="btnexport"><i class="fa fa-plus"></i><span>Download Excel</span></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-advance" id="tbl_table1" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>School Name</th>
                                    <th>Regd No</th>
                                    <th>School No</th>
                                    <th>Student Name</th>
                                    <th>Board</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Zoom Email ID</th>
                                    <th>Whatsapp No.</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("UploadUserBasicDetails", "SchoolReport", FormMethod.Post,
new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                {
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {
     $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var file = $('#file');
                if (file.length == 0) {
                    alert('Select file');
                    return false;
                }
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/SchoolReport/GetRegisteredUsersDetails';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/SchoolReport/GetRegisteredUsersDetails';
                    }

                })
            }
        });
        GetBoard();
        GetClass('0');
        GetSection('0');
        GetAllusers();
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetSectionListdtl?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option>All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//

        $('#btnsearch').click(function () {
            $('.loader-ajax-container').fadeIn(300);
            $.get('/SchoolReport/GetRegisteredUsersDetails?board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#table1 tbody').empty();
                $('#lblcount').html(data.length);
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        //  tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '<td><a href="/SchoolReport/EditStudentDetails?id=' + data[i].Regd_ID + '" class = "btn btn-sm btn-primary show-tooltip">Edit</a>';
                        tr += '<a href="/SchoolReport/DeleteStudentDetails?id=' + data[i].Regd_ID + '" class = "btn btn-sm btn-danger show-tooltip">Delete</a></td>';
                        tr += '</tr>';
                    }
                    debugger;
                    $('#table1 tbody').html(tr);
                    $('#table1').dataTable();
                    $('.loader-ajax-container').fadeOut(300);
                }
                else {
                    $('#table1 tbody').empty();
                    $('.loader-ajax-container').fadeOut(300);
                }

            })
        })
        function GetAllusers() {
            $('.loader-ajax-container').fadeIn(300);
            $.get('/SchoolReport/GetRegisteredUsersDetails?board=' + $('#ddlboard').val() + '&cls=' + $('#ddlclass').val() + '&sec=' + $('#ddlsection').val() + '', function (data) {
                var tr = '';
                $('#tbl_table1 tbody').empty();
                $('#lblcount').html(data.length);
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr><td>' + (i + 1) + '</td>';
                        tr += '<td>' + data[i].schoolname + '</td>';
                        tr += '<td>' + data[i].Regd_No + '</td>';
                        tr += '<td>' + data[i].Customer_Name + '</td>';
                        tr += '<td>' + data[i].boardname + '</td>';
                        tr += '<td>' + data[i].Class_Name + '</td>';
                        //tr += '<td>' + data[i].SectionName + '</td>';
                        tr += '<td>' + data[i].Mobile + '</td>';
                        tr += '<td><a href="/SchoolReport/EditStudentDetails?id=' + data[i].Regd_ID + '" class = "btn btn-sm btn-primary show-tooltip">Edit</a>';
                        tr += '<a href="/SchoolReport/DeleteStudentDetails?id=' + data[i].Regd_ID + '" class = "btn btn-sm btn-danger show-tooltip">Delete</a></td>';
                        tr += '</tr>';
                    }
                    // var oTable = $('#table1').dataTable();
                    // oTable.fnDestroy();
                    $('#tbl_table1 tbody').html(tr);
                    $('#tbl_table1').dataTable();

                }
                else {
                    $('#tbl_table1 tbody').empty();
                }
                $('.loader-ajax-container').fadeOut(300);
            })
        }
    })
</script>
