﻿
<!DOCTYPE html>
<html>
<!-- Mirrored from themes.shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Sep 2014 04:38:05 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - ODM Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--base css styles-->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link rel="stylesheet" href="~/css/flaty.css">
    <link rel="stylesheet" href="~/css/flaty-responsive.css">
    <link rel="shortcut icon" href="~/img/favicon.html">
</head>
<body class="login-page">
    <!-- BEGIN Main Content -->
    <div class="login-wrapper">
        <!-- BEGIN Login Form -->
        @using (Html.BeginForm("Index", "SchoolReport", FormMethod.Post, new { @id = "validation-form" }))
        {
            <h3><img src="~/Images/digi1.jpg" height="40" width="40" />Login to your account</h3>
            if (TempData["ErrorMessage"] != null)
            {
                <div style="font-size: 13px; color: red;">@TempData["ErrorMessage"]</div>
            }
            <hr />
            <div class="form-group">
                <div class="controls">
                    <input type="text" placeholder="Username" id="User_name" name="User_name" class="form-control" data-rule-required="true" data-msg-required="Please enter username" />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-rule-required="true" data-msg-required="Please enter password" />
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">LOGIN</button>
                </div>
            </div>
            <hr />
            <p class="clearfix">
                <a href="#" class="goto-forgot pull-left">Forgot Password?</a>

            </p>

        }
        <!-- END Login Form -->
        <!-- BEGIN Forgot Password Form -->
        @*@using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @id = "form-forgot" }))
            {*@
        
        @*}*@
        <!-- END Forgot Password Form -->
        <!-- BEGIN Register Form -->
        @*<form id="form-register" style="display:none">
                <h3>Sign up</h3>
                <hr />
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Username" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="password" placeholder="Password" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="password" placeholder="Repeat Password" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="remember" /> I accept the <a href="#">user aggrement</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary form-control">Sign up</button>
                    </div>
                </div>
                <hr />
                <p class="clearfix">
                    <a href="#" class="goto-login pull-left">← Back to login form</a>
                </p>
            </form>*@
        <!-- END Register Form -->
    </div>
    <!-- END Main Content -->
    <!--basic scripts-->
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>


   
</body>
</html>
