﻿@{
    ViewBag.Title = "RevisionMaterial";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@model IEnumerable<DigiChamps.Models.RevisionMaterialModel>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="~/SchoolReport/Dashboard">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li>

            <span class="divider">RevisionMaterial</span>
        </li>

    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Revision Material List </h3>
                <div class="box-tool box-tooll">
                    <a class="btn btn-primary" href="/SchoolReport/CreateRevisionMaterial"><i class="fa fa-plus"></i><span> Add Revision Material</span></a>
                </div>
            </div>

            <div class="box-content">
                <form action="RevisionMaterial" method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">School</div>
                            <div class="form-group">
                                <select name="schoolid" id="ddlschool" class="form-control" data-rule-required="true" data-msg-required="Please select school">
                                    @if (ViewBag.School != null)
                                    {
                                        <option>Select School</option>
                                        foreach (var t in ViewBag.School)
                                        {
                                            <option value="@t.SchoolId">@t.SchoolName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">Board</div>
                            <div class="form-group">
                                <select name="boardid" id="ddlboard" class="form-control" data-rule-required="true" data-msg-required="Please select Board">
                                    @if (ViewBag.Board != null)
                                    {
                                        <option>Select Board</option>
                                        foreach (var t in ViewBag.Board)
                                        {
                                            <option value="@t.Board_Id">@t.Board_Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div> 


                        <div class="col-md-4">
                            <div class="form-group">Class</div>
                            <div class="form-group">
                                <select id="ddlclass" name="classid" class="form-control"></select>
                            </div>
                        </div>
                        @*<div class="col-md-3">
            <div class="form-group">Section</div>
            <div class="form-group">
                <select id="ddlsection" name="sec" class="form-control"></select>
            </div>
        </div>*@
                        <div class="col-md-4">
                            <div class="form-group">Subject</div>
                            <div class="form-group">
                                <select id="ddlsubject" name="Subjectid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">Chapter</div>
                            <div class="form-group">
                                <select id="ddlchapter" name="chapterid" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group"></div>
                            <div class="form-group text-center" style="margin-top:33px">
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-md-1">
                                <div class="form-group"></div>
                                <div class="form-group text-center">
                                    <input type="submit" value="Search" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>*@

                </form>
                <hr />

                <div class="table-responsive">
                    <table class="table table-advance" id="table1">

                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>School</th>
                                <th>Board</th>
                                <th>Class</th>
                                @*<th>Section</th>*@
                                <th>Subject</th>
                                <th>Chapter</th>
                                <th>PDF</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int rowNo = 0;
                                foreach (var a in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@a.SchoolName</td>
                                        <td>@a.BoardName</td>
                                        <td>@a.ClassName</td>
                                        <td>@a.SubjectName</td>
                                        <td>@a.ChapterName</td>
                                        <td>
                                            <a id="/Images/RevisionPdf/@a.Pdf" title="View Pdf" class="pdfid" href="#"><img border="0" alt="View Pdf" src="~/Images/pdf5.png" width="30" height="30"></a>

                                        </td>
                                        <td>

                                            @Html.ActionLink(" ", "EditRevisionMaterial", "SchoolReport", new { id = a.ID, pdfid = a.RevisionPdfID }, new { @class = "btn btn-sm btn-primary fa fa-pencil", @title = "Edit" })
                                            <a href="@Url.Action("RemoveRevisionMaterial", "SchoolReport" , new { id = a.ID })" class="btn btn-sm btn-primary fa fa-trash" title="Remove" onclick="return confirm('Are You Sure Want To Remove This...?')"></a>

                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-body">

                                @*<p>
                                        <object width="100%" height="500px" id="pdfview" data="#"></object>
                                    </p>*@

                                <div id="pdfview"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        @*var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
         var examdateid = '@(ViewBag.examdate == null ? 0 : ViewBag.examdate)';
        GetClass(boardid);
        GetSubject(classid);
        Getexamtime(examdateid);*@
        $('#btnSearch').submit(function () {
            $('.loader-ajax-container').fadeIn(300);
            return true;
        })
         $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
         })
          $('#ddlclass').change(function () {
            GetSubject($('#ddlclass').val());
          })
          $('#ddlsubject').change(function () {
            GetChapter($('#ddlsubject').val());
          })

        function GetClass(id) {
            // $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                    //     if (classid > 0) {
                    //    $('#ddlclass').val(classid);
                    //}
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>Select Class</option>');

                    }
                    //   $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>Select Class</option>');
                //   $('.loader-ajax-container').fadeOut(300);
            }
        }
        function GetSubject(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/School/GetSubjectData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option selected>Select Subject</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsubject').append('<option value="' + data[i].Subject_Id + '">' + data[i].Subject + '</option>')
                        }
                        //if (subjectid > 0) {
                        //    $('#ddlsubject').val(subjectid);
                        //}
                    }
                    else {
                        $('#ddlsubject').empty();
                        $('#ddlsubject').append('<option>Select Subject</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsubject').empty();
                $('#ddlsubject').append('<option selected>Select Subject</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

          function GetChapter(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {
                $.get("/School/GetChapterData?id=" + id, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option selected>Select Chapter</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlchapter').append('<option value="' + data[i].Chapter_Id + '">' + data[i].Chapter + '</option>')
                        }
                        //if (subjectid > 0) {
                        //    $('#ddlsubject').val(subjectid);
                        //}
                    }
                    else {
                        $('#ddlchapter').empty();
                        $('#ddlchapter').append('<option>Select Chapter</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlchapter').empty();
                $('#ddlchapter').append('<option selected>Select Chapter</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
    })
</script>
<script>

    $(document).ready(function () {


        $("#table1").on('click', '.pdfid', function (event) {
            debugger;
            var href = "http://learn.odmps.org/" + $(this).attr("id");
            //var href = "http://localhost:63806/" + $(this).attr("id");

            //$('#pdfview').attr('data', href);
            $('#pdfview').html('<embed src="' + href + '" width="100%" height="500px" />');
            $('#myModal2').modal('show');

        })

        $('.close').click(function () {


            location.reload();
            $('#myModal').modal('hide');

        });
    });


</script>

@*<script language="javascript" type="text/javascript">

        $('.close').click(function () {


            location.reload();
            $('#myModal').modal('hide');

        });

    </script>*@