﻿@{
    ViewBag.Title = "StudentAcademicPerformanceReport";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}


@model IList<DigiChamps.Controllers.SchoolReportController.OnlineExamReportModel>
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Student Academic Performance Report </h3>
                    <div class="box-tool box-tooll">
                        @*  <a class="btn btn-primary" href="/School/ExamType/"><i class="fa fa-plus"></i><span> Excel</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }

                <div class="box-content">
                    @using (Html.BeginForm("StudentAcademicPerformanceReport", "SchoolReport", FormMethod.Get,
new { data_ajax = "false", enctype = "multipart/form-data", id = "validation" }))
                    {
                        <div class="row">
                            <div class="col-md-3 px-1">
                                <div class="form-group">School</div>
                                <div class="form-group">
                                    <select id="ddlSchool" name="school" class="form-control">
                                        <option value="" selected="@(ViewBag.s==null?true:false)">All</option>
                                        @foreach (var a in ViewBag.schoolist)
                                        {
                                            <option value="@a.SchoolId" selected="@(ViewBag.s==a.SchoolId?true:false)">@a.SchoolName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Board</div>
                                <div class="form-group">
                                    <select id="ddlboard" name="board" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Class</div>
                                <div class="form-group">
                                    <select id="ddlclass" name="cls" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Section</div>
                                <div class="form-group">
                                    <select id="ddlsection" name="sec" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Student</div>
                                <div class="form-group">
                                    <select id="ddlstudent" name="student" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Exam Type</div>
                                <div class="form-group">
                                    <select id="ddlexamtype" name="type" class="form-control">
                                        <option value="" selected="@(ViewBag.g==null?true:false)">All</option>
                                        @foreach (var a in ViewBag.examtype)
                                        {
                                            <option value="@a.OnlineExamTypeId" selected="@(ViewBag.g==a.OnlineExamTypeId?true:false)">@a.OnlineExamTypeName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">Session</div>
                                <div class="form-group">
                                    <select id="ddlsession" name="session" class="form-control">
                                        <option value="All">All</option>
                                        <option value="2020">2020</option>
                                        <option value="2020-21">2020-2021</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group"><button id="btnsearch" class="btn btn-primary">Search</button></div>
                            </div>

                        </div>
                    }


                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1" width="100%">
                            <thead>
                                <tr>
                                    <th>Roll No.</th>
                                    <th>School No</th>
                                    <th>Student Name</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Session</th>
                                    <th>Exam Type</th>
                                    <th>Publish Date</th>
                                    <th>Report Card</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.OrderByDescending(a => a.StudentmarksheetId))
                                    {
                                        <tr>
                                            <td>
                                                @item.Roll_No
                                            </td>
                                            <td>
                                                @item.School_No
                                            </td>
                                            <td>
                                                @item.StudentName
                                            </td>
                                            <td>
                                                @item.ClassName
                                            </td>
                                            <td>
                                                @item.section
                                            </td>
                                            <td>
                                                @item.Session
                                            </td>
                                            <td>
                                                @item.OnlineExamTypeName
                                            </td>
                                            <td>
                                                @item.Session
                                            </td>
                                            <td>
                                                <a target="_blank"  href="~/Reports/Reports.aspx?type=AcademicSchool_Marksheet_Report&Id=@(item.StudentmarksheetId)">View</a>

                                                @*<a id="~/Reports/Reports.aspx?type=AcademicSchool_Marksheet_Report&Id=@(item.StudentmarksheetId)" class="pdfid" href="#">View</a>*@

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"> 
                <div id="pdfview"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

<script language="javascript" type="text/javascript">

    $('.close').click(function () {
        location.reload();
        $('#myModal').modal('hide');
    });

</script>*@
<script src="~/Student_assets/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Student_assets/Scripts/jquery.validate.min.js"></script>
<script>

    $(document).ready(function () {
        var board = '@(ViewBag.b==null?0:ViewBag.b)';
        var classes = '@(ViewBag.c==null?0:ViewBag.c)';
        var school = '@(ViewBag.s==null?0:ViewBag.s)';
        var student = '@(ViewBag.f==null?0:ViewBag.f)';
        var section = '@(ViewBag.se==null?0:ViewBag.se)';
        GetBoard();
        GetClass(board);
        GetSection(classes, school);
        GetStudent(section)
     //   GetAllusers();
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        $('#ddlclass').change(function () {
            GetSection($('#ddlclass').val(), $('#ddlSchool').val());
        })
        $('#ddlsection').change(function () {
            GetStudent($('#ddlsection').val());
        })

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $.get("/SchoolReport/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    $('#ddlboard').val(board);
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option value="0" selected>All</option>');

                }
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }


        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            if (id != '0') {
                $.get("/SchoolReport/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option value="0" selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        $('#ddlclass').val(classes);
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option value="0">All</option>');
                    }

                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option value="0" selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, school) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetSectionListdtl?id=" + id + "&school=" + school, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0" selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        $('#ddlsection').val(section);
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option value="0">All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option value="0"  selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//
          //========================GET STUDENT DETAILS==================================//

        function GetStudent(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetStudentListdtl?sectionid=" + id , function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlstudent').empty();
                        $('#ddlstudent').append('<option value="0" selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlstudent').append('<option value="' + data[i].Regd_ID + '">' + data[i].Customer_Name + '</option>')
                        }
                        $('#ddlstudent').val(student);
                    }
                    else {
                        $('#ddlstudent').empty();
                        $('#ddlstudent').append('<option value="0">All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlstudent').empty();
                $('#ddlstudent').append('<option value="0" selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET SECTION DETAILS==================================//


    })
</script>

