﻿@{
    ViewBag.Title = "UploadOnlineExamReport";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Upload Student MarkSheet</h3>
                    <div class="box-tool box-tooll">
                        @*  <a class="btn btn-primary" href="/School/ExamType/"><i class="fa fa-plus"></i><span> Excel</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
            <div class="box-content">
                @using (Html.BeginForm("UploadstudentmarksheetReport", "SchoolReport", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                {
                    // @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Excel Type</div>
                        <div class="col-md-4">
                            <select id="ddltype" name="typ" class="form-control">
                                <option value="">Select Excel Type</option>
                                <option value="1">Primary-(STD 1-5)</option>
                                <option value="2">STD 6-10</option>
                                <option value="3"> STD XI &amp;STD XII-Commerce</option>
                                <option value="4"> STD XI &amp;STD XII-Science</option>
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Exam Type</div>
                        <div class="col-md-4">
                            <select id="ddlexamtype" name="examtype" class="form-control">
                                <option value="">Select Exam Type</option>
                                @if (ViewBag.Examtype != null)
                                {
                                    foreach (var a in ViewBag.Examtype)
                                    {
                                        <option value="@a.OnlineExamTypeId">@a.OnlineExamTypeName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">School</div>
                        <div class="col-md-4">
                            <select id="ddlSchool" name="school" class="form-control">
                                <option value="">All</option>
                                @foreach (var a in ViewBag.schools)
                                {
                                    <option value="@a.SchoolId">@a.SchoolName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Board</div>
                        <div class="col-md-4">
                            <select id="ddlboard" name="board" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Class</div>
                        <div class="col-md-4">
                            <select id="ddlclass" name="cls" class="form-control"></select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Session</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="txtsession" name="session" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Total Mark Subjective</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="txtSubjective" name="Subjective" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div> 
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Total Mark Objective</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="txtObjective" name="Objective" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">Upload Excel</div>
                        <div class="col-md-4">
                            <input type="file" name="file" id="file" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group text-center">
                        <button id="btnsearch" type="submit" class="btn btn-primary">Upload Excel</button>
                    </div>
                    <div class="clearfix"></div>
                }


                <div class="form-group">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <h5><b>Sample Excels:</b></h5>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            Primary-(STD 1-5) : <a target="_blank" href="~/MarksheetSampleexcel/STD I-V.xlsx">Click Here</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            STD 6-10 : <a target="_blank" href="~/MarksheetSampleexcel/STD VI-X.xlsx">Click Here</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            STD XI &amp; STD XII-Commerce : <a target="_blank" href="~/MarksheetSampleexcel/XII-Commerce.xlsx">Click Here</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            STD XI &amp; STD XII-Science : <a target="_blank" href="~/MarksheetSampleexcel/XII-Science.xlsx">Click Here</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

            </div>



            </div>
        </div>
    </div>
</div>
<script src="~/Student_assets/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Student_assets/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        GetBoard();
        $("#validation-form").on("submit", function (event) {
            debugger;
            //if ($("#validation-form").valid()) {
            event.preventDefault();
            debugger;
            // Show the "busy" Gif:
            $(".loader-ajax-container").fadeIn(300);
            if ($('#ddltype').val() == '') {
                alert('Select Excel Type');
                $(".loader-ajax-container").fadeOut(300);
                return false;
            }
            if ($('#ddlexamtype').val() == '') {
                alert('Select Exam Type');
                $(".loader-ajax-container").fadeOut(300);
                return false;
            }
            if ($('#ddlSchool').val() == '') {
                alert('Select School');
                $(".loader-ajax-container").fadeOut(300);
                return false;
            }
            if ($('#ddlboard').val() == '') {
                alert('Select Board');
                $(".loader-ajax-container").fadeOut(300);
                return false;
            }
            if ($('#ddlclass').val() == '') {
                alert('Select Class');
                $(".loader-ajax-container").fadeOut(300);
                return false;
            }
            if ($('#txtsession').val() == '') {
                alert('Enter Session');
                $(".loader-ajax-container").fadeOut(300);
                return false;
            }
            var file = $('#file');

            if (file.length == 0) {
                alert('Select file');
                $(".loader-ajax-container").fadeOut(300);
                return false;
            }
            var url = $(this).attr("action");
            var pm = $("#validation-form")[0];
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {
                    if (resp == 1) {
                        $(".loader-ajax-container").fadeOut(300);

                        // Do something useful with the data:
                        var message = "Uploaded Successfully";
                        alert(message);
                        window.location.href = '/SchoolReport/UploadOnlineExamReport';
                    }
                },
                error: function (resp) {
                    if (resp == 1) {
                        $(".loader-ajax-container").fadeOut(300);

                        // Do something useful with the data:
                        var message = "Uploaded Successfully";
                        alert(message);
                        window.location.href = '/SchoolReport/UploadOnlineExamReport';
                    }
                }

            })
            //}
        });
      
        GetClass('0');
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })
        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
           
            $.get("/SchoolReport/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                  
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>All</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }
        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/SchoolReport/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }

                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>All</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>All</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }
    })
</script>