﻿@{
    ViewBag.Title = "UploadAssignSubjectToTeacher";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}
<div class="form-horizontal" id="validation-form">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Upload Assign Subject To Teacher</h3>
                    <div class="box-tool box-tooll">
                        @*  <a class="btn btn-primary" href="/School/ExamType/"><i class="fa fa-plus"></i><span> Excel</span></a>*@
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@message))
                {
                    <div class="alert alert-dismissable alert-@MessageType" style="display:@styleDisplayValue">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        @message
                    </div>
                }
                <div class="box-content">
                    @using (Html.BeginForm("UploadAssignSubjectToTeacherList", "School", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Board</div>
                            <div class="col-md-4">
                                <select id="ddlboard" name="board" class="form-control" required="required" data_msg_required="Please Select Board"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Class</div>
                            <div class="col-md-4">
                                <select id="ddlclass" name="cls" class="form-control" required="required" data_msg_required="Please Select Class"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        @*<div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Section</div>
                            <div class="col-md-4">
                                <select id="ddlsection" name="sec" class="form-control" required="required" data_msg_required="Please Select Section"></select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>*@
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Sample Excel</div>
                            <div class="col-md-4">
                                <a id="lnksample" href="#">Download</a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">Upload Excel</div>
                            <div class="col-md-4">
                                <input type="file" name="file" id="file" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group text-center">
                            <button id="btnsearch" type="submit" class="btn btn-primary">Upload Excel</button>
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>



            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script>
    $(document).ready(function () {

        GetBoard();
        GetClass('0');
        //GetSection('0');
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
        })

        $('#lnksample').click(function () {
            window.location.href = "/School/DownloadSampleAssignSubjectToTeacher?board=" + $('#ddlboard').val() + "&cls=" + $('#ddlclass').val();
        })
        //$('#ddlclass').change(function () {
        //    GetSection($('#ddlclass').val());
        //})

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {
            $('.loader-ajax-container').fadeIn(300);
            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>Select Board</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected>Select Board</option>');

                }
                $('.loader-ajax-container').fadeOut(300);
            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            $('.loader-ajax-container').fadeIn(300);
            if (id != '0') {

                $.get("/School/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option selected>Select Class</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option>Select Class</option>');

                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option selected>Select Class</option>');
                $('.loader-ajax-container').fadeOut(300);
            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        //function GetSection(id) {
        //    $('.loader-ajax-container').fadeIn(300);
        //    if (id != '0') {

        //        $.get("/School/GetSectionListdtl?id=" + id, function (data) {
        //            debugger;
        //            if (data.length > 0) {
        //                $('#ddlsection').empty();
        //                $('#ddlsection').append('<option selected>Select Section</option>');
        //                for (var i = 0; i < data.length; i++) {
        //                    $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
        //                }
        //            }
        //            else {
        //                $('#ddlsection').empty();
        //                $('#ddlsection').append('<option>Select Section</option>');
        //            }
        //            $('.loader-ajax-container').fadeOut(300);
        //        }).fail(function (xhr) {
        //            alert(xhr.responseText); // or whatever
        //        });
        //    }
        //    else {
        //        $('#ddlsection').empty();
        //        $('#ddlsection').append('<option selected>Select Section</option>');
        //        $('.loader-ajax-container').fadeOut(300);
        //    }
        //}

        //========================GET SECTION DETAILS==================================//


    })
</script>
