﻿@{
    ViewBag.Title = "ViewNotice";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@{
    ViewBag.Title = "ViewWorksheet";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

@model IEnumerable<DigiChamps.Controllers.SchoolReportController.NoticeModalClass>

<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
<div class="page-content-wrap">
   
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Admin/AdminDashboard">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            @if (ViewBag.Breadcrumb != null)
            {
                <li class="active">@ViewBag.Breadcrumb</li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">

                    <h3><i class="fa fa-cubes"></i>School Notice</h3>
                    <div class="box-tool box-tooll">
                        <a href="/SchoolReport/CreateNotice" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Send Notice</span></a>
                    </div>
                </div>

                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                @*<p>
                                        <object width="100%" height="500px" id="pdfview" data="#"></object>
                                    </p>*@
                                <div id="pdfview"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>


                <div class="box-content">
                    @using (Html.BeginForm("ViewNotice", "SchoolReport", FormMethod.Get, new { enctype = "multipart/form-data", @id = "validation-form" }))
                    {
                    <div class="row">
                        <div class="col-md-3 px-1">
                            <div class="form-group">School</div>
                            <div class="form-group">
                                <select id="ddlschool" name="school" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">Board</div>
                            <div class="form-group">
                                <select id="ddlboard" name="board" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">Class</div>
                            <div class="form-group">
                                <select id="ddlclass" name="cls" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-3 px-1">
                            <div class="form-group">Section</div>
                            <div class="form-group">
                                <select id="ddlsection" name="sec" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">Student</div>
                            <div class="form-group">
                                <select id="ddlstudent" name="student" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">From Date :</div>
                            <div class="form-group">
                                <input type="date" id="txtfdt" value="@ViewBag.fdt" name="fdt" class="form-control" />
                                <label class="text-danger">@ViewBag.msg</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">To Date :</div>
                            <div class="form-group">
                                <input type="date" id="txttdt" value="@ViewBag.tdt" name="tdt" class="form-control" />
                            </div>
                        </div>



                        <div class="col-md-3 px-1">
                            <div class="form-group"><input type="submit" value="Search" class="btn btn-primary" /></div>

                        </div>
                    </div>
                    }


                    <div class="table-responsive voffset3">

                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Student</th>
                                    <th>Mobile</th>
                                    <th>Titel</th>
                                    <th>Description</th>
                                    <th>Posted Dt</th>
                                    <th>PDF</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @if (Model != null)
                                {
                                    foreach (var v in Model)
                                    {
                                <tr>
                                    <td>@(i += 1)</td>
                                    <td>@v.Customer_Name</td>
                                    <td>@v.Mobile</td>
                                    <td>@v.Titel</td>
                                    <td style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@v.Description">@v.Description</td>
                                    <td>@v.Inserted_Date.ToString("yyyy-MM-dd")</td>
                                    @if (v.attachment!= " ")
                                    {
                                        <td><a id="/Images/Notice/@v.attachment" class="pdfid" href="#"><i class="fa fa-file-pdf-o"></i></a></td>

                                    }
                                    else
                                    {
                                        <td>NA</td>

                                    }


                                    <td>
                                        @*@Html.ActionLink(" ", "CreateOrEditWorksheet", "SchoolReport", new { id = @v.Module_ID, returnurl = @System.Web.HttpContext.Current.Request.Url }, new { @class = "btn btn-sm btn-primary show-tooltip fa fa-edit", @title = "Edit" })


            @Html.ActionLink(" ", "DeleteWorksheet", "SchoolReport", new { id = @v.Module_ID, returnurl = @System.Web.HttpContext.Current.Request.Url }, new { @class = "btn btn-sm btn-danger show-tooltip fa fa-trash-o", @onclick = "return confirm('Are you sure want to delete the worksheet?')", @data_original_title = "Delete", @title = "Delete" })*@

                                    </td>

                                </tr>
                                    }

                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
  {
    <script type="text/javascript" src="~/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
    <script>

        $(document).ready(function () {


            $("#table1").on('click', '.pdfid', function (event) {
                debugger;
                var href = "http://learn.odmps.org" + $(this).attr("id");
                //var href = "http://localhost:63806/" + $(this).attr("id");

                //$('#pdfview').attr('data', href);
                $('#pdfview').html('<embed src="' + href + '" width="100%" height="500px" />');
                $('#myModal2').modal('show');

            })
        })
    </script>

    <script language="javascript" type="text/javascript">

        $('.close').click(function () {

            location.reload();
            $('#myModal').modal('hide');

        });

    </script>
}
<script src="~/Student_assets/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Student_assets/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        var boardid = '@(ViewBag.board == null ? 0 : ViewBag.board)';
        var classid = '@(ViewBag.cls == null ? 0 : ViewBag.cls)';
        var schoolid = '@(ViewBag.school == null ? 0 : ViewBag.school)';
        var secid = '@(ViewBag.sec == null ? 0 : ViewBag.sec)';
        var studentid = '@(ViewBag.student == null ? 0 : ViewBag.student)';
        GetSchool();
        GetBoard();
        GetClass(boardid);
        GetSection(classid, schoolid);
        GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val())
        $('#ddlschool').change(function () {
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val());
        });
        $('#ddlboard').change(function () {
            GetClass($('#ddlboard').val());
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val());
        });

        $('#ddlclass').change(function () {
            $('#ddlsection').empty();
            $('#ddlsubject').empty();
            GetSection($('#ddlclass').val(), $('#ddlschool').val());
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val());
        });


        $('#ddlsection').change(function () {
            GetStudent($('#ddlboard').val(), $('#ddlclass').val(), $('#ddlschool').val(), $('#ddlsection').val());
        });



        //========================GET School DETAILS==================================//

        function GetSchool() {

            $.get("/SchoolReport/GetSchool", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected value="">Select School</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlschool').append('<option value="' + data[i].SchoolId + '">' + data[i].SchoolName + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlschool').val(schoolid);
                    }
                }
                else {
                    $('#ddlschool').empty();
                    $('#ddlschool').append('<option selected value="">Select School</option>');

                }

            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET School DETAILS==================================//

        //========================GET BOARD DETAILS==================================//

        function GetBoard() {

            $.get("/School/GetBoardList", function (data) {
                debugger;
                if (data.length > 0) {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected  value="">Select Board</option>');

                    for (var i = 0; i < data.length; i++) {
                        $('#ddlboard').append('<option value="' + data[i].Board_Id + '">' + data[i].Board_Name + '</option>');
                    }
                    if (boardid > 0) {
                        $('#ddlboard').val(boardid);
                    }
                }
                else {
                    $('#ddlboard').empty();
                    $('#ddlboard').append('<option selected  value="">Select Board</option>');

                }

            }).fail(function (xhr) {
                alert(xhr.responseText); // or whatever
            });
        }

        //========================GET BOARD DETAILS==================================//

        //========================GET CLASS DETAILS==================================//

        function GetClass(id) {
            if (id != '0') {
                $.get("/SchoolReport/GetClassListdtl?id=" + id + "", function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlclass').empty();

                        $('#ddlclass').append('<option  selected>All</option>');

                        for (var i = 0; i < data.length; i++) {
                            $('#ddlclass').append('<option value="' + data[i].Class_Id + '">' + data[i].Class_Name + '</option>');

                        }
                        $('#ddlclass').val(classes);
                    }
                    else {
                        $('#ddlclass').empty();
                        $('#ddlclass').append('<option >All</option>');
                    }

                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlclass').empty();
                $('#ddlclass').append('<option  selected>All</option>');

            }
        }

        //========================GET CLASS DETAILS==================================//
        //========================GET SECTION DETAILS==================================//

        function GetSection(id, school) {

            if (id != '0') {

                $.get("/SchoolReport/GetSectionListdtl?id=" + id + "&school=" + school, function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option  selected>All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlsection').append('<option value="' + data[i].SectionId + '">' + data[i].SectionName + '</option>')
                        }
                        $('#ddlsection').val(section);
                    }
                    else {
                        $('#ddlsection').empty();
                        $('#ddlsection').append('<option >All</option>');
                    }
                    $('.loader-ajax-container').fadeOut(300);
                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlsection').empty();
                $('#ddlsection').append('<option   selected>All</option>');

            }
        }

        //========================GET SECTION DETAILS==================================//

        //-----------------------get Student----------------------
        function GetStudent(boardid, classid, schoolid, sectionid) {
            debugger;

            if (boardid != '0') {
                $.get("/SchoolReport/GetAllStudentById?boardid=" + boardid + "&classid=" + classid + "&schoolid=" + schoolid + "&sectionid=" + sectionid, function (data) {
                    debugger;
                    $('#ddlstudent').append('<option  value=" ">All</option>');
                    if (data.length > 0) {
                        $('#ddlstudent').empty();
                        $('#ddlstudent').append('<option selected  value=" ">All</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlstudent').append('<option value="' + data[i].Regd_ID + '">' + data[i].Customer_Name + '</option>')
                        }
                        if (studentid != '0') {
                            $('#ddlstudent').val(studentid);
                        }
                    }
                    else {
                        $('#ddlstudent').empty();
                        $('#ddlstudent').append('<option  value=" ">All</option>');
                    }

                }).fail(function (xhr) {
                    alert(xhr.responseText); // or whatever
                });
            }
            else {
                $('#ddlstudent').empty();
                $('#ddlstudent').append('<option selected value=" ">All</option>');

            }
        }


    })
</script>


