﻿@{
    ViewBag.Title = "ViewDoubtDetails";
    Layout = "~/Views/Shared/_SchoolReportLayout.cshtml";
}

<link href="~/Content/chatstylejs/ChatStyleSheet.css" rel="stylesheet" />



@*<style>
        .comment {
            overflow: hidden;
            padding: 0 0 1em;
            border-bottom: 1px solid #ddd;
            margin: 0 0 1em;
            *zoom: 1;
        }

        .comment-img {
            float: left;
            margin-right: 33px;
            border-radius: 5px;
            overflow: hidden;
        }

            .comment-img img {
                display: block;
            }

        .comment-body {
            overflow: hidden;
        }

        .comment .text {
            padding: 10px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            background: #fff;
        }

            .comment .text p:last-child {
                margin: 0;
            }

        .comment .attribution {
            margin: 0.5em 0 0;
            font-size: 14px;
            color: #666;
        }

        /* Decoration */

        .comments,
        .comment {
            position: relative;
        }

            .comments:before,
            .comment:before,
            .comment .text:before {
                content: "";
                position: absolute;
                top: 0;
                left: 65px;
            }

            .comments:before {
                width: 3px;
                top: -20px;
                bottom: -20px;
                background: rgba(0,0,0,0.1);
            }

            .comment:before {
                width: 9px;
                height: 9px;
                border: 3px solid #fff;
                border-radius: 100px;
                margin: 16px 0 0 -6px;
                box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
                background: #ccc;
            }

            .comment:hover:before {
                background: orange;
            }

            .comment .text:before {
                top: 18px;
                left: 78px;
                width: 9px;
                height: 9px;
                border-width: 0 0 1px 1px;
                border-style: solid;
                border-color: #e5e5e5;
                background: #fff;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }

        .closecomment {
            position: absolute;
            top: 1px;
            right: 6px;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            font-weight: bolder;
            font-size: 0.81rem;
        }
    </style>*@
@model DigiChamps.Controllers.SchoolReportController.TicketDetailscls
@{
    string message = TempData.ContainsKey("Message") ? TempData["Message"].ToString() : string.Empty;
    string styleDisplayValue = "none";
    string MessageType = TempData.ContainsKey("MessageType") ? TempData["MessageType"].ToString() : "success";
    string mode = "";

    if (!string.IsNullOrEmpty(message))
    {
        //MessageType = ViewBag.MessageType.ToString();
        styleDisplayValue = "block";
    }
    else
    {
        styleDisplayValue = "none";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Doubt No : @Model.doubt.ticketNo</h3>
                <div class="box-tool box-tooll">
                </div>
            </div>

            <div class="box-content">
                <div class="form-group">
                    <div class="col-md-2">
                        <strong>Student Name :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.studentName</label>
                    </div>
                    <div class="col-md-2">
                        <strong>Contact No :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.mobile</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-2">
                        <strong>Class :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.className</label>
                    </div>
                    <div class="col-md-2">
                        <strong>Raised Date :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.raiseDate</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-2">
                        <strong>Section :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.sectionName</label>
                    </div>
                    <div class="col-md-2">
                        <strong>Teacher Name :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.TeacherName</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-2">
                        <strong>Subject :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.subjectName</label>
                    </div>
                    <div class="col-md-2">
                        <strong>Chapter :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.chapterName</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">

                    <div class="col-md-2">
                        <strong>Status :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.statusname</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-file"></i> Zoom Details :  </h3>
                <div class="box-tool box-tooll">
                </div>
            </div>

            <div class="box-content">
                <div class="form-group">
                    <div class="col-md-2">
                        <strong>Zoom Id :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.zoomId</label>
                    </div>
                    <div class="col-md-2">
                        <strong>Zoom Code :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.zoomCode</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-2">
                        <strong>Zoom Mail-Id :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.zoomMailId</label>
                    </div>
                    <div class="col-md-2">
                        <strong>Zoom Password :</strong>
                    </div>
                    <div class="col-md-4">
                        <label>@Model.doubt.zoomPassword</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="box">

            <div class="box-content">
                <div class="page">
                    <div class="marvel-device nexus5">

                        <div class="screen">
                            <div class="screen-container">

                                <div class="chat">
                                    <div class="chat-container">
                                        <div class="user-bar">
                                            <div class="back">
                                                <i class="zmdi zmdi-arrow-left"></i>
                                            </div>
                                            <div class="avatar">
                                                <i class="fa fa-user-circle" style="font-size: 36px;"></i>
                                            </div>
                                            <div class="name">
                                                <span>@Model.doubt.studentName</span>
                                                <span class="status">@Model.doubt.statusname</span>
                                            </div>
                                          
                                            <div class="actions more">

                                            </div>
                                            <div class="actions">
                                                <i class="zmdi zmdi-phone"></i>
                                            </div>
                                        </div>
                                        <div class="conversation">
                                            <div class="conversation-container">
                                                @if (Model.comments.Count() > 0)
                                                {
                                                    DigiChamps.Models.DigiChampsEntities DbContext = new DigiChamps.Models.DigiChampsEntities();
                                                    var regdet = DbContext.tbl_DC_Registration.Where(a => a.Is_Active == true).ToList();
                                                    var teachers = DbContext.Teachers.Where(a => a.Active == 1).ToList();
                                                    foreach (var a in Model.comments)
                                                    {
                                                        if (a.Is_Teacher == true)
                                                        {

                                                            <div class="message sent">
                                                                @if (a.User_Comment != null && a.User_Comment != "")
                                                                {
                                                                    @Html.Raw(HttpUtility.HtmlDecode(a.User_Comment))
                                                                }
                                                                @if(a.User_Comment != null && a.User_Comment != "" && a.Is_Audio == true && a.R_image != null && a.R_image != "")
                                                                {
                                                                    <br />
                                                                }
                                                                @if (a.Is_Audio == true && a.R_image != null && a.R_image != "")
                                                                {
                                                                    <audio controls>
                                                                        <source src="@a.R_image" />
                                                                    </audio>
                                                                }
                                                                @if (a.Is_Audio == false && a.R_image != null && a.R_image != "")
                                                                {
                                                                    <img onclick="viewattachment('@a.R_image')" style="width: 187px;" src="@a.R_image" />
                                                                }
                                                                <span class="metadata">
                                                                    <span class="time"></span>
                                                                    @if (a.Is_Taecher_Read == true)
                                                                    {
                                                                        <span class="tick">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7" /></svg>
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="tick">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#7867678f" /></svg>
                                                                        </span>
                                                                    }
                                                                </span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="message received">
                                                                @if (a.User_Comment != null && a.User_Comment != "")
                                                                {
                                                                    @Html.Raw(HttpUtility.HtmlDecode(a.User_Comment))
                                                                }
                                                                @if (a.Is_Audio == true && a.R_image != null && a.R_image != "")
                                                                {
                                                                    <audio controls>
                                                                        <source src="@a.R_image" />
                                                                    </audio>
                                                                }
                                                                @if (a.Is_Audio == false && a.R_image != null && a.R_image != "")
                                                                {
                                                                    <img onclick="viewattachment('@a.R_image')" style="width: 187px;" src="@a.R_image" />

                                                                }
                                                                <span class="metadata">
                                                                    <span class="time"></span>
                                                                    @if (a.Is_Taecher_Read == true)
                                                                    {
                                                                        <span class="tick">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7" /></svg>
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="tick">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#7867678f" /></svg>
                                                                        </span>
                                                                    }
                                                                </span>
                                                            </div>
                                                        }

                                                    }
                                                }


                                            </div>
                                           </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalimagepreview" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">
                <h5><strong>Image Preview</strong></h5>*@
            <button type="button" class="close" id="imgclose" style="font-size:38px;color:black;">&times;</button>
            @*</div>*@
            <div class="modal-body text-center">
                <img id="imagepreview" alt="image upload" style="width:100%;" />
            </div>
            <div class="modal-footer">
                <button type="button" title="Send" id="btnuploadimage" class="btn btn-primary"><i class="fa fa-angle-right" style="font-size:38px;font-weight:700;"></i></button>
            </div>
        </div>

    </div>

</div>
<div id="myModalaudiopreview" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">
                <h5><strong>Image Preview</strong></h5>*@
            <button type="button" class="close" id="audioclose" style="font-size:38px;color:black;">&times;</button>
            @*</div>*@
            <div class="modal-body text-center">
                <audio controls id="audiosrc">
                </audio>
            </div>
            <div class="modal-footer">
                <button type="button" title="Send" id="btnaudioimage" class="btn btn-primary"><i class="fa fa-angle-right" style="font-size:38px;font-weight:700;"></i></button>
            </div>
        </div>

    </div>

</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="pdfview"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>
<div id="myReasonModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Reject Doubt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <strong>Reason :</strong>
                    <textarea id="txtreason" class="form-control" rows="7"></textarea>
                </div>
                <div class="form-group text-center">
                    <button id="btnreject" class="btn btn-danger">Reject Doubt</button>
                </div>
            </div>
        </div>

    </div>

</div>
<div id="mycloseReasonModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Close Doubt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <strong>Reason :</strong>
                    <textarea id="txtreason1" class="form-control" rows="7"></textarea>
                </div>
                <div class="form-group text-center">
                    <button id="btnclose" class="btn btn-danger">Close Doubt</button>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="~/Student_assets/assets/js/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    function viewattachment(url) {
        debugger;
        //  var href = "http://learn.odmps.org" + url;
        var href = "http://localhost:63806" + url;

        //$('#pdfview').attr('data', href);
        $('#pdfview').html('<embed src="' + href + '" width="100%" height="500px" />');
        $('#myModal2').modal('show');

    }
    function askfordelete(commentid) {
        if (commentid == 0) {
            alert('You can\'t delete this chat message');
        }
        else {
            window.location = '/TeacherAccess/DeleteReplyComment?id=' + commentid;

        }
    }
    $(document).ready(function () {
        $("audio").on("play", function () {
            $("audio").not(this).each(function (index, audio) {
                audio.pause();
            });

        });
    })
</script>
<script>
    function askreason() {
        $('#myReasonModal').modal('show');
        $('#txtreason').val('');
    }
    function askclosereason() {
        $('#mycloseReasonModal').modal('show');
        $('#txtreason1').val('');
    }
    //$(document).ready(function () {

    //})
</script>
@*<script type="text/javascript" src="~/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>*@
@*<script type="text/javascript" src="~/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>*@
@*<script src="~/js/jquery.elevatezoom.js"></script>*@
<script src="~/Content/chatstylejs/chatscript.js"></script>

