﻿@{
    ViewBag.Title = "Allotmentor";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}


<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> Alloting of mentor
            </h1>

        </div>
    </div>


   
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Mentor Details</h3>
                    @*<div class="box-tool box-tooll">

                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>

                        </div>*@
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-3">
                            Goals :
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="txtgoal" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row">
                        <div class="col-md-3">
                            Remarks :
                        </div>
                        <div class="col-md-9">
                            <textarea id="txtremarks" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row">
                        <div class="col-md-3">
                            Days :
                        </div>
                        <div class="col-md-9">
                            <table style="width:100%;text-align:center;" border="1">
                                <tr>
                                    <td style="padding:10px;"><input type="checkbox" id="chkmon" />Mon</td>
                                    <td style="padding:10px;"><input type="checkbox" id="chktue" />Tue</td>
                                    <td style="padding:10px;"><input type="checkbox" id="chkwed" />Wed</td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;"><input type="checkbox" id="chkthur" />Thur</td>
                                    <td style="padding:10px;"><input type="checkbox" id="chkfri" />Fri</td>
                                    <td style="padding:10px;"><input type="checkbox" id="chksat" />Sat</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row">
                        <div class="col-md-3">
                            Time Slot :
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="hasTimepicker form-control" id="timepicker_start" name="timepicker_start" data-rule-required="true" placeholder="Select From Time" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="hasTimepicker form-control" id="timepicker_end" name="timepicker_end" data-rule-required="true" placeholder="Select To Time" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row">
                        <strong>Mentor for Subjects</strong>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row">
                        <div class="col-md-3">
                            Select Mentor :
                        </div>
                        <div class="col-md-9">
                           <select id="ddlmentor" class="form-control">
                               <option value="0">Select Mentor</option>
                               @if (ViewBag.Getmentors != null)
                               {
                                   foreach (var v in ViewBag.Getmentors)
                                   {
                                    <option value="@v.Teach_ID">@v.Teacher_Name</option>
                                   }
                               }
                           </select>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row">
                        <div class="col-md-3">
                            Select Subjects :
                        </div>
                        <div class="col-md-9" id="divsubjects">
                            @if (ViewBag.GetSubjects != null)
                            {
                                foreach (var v in ViewBag.GetSubjects)
                                {
                                    <div class="col-md-4" style="margin-bottom:10px;">
                                        <input type="checkbox" id="@v.Subject_Id" /><span>@v.Subject (@v.Classname)</span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group text-center">
        <button id="btnsubmitdata" class="btn btn-primary">Submit</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        var input = $('#timepicker_start');
        input.clockpicker({
            autoclose: true
        });

        var input = $('#timepicker_end');
        input.clockpicker({
            autoclose: true
        });
        $(".datepicker").datepicker();

    })
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="build/js/intlTelInput.js"></script>
<script src="~/ContentWebsite/build/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<script src="~/ContentWebsite/Counter-Up-master/jquery.counterup.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>