﻿@{
    ViewBag.Title = "Firstcallsummary";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="page-content-wrap">
    <div class="page-title">
        <div>
            <h1>
                <i class="fa fa-file-o"></i> First Call Summary Report
            </h1>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i> Marks Obtained</h3>
                    @*<div class="box-tool box-tooll">

                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>

                        </div>*@
                </div>
                <div class="box-content">
                    <div class="table-responsive voffset3">
                        <table class="table table-advance" id="table1">

                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Subject</th>
                                    <th>Total Mark</th>
                                    <th>Secured Mark</th>
                                    <th>Percentage</th>

                                </tr>
                            </thead>
                            <tbody>
                                @*@{   int i = 1;}
                                    @if (ViewBag.StudentDetails != null)
                                    {
                                        foreach (var item in ViewBag.StudentDetails)
                                        {
                                            <tr>
                                                <td>@Html.Raw(i++)</td>
                                                <td>@item.Regd_No</td>
                                                <td>@item.Customer_Name</td>
                                                <td>
                                                    @item.Mobile
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @if (@item.Inserted != null)
                                                    {
                                                        @item.Inserted
                                                    }

                                                </td>
                                                <td>
                                                    @item.Organisation_Name
                                                </td>
                                                <td>
                                                    @item.Class_Name
                                                </td>

                                            </tr>
                                        }
                                    }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Weakness Details</h3>
                    @*<div class="box-tool box-tooll">

                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>

                        </div>*@
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-2">
                            Subject :
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddlsubject"></select>
                        </div>
                        <div class="col-md-2">
                            Weakness(%) :
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="txtweakness" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" id="btnaddweakness">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive voffset3">
                            <table class="table table-advance" id="table2">

                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Subject</th>
                                        <th>Weakness(%)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Available days for Session</h3>
                    @*<div class="box-tool box-tooll">

                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>

                        </div>*@
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-2">
                            Day :
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" id="ddldays"></select>
                        </div>
                        <div class="col-md-5">

                        </div>

                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="row">
                        <div class="col-md-2">
                            Available Time :
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-5">
                                    <input type="text" class="hasTimepicker form-control" id="timepicker_start" name="timepicker_start" data-rule-required="true" placeholder="Select From Time" />
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="hasTimepicker form-control" id="timepicker_end" name="timepicker_end" data-rule-required="true" placeholder="Select To Time" />
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id="btnaddtime">Add</button>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="row">
                                <div class="table-responsive voffset3">
                                    <table class="table table-advance" id="table3">

                                        <thead>
                                            <tr>
                                                <th>Sl No.</th>
                                                <th>From Time</th>
                                                <th>To Time</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-file"></i>Parents Expectation</h3>
                    @*<div class="box-tool box-tooll">

                            <a href="#" class="btn btn-primary dropdown-toggle" onclick="$('#table1').tableExport({ type: 'excel', escape: 'false' });"><i class="fa fa-file-excel-o"></i> XLS</a>

                        </div>*@
                </div>
                <div class="box-content">
                    <div class="form-group">
                        <span>What they expect in 1 month :</span>                    
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <textarea id="txtexpect" class="form-control"></textarea>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="form-group">
                        <span>Long term plan :</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <textarea id="txtplan" class="form-control"></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group text-center">
        <button id="btnsubmitdata" class="btn btn-primary">Submit</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        var input = $('#timepicker_start');
        input.clockpicker({
            autoclose: true
        });

        var input = $('#timepicker_end');
        input.clockpicker({
            autoclose: true
        });
        $(".datepicker").datepicker();

    })
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="build/js/intlTelInput.js"></script>
<script src="~/ContentWebsite/build/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<script src="~/ContentWebsite/Counter-Up-master/jquery.counterup.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>