﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="~/assets/bootstrap-daterangepicker/daterangepicker.css" />

<div class="box">
    <div class="box-title">
        <h3><i class="fa fa-dashboard"></i> Dashboard</h3>
        <div class="box-tool">
        </div>
    </div>
    <div class="box-content">
        @*<div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" id="date_range" placeholder="From Date - To Date" />
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- BEGIN Tiles -->
        <div class="row">

            <div class="col-md-4">
                <div class="tile tile-dark-blue">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                            @ViewBag.Closures
                        </p>
                        <p class="title">Closures Data</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile tile-orange">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                            @ViewBag.mentorsalloted
                        </p>
                        <p class="title">First Call mentors alloted</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile tile-lime">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                            @ViewBag.summary
                        </p>
                        <p class="title">First Call Summary Report</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile tile-magenta">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">
                            @ViewBag.Mentors
                        </p>
                        <p class="title">Mentor alloted</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tile tile-gray">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">                            
                            @ViewBag.Mentorship
                        </p>
                        <p class="title">Mentorship began</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tiles -->
    </div>
</div>

