﻿@{
    ViewBag.Title = "UploadDetails";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}

@model DigiChamps.Controllers.AdminController.PDF_Class

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3>
                        <i class="fa fa-file"></i>
                        Add School

                    </h3>
                </div>
                @using (Html.BeginForm("UploadSalesStudent", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="box-content">
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3  control-label">Download Excel File<span class="asterisk">*</span></label>
                                <div class="col-sm-9  controls">
                                    <a href="@Url.Action("DownloadSalesStudentExcel", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Download Excel</span> </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3  control-label">Upload Excel File<span class="asterisk">*</span></label>
                                <div class="col-sm-9  controls">
                                    @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                                    @Html.ValidationMessageFor(model => model.files)
                                </div>
                            </div>

                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <a href="@Url.Action("GetSaleStudents", "Admin")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Back</span> </a>
                                    <button id="btnAddSchool" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


