﻿
<!DOCTYPE html>
<html>
<!-- Mirrored from themes.shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Sep 2014 04:38:05 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - MentorDashboard Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--base css styles-->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link rel="stylesheet" href="~/css/flaty.css">
    <link rel="stylesheet" href="~/css/flaty-responsive.css">
    <link rel="shortcut icon" href="~/img/favicon.html">
</head>
<body class="login-page">
    <!-- BEGIN Main Content -->
    <div class="login-wrapper">
        <!-- BEGIN Login Form -->
        @using (Html.BeginForm("Login", "MentorDashboard", FormMethod.Post, 
            new { @id = "validation-form" }))
        {
            <h3><img src="~/Images/digi1.jpg" height="40" width="40" />Login to your account</h3>
            if (TempData["ErrorMessage"] != null)
            {
                <div style="font-size: 13px; color: red;">@TempData["ErrorMessage"]</div>
            }
            <hr />
            <div class="form-group">
                <div class="controls">
                    <input type="text" placeholder="Username" id="User_name" name="User_name" class="form-control" data-rule-required="true" data-msg-required="Please enter username" />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-rule-required="true" data-msg-required="Please enter password" />
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">LOGIN</button>
                </div>
            </div>
            <hr />
            <p class="clearfix">
                <a href="#" class="goto-forgot pull-left">Forgot Password?</a>

            </p>

        }
        <!-- END Login Form -->
        <!-- BEGIN Forgot Password Form -->
        @*@using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @id = "form-forgot" }))
            {*@
        <form id="form-forgot" style="display:none">
            <h3><img src="~/Images/digi1.jpg" height="40" width="40" />Get your password</h3>
            <hr />
            <span id="frgmsg" style="color: #0090ff;"></span>
            <div class="form-group">
                <div class="controls">
                    <input type="email" placeholder="Email" 
                           class="form-control" id="t_mail" name="email" required />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">Recover</button>
                </div>
            </div>
            <hr />
            <p class="clearfix">
                <a href="/MentorTestDashboard/Login" 
                   class="goto-login pull-left">← Back to login form</a>
            </p>
        </form>
       
    </div>
    <!-- END Main Content -->
    <!--basic scripts-->
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>


    <script type="text/javascript">

        function goToForm(form) {
            $('.login-wrapper > form:visible').fadeOut(500, function () {
                $('#form-' + form).fadeIn(500);
            });
        }
        $(function () {
            $('.goto-login').click(function () {
                goToForm('login');
            });
            $('.goto-forgot').click(function () {
                goToForm('forgot');
            });
        });
        $("#form-forgot").submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Admin/ForgotPassword",
                data: { email: $('#t_mail').val() },
                datatype: "json",
                success: function (data) {
                    $("#frgmsg").html(data);
                    $("#validation-form").get(0).reset();
                    $("#form-forgot").get(0).reset();
                }
            });
        });


        $(function () {
            if (jQuery().validate) {
                var removeSuccessClass = function (e) {
                    $(e).closest('.form-group').removeClass('has-success');
                }
                var $validator = $('#validation-form').validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    errorPlacement: function (error, element) {
                        if (element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else if (element.next('.chosen-container').length) {
                            error.insertAfter(element.next('.chosen-container'));
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        var el = $(validator.errorList[0].element);
                        if ($(el).hasClass('chosen')) {
                            $(el).trigger('chosen:activate');
                        } else {
                            $(el).focus();
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change dony by hightlight
                        $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
                        setTimeout(function () { removeSuccessClass(element); }, 2000);
                    },

                    success: function (label) {
                        label.closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                });
            }

            //$('.goto-login').click(function () {
            //    goToForm('login');
            //});
            //$('.goto-forgot').click(function () {
            //    goToForm('forgot');
            //});
            //$('.goto-register').click(function () {
            //    goToForm('register');
            //});
        });
    </script>
</body>
</html>
