﻿@{
    ViewBag.Title = "ViewStudentDetails";
    Layout = "~/Views/Shared/MentorDashboard.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        getprofile();
        function getprofile()
        {
            
            //$('#divdata').empty();
            $.get("../MentorDashboard/GetStudentDetails", "", function (data)
            {
                
                debugger;
                //if (data.length > 0) {
                //    for (var i = 0; i < data.length; i++) {
                        $('#name').text(data.Customer_Name);
                        $('#mobile').text(data.Mobile);
                        $('#gender').text(data.Gender);
                        $('#dob').text(data.DOB);
                        $('#email').text(data.Email);
                        $('#school').text(data.SchoolName);
                        $('#board').text(data.Board_Name);
                        $('#class').text(data.Class_Name);
                        $('#section').text(data.SectionName);
                //       // $('#divdata').append(s);
                //    }
                //}
                //else
                //{
                //    $('#divdata').empty();
                //    var s = '<div><label>Student Details are not available</label></div>';
                //    $('#divdata').append(s);
                  
                //}
            })
        }
    })
</script>

<div class="container-fluid">
    <div class="row card">
        <div class="card-body">
            <div class="row">


                <label class="col-6"><b>Name</b></label>
                <label class="col-6" id="name"></label>
            </div>
            <div class="row">

                <label class="col-6"><b>Mobile number</b></label>
                <label class="col-6" id="mobile"></label>
            </div>
            <div class="row">
                <label class="col-6"><b>Gender</b> </label>
                <label class="col-6" id="gender"></label>
            </div>
            <div class="row">
                <label class="col-6"><b>DOB </b></label>
                <label class="col-6" id="dob"></label>
            </div>
            <div class="row">
                <label class="col-6"><b>Email </b></label>
                <label class="col-6" id="email"></label>
            </div>
            <div class="row">
                <label class="col-6"><b>School </b> </label>
                <label class="col-6" id="school"></label>
            </div>

            <div class="row">
                <label class="col-6"><b>Board </b> </label>
                <label class="col-6" id="board"></label>
            </div>
            <div class="row">
                <label class="col-6"><b>Class  </b></label>
                <label class="col-6" id="className"></label>
            </div>
            <div class="row">
                <label class="col-6"><b>Section </b> </label>
                <label class="col-6" id="section"></label>

            </div>


        </div>
        </div>
        <div id="divdata">

        </div>
    </div>

