﻿
@model PagedList.IPagedList<DigiChamps.Controllers.MentorDashboardController.StudentExamData>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ViewDashboard";
    
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <title>Mentor Dashboard</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-white bg-white ">
            <a class="navbar-brand" href="#">
                <img src="~/Images/Digichamps_logo.png" alt="">

            </a>
            <h3 style="margin-left:150px;">Mentor Dashboard</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    
                    <button class="btn btn-outline-success  ml-auto my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <div class="row card" style="margin:20px;">
            <div class="card-header">
                Student List
            </div>
            <div class="card-body">
                
                    <table class="table table-bordered table-hover table-responsive table-advance">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Mobile Number</th>
                                <th scope="col">Exam Appeared Date</th>
                                <th scope="col">Total Questions</th>
                                <th scope="col">Questions Attempted</th>
                                <th scope="col">Questions Answered</th>
                                <th scope="col">Academic Result</th>
                                <th scope="col">Social Result</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                DigiChamps.Models.DigiChampsEntities DbContext =
                                    new DigiChamps.Models.DigiChampsEntities();
                                int rowNo = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@((rowNo += 1)+(Model.PageNumber*10))</td>
                                        <td>@item.StudentName</td>
                                        <td>@item.MobileNumber</td>

                                        <td>@item.ExamAppeared</td>
                                        <td>@item.TotalQuestions</td>
                                        <td>@item.QuestionsAttempted</td>
                                        <td>@item.QuestionsAnswered</td>
                                        <td>@item.AcademicResult</td>
                                        <td>@item.SocialResult</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" id="profile" data-id=@item.StudentId>Profile</button>
                                            <button type="button" class="btn btn-primary" id="result">Exam Result</button>
                                            @*@Html.ActionLink(" ", "ViewProfile", "MentorDashboard",
                                        new { ID = @item.StudentId }, new
                                        {
                                            @class = "btn btn-sm btn-primary show-tooltip fa fa-user",
                                            @title = "View Profile"
                                        })
                                            @Html.ActionLink(" ", "ViewExamResult", "MentorDashboard",
                                        new { ID = @item.ExamResultId },
                                        new
                                        {
                                            @class = "btn btn-sm btn-danger show-tooltip fa fa-file-alt",
                                            @title = "View Exam Result"
                                        })*@
                                        </td>
                                        @*<td><a href="" class="btn btn-danger btn-xs delete"
   data-toggle="modal" data-target="#myModal" data-id="@item.StudentId">Delete</a></td>*@
                                        <td hidden>@item.ExamResultId</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ViewDashboard",new { page}))
                    
                </div>
            </div>
        </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();

          
            $('#profile').click(function (e) {
                e.preventDefault();

                var id = $('#profile').data("id");
               
                $.ajax({
                    type: "GET",
                    url: "/api/Registrationdetail/GetStudentDetails",
                    data: { RegdId: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                       
                        $('#name').text(data.Customer_Name);
                        $('#mobile').text(data.Mobile);
                        $('#gender').text(data.Gender);
                        $('#dob').text(data.DOB);
                        $('#email').text(data.Email);
                        $('#school').text(data.SchoolName);
                        $('#board').text(data.Board_Name);
                        $('#class').text(data.Class_Name);
                        $('#section').text(data.SectionName);

                        $('#myModal').modal('show');
                        
                    }
                });

            

            });

            $('#result').click(function (e) {
                e.preventDefault();


                alert("yes");

            });
            $('#close').click(function (e) {
                e.preventDefault();

                $('#myModal').modal('hide');

            });
        });
    </script>
</body>
</html>




<script type="text/javascript">

    //Everytime we press delete in the table row
    

  
</script>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Student Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">


                    <label class="col-6"><b>Name</b></label>
                    <label class="col-6" id="name"></label>
                    </div>
                <div class="row">

                    <label class="col-6"><b>Mobile number</b></label>
                    <label class="col-6" id="mobile"></label>
                </div>
                <div class="row">
                    <label class="col-6"><b>Gender</b> </label>
                    <label class="col-6" id="gender"></label>
                </div>
                <div class="row">
                    <label class="col-6"><b>DOB </b></label>
                    <label class="col-6" id="dob"></label>
                </div>
                <div class="row">
                    <label class="col-6"><b>Email </b></label>
                    <label class="col-6" id="email"></label>
                </div>
                <div class="row">
                    <label class="col-6"><b>School </b> </label>
                    <label class="col-6" id="school"></label>
                </div>
                    
                <div class="row">
                    <label class="col-6"><b>Board </b> </label>
                    <label class="col-6" id="board"></label>
                </div>
                <div class="row">
                    <label class="col-6"><b>Class  </b></label>
                    <label class="col-6" id="className"></label>
                </div>
                <div class="row">
                    <label class="col-6"><b>Section </b> </label>
                    <label class="col-6" id="section"></label>

                </div>
                
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="close">Close</button>
             
            </div>
        </div>
    </div>
</div>

