#slider_container_2 {
    float: left;
    /*margin: 0 0 0 -25px;*/
    /*padding: 15px;*/
    width: 100%;
    /*background: url(../img/bg.png) no-repeat 0 0;*/
}

.SliderName_2 {
    float: left;
    width: 100%;
    /*height: 650px;*/
    overflow: hidden;
}

.SliderNamePrev_2 {
    background: url(/ContentWebsite/Slider/img/back.png) no-repeat left center;
    width: 30px;
    height: 550px;
    display: block;
    position: absolute;
   top: 0px;
    /*left: 85px;*/
    left:10%;
    text-decoration: none;
}

.SliderNameNext_2 {
        background: url(/ContentWebsite/Slider/img/next.png) no-repeat right center;
    width: 30px;
    height: 550px;
    display: block;
    position: absolute;
    top: 0px;
    right: 15%;
    text-decoration: none;
}

.SliderName_2Description {
    margin-top:10%;
    padding: 10px;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    /*text-align: center;*/
    color: #ffffff;
    text-shadow: 0 1px 3px #000000;
    /*right:137px;*/
}

#SliderNameNavigation_2 {
    margin: 0;
    padding: 10px 0 0 0;
    height: 16px;
    text-align: center;
    overflow-y: hidden;
}

    #SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover {
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: 0;
        text-decoration: none;
    }

    #SliderNameNavigation_2 a img {
        border: none;
        /*width: 16px;
        height: 16px;
        background: url(../img/bullet.png) no-repeat center center;*/
    }

    #SliderNameNavigation_2 a.active img {
        /*background: url(../img/bullet_active.png) no-repeat center center;*/
    }
