@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
/****************************************************
                        Carousel
****************************************************/
.ntspl-carousel > .carousel-inner .item img {
  width: 100%;
  height: auto;
}
.ntspl-carousel > .carousel-inner .item .carousel-caption {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 24px;
  text-shadow: none;
}
.ntspl-carousel > .carousel-control {
  opacity: 1;
  text-shadow: none;
  width: 10%;
  top: 48%;
}
.ntspl-carousel > .carousel-control.left,
.ntspl-carousel > .carousel-control.right {
  background-image: none;
}
.ntspl-carousel > .carousel-control.left span,
.ntspl-carousel > .carousel-control.right span {
  color: #ffffff;
  font-size: 24px;
}
.vertical .carousel-inner {
  height: 100%;
}
.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
  top: 0;
}
.carousel.vertical .next {
  top: 400px;
}
.carousel.vertical .prev {
  top: -400px;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}
.carousel.vertical .active.left {
  top: -400px;
}
.carousel.vertical .active.right {
  top: 400px;
}
.carousel.vertical .item {
  left: 0;
}