@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
/****************************************************
                        Info Boxes
****************************************************/
.primary-info {
  color: #2196f3;
}
.red-info {
  color: #fb5d5d;
}
.orange-info {
  color: #f7941d;
}
.green-info {
  color: #6fd64b;
}
.primarybg-info {
  background-color: #2196f3;
}
.redbg-info {
  background-color: #fb5d5d;
}
.orangebg-info {
  background-color: #f7941d;
}
.greenbg-info {
  background-color: #6fd64b;
}
.info-stats {
  background-color: #FFFFFF;
  position: relative;
  min-height: 107px;
  padding: 3px;
  padding-left: 5%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.info-stats .left {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 30%;
  bottom: 3px;
  border-radius: 2px;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
}
.info-stats .left i {
  vertical-align: middle;
  line-height: 107px;
}
.info-stats .right {
  padding-top: 5px;
  padding-left: 32%;
}
.info-stats .right h3 {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.info-stats .right h4 {
  font-size: 16px;
  font-weight: 300;
  color: #9398a0;
  line-height: 24px;
}
.info-logo-content {
  background-color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  min-height: 90px;
}
.info-logo-content ul {
  padding: 10px 20px 0px;
  display: inline-block;
  width: 100%;
}
.info-logo-content ul li {
    color: #2196f3;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
    vertical-align: middle;
}
.info-logo-content ul li i {
  font-size: 18px;
}
.info-logo-content ul li p {
  color: #9398a0;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0px;
}
.info-logo-content ul li.info-value {
  color: #aaaaaa;
  font-size: 44px;
  font-weight: 300;
  float: right;
  margin-top: -10px;
}
.info-logo-content ul.logo-content-left {
  padding-left: 100px;
}
.info-logo-content .info-logo {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 28px;
  text-align: center;
}
.info-logo-content .info-logo i {
  font-size: 30px;
  color: #ffffff;
}
.info-logo-content .info-logo.info-logo-right {
  left: 0;
  right: inherit;
}
.info-five {
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 24px;
  text-align: center;
}
.info-five > .logo {
  padding-bottom: 40px;
}
.info-five > .logo i {
  font-size: 52px;
  color: #ffffff;
}
.info-five p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}
.info-six {
  margin-bottom: 20px;
  background-color: #ffffff;
}
.info-six .info-text {
  color: #9398a0;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 24px;
  padding: 20px 10px 80px;
}
.info-six .info-bottom {
  border-top: 1px solid #e9ecf2;
}
.info-six .info-bottom ul {
  margin-bottom: 0px;
  padding: 10px;
}
.info-six .info-bottom ul li i {
  font-size: 16px;
  color: #cccccc;
}
.info-six .info-bottom.primary-bottom {
  border-bottom: 4px solid #2196f3;
}
.info-six .info-bottom.red-bottom {
  border-bottom: 4px solid #fb5d5d;
}
.info-six .info-bottom.orange-bottom {
  border-bottom: 4px solid #f7941d;
}
.info-six .info-bottom.green-bottom {
  border-bottom: 4px solid #6fd64b;
}
.info-seven {
  margin-bottom: 20px;
  padding: 20px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 24px;
  position: relative;
}
.info-seven .logo-seven {
  float: right;
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -webkit-transform: rotate(30deg);
  /* Chrome, Safari, Opera */
}
.info-seven .logo-seven i {
  font-size: 46px;
}
.info-seven .logo-seven i.dark-info-green {
  color: #4aad27;
}
.info-seven .logo-seven i.dark-info-red {
  color: #ec0606;
}
.info-seven .logo-seven i.dark-info-orange {
  color: #c16c07;
}
.info-seven .logo-seven i.dark-info-primary {
  color: #0a6ebd;
}
.info-seven p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 300;
}