@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
html,
body {
  height: 100%;
  position: relative;
}
/***************************
   Text Inputs + Textarea
****************************/
.input-field {
  position: relative;
  margin-top: 1rem;
}
.input-field label {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0.75rem;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
}
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=url]:focus + label,
.input-field input[type=date]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=search]:focus + label,
.input-field textarea:focus.materialize-textarea + label {
  color: #26a69a;
}
.input-field input[type=text].valid,
.input-field input[type=password].valid,
.input-field input[type=email].valid,
.input-field input[type=url].valid,
.input-field input[type=date].valid,
.input-field input[type=tel].valid,
.input-field input[type=number].valid,
.input-field input[type=search].valid,
.input-field textarea.materialize-textarea.valid {
  border-bottom: 1px solid #4CAF50;
  -webkit-box-shadow: 0 1px 0 0 #4CAF50;
  -moz-box-shadow: 0 1px 0 0 #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}
.input-field input[type=text].invalid,
.input-field input[type=password].invalid,
.input-field input[type=email].invalid,
.input-field input[type=url].invalid,
.input-field input[type=date].invalid,
.input-field input[type=tel].invalid,
.input-field input[type=number].invalid,
.input-field input[type=search].invalid,
.input-field textarea.materialize-textarea.invalid {
  border-bottom: 1px solid #F44336;
  -webkit-box-shadow: 0 1px 0 0 #F44336;
  -moz-box-shadow: 0 1px 0 0 #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}
.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.input-field .prefix.active {
  color: #26a69a;
}
.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
  margin-left: 3rem;
  width: 90%;
}
.input-field .prefix ~ textarea {
  padding-top: 0.8rem;
}
.input-field .prefix ~ label {
  margin-left: 3rem;
}
textarea {
  width: 100%;
  height: 3rem;
  background-color: transparent;
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=date]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus.materialize-textarea {
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
  -moz-box-shadow: 0 1px 0 0 #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
textarea.materialize-textarea {
  overflow-y: hidden;
  padding: 1.6rem 0;
  resize: none;
  min-height: 3rem;
}
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-top: 1.2rem;
}
.signin_wrapper {
  background: url(../images/lock2.html);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  /* background setup */
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50%9 !important;
}
.signin_wrapper .overlay_block {
  position: fixed;
  width: 100%;
  right: 0;
  background: rgba(0, 9, 22, 0.6);
  padding: 0px 40px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.signin_wrapper .overlay_block .center_block {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.signin_wrapper .overlay_block .center_block .user_info {
  display: table;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  padding-top: 30px;
}
.signin_wrapper .overlay_block .center_block #clockbox {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  margin-top: 20%;
}
.signin_wrapper .overlay_block .center_block #clockboxd {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.signin_wrapper .overlay_block .center_block .bottom_info {
  margin-top: 50px;
}
.signin_wrapper .overlay_block .center_block a {
  outline: none;
}
.signin_wrapper .overlay_block .modal .modal-title {
  color: #707780;
  font-size: 16px;
}
.signin_wrapper .overlay_block .modal h6.note {
  margin-top: 30px;
  color: #707780;
  color: #fb5d5d;
}
.signin_wrapper .overlay_block .modal .modal-footer {
  border-top-width: 0 !important;
}
.signin_wrapper .overlay_block .modal .btn {
  margin-top: 0;
  border-radius: 3px;
}
.signin_wrapper .overlay_block a {
  color: #ffffff;
  text-decoration: none;
}
.signin_wrapper .overlay_block .input-field label {
  color: #ffffff;
  backface-visibility: hidden;
}
.signin_wrapper .overlay_block .input-field input {
  color: #ffffff;
}
.signin_wrapper .overlay_block i.prefix {
  color: #ffffff;
  backface-visibility: hidden;
  font-size: 30px;
  text-align: center;
  padding-right: 20px;
}
.signin_wrapper .overlay_block i.prefix.active {
  color: #2196f3 !important;
}
.signin_wrapper .overlay_block .input-field label {
  color: #ffffff;
}
.signin_wrapper .overlay_block .input-field input[type=text]:focus + label,
.signin_wrapper .overlay_block .input-field input[type=password]:focus + label,
.signin_wrapper .overlay_block .input-field input[type=email]:focus + label {
  color: #ffffff;
}
.signin_wrapper .overlay_block .input-field input[type=text]:focus,
.signin_wrapper .overlay_block .input-field input[type=password]:focus,
.signin_wrapper .overlay_block .input-field input[type=email]:focus {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}
.signin_wrapper .overlay_block .input-field input[type=text].valid,
.signin_wrapper .overlay_block .input-field input[type=password].valid,
.signin_wrapper .overlay_block .input-field input[type=email].valid {
  border-bottom: 1px solid #6fd64b;
  box-shadow: 0 1px 0 0 #6fd64b;
}
.signin_wrapper .overlay_block .input-field input[type=text].invalid,
.signin_wrapper .overlay_block .input-field input[type=password].invalid,
.signin_wrapper .overlay_block .input-field input[type=email].invalid {
  border-bottom: 1px solid #fb5d5d;
  box-shadow: 0 1px 0 0 #fb5d5d;
}
.signin_wrapper .overlay_block .input-field .prefix.active {
  color: #000;
}
.signin_wrapper .overlay_block .btn-primary,
.signin_wrapper .overlay_block .btn-red {
  margin-top: 50px;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (max-width: 530px) {
  .signin_wrapper .overlay_block {
    padding: 0;
  }
  .signin_wrapper #clockbox {
    margin-top: 10px !important;
  }
}