@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
html,
body {
  overflow-x: visible !important;
  overflow-y: visible !important;
  background: #e9ecf2;
}
.flip-container {
  width: 520px;
  margin: 0 auto;
  margin-top: 150px;
  min-height: 400px;
  position: relative;
}
.flip-container .front {
  width: 520px;
  padding: 30px;
  height: 100%;
  background-color: #FFFFFF;
  clear: both;
  display: table;
  border-radius: 3px;
  border: 1px solid #d7dce5;
}
.flip-container .front,
.flip-container .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container .holder input {
  background: transparent;
  margin-top: 20px;
  height: 50px;
  border-radius: 3px;
}
.flip-container .bottom_info {
  margin-top: 30px;
  position: relative;
}
.flip-container .bottom_info a {
  text-decoration: none;
  color: #707780;
  outline: none;
}
.flip-container .bottom_info a:hover {
  color: #2196f3;
}
.flip-container .btn {
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0;
}
.flip-container .heading {
  text-align: center;
  color: #2196f3;
}
.modal .modal-title {
  color: #707780;
  font-size: 16px;
}
.modal h6.note {
  margin-top: 30px;
  color: #5e795f;
}
.modal .modal-footer {
  border-top-width: 0 !important;
}
.modal .btn {
  margin-top: 0;
  border-radius: 3px;
  height: 35px;
  font-size: 14px;
}
@media (max-width: 530px) {
  .flip-container {
    margin-top: 5px;
    width: 350px ;
  }
  .flip-container .front {
    width: 350px ;
  }
}