@import url(http://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
@import 'jquery-ui-1.10.3.custom.css';
/* Demo  Icons  @Font Awesome
---------------------------------------------------------------------------------------------- */



@import 'themify-icons.css';
@import 'simple-line-icons.css';
@import 'animate.css';
@import 'select2.css';
@import 'ionicons.min.css';
@import 'font-awesome.min.css';
@import 'gritter/jquery.gritter.css';
@import 'chartist/chartist.min.css';
@import 'nvd3.css';
@import 'maps-custom.css';
@import 'forms.css';
@import 'mail.css';
@import 'portlets.css';
@import 'multi-select.css';
@import 'bootstrap-datepicker3.css';
@import 'bootstrap-datepicker3.standalone.css';
@import 'bootstrap-colorpicker.css';
@import 'buttons.css';
@import 'pagination.css';
@import 'tabs-accordions.css';
@import 'animation-custom.css';
@import 'popovers-tooltips.css';
@import 'modals.css';
@import 'carousel.css';
@import 'infoboxes.css';
@import 'right-sidebar.css';
@import 'basic-tables.css';
@import 'invoice.css';
@import 'pricing.css';
@import 'timeline.css';
@import 'profile.css';
@import 'gallery.css';
@import 'misc.css';
@import 'bic_calendar.css';
@import 'widgets.css';
@import 'weather.css';



@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
        /*url('../fonts/lato-light-webfont.woff2') format('woff2'),*/
        url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato-light-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        /*url('../fonts/lato-regular-webfont.woff2') format('woff2'),*/
        url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.box .box-content h3 {
    margin-top: 10px !important;
    font-size: 20px !important;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px !important;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.v_space {
    margin-top: 30px;
    width: 100%;
}



.demo-icons {
    margin-top: 22px;
}

.demo-icons .fa-hover {
    display: block;
    color: #9398a0;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
}

.demo-icons .fa-hover:hover {
    cursor: pointer;
}

.demo-icons .fa-hover i {
    width: 32px;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    color: #2196f3;
}

.demo-icons .fa-hover:hover {
    background-color: #f9f9f9;
    color: #d7dce5;
    text-decoration: none;
}

.demo-icons .fa-hover:hover i {
    font-size: 24px;
    vertical-align: -6px;
}

.demo-icons .fa-hover:hover .text-muted {
    color: #bbe2d5;
}
/* Demo  Icons  @Font Awesome
---------------------------------------------------------------------------------------------- */
.fontawesome-icon-list {
    margin-top: 22px;
}

.fontawesome-icon-list .fa-hover {
    display: block;
    color: #9398a0;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
}

.fontawesome-icon-list .fa-hover:hover {
    cursor: pointer;
}

.fontawesome-icon-list .fa-hover .fa,
.fontawesome-icon-list .fa-hover i {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    color: #2196f3;
}

.fontawesome-icon-list .fa-hover:hover {
    background-color: #f9f9f9;
    color: #d7dce5;
    text-decoration: none;
}

.fontawesome-icon-list .fa-hover:hover .fa,
.fontawesome-icon-list .fa-hover:hover i {
    font-size: 28px;
    vertical-align: -6px;
}

.fontawesome-icon-list .fa-hover:hover .text-muted {
    color: #bbe2d5;
}

.icon-show .fa-2x {
    font-size: 2em;
}

.icon-show .fa-3x {
    font-size: 4em;
}

.icon-show .fa-4x {
    font-size: 7em;
}

.icon-show .fa-5x {
    font-size: 12em;
}

.icon-show .fa-6x {
    font-size: 20em;
}
/****************************************************
                                TABLE OF CONTENTS
*****************************************************
01. body
02. left-bar
03. content
04. wrapper
04. top-bar
05. global styles
06. media styles

****************************************************/
.mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: 0;
}

.left-bar::-webkit-scrollbar-track,
.side-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.left-bar::-webkit-scrollbar,
.side-bar::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.left-bar::-webkit-scrollbar-thumb,
.side-bar::-webkit-scrollbar-thumb {
    background-color: #555555;
    border: 2px solid #555555;
    border-radius: 10px;
}

body,
html {
    font-family: 'latoregular';
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e0e0e0;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    min-height: 100%;

}

body{
        background-image:  url(../images/admin-panel-bag-bg.png),url(../images/background-pattern.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
        background-color: #008dff;
}

.navbar-collapse {
    padding: 0;
}

.wrapper {
    position: relative;
    overflow: hidden;
    /* min-height: 1200px; */
}

.wrapper.fixed-top-bar .top-bar {
    position: fixed;
}

.wrapper.fixed-top-bar .main-content {
    padding-top: 90px;
}

.left-bar,
.side-bar {
    position: fixed;
    height: 100%;
    width: 266px;

    display: block;
    float: left;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 200ms ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    -moz-transition: all 200ms ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 200ms ease-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    overflow-y: auto;
    /*    background: url(../images/admin-sidebar-bg.jpg);
        background-size: cover;
        background-position: center top;*/
    background-color: #fff;
}

.left-bar.right-bar-menu,
.side-bar.right-bar-menu {
    float: right;
    right: 0;
}

.left-bar.right-bar-menu .menu-parent,
.side-bar.right-bar-menu .menu-parent {
    padding-right: 0;
}

.left-bar.right-bar-menu .menu-parent .icon,
.side-bar.right-bar-menu .menu-parent .icon {
    float: left;
    margin-top: 13px;
}

.left-bar.right-bar-menu .menu-parent .chevron,
.side-bar.right-bar-menu .menu-parent .chevron {
    float: right;
    display: inline-block;
}

.left-bar.right-bar-menu .menu-parent span,
.side-bar.right-bar-menu .menu-parent span {
    padding-right: 30px;
}

.left-bar.right-bar-menu .menu-parent .drop-indicator,
.side-bar.right-bar-menu .menu-parent .drop-indicator {
    position: absolute;
    left: 0;
}

.left-bar.static-bar,
.side-bar.static-bar {
    position: absolute;
    display: block;
    display: table-cell;
    height: 100%;
}

.left-bar.static-bar .admin-logo,
.side-bar.static-bar .admin-logo {
    position: relative !important;
}

.left-bar.static-bar .menu-parent,
.side-bar.static-bar .menu-parent {
    padding-top: 0;
}

.left-bar.static-bar .menu-parent i.chevron,
.side-bar.static-bar .menu-parent i.chevron {
    line-height: 52px !important;
    /*float: right !important;*/
}

.left-bar.right-bar,
.side-bar.right-bar {
    float: right !important;
    right: -266px;
    top: 70px;
}

.left-bar.right-bar.left-layout,
.side-bar.right-bar.left-layout {
    float: left !important;
    left: -266px;
}

.left-bar .admin-logo,
.side-bar .admin-logo {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    min-height: 71px;
    padding-left: 15px;
    position: fixed !important;
    width: 266px;
    z-index: 999;
    -webkit-transition: all 200ms ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    -moz-transition: all 200ms ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 200ms ease-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.left-bar .admin-logo .logo-holder,
.side-bar .admin-logo .logo-holder {
    width: 164px;
    padding-top: 15px;
}

.left-bar .admin-logo .logo-holder .logo,
.side-bar .admin-logo .logo-holder .logo {
    width: 100%;
}

.side-bar .admin-logo a.menu-bar, a.menu-bar {
    font-size: 28px;
    display: inline-block;
    width: 80px;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #f7f7f7;
    text-align: center;
    color: #15b0e2;
    padding-top: 15px;
    text-decoration: none;
}

.left-bar .menu-bar {
    display: none;
}

.mini-bar .left-bar .menu-bar {
    display: block;
    background-color: rgba(20, 176, 226, 0.99);
    color: #ffffff;
}

.mini-bar .navbar .menu-bar {
    display: none;
}


.left-bar .menu-parent,
.side-bar .menu-parent {
    padding-top: 70px;
}

.left-bar .menu-parent li.current a,
.side-bar .menu-parent li.current a {
    color: #2196f3;
}

.left-bar .menu-parent li.header,
.side-bar .menu-parent li.header {
    padding: 5px 20px;
    background: #f2f4f7;
    color: #707780;
    text-transform: capitalize;
}

.left-bar .menu-parent.header-style > li,
.side-bar .menu-parent.header-style > li {
    border-bottom-width: 0;
}

.left-bar .menu-parent > li,
.side-bar .menu-parent > li {
    display: block;
    border-bottom: 1px solid #e9ecf2;
}

.left-bar .menu-parent > li.submenu ul,
.side-bar .menu-parent > li.submenu ul {
    padding-left: 20px;
}

.left-bar .menu-parent > li a,
.side-bar .menu-parent > li a {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #008dff;
    position: relative;
}
.pg-canvas{position:fixed;left:0;top:0}
.new-border {
    border-top: 1px solid #e9ecf2;
}

.left-bar .menu-parent > li a:hover,
.side-bar .menu-parent > li a:hover {
    /*background-color: lighten(@primary-color,42%);*/
    background-color: #f6f7fa;
}

.left-bar .menu-parent > li a i,
.side-bar .menu-parent > li a i {
    padding-right: 20px;
    font-size: 21px;
    color: #0075d4;
}

.left-bar .menu-parent > li a .drop-indicator,
.side-bar .menu-parent > li a .drop-indicator {
    top: 0;
    line-height: 30px !important;
    height: 25px;
}

.left-bar .menu-parent > li a i.chevron,
.side-bar .menu-parent > li a i.chevron,
.left-bar .menu-parent > li a i.drop-indicator,
.side-bar .menu-parent > li a i.drop-indicator {
    font-size: 10px;
    color: #707780;
    line-height: 52px;
    float: right;
}

.left-bar .menu-parent > li ul > li,
.side-bar .menu-parent > li ul > li {
    padding-left: 40px;
    border-bottom-width: 0;
    position: relative;
}

.left-bar .menu-parent > li ul > li a,
.side-bar .menu-parent > li ul > li a {
    padding-left: 20px;
}

.left-bar .menu-parent > li ul > li:before,
.side-bar .menu-parent > li ul > li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border-left: 1px solid #d7dce5;
    top: 0;
    left: 10px;
}

.left-bar .menu-parent > li ul > li:after,
.side-bar .menu-parent > li ul > li:after {
    content: ".";
    position: absolute;
    left: 4px;
    top: -30px;
    font-size: 45px;
    color: #d7dce5;
}

.left-bar .menu-parent > li ul > li:last-child,
.side-bar .menu-parent > li ul > li:last-child {
    padding-bottom: 10px;
}

.left-bar .menu-parent > li ul > li a,
.side-bar .menu-parent > li ul > li a {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.left-bar .menu-parent > li ul > li li,
.side-bar .menu-parent > li ul > li li {
    padding-left: 20px;
    border-bottom-width: 0;
}

.left-bar .menu-parent > li ul > li li:last-child:before,
.side-bar .menu-parent > li ul > li li:last-child:before {
    content: '';
    width: 0;
    height: 80%;
    position: absolute;
    border-left: 1px solid #d7dce5;
    top: 0;
    left: 10px;
}

.left-bar .menu-parent > li ul > li.panel,
.side-bar .menu-parent > li ul > li.panel {
    border-bottom-width: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

.left-bar .menu-parent .panel,
.side-bar .menu-parent .panel {
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
}

.content {
/*    margin-left: 266px;
    background-color: #008dff;*/
    -webkit-transition: all 200ms ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    -moz-transition: all 200ms ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 200ms ease-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.content.right-menu-enabled {
    margin-left: 0;
    margin-right: 266px;
}

.content .main-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-right: 15px;
        position: relative;
    /*    background-image:  url(../images/admin-panel-bag-bg.png),url(../images/background-pattern.png);
        background-position: right bottom, left top;
        background-repeat: no-repeat, repeat;
        background-attachment: scroll, fixed;*/

}

.top-bar {
    height: 70px;
    background-color: #ffffff;
    min-height: 0;
    display: table;
    width: 100%;
    position: relative;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom: 1px solid dark-border !important;
    border-bottom-color: #d7dce5;
    z-index: 9999999;
    /*topbars dropdowns hover*/
}

.top-bar .search {
    margin-top: 15px;
    font-weight: 300;
    /*    width: 266px;*/
    padding-left: 20px;
    margin-left: 79px;
}

.top-bar .search input {
    background-color: #f2f4f7;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d7dce5;
    outline: none;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    font-weight: 400;
}

.top-bar .navbar-default .navbar-nav > .open > a,
.top-bar .navbar-default .navbar-nav > .open > a:focus,
.top-bar .navbar-default .navbar-nav > .open > a:hover {
    background-color: #e3f2fd;
    color: #2196f3;
}

.top-bar .navbar-default .navbar-nav > li > a:hover,
.top-bar .navbar-default .navbar-nav > li > a:active {
    background-color: #e3f2fd;
}

.top-bar nav {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.top-bar .navbar-default .navbar-nav > li > a {
    background-color: #FFFFFF;
    color: #707780;
    font-family: 'latoregular';
}

.top-bar .navbar-nav {
    margin: 0;
    height: 70px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.top-bar .navbar {
    margin: 0;
}

.top-bar .avatar_width .avatar_info {
    max-width: 120px;
    display: inline-block;
    white-space: nowrap !important;
    float: left;
    overflow: hidden;
}

.top-bar .avatar_width .avatar-holder {
    width: 45px;
    display: inline-block;
    margin-right: 5px;
    float: left;
}

.top-bar .avatar_width .avatar-holder img {
    border-radius: 50%;
    width: 100%;
}

.top-bar .top-elements > li > a {
    height: 100%;
    line-height: 68px;
    padding: 0px 20px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

.top-bar .top-elements .btn {
    border-width: 0 !important;
}

.top-bar .top-elements .image-holder {
    width: 45px;
    display: inline-block;
}

.top-bar .top-elements .image-holder img {
    border-radius: 50%;
    width: 100%;
    padding-right: 15px;
}

.top-bar .top-elements .icon-notification {
    font-size: 25px;
    vertical-align: middle;
}

.top-bar .top-elements .info-number {
    float: none;
    color: #FFFFFF;
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    line-height: 22px;
    padding: 0;
    font-size: 9px;
    margin-left: -8px;
    margin-top: 5px;
    font-weight: 300;
}

.top-bar .top-elements .info-number.message {
    background-color: rgba(52, 161, 249, 0.9);
}

.top-bar .top-elements .info-number.bell {
    background-color: #fb5d5d;
}

.hexagon {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: #8476ba;
    margin: 11.55px 0;
    display: inline-block;
    float: left;
    margin-right: 15px;
    text-align: left;
}

.hexagon span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    padding-top: 1px;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 11.55px solid #8476ba;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #8476ba;
}

.hexagon.success {
    background-color: #6fd64b;
}

.hexagon.success:before {
    bottom: 100%;
    border-bottom: 11.55px solid #6fd64b;
}

.hexagon.success:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #6fd64b;
}

.hexagon.danger {
    background-color: #fb5d5d;
}

.hexagon.danger:before {
    bottom: 100%;
    border-bottom: 11.55px solid #fb5d5d;
}

.hexagon.danger:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #fb5d5d;
}

.hexagon.warning {
    background-color: #f7941d;
}

.hexagon.warning:before {
    bottom: 100%;
    border-bottom: 11.55px solid #f7941d;
}

.hexagon.warning:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #f7941d;
}

.hexagon.info {
    background-color: #5d9bfb;
}

.hexagon.info:before {
    bottom: 100%;
    border-bottom: 11.55px solid #5d9bfb;
}

.hexagon.info:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid #5d9bfb;
}

.outline-hexagon {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: transparent;
    margin: 11.55px 0;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.outline-hexagon span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    color: #999999;
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
}

.outline-hexagon:before,
.outline-hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 28.28px;
    height: 28.28px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 4.8579px;
}

.outline-hexagon:before {
    top: -13.1421px;
    border-top: solid 1.4142px #999999;
    border-right: solid 1.4142px #999999;
}

.outline-hexagon:after {
    bottom: -14.1421px;
    border-bottom: solid 1.4142px #999999;
    border-left: solid 1.4142px #999999;
}
/************global*********/
.flatRed {
    background-color: #fb5d5d;
}

.flatBlue {
    background-color: #5d9bfb;
}

.flatOrange {
    background-color: #f7941d;
}

.flatGreen {
    background-color: #6fd64b;
}

.flatRedc {
    color: #fb5d5d !important;
}

.flatBluec {
    color: #5d9bfb !important;
}

.flatOrangec {
    color: #f7941d !important;
}

.flatGreenc {
    color: #6fd64b !important;
}

.flatGreyc {
    color: #dfdfdf !important;
}

.grey-bg {
    background-color: #efefef;
}

.grey-bg .ion {
    color: #5d9bfb;
}


.dashboard-stats {
    background-color: #FFFFFF;
    position: relative;
    min-height: 107px;
    padding: 3px;
    padding-left: 15px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.dashboard-stats .left {
    float: left;
    padding-top: 5px;
    width: 100%;
    padding-right: 10px;
}

.s-test {
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.dashboard-stats .left h3 {
    font-size: 30px;
    font-family: 'latoregular';
    margin-top: 10px;
}

.dashboard-stats .left h4 {
    font-size: 16px;
    /* font-weight: 300; */
    color: #717171;
    line-height: 24px;
    font-family: 'latoregular';
}

.dashboard-stats .right {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 30%;
    bottom: 3px;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

.dashboard-stats .right i {
    vertical-align: middle;
    line-height: 107px;
}

.list-group {
    margin-bottom: 0;
}

.list-group li {
    border-radius: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
}

.list-group li:last-child {
    border-bottom-width: 0;
}

.nopad-right {
    padding-right: 0;
}

.light-tab {
    margin-bottom: 22px !important;
}

.light-tab .indicator {
    background-color: #d7dce5 !important;
}

.light-tab li.tab a.active {
    color: #707780 !important;
    font-weight: 400;
}

.light-tab li a {
    font-size: 12px;
}

.nicescroll-cursors {
    position: absolute;
    top: 0px;
    float: right;
    width: 5px;
    height: 604px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(66, 66, 66, 0.5) !important;
    background-clip: padding-box;
    z-index: 9999;
}
/*spin*/
.ion-spin {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-animation-name: ion-spin;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes ion-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes ion-spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/**********speed up fadein*********/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    20% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        -ms-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    20% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.breadcrumb {
    padding: 20px;
    border-radius: 0px;
    min-height: 50px;
    background: url(../images/breadcrumbbg.png) no-repeat left top;
}

.breadcrumb li a {
    color: #FFFFFF;
}

.breadcrumb li.active {
    color: #f7941d;
}

.breadcrumb .breadcrumb-opacity {
    background-color: rgba(33, 150, 243, 0.5);
    padding: 12px;
    min-height: 50px;
    color: #ffffff;
    font-family: 'latoregular';
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.25px;
    text-transform: capitalize;
}

.breadcrumb .breadcrumb-opacity .parent-location {
    float: left;
    padding-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb .breadcrumb-opacity .parent-location:hover {
    text-decoration: underline;
}

.breadcrumb .breadcrumb-opacity i {
    float: left;
    padding-right: 10px;
    line-height: 26px;
}

.breadcrumb .breadcrumb-opacity .current-location {
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb .breadcrumb-opacity .current-location:hover {
    text-decoration: underline;
}

/*	panels
---------------------------------------------------------------------------------------------- */
.panel-ntspl {
    clear: both;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.panel-ntspl > .panel-heading {
    border-bottom: 1px solid #e9e9e9;
    font-weight: normal;
    background: none;
    display: table;
    width: 100%;
    padding-top: 0;
}

.panel-ntspl > .panel-heading h3 {
    font-size: 21px;
    color: #656565;
    font-weight: normal;
    /* margin-bottom: 10px; */
    padding-top: 10px;
    font-family: 'latoregular';
}

.panel-ntspl > .panel-heading a {
    text-decoration: none !important;
}

.panel-ntspl > .panel-heading .panel-options {
    float: right;
    display: none;
}

.panel-ntspl > .panel-heading .panel-options a {
    padding: 3px;
    color: #15b0e2;
    font-size: 16px;
    padding-top: 10px;
}

.panel-ntspl > .panel-heading .panel-options a:hover {
    text-decoration: none;
    color: #99a6bd;
}

.panel-ntspl > .panel-body.no-padding {
    padding: 0px !important;
}

.panel-ntspl > .panel-body .padding {
    padding: 15px !important;
}

.panel-ntspl.panel-primary {
    border: none;
    border-color: none;
}

.panel-ntspl.panel-primary > .panel-heading {
    color: #2196f3 !important;
    background-color: #ffffff;
    border-top: 1px solid #2196f3;
}

.panel-ntspl.panel-primary > .panel-heading h3 {
    font-size: 14px;
    font-weight: normal;
}

.panel-ntspl.panel-success {
    border-top: 1px solid #a0d269;
}

.panel-ntspl.panel-danger {
    border-top: 1px solid #df6c6e;
}

.panel-ntspl.panel-info {
    border-top: 1px solid #6cadd1;
}

.panel-ntspl.panel-warning {
    border-top: 1px solid #eac841;
}

/*	Load Mask
---------------------------------------------------------------------------------------------- */
.loadmask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #b3b3b3;
    width: 100%;
    height: 100%;
    zoom: 1;
}

.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    padding: 2px;
}

.loadmask-msg div {
    padding: 5px 10px 5px 25px;
    line-height: 16px;
    color: #2196f3;
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    cursor: wait;
}

.masked {
    overflow: hidden !important;
}

.masked-relative {
    position: relative !important;
}

.masked-hidden {
    visibility: hidden !important;
}

.placeholder {
    background-color: white;
}
/*	Badges Contextual classes
---------------------------------------------------------------------------------------------- */
.bg-primary {
    background-color: #2196f3;
}

.bg-success {
    background-color: #a0d269;
}

.bg-warning {
    background-color: #eac841;
}

.bg-info {
    background-color: #6cadd1;
}

.bg-danger {
    background-color: #df6c6e;
}

.graph {
    width: 100%;
    height: 300px;
}
/* Gritter Custom classes
---------------------------------------------------------------------------------------------- */
#gritter-notice-wrapper {
    top: 90px;
}
/* contextual gritters  */
.success .gritter-item,
.success .gritter-top,
.success .gritter-bottom {
    background: none;
    background-color: #5CB85C !important;
}

.info .gritter-item,
.info .gritter-top,
.info .gritter-bottom {
    background: none;
    background-color: #5BC0DE;
}

.danger .gritter-item,
.danger .gritter-top,
.danger .gritter-bottom {
    background: none;
    background-color: #D9534F;
}

.warning .gritter-item,
.warning .gritter-top,
.warning .gritter-bottom {
    background: none;
    background-color: #F0AD4E;
}
/* Text Colors
------------------------------------------------------------------------------------------------*/
.text-success {
    color: #27ae60;
}

.text-primary {
    color: #2196f3;
}

.text-info {
    color: #6cadd1;
}

.text-danger {
    color: #df6c6e;
}

.text-warning {
    color: #eac841;
}

.text-white {
    color: #FFFFFF !important;
}
/* Sliders overwrite
---------------------------------------------------------------------------------------------- */
.table-sliders .default td {
    padding: 20px;
    border-top: none;
}

.table-sliders .all td {
    padding: 20px 0px 20px 0px;
}

.ui-slider-range {
    background: #2196f3;
    border-color: none;
}

.ui-slider-handle {
    border-color: #87ceeb !important;
    width: 24px;
    position: absolute;
    margin-left: -12px;
    z-index: 200;
    background: #989dac;
    border-radius: 0%;
}

.ui-slider-handle:focus {
    outline: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #d8ebf3;
}

#red,
#green,
#blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

#swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
}

#red .ui-slider-range {
    background: #e45857;
}

#red .ui-slider-handle {
    border-color: #e45857 !important;
}

#green .ui-slider-range {
    background: #90c657;
}

#green .ui-slider-handle {
    border-color: #90c657 !important;
}

#blue .ui-slider-range {
    background: #54b5df;
}

#blue .ui-slider-handle {
    border-color: #54b5df !important;
}

#eq span {
    height: 120px;
    float: left;
    margin: 15px;
}

.waves-effect.waves-light .waves-ripple {
    background-color: #b2dbfb;
    opacity: 0.25;
}

.ntspl-preloader {
    /*background-color: lighten(@primary-color,10%);*/
    /*padding-top: 20%;	*/
    background-color: #2196f3;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999999999;
    opacity: .9;
}

.loader {
    font-size: 10px;
    margin: 5em auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #FFF;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #2196f3;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*	Charts
---------------------------------------------------------------------------------------------- */
.graph {
    height: 350px;
}

.realtime-bar {
    height: 350px;
    margin-left: -80px;
}

#chart1,
#donuts-holder {
    height: 350px;
    background: #f9f9f9;
}

#test1 {
    height: 350px;
}

.realtime-bar {
    height: 350px;
    margin-left: -80px;
}

#chart1 svg {
    height: 350px;
}

#chart4 svg,
#chart5,
#pieOne,
#pieTwo,
#flotOne,
#nvdLive,
#flotTwo,
#flotThree {
    height: 500px;
    min-width: 100px;
    min-height: 100px;
    /*
    Minimum height and width is a good idea to prevent negative SVG dimensions...
    For example width should be =< margin.left + margin.right + 1,
    of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
    */
}

#placeholder {
    height: 400px;
}

#menu > .btn {
    margin: 5px;
}

#choices > .choiceinput {
    margin-left: 20px;
    margin-right: 5px;
}

.site-status {
    padding: 20px !important;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 20px;
}

.switch-button-label {
    float: left;
    font-size: 15pt;
    cursor: pointer;
    font-weight: 600;
}

.switch-button-label.off {
    color: #adadad;
}

.switch-button-label.on {
    color: #2ECC71;
}

.switch-button-background {
    float: left;
    position: relative;
    background: #E4E6EB;
    border: 1px solid #aaa;
    margin: 1px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.switch-button-button {
    position: absolute;
    left: -1px;
    top: -1px;
    background: #5c9df5;
    border: 1px solid #5c9df5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* Presentation
-------------------------------------------------------------------------------------------------------- */
.vtop {
    margin-top: 28px !important;
}

.page_header {
    background-color: #f9f9f9;
    padding: 15px 15px;
    display: table;
    width: 100%;
}

.page_header .page_header_icon {
    font-size: 30px;
    border: 1px solid #82c4f8;
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 45px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #2196f3;
    float: left;
}

.page_header .main-text {
    font-size: 27px;
    margin-left: 10px;
    color: #75757d;
    font-family: 'latoregular';
    line-height: 50px;
}

.page_header p.text {
    clear: both;
    font-size: 15px;
    margin-top: 10px;
    color: #858b94;
    margin-bottom: 0px;
}

.page_header .right_bar {
    position: relative;
}

.page_header .right_bar li {
    line-height: 26px;
    color: #858b94;
    margin-right: 20px;
}

.page_header .right_bar li a {
    color: #2196f3;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    width: 100%;
}

.page_header .right_bar li a.active {
    color: #2196f3;
}

.page_header .right_bar li a.active:after {
    content: "";
    width: 4px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -1px;
    background-color: #2196f3;
}

.page_header .right_bar:before {
    content: "";
    height: 100%;
    width: 2px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    background-color: #d7dce5;
}
/************************************tree view***********************************/
.tree {
    border: none;
}

.tree .parent {
    background: #65bd77;
    color: #ffffff;
    border: 1px solid #65bd77;
}

.tree .parent:hover {
    background: #53b567 !important;
    border: 1px solid #65bd77 !important;
    color: #ffffff !important;
}

.tree .child {
    background: #ffbc1a;
    color: #ffffff;
    border: 1px solid #ffbc1a;
}

.tree .child:hover {
    background: #ffb500 !important;
    border: 1px solid #ffbc1a !important;
    color: #ffffff !important;
}

.tree .grandchild {
    background: #fa6251;
    color: #ffffff;
    border: 1px solid #fa6251;
}

.tree .grandchild:hover {
    background: #f94c38 !important;
    border: 1px solid #fa6251 !important;
    color: #ffffff !important;
}

.tree .great-grandchild {
    background: #5798fb;
    color: #ffffff;
    border: 1px solid #5798fb;
}

.tree .great-grandchild:hover {
    background: #3e89fa !important;
    border: 1px solid #5798fb !important;
    color: #ffffff !important;
}

.tree .greatgrand-grandchild {
    background: #85b6fe;
    color: #ffffff;
    border: 1px solid #85b6fe;
}

.tree .fa-folder-open {
    color: #ffffff;
}

.tree li span {
    border-radius: 3px !important;
}

.card {
    margin: 0;
}

.card .card-content .card-title,
.card .card-reveal .card-title {
    margin-bottom: 20px;
}

.card .card-content span,
.card .card-reveal span,
.card .card-content a,
.card .card-reveal a,
.card .card-content p,
.card .card-reveal p {
    color: #707780;
    font-weight: 400;
    font-size: 16px;
}

.card .card-content p,
.card .card-reveal p {
    font-size: 14px;
    text-transform: lowercase;
    color: #9398a0 !important;
    font-weight: 100;
}

.noty_bar:after {
    content: "x";
    float: right;
    font-size: 18px !important;
    font-size: 30px;
    display: inline-block;
    margin-top: -30px;
    margin-right: 20px;
}

.filemanager {
    margin: 0 auto;
    width: 100%;
}

.filemanager .search {
    background-color: #2196f3;
}

.filemanager .search input[type=search] {
    color: #707780;
    font-family: 'latoregular';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-left: -206px;
}

.filemanager .search:before {
    right: 18px;
}

.filemanager .search:after {
    top: 19px;
    right: 16px;
}

.filemanager .breadcrumbs {
    color: #2196f3;
    font-family: 'latoregular';
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-transform: capitalize;
}

.filemanager .breadcrumbs a {
    text-decoration: none !important;
}

.filemanager .breadcrumbs a .folderName {
    color: #707780 !important;
}

.filemanager .data {
    margin-top: 30px;
}

.navbar-right.form-search {
    margin-right: 5px;
}

.panel {
    border-radius: 0px;
}


.questions-cont .list-group-item label {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: 600 !important;
    color: #15b0e2;
}

.answer-check {
    position: absolute;
    left: 10px;
    top: 9px;
    z-index: 10;
}

.questions-cont .list-group-item p {
    margin-bottom: 0;
}

.list-group .list-group-item {
    color: #333;
    font-family: 'latoregular';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 21px;
    border: 1px solid #e9ecf2;
}

.test-clock #clockbox {
    text-align: right;
    font-size: 30px;
    line-height: 24px;
    font-family: 'latoregular';
    color: #15b0e2;
}

.test-clock #clockboxd {
    text-align: right;
    font-size: 18px;
    line-height: 24px;
    line-height: 35px;
    font-family: 'latoregular';
}

.countdown-hour, .countdown-minute, .countdown-second {
    display: inline-block;
}

.label {
    border-radius: 0;
}

.label-default {
    background-color: #dcdcdc;
    color: #333;
}

.question-pallete .label {
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}

.label-primary {
    background-color: #2196f3;
}

.login-arrow:after {
    right: 100px !important;
}

.questions-cont input[type="checkbox"] {
    /* display: none; */
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 7px;
    display: block;
}

.progress {
    margin-bottom: 0;
}

.question-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.countdown div {
    display: inline;
}

.countdown div:nth-child(1), .countdown div:nth-child(2), .countdown div:nth-child(3) {
    display: none;
}

.countdown.styled div, .time-taken {
    font-size: 33px;
    padding-right: 5px;
    font-family: 'latoregular';
    margin-top: 5px;
}

.countdown.styled {
    margin-top: 5px;
}

.countdown-timer h4 {
    margin: 0;
}

.panel {
    margin-bottom: 15px;
}

.test-clock {
    display: none;
}

.btn-info {
    color: #fff;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #333 !important;
}

.btn-info:hover {
    background-color: #dedbdb;
    border-color: #dedbdb;
}

.badge-counters {
    margin-top: 20px;
    float: left;
    cursor: auto;
}

.badge-counters .btn-info {
    margin-top: 5px;
}

.designed-by {
    padding: 20px;
    color: #5a5a5c;
    font-size: 13px;
    font-family: 'latoregular';
    margin-bottom: 0;
}

.designed-by a {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: #eaeaea;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
        width: 100%;
}

.prev-btn {
    margin-right: 5px;
}


.test-box {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 15px;
    border: 1px solid #e9e9e9;
}

.test-box:first-child {
    margin-top: 0px;
}

.test-box .panel-default, .test-box .panel-default > .panel-heading {
    border-color: transparent;
}

.test-box .panel-title a {
    display: block;
    padding: 10px 0 10px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #656a6f;
    font-family: 'latoregular';
}


.test-box .panel-heading {
    padding: 0px 15px;
}

.test-box .panel {
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0px;
}

.test-box .panel-collapse {
    border-top: 1px solid #e9e9e9;
}



.test-box .panel-body {
    background-color: #fff;
}

.test-number {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background-color: #15b0e2;
    display: block;
    border-radius: 50%;
    /* border: 1px solid #ddd; */
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'latoregular';
}

.test-box .panel-heading {
    position: relative;
}

.test-box .panel-default > .panel-heading {
    background-color: transparent;
}


.panel-ntspl.inner-panel > .panel-heading {
    border: none;
}

.inner-panel .table {
    margin-bottom: 0;
}

.test-panel-body {
    padding-top: 0px;
}


.inner-panel .panel-heading {
    border-radius: 0;
}

.panel-ntspl.inner-panel > .panel-heading h3 {
    font-size: 18px;
    font-family: 'latoregular' !important;
    color: #15b0e2;
}

.panel-ntspl.inner-panel {
    box-shadow: none;
    border: 1px solid #e9e9e9;
    position: relative;
}

.panel-ntspl.inner-panel:last-child {
    margin-bottom: 0px;
}

.inner-panel .panel-title .fa {
    color: #15b0e2;
}

.test-short-desc {
    display: block;
    /* line-height: 26px; */
    font-size: 14px;
    padding-top: 5px;
    color: #757575;
}

.leader-avatar {
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #b3b3b3;
    display: block;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.leader-avatar img {
    width: 100%;
    height: auto;
}

.content-lists {
    float: left;
    width: 100%;
    padding: 5px 0px;
    border-top: 1px solid #e9e9e9;
    position: relative;
    padding-left: 30px;
    font-weight: normal;
    font-family: 'latoregular';
}

.content-lists .list-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 21px;
    color: #15b0e2;
}

.content-lists:hover {
    background-color: #f5f5f5;
}

.inner-panel .panel-heading:hover {
    background-color: #f5f5f5;
}

.plain-link:active, .plain-link:focus {
    text-decoration: none;
    outline: none;
}

.page_header_tab {
    padding-bottom: 0px;
}

.video-panel img {
    width: 100%;
    height: auto;
}

.video-panel {
    position: relative;
}

.video-panel .video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.video-overlay i {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -32px;
    z-index: 100;
    color: #fff;
    font-size: 65px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}


.modal-content-header {
    margin-top: 5px;
}


.test-confirm-modal {
    position: relative;
    padding-left: 120px;
}

.test-confirm-modal img {
    position: absolute;
    width: 100px;
    height: auto;
    left: 0;
    top: 0;
}

.btn-round {
    border-radius: 0px;
    overflow: hidden;
    padding: 3px 12px;
}

.select-class {
    width: 100%;
    background-color: #15e267;
    padding: 20px 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #f7f7f7;
    border-color: #adadad;
}

@media screen and (max-width:1400px) {
    .countdown.styled div {
        font-size: 25px;
    }

    countdown.styled {
        margin-top: 15px;
    }
}

@media screen and (max-width:1330px) {
    .badge-counters .btn:nth-child(2) {
        margin-top: 5px;
    }
}

.package-top-box {
    background-color: #1fc3ff;
    position: relative;
    min-height: 210px;
    width: 100%;
}

.owl-item:nth-child(even) .package-top-box {
    background-color: #008dc1;
}

.owl-item:nth-child(even) .package-bottom-box {
    border-bottom: 1px solid #008dc1;
}


/* 0084b5 */


.package-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.package-name h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'latoregular';
    padding: 0px 15px;
    text-transform: capitalize;
}

.package-price {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
}

.package-price .price {
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-family: 'latoregular';
    font-weight: 600;
    display: block;
}

.package-price .validity {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'latoregular';
    display: block;
}

.package-bottom-box {
    border-right: 1px solid #e9ecf2;
    border-left: 1px solid #e9ecf2;
    border-bottom: 1px solid #15abe2;
    background-color: #f7f7f7;
}
/*.score .list-group-item {
padding: 0px;
}*/
.package-bottom-box .list-group-item {
    background-color: transparent;
    text-align: center !important;
}

.package-bottom-box .list-group-item:hover {
    background-color: #fff;
}

.buy-btn {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}


.package-bottom-box .list-group .list-group-item {
    border: 1px solid #e8e8e8;
}


.package-info .info-logo-content {
    border: 1px solid #ddd;
}

.package-info {
    padding: 0px 15px;
}

.package-info .info-logo-content ul li i {
    font-size: 33px;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.check-box {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}

.check-box span {
    position: absolute;
    left: 0;
    top: 3px;
}

.check-box i {
    text-decoration: none;
    color: #404040;
    font-size: 13px;
    font-family: 'latoregular';
    font-style: normal;
}


.price-box {
    color: #14b0e1;
    background-color: #f7f7f7;
    font-size: 33px;
    /* border-top: 1px solid #e9e9e9; */
    font-family: 'latoregular';
    /* border-bottom: 1px solid #e9e9e9; */
    /* line-height: 20px; */
    padding-left: 10px;
    border: 1px solid #e8e8e8;
}

.price-box span {
    font-size: 22px;
    color: #565658;
}

.input-box .input-group {
    width: 100%;
}

.chapter-limit {
    color: #14b0e1;
    font-size: 18px;
}


.table {
    margin-bottom: 15px;
}


.finish-test {
    text-align: right;
    margin-top: 15px;
    background-color: #dcdcdc;
}

.finish-test .btn {
    width: 100%;
}

.correct-answer {
    border-bottom: 1px solid #65ea7c !important;
}

.correct-answer label {
    color: #fff !important;
}

.correct-answer .answer-check {
    color: #65ea7c !important;
    font-size: 22px !important;
}

.image-zoom-container {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    background-color: #fff;
}



.questions-cont .list-group-item {
    padding-left: 50px;
}

.pswp__button--share {
    display: none !important;
}

.qsn-img-cont {
    margin-bottom: 15px;
}

.test-result .answer-check {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: 600 !important;
    color: #ff3333;
}

.test-result .list-group-item {
    padding-left: 35px;
}

.cus-list .correct-answer {
    border-left: 5px solid #65ea7c !important;
}

.countdown-timer .left .size_lg {
    border-width: 0 !important;
}

.student-s-test {
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.sheduletest-box:last-child .s-test {
    border-bottom: 0;
    padding-bottom: 0;
}
/*.student-s-test:last-child {
    border-bottom: 0px solid #e9e9e9;
    padding-bottom: 0px;
}*

/*debasis Behera 12/12/2016*/

.croppie-container .cr-boundary {
    position: relative;
    overflow: visible;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.croppie-container .cr-boundary {
    position: relative;
    overflow: visible !important;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.div-buttom-margin {
    margin-bottom: 15px;
}
/*.header-style {
    border-bottom: 1px solid #e9e9e9 !important;
}*/
.pannel-padding {
    padding: 0px !important;
}

.pannel-border {
    border: none !important;
}

.cart-summery {
    width: 100%;
    float: left;
    padding: 5px 15px 0 15px;
}

.price-color {
    color: #15b0e2 !important;
}

.small-bolt {
    font-family: 'latoregular';
}

.right-td {
    font-family: 'latoregular';
}

.cart-summery p {
    padding: 7px 0px;
    display: block;
    border-bottom: 1px solid #e9e9e9;
    font-size: 16px;
    font-family: 'latoregular';
    margin-bottom: 0px;
}

.cart-summery span {
    font-size: 18px;
    font-family: 'latoregular';
    float: right;
}

.grand-total {
    width: 100%;
    float: left;
    margin-top: 28px;
    padding: 11px 15px;
    background: #ffffff;
}

.grand-total p {
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'latoregular';
    color: #15b0e2;
    padding: 10px 0px;
}

.grand-total span {
    font-size: 24px;
    font-family: 'latoregular';
    color: #15b0e2;
    float: right;
    line-height: 22px;
}

package-info .td-width-one {
    width: 30%;
}

.td-width-two {
    width: 70%;
}

.btn-buttom {
    margin-bottom: 15px;
}

.btn-div {
    text-align: right;
    padding: 0px 15px;
}

.no-right .btn-div {
    padding: 0px 0px;
}

.price-checkout {
    font-size: 14px;
    font-family: 'latoregular';
    color: #53c22c;
    float: right;
}

.form-div {
    padding: 15px;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.btn-width {
    width: 100%;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 0px;
    font-size: 17.5px;
    border-left: 5px solid #2ECC71;
}

.sucess-message {
    color: #2ECC71;
    font-family: 'latoregular';
    font-size: 24px;
}

blockquote p {
    font-family: 'latoregular';
}

.full-page {
    margin-left: 0px;
}

.checkout-page .menu-bar-mobile, .checkout-page .menu-bar, .checkout-page .navbar-left, .checkout-page .logo-holder, .checkout-page .hide-sec, .checkout-page .main-text {
    display: none;
}

.full-logo {
    display: none;
    float: left;
    margin: 15px;
}

.checkout-page .full-logo {
    display: block;
}

.place-div {
    text-align: center;
    width: 100%;
    float: left;
}

.btn-width {
    width: 225px;
    font-size: 18px;
    font-family: 'latoregular';
}

.btn-width2 {
    margin: 15px auto;
    float: none;
    display: block;
}

.head-text {
    font-size: 27px;
    color: #75757d;
    font-family: 'latoregular';
    line-height: 23px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #08a3d6;
    border: 1px solid transparent;
    color: #ffffff;
}

.g-margin {
    margin-bottom: 8px;
}

.view-details-btn {
    float: right;
    margin-top: 27px;
}

.padding-btn {
    padding: 0px;
}

.btn-blue {
    background: #2196f3;
    color: #ffffff;
}

.btn-blue:hover {
    background: #1b86da;
    color: #ffffff;
}

.div-text {
    text-align: center;
}

.mail_widget .mail_list .mails_holder li a .right .name {
    font-size: 14px;
    color: #2196F3;
    display: block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
}

.btn-no-right .btn {
    margin-top: 10px;
}

.mail_widget .mail_list {
    position: relative;
    max-height: 372px;
    background: #FFFFFF;
    overflow-y: scroll;
    padding-top: 0px;
}

.mail_widget .mail_list .mails_holder li a .message_list_block {
    position: relative;
    padding: 15px;
}

.padding-top {
    padding-top: 0px;
}

.upload-image-div {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.upload-image-div img {
    width: 100%;
}

.sub-margin {
    margin-top: 91px;
    margin-bottom: 0px;
}

.mails_holder blockquote {
    border-left: 5px solid #000;
}

.mail_widget .mail_list .mails_holder li a {
    display: inline-block;
    width: 100%;
    border: 1px solid #e9ecf2;
    text-decoration: none;
    padding: 10px 0px 0px;
    background: #FFFFFF;
    border-left: 3px solid #2196f3;
    margin: 10px 0 0 0;
}

.doubt-wedget .mail_list .mails_holder li a {
    display: inline-block;
    width: 100%;
    border: 1px solid #e9ecf2;
    text-decoration: none;
    padding: 10px 0px 0px;
    background: #FFFFFF;
    border-left: 3px solid #2196f3;
    margin: 10px 0 0 0;
}

.que-number {
    font-family: 'latoregular';
    font-size: 20px;
}

.badge-acrive {
    background: #6fd64b;
    padding: 5px 7px;
}

.question-section {
    font-family: 'latoregular';
    color: #15b0e2;
    font-size: 14px;
}

.list-color p {
    color: #333333;
}

.pagination-div {
    text-align: center;
}

.pagination-div .pagination {
    margin: 0px;
}

.messages {
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    list-style: none;
}

.messages > li {
    margin-bottom: 15px;
}

.messages > li > img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.messages.messages-stripped > li:nth-child(odd) > div, .messages.messages-chatty > li.right > div {
    background-color: #eef1f4;
}

.messages > li > div {
    background-color: #f7f8f9;
    padding: 10px;
    padding-top: 1px;
    margin-left: 80px;
    position: relative;
}

.messages > li > div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 19px;
    border-right: 10px solid #f7f8f9;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.messages.messages-stripped > li:nth-child(odd) > div:before {
    border-right-color: #eef1f4;
}

.messages > li > div h5 {
    font-weight: bold;
    display: inline-block;
    margin-top: 0px;
}

.messages > li > div .time {
    margin-top: 5px;
    color: #999;
    float: right;
}

.messages.messages-zigzag > li:nth-child(even) > img, .messages.messages-chatty > li.right > img {
    float: right;
}

.messages.messages-zigzag > li:nth-child(even) > div, .messages.messages-chatty > li.right > div {
    margin-right: 80px;
    margin-left: 0;
}

.messages.messages-zigzag > li:nth-child(even) > div:before, .messages.messages-chatty > li.right > div:before {
    right: -10px;
    left: auto;
    border-left: 10px solid #f7f8f9;
    border-right: 0;
}

.messages.messages-zigzag > li:nth-child(even) > div .time, .messages.messages-zigzag > li.right > div .time {
    float: none;
    margin-top: 7px;
    display: inline-block;
}

.messages.messages-zigzag > li:nth-child(even) > div h5, .messages.messages-zigzag > li.right > div h5 {
    float: right;
}

.btn-no-right {
    padding-right: 0px;
}

.que-image-detail {
    padding-left: 70px;
    margin-top: 10px;
}

.image-container {
    width: 300px;
    position: relative;
    overflow: hidden;
    height: 120px;
}

.image-container img {
    width: auto;
}

.large-link {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 9999999;
    -webkit-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    outline: none;
}

.list-color-2 p {
    font-family: 'latoregular';
    font-size: 14px;
}

.picture {
    display: inline-block;
}

.bgn-color {
    background: #f7941d;
    color: #ffffff;
    margin-bottom: 5px;
}

.x-margin {
    margin-buttom: 20px;
}

.ios-profile-widget .header_cover .more {
    font-size: 25px;
    padding-right: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
}

.ios-profile-widget .header_cover img {
    width: 140px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    clear: both;
}

.icon-popup-file {
    position: absolute;
    width: 27px;
    height: 26px;
    opacity: 0;
    top: 0;
    cursor: pointer;
}

.border-top {
    border-top: none !important;
}

.p-progress-bar {
    margin: 15px;
}

.broder-bottom {
    border-bottom: 1px solid #e9ecf2 !important;
}

.bage-color {
    background-color: #df6c6e !important;
}

.chapter-sec {
    display: inline-block;
    font-size: 13px;
    padding-top: 5px;
    color: #757575;
    margin-right: 10px;
}

.thumb-border {
    border: 1px solid #ececec;
}

.post .post-thumb {
    position: relative;
    height: 190px;
    overflow: hidden;
}

.post .post-thumb img {
    width: 100%;
    height: 100%;
}

.hover-posts {
    visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 5;
    top: 0;
    text-align: center;
    transform: scale(0);
    transition: 0.4s all linear;
}

.post .post-thumb .video-stats {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    padding: 0 10px;
    transition: 0.4s all linear;
}

.post-thumb .video-stats .thumb-stats:first-of-type {
    margin-right: 5px;
    padding: 0 6px;
}

.post .post-thumb .video-stats .thumb-stats {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 8px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.hover-posts .hover-value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
}

.hover-posts .hover-value span {
    display: inline-block;
    color: #ffffff;
    margin: 0px 10px;
}

.hover-posts .hover-value a:hover {
    text-decoration: none;
}

.content .list-group .item .post .post-thumb .hover-posts span i {
    font-size: 18px !important;
}

.hover-posts span i {
    color: #fff;
    font-size: 36px;
    display: block;
    margin-bottom: 5px;
}

.post .post-thumb .video-stats .thumb-stats h6 {
    color: #fff;
    font-weight: 800;
    margin: 0;
    line-height: 28px;
    font-style: italic;
}

.post .post-thumb .video-stats .thumb-stats i {
    display: inline-block;
    color: #fff;
    margin-right: 5px;
    font-size: 14px;
}

.post .post-thumb .video-stats .thumb-stats span {
    color: #fff;
    font-size: 11px;
    display: inline-block;
    line-height: 29px;
}

.post:hover .hover-posts {
    visibility: visible;
    transform: scale(1);
}

.post:hover .video-stats {
    transform: translateY(70px);
}

.post .post-des h6 {
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 13px;
    margin-top: 0px;
}

.post .post-des h6 a {
    font-family: 'latoregular';
    color: #333333;
    font-size: 16px;
}

.post .post-des h6 a:hover {
    text-decoration: none;
}

.post-des .post-stats {
    margin-right: 15px;
}

.content .post .post-des .post-stats p {
    font-family: 'latoregular';
    margin-right: 14px;
    margin-bottom: 0;
    line-height: 11px;
}

.post .post-des .post-stats p i {
    color: #aaaaaa;
    font-size: 14px;
    display: inline-block;
}

.post .post-des .post-stats p span {
    font-family: 'latoregular';
    display: inline-block;
    font-size: 14px;
    color: #aaaaaa;
}

.content .post .post-des .post-stats p span a {
    font-size: 15px;
    color: #aaaaaa;
}

.content .post .post-des {
    padding: 15px 0 15px 10px;
}

.col-border {
    border-left: 1px solid #e9e9e9;
}

.user-des {
    width: 100%;
    float: left;
    min-height: 192px;
}

.welcome-text {
    font-family: 'latoregular';
    color: #333333;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e7e7;
}

.user-des p {
    font-family: 'latoregular';
    color: #333333;
    font-size: 22px;
    margin-top: 8px;
}

.inside-box {
    width: 100%;
    float: left;
}

.inside-box-margin {
    margin-top: 15px;
}

.inside-box .right-p {
    padding-left: 85px;
}

.inside-box span {
    width: 60px;
    height: 60px;
    border: 1px solid #e8e7e7;
    float: left;
    text-align: center;
    color: #000000;
}

.inside-box span i {
    font-size: 40px;
    color: #2196f3;
    line-height: 58px;
}

.inside-box h3 {
    font-family: 'latoregular';
    color: #333333;
    font-size: 20px;
    line-height: 16px;
    margin: 0px 0 10px;
}

.inside-box p {
    font-family: 'latoregular';
    color: #757575;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0px;
}

.how-much {
    font-size: 18px;
    color: #656565;
}

.post-new {
    margin-top: 15px;
}

.box-box:nth-child(1) .post-new, .box-box:nth-child(2) .post-new {
    margin-top: 0px;
}

.vjs-poster {
    background-size: cover;
}

.vjs-default-skin .vjs-big-play-button {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    display: block;
    z-index: 2;
    position: absolute;
    width: 4em;
    height: 2.6em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
    background-color: #07141e;
    background-color: rgba(7,20,30,.7);
    border: .1em solid #3b4249;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    border-radius: .8em;
    -webkit-box-shadow: 0 0 1em rgba(255,255,255,.25);
    -moz-box-shadow: 0 0 1em rgba(255,255,255,.25);
    box-shadow: 0 0 1em rgba(255,255,255,.25);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.post-thumb:hover .vjs-default-skin .vjs-big-play-button {
    display: none;
}

.study-material-div h3 {
    color: #333333 !important;
    padding-left: 22px;
}

.study-material-div h3:before {
    content: '\f1c1';
    position: absolute;
    left: 10px;
    font-family: 'FontAwesome';
    color: #2196F3;
}

.full-video-section {
    width: 100%;
    height: 100%;
    float: left;
}

.video-border {
    border: 1px solid #e8e8e8;
}

.video-js .vjs-tech {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.light_box_container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(37, 37, 37, 0.8);
    z-index: 999999999;
    display: none;
}

.light_box_inner {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #FFF;
    position: absolute;
    box-shadow: 0px 3px 15px #111111;
}

.light_box_content {
    margin: 0;
    background-color: #FFF;
}

.light_box_content_inner {
    margin: 10px;
}

.close_btn {
    font-size: 18px;
    color: #FFF;
    position: absolute;
    z-index: 10;
    right: -30px;
    top: -26px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    line-height: 27px;
    display: block;
    font-family: 'ralewaylight';
    background-color: #2196F3;
    cursor: pointer;
    box-shadow: 0px 3px 15px #111111;
    transition: all 0.5s ease-in-out 0s;
}

.detail-modulevideo-name {
    font-family: 'latoregular';
    color: #333333;
    font-size: 25px;
    line-height: 18px;
    margin: 20px 0;
}

.summary-sec {
    width: 100%;
    float: left;
}

.summary-sec h4 {
    font-family: 'latoregular';
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 0px;
    padding: 0px 0px 10px;
    color: #27b4ec;
    position: relative;
}

.summary-sec h4:before {
    content: '';
    position: absolute;
    width: 74px;
    height: 3px;
    bottom: 0px;
    background: #30b7ec;
}

.summary-sec p {
    font-family: 'latoregular';
    font-size: 14px;
    line-height: 22px;
}

.summary-sec p:last-child {
    margin-bottom: 0px;
}

.related-thumb-conteiner {
    width: 100%;
    float: left;
}

.related-thumb {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.related-thumb-conteiner:nth-child(1) .related-thumb {
    margin-top: 0px;
}

.related-thumb video {
    float: left;
    border: 1px solid #ddd;
}

.rel-right {
    padding-left: 113px;
    margin-top: 8px;
}

.related-thumb p {
    font-family: 'latoregular';
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}

.related-thumb span {
    font-family: 'latoregular';
    font-size: 13px;
    color: #9c9c9c;
}

.leader-beard-container {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
}

.profile-pic-new {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
}

.pr-rank {
    padding-left: 60px;
}

.pr-rank h3 {
    font-family: 'latoregular';
    font-size: 17px;
    margin: 5px 0 5px;
}

.pr-rank p {
    margin-bottom: 0px;
    font-size: 14px;
}

.leader-beard-container .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px 12px;
    line-height: 2.42857143;
    vertical-align: top;
    border-top: 1px solid #e9ecf2;
    color: #5b5b5d;
    font-weight: 400;
    text-transform: capitalize;
}

.table-top {
    margin-top: 10px;
}

.leader-personal {
    margin-top: 15px;
}

.leader-beard-container:first-child .leader-personal {
    margin-top: 0px;
}

.navigation-center {
    text-align: center;
}

.navigation-center .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0;
    border-radius: 4px;
}

.exdetails {
    background: #2196f3;
}

.exdetails:hover {
    color: #fff;
}

@media screen and (max-width: 480px) {
    .btn-div {
        text-align: center;
    }

    .restop10 {
        margin-top: 10px;
    }

    .res-col-btn .btn-icon-block.btn-icon-blockleft {
        padding: 0px 6px 0px 0px;
    }

    .responsive-response {
        width: 244px;
    }
}
/*debasis Behera 12/12/2016*/

/*//sonali*/
label.error {
    color: #de5c5c;
    font-family: 'latoregular';
    font-size: 13px;
}

.asterisk {
    color: #de5c5c;
}


.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}

.upload-demo.ready .upload-demo-wrap {
    display: block;
}

.upload-demo.ready .upload-result {
    display: inline-block;
}

.upload-demo-wrap {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
}

.upload-demo .grid {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}

.upload-demo .grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.badge-green {
    background: #53c22c !important;
    padding: 5px 7px;
}

.ful-hi-wi {
    width: 100%;
    float: left;
    background: url(../../images/background.jpg);
    padding: 0 15px 0 15px;
    margin: 0 0 15px 0;
}

.ful-hi-wi h2 {
    font-size: 20px;
    font-family: 'latoregular';
    color: #000;
    margin-bottom: 30px;
}

.foraddbtn {
    width: 100%;
    float: left;
}

.addbtn {
    width: 200px;
    font-family: 'latoregular';
    color: #fff;
    margin: 30px 70px;
}

.row-right-margin {
    margin-right: 0px;
}

.responsive-navigator {
    float: right;
}

.responsive-response {
    float: left;
}
/*Debasis 29-3-2017 start*/
.welcome-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.65);
    z-index: 99999999999;
    display: none;
}

.welcome-popup {
    width: 400px;
    margin: 110px auto 0;
    background: #ffffff;
    position: relative;
}

.close-popup {
    width: 16px;
    height: 24px;
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 100;
}

.close-popup i {
    font-size: 15px;
    color: #ffffff;
    line-height: 24px;
    cursor: pointer;
}

.welcome-text {
    font-family: 'latoregular';
    width: 100%;
    float: left;
    background: #08a3d6;
    padding: 23px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    position: relative;
}

.welcome-text:before {
    display: block;
    content: " ";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #08a3d6;
}

.welcome-container {
    padding: 30px 15px;
    text-align: center;
}

.welcome-profile-image {
    width: 100px;
    height: 120px;
    /*background: #000;*/
    margin-bottom: 7px;
}

.welcome-container h3 {
    margin: 0px;
    line-height: 22px;
    font-size: 19px;
    color: #75757d;
    font-family: 'latoregular';
}

.welcome-container h3 i {
    font-style: normal !important;
}

.welcome-container p {
    line-height: 31px;
    font-size: 22px;
    color: #75757d;
    font-family: 'latoregular';
    margin-top: 10px;
}

.take-a-tour {
    padding: 8px 10px;
    background: #08a3d6;
    color: #ffffff;
    width: 175px;
    margin: 0 auto;
    display: block;
}

.take-a-tour:hover {
    text-decoration: none;
    color: #ffffff;
}

.welcome-back-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    background: rgba(0,0,0,.65);
    z-index: 99999999999;
    display: none;
}

.notest {
    font-size: 14px;
}

#circleG {
    width: 45px;
    padding-top: 9px;
    display: inline-block;
}

.circleG {
    background-color: rgb(255,255,255);
    float: left;
    height: 10px;
    margin-left: 5px;
    width: 10px;
    animation-name: bounce_circleG;
    -o-animation-name: bounce_circleG;
    -ms-animation-name: bounce_circleG;
    -webkit-animation-name: bounce_circleG;
    -moz-animation-name: bounce_circleG;
    animation-duration: 2.24s;
    -o-animation-duration: 2.24s;
    -ms-animation-duration: 2.24s;
    -webkit-animation-duration: 2.24s;
    -moz-animation-duration: 2.24s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

#circleG_1 {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#circleG_2 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#circleG_3 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    110 -webkit-animation-delay:1.35s;
    -moz-animation-delay: 1.35s;
}

.new-package {
    color: #5c5c5e;
    background-color: #f7f7f7;
    border-color: transparent;
    /* box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1); */
    border-radius: 0;
    width: 100%;
}

.padding-r-5 {
    padding-right: 5px;
}

.new-package h3 {
    color: #5d9bfb;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'latoregular';
}

.resultbtn:hover {
    border-color: #53c22c;
}

.resultbtn {
    padding: 5px 12px 5px 0px !important;
    border-color: transparent !important;
}

@keyframes bounce_circleG {
    0% {
    }

    50% {
        background-color: rgb(6, 77, 134);
    }

    100% {
    }
}

@-o-keyframes bounce_circleG {
    0% {
    }

    50% {
        background-color: rgb(6, 77, 134);
    }

    100% {
    }
}

@-ms-keyframes bounce_circleG {
    0% {
    }

    50% {
        background-color: rgb(6, 77, 134);
    }

    100% {
    }
}

@-webkit-keyframes bounce_circleG {
    0% {
    }

    50% {
        background-color: rgb(6, 77, 134);
    }

    100% {
    }
}

@-moz-keyframes bounce_circleG {
    0% {
    }

    50% {
        background-color: rgb(6, 77, 134);
    }

    100% {
    }
}

.loader-container {
    position: absolute;
    width: 655px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-container span {
    float: none;
    font-size: 19px;
    display: inline-block;
    color: #fff;
    line-height: 20px;
    font-family: 'latoregular';
    font-weight: normal;
}

.loader-container p {
    font-family: 'latoregular';
    display: block;
    text-align: center;
    font-size: 34px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 8px;
}
/*Debasis 29-3-2017 end*/
/************dropdown shadow below desktop and mobile screen fix***************/
@media (min-width: 991px) {
    .badge-counters .btn:nth-child(2) {
        margin-top: 0;
    }
}

@media (max-width: 991px) {

    .ask_dbt .upload-demo-wrap {
        width: 100% !important;
    }

    .modal-dialog {
        position: relative;
        width: 100%;
        margin: 10px;
    }

    .questions-cont .nopad-right {
        padding-right: 15px;
    }

    .package-price .price {
        color: #fff;
        text-align: center;
        font-size: 28px;
        font-family: 'latoregular';
        font-weight: 600;
        display: block;
    }

    .p-preview .nopad-right {
        padding-right: 15px;
    }

    .s-margin {
        margin-top: 15px;
    }

    .inside-box h3 {
        font-family: 'latoregular';
        color: #333333;
        font-size: 17px;
        line-height: 25px;
        margin: 0px 0 10px;
    }

    .badge-counters {
        width: 100%;
        display: block;
    }
}

@media (max-width: 767px) {
    .new-badge {
        width: 100%;
    }

    .nopad-right {
        padding-right: 15px;
    }

    .top-bar .navbar-nav {
        text-align: center;
        position: relative;
        display: table;
        width: 100%;
        background-color: #FFFFFF;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}
/*********dropdowns in mobile ************/
@media screen and (max-width: 885px) {
    .responsive-navigator {
        width: 157px;
        text-align: center;
        float: none;
        margin: 10px auto;
    }

    .responsive-response {
        width: 253px;
        text-align: center;
        float: none;
        margin: 10px auto;
    }
    /*    .responsive-navigator .pull-right {
            float: none !important;
        }*/
}

@media (max-width: 850px) {
    .grand-total span {
        font-size: 18px;
        font-family: 'latoregular';
        color: #15b0e2;
        float: right;
        line-height: 22px;
    }

    .grand-total p {
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
        margin-bottom: 0px;
        font-size: 16px;
        font-family: 'latoregular';
        color: #15b0e2;
        padding: 10px 0px;
    }

    .nav.navbar-nav.navbar-right.top-elements {
        text-align: center !important;
    }

    .nav.navbar-nav.navbar-right.top-elements > li {
        text-align: center !important;
        display: inline-block;
        float: none !important;
    }

    .nav.navbar-nav.navbar-right.top-elements > li.chat_btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (max-width: 767px) {
    .rel-right {
        padding-left: 113px;
        margin-top: 0px;
    }

    .light_box_inner {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        background-color: #FFF;
        position: absolute;
        box-shadow: 0px 3px 15px #111111;
    }

    .box-box:nth-child(2) .post-new {
        margin-top: 15px;
    }

    .top-bar .search {
        margin-top: 15px;
        font-weight: 300;
        /*	width: 120px !important;*/
        padding-left: 0px !important;
        margin-left: 0px;
    }

    .dropdown,
    .piluku-dropdown {
        position: static !important;
    }

    .top-bar .top-elements .dropdown .dropdown-menu {
        left: 0 !important;
    }

    .dropdown-menu,
    .dropdown-piluku-menu {
        width: 100% !important;
        position: absolute !important;
        background-color: #ffffff !important;
    }

    .dropdown-menu:after,
    .dropdown-piluku-menu:after {
        display: none;
    }

    .nav.navbar-nav.navbar-right.top-elements > li.chat_btn {
        display: none !important;
    }
}

@media (max-width: 680px) {
    .ful-hi-wi img {
        width: 80%;
    }

    .nav.navbar-nav.navbar-right.top-elements > li > a {
        font-size: 12px;
        padding: 0 9px;
    }

    .nav.navbar-nav.navbar-right.top-elements > li.chat_btn {
        display: none !important;
    }

    .top-bar .avatar_width .avatar_info {
        width: 96px;
        width: 59px;
    }
}
/************media queries**********/
.menu-bar-mobile {
    display: none;
    text-decoration: none;
}
/******topnav  view sidebar********/
@media only screen and (max-width: 700px) {
    .top-bar .navbar-nav > li a {
        min-width: 0;
        font-size: 14px;
        line-height: 50px !important;
    }

    .nav.navbar-nav.navbar-right.top-elements {
        text-align: center !important;
        border-top: 1px solid #f3eeee;
    }

    .top-bar .search {
        margin: 10px auto;
        /* text-align: right; */
        float: right;
        margin-right: 15px !important;
    }

    .top-bar .navbar-nav {
        margin: 0;
        height: 50px !important;
    }

    .content {
        z-index: 99999 !important;
        border-left: 1px solid #d7dce5;
        margin-left: 0;
    }

    .content .overlay.show {
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        background-color: #000000;
        z-index: 999999999;
        opacity: 0.5;
    }

    .left-bar,
    .side-bar {
        position: fixed !important;
        height: 100%;
        width: 266px;
        background-color: #ffffff;
        display: block;
        float: left;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 200ms ease-out;
        /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
        -moz-transition: all 200ms ease-out;
        /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
        transition: all 200ms ease-out;
        /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        overflow-y: auto;
        margin-left: -266px;
        z-index: 99999999999;
        overflow-x: hidden !important;
    }

    .left-bar .menu-bar,
    .side-bar .menu-bar {
        display: none !important;
    }

    .left-bar .logo-holder,
    .side-bar .logo-holder {
        float: none !important;
        text-align: center !important;
        margin: 0 auto;
    }

    .left-bar.menu_appear,
    .side-bar.menu_appear {
        margin-left: 0;
    }

    .left-bar.menu_appear.right-bar-menu,
    .side-bar.menu_appear.right-bar-menu {
        margin-right: 0;
    }

    .menu-bar-mobile {
        display: block;
        text-decoration: none !important;
        z-index: 999999999;
        position: absolute;
        padding-top: 15px;
        font-size: 20px;
        width: 60px;
        height: 55px;
        left: 0;
        top: 0;
        text-align: center;
    }

    .right-bar-menu {
        margin-right: -266px;
    }

    .right-bar-menu.menu_appear {
        margin-left: 0;
    }

    .content.right-menu-enabled {
        margin-right: 0;
    }

    .loader-container {
        width: 250px;
    }

    .loader-container p {
        font-size: 12px;
    }
}
/*********collapse to minibar function onclick**********/
@media only screen and (min-width: 700px) and (max-width: 6000px) {
    .wrapper.mini-bar .left-bar {
        width: 90px;
        overflow: visible !important;
        z-index: 999999999;
        position: absolute;
        /*mini-bar dropdown fix for rightmenu*/
    }

    .wrapper.mini-bar .left-bar .admin-logo {
        width: 90px !important;
    }

    .wrapper.mini-bar .left-bar .panel-group .panel + .panel {
        margin-top: 0 !important;
    }

    .wrapper.mini-bar .left-bar.right-bar-menu .menu-parent .icon,
    .wrapper.mini-bar .left-bar .side-bar.right-bar-menu .menu-parent .icon {
        float: none;
        position: relative;
        top: 0;
    }

    .wrapper.mini-bar .left-bar .menu-parent li:before {
        display: none !important;
    }

    .wrapper.mini-bar .left-bar .menu-parent li:after {
        display: none;
    }

    .wrapper.mini-bar .left-bar .menu-parent li span.text {
        display: none;
    }

    .wrapper.mini-bar .left-bar li {
        padding: 0;
        padding-bottom: 0 !important;
        text-align: center !important;
        position: relative;
    }

    .wrapper.mini-bar .left-bar li a {
        line-height: 36px !important;
        font-size: 13px !important;
        text-align: center;
    }

    .wrapper.mini-bar .left-bar li a i {
        padding: 0;
        display: inline-block;
        margin-top: 15px;
    }

    .wrapper.mini-bar .left-bar li a i.chevron {
        color: #707780;
        display: none !important;
        position: absolute;
    }

    .wrapper.mini-bar .left-bar li ul {
        position: absolute;
        left: 100%;
        background-color: #FFFFFF;
        min-width: 200px;
        top: -1px;
        border: 1px solid #d7dce5 !important;
        margin-left: 1px;
        padding: 0;
    }

    .wrapper.mini-bar .left-bar li ul li {
        line-height: 30px;
    }

    .wrapper.mini-bar .left-bar li ul .drop-arrow i.chevron {
        display: block !important;
        margin-top: 2px;
    }

    .wrapper.mini-bar .left-bar.right-bar-menu li ul {
        left: auto !important;
        right: 100% !important;
        background-color: #FFFFFF;
        min-width: 200px;
        top: -1px;
        border: 1px solid #d7dce5 !important;
        margin-left: 1px;
        padding: 0;
    }

    .wrapper.mini-bar .left-bar.right-bar-menu li ul li {
        line-height: 30px;
    }

    .wrapper.mini-bar .left-bar.right-bar-menu li ul .drop-arrow i.chevron {
        display: block !important;
        margin-top: 2px;
    }

    .wrapper.mini-bar .left-bar.right-bar-menu li ul .drop-indicator.chevron {
        margin-left: 10px !important;
    }

    .wrapper.mini-bar .left-bar .admin-logo .logo-holder {
        display: none;
    }

    .wrapper.mini-bar .left-bar .admin-logo a.menu-bar {
        width: 90px;
    }

    .wrapper.mini-bar .content {
        margin-left: 90px;
    }

    .wrapper.mini-bar .content.right-menu-enabled {
        margin-left: 0;
        margin-right: 90px;
    }

    .wrapper.right-bar-enabled .right-bar {
        right: 0;
        z-index: 99;
    }

    .wrapper.right-bar-enabled .left-layout {
        left: 0;
        z-index: 99;
    }

    .wrapper.hide-left-bar .left-bar {
        display: none;
    }

    .wrapper.hide-left-bar .content {
        margin-left: 0px;
    }

    .wrapper.hide-left-bar .navbar-brand {
        background: #2196f3;
        height: 70px;
        width: 120px;
        line-height: 70px;
        padding: 0;
        padding-left: 20px;
        font-size: 30px;
        color: #FFFFFF;
    }

    .wrapper.hide-left-bar .navbar-brand img {
        width: 100%;
    }
}
/************autocollapse to mini bar function************/

@media only screen and (min-width: 700px) and (max-width: 1200px) {

    .left-bar {
        width: 90px;
        overflow: visible !important;
        z-index: 999999999;
        position: absolute;
        /*mini-bar dropdown fix for rightmenu*/
    }

    .left-bar .admin-logo {
        width: 90px;
    }

    .left-bar .panel-group .panel + .panel {
        margin-top: 0 !important;
    }

    .left-bar .menu-parent > li ul > li,
    .left-bar .side-bar .menu-parent > li ul > li {
        padding-left: 0;
    }

    .left-bar .menu-parent > li ul > li li,
    .left-bar .side-bar .menu-parent > li ul > li li {
        padding-left: 0;
    }

    .left-bar.right-bar-menu .menu-parent .icon,
    .left-bar .side-bar.right-bar-menu .menu-parent .icon {
        float: none;
        position: relative;
        top: 0;
    }

    .left-bar .menu-parent li:before {
        display: none !important;
    }

    .left-bar .menu-parent li:after {
        display: none;
    }

    .left-bar .menu-parent li span.text {
        display: none;
    }

    .left-bar li {
        padding: 0;
        padding-bottom: 0 !important;
        text-align: center !important;
        position: relative;
    }

    .left-bar li a {
        line-height: 36px !important;
        font-size: 13px !important;
        text-align: center;
    }

    .left-bar li a i {
        padding: 0 !important;
        display: inline-block;
        margin-top: 15px;
    }

    .left-bar li a i.chevron {
        color: #707780;
        display: none !important;
        position: absolute;
    }

    .left-bar li ul {
        position: absolute;
        left: 100%;
        background-color: #FFFFFF;
        min-width: 200px;
        top: -1px;
        border: 1px solid #d7dce5 !important;
        margin-left: 1px;
        padding: 0;
        padding-left: 0 !important;
    }

    .left-bar li ul li {
        line-height: 30px;
    }

    .left-bar li ul .drop-arrow i.chevron {
        display: block !important;
        margin-top: 2px;
    }

    .left-bar.right-bar-menu li ul {
        left: auto !important;
        right: 100% !important;
        background-color: #FFFFFF;
        min-width: 200px;
        top: -1px;
        border: 1px solid #d7dce5 !important;
        margin-left: 1px;
        padding: 0;
    }

    .left-bar.right-bar-menu li ul li {
        line-height: 30px;
    }

    .left-bar.right-bar-menu li ul .drop-arrow i.chevron {
        display: block !important;
        margin-top: 2px;
    }

    .left-bar.right-bar-menu li ul .drop-indicator.chevron {
        margin-left: 10px !important;
    }

    .left-bar .admin-logo .logo-holder {
        display: none;
    }

    .left-bar .admin-logo a.menu-bar {
        width: 90px;
    }

    .content {
        margin-left: 90px;
    }

    .full-res {
        margin-left: 0px !important;
    }

    .content.right-menu-enabled {
        margin-right: 90px;
    }
}

body.boxed .wrapper {
    padding: 0;
}

body.boxed {
    background-color: #455982;
}

.padding-lr-0 {
    padding: 0 15px;
}

.margin-b-0 {
    margin-bottom: 0px;
}

@media only screen and (max-width: 1200px) {
    .new-badge .btn {
        width: 100%;
    }

    body.boxed .wrapper.container {
        width: 100%;
        padding: 0;
    }

    .side-bar .admin-logo a.menu-bar, a.menu-bar {
        display: none;
    }

    .left-bar .admin-logo a.menu-bar {
        display: block;
    }

    .top-bar .search {
        margin-top: 15px;
        font-weight: 300;
        /*	width: 266px;*/
        padding-left: 20px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 850px) {
    .ask_dbt .cr-viewport {
        width: 100% !important;
    }

    .owl-nav {
        display: none;
    }

    .package-name h3 {
        color: #fff;
        text-align: center;
        font-size: 22px;
        font-family: 'latoregular';
        padding: 0px 15px;
    }

    .package-price .price {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-family: 'latoregular';
        font-weight: 600;
        display: block;
    }

    .package-price .validity {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-family: 'latoregular';
        display: block;
    }

    .top-bar .search {
        margin: 10px auto;
        text-align: center;
    }

    .top-bar .search input {
        height: 30px;
    }

    .top-bar .navbar-nav {
        text-align: center;
        position: relative;
        display: table;
        /*	width: 100%;*/
        background-color: #FFFFFF;
    }

    .top-bar .navbar-nav > li {
        text-align: center;
        display: inline-block;
    }

    .top-bar .navbar-nav > li a {
        min-width: 0;
        font-size: 14px;
        line-height: 70px;
    }

    .top-bar .dropdown .avatar-holder {
        width: 20px;
    }

    .top-bar .icon-notification {
        font-size: 24px !important;
        display: inline-block;
    }

    .top-bar .info-number {
        min-width: 25px;
        min-height: 25px;
        border-radius: 50%;
        line-height: 25px;
        padding: 0;
        font-size: 11px;
        margin-left: -8px;
        margin-top: 5px;
        font-weight: 300;
        float: none;
    }

    .top-bar .info-number.message {
        background-color: #2196f3;
    }

    .top-bar .info-number.bell {
        background-color: #fb5d5d;
    }
}
/****horizontal menu collapse fix *****/
@media only screen and (min-width: 100px) and (max-width: 767px) {
    .top-collapse-nav {
        border-bottom: 1px solid #e9ecf2;
        background: red !important;
        position: relative;
        min-height: 0;
    }

    .top-collapse-nav > li {
        display: block !important;
    }

    .top-collapse-nav .dropdown-menu {
        position: relative !important;
    }

    .navbar-collapse.in {
        overflow: visible;
    }

    .size_lg {
        font-size: 24px !important;
        border-width: 0 !important;
        border-radius: 5px;
    }

    .view-details-btn {
        float: left;
    }

    .resviewbtn {
        margin: 0 auto;
        width: 94px;
        float: none;
        display: block;
    }

    .countdown-timer .right .ion {
        font-size: 40px !important;
        line-height: 112px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
    .messages > li > div .time {
        margin-top: 0;
        color: #999;
        float: left;
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .modal-dialog {
        position: relative;
        width: 100%;
        margin: 10px;
    }

    blockquote {
        padding: 10px 10px;
        margin: 0 0 0px;
        font-size: 17.5px;
        border-left: 0px solid #2ECC71;
    }

    .resbtn {
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    .resbtn a {
        padding: 0 !important;
    }

    .panel-ntspl.inner-panel > .panel-heading h3 {
        font-size: 14px;
        font-family: 'latoregular' !important;
        color: #15b0e2;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    .dashboard-stats .left {
        float: left;
        padding-top: 0 !important;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .dashboard-stats .left h3 {
        font-size: 25px;
    }

    .dashboard-stats .left h4 {
        font-size: 12px;
    }

    .dashboard-stats .right {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 35%;
        bottom: 3px;
        border-radius: 2px;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
    }

    .dashboard-stats .right i {
        vertical-align: middle;
        line-height: 101px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .resfont-18 {
        font-size: 18px !important;
        line-height: 22px;
    }
}

.left-box {
    display: inherit;
    width: 104px;
    margin-bottom: 10px;
}

.given_date.border0 {
    border-width: 0;
}

.countdown-timer .right .ion {
    font-size: 50px;
    line-height: 135px;
}

.flatOrange {
    background: #f7941d;
}

.countdown-timer .btn {
    background-color: #5d9bfb;
    border-color: #5d9bfb;
}

.border-b {
    border-bottom: 1px solid #d7dce5;
    padding-bottom: 10px;
    margin-top: 10px !important;
}

.time-table th {
    /*font-weight: bold !important;*/
    font-size: 16px;
}

.login-time {
    overflow: hidden;
    display: inline-block;
    display: table;
    width: 100%;
    padding: 10px 10px !important;
    border-bottom: 1px solid #e9ecf2;
    text-decoration: none;
    color: #707780;
}

.all-test h2 {
    font-size: 22px;
    margin-top: 0px;
    line-height: 28px;
    margin-bottom: 0;
}

.padding-left0 {
    padding-left: 0 !important;
    padding-right: 0px;
    min-height: 0px !important;
    padding-bottom: 10px;
}

.borderbottom {
    border-bottom: 1px solid #d7dce5;
    margin-top: 10px !important;
    float: left;
    width: 100%;
    padding: 0px 0px 22px 0px;
}

.bg-deepblue {
    background: #0d8aee;
}

#student-packager, .studentd-slider {
    display: block !important;
}

.no-attempt {
    margin-top: 15px;
}

.div-show {
    display: block !important;
}
