@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/************theme fonts********************/
/***********************theme colors*****************************/
/*****************theme parametres*******************/
/*sidebar-parametres*/
/****************************************************
                        Tabs
****************************************************/
.ntspl-tabs {
  border-bottom: 1px solid #e9ecf2;
}
.ntspl-tabs > li a {
  border-radius: 0px;
  background-color: #f2f4f7;
  color: #707780;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
.ntspl-tabs > li a:hover,
.ntspl-tabs > li a:focus,
.ntspl-tabs > li a:active {
  background-color: #f2f4f7;
  border: 1px solid transparent;
  color: #2196f3;
}
.ntspl-tabs > li.active a {
  border: 1px solid #e9ecf2;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  color: #707780;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
.ntspl-tabs > li.active a:hover,
.ntspl-tabs > li.active a:focus,
.ntspl-tabs > li.active a:active {
  border: 1px solid #d7dce5;
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.right-tabs li {
  float: right;
}
.ntspl-tabs.nav-justified li {
  border-bottom: 1px solid #e9ecf2;
}
.ntspl-tabs.nav-justified li a {
  border-radius: 0px;
  border-bottom: 1px solid transparent;
  color: #707780;
  margin-left: 5px;
}
.ntspl-tabs.nav-justified li a:hover,
.ntspl-tabs.nav-justified li a:focus {
  border: 1px solid transparent;
  color: #2196f3;
}
.ntspl-tabs.nav-justified li a.active {
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.nav-justified li.active {
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.nav-justified li.active a {
  color: #707780;
  border: 1px solid #e9ecf2;
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.nav-justified li.active a:hover,
.ntspl-tabs.nav-justified li.active a:focus,
.ntspl-tabs.nav-justified li.active a:active {
  border: 1px solid #d7dce5;
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.ntspl-noborder {
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.ntspl-noborder > li a {
  border-radius: 0px;
  background-color: #f2f4f7;
  border: 1px solid transparent;
}
.ntspl-tabs.ntspl-noborder > li a:hover,
.ntspl-tabs.ntspl-noborder > li a:focus,
.ntspl-tabs.ntspl-noborder > li a:active {
  background-color: #f2f4f7;
  border: 1px solid transparent;
  color: #2196f3;
}
.ntspl-tabs.ntspl-noborder > li.active a {
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #d7dce5;
  color: #707780;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
.ntspl-tabs.ntspl-noborder > li.active a:hover,
.ntspl-tabs.ntspl-noborder > li.active a:focus,
.ntspl-tabs.ntspl-noborder > li.active a:active {
  border: 1px solid transparent;
}
.ntspl-tabs.ntspl-noborder.nav-justified li {
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.ntspl-vertical-tabs {
  display: block;
  border-bottom: 1px solid transparent;
}
.ntspl-tabs.ntspl-vertical-tabs > li {
  width: 100%;
  margin-bottom: 5px;
}
.ntspl-tabs.ntspl-vertical-tabs > li.active a {
  border: 1px solid #e9ecf2;
  border-right: 1px solid transparent;
}
.ntspl-tabs.ntspl-vertical-tabs > li.active a:hover,
.ntspl-tabs.ntspl-vertical-tabs > li.active a:focus {
  border: 1px solid #d7dce5;
  border-right: 1px solid transparent;
}
.ntspl-tabs.ntspl-vertical-tabs > li.active a.active {
  border-right: 1px solid transparent;
}
.ntspl-tabs.ntspl-vertical-tabs-right > li.active a {
  border: 1px solid #e9ecf2;
  border-left: 1px solid transparent;
}
.ntspl-tabs.ntspl-vertical-tabs-right > li.active a:hover,
.ntspl-tabs.ntspl-vertical-tabs-right > li.active a:focus {
  border: 1px solid #d7dce5;
  border-left: 1px solid transparent;
}
.ntspl-tabs.ntspl-vertical-tabs-right > li.active a.active {
  border-left: 1px solid transparent;
}
.ntspl-tabs.widget-tabs {
  border-bottom: 0px;
}
.ntspl-tabs.widget-tabs > li {
  text-align: center;
}
.ntspl-tabs.widget-tabs > li a {
  background-color: #ffffff;
  margin: 0px;
}
.ntspl-tabs.widget-tabs > li a:hover {
  background-color: #ffffff;
  color: #6fd64b;
}
.ntspl-tabs.widget-tabs > li.active a {
  background-color: #ffffff;
  color: #6fd64b;
  font-weight: 300;
}
.ntspl-tabs.widget-tabs.nav-justified li {
  border-bottom: 0px;
}
.ntspl-tab-content > .tab-pane {
  color: #333;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 24px;
  padding-top: 14px;
}
.ntspl-tab-content.vertical-content > .tab-pane {
  padding-top: 0px;
}
b {
  font-weight: 400;
}
/****************************************************
                        AccordionsTabs
****************************************************/
.ntspl-accordion .panel {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #e9ecf2;
}
.ntspl-accordion .panel .panel-heading {
  background-color: #f2f4f7;
  border-radius: 0px;
}
.ntspl-accordion .panel .panel-heading .panel-title a {
  color: #707780;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
}
.ntspl-accordion .panel .panel-body {
  color: #9398a0;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 24px;
  border-top: 1px solid #e9ecf2 !important;
}
.ntspl-accordion-two .panel {
  margin-top: 0px !important;
  border-top: 1px solid transparent !important;
}
.ntspl-accordion-two .panel .panel-heading {
  background-color: transparent;
}
.ntspl-accordion-two .panel .panel-body {
  border-top: 1px solid transparent !important;
  padding-top: 0px;
}
.ntspl-accordion-two .panel:first-child {
  border-top: 1px solid #e9ecf2 !important;
}